
PBTA Template/fucked.html
PBTA Template/revision.js
PBTA Template/scratch.js
PBTA Template/translation.xlsx
PBTA Template/move template.js
PBTA Template/move template.js
PBTA Template/scratch.json
PBTA Template/playbooks.js
PBTA Template/move template.js
PBTA Template/scrap/fucked.html
PBTA Template/scrap/add-playbook-moves.js
PBTA Template/scrap/fucked.html
*.idlk
