.character

	include character-rolling.pug

	.c2-1
		.bio
			.player
				+t("Introducing")
				+text("player-name-and-pronouns").blankline
				+t("as ...")
			.names
				+lozenge("family-name","Family Name")
				.connect-line
				+die("family-name-die")
				.connect-line
				+lozenge("given-name","Given Name/Nickname")
				.connect-line
				+lozenge("pronouns","Pronouns")
			.c2
				+lozenge("concept","Concept")
				.spacer
				+lozenge("ethnicities","Ethnicities/Nation")
			.c2
				+lozenge("allegiance","Allegiance")
				.connect-line
				.c2-die
					+lozenge("reputation","Reputation")
					.connect-line
					+die("reputation-die")
			.c2
				+lozenge("allegiance-plus","+ Allegiance").golden
				.connect-line
				.c2-die
					+lozenge("reputation-plus","+ Reputation").golden
					.connect-line
					+die("reputation-plus-die")
			.c2
				+lozenge("personal-style","Personal Style")
				.spacer
				+lozenge("fighting-style","Fighting Style")
			.stress-section
				.bighead
					+t("Stress")
				.btw
					+t("While you have any wounds marked, lose one die from all pools before rolling in a contest. Click once to mark a box; click again to mark it as Itched. ").smallnote.italic
			.c2.wounds-pathos
				.pathos.lozenge
					.boxbox
						each box in [1,2,3,4,5,6,7,8,9,10]
							+ibox("pathos"+box)
						.itches
							each box in [1,2,3,4,5,6,7,8,9,10]
								+hidden("toggle_pathos"+box).itchider
							.itchy
								+t("Itched!")
					.tag
						+t("Pathos")
				.connect-line
				.wounds.lozenge
					.boxbox
						each box in [1,2,3,4,5,6,7,8,9,10]
							+ibox("wound"+box)
						.itches
							each box in [1,2,3,4,5,6,7,8,9,10]
								+hidden("toggle_wound"+box).itchider
							.itchy
								+t("Itched!")
					.tag
						+t("Wounds")
			.stress-section.glory-section
				.bighead
					+t("Jade Points")
				.smallnote.italic
					+t("When you fill the jade points track, clear it and add a d4 to a jade discipline permanently. You receive 1 jade point when you strip jade from a defeated foe, or 2 from a slain foe. When an enemy defeats you and takes your jade, you lose 1 jade point. Every jade point you lose inflicts an Itch.")
				.jade-glory.lozenge
					.boxbox
						- var g = 1;
						while g <= 20
							+cbox("jadeglory"+g)
							- g++;
					// .tag
						+t("Jade Points")
				.bighead.golden
					+t("Glory")
				.smallnote.italic
					+t("When you fill the glory track, clear it and take a Boon.")
			.glory.lozenge.golden
				.boxbox
					- var g = 1;
					while g <= 40
						+cbox("glory"+g)
						- g++;
				// .tag
					+t("Glory")
			.boons
				.toptag.golden
					+t("Boons")
				.bordered
						.boxes
							+cbox("boon-new-rep")
						+t("Add a new reputation")
						.boxes
							+cbox("boon-new-allegiance")
						+t("Add a new allegiance")
						.boxes
							each box in [1,2,3,4]
								+cbox("boon-rep-step-"+box)
						+t("Step up a reputation")
						.boxes
							each box in [1,2,3,4]
								+cbox("boon-skill-"+box)
						+t("Step up a skill")
						.boxes
							each box in [1,2,3,4]
								+cbox("boon-gift-"+box)
						+t("Acquire a gift")
						// .sequestered
							.boxes
								each box in [1,2,3,4,5,6]
									+cbox("boon-jade-"+box).jade
							+t("Add 1d4 to a jade ability").jade

			.gifts
				.bighead
					+t("Gifts")
				.gifts-section
					+fieldset("gifts")
						.gift.bordered
							.topstrip
								+text("name").blankline
								.sideblock
									+tshower("show-hide")
									span.lockup
										+tshower("show-edit")
										button(type="action" name="act_mark" class="goldroll" value="show-edit")
											+t("Edit")
										+thider("show-edit")
										button(type="action" name="act_unmark" class="goldroll" value="show-edit")
											+t("Lock")
									+tshower("show-hide")
									button(type="action" name="act_mark" class="goldroll" value="show-hide")
										+t("Hide")
									+thider("show-hide")
									button(type="action" name="act_unmark" class="goldroll" value="show-hide")
										+t("Show")
							+tshower("show-hide")
							.showzone
								+thider("show-edit")
								.editzone
									.weetitle
										+t("Usage").smallnote
									.giftbox
										+textarea("usage").smallnote.squat
									.weetitle
										+t("Counters").smallnote
									.giftbox
										+textarea("counters").smallnote.squat
									.weetitle
										+t("Weak to").smallnote
									.giftbox
										+textarea("weakness").smallnote.squat
								+tshower("show-edit")
								.showzone
									.weetitle
										+t("Usage").smallnote
									.giftbox
										+display("usage").smallnote.golden
									.weetitle
										+t("Counters").smallnote
									.giftbox
										+display("counters").smallnote.golden
									.weetitle
										+t("Weak to").smallnote
									.giftbox
										+display("weakness").smallnote.golden

		.spacer
		.abilities
			.skills
				.bighead.golden.topline
					+t("Skills")
				.c2-die
					+dielabel("Arts and Oration").golden
					.connect-line.golden
					+die("skill-arts-oration-die").smalldie
				.c2-die
					+dielabel("Blood and Valor").golden
					.connect-line.golden
					+die("skill-blood-valor-die").smalldie
				.c2-die
					+dielabel("Craft and Reason").golden
					.connect-line.golden
					+die("skill-craft-reason-die").smalldie
				.c2-die
					+dielabel("Resolve and Spirit").golden
					.connect-line.golden
					+die("skill-resolve-spirit-die").smalldie
			.jade
				.bighead
						+t("Jade")
				each ability in ["Channeling","Deflection","Lightness","Perception","Steel","Strength"]
					.c2-die-jade
						+dielabel(ability)
						each num in [1,2,3]
							if num == 1
								.connect-line
							else
								.connect-line.margin-fix
							+die("jade-"+ability+"-die-"+num,[4]).smalldie
			.favors
				.toptag
					+t("I Owe Shine...")
				.favor.shine
					.favorbox
						+textarea("shine-name").favored
					.favormarks
						each o in [1,2,3,4,5,6]
							+cbox("shine-owe-"+o)
				.toptag.golden
					+t("Favors Held Over Others")
				+fieldset("favors")
					+favor
			.notes
				.toptag
					+t("Notes")
				.bordered
					+textarea("notes").smallnote