include mixins.pug 

- var playbooks = ['summoned','surge','found','shade','last','fallen','hungry']

script(type='text/worker')
	include sheet-worker.js 

include includes/rolltemplates.pug

.doomclock

.wrapper
	include includes/headlinks.pug
	.topline
		input.bigname(type='text' name='attr_character_name')
	.columns
		.narrow
			+expandable("Playbook")
				select(name='attr_playbook')
					option(value='' data-i18n="choose a playbook")
					each book in playbooks
						option(value=book data-i18n=book)
							= 'The ' + book
				input(type='hidden' name='attr_playbook' class='pbselector' value='')
				div(class='pbsummoned')
					include includes/summonedcolor.pug
				div(class='pbsurge')
					include includes/surgecolor.pug
				div(class='pbfound')
					include includes/foundcolor.pug
				div(class='pbshade')
					include includes/shadecolor.pug
				div(class='pblast')
					include includes/lastcolor.pug
				div(class='pbfallen')
					include includes/fallencolor.pug
				div(class='pbhungry')
					include includes/hungrycolor.pug

				+expandablesub("Character Creation Options")
					input(type='hidden' name='attr_playbook' class='pbselector' value='')
					div(class='pbsummoned')
						include includes/summonedcco.pug
					div(class='pbsurge')
						include includes/surgecco.pug
					div(class='pbfound')
						include includes/foundcco.pug
					div(class='pbshade')
						include includes/shadecco.pug
					div(class='pblast')
						include includes/lastcco.pug
					div(class='pbfallen')
						include includes/fallencco.pug
					div(class='pbhungry')
						include includes/hungrycco.pug
			+expandable("Darkness")
				+translate("Current Darkness Tokens")(class="bold")
				div
					input(type="hidden" name="attr_torn_between_active" value="0" class="colorizewhenactive")
					input.tokens(type="number" value="0" min="0" name="attr_darkness_tokens")
				input(type="hidden" name="attr_torn_between_active" value="0" class="view")
				div.viewable
					+translate("You are")(class="term")
					+movelink("Torn Between")
					| &mdash;
					+translate("Choose between What the Darkness Demands of You and your mission.")
				div
					+rolldark("Darkness Roll")
				+expandablesub("Gaining")
					+translate("I gain 2-4 Darkness Tokens when I...")
					input(type='hidden' name='attr_playbook' class='pbselector' value='')
					div(class='pbsummoned')
						include includes/summonedgains.pug
					div(class='pbsurge')
						include includes/surgegains.pug
					div(class='pbfound')
						include includes/foundgains.pug
					div(class='pbshade')
						include includes/shadegains.pug
					div(class='pblast')
						include includes/lastgains.pug
					div(class='pbfallen')
						include includes/fallengains.pug
					div(class='pbhungry')
						include includes/hungrygains.pug
					+translate("Click to gain")(class="bold")
					br
					+dark(2)
					br
					+dark(3)
					br
					+dark(4)
				+expandablesub("Powers")
					textarea.bio(name="attr_powers")
				+expandablesub("Demands")
					textarea.bio(name="attr_demands")
			+expandable("Bonds")
				.bondzone
					fieldset(class="repeating_bonds")
						div.bond
							input(type="number" value="0" min="0" name="attr_points")
							input(type="text" value="" name="attr_bondname")
					+expandablesub("Starting Bonds Prompts")
						input(type='hidden' name='attr_playbook' class='pbselector' value='')
						div(class='pbsummoned')
							include includes/summonedbondprompts.pug
						div(class='pbsurge')
							include includes/surgebondprompts.pug
						div(class='pbfound')
							include includes/foundbondprompts.pug
						div(class='pbshade')
							include includes/shadebondprompts.pug
						div(class='pblast')
							include includes/lastbondprompts.pug
						div(class='pbfallen')
							include includes/fallenbondprompts.pug
						div(class='pbhungry')
							include includes/hungrybondprompts.pug
			+expandable("Conditions")
				.conditions
					input(type='hidden' name='attr_playbook' class='pbselector' value='')
					div(class='pbsummoned')
						include includes/summonedconditions.pug
					div(class='pbsurge')
						include includes/surgeconditions.pug
					div(class='pbfound')
						include includes/foundconditions.pug
					div(class='pbshade')
						include includes/shadeconditions.pug
					div(class='pblast')
						include includes/lastconditions.pug
					div(class='pbfallen')
						include includes/fallenconditions.pug
					div(class='pbhungry')
						include includes/hungryconditions.pug
					+condition("",true,true)
					+condition("",true,true)
				+expandablesub("Breaking Point")
					+translate("(when you mark your last named condition)")(class="instruction")
					input(type='hidden' name='attr_playbook' class='pbselector' value='')
					div(class='pbsummoned')
						include includes/summonedbreaking.pug
					div(class='pbsurge')
						include includes/surgebreaking.pug
					div(class='pbfound')
						include includes/foundbreaking.pug
					div(class='pbshade')
						include includes/shadebreaking.pug
					div(class='pblast')
						include includes/lastbreaking.pug
					div(class='pbfallen')
						include includes/fallenbreaking.pug
					div(class='pbhungry')
						include includes/hungrybreaking.pug
			+expandable("Experience and Ruin")
				.columns
					.wide
						+fixedsub("Experience")
							+translate("Current XP")(class="bold")
							div
								input(type="hidden" name="attr_xp_advance_active" value="0" class="colorizewhenactive")
								input.tokens(type="number" value="0" min="0" name="attr_xp")
					.wide
						+fixedsub("Ruin")
							+translate("Current Ruin")(class="bold")
							div
								input(type="hidden" name="attr_ruin_advance_active" value="0" class="colorizewhenactive")
								input.tokens(type="number" value="0" min="0" name="attr_ruin")
				+expandablesub("Your Impulse")
					div.instruction
						p
							+translate("At the start of every session,")(class="trigger")
							+translate("choose one to explore during play.")
					input(type='hidden' name='attr_playbook' class='pbselector' value='')
					input(type='hidden' name='attr_chosenimpulse' class='hidecheckboxesnotnull' value="")
					div(class='pbsummoned')
						include includes/summonedimpulse.pug
					div(class='pbsurge')
						include includes/surgeimpulse.pug
					div(class='pbfound')
						include includes/foundimpulse.pug
					div(class='pbshade')
						include includes/shadeimpulse.pug
					div(class='pblast')
						include includes/lastimpulse.pug
					div(class='pbfallen')
						include includes/fallenimpulse.pug
					div(class='pbhungry')
						include includes/hungryimpulse.pug
					div.instruction
						p
							+translate("At the end of the session,")(class="trigger")
							+translate("answer the question—if yes, mark")
							+xp(1)
							| &nbsp;
							+translate("or")
							+ruin(1)
				+expandablesub("End of Session")
					div.instruction
						p
							+translate("At the end of the session,")(class="trigger")
							+translate("answer all of these questions.")
					ul
						li
							+translate("Did you express your monstrous nature and/or express your humanity?")(class="bold")
							+translate("If yes, mark")
							+xp("1")
						li
							+translate("Did you learn something significant about yourself and/or your impending ruin?")(class="bold")
							+translate("If yes, mark")
							+xp("1")
						li
							+translate("Did you learn something significant about a fellow monster?")(class="bold")
							+translate("If yes, mark")
							+xp("1")
						li
							+translate("Did you uncover at least a Key of the Apocalypse or attempt to Unlock Doom’s Door?")(class="bold")
							+translate("If no, mark")
							+ruin("1")
			+expandable("Advances")
				div
					input(type="hidden" name="attr_xp_advance_active" value="0" class="view")
					.viewable
						p
							+translate("You may spend")
							+spendxp(8)
							| 
							+translate("for an XP advance.")
				div
					input(type="hidden" name="attr_ruin_advance_active" value="0" class="view")
					.viewable
						p
							+translate("You may spend")
							+spendruin(5)
							| 
							+translate("for a Ruin advance.")
				+expandablesub("XP Advances")
					input(type='hidden' name='attr_playbook' class='pbselector' value='')
					div(class='pbsummoned')
						+multicheckable("Take a new Summoned move",2,"","summoned_xpadvance",2)
					div(class='pbsurge')
						+multicheckable("Take a new Surge move",2,"","surge_xpadvance",2)
					div(class='pbfound')
						+multicheckable("Take a new Found move",2,"","found_xpadvance",2)
					div(class='pbshade')
						+multicheckable("Take a new Shade move",2,"","shade_xpadvance",2)
					div(class='pblast')
						+multicheckable("Take a new Last move",2,"","last_xpadvance",2)
					div(class='pbfallen')
						+multicheckable("Take a new Fallen move",2,"","fallen_xpadvance",2)
					div(class='pbhungry')
						+multicheckable("Take a new Hungry move",2,"","hungry_xpadvance",2)
					+multicheckable("Take a new DIVISION move",2,"","xpadvance",2)
					+multicheckable("Take a move from another playbook",2,"","xpadvance",2)
					+multicheckable("Describe a new way to gain Darkness Tokens",1,"","xpadvance",2)
					+multicheckable("Take a new Power of Darkness from your playbook",1,"","xpadvance",2)
					+multicheckable("Change your playbook",1,"","xpadvance",2)
				+expandablesub("Ruin Advances")
					+multicheckable("Take a new Ruin Move",2,"","ruinadvance",2)
					+multicheckable("Take Ruin Move from another playbook",2,"","ruinadvance",2)
					+multicheckable("Permanently mark a Condition",2,"","ruinadvance",2)
					+multicheckable("Gain a new Ruin Condition",2,"","ruinadvance",2)
					+multicheckable("Retire your character. You become a Harbinger of the apocalypse.",1,"","ruinadvance",2)
		.wide
			+expandable("Moves")
				.columns
					.sidetab
						input(type='hidden' name="attr_expand_movelist" value="1" class="toggle")
						button.vcontract.hfade(type='action' name='act_contract' value="movelist")
						button.vexpand.hfade(type='action' name='act_expand' value="movelist")
					input(type='hidden' name="attr_expand_movelist" value="1" class="rollup")
					.middling.roller
						p
						div
							input(type='hidden' name='attr_playbook' class='pbselector' value='')
							div(class='pbsummoned')
								+pbinstruct()
									+translate("Choose one more Playbook Move, then choose either one of your Ruin Moves, or instead take a DIVISION move (make sure everyone knows which one).")
							div(class='pbsurge')
							div(class='pbfound')
							div(class='pbshade')
							div(class='pblast')
							div(class='pbfallen')
							div(class='pbhungry')
						+fixedsub("Starting Playbook Moves")
							input(type='hidden' name='attr_playbook' class='pbselector' value='')
							div(class='pbsummoned')
								+briefmove('Sometimes, I Get Angry','summoned','no')
							div(class='pbsurge')
							div(class='pbfound')
							div(class='pbshade')
							div(class='pblast')
							div(class='pbfallen')
							div(class='pbhungry')
						+expandablesub("Playbook Moves","","pbchecked")
							input(type="hidden" name="attr_check_pbchecked" class="checksonly" value="1")
							div(class='pbsummoned')
								+briefmove("Come On, Tough Guy","summoned")
								+briefmove("Borrowed Power","summoned")
								+briefmove("We’re Family Now","summoned")
								+briefmove("Everything For You, My Love","summoned")
								+briefmove("Together We Are Destiny","summoned")
							div(class='pbsurge')
							div(class='pbfound')
							div(class='pbshade')
							div(class='pblast')
							div(class='pbfallen')
							div(class='pbhungry')
						+expandablesub("Ruin Moves")
							input(type="hidden" name="attr_check_pbchecked" class="checksonly" value="1")
							div(class='pbsummoned')
							div(class='pbsurge')
							div(class='pbfound')
							div(class='pbshade')
							div(class='pblast')
							div(class='pbfallen')
							div(class='pbhungry')
						+expandablesub("DIVISION Moves")
						+expandablesub("Basic Moves")
					.wide
						include includes/exclusivemoves.pug
						include includes/summonedmoves.pug
						include includes/surgemoves.pug
						include includes/foundmoves.pug
						include includes/shademoves.pug
						include includes/lastmoves.pug
						include includes/fallenmoves.pug
						include includes/hungrymoves.pug
						include includes/summonedruinmoves.pug
						include includes/surgeruinmoves.pug
						include includes/foundruinmoves.pug
						include includes/shaderuinmoves.pug
						include includes/lastruinmoves.pug
						include includes/fallenruinmoves.pug
						include includes/hungryruinmoves.pug
						include includes/divisionmoves.pug
						include includes/basicmoves.pug
			+expandable("Notes")
				textarea.notes(name="attr_notes")
			.columns
				.middling
					+fixed("Remember to...")
						input(type='hidden' name='attr_playbook' class='pbselector' value='')
						div(class='pbsummoned')
							include includes/summonedremember.pug
						div(class='pbsurge')
							include includes/surgeremember.pug
						div(class='pbfound')
							include includes/foundremember.pug
						div(class='pbshade')
							include includes/shaderemember.pug
						div(class='pblast')
							include includes/lastremember.pug
						div(class='pbfallen')
							include includes/fallenremember.pug
						div(class='pbhungry')
							include includes/hungryremember.pug
				.wide
					+expandable("Bio")
						+minihead("Your Look")
							textarea.bio(name="attr_look")
						+minihead("Your Origin")
							textarea.bio(name="attr_origin")
						div
							input(type='hidden' name='attr_playbook' class='pbselector' value='')
							div(class='pbsummoned')
								+minihead("What is the prophecy that haunts you?")
									textarea.bio(name="attr_summoned_prophecy")
