include includes/mixins.pug

script(type='text/worker')
	include includes/MOTW-sheet-worker.js

include includes/MOTW-rolltemplates.html

.sheet-Wrapper
	include includes/sheet-header.pug
	// Screen that shows when the value is null because no playbook has been selected
	include includes/sheet-selection-long.pug
	.space-above.sheet-NoCommunity.sheet-NoTeams
		// Hunter reference
		include includes/hunter-reference.pug
	// Keeper Mystery Sheet
	include includes/keeper-mystery-sheet.pug
	// Community Sheet
	include includes/community-sheet.pug
	// Teams Sheet
	include includes/teams-sheet.pug
	// Hunter Sheet
	include includes/hunter-sheet.pug
	hr
	font(size='0.5')
		span(data-i18n='sheet-version') sheet version
		|  2.1.
		span(data-i18n='copyright') Monster of the Week is copyright Evil Hat Productions, LLC and Generic Games.

+translations