include includes/mixins.pug

script(type='text/worker')
	include includes/MOTW-sheet-worker.js

include includes/MOTW-rolltemplates.html

.sheet-Wrapper
	include includes/sheet-header.pug
	// Screen that shows when the value is null because no playbook has been selected
	include includes/sheet-selection-long.pug
	.space-above
		// Hunter reference
		include includes/hunter-reference.pug
	// Keeper Mystery Sheet
	include includes/keeper-mystery-sheet.pug
	// Teams Sheet
	include includes/teams-sheet.pug
	.sheet-SheetGrid.sheet-NoKeep
		include includes/stats.pug
		.sheet-Specifics
			.sheet-3colrow.sheet-NoNull
				// Contains common elements found in all playbooks
				.sheet-col
					.sheet-Luck
						.sheet-Subsection
							span(data-i18n='luck') Luck
						p(align='center')
							b.sheet-statelabel
								span(data-i18n='okay') Okay
							input.sheet-checkbox(type='checkbox', name='attr_Luck1')
							span.sheet-altbox
							input.sheet-checkbox(type='checkbox', name='attr_Luck2')
							span.sheet-altbox
							input.sheet-checkbox(type='checkbox', name='attr_Luck3')
							span.sheet-altbox
							input.sheet-checkbox(type='checkbox', name='attr_Luck4')
							span.sheet-altbox
							input.sheet-checkbox(type='checkbox', name='attr_Luck5')
							span.sheet-altbox
							input.sheet-checkbox(type='checkbox', name='attr_Luck6')
							span.sheet-altbox
							// Pop in an extra box when the Searcher has the appropriate move
							input.sheet-triggerbox(type='checkbox', name='attr_Moves-Searcher1D', value='1')
							input.sheet-checkbox(type='checkbox', name='attr_Extra-Luck-Searcher')
							span.sheet-altbox
							// Final box is always Luck7 box in case we want to tie behavior to it
							input.sheet-checkbox(type='checkbox', name='attr_Luck7')
							span.sheet-altbox
							b.sheet-statelabel
								span(data-i18n='doomed') Doomed
						input.sheet-checkbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-Luck-Instructions', value='1', checked='')
						span.sheet-anglebox
						|  
						span.sheet-ExpHeader
							span(data-i18n='instructions') Instructions
						.sheet-Expander
							p
								span(data-i18n='luck-description')
									| Mark 
									i Luck
									|  to change a roll to a 12 or to avoid all harm from an injury
								| .
								span(data-i18n='trigger-luck-special') When you mark Luck, you trigger your playbook&apos;s Luck Special.
				.sheet-col
					.sheet-Harm
						.sheet-Subsection
							span(data-i18n='harm') Harm
							| &nbsp;(
							span(name='attr_Harm-Remaining')
							| /
							span(name='attr_Harm-TotalCapacity')
							| )
						.sheet-nowrap(align='center')
							b.sheet-statelabel
								span(data-i18n='okay') Okay
							input.sheet-checkbox(type='checkbox', name='attr_Harm1')
							span.sheet-altbox
							input.sheet-checkbox(type='checkbox', name='attr_Harm2')
							span.sheet-altbox
							input.sheet-checkbox(type='checkbox', name='attr_Harm3')
							span.sheet-altbox
							input.sheet-inverted-triggerbox(type='checkbox', name='attr_Moves-Constructed1')
							span.sheet-triggertext
								b |
							input.sheet-checkbox(type='checkbox', name='attr_Harm4')
							span.sheet-altbox
							input.sheet-checkbox(type='checkbox', name='attr_Harm5')
							span.sheet-altbox
							input.sheet-checkbox(type='checkbox', name='attr_Harm6')
							span.sheet-altbox
							// The Constructed gets a whopping 3 extra Harm boxes
							input.sheet-triggerbox(type='checkbox', name='attr_Moves-Constructed1')
							input.sheet-checkbox(type='checkbox', name='attr_Constructed-Harm1')
							span.sheet-altbox
							input.sheet-triggerbox(type='checkbox', name='attr_Moves-Constructed1')
							input.sheet-checkbox(type='checkbox', name='attr_Constructed-Harm2')
							span.sheet-altbox
							input.sheet-triggerbox(type='checkbox', name='attr_Moves-Constructed1')
							input.sheet-checkbox(type='checkbox', name='attr_Constructed-Harm3')
							span.sheet-altbox
							// With the Back from the Dead Dark Past, you can potentially get an extra box of harm
							input.sheet-SettingCheck(type='hidden', name='attr_Game-World', value='0')
							span.sheet-Setting-Gothic
								input.sheet-triggerbox(type='checkbox', name='attr_DarkPast-Dead-Change1')
								input.sheet-checkbox(type='checkbox', name='attr_DarkPast-Dead-Harm')
								span.sheet-altbox
							// Pop in up to 2 additional boxes if the right improvements are taken
							input.sheet-triggerbox(type='checkbox', name='attr_Imp-Dying')
							input.sheet-checkbox(type='checkbox', name='attr_Extra-Harm1')
							span.sheet-altbox
							input.sheet-triggerbox(type='checkbox', name='attr_AdvImp-Dying')
							input.sheet-checkbox(type='checkbox', name='attr_Extra-Harm2')
							span.sheet-altbox
							// Final box is always the Harm7 box in case we want to tie behavior to that
							input.sheet-checkbox(type='checkbox', name='attr_Harm7')
							span.sheet-altbox
							b.sheet-statelabel
								span(data-i18n='dying') Dying
							input.sheet-inverted-triggerbox(type='checkbox', name='attr_Moves-Constructed1')
							span.sheet-triggertext
								br
								input.sheet-checkbox(type='checkbox', name='attr_Unstable')
								span.sheet-altbox
								b.sheet-statelabel
									span(data-i18n='unstable') Unstable
						input.sheet-checkbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-Unstable-Instructions', value='1', checked='')
						span.sheet-anglebox
						|  
						span.sheet-ExpHeader
							span(data-i18n='instructions') Instructions
						.sheet-Expander
							input.sheet-inverted-triggerbox(type='checkbox', name='attr_Moves-Constructed1')
							span.sheet-triggertext
								span(data-i18n='harm-instructions')
									| When you reach 4 or more, mark unstable. Unstable injuries worsen as time passes.
							input.sheet-triggerbox(type='checkbox', name='attr_Moves-Constructed1')
							span.sheet-triggertext
								span(data-i18n='constructed-unstable')
				.sheet-col
					.sheet-XP
						.sheet-Subsection
							span(data-i18n='experience') Experience
						p(align='center')
							input.sheet-checkbox(type='checkbox', name='attr_XP1')
							span.sheet-altbox
							input.sheet-checkbox(type='checkbox', name='attr_XP2')
							span.sheet-altbox
							input.sheet-checkbox(type='checkbox', name='attr_XP3')
							span.sheet-altbox
							input.sheet-checkbox(type='checkbox', name='attr_XP4')
							span.sheet-altbox
							input.sheet-checkbox(type='checkbox', name='attr_XP5')
							span.sheet-altbox
						input.sheet-checkbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-XP-Instructions', value='1', checked='')
						span.sheet-anglebox
						|  
						span.sheet-ExpHeader
							span(data-i18n='instructions') Instructions
						.sheet-Expander
							span(data-i18n='experience-description')
								| Mark 
								i Experience
								|  when a roll totals 6 or less; or when a move tells you to do so
							| .
							span(data-i18n='xp-description')
								| Once you have filled all 5 boxes, uncheck them and choose an 
								i Improvement
								|  option
							| .
			// This needs to be located just prior to the hidden sheets so it'll switch between them correctly!
			input.sheet-SkinCheck(type='hidden', name='attr_SkinCheck', value='0')
			// Begin significantly rearchitected playbooks
			.sheet-playbooks.sheet-NoNull
				.sheet-3colrow
					.sheet-col
						// left column
						input.sheet-SkinCheck(type='hidden', name='attr_SkinCheck', value='0')
						|  
						.sheet-Custom.sheet-CustomName
							.sheet-Subsection(data-i18n='playbook-name') Playbook Name
							input(type='text', name='attr_Name-Custom')

						// Luck specials
						include includes/luck-specials.pug

						// Gothic Century's Dark Pasts
						include includes/gothic-dark-pasts.pug

						// Playbook Specific Oddities

						// Chosen Playbook Specials
						include includes/specials-chosen.pug

						// Crooked Playbook Specials
						include includes/specials-crooked.pug

						// Monstrous Playbook Specials
						include includes/specials-monstrous.pug

						// Professional Playbook Specials
						include includes/specials-professional.pug

						// Spellslinger Playbook Specials
						include includes/specials-spellslinger.pug

						// Spooktacular Playbook Specials
						include includes/specials-spooktacular.pug

						// Constructed Playbook Specials
						include includes/specials-constructed.pug

						// Spooky Playbook Specials
						include includes/specials-spooky.pug

						// Wronged Playbook Specials
						include includes/specials-wronged.pug

						// Gumshoe Playbook Specials
						include includes/specials-gumshoe.pug

						// Hex Playbook Specials
						include includes/specials-hex.pug

						// Pararomantic Playbook Specials
						include includes/specials-pararomantic.pug

						// Exile Playbook Specials
						include includes/specials-exile.pug

						// Sidekick Playbook Specials
						include includes/specials-sidekick.pug

						// Snoop Playbook Specials
						include includes/specials-snoop.pug

						// Summoned Playbook Specials
						include includes/specials-summoned.pug

						// Traveler Playbook Specials
						include includes/specials-traveler.pug

						// Hardcase 2020 Playbook Specials
						include includes/specials-hardcase2020.pug

						// Custom Playbook Specials
						include includes/specials-custom.pug

						// Havens
						include includes/havens.pug

						// Initiate's Sect 
						include includes/initiate-sect.pug

						// Allies 
						include includes/allies.pug

						// Summoned playbook Hobby section
						include includes/hobby-summoned.pug

						// History Section
						include includes/history.pug

					// .sheet-col, left
					.sheet-col
						// mid column
						input.sheet-SkinCheck(type='hidden', name='attr_SkinCheck', value='0')

						// 'Fire' Track for the Hardcase 2020 playbook
						include includes/hardcase2020-fire-track.pug

						// Big Inclusion of Playbook Moves
						include includes/moves.pug

						// Hex Rotes
						include includes/rotes-hex.pug

						// Advanced Basic Moves
						include includes/moves-advanced-basic.pug

						// Other Moves
						include includes/moves-other.pug

					// .sheet-col, mid
					.sheet-col
						// right column
						input.sheet-SkinCheck(type='hidden', name='attr_SkinCheck', value='0')

						// Monstrous Playbook's Attacks
						include includes/attacks-monstrous.pug

						// Gear Section Include
						include includes/gear.pug

						// Improvements Section
						include includes/improvements.pug

					// .sheet-col, right
				// .sheet-3colrow
		// Hopefully this is the end of the class=sheet-Specifics div
	hr
	font(size='0.5')
		span(data-i18n='sheet-version') sheet version
		|  2.0.
		span(data-i18n='copyright') Monster of the Week is copyright Evil Hat Productions, LLC and Generic Games.

+translations