+hidden('Position-Query')
+hidden('Effect-Query')
each actions, attribute in statsblock 
	+hidden(attribute+'-Resist-Roll-Formula')
	each action in actions
		+hidden(action+'-Base-Roll-Formula')
		+hidden(action+'-Transcend-Roll-Formula')
