.sheet-Box.sheet-Purple
	.sheet-Box-Header
		+translate('Pick Your Sheet')
	.sheet-Bio-Block
		.sheet-Label
			+translate('Playset')
		.sheet-Field
			+select("Playset")
				+option("Choose a Playset","0")
				each ps, key in playsets
					+option(ps,key)
		.sheet-Pick-Split
			.sheet-Left
				.sheet-Label
					+translate('Playbook')
				.sheet-Field
					+select("Playbook")
						+option("Select a Playbook","")
						each pb, key in playbooks
							+option(pb,key)
			.sheet-Right
				.sheet-Label
					+translate('or Playset Sheet')
				.sheet-Field
					+select("Playset-Sheet")
						+option("Select a Sheet","")
						each sh, key in setsheets
							+option(sh,key)
