.sheet-Box.sheet-Playbook-Selected
	.sheet-Box-Header.sheet-Box-XP
		+translate('XP')
		.sheet-Box-Header-Icons
			.sheet-XP-Track
				+xptrack('Playbook-XP',8)
			.sheet-XP-Track-Label
				+translate('Playbook')
	.sheet-Box-Header.sheet-Box-Subsection
		+translate('Gaining XP')
		.sheet-Box-Header-Icons
			+toggle('Toggle-Gaining-XP-Expand',1)
	+hidden('Toggle-Gaining-XP-Expand',1).sheet-hide-on-one
	.sheet-Gaining-XP
		p
			+translate('Each time you make a desperate roll, mark 1xp in that action’s attribute.')
		p
			+translate('At the end of each session, for each item below, mark 1xp (in your playbook or attribute) or 2xp if that item occurred multiple times.')
		ul
			li
				+translate('You addressed a challenge with')
				| 
				+translate('mystery or ostentatious action').sheet-Playbook-Enigma
				+translate('knowledge or subtlety').sheet-Playbook-Stranger
				+translate('foresight or revelation').sheet-Playbook-TimeTraveller
				+translate('understanding or coordination').sheet-Playbook-Harmony
				+translate('kindness or self sacrifice').sheet-Playbook-Guardian
				+translate('individual action or aggression').sheet-Playbook-Outsider
				+translate('compassion or honesty').sheet-Playbook-UnlikelyHero
			li
				+translate('You expressed your beliefs, drives, role, or background')
			li
				+translate('You struggled with issues from your promises or obligation')
			li
				+translate('You embodied your Eclipse, or displayed the contents of your heart')
