.sheet-Box.sheet-Playbook-Selected
	.sheet-Box-Header.sheet-Box-XP
		+translate('Sun')
		.sheet-Box-Header-Icons
			.sheet-XP-Track
				+xptrack('Sun-XP',6)
	.sheet-Stats-Block
		.sheet-Stats-Row
			.sheet-Dot.sheet-Connected
				| x
			.sheet-Dot
				| x
			.sheet-Star
				| x
			.sheet-Star
				| x
			.sheet-Stat
				+translate('Defy')

.sheet-Box.sheet-Playbook-Selected
	.sheet-Box-Header.sheet-Box-XP
		+translate('Moon')
		.sheet-Box-Header-Icons
			.sheet-XP-Track
				+xptrack('Moon-XP',6)

.sheet-Box.sheet-Playbook-Selected
	.sheet-Box-Header.sheet-Box-XP
		+translate('Stars')
		.sheet-Box-Header-Icons
			.sheet-XP-Track
				+xptrack('Stars-XP',6)
