.sheet-Box.sheet-Playbook-Selected
	.sheet-Box-Header
		+translate('Teamwork')
		.sheet-Box-Header-Icons
			+toggle('Toggle-Teamwork-Expand')
	+hidden('Toggle-Teamwork-Expand').sheet-hide-on-one
	.sheet-Teamwork-Block
		+translate("<ul><li><b>Assist a teammate</b>: Take 1 stress to give another player +1d. You might also suffer consequences from the roll. Only one person may assist a roll.<li><b>Lead a group action</b>: Roll for each character who participates. The single best roll counts as the action result, which applies to every character that rolled. The leader marks 1 stress for each 1-3 result rolled by the group.<li><b>Protect a teammate</b>: Face danger on behalf of a teammate. Step in to suffer a consequence in their place. You may roll to resist as normal, if you wish.<li><b>Set up a teammate</b>: Set up another character with your action. If you achieve it, any team members who follow up get +1 effect or improved position.</ul>")