.sheet-bigname
	span.sheet-Playset-Abyss
		span.sheet-Icon-Abyss
	span.sheet-Playset-Dreams
		span.sheet-Icon-Dreams
	span.sheet-Playset-Sky
		span.sheet-Icon-Sky
	span.sheet-Playset-Stars
		span.sheet-Icon-Stars
	+display('character_name')
	+hidden('TrueName').sheet-HideNull
	span
		| • 
		+display('TrueName')
	+hidden('Playbook').sheet-HideNull
	span
		| • 
		span.sheet-Playbook-Enigma
			+translate("Enigma")
		span.sheet-Playbook-Stranger
			+translate("Stranger")
		span.sheet-Playbook-TimeTraveller
			+translate("Time Traveller")
		span.sheet-Playbook-Harmony
			+translate("Harmony")
		span.sheet-Playbook-Guardian
			+translate("Guardian")
		span.sheet-Playbook-Outsider
			+translate("Outsider")
		span.sheet-Playbook-UnlikelyHero
			+translate("Unlikely Hero")
