.sheet-Playset-Sky
	.sheet-Cursed-Container

		+hidden('Cursed-R1-C1').sheet-Cursed-Activator
		.sheet-Box.sheet-Purple.sheet-Room.sheet-R1.sheet-C1
			.sheet-Box-Header
				+translate('Blight Infusion')
				.sheet-Box-Header-Icons
					+headDot('Cursed-R1-C1')
			.sheet-Benefit
				+translate('one protagonist may clear all stress and harm')
			.sheet-Curse
				+translate('a foe is given a ruinous new power')
		.sheet-Connection.sheet-R1.sheet-C2.sheet-LR
		.sheet-Box.sheet-Purple.sheet-Solid.sheet-Room.sheet-R1.sheet-C3
			+translate('The Beginning')
		.sheet-Connection.sheet-R1.sheet-C4.sheet-LR
		+hidden('Cursed-R1-C5').sheet-Cursed-Activator
		.sheet-Box.sheet-Purple.sheet-Room.sheet-R1.sheet-C5
			.sheet-Box-Header
				+translate('Trading Fates')
				.sheet-Box-Header-Icons
					+headDot('Cursed-R1-C5')
			.sheet-Benefit
				+translate('one protagonist escapes eclipse')
			.sheet-Curse
				+translate('a friend falls to the Blight')

		.sheet-Connection.sheet-R2.sheet-C1.sheet-TB
		.sheet-Connection.sheet-R2.sheet-C5.sheet-TB

		+hidden('Cursed-R3-C1').sheet-Cursed-Activator
		.sheet-Box.sheet-Purple.sheet-Room.sheet-R3.sheet-C1
			.sheet-Box-Header
				+translate('Trading Fates')
				.sheet-Box-Header-Icons
					+headDot('Cursed-R3-C1')
			.sheet-Benefit
				+translate('one protagonist escapes eclipse')
			.sheet-Curse
				+translate('a friend falls to the Blight')
		+hidden('Cursed-R3-C5').sheet-Cursed-Activator
		.sheet-Box.sheet-Purple.sheet-Room.sheet-R3.sheet-C5
			.sheet-Box-Header
				+translate('Blight Infusion')
				.sheet-Box-Header-Icons
					+headDot('Cursed-R3-C5')
			.sheet-Benefit
				+translate('one protagonist may clear all stress and harm')
			.sheet-Curse
				+translate('a foe is given a ruinous new power')

		.sheet-Connection.sheet-R4.sheet-C1.sheet-TB
		.sheet-Connection.sheet-R4.sheet-C5.sheet-TB

		+hidden('Cursed-R5-C1').sheet-Cursed-Activator
		.sheet-Box.sheet-Purple.sheet-Room.sheet-R5.sheet-C1
			.sheet-Box-Header
				+translate('Power Betrays')
				.sheet-Box-Header-Icons
					+headDot('Cursed-R5-C1')
			.sheet-Benefit
				+translate('each protagonist and the series gain an advance')
			.sheet-Curse
				+translate('a protagonist betrays us, knowingly or otherwise')
		.sheet-Connection.sheet-R5.sheet-C2.sheet-LR
		.sheet-Connection.sheet-R5.sheet-C3.sheet-LR
		.sheet-Connection.sheet-R5.sheet-C4.sheet-LR
		+hidden('Cursed-R5-C5').sheet-Cursed-Activator
		.sheet-Box.sheet-Purple.sheet-Room.sheet-R5.sheet-C5
			.sheet-Box-Header
				+translate('Power Betrays')
				.sheet-Box-Header-Icons
					+headDot('Cursed-R5-C5')
			.sheet-Benefit
				+translate('each protagonist and the series gain an advance')
			.sheet-Curse
				+translate('a protagonist betrays us, knowingly or otherwise')
