.sheet-Box.sheet-Teal
	.sheet-Box-Header
		+translate('Names')
		.sheet-Box-Header-Icons
			+toggle('Toggle-Names-Expand')
	+hidden('Toggle-Names-Expand').sheet-hide-on-one
	.sheet-Names
		.sheet-Playset-Abyss Aquila, Libra, Corvus, Topaz, Sapphire, Caspian, Scorpio, Taurus, Crux, Aquarius, Gemini, Virgo, Lyra, Capricorn, Cygnus, Drake, Canis, Hydra, Auriga, Leo, Saggita, Carina, Cetus, Lynx, Wren, Hawk, Osprey, Faun, Spinel, Minnow, Lumina, Diamond, Charybdis, Castor, Talc, Oryxian, Silver, Tourmaline, Raven, Stella
		.sheet-Playset-Sky Violet, Amber, Acajou, Alabaster, Amaranth, Sienna, Umber, Carmine, Lavender, Eton, Fallow, Flax, Icterine, Isobel, Jet, Midnight, Dawn, Dusk, Twilight, Sunrise, Orchid, Scarlet, Thistle, Verse, Puce, Cerulean, Steel, Ochre, Jonquil, Aurora, Gloam, Maize
		.sheet-Playset-Stars Ace, Adnach, Alastor, Cass, Dagon, Eoligos, Ferug, Forcas, Hagith, Ipos, Malphas, Och, Ophiel, Rauym, Stygal, Nono, Stolas, Surgat, Uphir, Vetis, Zura, Van, Folken, Alen, Dilandau, Norna, Falin, Byrlir, Hildar, Lenneth, Silmeria, Surt, Raumur, Lalc, Himna, Unnar, Ulfsgin, Ofraun, Jokuls, Skrumnir, Pursa
		.sheet-Playset-Dreams Mol, Ryde, Turn, Boon, Nore, Stell, Fran, Vik, Love, Hen, Ann, Lane, Harp, Best, Jo, Puc, Sol, Case, Gunn, Hart, Deed, Len, Phyl, Kyo, Skip, Win, Char, Cat, Shay, Luce, Faye, Heff, Eve, Cross, Rip, Bog, Tif, Spice
