// Maybe eventually transplant this back to mixins.pug
mixin statsrow(v)
	.sheet-Stats-Row
		.sheet-Dot.sheet-Connected
			+abilityMark(v+"-Dot-1")
		.sheet-Dot
			+abilityMark(v+"-Dot-2")
		.sheet-Star
			+starMark(v+"-Star-1")
		.sheet-Star
			+starMark(v+"-Star-2")
		.sheet-Stat
			// This needs to be complexified to handle rolling while transcendent, but for now, let's get that base 
			button(name="roll_"+v, type="roll", data-i18n-title='Roll-Describe-'+v, value="&{template:GBM} {{charname=@{character_name}}} {{@{Position-Query}}} {{effect=@{Effect-Query}}} {{?{@{Q-Transcendent}|@{A-No} (@{"+v+"-Base-Total}),@{"+v+"-Base-Roll-Formula}|@{A-Yes} (@{"+v+"-Transcend-Total}),@{"+v+"-Transcend-Roll-Formula}}}} {{title=^{"+v+"}}} {{action=yes}}").sheet-buttonless
				+translate(v)

each actions, attribute in statsblock 
	.sheet-Box.sheet-Playbook-Selected
		.sheet-Box-Header.sheet-Box-XP
			span
				+hidden(attribute+'-Resist-Total')
				button(name="roll_"+attribute, type="roll", data-i18n-title='Roll-Describe-'+attribute, value="&{template:GBM} {{charname=@{character_name}}} {{@{"+attribute+"-Resist-Roll-Formula}}} {{title=^{"+attribute+"}}} {{resist=yes}}").sheet-buttonless
					+translate(attribute)
			.sheet-Box-Header-Icons
				.sheet-XP-Track
					+xptrack(attribute+'-XP',6)
		.sheet-Stats-Block
			each action in actions
				+hidden(action+'-Base-Total')
				+hidden(action+'-Transcend-Total')
				+statsrow(action)
