.sheet-Box.sheet-Purple.sheet-Playset-Abyss
	.sheet-Box-Header
		+translate('The Abyss')
		.sheet-Box-Header-Icons
			+toggle('Toggle-Tracks-Expand')
	+hidden('Toggle-Tracks-Expand').sheet-hide-on-one
	.sheet-Tracks
		.sheet-Box-Header.sheet-Box-Subsection 
			+translate('Tier I')
			.sheet-Box-Header-Icons
				.sheet-XP-Track
					+xptrack('Tier-Track-A-1',6)
		.sheet-Box-Header.sheet-Box-Subsection 
			+translate('Tier II')
			.sheet-Box-Header-Icons
				.sheet-XP-Track
					+xptrack('Tier-Track-A-2',6)
		.sheet-Box-Header.sheet-Box-Subsection 
			+translate('Tier III')
			.sheet-Box-Header-Icons
				.sheet-XP-Track
					+xptrack('Tier-Track-A-3',6)

.sheet-Box.sheet-Purple.sheet-Playset-Sky
	.sheet-Box-Header
		+translate('The Blight')
		.sheet-Box-Header-Icons
			+toggle('Toggle-Tracks-Expand')
	+hidden('Toggle-Tracks-Expand').sheet-hide-on-one
	.sheet-Tracks
		.sheet-Box-Header.sheet-Box-Subsection 
			+translate('Tier I')
			.sheet-Box-Header-Icons
				.sheet-XP-Track
					+xptrack('Tier-Track-A-1',6)
		.sheet-Box-Header.sheet-Box-Subsection 
			+translate('Tier II')
			.sheet-Box-Header-Icons
				.sheet-XP-Track
					+xptrack('Tier-Track-A-2',6)
		.sheet-Box-Header.sheet-Box-Subsection 
			+translate('Tier III')
			.sheet-Box-Header-Icons
				.sheet-XP-Track
					+xptrack('Tier-Track-A-3',6)

.sheet-Box.sheet-Purple.sheet-Playset-Stars
	.sheet-Box-Header
		+translate('The Leviathans')
		.sheet-Box-Header-Icons
			+toggle('Toggle-Tracks-Expand')
	+hidden('Toggle-Tracks-Expand').sheet-hide-on-one
	.sheet-Tracks
		.sheet-Box-Header.sheet-Box-Subsection 
			+translate('Tier I')
			.sheet-Box-Header-Icons
				.sheet-XP-Track
					+xptrack('Tier-Track-A-1',6)
		.sheet-Box-Header.sheet-Box-Subsection 
			+translate('Tier II')
			.sheet-Box-Header-Icons
				.sheet-XP-Track
					+xptrack('Tier-Track-A-2',6)
		.sheet-Box-Header.sheet-Box-Subsection 
			+translate('Tier III')
			.sheet-Box-Header-Icons
				.sheet-XP-Track
					+xptrack('Tier-Track-A-3',6)

.sheet-Box.sheet-Purple.sheet-Playset-Stars
	.sheet-Box-Header
		+translate('The Last Bastion')
		.sheet-Box-Header-Icons
			+toggle('Toggle-Tracks-Expand')
	+hidden('Toggle-Tracks-Expand').sheet-hide-on-one
	.sheet-Tracks
		.sheet-Box-Header.sheet-Box-Subsection 
			+translate('Tier I')
			.sheet-Box-Header-Icons
				.sheet-XP-Track
					+xptrack('Tier-Track-B-1',6)
		.sheet-Box-Header.sheet-Box-Subsection 
			+translate('Tier II')
			.sheet-Box-Header-Icons
				.sheet-XP-Track
					+xptrack('Tier-Track-B-2',6)
		.sheet-Box-Header.sheet-Box-Subsection 
			+translate('Tier III')
			.sheet-Box-Header-Icons
				.sheet-XP-Track
					+xptrack('Tier-Track-B-3',6)

.sheet-Box.sheet-Purple.sheet-Playset-Dreams
	.sheet-Box-Header
		+translate('The Conspiracy')
		.sheet-Box-Header-Icons
			+toggle('Toggle-Tracks-Expand')
	+hidden('Toggle-Tracks-Expand').sheet-hide-on-one
	.sheet-Tracks
		.sheet-Box-Header.sheet-Box-Subsection 
			+translate('Tier I')
			.sheet-Box-Header-Icons
				.sheet-XP-Track
					+xptrack('Tier-Track-A-1',6)
		.sheet-Box-Header.sheet-Box-Subsection 
			+translate('Tier II')
			.sheet-Box-Header-Icons
				.sheet-XP-Track
					+xptrack('Tier-Track-A-2',6)
		.sheet-Box-Header.sheet-Box-Subsection 
			+translate('Tier III')
			.sheet-Box-Header-Icons
				.sheet-XP-Track
					+xptrack('Tier-Track-A-3',6)
