.sheet-Box.sheet-Playbook-Selected.sheet-Teal
	.sheet-Box-Header
		+translate('Bonus Die')
		.sheet-Box-Header-Icons
			+toggle('Toggle-BonusDie-Expand')
	+hidden('Toggle-BonusDie-Expand').sheet-hide-on-one
	.sheet-BonusDie-Block
		+translate('<b>Push yourself</b> (take 2 stress) or accept a <b>Poisoned Promise</b>')