.sheet-Playset-Stars.sheet-Flagship
	.sheet-Box.sheet-Purple
		.sheet-Box-Header
			+translate('Flagship')
			.sheet-Box-Header-Icons
				.sheet-XP-Track
					+xptrack('Flagship-Upgrade',8)
				.sheet-XP-Track-Label
					+translate('Upgrade')
