.sheet-Box
	.sheet-Box-Header.sheet-Box-XP
		+translate('XP')
		.sheet-Box-Header-Icons.sheet-XP-Track
			+xptrack('Playbook-XP',8)
			// +toggle('Toggle-Bio-Expand')
	// +hidden('Toggle-Bio-Expand').sheet-hide-on-one
	.sheet-Bio-Block
