// The protagonists’ sheet has space for recording series creation choices, the series abilities, the missions available in that series, tracks for investigation and adversity, series xp prompts, and some rules unique to the series. All of this is information that the protagonists will need to manage and refer to collectively.

.sheet-Playset-Sheet-Protagonists
	.sheet-Playset-Sheet-Protagonists-Blocks
		.sheet-Left
			include playset-prompts.pug

			.sheet-Box.sheet-Purple
				.sheet-Box-Header
					+translate('Notes')
					.sheet-Box-Header-Icons
						+toggle('Toggle-Notes-Expand')
				+hidden('Toggle-Notes-Expand').sheet-hide-on-one
				.sheet-Notes
					+textarea('Protagonists-Notes')

			// Include this in the bottom left of every playset sheet
			include pick-playset-sheet.pug
		.sheet-Mid
			include playset-abilities.pug
			include playset-missions.pug
		.sheet-Right
			include playset-investigation.pug
			include playset-tracks.pug

			// This might actually need to be expanded to work exactly like it does on the Reference Sheet, rather than with this abbreviated content.
			include playset-rules.pug

			.sheet-Box.sheet-Purple
				.sheet-Box-Header
					+translate('XP')
					.sheet-Box-Header-Icons
						.sheet-XP-Track
							+xptrack('Playset-XP',8)
				.sheet-Box-Header.sheet-Box-Subsection
					+translate('Gaining XP')
					.sheet-Box-Header-Icons
						+toggle('Toggle-XP-Expand')
				+hidden('Toggle-XP-Expand').sheet-hide-on-one
				.sheet-Content
					+translate('At the end of each session, for each item below, mark 1xp (or 2xp if that item occurred multiple times).')
					.sheet-Playset-Abyss
						+translate('<ul><li>Successfully carried out a mission from the series’ list<li>Confront the world’s oppression, and comfort those who suffer<li>Explore the nature of the darkness, and redeem those who have fallen<li>Express the essential nature, origin, or destiny of the group</ul>')
					.sheet-Playset-Sky
						+translate('<ul><li>Successfully carried out a mission from the series’ list<li>Suffer the world’s oppression, and advance toward your tragic fate<li>Explore the nature of the Blight, and hunt your prey<li>Express the essential nature, origin, or destiny of the group')
					.sheet-Playset-Stars
						+translate('<ul><li>Successfully carried out a mission from the series’ list<li>Struggled with your place in the world, and protect the Last Bastion<li>Revealed the tragic history of the Bastion, Leviathans, and Engines<li>Express the essential nature, origin, or destiny of the group')
					.sheet-Playset-Dreams
						+translate('<ul><li>Successfully carried out a mission from the series’ list<li>Delve into the Conspiracy’s maze, and give solace to dreamers<li>Explore the inner world of suspects, and face their demons<li>Express the essential nature, origin, or destiny of the group')

			.sheet-Playset-Dreams
				.sheet-Box.sheet-Teal
					.sheet-Box-Header
						+translate('Avatar Virtues')
					.sheet-Content
						+translate('elegant, clever, brave, serene, bright, curious, playful, beautiful')
				.sheet-Box.sheet-Pink
					.sheet-Box-Header
						+translate('Avatar Desires')
					.sheet-Content
						+translate('supremacy, apotheosis, adoration, intimacy, overthrow, control, scandal, agency, escape, prestige, indulgence, truth')

			include playset-names.pug