include playbook-abilities-variables.pug

// Transcendent Abilities

.sheet-Box.sheet-Playbook-Selected
	.sheet-Box-Header
		.sheet-Box-Header-Text
			+translate('Special Abilities')
		.sheet-Box-Header-Icons
			+hideUnmarked('Toggle-Abilities-Marked')
			+toggle('Toggle-Abilities-Expand')
	+hidden('Toggle-Abilities-Expand').sheet-hide-on-one
	.sheet-Abilities-Block
		+hidden('Toggle-Abilities-Marked').sheet-unused-toggle
		each pbabs, pb in abilities
			- var abc = 0;
			each ability in pbabs
				-
					// Make sure the ability object is well-formed
					abc += 1;
					var abid = 'Ability-' + pb + '-' + abc;
					var tfid = 'Ability-' + pb + '-' + abc + '-Text';
					// What's the name
					if ( typeof(ability["name"]) == "undefined" ) {
						ability["name"] = "UNDEFINED";
					}
					// What's the effect
					if ( typeof(ability["effect"]) == "undefined" ) { 
						ability["effect"] = "UNDEFINED";
					}
					// Is it something with a toggle-box (true) or is it automatically taken (false)
					if ( typeof(ability["selectable"]) == "undefined" ) { 
						ability["selectable"] = false;
					}
					// Is it a transcendent ability rather than a special ability
					if ( typeof(ability["transcendent"]) == "undefined" ) { 
						ability["transcendent"] = false;
					}
					// Does it have a text field for recording a choice the ability requires
					if ( typeof(ability["textfield"]) == "undefined" ) { 
						ability["textfield"] = false;
					}
					// Can it be included as a veteran ability? (Ignored if selectable == false, but if selectable but shouldn't be a veteran ability, veteran should be set to false)
					if ( typeof(ability["veteran"]) == "undefined" ) { 
						ability["veteran"] = true;
					}
					// If it's a transcendent ability, do you pick from a list of all available, or does the ability object contain a single ability?
					if ( typeof(ability["picklist"]) == "undefined" ) { 
						ability["picklist"] = false;
					}
				if ( ! ability['transcendent'] )
					if ( ability['selectable'] )
						+hidden(abid,0).sheet-hide-if-unused
					else
						+hidden(abid,1).sheet-hide-if-unused
					.sheet-Ability
						div(class="sheet-Ability-Selector sheet-Playbook-"+pb)
							if ( ability['selectable'] )
								+abilityMark(abid)
						div(class="sheet-Ability-Text sheet-Playbook-"+pb)
							b 
								+translate(ability['name'])
							|: 
							+translate(ability['effect'])
							if ( ability['textfield'] )
								+text(tfid)
		+hidden('Ability-Veteran',0).sheet-hide-if-unused
		.sheet-Ability-Veteran-Header
			.sheet-Label
				+translate('Veteran ability')
		+hidden('Ability-Veteran',0).sheet-hide-if-unused
		.sheet-Ability
			.sheet-Ability-Selector
				+abilityMark('Ability-Veteran')
			.sheet-Ability-Text
				+select("Choose-Veteran-Ability")
					+option('(choose from any playbook)',"")
					each pbabs, pb in abilities
						option(value="0") ---------------------------
						each ability in pbabs
							if ( ( ability['selectable'] == true ) && ( ability['veteran'] == true ) && ( ability['transcendent'] == false ) )
								- var tf = 0; if ( ability['textfield'] ) { tf = 1; }
								+option(
									ability["name"] + " (" + playbooks[pb] + ")" ,
									ability["name"] + "|" + ability["effect"] + "|" + tf
								)
				+hidden('Ability-Veteran-Name').sheet-HideNull
				span
					b
						+display('Ability-Veteran-Name')
					|: 
					+display('Ability-Veteran-Effect')
					+hidden('Ability-Veteran-Has-Text').sheet-hide-on-zero
					+text('Ability-Veteran-Text')

// Transcendent Abilities

.sheet-Box.sheet-Teal.sheet-Playbook-Selected
	.sheet-Box-Header
		.sheet-Box-Header-Text
			+translate('Transcendent Abilities')
		.sheet-Box-Header-Icons
			+hideUnmarkedTranscendent('Toggle-Transcendent-Marked')
			+toggle('Toggle-Transcendent-Expand')
	+hidden('Toggle-Transcendent-Expand').sheet-hide-on-one
	.sheet-Abilities-Block
		+hidden('Toggle-Transcendent-Marked').sheet-unused-toggle
		each pbabs, pb in abilities
			- var abc = 0;
			each ability in pbabs
				if ( ability['transcendent'] )
					-
						abc += 1;
						var abid = 'Ability-Transcendent-' + pb + '-' + abc;
						var tfid = 'Ability-Transcendent-' + pb + '-' + abc + '-Text';
						// All the "well-formed" stuff should've been handled in the special abilities section, so we don't need to do the same checks this go-around.
					// All transcendent abilities are selectable
					+hidden(abid,0).sheet-hide-if-unused
					.sheet-Ability
						div(class="sheet-Ability-Selector sheet-Playbook-"+pb)
							if ( ability['selectable'] )
								+abilityMarkTranscendent(abid)
						div(class="sheet-Ability-Text sheet-Playbook-"+pb)
							if ( ability['picklist'] )
								// Then we're doing a pick-list one, not a standard one
								- var ctabid = "Choose-Ability-Transcendent-"+pb+'-'+abc;
								+select(ctabid)
									+option('(choose from any playbook)',"")
									each tabs, tb in abilities
										option(value="0") ---------------------------
										each tab in tabs
											if ( ( tab['picklist'] == false ) && ( tab['transcendent'] == true ) )
												- var tf = 0; if ( tab['textfield'] ) { tf = 1; }
												+option(
													tab["name"] + " (" + playbooks[tb] + ")" ,
													tab["name"] + "|" + tab["effect"] + "|" + tf
												)
								+hidden(abid+'-Name').sheet-HideNull
								span
									b
										+display(abid+'-Name')
									|: 
									+display(abid+'-Effect')
									+hidden(abid+'-Has-Text').sheet-hide-on-zero
									+text(abid+'-Text')
							else
								b 
									+translate(ability['name'])
								|: 
								+translate(ability['effect'])
								if ( ability['textfield'] )
									+text(tfid)
