.sheet-Box
	.sheet-Box-Header
		+translate('XP')
		.sheet-Box-Header-Icons
			+xptrack('Playbook-XP',8)
			// +toggle('Toggle-Bio-Expand')
	// +hidden('Toggle-Bio-Expand').sheet-hide-on-one
	.sheet-Bio-Block
