.sheet-Box.sheet-Teal.sheet-Playbook-Selected
	.sheet-Box-Header
		+translate('Transcendence')
		.sheet-Box-Header-Icons
			+toggle('Toggle-Stress-Expand')
	+hidden('Transcendence-Total',0).sheet-Stress-Total
	+hidden('Toggle-Transcendence-Expand').sheet-hide-on-one
	.sheet-Transcendence-Track
		span.sheet-Playbook-Enigma.sheet-Playbook-Stranger.sheet-Playbook-TimeTraveller.sheet-Playbook-Harmony.sheet-Playbook-Guardian.sheet-Playbook-Outsider

			+starMark('Transcendence-1')
		- var i = 2;
		while i <= 4
			+starMark('Transcendence-'+i)
			- i++;
