.sheet-Box.sheet-Pink.sheet-Playbook-Selected
	.sheet-Box-Header
		+translate('Stress')
		.sheet-Box-Header-Icons
			+toggle('Toggle-Stress-Expand')
	+hidden('Stress-Total',0).sheet-Stress-Total
	+hidden('Toggle-Stress-Expand').sheet-hide-on-one
	.sheet-Stress-Track
		- var i = 1;
		while i <= 8
			+stressMark('Stress-'+i)
			- i++;