// The adversary sheet has the series agenda and principles for the director, the fallout table, and the adversary track, as well as any series rules that the director will need to use. This sheet is primarily for the director to reference during play. These are named after the adversity central to each series: The Abyss, The Blight, The Void, and The Conspiracy.

.sheet-Playset-Sheet-Adversary
	.sheet-Playset-Sheet-Adversary-Blocks
		.sheet-Left

			.sheet-Box.sheet-Purple
				.sheet-Box-Header
					+translate('Series Agenda')
					.sheet-Box-Header-Icons
						+toggle('Toggle-Agenda-Expand')
				+hidden('Toggle-Agenda-Expand').sheet-hide-on-one
				.sheet-Agenda
					.sheet-Playset-Abyss
						.sheet-Box-Header.sheet-Box-Subsection 
							+translate('Give monsters human hearts')
						.sheet-Content
							+translate('<p>When including monsters in your fiction, they should be driven by emotion that the protagonists can recognize. <p>If they have human hearts, then monsters have hope of being reconciled, redeemed, or perhaps made human once more.<p>Use these monsters to show the nature of the Abyss, and to stand as a warning of the cost of failure for the protagonists.')
						.sheet-Box-Header.sheet-Box-Subsection 
							+translate('Make adversaries, not villains')
						.sheet-Content
							+translate('<p>Give adversity human faces, with motives that justify their antagonistic position. <p>Think about what emotions or circumstances drove the antagonists to this action. <p>Look for opportunities to show the protagonists the true nature of their adversaries. <p>Show how, if circumstances were different, the antagonists might have been allies or friends. <p>Use these adversaries to tempt the protagonists with twisted reflections of their own goals.')
						.sheet-Box-Header.sheet-Box-Subsection 
							+translate('Let the mundane world give voice to the Abyss')
						.sheet-Content
							+translate('<p>The Abyss is just as much part of the day to day mundane struggles of the protagonists, as it is responsible for the supernatural perils that they contend with. <p>Use mundane supporting characters to embody this. Their actions and words are humble, insidious reflections of the loftier and more obvious magical threat. <p>Magical and mundane troubles are rooted in the same themes, and carry the same gravity for the world and the protagonists.')
					.sheet-Playset-Sky
						.sheet-Box-Header.sheet-Box-Subsection 
							+translate('Drive the virtuous to ruin')
						.sheet-Content
							+translate('<p>Whether it is the protagonists, or supporting characters, aim to put them in difficult positions that call their principles into question. <p>Give them dilemmas in which all solutions compromise them in some way. In the case of supporting characters, have them let the protagonists down, betray their confidence, or prove unable to uphold their words with action. <p>Exact a painful price for their virtue, and push them to betray their principles.')
						.sheet-Box-Header.sheet-Box-Subsection 
							+translate('Show them pieces of themselves in their adversaries')
						.sheet-Content
							+translate('<p>Adversity in this series should act as an ominous example of a twisted fate that the protagonists might suffer. Former friends who betrayed them, blighted heroes who ultimately fell short of their potential, and hopeful souls betrayed by their own naivety. <p>These figures should be relatable, tragic, and every bit a match for the protagonists. <p>When facing defeat, these adversaries refuse redemption and opt for grim, fatalistic choices.')
						.sheet-Box-Header.sheet-Box-Subsection 
							+translate('Entrap them in dystopia')
						.sheet-Content
							+translate('<p>The mundane world is profoundly broken and dysfunctional. It is almost openly complicit in the Blight’s agenda. Its efforts to save itself all serve only to hasten its unravelling.<p>Society’s institutions actively victimize people, communities close ranks and reject outsiders, and paranoia and scarcity leave people bereft of their basic needs.')
						.sheet-Box-Header.sheet-Box-Subsection 
							+translate('Embrace dramatic irony, betrayal, and tragedy')
						.sheet-Content
							+translate('<p>This series thrives on these challenging elements, and everyone is at the table to revel in them.<p>Lean heavily into the answers given in the series set-up regarding the protagonists’ tragic fate.<p>Give them opportunities to play into that fate, and trust the protagonists to be excited about it.')
					.sheet-Playset-Stars
						.sheet-Box-Header.sheet-Box-Subsection 
							+translate('The institutions of the Bastion are also monstrous')
						.sheet-Content
							+translate('<p>While the Leviathans seek to destroy the Bastion from the outside, the institutions of the Bastion are rotting it from within.<p>If ever the Leviathans are contained or under control, bring institutional pressure to bear instead.<p>The institutions of the Bastion make impossible demands of those who work in them, and turn otherwise good people into tools of oppression.<p>Rigid ranks and orders leave the institutions unable to adapt to changing circumstances, or be kind to anyone serving them.')
						.sheet-Box-Header.sheet-Box-Subsection 
							+translate('Give the engines huge emotional landscapes')
						.sheet-Content
							+translate('<p>The Engines are not simply machines that do exactly as the pilots direct them to—they are sentient beings, with emotions at once familiar and vastly alien.<p>The Engines likely cannot communicate directly, but their hearts are an immense weight that the protagonists must bear. Often they must be convinced or cajoled to act at all, and their impulses may drive them to contrary actions.<p>Should the Engines ever lose hope, and give up the fight, humanity is doomed to extinction.')
						.sheet-Box-Header.sheet-Box-Subsection 
							+translate('Make the Leviathans fundamentally alien')
						.sheet-Content
							+translate('<p>The Leviathans’ goals and methods are strange, and ultimately unknowable.<p>Offer only fragments of understanding.<p>The pilots might find ways to relate to them, but the Leviathans will not be reconciled with the Bastion’s institutions.')
					.sheet-Playset-Dreams
						.sheet-Box-Header.sheet-Box-Subsection 
							+translate('Entangle every character in the Conspiracy')
						.sheet-Content
							+translate('<p>Connect everyone to the conspiracy in some way. Think of direct connections, like membership in a secret society or perilous online delving, but also indirect connections, like having a friend who was changed by the Conspiracy, or an artist whose work the Conspiracy has co-opted.<p>Have traces of the Conspiracy appear in unexpected places and ways, infringing even on the protagonists’ most safe and private spaces.')
						.sheet-Box-Header.sheet-Box-Subsection 
							+translate('Let the suspect’s inner worlds spill over')
						.sheet-Content
							+translate('<p>When in the mundane world, show the suspects’ interior life through body language, what they say, and what they don’t say.<p>In their dreams, their inner world spills forth, and exists concretely—as embodied symbols and manifested metaphors. A suspect’s dream shows their personal reflection of the broader tensions and themes at play in the story.<p>Incorporate visual motifs that are shared across the suspects, and use them to adorn each suspect’s personal memories and traumas.')
						.sheet-Box-Header.sheet-Box-Subsection 
							+translate('Make suspects sympathetic in motivation, and appalling in their actions')
						.sheet-Content
							+translate('<p>Give suspects well intentioned or relatable reasons for getting involved in the Conspiracy. Then show how this leads to them doing unconscionable acts, in service to their hearts desires.<p>Let us see the Conspiracy twisting their desires, and ultimately corrupting them.')
						.sheet-Box-Header.sheet-Box-Subsection 
							+translate('Bury them in everyday details')
						.sheet-Content
							+translate('<p>Dreams are built out of mundane places and objects, but twisted and turned surreal. The mundane world, while seemingly ordered and sensible, is filled with dizzying human creations and constant activity.<p>Show how their attunement to dreams makes them sensitive to this immensity, even in the mundane world.<p>Build a labyrinth for the protagonists out of routine and pressure, make them feel tiny and alone.')
						.sheet-Box-Header.sheet-Box-Subsection 
							+translate('Avatars are amoral alien egos')
						.sheet-Content
							+translate('<p>The protagonists’ Avatars are not strictly on their side. They are powerful, capricious, and exist to fulfill their own desires.<p>Their power comes at a cost, sometimes obvious, other times subtle and insidious, and always paid by the protagonists.<p>Lead them towards an inevitable reckoning: sooner or later, it must be decided who is truly in control.')

			.sheet-Box.sheet-Purple
				.sheet-Box-Header
					+translate('Judgment Calls')
					.sheet-Box-Header-Icons
						+toggle('Toggle-Judgment-Expand')
				+hidden('Toggle-Judgment-Expand').sheet-hide-on-one
				.sheet-Judgment
					.sheet-Playset-Abyss
						+translate('<ul><li>Use smaller consequences to set up larger more severe consequences later.<li>By finding clever approaches, or appealing to the hearts of their foes, even mundane characters may be able to act with standard effect against supernatural threats.<li>Transcended protagonists can achieve moments of total triumph, redeeming their foes, and making the world meaningfully better.<li>Reserve the brightest triumphs, and most sweeping successes for situations where the protagonists work together.</ul>')
					.sheet-Playset-Sky
						+translate('<ul><li>Shift the evaluation of position towards more desperate actions.<li>Resisting consequences should rarely if ever avoid them completely: wounds will leave scars, both physical and emotional.<li>Characters will often have less control over outcomes of their actions, especially desperate actions.</ul>')
					.sheet-Playset-Stars
						+translate('<ul><li>When the protagonists make mistakes, people die, buildings are ruined, and things are lost that cannot be recovered.<li>Whenever something is damaged or lost, consider its effect on the pilots, or their engines.<li>Should a protagonist find themselves acting against a Leviathan without their engine, the stakes will primarily be survival and escape.<li>When the protagonists are piloting an Engine but not transcended, they will typically be outmatched, reacting and struggling to keep pace with the Leviathans.</ul>')
					.sheet-Playset-Dreams
						+translate('<ul><li>Keep the majority of the action in dreams grounded, and tangible.<li>Give extra weight to actions that play into the emotional fabric of the dream.<li>Reward actions that make use of the internal logic of the dream with better position or effect.<li>Breaking the dream’s logic, or directly confronting the dreamer’s psyche, leads to extreme consequences and outcomes, fraying the edges of the dream world.</ul>')

			// Include this in the bottom left of every playset sheet
			include pick-playset-sheet.pug
		.sheet-Mid

			.sheet-Box.sheet-Purple
				.sheet-Box-Header
					+translate('Director Principles')
					.sheet-Box-Header-Icons
						+toggle('Toggle-Principles-Expand')
				+hidden('Toggle-Principles-Expand').sheet-hide-on-one
				.sheet-Principles
					+translate('<ul><li>Be a fan of the other players<li>Address the characters<li>Address the players<li>Ask questions and build on the answers<li>Express consequences by way of the fiction first</ul>')

			// used in more than one place

			include playset-tracks.pug

			.sheet-Box.sheet-Purple
				.sheet-Box-Header
					+translate('Fallout')
					.sheet-Box-Header-Icons
						+toggle('Toggle-Fallout-Expand')
				+hidden('Toggle-Fallout-Expand').sheet-hide-on-one
				.sheet-Tracks
					.sheet-Playset-Abyss
						.sheet-Box-Header.sheet-Box-Subsection 
							+translate('Tier I')
						.sheet-Content
							ul
								li
									b 1-3: 
									+translate('An enemy acts against the group')
								li
									b 4/5: 
									+translate('A friend needs urgent help')
								li
									b 6: 
									+translate('Omens loom in the mundane world')
						.sheet-Box-Header.sheet-Box-Subsection 
							+translate('Tier II')
						.sheet-Content
							ul
								li
									b 1-3: 
									+translate('An enemy is embraced by the abyss')
								li
									b 4/5: 
									+translate('Agents of the abyss stalk a friend')
								li
									b 6: 
									+translate('An obligation causes trouble for the group')
						.sheet-Box-Header.sheet-Box-Subsection 
							+translate('Tier III')
						.sheet-Content
							ul
								li
									b 1-3: 
									+translate('The abyss advances its agenda')
								li
									b 4/5: 
									+translate('A friend succumbs to the abyss')
								li
									b 6: 
									+translate('An important place falls to the abyss')

					.sheet-Playset-Sky
						.sheet-Box-Header.sheet-Box-Subsection 
							+translate('Tier I')
						.sheet-Content
							ul
								li
									b 1-3: 
									+translate('A dread power makes itself known')
								li
									b 4/5: 
									+translate('An obligation becomes grotesque')
								li
									b 6: 
									+translate('A friend asks a favour')
						.sheet-Box-Header.sheet-Box-Subsection 
							+translate('Tier II')
						.sheet-Content
							ul
								li
									b 1-3: 
									+translate('An enemy is empowered by Blight')
								li
									b 4/5: 
									+translate('Agents of dystopia accost a protagonist')
								li
									b 6: 
									+translate('A friend is taken by rival hunters')
						.sheet-Box-Header.sheet-Box-Subsection 
							+translate('Tier III')
						.sheet-Content
							ul
								li
									b 1-3: 
									+translate('The Blight advances its agenda')
								li
									b 4/5: 
									+translate('Hunters stage an ambush')
								li
									b 6: 
									+translate('A friend is lost to the Blight')

					.sheet-Playset-Stars
						.sheet-Box-Header.sheet-Box-Subsection 
							+translate('Tier I')
						.sheet-Content
							ul
								li
									b 1-3: 
									+translate('Dissent spreads in the Bastion')
								li
									b 4/5: 
									+translate('An engine is reassigned')
								li
									b 6: 
									+translate('Institutions pressure the pilots')
						.sheet-Box-Header.sheet-Box-Subsection 
							+translate('Tier II')
						.sheet-Content
							ul
								li
									b 1-3: 
									+translate('Strife breaks out in the Bastion')
								li
									b 4/5: 
									+translate('An engine goes dormant')
								li
									b 6: 
									+translate('A pilot is reprimanded')
						.sheet-Box-Header.sheet-Box-Subsection 
							+translate('Tier III')
						.sheet-Content
							ul
								li
									b 1-3: 
									+translate('A Leviathan infiltrates the Bastion')
								li
									b 4/5: 
									+translate('An engine breaks down')
								li
									b 6: 
									+translate('The pilots are assigned an overseer')
						.sheet-Box-Header.sheet-Box-Subsection 
							+translate('Additional Fallout Rules')
						.sheet-Content
							+translate('<p>When the pilots pursue a mission that leaves the Bastion exposed, or internal strife and politics are left unchecked, roll the Readiness tier.<ul><li><b>On a 6</b>, the Bastion handles the trouble, and grows complacent, reduce Readiness by 1 after it drops by half at mission end.<li><b>On a 4/5</b>, the Bastion weathers the trouble. The Last Bastion track reduces by one. There is resentment of the pilots among the citizens.<li><b>On a 1-3</b>, it’s a disaster. The Bastion track reduces by 3, and the pilots must answer for it.<li><b>On a critical success</b>, the Bastion handles the trouble, and rallies around the cause, Readiness does not reduce during fallout.')

					.sheet-Playset-Dreams
						.sheet-Box-Header.sheet-Box-Subsection 
							+translate('Tier I')
						.sheet-Content
							ul
								li
									b 1-3: 
									+translate('An agent of the Conspiracy acts')
								li
									b 4/5: 
									+translate('A suspect reveals their complicity')
								li
									b 6: 
									+translate('A suspect lets slip a terrible secret')
						.sheet-Box-Header.sheet-Box-Subsection 
							+translate('Tier II')
						.sheet-Content
							ul
								li
									b 1-3: 
									+translate('The Conspiracy acts on its agenda')
								li
									b 4/5: 
									+translate('A suspect is put in danger')
								li
									b 6: 
									+translate('The dream bleeds into the waking world')
						.sheet-Box-Header.sheet-Box-Subsection 
							+translate('Tier III')
						.sheet-Content
							ul
								li
									b 1-3: 
									+translate('The Conspiracy makes a suspect its host')
								li
									b 4/5: 
									+translate('The dream claims a suspect')
								li
									b 6: 
									+translate('A suspect weaponizes the dream')
			// Used in more than one place
			include playset-names.pug
		.sheet-Right
			.sheet-Box.sheet-Purple
				.sheet-Box-Header
					+translate('Notes')
				.sheet-Notes
					+textarea('Adversary-Notes')