.sheet-Box.sheet-Teal
	.sheet-Box-Header
		+translate('Player Agenda')
		.sheet-Box-Header-Icons
			+toggle('Toggle-Agenda-Expand')
	+hidden('Toggle-Agenda-Expand').sheet-hide-on-one
	.sheet-Agenda-Block
		+translate('<ul><li>Play to find out what happens<li>Be a fan of the other players<li>Reveal your inner world<li>Hold on, but lightly<li>Keep hope in your heart<li>See things through a queer lens<li>Explore the darkness</ul>')