.sheet-Box.sheet-Pink.sheet-Playbook-Selected
	.sheet-Box-Header
		+translate('Stress')
		.sheet-Box-Header-Icons
			+toggle('Toggle-Stress-Expand')
	+hidden('Stress-Total',0).sheet-Stress-Total
	+hidden('Toggle-Stress-Expand').sheet-hide-on-one
	.sheet-Stress-Track
		- var i = 1;
		while i <= 9
			+stressMark('Stress-'+i)
			- i++;
	+hidden('Stress-9').sheet-hide-on-zero
	.sheet-Stress-Warning
		+translate('in danger of eclipse!')
	.sheet-Box-Header.sheet-Box-Subsection
		+translate('Eclipse Roll')
		.sheet-Box-Header-Icons
			+toggle('Toggle-Eclipse-Roll-Expand',1)
	+hidden('Toggle-Eclipse-Roll-Expand',1).sheet-hide-on-one
	.sheet-Stress-Eclipse-Roll
		.sheet-Eclipse-Roll-Stripe
			+hidden('Moon-Resist-Total')
			+hidden('Sun-Resist-Total')
			+hidden('Stars-Resist-Total')
			+hidden('Sun-Eclipse-Eligible',0).sheet-hide-on-zero
			span
				button(name="roll_Eclipse-Sun", type="roll", value="&{template:GBM} {{charname=@{character_name}}} @{Sun-Eclipse-Roll-Formula} {{title=^{Eclipse Roll}}} {{short=yes}} {{eclipse=^{Sun}}}").sheet-buttonless
					+translate('Sun')
					|:
					+display('Sun-Resist-Total')
					|d
			+hidden('Moon-Eclipse-Eligible',0).sheet-hide-on-zero
			span
				+hidden('Sun-Eclipse-Eligible',0).sheet-hide-on-zero
				span &bull; 
				button(name="roll_Eclipse-Moon", type="roll", value="&{template:GBM} {{charname=@{character_name}}} @{Moon-Eclipse-Roll-Formula} {{title=^{Eclipse Roll}}} {{short=yes}} {{eclipse=^{Moon}}}").sheet-buttonless
					+translate('Moon')
					|:
					+display('Moon-Resist-Total')
					|d
			+hidden('Stars-Eclipse-Eligible',0).sheet-hide-on-zero
			span
				+hidden('Sun-Eclipse-Eligible',0).sheet-hide-on-zero
				span &bull; 
				+hidden('Moon-Eclipse-Eligible',0).sheet-hide-on-zero
				span
					+hidden('Sun-Eclipse-Eligible',0).sheet-hide-on-one
					span &bull; 
				button(name="roll_Eclipse-Stars", type="roll", value="&{template:GBM} {{charname=@{character_name}}} @{Stars-Eclipse-Roll-Formula} {{title=^{Eclipse Roll}}} {{short=yes}} {{eclipse=^{Stars}}}").sheet-buttonless
					+translate('Stars')
					|:
					+display('Stars-Resist-Total')
					|d
		p
			+translate('When you reach or exceed your stress limit, you roll for eclipse using your lowest attribute. While at your stress limit and not in eclipse, any additional stress you would take instead triggers another eclipse roll.<ul><li><b>1-3</b>: You are in eclipse.<li><b>4/5</b>: Another protagonist can push themselves or spend a link to keep you from succumbing. If they do not, treat it as a 1-3 result and you are in eclipse.<li><b>6</b>: You hold on to hope, and stay in the struggle. The next time you take stress, roll for eclipse again.</ul><p>On a <b>critical success</b>, erase 1 spent segment of your transcendence track, and recover 5 stress. In addition, on a critical:<ul><li>If <b>sun</b> was rolled, each other player advances their recovery clock by 2.<li>If <b>moon</b> was rolled, each other player recovers 2 stress.<li>If <b>stars</b> was rolled, each other player resets their armour and special armour uses.')
	.sheet-Box-Header.sheet-Box-Subsection
		+translate('Eclipse')
		.sheet-Box-Header-Icons
			+toggle('Toggle-Eclipse-Expand',1)
	+hidden('Toggle-Eclipse-Expand',1).sheet-hide-on-one
	.sheet-Stress-Eclipse
		p
			b
				+translate('When you eclipse—')
			i
				+translate('Who you really are clearly isn’t enough; only the mask is worthy of their love. You reject all aspects of your everyday self, and embrace the most superficial aspects of your persona. Give them what you know they want—effortless beauty, and extravagant drama!').sheet-Playbook-Enigma
				+translate('No more wasting time with ‘friends’ or ‘feelings’, they just get in the way. It’s time to focus on something real and tangible, something that makes sense. You find a concrete, rational, and entirely impossible task to pursue to the exclusion of all else.').sheet-Playbook-Stranger
				+translate('You’ve known all along that changing fate was impossible, yet here you are. So much wasted effort, wasted time. If this fate was inevitable, why not embrace it? You set aside caution for instinct, and pursue a direct course of action, heedless of consequence.').sheet-Playbook-TimeTraveller
				+translate('You are fractured. A sour note has shattered your harmony, and now there is uncertainty, and conflict. Your relationship, once a source of strength, is suddenly tenuous. You are divided, and a difference of opinions keeps you separated.').sheet-Playbook-Harmony
				+translate('Your shining example is not enough. This world is rotten to its core, corrupted by those too weak-willed to follow even the simplest rules. The slightest breach of your code must be met with uncompromising justice. Punish them until they repent.').sheet-Playbook-Guardian
				+translate('Your friends are leeches and sycophants who will never wield real power. The strong do not owe the weak an explanation. Pursue your goals in the most violent and cruel manner you can. Doubly so if it would put your rival in their place.').sheet-Playbook-Outsider
				+translate('You are not who they need you to be. You’re weak, useless, unworthy of their friendship. They have given so much to you, and in return you give them nothing. You throw yourself into danger, desperately seeking any way you might possibly be of use.').sheet-Playbook-UnlikelyHero
		p
			b
				+translate('You escape eclipse')
			| 
			i 
				+translate('when someone shows you the truth of their heart, and you reveal your identity to them. They add a promise about keeping your secret.').sheet-Playbook-Enigma
				+translate('when someone works alongside you on your task, without judgement, and you let the task go incomplete and unresolved.').sheet-Playbook-Stranger
				+translate('when your fated person defies your predictions and shows you they can alter the course of fate. Change either your fated person, their fate, or both.').sheet-Playbook-TimeTraveller
				+translate('when someone else mediates your dispute, and your halves are able to reconcile their differences.').sheet-Playbook-Harmony
				+translate('when someone shows you something pure and beautiful, and you set aside your crusade.').sheet-Playbook-Guardian
				+translate('when you see that your rival isn’t intimidated by you, and the two of you accomplish something together. You may choose a new rival.').sheet-Playbook-Outsider
				+translate('only when someone engages you in a dialogue about your feelings, and shows you that they have felt the same.').sheet-Playbook-UnlikelyHero
