.sheet-bigname.sheet-Purple
	span.sheet-Playset-Abyss
		span.sheet-Icon-Abyss
	span.sheet-Playset-Dreams
		span.sheet-Icon-Dreams
	span.sheet-Playset-Sky
		span.sheet-Icon-Sky
	span.sheet-Playset-Stars
		span.sheet-Icon-Stars
	| &nbsp;
	span.sheet-Playset-Sheet-Protagonists
		+translate("Protagonists’ Sheet")
	span.sheet-Playset-Sheet-Adversary
		+translate("Adversary Sheet")
		|  &bull; 
		span.sheet-Playset-Abyss
			+translate("The Abyss")
		span.sheet-Playset-Dreams
			+translate("The Conspiracy")
		span.sheet-Playset-Sky
			+translate("The Blight")
		span.sheet-Playset-Stars
			+translate("The Void")
	span.sheet-Playset-Sheet-Reference
		+translate("Series Reference")
	span.sheet-Playset-Sheet-Creation
		+translate("Series Creation Workspace")