.sheet-Box
	.sheet-Box-Header
		+translate('Teamwork')
		.sheet-Box-Header-Icons
			+toggle('Toggle-Teamwork-Expand')
	+hidden('Toggle-Teamwork-Expand').sheet-hide-on-one
	.sheet-Teamwork-Block
		+translate('<ul><li><b>Assist</b> a teammate<li><b>Lead</b> a group action<li><b>Set up</b> a teammate<li><b>Protect</b> a teammate</ul>')