.sheet-Box.sheet-Purple
	.sheet-Box-Header
		+translate('Playset & Playbook')
		.sheet-Box-Header-Icons
			+toggle('Toggle-Picker-Expand')
	+hidden('Toggle-Picker-Expand').sheet-hide-on-one
	.sheet-Bio-Block
		.sheet-Label
			+translate('Playset')
		.sheet-Field
			+select("Playset")
				+option("Choose a Playset","0")
				each ps, key in playsets
					+option(ps,key)
		.sheet-Label
			+translate('Playbook')
		.sheet-Field
			+select("Playbook")
				+option("Select a Playbook","")
				each pb, key in playbooks
					+option(pb,key)
