.sheet-Box.sheet-Pink.sheet-Playbook-Selected
	.sheet-Box-Header
		+translate('Harm')
		.sheet-Box-Header-Icons
			+toggle('Toggle-Harm-Expand')
	+hidden('Toggle-Harm-Expand').sheet-hide-on-one
	.sheet-Harm-Track
