.sheet-Box.sheet-Playbook-Selected.sheet-Teal
	.sheet-Box-Header
		+translate('Gather Info')
		.sheet-Box-Header-Icons
			+toggle('Toggle-GatherInfo-Expand')
	+hidden('Toggle-GatherInfo-Expand').sheet-hide-on-one
	.sheet-GatherInfo-Block
		+translate('<ul><li>What does [X] intend to do?<li>Who here is keeping secrets?<li>Where can I find [X]?<li>Where’s the vulnerability here?<li>Where can I stay hidden?<li>What does [X] really want?</ul>').sheet-Playbook-Enigma
		+translate('<ul><li>What is hidden here?<li>Where can I gain an edge?<li>What is the purpose of [X]?<li>Who/what doesn’t belong here?<li>What might happen if I [X]?<li>Who/what here is isolated or alone?</ul>').sheet-Playbook-Stranger
		+translate('<ul><li>What do I remember about [X]?<li>What really happen(s/ed) here?<li>What defies the flow of time?<li>What is already in motion here?<li>What might happen if I [X]?<li>What is different about [X] this time?</ul>').sheet-Playbook-TimeTraveller
		+translate('<ul><li>Who here can best help me?<li>What are you really feeling?<li>Who here is at their limit?<li>How are [X] and [Y] connected?<li>Who here feels alone?<li>What here is incomplete?</ul>').sheet-Playbook-Harmony
		+translate('<ul><li>What is most dangerous here?<li>Who here is afraid?<li>How can I help [X]?<li>Who will my foes try to single out?<li>Who here is willing to do violence?<li>Who here is hurting?</ul>').sheet-Playbook-Guardian
		+translate('<ul><li>Where’s my rival, what are they doing?<li>What are your secret pains?<li>How can I gain an edge here?<li>What’s the danger no one else sees?<li>What’s really going on here?<li>What here can be broken?</ul>').sheet-Playbook-Outsider
		+translate('<ul><li>What is most dangerous here?<li>Who here is feeling [X]?<li>What are you really feeling?<li>Who here is strong or vulnerable?<li>Where can I find beauty here?<li>What are your unmet needs?</ul>').sheet-Playbook-UnlikelyHero
		+translate('<b>When you roll...</b><ul><li><b>1-3</b>: 1 question.<li><b>4-5</b>: 1 question and 1 follow-up.<li><b>6</b>: 2 questions and 1 follow-up.<li><b>Critical</b>: Improved effect, additional questions, or volunteered information.</ul>')