-
	var playbooks = { 
		"Enigma": "Enigma", 
		"Stranger": "Stranger", 
		"TimeTraveller": "Time Traveller", 
		"Harmony": "Harmony", 
		"Guardian": "Guardian", 
		"Outsider": "Outsider", 
		"UnlikelyHero": "Unlikely Hero"
	};

	var playsets = {
		"abyss": "At the Brink of the Abyss",
		"sky": "Beneath a Rotting Sky",
		"stars": "On a Sea of Stars",
		"dreams": "In a Maze of Dreams"
	};