-
	var translations = { 
		"Series Playset": "Series Playset",
		"Choose a Series Playset": "(Choose a Series Playset)",
		"Choose a Playset": "(Choose a Playset)",
		"At the Brink of the Abyss": "At the Brink of the Abyss", 
		"Beneath a Rotting Sky": "Beneath a Rotting Sky", 
		"On a Sea of Stars": "On a Sea of Stars", 
		"In a Maze of Dreams": "In a Maze of Dreams",
		"Select a Playbook": "(Select a Playbook)",
		"Position": "Position",
		"Risky": "Risky",
		"Controlled": "Controlled",
		"Desperate": "Desperate",
		"Fortune": "Fortune",
		"Effect": "Effect",
		"Standard": "Standard",
		"Limited": "Limited",
		"Great": "Great",
		"Extreme": "Extreme",
		"Zero": "Zero",
		"Number of Dice": "Number of Dice",
		"Bonus Dice": "Bonus Dice",
		"Transcendent?": "Transcendent?",
		"Yes": "Yes",
		"No": "No",
		"Roll-Describe-Sun": "Sun: Resist consequences from violence and fear.",
		"Roll-Describe-Moon": "Moon: Resist consequences from despair and heartbreak.",
		"Roll-Describe-Stars": "Stars: Resist consequences from panic and social pressure.",
		"Roll-Describe-Analyze": "When you analyze, you search beyond the surface presentation of the world, and discover secrets. You might study an ancient book for information on magic rituals. You might discern a gap in your foe’s defences.",
		"Roll-Describe-Conceal": "When you conceal, you hide your true intentions and feelings. You might pass unnoticed, as just another face in the crowd. You might choke down your true feelings and lie to someone.",
		"Roll-Describe-Confess": "When you confess, you expose the inner world of your thoughts and feelings to another. You might reveal to someone that it was you who left anonymous gifts at their doorstep. You might admit to a friend that you were once a servant of the evil empress.",
		"Roll-Describe-Defy": "When you defy, you muster your courage and face opposition head on. You might stand up to a bully, fixing them with a stern glare. You might unleash your mightiest attack against a dangerous foe.",
		"Roll-Describe-Empathize": "When you empathize, you understand a person intuitively, and feel their emotions as if they were your own. You might listen to someone’s story, and gain an understanding of their perspective. You might touch a horrifying monster, and feel the frightened heart that beats within it.",
		"Roll-Describe-Express": "When you express, you use words with an agenda in mind. You might teach someone a valuable lesson about friendship. You might convince a longtime rival to work with you for a time to solve a shared problem.",
		"Roll-Describe-Flow": "When you flow, you move with grace and adapt to your circumstances. You might leap across a gap to reach safety. You might act in accordance with other’s expectations.",
		"Roll-Describe-Forgive": "When you forgive, you show that you care for someone despite a mistake they have made. You might offer a chance for reconciliation to a friend that wronged you. You might embrace a monster that was once human, in the hopes that it might be human again someday.",
		"Roll-Describe-Perceive": "When you perceive, you see the world as it presents itself, without judgement. You might observe someone and note their daily routine. You might see the beauty present in even the darkest and strangest corners of the world.",
	};

	var playbooks = { 
		"Enigma": "Enigma", 
		"Stranger": "Stranger", 
		"TimeTraveller": "Time Traveller", 
		"Harmony": "Harmony", 
		"Guardian": "Guardian", 
		"Outsider": "Outsider", 
		"UnlikelyHero": "Unlikely Hero"
	};

	var playsets = {
		"abyss": "At the Brink of the Abyss",
		"sky": "Beneath a Rotting Sky",
		"stars": "On a Sea of Stars",
		"dreams": "In a Maze of Dreams"
	};

	// Used in sheet-worker.pug

	var pbkeys = [
		"Enigma", 
		"Stranger", 
		"TimeTraveller", 
		"Harmony", 
		"Guardian", 
		"Outsider", 
		"UnlikelyHero"
	];
	var toggles = [
		"Ability-Veteran",
		"Toggle-Abilities-Expand",
		"Toggle-Abilities-Marked",
		"Toggle-Agenda-Expand",
		"Toggle-Bio-Expand",
		"Toggle-BonusDie-Expand",
		"Toggle-Clocks-Expand",
		"Toggle-Downtime-Expand",
		"Toggle-Eclipse-Expand",
		"Toggle-Eclipse-Roll-Expand",
		"Toggle-Gaining-XP-Expand",
		"Toggle-GatherInfo-Expand",
		"Toggle-Harm-Expand",
		"Toggle-Links-Expand",
		"Toggle-Links-Spend-Expand",
		"Toggle-Notes-Expand",
		"Toggle-Obligation-Roll-Expand",
		"Toggle-Stress-Expand",
		"Toggle-Teamwork-Expand",
		"Toggle-Transcendence-Expand",
		"Toggle-Transcendent-Expand",
		"Toggle-Transcendent-Marked",
	];

	var toggleclicks = "";
	var clicks = 0;
	// Bulk toggle creation (enumerated)
	for(var i = 1; i < 10; i++) {
		for(var pb of pbkeys) {
			var field = 'Ability-' + pb + '-' + i;
			toggles.push(field);
			field = 'Ability-Transcendent-' + pb + '-' + i;
			toggles.push(field);
			// field = 'Stress-' + i;
			// toggles.push(field);
		}
	}
	for(var i of toggles) {
		clicks++;
		if ( clicks > 1 )
			toggleclicks = toggleclicks + " ";
		toggleclicks = toggleclicks + "clicked:" + i;
	}

	var stressclicks = "";
	var stressfields = "";
	stressfields = "[";
	for(var i = 1; i <= 9; i++) {
		if ( i > 1 )
			stressclicks = stressclicks + " "; 
		// I don't know why pug requires this to be a separate thing, but it sure fucking did, so here we go
		if ( i > 1 )
		  stressfields = stressfields + ", ";
		stressclicks = stressclicks + "clicked:Stress-" + i;
		stressfields = stressfields + '"'+"Stress-"+i+'"';
	}
	stressfields = stressfields + "]";

	var transclicks = "";
	var transfields = "";
	transfields = "[";
	for(var i = 1; i <= 4; i++) {
		if ( i > 1 )
			transclicks = transclicks + " "; 
		// I don't know why pug requires this to be a separate thing, but it sure fucking did, so here we go
		if ( i > 1 )
		  transfields = transfields + ", ";
		transclicks = transclicks + "clicked:Transcendence-" + i;
		transfields = transfields + '"'+"Transcendence-"+i+'"';
	}
	transfields = transfields + "]";

	var linkclicks = "";
	var linkfields = "";
	linkfields = "[";
	for(var i = 1; i <= 6; i++) {
		for(var j = 1; j <= 6; j++) {
			if ( i > 1 || j > 1 )
				linkclicks = linkclicks + " "; 
			// I don't know why pug requires this to be a separate thing, but it sure fucking did, so here we go
			if ( i > 1 || j > 1 )
				linkfields = linkfields + ", ";
			linkclicks = linkclicks + "clicked:Link-" + i + '-Dot-' + j;
			linkfields = linkfields + '"' + "Link-" + i + '-Dot-' + j + '"';
		}
	}
	linkfields = linkfields + "]";

	var pbxpclicks = "";
	var pbxpfields = "";
	pbxpfields = "[";
	for(var i = 1; i <= 8; i++) {
		if ( i > 1 )
			pbxpclicks = pbxpclicks + " "; 
		// I don't know why pug requires this to be a separate thing, but it sure fucking did, so here we go
		if ( i > 1 )
		  pbxpfields = pbxpfields + ", ";
		pbxpclicks = pbxpclicks + "clicked:Playbook-XP-" + i;
		pbxpfields = pbxpfields + '"'+"Playbook-XP-"+i+'"';
	}
	pbxpfields = pbxpfields + "]";

	var sunclicks = "";
	var sunfields = "";
	sunfields = "[";
	for(var i = 1; i <= 8; i++) {
		if ( i > 1 )
			sunclicks = sunclicks + " "; 
		// I don't know why pug requires this to be a separate thing, but it sure fucking did, so here we go
		if ( i > 1 )
		  sunfields = sunfields + ", ";
		sunclicks = sunclicks + "clicked:Sun-XP-" + i;
		sunfields = sunfields + '"'+"Sun-XP-"+i+'"';
	}
	sunfields = sunfields + "]";

	var moonclicks = "";
	var moonfields = "";
	moonfields = "[";
	for(var i = 1; i <= 8; i++) {
		if ( i > 1 )
			moonclicks = moonclicks + " "; 
		// I don't know why pug requires this to be a separate thing, but it sure fucking did, so here we go
		if ( i > 1 )
		  moonfields = moonfields + ", ";
		moonclicks = moonclicks + "clicked:Moon-XP-" + i;
		moonfields = moonfields + '"'+"Moon-XP-"+i+'"';
	}
	moonfields = moonfields + "]";

	var starsclicks = "";
	var starsfields = "";
	starsfields = "[";
	for(var i = 1; i <= 8; i++) {
		if ( i > 1 )
			starsclicks = starsclicks + " "; 
		// I don't know why pug requires this to be a separate thing, but it sure fucking did, so here we go
		if ( i > 1 )
		  starsfields = starsfields + ", ";
		starsclicks = starsclicks + "clicked:Stars-XP-" + i;
		starsfields = starsfields + '"'+"Stars-XP-"+i+'"';
	}
	starsfields = starsfields + "]";

	var statsblock = {
		'Sun': [
			'Defy',
			'Empathize',
			'Express'
		],
		'Moon': [
			'Confess',
			'Forgive',
			'Perceive'
		],
		'Stars': [
			'Analyze',
			'Conceal',
			'Flow'
		]
	};

	var statsclicks = "";
	var statschanges = "";
	var statsfields = "";
	var actioncat = {};
	var stattributes = Object.keys(statsblock);
	for(var i = 0; i < stattributes.length; i++) {
		stattribute = stattributes[i];
		for(var j = 0; j < (statsblock[stattribute]).length; j++) {
			var st = statsblock[stattributes[i]][j];
			actioncat[st] = stattribute;
			if ( i > 0 || j > 0)
				statsclicks = statsclicks + " "; 
			if ( i > 0 || j > 0)
				statschanges = statschanges + " "; 
			// I don't know why pug requires this to be a separate thing, but it sure fucking did, so here we go
			if ( i > 0 || j > 0 )
				statsfields = statsfields + ", ";
			statsclicks = statsclicks + "clicked:"+st+"-Dot-1";
			statschanges = statschanges + "change:"+st+"-Dot-1";
			statsfields = statsfields + '"'+st+'-Dot-1"';
			statsclicks = statsclicks + " "; 
			statschanges = statschanges + " "; 
			statsfields = statsfields + ", ";
			statsclicks = statsclicks + "clicked:"+st+"-Dot-2";
			statschanges = statschanges + "change:"+st+"-Dot-2";
			statsfields = statsfields + '"'+st+'-Dot-2"';
			statsclicks = statsclicks + " "; 
			statschanges = statschanges + " "; 
			statsfields = statsfields + ", ";
			statsclicks = statsclicks + "clicked:"+st+"-Star-1";
			statschanges = statschanges + "change:"+st+"-Star-1";
			statsfields = statsfields + '"'+st+'-Star-1"';
			statsclicks = statsclicks + " "; 
			statschanges = statschanges + " "; 
			statsfields = statsfields + ", ";
			statsclicks = statsclicks + "clicked:"+st+"-Star-2";
			statschanges = statschanges + "change:"+st+"-Star-2";
			statsfields = statsfields + '"'+st+'-Star-2"';
		}
	}
	var actioncats = JSON.stringify(actioncat);
