-
	var translations = { 
		"Series Playset": "Series Playset",
		"Choose a Series Playset": "(Choose a Series Playset)",
		"Choose a Playset": "(Choose a Playset)",
		"At the Brink of the Abyss": "At the Brink of the Abyss", 
		"Beneath a Rotting Sky": "Beneath a Rotting Sky", 
		"On a Sea of Stars": "On a Sea of Stars", 
		"In a Maze of Dreams": "In a Maze of Dreams",
		"Select a Playbook": "(Select a Playbook)",
		"Position": "Position",
		"Risky": "Risky",
		"Controlled": "Controlled",
		"Desperate": "Desperate",
		"Fortune": "Fortune",
		"Effect": "Effect",
		"Standard": "Standard",
		"Limited": "Limited",
		"Great": "Great",
		"Extreme": "Extreme",
		"Zero": "Zero",
		"Number of Dice": "Number of Dice",
		"Bonus Dice": "Bonus Dice",
	};

	var playbooks = { 
		"Enigma": "Enigma", 
		"Stranger": "Stranger", 
		"TimeTraveller": "Time Traveller", 
		"Harmony": "Harmony", 
		"Guardian": "Guardian", 
		"Outsider": "Outsider", 
		"UnlikelyHero": "Unlikely Hero"
	};

	var playsets = {
		"abyss": "At the Brink of the Abyss",
		"sky": "Beneath a Rotting Sky",
		"stars": "On a Sea of Stars",
		"dreams": "In a Maze of Dreams"
	};

	// Used in sheet-worker.pug

	var pbkeys = [
		"Enigma", 
		"Stranger", 
		"TimeTraveller", 
		"Harmony", 
		"Guardian", 
		"Outsider", 
		"UnlikelyHero"
	];
	var toggles = [
		"Ability-Veteran",
		"Toggle-Abilities-Expand",
		"Toggle-Abilities-Marked",
		"Toggle-Agenda-Expand",
		"Toggle-Bio-Expand",
		"Toggle-BonusDie-Expand",
		"Toggle-Eclipse-Expand",
		"Toggle-Gaining-XP-Expand",
		"Toggle-GatherInfo-Expand",
		"Toggle-Links-Expand",
		"Toggle-Links-Spend-Expand",
		"Toggle-Notes-Expand",
		"Toggle-Stress-Expand",
		"Toggle-Teamwork-Expand",
		"Toggle-Transcendence-Expand",
		"Toggle-Transcendent-Expand",
		"Toggle-Transcendent-Marked",
	];

	var toggleclicks = "";
	var clicks = 0;
	// Bulk toggle creation (enumerated)
	for(var i = 1; i < 10; i++) {
		for(var pb of pbkeys) {
			var field = 'Ability-' + pb + '-' + i;
			toggles.push(field);
			field = 'Ability-Transcendent-' + pb + '-' + i;
			toggles.push(field);
			// field = 'Stress-' + i;
			// toggles.push(field);
		}
	}
	for(var i of toggles) {
		clicks++;
		if ( clicks > 1 )
			toggleclicks = toggleclicks + " ";
		toggleclicks = toggleclicks + "clicked:" + i;
	}

	var stressclicks = "";
	var stressfields = "";
	stressfields = "[";
	for(var i = 1; i <= 9; i++) {
		if ( i > 1 )
			stressclicks = stressclicks + " "; 
		// I don't know why pug requires this to be a separate thing, but it sure fucking did, so here we go
		if ( i > 1 )
		  stressfields = stressfields + ", ";
		stressclicks = stressclicks + "clicked:Stress-" + i;
		stressfields = stressfields + '"'+"Stress-"+i+'"';
	}
	stressfields = stressfields + "]";

	var transclicks = "";
	var transfields = "";
	transfields = "[";
	for(var i = 1; i <= 4; i++) {
		if ( i > 1 )
			transclicks = transclicks + " "; 
		// I don't know why pug requires this to be a separate thing, but it sure fucking did, so here we go
		if ( i > 1 )
		  transfields = transfields + ", ";
		transclicks = transclicks + "clicked:Transcendence-" + i;
		transfields = transfields + '"'+"Transcendence-"+i+'"';
	}
	transfields = transfields + "]";

	var linkclicks = "";
	var linkfields = "";
	linkfields = "[";
	for(var i = 1; i <= 6; i++) {
		for(var j = 1; j <= 6; j++) {
			if ( i > 1 || j > 1 )
				linkclicks = linkclicks + " "; 
			// I don't know why pug requires this to be a separate thing, but it sure fucking did, so here we go
			if ( i > 1 || j > 1 )
				linkfields = linkfields + ", ";
			linkclicks = linkclicks + "clicked:Link-" + i + '-Dot-' + j;
			linkfields = linkfields + '"' + "Link-" + i + '-Dot-' + j + '"';
		}
	}
	linkfields = linkfields + "]";

	var pbxpclicks = "";
	var pbxpfields = "";
	pbxpfields = "[";
	for(var i = 1; i <= 8; i++) {
		if ( i > 1 )
			pbxpclicks = pbxpclicks + " "; 
		// I don't know why pug requires this to be a separate thing, but it sure fucking did, so here we go
		if ( i > 1 )
		  pbxpfields = pbxpfields + ", ";
		pbxpclicks = pbxpclicks + "clicked:Playbook-XP-" + i;
		pbxpfields = pbxpfields + '"'+"Playbook-XP-"+i+'"';
	}
	pbxpfields = pbxpfields + "]";

	var sunclicks = "";
	var sunfields = "";
	sunfields = "[";
	for(var i = 1; i <= 8; i++) {
		if ( i > 1 )
			sunclicks = sunclicks + " "; 
		// I don't know why pug requires this to be a separate thing, but it sure fucking did, so here we go
		if ( i > 1 )
		  sunfields = sunfields + ", ";
		sunclicks = sunclicks + "clicked:Sun-XP-" + i;
		sunfields = sunfields + '"'+"Sun-XP-"+i+'"';
	}
	sunfields = sunfields + "]";

	var moonclicks = "";
	var moonfields = "";
	moonfields = "[";
	for(var i = 1; i <= 8; i++) {
		if ( i > 1 )
			moonclicks = moonclicks + " "; 
		// I don't know why pug requires this to be a separate thing, but it sure fucking did, so here we go
		if ( i > 1 )
		  moonfields = moonfields + ", ";
		moonclicks = moonclicks + "clicked:Moon-XP-" + i;
		moonfields = moonfields + '"'+"Moon-XP-"+i+'"';
	}
	moonfields = moonfields + "]";

	var starsclicks = "";
	var starsfields = "";
	starsfields = "[";
	for(var i = 1; i <= 8; i++) {
		if ( i > 1 )
			starsclicks = starsclicks + " "; 
		// I don't know why pug requires this to be a separate thing, but it sure fucking did, so here we go
		if ( i > 1 )
		  starsfields = starsfields + ", ";
		starsclicks = starsclicks + "clicked:Stars-XP-" + i;
		starsfields = starsfields + '"'+"Stars-XP-"+i+'"';
	}
	starsfields = starsfields + "]";

	var statsblock = {
		'Sun': [
			'Defy',
			'Empathise',
			'Express'
		],
		'Moon': [
			'Confess',
			'Forgive',
			'Perceive'
		],
		'Stars': [
			'Analyse',
			'Conceal',
			'Flow'
		]
	};

	var statsclicks = "";
	var statschanges = "";
	var statsfields = "";
	var actioncat = {};
	var stattributes = Object.keys(statsblock);
	for(var i = 0; i < stattributes.length; i++) {
		stattribute = stattributes[i];
		for(var j = 0; j < (statsblock[stattribute]).length; j++) {
			var st = statsblock[stattributes[i]][j];
			actioncat[st] = stattribute;
			if ( i > 0 || j > 0)
				statsclicks = statsclicks + " "; 
			if ( i > 0 || j > 0)
				statschanges = statschanges + " "; 
			// I don't know why pug requires this to be a separate thing, but it sure fucking did, so here we go
			if ( i > 0 || j > 0 )
				statsfields = statsfields + ", ";
			statsclicks = statsclicks + "clicked:"+st+"-Dot-1";
			statschanges = statschanges + "change:"+st+"-Dot-1";
			statsfields = statsfields + '"'+st+'-Dot-1"';
			statsclicks = statsclicks + " "; 
			statschanges = statschanges + " "; 
			statsfields = statsfields + ", ";
			statsclicks = statsclicks + "clicked:"+st+"-Dot-2";
			statschanges = statschanges + "change:"+st+"-Dot-2";
			statsfields = statsfields + '"'+st+'-Dot-2"';
			statsclicks = statsclicks + " "; 
			statschanges = statschanges + " "; 
			statsfields = statsfields + ", ";
			statsclicks = statsclicks + "clicked:"+st+"-Star-1";
			statschanges = statschanges + "change:"+st+"-Star-1";
			statsfields = statsfields + '"'+st+'-Star-1"';
			statsclicks = statsclicks + " "; 
			statschanges = statschanges + " "; 
			statsfields = statsfields + ", ";
			statsclicks = statsclicks + "clicked:"+st+"-Star-2";
			statschanges = statschanges + "change:"+st+"-Star-2";
			statsfields = statsfields + '"'+st+'-Star-2"';
		}
	}
	var actioncats = JSON.stringify(actioncat);
