// Load things up

include includes/mixins.pug

script(type='text/worker')
	include includes/sheet-worker.js 

.wrapper
	.modeblock
		+shower("sheetmode")
		+select("sheetmode")
			+option("Which kind of sheet?","")
			+option("Awake PC","character")
			+option("GM's Nightmares","nightmare")
	+mhider("sheetmode")
	include includes/awake.pug
	+mhider("sheetmode")
	include includes/nightmare.pug

// Template!
include includes/roll-templates.pug

+translations