ul
	li
		+translate("You were there when I was still reeling from my betrayal. What oath did we swear to each other? (Gain 1 Bond with them)")
	li
		+translate("You’ve betrayed my trust again and again. Why do we still love each other? (Gain 2 Bonds with them)")
	li
		+translate("Why am I tempted to give into What the Darkness Demands? (Gain 1 Bond with What the Darkness Demands of You)")