li
	+translate("Feel judgemental or guilty")
li
	+translate("Overreact to protect someone")
li
	+translate("Ask someone to trust me")
li
	+translate("Ask someone to make me a promise")
li
	+translate("Embody a Condition that affects me")