+minihead("Your Name")
	+translate("(choose 1)")(class="instruction")
	+checkable("a sweet name that bears the curse of betrayal","character_name")
	+checkable("a name given to me by those whom I failed to protect","character_name")
	+checkable("a name that was chosen for my rebirth","character_name")
	+checkable("a name and title whispered across millennia","character_name")
	+checkable("a name that will break me and reshape me one day","character_name")
+minihead("Your Look")
	+translate("(choose 1-3)")(class="instruction")
	+checkable("eyes rendered hollow by a promise left unfulfilled","look")
	+checkable("loud and garish clothing that announces my intentions","look")
	+checkable("a cocky smile that belies a bitter truth","look")
	+checkable("an ever-moving cloak that hides how little of my soul remains","look")
	+checkable("a symbol of my station in life that has fused with my flesh","look")
	+checkable("scars I came by in place of those who named me their savior","look")
	+checkable("a truly monstrous form that reveals itself in the face of evil","look")
	+checkable("something that hints at my struggle to be human","look")
+minihead("Your Origin")
	+translate("(choose 1)")(class="instruction")
	+checkable("I made a deal with the devil to save the one I loved most, and was, in turn, betrayed by love","origin")
	+checkable("I was betrayed by my own Order when they sought to create new empyrean lords, and have been barred from the next life for standing in their way","origin")
	+checkable("I was betrayed by society and ever since, I have been one of many souls deemed worthy and bound to the hunger for cruel justice","origin")
	+checkable("Something else that describes the betrayal that has hollowed out my soul and chained me to vengeance","origin")
+minihead("What has taken residence in your soul to deliver merciless retribution?")
	+translate("(choose 1)")(class="instruction")
	+checkable("A fallen divine being fueled by the desire to inflict righteous punishment, who delivers vengeance upon those who tempt demonic intervention","betrayed_resident")
	+checkable("The many lords of order and chaos, and they deliver vengeance to those who corrupt the balance","betrayed_resident")
	+checkable("My future and past incarnations have broken the laws of time and reality, and deliver vengeance upon those who would rewrite the future","betrayed_resident")
	+checkable("Something else that shows how just my cause is and how easy it would be to go too far to serve vengeance","betrayed_resident")
+minihead("Your Powers of Darkness")
	+translate("(choose 2)")(class="instruction")
	+checkable("Cursed armor and weaponry","powers")
	+checkable("Imbuement of hellfire","powers")
	+checkable("Cosmic senses and insight","powers")
	+checkable("Transformation fueled by vengeance","powers")
	+checkable("A sentient form of supernatural transportation","powers")
+minihead("What Does the Darkness Demand of You")
	+translate("(choose 2)")(class="instruction")
	+checkable("To destroy those I love","demands")
	+checkable("To strengthen those who betray me","demands")
	+checkable("To become a Harbinger’s tool of vengeance","demands")
	+checkable("To transform the innocent into Harbingers","demands")
	+checkable("To free monsters from the chains of humanity","demands")
	+checkable("To forever shatter the laws of cosmic justice","demands")
	+checkable("Something else that would feed the eternal cycle of betrayal and pain","demands")

