ul
	li
		+translate("I am a vessel of an unknowable and inhuman entity that demands horrific justice")
	li
		+translate("I embody the terror and consequence of the apocalypse")
	li
		+translate("My power is protective, uncompromising, and merciless")
	li
		+translate("My heart yearns to punish and be punished")
