p
	+translate("Vengeance rises within you and burns away everything else that held you to this world.")(class="bold")
	+translate("All that is left of you is betrayal and pain, shame and fury. You deserve this, to have your humanity stripped away to reveal the monster you’ve always been. You’ll make sure, however, that the world burns with you.")
p
	+translate("Describe how your betrayal transforms you into a monstrous tool of despair, and what unforgivable horrors you commit to perform cruel justice.")(class="bold")
	+translate("The Keeper will tell you how the entity within you claims another to serve vengeance.")