+checkable("Did you have an intimate or violent moment with the entity of vengeance that has taken residence in your soul?","chosenimpulse","betrayedimpulse")
+checkable("Did you break your own heart in order to deliver retribution?","chosenimpulse","betrayedimpulse")
+checkable("Did you seek escape and reprieve through intimacy and connection?","chosenimpulse","betrayedimpulse")
+checkable("Did you hurt the innocent in your quest for vengeance?","chosenimpulse","betrayedimpulse")
+checkable("Did you choose love over pain?","chosenimpulse","betrayedimpulse")
