ul
	li
		+translate("You were the sole person able to restrain my Fury when it threatened to overwhelm me for the first time, why did it listen to you? (Gain 1 Bond with them)")
	li
		+translate("You were there when I was first dragged into DIVISION with my Handler watching. Why did my Handler want you to be part of the retrieval team? (Gain 2 Bonds with them)")
	li
		+translate("Why am I tempted to give into What the Darkness Demands? (Gain 1 Bond with What the Darkness Demands of You)")