+minihead("Your Name")
	+translate("(choose 1)")(class="instruction")
	+checkable("A name from before that I still cling to","character_name")
	+checkable("A name twisted and warped by the Fury inside me","character_name")
	+checkable("A name that is utilitarian and simple, on loan from my Handler","character_name")
	+checkable("A name that reaches out toward the future I can never have","character_name")
	+checkable("A name I need to take as my own one day","character_name")
+minihead("Your Look")
	+translate("(choose 1-3)")(class="instruction")
	+checkable("an office drone’s uniform","look")
	+checkable("arcane seals all over my body","look")
	+checkable("a distant, almost-blank stare","look")
	+checkable("eyes that burn with an intruding frenzy","look")
	+checkable("heavy metal restraints around my wrists","look")
	+checkable("a muzzle covering most of my face","look")
	+checkable("deep scars that criss-cross across my body","look")
	+checkable("something that hints at the many directions I am pulled in","look")
+minihead("What is the violent nature of the Fury that has taken up residence inside you?")
	+translate("(choose 1)")(class="instruction")
	+checkable("A wrathful spirit that pushes me to seek bloody retribution","chained_fury")
	+checkable("A sinister demon that whispers dark schemes to me while I sleep","chained_fury")
	+checkable("A raging elemental that gleefully pushes me to destroy everything around me","chained_fury")
	+checkable("An ancient ghost that demands I fulfill its final bloody desires","chained_fury")
	+checkable("A strange interdimensional parasite that fills my mind with its cold surgical goals","chained_fury")
	+checkable("Something else that forces me toward a wretched goal not my making","chained_fury")
+minihead("How is the reach of your Handler far longer than you know?")
	+translate("(choose 1)")(class="instruction")
	+checkable("They have been a part of DIVISION from the very beginning, slowly making their way nearly to the top","chained_handler")
	+checkable("They are the secret head of the largest multinational technology corporation, the cruel brain of a massive and hungry hydra","chained_handler")
	+checkable("They are the innocuous leader of a growing religious movement, spreading their sinister influence to the growing throngs of believers","chained_handler")
	+checkable("They are the elusive director behind the most popular wellness brand, their dangerous message spread through charismatic influencers","chained_handler")
	+checkable("Something else that foreshadows how they have been a puppet master behind the scenes for a very long time","chained_handler")
+minihead("Your Powers of Darkness")
	+translate("(choose 2)")(class="instruction")
	+checkable("Monstrous blades that burst from my body","powers")
	+checkable("Barely contained raging primordial energy","powers")
	+checkable("Horrific transformation into a deadly form","powers")
	+checkable("Malevolent and intricate magical rituals","powers")
	+checkable("Inhuman strength and agility","powers")
+minihead("What Does the Darkness Demand of You")
	+translate("(choose 2)")(class="instruction")
	+checkable("To claw my way to the top of the food chain","demands")
	+checkable("To keep others chained with me holding the lead","demands")
	+checkable("To make my fellow monsters my pawns","demands")
	+checkable("To follow the dark destiny that is set before me","demands")
	+checkable("To be the last one standing at the end of it all","demands")
	+checkable("Something else that tugs me toward a brilliant oblivion","demands")
