ul
	li
		+translate("I am dragged into the depths of the will of others")
	li
		+translate("I embody the fury and shadow of the apocalypse")
	li
		+translate("My power is heavy, restrictive, and not my own")
	li
		+translate("My heart yearns to connect and be connected with")
