p
	+translate("You know that your life will never belong to you.")(class="bold")
	+translate("You know that there is no use fighting against the chains that weigh you down. You will never be free of your Fury, of your Handler. For this moment, you must choose whether you will be overcome by the violent whims of your Fury, or be subsumed into the layers and schemes of your Handler. At this moment, it’s time to give in.")
p
	+translate("Choose who you hand control of your chains to.")(class="bold")
	+translate("Choose how your monstrous Fury rampages, unfettered by any vestiges of humanity, or how your Handler draws those you care about into the heart of their web, marking them forever as their pawns. Based on which you choose, the Keeper will then tell you how an aspect of your Fury finds a permanent hold in the world, or how your Handler climbs ever higher toward the top of the pyramid.")