+checkable("Did you allow your Fury to rampage, endangering others?","chosenimpulse","chainedimpulse")
+checkable("Did you entangle another in the schemes of your Handler?","chosenimpulse","chainedimpulse")
+checkable("Did you reject the expectations of others at the worst possible time?","chosenimpulse","chainedimpulse")
+checkable("Did you shoulder the responsibility of another you know you shouldn’t care for?","chosenimpulse","chainedimpulse")
+checkable("Did you blame someone you care for for your own mistakes?","chosenimpulse","chainedimpulse")
