li
	+translate("Feel constricted by expectations")
li
	+translate("Abandon your responsibilities")
li
	+translate("Ask someone to tell you what to do")
li
	+translate("Ask someone to help carry your burden")
li
	+translate("Embody a Condition that affects me")