ul
	li
		+translate("Reach out to forge Bonds with everyone around you")
	li
		+translate("Strain to reject the destiny laid out by others")
	li
		+translate("Struggle with the many demands of others that you choose to take on")