// Display of *these* moves is strictly governed by the sheet worker!

+move('Sometimes, I Get Angry','summoned','','')
	p
		span.trigger
			+translate('When you')
			+movelink("Unleash the Dark")
			+translate('through anger and violence,')
		+translate('take')
		+dark(3)
		+translate('before doing so.')