+minihead("Your Name")
	+translate("(choose 1)")(class="instruction")
	+checkable("a name god gave me with love","character_name")
	+checkable("a name I earned through fear and terror","character_name")
	+checkable("a name that can never be said out loud","character_name")
	+checkable("a name I need to give to someone else one day","character_name")
+minihead("Your Look")
	+translate("(choose 1-3)")(class="instruction")
	+checkable("a multitude of wings made of light and sound","look")
	+checkable("eyes that cover my entire body","look")
	+checkable("a cracked halo that bleeds","look")
	+checkable("limbs of a mythic creature","look")
	+checkable("a brand of a demon burned into my skin","look")
	+checkable("evidence of the god I once was","look")
	+checkable("mismatched clothing hastily thrown together","look")
	+checkable("something that hints at my struggle to be human","look")
+minihead("Your Origin")
	+translate("(choose 1)")(class="instruction")
	+checkable("I was once a mighty god of this Earth but was killed by my worshipers","origin")
	+checkable("I once claimed hell for my own but was betrayed","origin")
	+checkable("I was an angelic creature destroyed by my jealous god","origin")
	+checkable("something else that describes how far I have truly fallen and all I have lost","origin")
+minihead("Who are the gods who taunt you?")
	+translate("(choose 1)")(class="instruction")
	+checkable("those who I betrayed seek to destroy me once and for all","fallen_gods")
	+checkable("ancient gods who have lost their power and ache for what is left of my divinity","fallen_gods")
	+checkable("twisted gods I corrupted who are now monsters of myth and legend","fallen_gods")
	+checkable("divine servants who grew in power as I have weakened","fallen_gods")
	+checkable("something else that feeds my spite and sharpens my hubris","fallen_gods")
+minihead("Your Powers of Darkness")
	+translate("(choose 2)")(class="instruction")
	+checkable("Soul Venom","powers")
	+checkable("Fae Glamour","powers")
	+checkable("Fear Manipulation","powers")
	+checkable("Weapons of Light and Sound","powers")
	+checkable("Many Forms of Mythic Animals","powers")
+minihead("What does the Darkness Demand of You?")
	+translate("(choose 2)")(class="instruction")
	+checkable("to kill all the gods","demands")
	+checkable("to storm heaven","demands")
	+checkable("to create dark churches in my name","demands")
	+checkable("to make my fellow monsters my worshipers","demands")
	+checkable("to fall in love with a monster who can destroy me","demands")
	+checkable("to curse the one I love","demands")
	+checkable("something else that would have me fall again from greater heights","demands")
