ul
	li
		+translate("I am a pale reflection of the glory I once was")
	li
		+translate("I embody the hubris and volatility of the apocalypse")
	li
		+translate("My power is faded, cracked, and deceitful")
	li
		+translate("My heart yearns to worship and be worshiped")