+checkable("Did you bless the weak with the immeasurable glory of your presence? ","chosenimpulse","surgeimpulse")
+checkable("Did you taunt or seduce those who would seek to destroy you?","chosenimpulse","surgeimpulse")
+checkable("Did you humiliate yourself for the intimacy you crave for?","chosenimpulse","surgeimpulse")
+checkable("Did you tell the truth when you shouldn’t have?","chosenimpulse","surgeimpulse")
+checkable("Did you betray someone you love? ","chosenimpulse","surgeimpulse")