li
	+translate("Feel others are beneath me")
li
	+translate("React with spite or arrogance")
li
	+translate("Ask someone to worship me")
li
	+translate("Ask someone to betray another")
li
	+translate("Embody a Condition that affects me")