p
	+translate("You were once beautiful and loved, perfect and beyond despair.")(class="bold")
	+translate("You are gripped with how far you have fallen, how much of your glory was ripped away from you. You are unworthy of love, and your heart screams in anguish.")
p
	+translate("Describe how you use what little power you have left to bring you painfully close to your former divinity, and how it twists and consumes everything around you.")(class="bold")
	+translate("The Keeper will tell you what horrors you birth and what twisted shadow of a god escapes quietly into the world.")