ul
	li
		+translate("You made sure my fall was swift and terrible, why don’t I hate you for it? (Gain 1 Bond with them)")
	li
		+translate("You long to worship me, your heart yearns for me. Why do I keep my distance from you? (Gain 2 Bonds with them)")
	li
		+translate("Why am I tempted to give into What the Darkness Demands? (Gain 1 Bond with What the Darkness Demands of You)")