input(type='hidden' name='attr_playbook' class='pbselector' value='')
div(class='pbsummoned')
div(class='pbsurge')
div(class='pbfound')
div(class='pbshade')
div(class='pblast')
div(class='pbfallen')
div(class='pbhungry')
