li
	+translate("Feel frustrated or scared")
li
	+translate("React with uncertainty or cowardice")
li
	+translate("Ask someone to listen to my wisdom")
li
	+translate("Ask someone to open their emotions to me")
li
	+translate("Embody a Condition that affects me")