+checkable("Did you reclaim a fragment of your memories?","chosenimpulse","surgeimpulse")
+checkable("Did you let go of one of your memories and replace it with a new one?","chosenimpulse","surgeimpulse")
+checkable("Did you open your mind or heart to another monster?","chosenimpulse","surgeimpulse")
+checkable("Did you act in a way that contradicts what you know of your past self?","chosenimpulse","surgeimpulse")
+checkable("Did you use the emotions or memories of another to create a cruel advantage?","chosenimpulse","surgeimpulse")