p
	+translate("Time weighs heavily on you, and there is much you have allowed yourself to forget.")(class="bold")
	+translate("The puzzle box in your mind opens up, and there is no looking away from the truth.")
p
	+translate("Describe the terrible flashbacks that reveal your role in ushering in the apocalypse, and what this revelation drives you to do.")(class="bold")
	+translate("The Keeper will add layers of heartbreak and despair to your memories. They will then reveal someone from your past determined to destroy you and all you hold dear. What clues do you see that reveal how close they are to tracking you down?")