ul
	li
		+translate("The memories of others help me hide me from my own past")
	li
		+translate("I embody the dreams and cruelty of the apocalypse")
	li
		+translate("My power is inquisitive, emotional, and strange")
	li
		+translate("My heart yearns to know and be known")