+minihead("Your Name")
	+translate("(choose 1)")(class="instruction")
	+checkable("a strange name","character_name")
	+checkable("a name that conveys the depth of the unknown","character_name")
	+checkable("a name that reminds me of the mystery that birthed me","character_name")
	+checkable("a name someone else gave me to mark an auspicious date","character_name")
	+checkable("a name I need to decide on one day","character_name")
+minihead("Your Look")
	+translate("(choose 1-3)")(class="instruction")
	+checkable("a monstrous body that inspired horror movies","look")
	+checkable("a hypnotizing aura","look")
	+checkable("the smell of incense and flowers","look")
	+checkable("a terrifying mask that covers my beauty","look")
	+checkable("an ill-fitting costume","look")
	+checkable("scars from a time I cannot remember","look")
	+checkable("the coldest touch and warmest expression","look")
	+checkable("something that hints at my struggle to be human","look")
+minihead("Your Origin")
	+translate("(choose 1)")(class="instruction")
	+checkable("I was found in an ancient tomb and wear the face of a legend","origin")
	+checkable("I was found in an abandoned facility that performed cruel experiments","origin")
	+checkable("I was found in an alien world and brought back against my will","origin")
	+checkable("something else that describes how time forgot me and why I can’t remember who I am","origin")
+minihead("What Has Replaced Most Of Your Memories From Before DIVISION?")
	+translate("(choose 1)")(class="instruction")
	+checkable("waking dreams that corrupt or undermine my reality","found_memories")
	+checkable("haunting shadows that mock me with distorted voices","found_memories")
	+checkable("sharp memories of someone from another time and place","found_memories")
	+checkable("a shivering sense of loss and a yawning abyss of nothingness","found_memories")
	+checkable("something else that reminds me I must make new memories if I hope to outrun the past","found_memories")
+minihead("Your Powers of Darkness")
	+translate("(choose 2)")(class="instruction")
	+checkable("Telekinesis","powers")
	+checkable("Telepathy and Mind Blasts","powers")
	+checkable("Ancient Weapons of Magic","powers")
	+checkable("Creature Affinity","powers")
	+checkable("Power Absorption","powers")
+minihead("What does the Darkness Demand of You?")
	+translate("(choose 2)")(class="instruction")
	+checkable("to meet my cruel maker","demands")
	+checkable("to destroy my friends before they destroy me","demands")
	+checkable("to empower the Harbingers of the apocalypse","demands")
	+checkable("to create an army of mindless puppets","demands")
	+checkable("to open a permanent portal to a dark realm","demands")
	+checkable("to hurt those who care for me","demands")
	+checkable("something else that would make me truly alone","demands")
