ul
	li
		+translate("You were there when I was found. Do you pity or admire me? (Gain 1 Bond with them)")
	li
		+translate("You love me, but I don’t understand love. Why won’t you give up on me? (Gain 2 Bonds with them)")
	li
		+translate("Why am I tempted to give into What the Darkness Demands? (Gain 1 Bond with What the Darkness Demands of You)")