+checkable("Did you surrender to the Hunger within you at the worst possible moment? ","chosenimpulse","surgeimpulse")
+checkable("Did you find a willing victim to sate your hunger? ","chosenimpulse","surgeimpulse")
+checkable("Did you infect another monster with hunger or desire? ","chosenimpulse","surgeimpulse")
+checkable("Did you protect someone pure and beautiful? ","chosenimpulse","surgeimpulse")
+checkable("Did you offer another kindness at great cost to yourself? ","chosenimpulse","surgeimpulse")