li
	+translate("Feel a yearning for what I cannot have")
li
	+translate("React with pettiness ")
li
	+translate("Ask someone to feed me a part of themselves")
li
	+translate("Ask someone to give in to their hunger")
li
	+translate("Embody a Condition that affects me")