ul
	li
		+translate("You remember what I was like before my Hunger claimed me, why do you wish to protect others from me? (Gain 1 Bond with them)")
	li
		+translate("Your heart wishes to consume me, why do we bring out the worst in each other? (Gain 2 Bonds with them)")
	li
		+translate("Why am I tempted to give into What the Darkness Demands? (Gain 1 Bond on What the Darkness Demands of You)")