+minihead("Your Name")
	+translate("(choose 1)")(class="instruction")
	+checkable("a dangerous name","character_name")
	+checkable("a name that conveys blood and pain","character_name")
	+checkable("a name lovingly given to me by my victims","character_name")
	+checkable("a name I carved out from history","character_name")
	+checkable("a name that will herald my destruction one day","character_name")
+minihead("Your Look")
	+translate("(choose 1-3)")(class="instruction")
	+checkable("an unsettling grin that reveals nothing","look")
	+checkable("beautiful clothing that hides what I can never show","look")
	+checkable("long hair that moves of its own accord","look")
	+checkable("a multitude of eyes and teeth that I cannot fully control","look")
	+checkable("a scar from the one who loved me most","look")
	+checkable("evidence of the wild beast that hides and strains against my skin and bone","look")
	+checkable("a shattered collar that I will never take off","look")
	+checkable("something that hints at my struggle to be human","look")
+minihead("Your Origin")
	+translate("(choose 1)")(class="instruction")
	+checkable("I was cursed by the first of my kind and chosen to be their beloved scion","origin")
	+checkable("I was driven by hubris and sorrow and consumed more arcane power than I could hope to control","origin")
	+checkable("I should have died long ago, but survived by desperately feeding on and consuming others","origin")
	+checkable("something else that describes the depth of my terrible hunger and why it can never be sated","origin")
+minihead("What do you feed on and what remnants do you leave behind?")
	+translate("(choose 1)")(class="instruction")
	+checkable("I feed on human flesh and blood—leaving behind more that hunger like me","hungry_feed")
	+checkable("I feed on desire and hope—leaving behind an uncontrollable addiction to pleasure or pain","hungry_feed")
	+checkable("I feed on memory and dream—leaving behind troublesome shades of the subconscious that escape into the world","hungry_feed")
	+checkable("I feed on monsters and fear—leaving behind volatile curses","hungry_feed")
	+checkable("I feed on magic and secrets—leaving behind fragile cracks in reality","hungry_feed")
	+checkable("something else that describes how dangerous my hunger is and how it draws in terrifying scavengers","hungry_feed")
+minihead("Your Powers of Darkness")
	+translate("(choose 2)")(class="instruction")
	+checkable("Corrupting Touch","powers")
	+checkable("Haunting Aura","powers")
	+checkable("Transfiguration Through Pain","powers")
	+checkable("Mystical Power I Stole From My Victims","powers")
	+checkable("Weapons of Blood and Bone","powers")
+minihead("What does the Darkness Demand of You?")
	+translate("(choose 2)")(class="instruction")
	+checkable("to create others as hungry as myself","demands")
	+checkable("to consume what lies beyond doom’s door","demands")
	+checkable("to corrupt what is beautiful","demands")
	+checkable("to love what can never be mine","demands")
	+checkable("to be feasted upon by the most powerful Harbinger of the apocalypse","demands")
	+checkable("to destroy the good in those I love and care for","demands")
	+checkable("something else that would consume me and leave nothing of me","demands")
