p
	+translate("Whatever was pure and good in you was fed to your hunger long ago, and now you are only emptiness and malice, a mockery of life and dignity.")(class="bold")
	+translate("You are nothing but ache and pain, desperation and terror. You are only your hunger, you can only bring misery and suffering to others.")
p
	+translate("Describe how your hunger ravages and cruelly transforms your body, how you lose control of the monster inside you and leave carnage and terror in your wake.")(class="bold")
	+translate("The Keeper will tell you how your hunger infects and creates a multitude of monstrosities as hollow and soulless as you are.")