ul
	li
		+translate("There is an endless Hunger that ravages my body.")
	li
		+translate("I embody the menace and emptiness of the apocalypse.")
	li
		+translate("My power is intimate, transformative, and harrowing. ")
	li
		+translate("My heart yearns to consume and be consumed.")