ul
	li
		+translate("You know of another like me. How does keeping this secret from me protect me? (Gain 1 Bond with them)")
	li
		+translate("We loved each other, once. Why do we keep hurting each other? (Gain 2 Bonds with them)")
	li
		+translate("Why am I tempted to give into What the Darkness Demands? (Gain 1 Bond with What the Darkness Demands of You)")
