+minihead("Your Name")
	+translate("(choose 1)")(class="instruction")
	+checkable("a temporary name I’ve grown used to","character_name")
	+checkable("a name I stole from those who destroyed my people","character_name")
	+checkable("a painful name I can never let go of","character_name")
	+checkable("a name that I need to remember one day","character_name")
+minihead("Your Look")
	+translate("(choose 1-3)")(class="instruction")
	+checkable("an alien body that cannot be disguised","look")
	+checkable("eyes that contain a galaxy","look")
	+checkable("unique skin oils that glisten and shine","look")
	+checkable("a wound I will never allow to heal","look")
	+checkable("a symbol that represents everything that was taken from me","look")
	+checkable("a litany of strange questions I ask","look")
	+checkable("a strange pet who won’t leave my side","look")
	+checkable("something that hints at my struggle to be human","look")
+minihead("Your Origin")
	+translate("(choose 1)")(class="instruction")
	+checkable("I am a refugee from a destroyed planet","origin")
	+checkable("my people owned this Earth before humans","origin")
	+checkable("I am the last of an army that was sent here to destroy all","origin")
	+checkable("something else that describes why there will never be another like me in all the Universe","origin")
+minihead("What Tragedy Destroyed Your People?")
	+translate("(choose 1)")
	+checkable("through our own ignorance and pride—we destroyed ourselves","last_tragedy")
	+checkable("we were manipulated into becoming Harbingers in a series of apocalypses","last_tragedy")
	+checkable("the machine gods we built to rule the galaxy turned on us","last_tragedy")
	+checkable("one of our own betrayed us when we were on the brink of destroying cosmic entities of evil","last_tragedy")
	+checkable("something else that speaks to how ancient and vast the tragedy is and how it can happen again to others","last_tragedy")
+minihead("Your Powers of Darkness")
	+translate("(choose 2)")(class="instruction")
	+checkable("Dimensional Phasing","powers")
	+checkable("Flight and Speed","powers")
	+checkable("Void Spells","powers")
	+checkable("An Ancient Weapon of Destruction","powers")
	+checkable("Time Distortion","powers")
+minihead("What does the Darkness Demand of You?")
	+translate("(choose 2)")(class="instruction")
	+checkable("to resurrect my people at the expense of humanity","demands")
	+checkable("to awaken the leviathans in space","demands")
	+checkable("to destroy all life on Earth","demands")
	+checkable("to betray DIVISION","demands")
	+checkable("to create a human vessel for a cursed god","demands")
	+checkable("to betray those I love","demands")
	+checkable("something else that would destroy all hope I bear","demands")
