li
	+translate("Feel lonely or rejected")
li
	+translate("React with doubt or confusion")
li
	+translate("Ask someone to tell me of their past")
li
	+translate("Ask someone to doubt their future")
li
	+translate("Embody a Condition that affects me")