p
	+translate("You’ve barely been able to keep the grief and anger at bay.")(class="bold")
	+translate("It rises in you now, you feel time wither away as you relive the trauma and heartbreak. Your guilt turns you into a weapon.")
p
	+translate("Describe how you will make everyone and everything around you pay for what happened to your people, and how you go too far.")(class="bold")
	+translate("The Keeper will tell you how the faintest hope surfaces before you destroy it, and who walks away to perpetuate this cycle of violence and pain.")