+checkable("Did you share a story of your people and what you lost? ","chosenimpulse","surgeimpulse")
+checkable("Did you seek solitude and turn away from hope for the future?","chosenimpulse","surgeimpulse")
+checkable("Did you allow yourself to find hope in the arms of another monster?","chosenimpulse","surgeimpulse")
+checkable("Did you compromise the beliefs and traditions of your people for the sake of someone else?","chosenimpulse","surgeimpulse")
+checkable("Did you find an innocent target for your grief, despair, or fear? ","chosenimpulse","surgeimpulse")