ul
	li
		+translate("I have been forged and strengthened through tragedy")
	li
		+translate("I embody the grief and peace of the apocalypse")
	li
		+translate("My power is reflective, sorrowful, and hopeful")
	li
		+translate("My heart yearns to comfort and be comforted")
