li
	+translate("Feel ignored or unimportant")
li
	+translate("React with cold reason and logic")
li
	+translate("Ask someone to follow my instructions")
li
	+translate("Ask someone to ignore their heart")
li
	+translate("Embody a Condition that affects me")