+minihead("Your Name")
	+translate("(choose 1)")(class="instruction")
	+checkable("a traditional name that conveys knowledge and history","character_name")
	+checkable("a name that reminds me of the mortal life I once knew","character_name")
	+checkable("a name someone else doomed me with","character_name")
	+checkable("a title I need to reclaim one day","character_name")
+minihead("Your Look")
	+translate("(choose 1-3)")(class="instruction")
	+checkable("a vaporous body contained by a suit","look")
	+checkable("an aura of strange glowing colors","look")
	+checkable("the smell of books and dark wood","look")
	+checkable("a face that can never settle on anything real","look")
	+checkable("a symbol that proves my soul belongs to another","look")
	+checkable("a clipped accent or sing song voice","look")
	+checkable("a ghostly companion that never speaks","look")
	+checkable("something that hints at my struggle to be human","look")
+minihead("Your Origin")
	+translate("(choose 1)")(class="instruction")
	+checkable("I was a famous medium who lost my body in a terrible accident","origin")
	+checkable("I got too close to the truth and died—but death would not take me","origin")
	+checkable("I have no memory of my previous life and have a radioactive body with a limited half-life","origin")
	+checkable("something else that describes how I lost my form to death but hold on to my soul tightly","origin")
+minihead("What form does Death take to speak to you?")
	+translate("(choose 1)")(class="instruction")
	+checkable("they wear the faces of those I failed to protect","shade_voice")
	+checkable("they freeze time and possess someone near me speaking through them","shade_voice")
	+checkable("they are the whistling wind and pouring rain and speak in broken poetry","shade_voice")
	+checkable("they wait for me in reflective surfaces and look like me before my death","shade_voice")
	+checkable("something else that shows how much Death cares for me","shade_voice")
+minihead("Your Powers of Darkness")
	+translate("(choose 2)")(class="instruction")
	+checkable("Necromancy","powers")
	+checkable("Let the Dead Speak","powers")
	+checkable("Shadow Magic","powers")
	+checkable("Supernatural Strength and Speed","powers")
	+checkable("Machines Powered by Soul Magic","powers")
+minihead("What does the Darkness Demand of You?")
	+translate("(choose 2)")(class="instruction")
	+checkable("to fall in love with the destroyer of worlds","demands")
	+checkable("to break the veil between the living and the dead","demands")
	+checkable("to kill Death","demands")
	+checkable("to consume every psychic in the world","demands")
	+checkable("to destroy anything resembling friendship","demands")
	+checkable("to reinvigorate an ancestral curse","demands")
	+checkable("something else that would make me give up on my soul","demands")
