p
	+translate("Your delusion shatters, and you are forced to look at the painful state of your hollow soul.")(class="bold")
	+translate("Death has left its mark on you—you are a twisted and miserable thing that yearns for mutual destruction. There is no going back for you, there is only the inconceivable void of this pitiful existence.")
p
	+translate("Describe how the void in your soul pulls at and weakens the life force of everyone and everything around you, hurting the innocent and the weak.")(class="bold")
	+translate("The Keeper will tell you how Death gains more power through you, and how something beautiful in the world dies as a result.")