ul
	li
		+translate("I have a special and personal relationship with Death")
	li
		+translate("I embody the coldness and end of the apocalypse")
	li
		+translate("My power is enlightening, coldly logical, and ephemeral")
	li
		+translate("My heart yearns to guide and be guided")