ul
	li
		+translate("You were there when I died. How did witnessing my death transform our relationship? (Gain 1 Bond with them)")
	li
		+translate("I love you, but I can’t accept it. Why do you allow me to remain ignorant? (Gain 2 Bonds with them)")
	li
		+translate("Why am I tempted to give into What the Darkness Demands? (Gain 1 Bond with What the Darkness Demands of You)")