+checkable("Did you have an intimate or harrowing moment with Death?","chosenimpulse","surgeimpulse")
+checkable("Did you go too far in search of the truth?","chosenimpulse","surgeimpulse")
+checkable("Did you give into the temptation of the living and indulge in pleasure or vice?","chosenimpulse","surgeimpulse")
+checkable("Did you prioritize DIVISION’s interests over your fellow monsters?","chosenimpulse","surgeimpulse")
+checkable("Did you find something or someone worth living for? ","chosenimpulse","surgeimpulse")