p
	+translate("You know that this world is not your own, and you will never belong here.")(class="bold")
	+translate("The dream that is humanity can never belong to you. The darkness grips your heart and the world you were summoned from bleeds into this one. You are a beacon to what has been aching to reach this world.")
p
	+translate("Describe what terrors are unleashed and how an aspect of your terrible prophecy comes to pass.")(class="bold")
	+translate("The Keeper will tell you how the world is now wounded, warped by what you allowed to come through.")