ul
	li
		+translate("You were there when I was summoned: what makes you afraid of me? (Gain 1 Bond with them)")
	li
		+translate("Why can’t you tell me you love me? (Gain 2 Bonds with them)")
	li
		+translate("Why am I tempted to give into what the Darkness Demands? (Gain 1 Bond with What the Darkness Demands of You)")