+checkable("Did you fight against the prophecy that haunts you?","chosenimpulse","summonedimpulse")
+checkable("Did you learn something significant about your prophecy?","chosenimpulse","summonedimpulse")
+checkable("Did you entangle another monster with your prophecy?","chosenimpulse","summonedimpulse")
+checkable("Did you try to hold on to your humanity, to great consequence?","chosenimpulse","summonedimpulse")
+checkable("Did you give into the power of prophecy and strengthen it?","chosenimpulse","summonedimpulse")