ul
	li
		+translate("I wear the cruel crown of prophecy")
	li
		+translate("I embody the promise and inevitability of the apocalypse")
	li
		+translate("My power is blunt, aggressive, and demanding")
	li
		+translate("My heart yearns to love and be loved")