+minihead("Your Name")
	+translate("(choose 1)")(class="instruction")
	+checkable("a straightforward name","character_name")
	+checkable("a name that conveys strength and power","character_name")
	+checkable("a name that whispers of the world I come from","character_name")
	+checkable("a name I was given by accident","character_name")
	+checkable("a name I need to live up to one day","character_name")
+minihead("Your Look")
	+translate("(choose 1-3)")(class="instruction")
	+checkable("a trench coat that hides most of my monstrous form","look")
	+checkable("eyes of the brightest gold","look")
	+checkable("shattered horns","look")
	+checkable("a holy item my adopted parent gave me","look")
	+checkable("a part of my body is a weapon I’ll never use","look")
	+checkable("the mark of my love who I betrayed","look")
	+checkable("an empty and tarnished locket","look")
	+checkable("something that hints at my struggle to be human","look")
+minihead("Your Origin")
	+translate("(choose 1)")(class="instruction")
	+checkable("I was summoned from hell to be the final door to the apocalypse","origin")
	+checkable("from the grasp of a cosmic horror that will remake us all","origin")
	+checkable("from a nightmare realm that will crown me ruler of a broken world","origin")
	+checkable("something else that describes the terrible world I came from and what it demands of this world","origin")
+minihead("What is the prophecy that haunts you?")
	+translate("(choose 1)")(class="instruction")
	+checkable("I gather my acolytes from the weak and oppressed and turn them into the most fearsome Harbingers","summoned_prophecy")
	+checkable("I take every nightmare that haunts humanity and paint a beautifully broken world from their fears","summoned_prophecy")
	+checkable("I lose all my memories and emotions in order to become the weapon I was created to be","summoned_prophecy")
	+checkable("when I fall in love for the last time an ancient Door of Power will open in my heart and destroy the world","summoned_prophecy")
	+checkable("something else I must defy at all cost to remain human","summoned_prophecy")
+minihead("Your Powers of Darkness")
	+translate("(choose 2)")(class="instruction")
	+checkable("Colossal Strength","powers")
	+checkable("Emotion Amplification","powers")
	+checkable("Supernatural Resistance","powers")
	+checkable("Shadow Control","powers")
	+checkable("Weapons from Elsewhere","powers")
+minihead("What does the Darkness Demand of You?")
	+translate("(choose 2)")(class="instruction")
	+checkable("to push away those I need most","demands")
	+checkable("to yearn for a love that can never be mine","demands")
	+checkable("to betray those who love me most","demands")
	+checkable("to despair as an immortal","demands")
	+checkable("to fall in love with a Harbinger of the apocalypse","demands")
	+checkable("to embrace and strengthen my prophecy","demands")
	+checkable("something else that would break my heart and leave me empty","demands")