li
	+translate("Feel unloved or abandoned")
li
	+translate("Overreact with violence")
li
	+translate("Ask someone to give me their best shot and not hold back")
li
	+translate("Ask someone to love me, and only ever me")
li
	+translate("Embody a Condition that affects me")
