ul
	li
		+translate("You were there when I truly let go. What did I destroy that belonged to you? Why are you grateful? (Gain 1 Bond with them)")
	li
		+translate("I love you, but you rejected me for my own sake. Why? (Gain 2 Bonds with them)")
	li
		+translate("Why am I tempted to give into What the Darkness Demands? (Gain 1 Bond with What the Darkness Demands of You)")