ul
	li
		+translate("I must learn to share my power, or be consumed by it")
	li
		+translate("I embody the hope and fear of the apocalypse")
	li
		+translate("My power is explosive, uncontrollable, and alienating")
	li
		+translate("My heart yearns to destroy and be destroyed")