+checkable("Did you let go and cause collateral damage?","chosenimpulse","surgeimpulse")
+checkable("Did you destroy something precious and beautiful?","chosenimpulse","surgeimpulse")
+checkable("Did you use your power to provoke or entice another monster?","chosenimpulse","surgeimpulse")
+checkable("Did you initiate a moment of intimacy with someone weaker than you?","chosenimpulse","surgeimpulse")
+checkable("Did you bargain with a Harbinger and offer a part of your power to them?","chosenimpulse","surgeimpulse")