p
	+translate("This world cannot contain you and all of your power.")(class="bold")
	+translate("You can never create, never nurture—you can only break and destroy. It’s time to remember that. It’s time to let go, and let someone else take this burden.")
p
	+translate("Describe how your power overwhelms you and the obscene amount of collateral damage you cause.")(class="bold")
	+translate("The Keeper will tell you how a part of your power is taken by someone, how it molds and breaks them until they are a perfect vessel, ready to evolve.")