li
	+translate("Feel overwhelmed or numb")
li
	+translate("Give into my power and let it erase my will")
li
	+translate("Ask someone to use my power as they see fit")
li
	+translate("Ask someone to punish me for my power")
li
	+translate("Embody a Condition that affects me")