+minihead("Your Name")
	+translate("(choose 1)")(class="instruction")
	+checkable("a mundane name","character_name")
	+checkable("a name that conveys flood and fury","character_name")
	+checkable("a name that reminds me of the life I lost","character_name")
	+checkable("a name someone else gave me to help me forget the past","character_name")
	+checkable("a name I need to let go of one day","character_name")
+minihead("Your Look")
	+translate("(choose 1-3)")(class="instruction")
	+checkable("anachronistic clothing and accessories","look")
	+checkable("a collection of holy symbols","look")
	+checkable("tattoos that respond to my emotions","look")
	+checkable("a keepsake from an ex-lover","look")
	+checkable("an ever burning cigarette","look")
	+checkable("an item from someone who died by my power","look")
	+checkable("obvious signs of how I control my desires","look")
	+checkable("something that hints at my struggle to be human","look")
+minihead("Your Origin")
	+translate("(choose 1)")(class="instruction")
	+checkable("I was born with these terrible powers as punishment for something unforgivable","origin")
	+checkable("someone I cared for sacrificed me to a greater power that I now embody","origin")
	+checkable("I was chosen to carry this terrible burden and destroy the human world","origin")
	+checkable("something else that describes the sheer magnitude of the power forced upon me and how dangerous I am to others","origin")
+minihead("What Collateral Damage Do You Leave in Your Wake?")
	+translate("(choose 1)")(class="instruction")
	+checkable("my powers of darkness infect those around me and leave permanent scars","surge_damage")
	+checkable("my subconscious rewrites small aspects of reality for a short time","surge_damage")
	+checkable("memories become distorted and break down in unpredictable ways","surge_damage")
	+checkable("whenever I lose control one of my doppelgangers appears in the world","surge_damage")
	+checkable("something else that reminds me I am dangerous to those I care for","surge_damage")
+minihead("Your Powers of Darkness")
	+translate("(choose 1)")(class="instruction")
	+checkable("Elemental Control","powers")
	+checkable("Cosmic Energies","powers")
	+checkable("Demon Horde","powers")
	+checkable("Body and Flesh Manipulation","powers")
	+checkable("Angelic Fury and Beauty","powers")
+minihead("What does the Darkness Demand of You?")
	+translate("(choose 2)")(class="instruction")
	+checkable("to be the downfall of those I care for","demands")
	+checkable("to destroy everything around me for the slightest trespass","demands")
	+checkable("to find a Scion to my power","demands")
	+checkable("to never fall in love","demands")
	+checkable("to serve the most powerful Harbinger of the apocalypse","demands")
	+checkable("to erase humanity itself","demands")
	+checkable("something else that would destroy all that I care for","demands")
