+checkable("Did you harm yourself in pursuit of perfection?","chosenimpulse","untetheredimpulse")
+checkable("Did you deny yourself comfort from another monster?","chosenimpulse","untetheredimpulse")
+checkable("Did you blame someone else to hide your own inadequacies?","chosenimpulse","untetheredimpulse")
+checkable("Did you let yourself believe you could be loved?","chosenimpulse","untetheredimpulse")
+checkable("Did you put your own desires above the needs of others?","chosenimpulse","untetheredimpulse")