ul
	li
		+translate("I am a weeping wound of abandonment")
	li
		+translate("I embody the pain and perfection of the apocalypse")
	li
		+translate("My power is reflective, manipulative, and elegant")
	li
		+translate("My heart yearns to feel and be felt")
