ul
	li
		+translate("You were there when my community cast me out. How did my indignation hurt you? Why did you stay by my side? (Gain 1 Bond with them)")
	li
		+translate("You love me, but I have never loved before and I don’t know if I can. Why do you think you can show me how? (Gain 2 Bonds with them)")
	li
		+translate("Why am I tempted to give into What the Darkness Demands? (Gain 1 Bond with What the Darkness Demands of You)")