li
	+translate("Feel unwanted or ashamed")
li
	+translate("Behave perfectly")
li
	+translate("Ask someone a question instead of answering theirs")
li
	+translate("Ask someone to set their feelings aside")
li
	+translate("Embody a Condition that affects me")