+minihead("Your Name")
	+translate("(choose 1)")(class="instruction")
	+checkable("a derogatory name","character_name")
	+checkable("a name I share with someone else I knew","character_name")
	+checkable("a name I found in a book","character_name")
	+checkable("a name that conveys beauty and potential","character_name")
	+checkable("a name I must learn to pronounce one day","character_name")
+minihead("Your Look")
	+translate("(choose 1-3)")(class="instruction")
	+checkable("one voice that sounds like many","look")
	+checkable("a birthmark mirrored on the body of a family member","look")
	+checkable("muscles tensed in pursuit of control","look")
	+checkable("intricate clothing worthier than me","look")
	+checkable("my shadow, ever out of sync","look")
	+checkable("hair that never falls out of place","look")
	+checkable("something that hints at my struggle to be human","look")
+minihead("Your Origin")
	+translate("(choose 1)")(class="instruction")
	+checkable("my community deemed me too broken to want in their midst","origin")
	+checkable("the laws or customs of my culture called for my abandonment","origin")
	+checkable("others sensed the darkness in my heart and left me out of fear","origin")
	+checkable("they already had someone better than me and I was useless to them","origin")
	+checkable("something else that describes why my home and people rejected me, and how I must prove myself","origin")
+minihead("Who could you have been if your community had kept you?")
	+translate("(choose 1)")(class="instruction")
	+checkable("someone who asks for help, knowing my needs will be met","untethered_community")
	+checkable("someone who shares themselves with the world, knowing that I am worthy","untethered_community")
	+checkable("someone who treats others with compassion, knowing that I have felt what they are feeling","untethered_community")
	+checkable("someone who loves others, knowing that I am also loved","untethered_community")
	+checkable("someone else who embodies my impossible dream of humanity","untethered_community")
+minihead("What weakness do your doppelgangers show that you would never permit in yourself?")
	+translate("(choose 1)")(class="instruction")
	+checkable("they express their emotions through anger and violence","untethered_weakness")
	+checkable("they show their vulnerabilities and connect with others","untethered_weakness")
	+checkable("they invite physical intimacy and allow others to touch them","untethered_weakness")
	+checkable("they give compliments freely and genuinely","untethered_weakness")
	+checkable("something else that I secretly long to do","untethered_weakness")
+minihead("Your Powers of Darkness")
	+translate("(choose 2)")(class="instruction")
	+checkable("Blood Magic","powers")
	+checkable("Deflector Shields","powers")
	+checkable("Item Replication","powers")
	+checkable("Shapeshifting","powers")
	+checkable("Uncanny Charm","powers")
+minihead("What Does the Darkness Demand of You?")
	+translate("(choose 2)")(class="instruction")
	+checkable("to never trust another","demands")
	+checkable("to destroy every last person who made me feel unworthy, then destroy those who say they love me","demands")
	+checkable("to break and remake myself","demands")
	+checkable("to make those I care about feel as unwanted as I do","demands")
	+checkable("to bend others to my will","demands")
	+checkable("to become a Harbinger powerful enough to destroy all other Harbingers","demands")
	+checkable("something else that would make me perfect","demands")