p
	+translate("You almost achieved perfection and it destroyed what was left of your humanity.")(class="bold")
	+translate("The last vestiges of compassion and kindness were wrung from you, leaving your heart overgrown with bitterness and despair. Even if you were perfect, you would still be unloved, unwanted, and unworthy. Your soul shatters.")
p
	+translate("Describe how the anguish of not being enough warps you until you are too much, and bleeds into everyone and everything around you.")(class="bold")
	+translate("The Keeper will tell you what bloody doppelganger crawls from the residue to reveal the monster you really are, and what permanent wound this reality suffers as a result.")