.sheet-Community.sheet-NoKeep.sheet-two-thirds
	.sheet-col
		.sheet-Subsection
			+translate('Locations')
		include community-locations.pug
		.sheet-Subsection
			+translate('Resources')
		include community-resources.pug
	.sheet-col-wider
		.sheet-Subsection
			+translate('Members')
		include community-members.pug
		.sheet-Subsection
			+translate('End of the Mystery')
		div
			+translate('At the end of each mystery, the hunters may choose one person who was directly helped by what they did (by default, use the person who initially contacted them). This person gains one support mark.')