.sheet-Abandoned
	input.sheet-SettingCheck(type='hidden', name='attr_Game-World', value='0')
	input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-GearUnused-Hider', value='1', checked='')

	+gearhead("A memento of your pleasant dreams","Pick one")
	+move("Abandoned-Gear","The last letter you were told came from your parents.")
	+move("Abandoned-Gear","A cheap locket meant to pair with another.")
	+move("Abandoned-Gear","A diary of stories you told yourself about your real family.")
	+move("Abandoned-Gear","A gift from someone who tried to help you.")

	+gearhead("A sneaky weapon","Pick one")
	+move("Abandoned-Gear","Butterfly knife/folding knife (1-harm hand small)")
	+move("Abandoned-Gear","Improvised sap (1-harm intimate stun)")
	+move("Abandoned-Gear","Weighted gloves/brass knuckles (1-harm hand)")
	+move("Abandoned-Gear","Stun gun (0-harm intimate stun)")
	+move("Abandoned-Gear","Throwing blades (1-harm close many)")
	+move("Abandoned-Gear","Slingshot (1-harm close quiet useful)")
	+move("Abandoned-Gear","Battered handgun (2-harm close faulty)")

	+gearhead("Secret gear","Pick two")
	+move("Abandoned-Gear","Lockpicks")
	+move("Abandoned-Gear","Smartphone")
	+move("Abandoned-Gear","Protective charm: +1 ongoing to protect from supernatural powers and creatures")
	+move("Abandoned-Gear","Night vision goggles")
	+move("Abandoned-Gear","Lots of long-lasting food")
	+move("Abandoned-Gear","Rope ladder and grappling hook")
	+move("Abandoned-Gear","A pretty amulet: it’s magical but you don’t know what it does")