.sheet-Forged
	input.sheet-SettingCheck(type='hidden', name='attr_Game-World', value='0')
	input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-GearUnused-Hider', value='1', checked='')
	+gearhead("Sentimental objects","Pick one")
	+move("Forged-Gear","A memento of a past partner you had strong emotions regarding")
	+move("Forged-Gear","A mysterious brand or mark that appears on both your forms")
	+move("Forged-Gear","A gift given to you by a small child")
	+move("Forged-Gear","A notebook you write poetry in")
	+move("Forged-Gear","A favourite novel")
	br
	+gearhead("Human-form self-defence method","Pick one")
	+move("Forged-Gear","Natural warrior (1-harm intimate/hand)")
	+move("Forged-Gear","Wrestler (2-harm intimate/hand grab forceful)")
	+move("Forged-Gear","Dagger (1-harm intimate/hand)")
	+move("Forged-Gear","Holdout pistol (1-harm close small)")