// Gear for The Spooktacular
.sheet-Spooktacular
	input.sheet-SettingCheck(type='hidden', name='attr_Game-World', value='0')
	input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-GearUnused-Hider', value='1', checked='')
	div(data-i18n='spooktacular-gear')
		| You get one dangerous tool, one vehicle, one mystical item, and all the paraphernalia.
	.space-above
		b
			span(data-i18n='spooktacular-tools') Camp Tools
		|  (
		i
			span(data-i18n='pick-one') pick one
		| )
	.sheet-move.sheet-Setting-Default.sheet-Setting-Gothic.sheet-Setting-Dreaming.sheet-Setting-Marches
		input.sheet-checkbox(type='checkbox', name='attr_spooktacular-gear1')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='spooktacular-gear1') Pocket knife or multitool (1-harm hand useful small).
	.sheet-move.sheet-Setting-Default.sheet-Setting-Gothic.sheet-Setting-Dreaming.sheet-Setting-Marches
		input.sheet-checkbox(type='checkbox', name='attr_spooktacular-gear2')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='spooktacular-gear2') Hammer (1-harm hand useful messy).
	.sheet-move.sheet-Setting-Default.sheet-Setting-Gothic.sheet-Setting-Dreaming.sheet-Setting-Marches
		input.sheet-checkbox(type='checkbox', name='attr_spooktacular-gear3')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='spooktacular-gear3') Crowbar (2-harm hand useful messy).
	.sheet-move.sheet-Setting-Default.sheet-Setting-Gothic.sheet-Setting-Dreaming.sheet-Setting-Marches
		input.sheet-checkbox(type='checkbox', name='attr_spooktacular-gear4')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='spooktacular-gear4') Baseball bat or similar (2-harm hand).
	.sheet-move.sheet-Setting-Default.sheet-Setting-Gothic.sheet-Setting-Dreaming.sheet-Setting-Marches
		input.sheet-checkbox(type='checkbox', name='attr_spooktacular-gear5')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='spooktacular-gear5') Hatchet (2-harm hand messy).
	.sheet-move.sheet-Setting-Default.sheet-Setting-Gothic.sheet-Setting-Dreaming.sheet-Setting-Marches
		input.sheet-checkbox(type='checkbox', name='attr_spooktacular-gear6')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='spooktacular-gear6') Sock full of coins (1-harm hand stun).
	.space-above
		b
			span(data-i18n='spooktacular-vehicles') Vehicles
		|  (
		i
			span(data-i18n='pick-one') pick one
		| )
	.sheet-move.sheet-Setting-Default
		input.sheet-checkbox(type='checkbox', name='attr_spooktacular-gear7')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='spooktacular-gear7') Pickup.
	.sheet-move.sheet-Setting-Default
		input.sheet-checkbox(type='checkbox', name='attr_spooktacular-gear8')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='spooktacular-gear8') Van.
	.sheet-move.sheet-Setting-Default
		input.sheet-checkbox(type='checkbox', name='attr_spooktacular-gear9')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='spooktacular-gear9') Truck.
	.sheet-move.sheet-Setting-Default
		input.sheet-checkbox(type='checkbox', name='attr_spooktacular-gear9b')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='spooktacular-gear9b') Motorcycle &amp; Sidecar.
	+move('Gothic-Gear-Spooktacular','House-wagon & horses').sheet-Setting-Gothic.sheet-Setting-Dreaming.sheet-Setting-Marches
	+move('Gothic-Gear-Spooktacular','Cart & mules').sheet-Setting-Gothic.sheet-Setting-Dreaming.sheet-Setting-Marches
	+move('Gothic-Gear-Spooktacular','Stout boots').sheet-Setting-Gothic.sheet-Setting-Dreaming.sheet-Setting-Marches
	+move('Gothic-Gear-Spooktacular','Mule').sheet-Setting-Gothic.sheet-Setting-Dreaming.sheet-Setting-Marches
	+move('Gothic-Gear-Spooktacular','Camel').sheet-Setting-Gothic.sheet-Setting-Dreaming.sheet-Setting-Marches
	+move('Gothic-Gear-Spooktacular','Canal-boat').sheet-Setting-Gothic.sheet-Setting-Dreaming
	+move('Gothic-Gear-Spooktacular','Schooner').sheet-Setting-Gothic
	+move('Marches-Gear-Spooktacular','Wild mount').sheet-Setting-Marches
	+move('Marches-Gear-Spooktacular','River-boat').sheet-Setting-Marches
	.space-above
		b
			span(data-i18n='spooktacular-mysticalitems') Mystical Items
		|  (
		i
			span(data-i18n='pick-one') pick one
		| )
	.sheet-move.sheet-Setting-Default.sheet-Setting-Gothic
		input.sheet-checkbox(type='checkbox', name='attr_spooktacular-gear10')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='spooktacular-gear10')
				b Ghost Shades
				| . Sunglasses that can see into the spirit world.
	.sheet-move.sheet-Setting-Dreaming
		input.sheet-checkbox(type='checkbox', name='attr_spooktacular-gear10')
		span.sheet-mainbox
		span.sheet-grayable
			+translate('<b>Ghost-Smoke Spectacles.</b> Glasses that can see into the spirit world.')
	.sheet-move.sheet-Setting-Marches
		input.sheet-checkbox(type='checkbox', name='attr_spooktacular-gear10')
		span.sheet-mainbox
		span.sheet-grayable
			+translate('<b>Transparent Veil.</b> A small length of cloth that when peered through allows you to see into the spirit world.')
	.sheet-move.sheet-Setting-Default.sheet-Setting-Gothic
		input.sheet-checkbox(type='checkbox', name='attr_spooktacular-gear11')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='spooktacular-gear11')
				b Really Big Plush Dog (Animated)
				| . Somehow this came to life. It&rsquo;s kind of like a regular dog?
	.sheet-move.sheet-Setting-Dreaming.sheet-Setting-Marches
		input.sheet-checkbox(type='checkbox', name='attr_spooktacular-gear11')
		span.sheet-mainbox
		span.sheet-grayable
			+translate('<b>Living Dog Puppet</b>. Somehow this came to life. It’s kind of like a regular dog?')
	.sheet-move.sheet-Setting-Default.sheet-Setting-Gothic
		input.sheet-checkbox(type='checkbox', name='attr_spooktacular-gear12')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='spooktacular-gear12')
				b Returning 100
				| . Spend this hundred dollar bill, and it will come back in a day or so.
	.sheet-move.sheet-Setting-Dreaming
		input.sheet-checkbox(type='checkbox', name='attr_spooktacular-gear12')
		span.sheet-mainbox
		span.sheet-grayable
			+translate('<b>Returning Aureus</b>. Spend this coin, and it will come back in a day or so.')
	.sheet-move.sheet-Setting-Marches
		input.sheet-checkbox(type='checkbox', name='attr_spooktacular-gear12')
		span.sheet-mainbox
		span.sheet-grayable
			+translate('<b>Returning Ducat</b>. Spend this coin, and it will come back in a day or so.')
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_spooktacular-gear13')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='spooktacular-gear13')
				b Scamulet
				| . Heats up whenever someone&rsquo;s running a scam on you.
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_spooktacular-gear14')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='spooktacular-gear14')
				b Wizard Tent
				| . Worn and crappy on the outside, big and luxurious on the inside.
	| &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
	.space-above
		b
			span(data-i18n='spooktacular-stuff') Paraphernalia
	div(data-i18n='spooktacular-gear15')
		| You have all of this crap: Tickets to a show, Snack vouchers, Decks of cards, Pairs of dice, Magic trick props, Camping gear, Makeup, Costume accessories.
