.sheet-Interface
	input.sheet-SettingCheck(type='hidden', name='attr_Game-World', value='0')
	input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-GearUnused-Hider', value='1', checked='')
	p
		+t("You have the tools necessary for working on your technology. You gain an Internal Computer, integrated. You can choose to take Tactical Armour worth 1-armour if you want.")
		+move("Interface-Gear","Internal Computer (integrated)",false,true)
		+move("Interface-Gear","Tactical Armour (1-armour)")
	br
	+gearhead("Machines","Pick three")
	+move("Interface-Gear","Remote-controlled camera drone")
	+move("Interface-Gear","Mini supercomputer")
	+move("Interface-Gear","Recording suite, integrated")
	+move("Interface-Gear","Enhanced sensor array, integrated")
	+move("Interface-Gear","Jumping device, boots, or jetpack, integrated")
	+move("Interface-Gear","Forgettable sedan")
	+move("Interface-Gear","Plain pickup")
	br
	+gearhead("Weapons","Pick two")
	+move("Interface-Gear","Take a weapon from the Professional gear list (MOTW hardcover, page 101) and give it +Integrated and +Blatant")
		input(type="text" name="attr_Interface-Gear-Professional")
	+move("Interface-Gear","Muscle augments (1-harm hand useful integrated)")
	+move("Interface-Gear","Energy pistol (2-harm close energy)")
	+move("Interface-Gear","Drones (1-harm close autonomous area)")
	+move("Interface-Gear","Zapper (0-harm close stun)")
	+move("Interface-Gear","9mm (2-harm close loud)")
	+move("Interface-Gear","Trendy bladed weapon (2-harm hand)")
	+move("Interface-Gear","Tool (1-harm close useful)")
	br
	+gearhead("Quality of life","Pick two")
	+move("Interface-Gear","Nostalgic photo")
	+move("Interface-Gear","Incessantly replayed voicemail")
	+move("Interface-Gear","Project journal")
	+move("Interface-Gear","Video game console")
	+move("Interface-Gear","All the energy drinks")