.sheet-Visitor
	input.sheet-SettingCheck(type='hidden', name='attr_Game-World', value='0')
	input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-GearUnused-Hider', value='1', checked='')
	p
		+t("You have the vessel that brought you here, but it’s broken. What does it look like?")
		input(type='text' name='attr_Visitor-Gear-Vessel')
	+gearhead("Alien gear","Pick two")
	+move("Visitor-Gear","Information crystal")
	+move("Visitor-Gear","Pocket medkit")
	+move("Visitor-Gear","Universal translator")
	+move("Visitor-Gear","Instant climate bubble")
	+move("Visitor-Gear","Food replicator with four recipes")
	+move("Visitor-Gear","Holographic disguise")
	+move("Visitor-Gear","Hoverbike")
	+move("Visitor-Gear","Portable power generator")
	br
	+gearhead("Alien weapon","Pick one")
	+move("Visitor-Gear","Warp ray (2-harm close disorienting)")
	+move("Visitor-Gear","Psionic blade (2-harm hand ignore armour magic)")
	+move("Visitor-Gear","Lightning gun (3-harm close messy)")
	+move("Visitor-Gear","Freeze gun (0-harm close stun)")
	+move("Visitor-Gear","Harvester gem (1-harm, far energy life-drain)")
	+move("Visitor-Gear","Destabilising seed (3-harm area messy loud)")
	br
	+gearhead("Local gear","Pick two")
	+move("Visitor-Gear","Mobile game console")
	+move("Visitor-Gear","E-book reader, full")
	+move("Visitor-Gear","Old Walkman")
	+move("Visitor-Gear","Smartphone")
	+move("Visitor-Gear","Earth camping gear")
	+move("Visitor-Gear","Collection of photos")
	+move("Visitor-Gear","Favourite snacks")
	+move("Visitor-Gear","Good shoes")
	+move("Visitor-Gear","Pickup truck")