// Gear for The Sidekick
.sheet-Sidekick
	input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-GearUnused-Hider', value='1', checked='')
	div
		span(data-i18n='sidekick-hero-weapon')
			b Hero&apos;s Weapon
			|  
			i (from your hero&apos;s gear options)
		| :
	div
		input(type='text', name='attr_Hero-Weapon-Sidekick')
	.sheet-space-above
		b
			span(data-i18n='sidekick-weapons') Sidekick Weapons
		|  
		i
			| &nbsp;(
			span(data-i18n='pick-two') pick two
			| )
		| :
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_Sidekick_gearchoice1')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='sidekick-gear1') .38 revolver (2 harm, close, reload, loud)
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_Sidekick_gearchoice2')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='sidekick-gear2') Shotgun (3 harm, close, messy, loud)
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_Sidekick_gearchoice3')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='sidekick-gear3') Baseball bat (2 harm, hand)
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_Sidekick_gearchoice4')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='sidekick-gear4') 9mm (2 harm, close, loud)
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_Sidekick_gearchoice5')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='sidekick-gear5') Big knife (1 harm, hand)
