// Gear for The Flake
.sheet-Flake
	input.sheet-SettingCheck(type='hidden', name='attr_Game-World', value='0')
	input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-GearUnused-Hider', value='1', checked='')
	div
		b
			span(data-i18n='flake-normal') Normal Weapon
		|  
		i
			| &nbsp;(
			span(data-i18n='pick-one') pick one
			| )
		| :
	.sheet-move.sheet-Setting-Default
		input.sheet-checkbox(type='checkbox', name='attr_Flake_gear1')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='flake-gear1')
	.sheet-move.sheet-Setting-Default
		input.sheet-checkbox(type='checkbox', name='attr_Flake_gear2')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='flake-gear2')
	.sheet-move.sheet-Setting-Default.sheet-Setting-Gothic
		input.sheet-checkbox(type='checkbox', name='attr_Flake_gear3')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='flake-gear3')
	.sheet-move.sheet-Setting-Default
		input.sheet-checkbox(type='checkbox', name='attr_Flake_gear4')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='flake-gear4')
	.sheet-move.sheet-Setting-Default.sheet-Setting-Gothic
		input.sheet-checkbox(type='checkbox', name='attr_Flake_gear5')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='flake-gear5')
	.sheet-move.sheet-Setting-Default.sheet-Setting-Gothic.sheet-Setting-Dreaming.sheet-Setting-Marches
		input.sheet-checkbox(type='checkbox', name='attr_Flake_gear6')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='flake-gear6')
	+move('Gothic-Gear-Flake','Revolver (2-harm hand/close reload)')(class="sheet-Setting-Gothic")
	+move('Gothic-Gear-Flake','Rifle (3-harm close/far reload slow)')(class="sheet-Setting-Gothic")
	+move('Gothic-Gear-Flake','Wrench (2-harm hand inconspicuous)')(class="sheet-Setting-Gothic")
	+move('Gothic-Gear-Flake','Steam pressure rifle (3-harm close reload)')(class="sheet-Setting-Gothic")
	+move('Dreaming-Gear-Flake','Flintlock pistol (2-harm close reload loud)')(class="sheet-Setting-Dreaming")
	+move('Dreaming-Gear-Flake','Ancient gladius (2-harm hand valuable)')(class="sheet-Setting-Dreaming")
	+move('Dreaming-Gear-Flake','Clockwork rifle (3-harm close reload)')(class="sheet-Setting-Dreaming")
	+move('Marches-Gear-Flake',"Crossbow (2-harm close quick reload)").sheet-Setting-Marches
	+move('Marches-Gear-Flake',"Prototype pistol (3-harm close reload ignore-armour volatile loud)").sheet-Setting-Marches
	+move('Marches-Gear-Flake',"Sword (2-harm hand)").sheet-Setting-Marches

	.sheet-space-above
		b
			span(data-i18n='flake-hidden') Hidden Weapons
		|  
		i
			| &nbsp;(
			span(data-i18n='pick-two') pick two
			| )
		| :
	.sheet-move.sheet-Setting-Default.sheet-Setting-Gothic.sheet-Setting-Dreaming.sheet-Setting-Marches
		input.sheet-checkbox(type='checkbox', name='attr_Flake_gear7', value='gear7')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='flake-gear7')
	.sheet-move.sheet-Setting-Default
		input.sheet-checkbox(type='checkbox', name='attr_Flake_gear8', value='gear8')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='flake-gear8')
	.sheet-move.sheet-Setting-Default.sheet-Setting-Gothic.sheet-Setting-Dreaming.sheet-Setting-Marches
		input.sheet-checkbox(type='checkbox', name='attr_Flake_gear9', value='gear9')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='flake-gear9')
	.sheet-move.sheet-Setting-Default
		input.sheet-checkbox(type='checkbox', name='attr_Flake_gear10', value='gear10')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='flake-gear10')
	.sheet-move.sheet-Setting-Default.sheet-Setting-Gothic.sheet-Setting-Dreaming.sheet-Setting-Marches
		input.sheet-checkbox(type='checkbox', name='attr_Flake_gear11', value='gear11')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='flake-gear11')
	.sheet-move.sheet-Setting-Default.sheet-Setting-Gothic.sheet-Setting-Dreaming.sheet-Setting-Marches
		input.sheet-checkbox(type='checkbox', name='attr_Flake_gear12', value='gear12')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='flake-gear12')
	+move('Gothic-Gear-Flake','Sword cane (2-harm hand concealable)')(class="sheet-Setting-Gothic")
	+move('Dreaming-Gear-Flake','Ancient stiletto (1-harm intimate/hand small valuable)')(class="sheet-Setting-Dreaming")
	+move('Dreaming-Gear-Flake','Alchemical vials (2-harm close magic many volatile)')(class="sheet-Setting-Dreaming")
	+move('Marches-Gear-Flake',"Dagger (1-harm hand/close hidden)").sheet-Setting-Marches
	+move('Marches-Gear-Flake',"Shortbow (2-harm close concealable)").sheet-Setting-Marches