// Gear for The Expert
.sheet-Expert
	input.sheet-SettingCheck(type='hidden', name='attr_Game-World', value='0')
	input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-GearUnused-Hider', value='1', checked='')
	div
		b
			span(data-i18n='expert-weapons') Monster-slaying Weapons
		|  
		i
			| &nbsp;(
			span(data-i18n='pick-three') pick three
			| )
		| :

	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_Expert_gear1', value='gear1')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='expert-gear1')
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_Expert_gear2', value='gear2')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='expert-gear2')
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_Expert_gear3', value='gear3')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='expert-gear3')
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_Expert_gear4', value='gear4')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='expert-gear4')
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_Expert_gear5', value='gear5')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='expert-gear5')
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_Expert_gear6', value='gear6')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='expert-gear6')
	.sheet-move.sheet-Setting-Default
		input.sheet-checkbox(type='checkbox', name='attr_Expert_gear7', value='gear7')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='expert-gear7')
	.sheet-move.sheet-Setting-Default
		input.sheet-checkbox(type='checkbox', name='attr_Expert_gear8', value='gear8')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='expert-gear8')
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_Expert_gear9', value='gear9')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='expert-gear9')
	+move('Gothic-Gear-Expert','Sword cane (2-harm hand concealable)')(class="sheet-Setting-Gothic")
	+move('Gothic-Gear-Expert','Whipblade (2-harm hand/close messy)')(class="sheet-Setting-Gothic")
	+move('Gothic-Gear-Expert','Musket (3-harm close reload slow inaccurate)')(class="sheet-Setting-Gothic")
	+move('Gothic-Gear-Expert','Prototype Flamethrower (3-harm close area volatile)')(class="sheet-Setting-Gothic")
	+move('Gothic-Gear-Expert','Revolver (2-harm hand/close reload)')(class="sheet-Setting-Gothic")
