// Gear for The Traveler
.sheet-Traveler
	input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-GearUnused-Hider', value='1', checked='')
	div
		b
			span(data-i18n='traveler-devices') Technological Devices
		|  
		i
			| &nbsp;(
			span(data-i18n='pick-two') pick two
			| )
		| :
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_Traveler_gearchoice1')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='traveler-gear1')
				i Photonic Binoculars
				| : Able to see in total darkness and in different spectra, including infrared
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_Traveler_gearchoice2')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='traveler-gear2')
				i Sonic Screwdriver
				| : Able to repair, or damage, simple mechanical and electronic devices (eg. radios, locks, weapons etc)
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_Traveler_gearchoice3')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='traveler-gear3')
				i Travel Guide
				| : A small electronic book containing all human historical knowledge up to the present era
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_Traveler_gearchoice4')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='traveler-gear4')
				i Portable Laboratory
				| : A small device capable of diagnosing diseases, poisons and abnormal conditions from a drop of blood or similar input
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_Traveler_gearchoice5')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='traveler-gear5')
				i Universal Locator
				| : Indicates the exact position in time and space. Can only be blocked with magic or high levels of radiation
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_Traveler_gearchoice6')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='traveler-gear6')
				i Hologram Projector
				| : Projects a person-sized hologram (recorded or live) that looks real until touched
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_Traveler_gearchoice7')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='traveler-gear7')
				i Instant Translator
				| : Ensures speech and understanding of any natural language (does not work with magic or supernatural languages)
	.sheet-space-above
		b
			span(data-i18n='traveler-weapon') Protective Weapons
		|  
		i
			| &nbsp;(
			span(data-i18n='pick-one') pick one
			| )
		| :
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_Traveler_gearchoice8')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='traveler-gear8') Machete (1 harm, contact)
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_Traveler_gearchoice9')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='traveler-gear9') Common revolver (2 harm, close, loud, reload)
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_Traveler_gearchoice10')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='traveler-gear10') Shotgun (3 harm, close, messy, loud, reload)
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_Traveler_gearchoice11')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='traveler-gear11') Light futuristic weapon (1 harm, add 1 range tag and 3 other tags)
			input(type='text', name='attr_Futureweapon1-Traveler')
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_Traveler_gearchoice12')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='traveler-gear12') Heavy futuristic weapon (3 harm, add 1 range tag and 1 other tag)
			input(type='text', name='attr_Futureweapon2-Traveler')
