.sheet-Celebrity
	input.sheet-SettingCheck(type='hidden', name='attr_Game-World', value='0')
	input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-GearUnused-Hider', value='1', checked='')
	+gearhead("Ride","Pick one")
	+move("Celebrity-Gear","Tour bus with custom paint job")
	+move("Celebrity-Gear","Fancy sports car")
	+move("Celebrity-Gear","Barely street legal “civilian” military vehicle")
	+move("Celebrity-Gear","Limo with driver")
	+move("Celebrity-Gear","Classic old car")
	+move("Celebrity-Gear","Overpowered sports motorcycle")
	br
	+gearhead("Normal weapons","Pick two")
	+move("Celebrity-Gear",".38 revolver (2-harm close reload loud)")
	+move("Celebrity-Gear","Shotgun (3-harm close messy)")
	+move("Celebrity-Gear","Hunting rifle (2-harm far loud)")
	+move("Celebrity-Gear","9mm pistol (2-harm close loud)")
	+move("Celebrity-Gear","Big knife (1-harm hand)")
	+move("Celebrity-Gear","Chainsaw (2-harm hand heavy messy loud)")