// Gear for Hard Case 2020
.sheet-Hardcase2020
	input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-GearUnused-Hider', value='1', checked='')
	div(data-i18n='hardcase2020-gear-directions')
		| You get one Hard Case weapon, one vehicle, one other, and whatever you got from your Hard Knocks.
	.sheet-space-above
		b
			span(data-i18n='hardcase-weapons') Hard Case Weapons
		|  
		i
			| &nbsp;(
			span(data-i18n='pick-one') pick one
			| )
		| :
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_hardcase2020-gear1')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='hardcase2020-gear1') Ancient sword (2-harm hand valuable balanced holy)
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_hardcase2020-gear2')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='hardcase2020-gear2') Auto shotgun (3-harm close load reload area)
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_hardcase2020-gear3')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='hardcase2020-gear3') Battered assault rifle (3-harm close/far area loud)
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_hardcase2020-gear4')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='hardcase2020-gear4') Chainsaw (3-harm hand unreliable messy heavy)
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_hardcase2020-gear5')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='hardcase2020-gear5') Crowbar (2-harm hand messy innocuous)
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_hardcase2020-gear6')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='hardcase2020-gear6') Hand cannon (3-harm close loud)
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_hardcase2020-gear7')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='hardcase2020-gear7') Huge fucking knife (2-harm hand messy)
	.sheet-space-above
		b
			span(data-i18n='hardcase-normal') Normal Weapons
		|  
		i
			| &nbsp;(
			span(data-i18n='pick-two') pick two
			| )
		| :
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_hardcase2020-gear8')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='hardcase2020-gear8') Shotgun (3-harm close messy)
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_hardcase2020-gear9')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='hardcase2020-gear9') Hunting rifle (2-harm far loud)
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_hardcase2020-gear10')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='hardcase2020-gear10') Pistol (2-harm close)
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_hardcase2020-gear11')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='hardcase2020-gear11') Big knife (1-harm hand)
	.sheet-space-above
		b
			span(data-i18n='hardcase-vehicles') Vehicles
		|  
		i
			| &nbsp;(
			span(data-i18n='pick-one') pick one
			| )
		| :
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_hardcase2020-gear12')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='hardcase2020-gear12') Pickup
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_hardcase2020-gear13')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='hardcase2020-gear13') Motorbike
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_hardcase2020-gear14')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='hardcase2020-gear14') Muscle car
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_hardcase2020-gear15')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='hardcase2020-gear15') Sportscar
	.sheet-space-above
		b
			span(data-i18n='hardcase-other') Other items
		|  
		i
			| &nbsp;(
			span(data-i18n='pick-one') pick one
			| )
		| :
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_hardcase2020-gear16')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='hardcase2020-gear16') Concealed armour (1-armour hidden)
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_hardcase2020-gear17')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='hardcase2020-gear17') Heavy armour (2-armour heavy)
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_hardcase2020-gear18')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='hardcase2020-gear18') Firewater (once per mystery, drink it to mark 1 Fire)
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_hardcase2020-gear19')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='hardcase2020-gear19') Bag of cash (untraceable)
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_hardcase2020-gear20')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='hardcase2020-gear20') Ghost detector (unreliable)
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_hardcase2020-gear21')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='hardcase2020-gear21') A bunch of old monster hunting journals
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_hardcase2020-gear22')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='hardcase2020-gear22') A spell formula, written on a napkin
