.sheet-Envoy
	input.sheet-SettingCheck(type='hidden', name='attr_Game-World', value='0')
	input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-GearUnused-Hider', value='1', checked='')
	+gearhead("Resources","Pick one")
	+move("Envoy-Gear","Mysterious financial assets")
	+move("Envoy-Gear","Access to exclusive spaces")
	+move("Envoy-Gear","Communication devices")
	+move("Envoy-Gear","Diplomatic credentials")
	br
	+gearhead("Weapon","Pick one")
	+move("Envoy-Gear","Defensive charm (1-harm close magic 1-armour)")
	+move("Envoy-Gear","Holdout pistol (2-harm close small)")
	+move("Envoy-Gear","Rebuking touch (1-harm hand holy)")
	+move("Envoy-Gear","Whispered revelation (0-harm intimate stun)")