.sheet-Actionscientist
	input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-GearUnused-Hider', value='1', checked='')
	div
		span(data-i18n='AS-geardesc')
			| You have toolkits containing everything you need for your normal science, engineering, and analysis tasks. You also get two science weapons. If you want, you can have Science Armour worth 1-armour. The &quot;batteries&quot; tag is like &quot;reload&quot;: the weapon is liable to run out of power at bad moments.
		| &nbsp;(
		i
			span(data-i18n='pick-two') pick two
		| )
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_AS-gear1')
		span.sheet-mainbox
		span.sheet-grayable(data-i18n='AS-gear1')
			| Lightning Gun (3-harm close loud electricity batteries)
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_AS-gear2')
		span.sheet-mainbox
		span.sheet-grayable(data-i18n='AS-gear2')
			| Portable Particle Accelerator (3-harm close messy area batteries)
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_AS-gear3')
		span.sheet-mainbox
		span.sheet-grayable(data-i18n='AS-gear3')
			| Laser Cannon (2-harm far quiet batteries)
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_AS-gear4')
		span.sheet-mainbox
		span.sheet-grayable(data-i18n='AS-gear4')
			| Net Launcher (0-harm close entangling)
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_AS-gear5')
		span.sheet-mainbox
		span.sheet-grayable(data-i18n='AS-gear5')
			| Scalpel (1-harm hand)
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_AS-gear6')
		span.sheet-mainbox
		span.sheet-grayable(data-i18n='AS-gear6')
			| Force Knife (2-harm hand batteries)
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_AS-gear7')
		span.sheet-mainbox
		span.sheet-grayable(data-i18n='AS-gear7')
			| Tranquiliser Rifle (1-harm close sedating)
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_AS-gear8')
		span.sheet-mainbox
		span.sheet-grayable(data-i18n='AS-gear8')
			| Stun-ray Pistol (0-harm close sedating)
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_AS-gear9')
		span.sheet-mainbox
		span.sheet-grayable(data-i18n='AS-gear9')
			| Autonomous Drone (2-harm far autonomous)
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_AS-gear10')
		span.sheet-mainbox
		span.sheet-grayable(data-i18n='AS-gear10')
			| Atomic Pistol (3-harm close radiation)
// .sheet-Actionscientist
