// Gear for The Snoop
.sheet-Snoop
	input.sheet-SettingCheck(type='hidden', name='attr_Game-World', value='0')
	input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-GearUnused-Hider', value='1', checked='')
	div.sheet-Setting-Default
		span(data-i18n='snoop-gear-base') A laptop
	.sheet-space-above
		b
			span(data-i18n='snoop-recording') Recording Devices
		|  
		i
			| &nbsp;(
			span(data-i18n='pick-three') pick three
			| )
		| :
	.sheet-move.sheet-Setting-Default
		input.sheet-checkbox(type='checkbox', name='attr_Snoop_gearchoice1')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='snoop-gear1') Digital video camera
	.sheet-move.sheet-Setting-Default
		input.sheet-checkbox(type='checkbox', name='attr_Snoop_gearchoice2')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='snoop-gear2') Tiny digital video camera
	.sheet-move.sheet-Setting-Default
		input.sheet-checkbox(type='checkbox', name='attr_Snoop_gearchoice3')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='snoop-gear3') Film camera (8mm or 16mm)
	.sheet-move.sheet-Setting-Default
		input.sheet-checkbox(type='checkbox', name='attr_Snoop_gearchoice4')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='snoop-gear4') Digital sound recorder
	.sheet-move.sheet-Setting-Default
		input.sheet-checkbox(type='checkbox', name='attr_Snoop_gearchoice5')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='snoop-gear5') Cassette tape recorder
	.sheet-move.sheet-Setting-Default
		input.sheet-checkbox(type='checkbox', name='attr_Snoop_gearchoice6')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='snoop-gear6') Infrared video camera
	.sheet-move.sheet-Setting-Default
		input.sheet-checkbox(type='checkbox', name='attr_Snoop_gearchoice7')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='snoop-gear7') Pro sound gear with boom mike
	.sheet-move.sheet-Setting-Default
		input.sheet-checkbox(type='checkbox', name='attr_Snoop_gearchoice8')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='snoop-gear8') Remote controlled camera drone
	.sheet-move.sheet-Setting-Default
		input.sheet-checkbox(type='checkbox', name='attr_Snoop_gearchoice9')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='snoop-gear9') Starlight camera
	.sheet-move.sheet-Setting-Default
		input.sheet-checkbox(type='checkbox', name='attr_Snoop_gearchoice10')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='snoop-gear10') Steadicam rig
	.sheet-move.sheet-Setting-Default
		input.sheet-checkbox(type='checkbox', name='attr_Snoop_gearchoice11')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='snoop-gear11') Laser microphone
	.sheet-move.sheet-Setting-Default
		input.sheet-checkbox(type='checkbox', name='attr_Snoop_gearchoice12')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='snoop-gear12') SLR camera
	.sheet-move.sheet-Setting-Default
		input.sheet-checkbox(type='checkbox', name='attr_Snoop_gearchoice28')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='snoop-gear28') Nice smartphone
	+move('Gothic-Gear-Snoop','Notebook & pen').sheet-Setting-Gothic
	+move('Gothic-Gear-Snoop','Sketchbook, watercolours, and pencils').sheet-Setting-Gothic
	+move('Gothic-Gear-Snoop','Personal secretary').sheet-Setting-Gothic
	+move('Gothic-Gear-Snoop','Camera (heavy, fragile) and Photographic flash apparatus (heavy, loud, volatile)').sheet-Setting-Gothic
	+move('Gothic-Gear-Snoop','Phonograph (heavy, fragile)').sheet-Setting-Gothic
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_Snoop_gearchoice_blank1')
		span.sheet-mainbox
		span.sheet-grayable
			+translate('Something else:')
			input(type='text', name='attr_Snoop_gearchoice_blank1_text')
	.sheet-space-above
		b
			span(data-i18n='snoop-detector') Detectors
		|  
		i
			| &nbsp;(
			span(data-i18n='pick-two') pick two
			| )
		| :
	.sheet-move.sheet-Setting-Default
		input.sheet-checkbox(type='checkbox', name='attr_Snoop_gearchoice13')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='snoop-gear13') Electromagnetic field detector
	.sheet-move.sheet-Setting-Default
		input.sheet-checkbox(type='checkbox', name='attr_Snoop_gearchoice14')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='snoop-gear14') Temperature fluctuation detector
	.sheet-move.sheet-Setting-Default
		input.sheet-checkbox(type='checkbox', name='attr_Snoop_gearchoice15')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='snoop-gear15') Ouija board
	.sheet-move.sheet-Setting-Default
		input.sheet-checkbox(type='checkbox', name='attr_Snoop_gearchoice16')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='snoop-gear16') Humidity meter
	.sheet-move.sheet-Setting-Default
		input.sheet-checkbox(type='checkbox', name='attr_Snoop_gearchoice17')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='snoop-gear17') Dowsing rods
	.sheet-move.sheet-Setting-Default
		input.sheet-checkbox(type='checkbox', name='attr_Snoop_gearchoice18')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='snoop-gear18') Chemistry test kit
	.sheet-move.sheet-Setting-Default
		input.sheet-checkbox(type='checkbox', name='attr_Snoop_gearchoice19')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='snoop-gear19') Metal detector
	.sheet-move.sheet-Setting-Default
		input.sheet-checkbox(type='checkbox', name='attr_Snoop_gearchoice20')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='snoop-gear20') Compass
	.sheet-move.sheet-Setting-Default
		input.sheet-checkbox(type='checkbox', name='attr_Snoop_gearchoice21')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='snoop-gear21') GPS receiver
	.sheet-move.sheet-Setting-Default
		input.sheet-checkbox(type='checkbox', name='attr_Snoop_gearchoice22')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='snoop-gear22') Laser rangefinder
	.sheet-move.sheet-Setting-Default
		input.sheet-checkbox(type='checkbox', name='attr_Snoop_gearchoice23')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='snoop-gear23') Pendulum
	.sheet-move.sheet-Setting-Default
		input.sheet-checkbox(type='checkbox', name='attr_Snoop_gearchoice29')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='snoop-gear29') Tarot deck
	+move('Gothic-Gear-Snoop','Electrical lantern (fragile)').sheet-Setting-Gothic
	+move('Gothic-Gear-Snoop','Dowsing rods').sheet-Setting-Gothic
	+move('Gothic-Gear-Snoop','Ouija board').sheet-Setting-Gothic
	+move('Gothic-Gear-Snoop','Chemistry test kit').sheet-Setting-Gothic
	+move('Gothic-Gear-Snoop','Compass').sheet-Setting-Gothic
	+move('Gothic-Gear-Snoop','Pendulum').sheet-Setting-Gothic
	+move('Gothic-Gear-Snoop','Tarot cards').sheet-Setting-Gothic
	+move('Gothic-Gear-Snoop','Electrical fluid detector').sheet-Setting-Gothic
	+move('Gothic-Gear-Snoop','Sample case & jars').sheet-Setting-Gothic
	+move('Gothic-Gear-Snoop','Dissection kit').sheet-Setting-Gothic
	+move('Gothic-Gear-Snoop','Thermometer').sheet-Setting-Gothic
	+move('Gothic-Gear-Snoop','Stopwatch').sheet-Setting-Gothic
	+move('Gothic-Gear-Snoop','Prisms, lenses, & crystals').sheet-Setting-Gothic
	+move('Gothic-Gear-Snoop','Radio-wave receiver (heavy, fragile)').sheet-Setting-Gothic
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_Snoop_gearchoice_blank2')
		span.sheet-mainbox
		span.sheet-grayable
			+translate('Something else:')
			input(type='text', name='attr_Snoop_gearchoice_blank2_text')
	.sheet-space-above
		b
			span(data-i18n='snoop-weapon') Subtle Weapons
		|  
		i
			| &nbsp;(
			span(data-i18n='pick-one') pick one
			| )
		| :
	.sheet-move.sheet-Setting-Default
		input.sheet-checkbox(type='checkbox', name='attr_Snoop_gearchoice24')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='snoop-gear24') Stun Gun (1 harm, hand, stun)
	+move('Gothic-Gear-Snoop','Chloroform (0-harm, intimate, stun)').sheet-Setting-Gothic
	.sheet-move.sheet-Setting-Default.sheet-Setting-Gothic
		input.sheet-checkbox(type='checkbox', name='attr_Snoop_gearchoice25')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='snoop-gear25') Handgun (2 harm, close, loud)
	.sheet-move.sheet-Setting-Default.sheet-Setting-Gothic
		input.sheet-checkbox(type='checkbox', name='attr_Snoop_gearchoice26')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='snoop-gear26') Knife (1 harm, hand, hidden)
	.sheet-move.sheet-Setting-Default.sheet-Setting-Gothic
		input.sheet-checkbox(type='checkbox', name='attr_Snoop_gearchoice27')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='snoop-gear27') Multitool/pocket knife (1 harm, hand, hidden, useful)
	.sheet-move.sheet-Setting-Default.sheet-Setting-Gothic
		input.sheet-checkbox(type='checkbox', name='attr_Snoop_gearchoice30')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='snoop-gear30') Baseball/cricket bat (2 harm, hand, innocuous, messy)
