.sheet-Changeling
	input.sheet-SettingCheck(type='hidden', name='attr_Game-World', value='0')
	input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-GearUnused-Hider', value='1', checked='')
	+gearhead("Transportation","Pick one")
	+move("Changeling-Gear","Skateboard")
	+move("Changeling-Gear","Roller skates")
	+move("Changeling-Gear","Bicycle")
	+move("Changeling-Gear","Old pickup truck")
	+move("Changeling-Gear","Motorcycle")
	+move("Changeling-Gear","Van")
	+move("Changeling-Gear","Fairly new car in decent condition")
	+move("Changeling-Gear","Classic car in poor condition")
	br
	+gearhead("Weapon","Pick one")
	+move("Changeling-Gear","Sport club (2-harm hand innocuous messy)")
	+move("Changeling-Gear","Pocket knife of multitool (1-harm hand useful small)")
	+move("Changeling-Gear","Small handgun (2-harm close loud)")
	+move("Changeling-Gear","Hunting rifle (3-harm far loud reload)")
	+move("Changeling-Gear","Sledgehammer (2-harm hand messy slow)")
	+move("Changeling-Gear","Fire axe (2-harm hand messy heavy)")
	+move("Changeling-Gear","Talisman or artifact (1-harm close magic ignore-armour)")
	br
	+gearhead("Mementos and Gear","Pick two")
	+move("Changeling-Gear","A childhood toy")
	+move("Changeling-Gear","A laptop")
	+move("Changeling-Gear","A knapsack, backpack, or purse")
	+move("Changeling-Gear","A smartphone, mobile game device, or music player")
	+move("Changeling-Gear","Old photos")
	+move("Changeling-Gear","Jewellery")
	+move("Changeling-Gear","A favourite piece of clothing")
	+move("Changeling-Gear","A journal")
	+move("Changeling-Gear","Letters or emails from home")