// Gear for The Meddling Kid
.sheet-Meddlingkid
	input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-GearUnused-Hider', value='1', checked='')
	div
		b
			span(data-i18n='meddlingkid-gadgets') Mystery-solving Gadgets
		|  
		i
			| &nbsp;(
			span(data-i18n='pick-three') pick three
			| )
		| :
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_Meddlingkid_gearchoice1')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='meddlingkid-gear1') Magnifying glass
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_Meddlingkid_gearchoice2')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='meddlingkid-gear2') Microscope
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_Meddlingkid_gearchoice3')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='meddlingkid-gear3') A van
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_Meddlingkid_gearchoice4')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='meddlingkid-gear4') Library card
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_Meddlingkid_gearchoice5')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='meddlingkid-gear5') Chemistry kit
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_Meddlingkid_gearchoice6')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='meddlingkid-gear6') A set of walkie-talkies
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_Meddlingkid_gearchoice7')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='meddlingkid-gear7') Fingerprint kit
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_Meddlingkid_gearchoice8')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='meddlingkid-gear8') Camera
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_Meddlingkid_gearchoice9')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='meddlingkid-gear9') Bag of snacks
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_Meddlingkid_gearchoice10')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='meddlingkid-gear10') Toolbox
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_Meddlingkid_gearchoice11')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='meddlingkid-gear11') Tape recorder
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_Meddlingkid_gearchoice12')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='meddlingkid-gear12') Disguise kit
