.sheet-Gear
	.sheet-Subsection
		span(data-i18n='gear') Gear
	input.sheet-checkbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-GearAll-Hider', value='1', checked='')
	span.sheet-anglebox
	|  
	span.sheet-ExpHeader
		span(data-i18n='all') All
	.sheet-Expander
		input.sheet-SkinCheck.sheet-99-hider(type='hidden', name='attr_SkinCheck', value='0')
		|  
		.sheet-isolator
			input.sheet-checkbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-GearUnused-Hider', value='1', checked='')
			span.sheet-anglebox
			|  
			span.sheet-ExpHeader
				span(data-i18n='unused') Unused
		.sheet-Custom
			fieldset.repeating_Gear-Custom
				div
					input.sheet-checkbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-Edit-Hider', value='1', checked='')
					span.sheet-anglebox
					|  
					span.sheet-ExpHeader
						span(data-i18n='edit') Edit
					.sheet-EditControls.sheet-Expander
						div
							b
								span(data-i18n='description') Description
							| :
						textarea(name='attr_Gear-CustomDescrip', rows='2', cols='40')
				.sheet-move
					input.sheet-checkbox(type='checkbox', name='attr_Gear-CustomCheck', checked='')
					span.sheet-mainbox
					span.sheet-grayable
						span(name='attr_Gear-CustomDescrip')
		.sheet-Actionscientist
			input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-GearUnused-Hider', value='1', checked='')
			div
				span(data-i18n='AS-geardesc')
					| You have toolkits containing everything you need for your normal science, engineering, and analysis tasks. You also get two science weapons. If you want, you can have Science Armour worth 1-armour. The &quot;batteries&quot; tag is like &quot;reload&quot;: the weapon is liable to run out of power at bad moments.
				| &nbsp;(
				i
					span(data-i18n='pick-two') pick two
				| )
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_AS-gear1')
				span.sheet-mainbox
				span.sheet-grayable(data-i18n='AS-gear1')
					| Lightning Gun (3-harm close loud electricity batteries)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_AS-gear2')
				span.sheet-mainbox
				span.sheet-grayable(data-i18n='AS-gear2')
					| Portable Particle Accelerator (3-harm close messy area batteries)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_AS-gear3')
				span.sheet-mainbox
				span.sheet-grayable(data-i18n='AS-gear3')
					| Laser Cannon (2-harm far quiet batteries)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_AS-gear4')
				span.sheet-mainbox
				span.sheet-grayable(data-i18n='AS-gear4')
					| Net Launcher (0-harm close entangling)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_AS-gear5')
				span.sheet-mainbox
				span.sheet-grayable(data-i18n='AS-gear5')
					| Scalpel (1-harm hand)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_AS-gear6')
				span.sheet-mainbox
				span.sheet-grayable(data-i18n='AS-gear6')
					| Force Knife (2-harm hand batteries)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_AS-gear7')
				span.sheet-mainbox
				span.sheet-grayable(data-i18n='AS-gear7')
					| Tranquiliser Rifle (1-harm close sedating)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_AS-gear8')
				span.sheet-mainbox
				span.sheet-grayable(data-i18n='AS-gear8')
					| Stun-ray Pistol (0-harm close sedating)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_AS-gear9')
				span.sheet-mainbox
				span.sheet-grayable(data-i18n='AS-gear9')
					| Autonomous Drone (2-harm far autonomous)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_AS-gear10')
				span.sheet-mainbox
				span.sheet-grayable(data-i18n='AS-gear10')
					| Atomic Pistol (3-harm close radiation)
		// .sheet-Actionscientist
		.sheet-Chosen
			input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-GearUnused-Hider', value='1', checked='')
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Chosen_gearchoice0')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='chosen-gear1') Protective gear worth 1 armour
					|  (
					span(data-i18n='optional') optional
					| )
			br
			.sheet-MinorHead
				span(data-i18n='chosen-gear2') Special Weapon
			span(data-i18n='chosen-special-descrip')
				| Design your weapon by choosing a Form, three Business-end options (which are added to the base tags), and a material that the business-end is made from.
			br
			b
				span(data-i18n='form') Form
			|  
			i
				| &nbsp;(
				span(data-i18n='pick-one') pick one
				| )
			| :
			br
			select.sheet-Gear-Chosen(name='attr_Chosen_gearchoice')
				option.sheet-Gear-Chosen(name='attr_Chosen_gearchoice', value='staff', checked='', data-i18n='chosen-gear3') Staff (1 harm, hand/close)
				option.sheet-Gear-Chosen(name='attr_Chosen_gearchoice', value='haft', data-i18n='chosen-gear4') Haft (2 harm, hand, heavy)
				option.sheet-Gear-Chosen(name='attr_Chosen_gearchoice', value='handle', data-i18n='chosen-gear5') Handle (1 harm, hand, balanced)
				option.sheet-Gear-Chosen(name='attr_Chosen_gearchoice', value='chain', data-i18n='chosen-gear6') Chain (1 harm, hand, area)
			br
			|  
			b
				span(data-i18n='business-end') Business-end
			|  
			i
				| &nbsp;(
				span(data-i18n='pick-three') pick three
				| )
			| :
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Chosen_gearchoice1')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='chosen-gear7') Artifact (+magic)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Chosen_gearchoice2')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='chosen-gear8') Spikes (+1 harm, +messy)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Chosen_gearchoice3')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='chosen-gear9') Blade (+1 harm)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Chosen_gearchoice4')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='chosen-gear10') Heavy (+1 harm)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Chosen_gearchoice5')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='chosen-gear11') Long (+close)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Chosen_gearchoice6')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='chosen-gear12') Throwable (+close)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Chosen_gearchoice7')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='chosen-gear13') Chain (+area)
			.sheet-move
				b
					span(data-i18n='material') Material
				|  
				i
					| &nbsp;(
					span(data-i18n='pick-one') pick one
					| )
				| :
				br
				span(data-i18n='material-desc')
					| &nbsp;(+steel, +cold iron, +silver, +wood, +stone, +bone, +teeth, +obsidian, or anything else you want)
				br
				input(type='text', name='attr_gear-chosen')
		// Gear for The Constructed
		.sheet-Constructed
			input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-GearUnused-Hider', value='1', checked='')
			div(data-i18n='constructed-gear-large')
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_constructed-gear1')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='constructed-gear1')
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_constructed-gear2')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='constructed-gear2')
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_constructed-gear3')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='constructed-gear3')
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_constructed-gear4')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='constructed-gear4')
			div(data-i18n='constructed-gear-body')
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_constructed-gear5')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='constructed-gear5')
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_constructed-gear6')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='constructed-gear6')
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_constructed-gear7')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='constructed-gear7')
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_constructed-gear8')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='constructed-gear8')
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_constructed-gear9')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='constructed-gear9')
		.sheet-Crooked
			input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-GearUnused-Hider', value='1', checked='')
			div
				b
					span(data-i18n='crooked-weapon') Effective Weapons
				|  
				i
					| &nbsp;(
					span(data-i18n='pick-three') pick three
					| )
				| :
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Crooked_gearchoice1')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='crooked-gear1') .22 revolver (1 harm, close, reload, small)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Crooked_gearchoice2')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='crooked-gear2') .38 revolver (2 harm, close, reload, loud)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Crooked_gearchoice3')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='crooked-gear3') 9mm (2 harm, close, loud)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Crooked_gearchoice4')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='crooked-gear4') Shotgun (3 harm, close, messy)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Crooked_gearchoice5')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='crooked-gear5') Hunting rifle (2 harm, far, loud)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Crooked_gearchoice6')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='crooked-gear6') Big knife (1 harm, hand)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Crooked_gearchoice7')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='crooked-gear7') Baseball bat (1 harm, hand)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Crooked_gearchoice8')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='crooked-gear8') Submachinegun (2 harm, close, reload, area)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Crooked_gearchoice9')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='crooked-gear9') Assault rifle (3 harm, close/far, area)
		// Gear for The Divine
		.sheet-Divine
			input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-GearUnused-Hider', value='1', checked='')
			.sheet-move
				span(data-i18n='divine-armour') Divine Armour (1 armour, holy) with a look suited to your divine origin
			.sheet-space-above
				b
					span(data-i18n='divine-weapon') Divine Weapon
				|  
				i
					| &nbsp;(
					span(data-i18n='pick-one') pick one
					| )
				| :
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Divine_gearchoice1', value='1')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='divine-gear1') Flaming sword (3 harm, hand, fire, holy)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Divine_gearchoice2', value='1')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='divine-gear2') Thunder hammer (3 harm, hand, stun, holy)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Divine_gearchoice3', value='1')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='divine-gear3') Razor whip (3 harm, hand, area, messy, holy)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Divine_gearchoice4', value='1')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='divine-gear4') Five demon bag (3 harm, close, magic, holy)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Divine_gearchoice5', value='1')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='divine-gear5') Silver trident (3 harm, hand, silver, holy)
		// Gear for The Expert
		.sheet-Expert
			input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-GearUnused-Hider', value='1', checked='')
			div
				b
					span(data-i18n='expert-weapons') Monster-slaying Weapons
				|  
				i
					| &nbsp;(
					span(data-i18n='pick-three') pick three
					| )
				| :
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Expert_gear1', value='gear1')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='expert-gear1')
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Expert_gear2', value='gear2')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='expert-gear2')
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Expert_gear3', value='gear3')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='expert-gear3')
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Expert_gear4', value='gear4')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='expert-gear4')
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Expert_gear5', value='gear5')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='expert-gear5')
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Expert_gear6', value='gear6')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='expert-gear6')
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Expert_gear7', value='gear7')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='expert-gear7')
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Expert_gear8', value='gear8')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='expert-gear8')
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Expert_gear9', value='gear9')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='expert-gear9')
		// Gear for The Flake
		.sheet-Flake
			input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-GearUnused-Hider', value='1', checked='')
			div
				b
					span(data-i18n='flake-normal') Normal Weapon
				|  
				i
					| &nbsp;(
					span(data-i18n='pick-one') pick one
					| )
				| :
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Flake_gear1')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='flake-gear1')
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Flake_gear2')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='flake-gear2')
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Flake_gear3')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='flake-gear3')
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Flake_gear4')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='flake-gear4')
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Flake_gear5')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='flake-gear5')
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Flake_gear6')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='flake-gear6')
			.sheet-space-above
				b
					span(data-i18n='flake-hidden') Hidden Weapons
				|  
				i
					| &nbsp;(
					span(data-i18n='pick-two') pick two
					| )
				| :
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Flake_gear7', value='gear7')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='flake-gear7')
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Flake_gear8', value='gear8')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='flake-gear8')
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Flake_gear9', value='gear9')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='flake-gear9')
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Flake_gear10', value='gear10')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='flake-gear10')
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Flake_gear11', value='gear11')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='flake-gear11')
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Flake_gear12', value='gear12')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='flake-gear12')
		// Gear for The Initiate
		.sheet-Initiate
			input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-GearUnused-Hider', value='1', checked='')
			.sheet-move
				span(data-i18n='inititate-armour') Old-fashioned Armour (1 armour, heavy)
			.sheet-MinorHead.sheet-space-above(data-i18n='inititate-old') Old-fashioned Weapons
			div
				i
					| &nbsp;(
					span(data-i18n='inititate-oldgear-pick')
						| If the Sect has 
						b Fighting arts
						|  or 
						b Obsolete gear
						| , pick three; otherwise pick two
					| )
				| :
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Initiate_gearchoice1')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='inititate-gear1') Sword (2 harm, hand, messy)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Initiate_gearchoice2')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='inititate-gear2') Axe (2 harm, hand, messy)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Initiate_gearchoice3')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='inititate-gear3') Big sword (3 harm, hand, messy, heavy)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Initiate_gearchoice4')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='inititate-gear4') Big axe (3 harm, hand, messy, slow, heavy)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Initiate_gearchoice5')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='inititate-gear5') Silver knife (1 harm, hand, silver)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Initiate_gearchoice6')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='inititate-gear6') Fighting sticks (1 harm, hand, quick)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Initiate_gearchoice7')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='inititate-gear7') Spear (2 harm, hand/close)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Initiate_gearchoice8')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='inititate-gear8') Mace (2 harm, hand, messy)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Initiate_gearchoice9')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='inititate-gear9') Crossbow (2 harm, close, slow)
			.sheet-MinorHead.sheet-space-above(data-i18n='initiate-modern') Modern Weapons
			div
				i
					| &nbsp;(
					span(data-i18n='initiate-moderngear-pick')
						| If Sect has 
						b Modernised
						|  or 
						b Nifty gadgets
						| , pick two; otherwise pick one
					| )
				| :
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Initiate_gearchoice10')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='inititate-gear10') .38 revolver (2 harm, hand, close, reload, loud)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Initiate_gearchoice11')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='inititate-gear11') 9mm (2 harm, close, loud)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Initiate_gearchoice12')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='inititate-gear12') Sniper rifle (3 harm, far)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Initiate_gearchoice13')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='inititate-gear13') Magnum (3 harm, close, reload, loud)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Initiate_gearchoice14')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='inititate-gear14') Shotgun (3 harm, close, messy)
		// Gear for The Monstrous
		.sheet-Monstrous
			input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-GearUnused-Hider', value='1', checked='')
			div
				b
					span(data-i18n='monstrous-weapon') (Optional) Handy Weapon
				|  
				i
					| &nbsp;(
					span(data-i18n='pick-one') pick one
					| )
				| :
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Monstrous_gearchoice1')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='monstrous-gear1') .38 revolver (2 harm, close, reload, loud)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Monstrous_gearchoice2')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='monstrous-gear2') 9mm (2 harm, close, loud)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Monstrous_gearchoice3')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='monstrous-gear3') Magnum (3 harm, close, reload, loud)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Monstrous_gearchoice4')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='monstrous-gear4') Shotgun (3 harm, close, messy)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Monstrous_gearchoice5')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='monstrous-gear5') Big knife (1 harm, hand)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Monstrous_gearchoice6')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='monstrous-gear6') Brass knuckles (1 harm, hand, quiet, small)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Monstrous_gearchoice7')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='monstrous-gear7') Sword (2 harm, hand, messy)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Monstrous_gearchoice8')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='monstrous-gear8') Huge sword (3 harm, hand, heavy)
		// Gear for The Mundane
		.sheet-Mundane
			input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-GearUnused-Hider', value='1', checked='')
			div
				b
					span(data-i18n='mundane-weapon') Mundane Weapons
				|  
				i
					| &nbsp;(
					span(data-i18n='pick-two') pick two
					| )
				| :
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Mundane_gearchoice1')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='mundane-gear1')
						| Golf club, baseball bat, cricket bat, or hockey stick (2 harm, hand, innocuous, messy)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Mundane_gearchoice2')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='mundane-gear2') Pocket knife or multitool (1 harm, hand, useful, small)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Mundane_gearchoice3')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='mundane-gear3') Small handgun (2 harm, close, loud, reload)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Mundane_gearchoice4')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='mundane-gear4') Hunting rifle (3 harm, far, loud, reload)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Mundane_gearchoice5')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='mundane-gear5') Sledge-hammer or fire axe (3 harm, hand, messy)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Mundane_gearchoice6')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='mundane-gear6') Nunchuks (2 harm, hand, area)
			.sheet-space-above
				b
					span(data-i18n='mundane-transport') Means of Transport
				|  
				i
					| &nbsp;(
					span(data-i18n='pick-one') pick one
					| )
				| :
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Mundane_gearchoice7')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='mundane-gear7') Skateboard
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Mundane_gearchoice8')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='mundane-gear8') Bicycle
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Mundane_gearchoice9')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='mundane-gear9') Fairly new car in decent condition
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Mundane_gearchoice10')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='mundane-gear10') Classic car in terrible condition
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Mundane_gearchoice11')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='mundane-gear11') Motorcycle
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Mundane_gearchoice12')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='mundane-gear12') Van
		// Gear for The Professional
		.sheet-Professional
			input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-GearUnused-Hider', value='1', checked='')
			div
				b
					span(data-i18n='professional-armour') Armour
				|  
				i
					| &nbsp;(
					span(data-i18n='pick-one') pick one
					| )
				| :
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Gear-Professional', value='1')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='professional-gear1') Flak vest (1 armour, hidden)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Gear-Professional', value='2')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='professional-gear2') Combat armour (2 armour, heavy)
			.sheet-space-above
				b
					span(data-i18n='professional-serious-weapon') Serious Weapons
				|  
				i
					| &nbsp;(
					span(data-i18n='pick-one') pick one
					| )
				| :
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Professional_seriousgearchoice1')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='professional-gear3') Assault rifle (3 harm, far, area, loud, reload)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Professional_seriousgearchoice2')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='professional-gear4') Grenade launcher (4 harm, far, area, messy, loud, reload)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Professional_seriousgearchoice3')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='professional-gear5') Sniper rifle (4 harm, far)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Professional_seriousgearchoice4')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='professional-gear6') Grenades (4 harm, close, area, messy, loud)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Professional_seriousgearchoice5')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='professional-gear7') Submachine gun (3 harm, close, area, loud, reload)
			b
				span(data-i18n='professional-normal-weapon') Normal Weapons
			|  
			i
				| &nbsp;(
				span(data-i18n='pick-two') pick two
				| )
			| :
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Professional_normalgearchoice1')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='professional-gear8') .38 revolver (2 harm, close, reload, loud)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Professional_normalgearchoice2')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='professional-gear9') 9mm (2 harm, close, loud)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Professional_normalgearchoice3')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='professional-gear10') Hunting rifle (2 harm, far, loud)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Professional_normalgearchoice4')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='professional-gear11') Shotgun (3 harm, close, messy)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Professional_normalgearchoice5')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='professional-gear12') Big knife (1 harm, hand)
		// Gear for The Spell-Slinger
		.sheet-Spellslinger
			input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-GearUnused-Hider', value='1', checked='')
			div
				b
					span(data-i18n='spellslinger-weapon') Backup Weapon
				|  
				i
					| &nbsp;(
					span(data-i18n='pick-one') pick one
					| )
				| :
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Spellslinger_gearchoice1')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='spellslinger-gear1') Old revolver (2 harm, close, reload, loud)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Spellslinger_gearchoice2')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='spellslinger-gear2') Ritual knife (1 harm, hand)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Spellslinger_gearchoice3')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='spellslinger-gear3') Heirloom sword (2 harm, hand, messy)
		// Gear for The Spooktacular
		.sheet-Spooktacular
			input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-GearUnused-Hider', value='1', checked='')
			div(data-i18n='spooktacular-gear')
				| You get one dangerous tool, one vehicle, one mystical item, and all the paraphernalia.
			.space-above
				b
					span(data-i18n='spooktacular-tools') Dangerous Tools
				|  (
				i
					span(data-i18n='pick-one') pick one
				| )
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_spooktacular-gear1')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='spooktacular-gear1') Pocket knife or multitool (1-harm hand useful small).
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_spooktacular-gear2')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='spooktacular-gear2') Hammer (1-harm hand useful messy).
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_spooktacular-gear3')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='spooktacular-gear3') Crowbar (2-harm hand useful messy).
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_spooktacular-gear4')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='spooktacular-gear4') Baseball bat or similar (2-harm hand).
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_spooktacular-gear5')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='spooktacular-gear5') Hatchet (2-harm hand messy).
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_spooktacular-gear6')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='spooktacular-gear6') Sock full of coins (1-harm hand stun).
			.space-above
				b
					span(data-i18n='spooktacular-vehicles') Vehicles
				|  (
				i
					span(data-i18n='pick-one') pick one
				| )
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_spooktacular-gear7')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='spooktacular-gear7') Pickup.
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_spooktacular-gear8')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='spooktacular-gear8') Van.
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_spooktacular-gear9')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='spooktacular-gear9') Truck.
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_spooktacular-gear9b')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='spooktacular-gear9b') Motorcycle &amp; Sidecar.
			.space-above
				b
					span(data-i18n='spooktacular-mysticalitems') Mystical Items
				|  (
				i
					span(data-i18n='pick-one') pick one
				| )
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_spooktacular-gear10')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='spooktacular-gear10')
						b Ghost Shades
						| . Sunglasses that can see into the spirit world.
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_spooktacular-gear11')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='spooktacular-gear11')
						b Really Big Plush Dog (Animated)
						| . Somehow this came to life. It&rsquo;s kind of like a regular dog?
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_spooktacular-gear12')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='spooktacular-gear12')
						b Returning 100
						| . Spend this hundred dollar bill, and it will come back in a day or so.
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_spooktacular-gear13')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='spooktacular-gear13')
						b Scamulet
						| . Heats up whenever someone&rsquo;s running a scam on you.
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_spooktacular-gear14')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='spooktacular-gear14')
						b Wizard Tent
						| . Worn and crappy on the outside, big and luxurious on the inside.
			| &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
			.space-above
				b
					span(data-i18n='spooktacular-stuff') Paraphernalia
			div(data-i18n='spooktacular-gear15')
				| You have all of this crap: Tickets to a show, Snack vouchers, Decks of cards, Pairs of dice, Magic trick props, Camping gear, Makeup, Costume accessories.
		// Gear for The Spooky
		.sheet-Spooky
			input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-GearUnused-Hider', value='1', checked='')
			.sheet-move
				span(data-i18n='spooky-items') Any magical items or amulets that you use to invoke your powers
				br
				input(type='text', name='attr_Item-Spooky')
			.sheet-space-above
				b
					span(data-i18n='spooky-weapons') Normal Weapons
				|  
				i
					| &nbsp;(
					span(data-i18n='pick-two') pick two
					| )
				| :
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Spooky_gearchoice1')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='spooky-gear1') .38 revolver (2 harm, close, reload, loud)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Spooky_gearchoice2')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='spooky-gear2') 9mm (2 harm, close, loud)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Spooky_gearchoice3')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='spooky-gear3') Hunting rifle (2 harm, far, loud)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Spooky_gearchoice4')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='spooky-gear4') Shotgun (3 harm, close, messy)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Spooky_gearchoice5')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='spooky-gear5') Big knife (1 harm, hand)
		// Gear for The Wronged
		.sheet-Wronged
			input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-GearUnused-Hider', value='1', checked='')
			.sheet-move
				span(data-i18n='wronged-armour') Protective wear suited to your look (1 armour)
			.sheet-space-above
				b
					span(data-i18n='wronged-signature') Signature Weapon
				|  
				i
					| &nbsp;(
					span(data-i18n='pick-one') pick one
					| )
				| :
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Wronged_gearchoice1')
				span.sheet-mainbox
				|  
				span.sheet-grayable
					span(data-i18n='wronged-gear1') Sawn-off shotgun (3 harm, hand/close, messy, loud, reload)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Wronged_gearchoice2')
				span.sheet-mainbox
				|  
				span.sheet-grayable
					span(data-i18n='wronged-gear2') Hand cannon (3 harm, close, loud)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Wronged_gearchoice3')
				span.sheet-mainbox
				|  
				span.sheet-grayable
					span(data-i18n='wronged-gear3') Fighting knife (2 harm, hand, quiet)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Wronged_gearchoice4')
				span.sheet-mainbox
				|  
				span.sheet-grayable
					span(data-i18n='wronged-gear4') Huge sword or huge axe (3 harm, hand, messy, heavy)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Wronged_gearchoice5')
				span.sheet-mainbox
				|  
				span.sheet-grayable
					span(data-i18n='wronged-gear5')
						| Specialist weapons for destroying your foes (eg. wooden stakes and mallet for vampires, silver dagger for warewolves, etc), 4 harm against the specific creatures it targets, 1 harm otherwise, and other tags by agreement with the Keeper
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Wronged_gearchoice6')
				span.sheet-mainbox
				|  
				span.sheet-grayable
					span(data-i18n='wronged-gear6') Enchanted dagger (2 harm, hand, magic)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Wronged_gearchoice7')
				span.sheet-mainbox
				|  
				span.sheet-grayable
					span(data-i18n='wronged-gear7') Chainsaw (3 harm, hand, messy, unreliable, loud, heavy)
			.sheet-space-above
				b
					span(data-i18n='wronged-weapon') Practical Weapons
				|  
				i
					| &nbsp;(
					span(data-i18n='pick-two') pick two
					| )
				| :
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Wronged_gearchoice8')
				span.sheet-mainbox
				|  
				span.sheet-grayable
					span(data-i18n='wronged-gear8') .38 revolver (2 harm, close, reload, loud)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Wronged_gearchoice9')
				span.sheet-mainbox
				|  
				span.sheet-grayable
					span(data-i18n='wronged-gear9') 9mm (2 harm, close, loud)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Wronged_gearchoice10')
				span.sheet-mainbox
				|  
				span.sheet-grayable
					span(data-i18n='wronged-gear10') Hunting rifle (2 harm, far, loud)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Wronged_gearchoice11')
				span.sheet-mainbox
				|  
				span.sheet-grayable
					span(data-i18n='wronged-gear11') Shotgun (3 harm, close, messy, loud)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Wronged_gearchoice12')
				span.sheet-mainbox
				|  
				span.sheet-grayable
					span(data-i18n='wronged-gear12') Big knife (1 harm, hand)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Wronged_gearchoice13')
				span.sheet-mainbox
				|  
				span.sheet-grayable
					span(data-i18n='wronged-gear13') Brass knuckles (1 harm, hand, stealthy)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Wronged_gearchoice14')
				span.sheet-mainbox
				|  
				span.sheet-grayable
					span(data-i18n='wronged-gear14') Assault rifle (3 harm, close, area, loud, reload)
			.sheet-space-above
				b
					span(data-i18n='wronged-vehicle') (Optional) Vehicle
				|  
				i
					| &nbsp;(
					span(data-i18n='pick-one') pick one
					| )
				| :
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Wronged_gearchoice15')
				span.sheet-mainbox
				|  
				span.sheet-grayable
					span(data-i18n='wronged-gear15') Classic car
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Wronged_gearchoice16')
				span.sheet-mainbox
				|  
				span.sheet-grayable
					span(data-i18n='wronged-gear16') Classic motorcycle
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Wronged_gearchoice17')
				span.sheet-mainbox
				|  
				span.sheet-grayable
					span(data-i18n='wronged-gear17') Plain pickup
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Wronged_gearchoice18')
				span.sheet-mainbox
				|  
				span.sheet-grayable
					span(data-i18n='wronged-gear18') Plain van
		// Gear for The Gumshoe
		.sheet-Gumshoe
			input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-GearUnused-Hider', value='1', checked='')
			div
				span(data-i18n='Gumshoe-gear-base') A laptop, and a liquor flask
			.sheet-space-above
				b
					span(data-i18n='Gumshoe-recording') Recording Devices
				|  
				i
					| &nbsp;(
					span(data-i18n='pick-two') pick two
					| )
				| :
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Gumshoe_gearchoice1')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='Gumshoe-gear1') Night vision camera
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Gumshoe_gearchoice2')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='Gumshoe-gear2') Tiny digital video camera
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Gumshoe_gearchoice3')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='Gumshoe-gear3') Film camera (8mm or 16mm)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Gumshoe_gearchoice4')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='Gumshoe-gear4') Digital sound recorder
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Gumshoe_gearchoice5')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='Gumshoe-gear5') Cassette tape recorder
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Gumshoe_gearchoice6')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='Gumshoe-gear6') Remote-controlled camera drone
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Gumshoe_gearchoice7')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='Gumshoe-gear7') Laser microphone
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Gumshoe_gearchoice8')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='Gumshoe-gear8') SLR camera
			.sheet-space-above
				b
					span(data-i18n='Gumshoe-weapon') P.I. Weapons
				|  
				i
					| &nbsp;(
					span(data-i18n='pick-one') pick one
					| )
				| :
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Gumshoe_gearchoice9')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='Gumshoe-gear9') Brass knuckles (1 harm, hand, small)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Gumshoe_gearchoice10')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='Gumshoe-gear10') .38 revolver (2 harm, close, reload, loud)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Gumshoe_gearchoice11')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='Gumshoe-gear11') 9mm (2 harm, close, loud)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Gumshoe_gearchoice12')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='Gumshoe-gear12') Magnum (3 harm, close, reload, loud)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Gumshoe_gearchoice13')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='Gumshoe-gear13') Shotgun (3 harm, close, messy, loud)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Gumshoe_gearchoice14')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='Gumshoe-gear14') Switchblade (1-harm, hand, small)
		// Gear for The Hex
		.sheet-Hex
			input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-GearUnused-Hider', value='1', checked='')
			div
				span(data-i18n='hex-items') Any magical items or amulets that you use to perform magic
			div
				input(type='text', name='attr_Item-Hex')
			.sheet-space-above
				b
					span(data-i18n='hex-weapons') Wizardly Weapons
				|  
				i
					| &nbsp;(
					span(data-i18n='pick-two') pick two
					| )
				| :
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Hex_gearchoice1')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='hex-gear1') .38 revolver (2 harm, close, reload, loud)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Hex_gearchoice2')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='hex-gear2') Shotgun (3 harm, close, messy, loud)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Hex_gearchoice3')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='hex-gear3') Athame (2 harm, hand, magic, silver)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Hex_gearchoice4')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='hex-gear4') Shillelagh (1 harm, hand, balanced)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Hex_gearchoice5')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='hex-gear5') Crossbow (2 harm, close, slow)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Hex_gearchoice6')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='hex-gear6') Staff (1 harm, hand, balanced, large)
		// Gear for The Pararomantic
		.sheet-Pararomantic
			input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-GearUnused-Hider', value='1', checked='')
			div
				b
					span(data-i18n='pararomantic-equip') Normal Equipment
				|  
				i
					| &nbsp;(
					span(data-i18n='pick-two') pick two
					| )
				| :
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Pararomantic_gearchoice1')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='pararomantic-gear1')
						| Golf club, baseball bat, cricket bat, or hockey stick (2 harm, hand, innocuous, messy)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Pararomantic_gearchoice2')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='pararomantic-gear2') Pocket knife or multitool (1 harm, hand, useful, small)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Pararomantic_gearchoice3')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='pararomantic-gear3') Small handgun (2 harm, close, loud, reload)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Pararomantic_gearchoice4')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='pararomantic-gear4') Bicycle
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Pararomantic_gearchoice5')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='pararomantic-gear5') Fairly new car in decent condition
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Pararomantic_gearchoice6')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='pararomantic-gear6') Motorcycle
			.sheet-space-above
				span(data-i18n='pararomantic-gift')
					| Gift from your 
					i Guide
					| , which must be periodically recharged by interactions with them
				|  
				i
					| &nbsp;(
					span(data-i18n='pick-one') pick one
					| )
				| :
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Pararomantic_gearchoice7')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='pararomantic-gift1')
						| Part of their body, eg. a vial of blood, lock of hair, tears in a phial, fairy dust, etc. It either helps you heal, or counts as a weakness against a specific kind of monster.
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Pararomantic_gearchoice8')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='pararomantic-gift2')
						| Piece of jewelry, eg. a golden ring, tribal pendant, silver locket, etc. It either provides armour (1 armour, magic) or protects you from the powers of a specific kind of monster.
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Pararomantic_gearchoice9')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='pararomantic-gift3')
						| A memento of the time when they were human, eg. a portrait/photo from life, diary, favourite hat, doll, lighter, etc. It provides +1 to 
						i Bond Abuse
						|  rolls.
					|  
					button.sheet-2d6-button(type='roll', value='&{template:motw-dieroll} {{CharName=@{character_name}}} {{title=Bond Abuse}} {{Roll=[[2d6+?{Bond Abuse with|Charm (Default),@{Charm}|Charm,@{Charm}|Cool,@{Cool}|Sharp,@{Sharp}|Tough,@{Tough}|Weird,@{Weird}}+?{+/- forward?|1}]]}}', name='roll_bondabuse')
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Pararomantic_gearchoice10')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='pararomantic-gift4')
						| A strange or antique weapon, eg. a family sword, ancient staff, holy mace (2 harm, hand, messy), etc. Additionally, add &apos;+magic&apos;, &apos;+silver&apos;, &apos;+holy&apos;, or &apos;+iron&apos; tag to the weapon.
			div
				textarea(name='attr_Gift-Pararomantic', rows='3', cols='40', placeholder='Describe the Gift')
		// Gear for The Searcher
		.sheet-Searcher
			input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-GearUnused-Hider', value='1', checked='')
			div
				span(data-i18n='searcher-gear-base') A laptop, a camera, and binoculars, plus:
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Searcher_gearbase1')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='searcher-gear-base1') A car
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Searcher_gearbase2')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='searcher-gear-base2') A motorcycle
			.sheet-space-above
				b
					span(data-i18n='searcher-tools') Investigation Tools
				|  
				i
					| &nbsp;(
					span(data-i18n='pick-two') pick two
					| )
				| :
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Searcher_gearchoice1')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='searcher-gear1') A bag of cameras and microphones
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Searcher_gearchoice2')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='searcher-gear2') Forensic tools
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Searcher_gearchoice3')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='searcher-gear3') Ghost hunting tools
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Searcher_gearchoice4')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='searcher-gear4') Scientific measuring tools
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Searcher_gearchoice5')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='searcher-gear5') Cryptid hunting gear
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Searcher_gearchoice6')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='searcher-gear6') Historical documents and witness reports of strange events
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Searcher_gearchoice7')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='searcher-gear7') Maps, blueprints, and building reports for significant places
			.sheet-space-above
				b
					span(data-i18n='searcher-weapon') Self-defence Weapons
				|  
				i
					| &nbsp;(
					span(data-i18n='pick-one') pick one
					| )
				| :
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Searcher_gearchoice8')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='searcher-gear8') Walking stick (1 harm, hand, innocuous)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Searcher_gearchoice9')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='searcher-gear9') Small handgun (2 harm, close, reload, loud)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Searcher_gearchoice10')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='searcher-gear10') Small knife (1 harm, hand, messy)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Searcher_gearchoice11')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='searcher-gear11') Martial arts training (1 harm, hand, innocuous)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Searcher_gearchoice12')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='searcher-gear12') Incapacitating spray (0 harm, hand, irritating)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Searcher_gearchoice13')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='searcher-gear13') Heavy flashlight (1 harm, hand, innocuous)
		// Gear for The Exile
		.sheet-Exile
			input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-GearUnused-Hider', value='1', checked='')
			div
				span(data-i18n='exile-armour') Ancient Armour (0 armour or, 1 armour) appropriate to your origin
				| .
				input(type='text', name='attr_Item-Exile-Armour')
			.sheet-space-above
				span(data-i18n='exile-item')
					| Whatever you were carrying when you were transported; most likely a monster-hunting kit in some easy-to-carry bag appropriate to your origin
			div
				textarea(name='attr_Item-Exile', rows='2', cols='40')
			.sheet-space-above
				b
					span(data-i18n='exile-weapon') Ancient Weapons
				|  
				i
					| &nbsp;(
					span(data-i18n='pick-three') pick three
					| )
				| :
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Exile_gearchoice1')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='exile-gear1') Sword (2 harm, hand, messy)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Exile_gearchoice2')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='exile-gear2') Axe (2 harm, hand, messy)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Exile_gearchoice11')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='exile-gear11') Spear (2 harm, hand/close)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Exile_gearchoice3')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='exile-gear3') Big sword (3 harm, hand, messy, heavy)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Exile_gearchoice4')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='exile-gear4') Poleaxe (3 harm, hand, messy, heavy)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Exile_gearchoice5')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='exile-gear5') Shield (1 harm, hand, 1 armour)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Exile_gearchoice6')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='exile-gear6') Silver knife (1 harm, hand, silver)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Exile_gearchoice7')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='exile-gear7') Bow (2 harm, close)/(1 harm, far)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Exile_gearchoice8')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='exile-gear8') Crossbow (2 harm, close, slow)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Exile_gearchoice9')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='exile-gear9') Handgonne (1 harm, hand/close, loud, volatile, smokey, reload)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Exile_gearchoice10')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='exile-gear10') Arquebus (2 harm, close, loud volatile, smokey, heavy, reload)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Exile_gearchoice12')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='exile-gear12') Big knife (1 harm, hand)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Exile_gearchoice13')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='exile-gear13') Cudgel (1 harm, hand)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Exile_gearchoice14')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='exile-gear14') Martial arts (1 harm, hand)
		// Gear for Hard Case 2020
		.sheet-Hardcase2020
			input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-GearUnused-Hider', value='1', checked='')
			div(data-i18n='hardcase2020-gear-directions')
				| You get one Hard Case weapon, one vehicle, one other, and whatever you got from your Hard Knocks.
			.sheet-space-above
				b
					span(data-i18n='hardcase-weapons') Hard Case Weapons
				|  
				i
					| &nbsp;(
					span(data-i18n='pick-one') pick one
					| )
				| :
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_hardcase2020-gear1')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='hardcase2020-gear1') Ancient sword (2-harm hand valuable balanced holy)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_hardcase2020-gear2')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='hardcase2020-gear2') Auto shotgun (3-harm close load reload area)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_hardcase2020-gear3')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='hardcase2020-gear3') Battered assault rifle (3-harm close/far area loud)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_hardcase2020-gear4')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='hardcase2020-gear4') Chainsaw (3-harm hand unreliable messy heavy)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_hardcase2020-gear5')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='hardcase2020-gear5') Crowbar (2-harm hand messy innocuous)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_hardcase2020-gear6')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='hardcase2020-gear6') Hand cannon (3-harm close loud)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_hardcase2020-gear7')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='hardcase2020-gear7') Huge fucking knife (2-harm hand messy)
			.sheet-space-above
				b
					span(data-i18n='hardcase-normal') Normal Weapons
				|  
				i
					| &nbsp;(
					span(data-i18n='pick-two') pick two
					| )
				| :
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_hardcase2020-gear8')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='hardcase2020-gear8') Shotgun (3-harm close messy)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_hardcase2020-gear9')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='hardcase2020-gear9') Hunting rifle (2-harm far loud)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_hardcase2020-gear10')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='hardcase2020-gear10') Pistol (2-harm close)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_hardcase2020-gear11')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='hardcase2020-gear11') Big knife (1-harm hand)
			.sheet-space-above
				b
					span(data-i18n='hardcase-vehicles') Vehicles
				|  
				i
					| &nbsp;(
					span(data-i18n='pick-one') pick one
					| )
				| :
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_hardcase2020-gear12')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='hardcase2020-gear12') Pickup
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_hardcase2020-gear13')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='hardcase2020-gear13') Motorbike
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_hardcase2020-gear14')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='hardcase2020-gear14') Muscle car
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_hardcase2020-gear15')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='hardcase2020-gear15') Sportscar
			.sheet-space-above
				b
					span(data-i18n='hardcase-other') Other items
				|  
				i
					| &nbsp;(
					span(data-i18n='pick-one') pick one
					| )
				| :
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_hardcase2020-gear16')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='hardcase2020-gear16') Concealed armour (1-armour hidden)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_hardcase2020-gear17')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='hardcase2020-gear17') Heavy armour (2-armour heavy)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_hardcase2020-gear18')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='hardcase2020-gear18') Firewater (once per mystery, drink it to mark 1 Fire)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_hardcase2020-gear19')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='hardcase2020-gear19') Bag of cash (untraceable)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_hardcase2020-gear20')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='hardcase2020-gear20') Ghost detector (unreliable)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_hardcase2020-gear21')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='hardcase2020-gear21') A bunch of old monster hunting journals
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_hardcase2020-gear22')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='hardcase2020-gear22') A spell formula, written on a napkin
		// Gear for The Hard Case
		.sheet-Hardcase
			input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-GearUnused-Hider', value='1', checked='')
			div
				b
					span(data-i18n='hardcase-weapons') Hard Case Weapons
				|  
				i
					| &nbsp;(
					span(data-i18n='pick-one') pick one
					| )
				| :
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Hardcase_gearchoice1')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='hardcase-gear1') Crowbar (2 harm, hand, messy)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Hardcase_gearchoice2')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='hardcase-gear2') Chainsaw (3 harm, hand, messy, unreliable, loud, heavy)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Hardcase_gearchoice3')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='hardcase-gear3') Automatic shotgun (3 harm, close, loud, reload, auto)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Hardcase_gearchoice4')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='hardcase-gear4') Huge knife (2 harm, hand, messy)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Hardcase_gearchoice5')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='hardcase-gear5') Hand cannon (3 harm, close, loud)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Hardcase_gearchoice6')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='hardcase-gear6') Submachinegun (2 harm, close, reload, auto)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Hardcase_gearchoice7')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='hardcase-gear7') Battered assault rifle (3 harm, close/far, auto)
			.sheet-space-above
				b
					span(data-i18n='hardcase-normal') Normal Weapons
				|  
				i
					| &nbsp;(
					span(data-i18n='pick-two') pick two
					| )
				| :
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Hardcase_gearchoice8')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='hardcase-gear8') .38 revolver (2 harm, close, reload, loud)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Hardcase_gearchoice9')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='hardcase-gear9') Shotgun (3 harm, close, messy, loud)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Hardcase_gearchoice10')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='hardcase-gear10') Hunting rifle (2 harm, far, loud)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Hardcase_gearchoice11')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='hardcase-gear11') 9mm (2 harm, close, loud)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Hardcase_gearchoice12')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='hardcase-gear12') Big knife (1 harm, hand)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Hardcase_gearchoice13')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='hardcase-gear13') Magnum (3 harm, close, reload, loud)
		// Gear for The Luchador
		.sheet-Luchador
			input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-GearUnused-Hider', value='1', checked='')
			div
				b
					span(data-i18n='luchador-weapons') Normal Weapons
				|  
				i
					| &nbsp;(
					span(data-i18n='pick-two') pick two
					| )
				| :
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Luchador_gearchoice1')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='luchador-gear1') .38 revolver (2 harm, close, reload, loud)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Luchador_gearchoice2')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='luchador-gear2') 9mm (2 harm, close, loud)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Luchador_gearchoice3')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='luchador-gear3') Shotgun (3 harm, close, messy, loud)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Luchador_gearchoice4')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='luchador-gear4') Heavy chain (2 harm, hand, area)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Luchador_gearchoice5')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='luchador-gear5') Sledgehammer (3 harm, hand, messy)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Luchador_gearchoice6')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='luchador-gear6') Big knife (1 harm, hand)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Luchador_gearchoice7')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='luchador-gear7') Brass knuckles (1 harm, hand, stealthy)
			.sheet-space-above
				b
					span(data-i18n='luchador-vehicle') Stylish Vehicle
				|  
				i
					| &nbsp;(
					span(data-i18n='pick-one') pick one
					| )
				| :
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Luchador_gearchoice8')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='luchador-gear8') Foreign sports car
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Luchador_gearchoice9')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='luchador-gear9') Giant off-road vehicle
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Luchador_gearchoice10')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='luchador-gear10') Limo and chauffeur
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Luchador_gearchoice11')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='luchador-gear11') Tricked out motorcycle
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Luchador_gearchoice12')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='luchador-gear12') Van with custom paint job
		// Gear for The Meddling Kid
		.sheet-Meddlingkid
			input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-GearUnused-Hider', value='1', checked='')
			div
				b
					span(data-i18n='meddlingkid-gadgets') Mystery-solving Gadgets
				|  
				i
					| &nbsp;(
					span(data-i18n='pick-three') pick three
					| )
				| :
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Meddlingkid_gearchoice1')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='meddlingkid-gear1') Magnifying glass
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Meddlingkid_gearchoice2')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='meddlingkid-gear2') Microscope
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Meddlingkid_gearchoice3')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='meddlingkid-gear3') A van
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Meddlingkid_gearchoice4')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='meddlingkid-gear4') Library card
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Meddlingkid_gearchoice5')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='meddlingkid-gear5') Chemistry kit
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Meddlingkid_gearchoice6')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='meddlingkid-gear6') A set of walkie-talkies
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Meddlingkid_gearchoice7')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='meddlingkid-gear7') Fingerprint kit
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Meddlingkid_gearchoice8')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='meddlingkid-gear8') Camera
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Meddlingkid_gearchoice9')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='meddlingkid-gear9') Bag of snacks
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Meddlingkid_gearchoice10')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='meddlingkid-gear10') Toolbox
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Meddlingkid_gearchoice11')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='meddlingkid-gear11') Tape recorder
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Meddlingkid_gearchoice12')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='meddlingkid-gear12') Disguise kit
		// Gear for The Sidekick
		.sheet-Sidekick
			input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-GearUnused-Hider', value='1', checked='')
			div
				span(data-i18n='sidekick-hero-weapon')
					b Hero&apos;s Weapon
					|  
					i (from your hero&apos;s gear options)
				| :
			div
				input(type='text', name='attr_Hero-Weapon-Sidekick')
			.sheet-space-above
				b
					span(data-i18n='sidekick-weapons') Sidekick Weapons
				|  
				i
					| &nbsp;(
					span(data-i18n='pick-two') pick two
					| )
				| :
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Sidekick_gearchoice1')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='sidekick-gear1') .38 revolver (2 harm, close, reload, loud)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Sidekick_gearchoice2')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='sidekick-gear2') Shotgun (3 harm, close, messy, loud)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Sidekick_gearchoice3')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='sidekick-gear3') Baseball bat (2 harm, hand)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Sidekick_gearchoice4')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='sidekick-gear4') 9mm (2 harm, close, loud)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Sidekick_gearchoice5')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='sidekick-gear5') Big knife (1 harm, hand)
		// Gear for The Snoop
		.sheet-Snoop
			input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-GearUnused-Hider', value='1', checked='')
			div
				span(data-i18n='snoop-gear-base') A laptop
			.sheet-space-above
				b
					span(data-i18n='snoop-recording') Recording Devices
				|  
				i
					| &nbsp;(
					span(data-i18n='pick-three') pick three
					| )
				| :
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Snoop_gearchoice1')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='snoop-gear1') Digital video camera
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Snoop_gearchoice2')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='snoop-gear2') Tiny digital video camera
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Snoop_gearchoice3')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='snoop-gear3') Film camera (8mm or 16mm)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Snoop_gearchoice4')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='snoop-gear4') Digital sound recorder
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Snoop_gearchoice5')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='snoop-gear5') Cassette tape recorder
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Snoop_gearchoice6')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='snoop-gear6') Infrared video camera
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Snoop_gearchoice7')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='snoop-gear7') Pro sound gear with boom mike
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Snoop_gearchoice8')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='snoop-gear8') Remote controlled camera drone
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Snoop_gearchoice9')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='snoop-gear9') Starlight camera
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Snoop_gearchoice10')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='snoop-gear10') Steadicam rig
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Snoop_gearchoice11')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='snoop-gear11') Laser microphone
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Snoop_gearchoice12')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='snoop-gear12') SLR camera
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Snoop_gearchoice28')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='snoop-gear28') Nice smartphone
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Snoop_gearchoice_blank1')
				span.sheet-mainbox
				span.sheet-grayable
					input(type='text', name='attr_Snoop_gearchoice_blank1_text')
			.sheet-space-above
				b
					span(data-i18n='snoop-detector') Detectors
				|  
				i
					| &nbsp;(
					span(data-i18n='pick-two') pick two
					| )
				| :
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Snoop_gearchoice13')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='snoop-gear13') Electromagnetic field detector
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Snoop_gearchoice14')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='snoop-gear14') Temperature fluctuation detector
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Snoop_gearchoice15')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='snoop-gear15') Ouija board
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Snoop_gearchoice16')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='snoop-gear16') Humidity meter
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Snoop_gearchoice17')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='snoop-gear17') Dowsing rods
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Snoop_gearchoice18')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='snoop-gear18') Chemistry test kit
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Snoop_gearchoice19')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='snoop-gear19') Metal detector
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Snoop_gearchoice20')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='snoop-gear20') Compass
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Snoop_gearchoice21')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='snoop-gear21') GPS receiver
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Snoop_gearchoice22')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='snoop-gear22') Laser rangefinder
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Snoop_gearchoice23')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='snoop-gear23') Pendulum
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Snoop_gearchoice29')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='snoop-gear29') Tarot deck
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Snoop_gearchoice_blank2')
				span.sheet-mainbox
				span.sheet-grayable
					input(type='text', name='attr_Snoop_gearchoice_blank2_text')
			.sheet-space-above
				b
					span(data-i18n='snoop-weapon') Subtle Weapons
				|  
				i
					| &nbsp;(
					span(data-i18n='pick-one') pick one
					| )
				| :
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Snoop_gearchoice24')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='snoop-gear24') Stun Gun (1 harm, hand, stun)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Snoop_gearchoice25')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='snoop-gear25') Handgun (2 harm, close, loud)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Snoop_gearchoice26')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='snoop-gear26') Knife (1 harm, hand, hidden)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Snoop_gearchoice27')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='snoop-gear27') Multitool/pocket knife (1 harm, hand, hidden, useful)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Snoop_gearchoice30')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='snoop-gear30') Baseball/cricket bat (2 harm, hand, innocuous, messy)
		// Gear for The Summoned
		.sheet-Summoned
			input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-GearUnused-Hider', value='1', checked='')
			div
				b
					span(data-i18n='summoned-weapon') Huge Weapon
				|  
				i
					| &nbsp;(
					span(data-i18n='pick-one') pick one
					| )
				| :
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Summoned_gearchoice1')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='summoned-gear1') Super hand cannon (4 harm, close, heavy, loud, reload)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Summoned_gearchoice2')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='summoned-gear2') Machinegun (3 harm, close, auto, heavy, messy, loud, reload)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Summoned_gearchoice3')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='summoned-gear3') Rocket launcher (4 harm, far, area, heavy, messy, loud, reload)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Summoned_gearchoice4')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='summoned-gear4') Gigantic Hellsword (4 harm, hand, heavy, messy, magic)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Summoned_gearchoice5')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='summoned-gear5') Automatic shotgun (3 harm, close, auto, heavy, loud, reload)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Summoned_gearchoice6')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='summoned-gear6') Red right hand (3 harm, hand, magic)
			.sheet-space-above
				b
					span(data-i18n='summoned-heavy') Heavy Weapons
				|  
				i
					| &nbsp;(
					span(data-i18n='pick-two') pick two
					| )
				| :
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Summoned_gearchoice7')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='summoned-gear7') Sledgehammer (3 harm, hand, heavy, messy)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Summoned_gearchoice8')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='summoned-gear8') Big sword (3 harm, hand, heavy, messy)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Summoned_gearchoice9')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='summoned-gear9') Big axe (3 harm, hand, heavy, messy)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Summoned_gearchoice10')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='summoned-gear10') Magnum (3 harm, close, loud, reload)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Summoned_gearchoice11')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='summoned-gear11') Shotgun (3 harm, close, messy, loud, reload)
		// Gear for The Traveler
		.sheet-Traveler
			input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-GearUnused-Hider', value='1', checked='')
			div
				b
					span(data-i18n='traveler-devices') Technological Devices
				|  
				i
					| &nbsp;(
					span(data-i18n='pick-two') pick two
					| )
				| :
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Traveler_gearchoice1')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='traveler-gear1')
						i Photonic Binoculars
						| : Able to see in total darkness and in different spectra, including infrared
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Traveler_gearchoice2')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='traveler-gear2')
						i Sonic Screwdriver
						| : Able to repair, or damage, simple mechanical and electronic devices (eg. radios, locks, weapons etc)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Traveler_gearchoice3')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='traveler-gear3')
						i Travel Guide
						| : A small electronic book containing all human historical knowledge up to the present era
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Traveler_gearchoice4')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='traveler-gear4')
						i Portable Laboratory
						| : A small device capable of diagnosing diseases, poisons and abnormal conditions from a drop of blood or similar input
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Traveler_gearchoice5')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='traveler-gear5')
						i Universal Locator
						| : Indicates the exact position in time and space. Can only be blocked with magic or high levels of radiation
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Traveler_gearchoice6')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='traveler-gear6')
						i Hologram Projector
						| : Projects a person-sized hologram (recorded or live) that looks real until touched
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Traveler_gearchoice7')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='traveler-gear7')
						i Instant Translator
						| : Ensures speech and understanding of any natural language (does not work with magic or supernatural languages)
			.sheet-space-above
				b
					span(data-i18n='traveler-weapon') Protective Weapons
				|  
				i
					| &nbsp;(
					span(data-i18n='pick-one') pick one
					| )
				| :
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Traveler_gearchoice8')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='traveler-gear8') Machete (1 harm, contact)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Traveler_gearchoice9')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='traveler-gear9') Common revolver (2 harm, close, loud, reload)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Traveler_gearchoice10')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='traveler-gear10') Shotgun (3 harm, close, messy, loud, reload)
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Traveler_gearchoice11')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='traveler-gear11') Light futuristic weapon (1 harm, add 1 range tag and 3 other tags)
					input(type='text', name='attr_Futureweapon1-Traveler')
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Traveler_gearchoice12')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='traveler-gear12') Heavy futuristic weapon (3 harm, add 1 range tag and 1 other tag)
					input(type='text', name='attr_Futureweapon2-Traveler')
		input.sheet-null-hider(name='attr_Non-Lethal-Gear' type='hidden' value='0')
		.sheet-NonLethal
			input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-GearUnused-Hider', value='1', checked='')
			br
			.sheet-MinorHead
				+translate('Non-Lethal Gear Options')
			div
				i
					+translate('You may swap these for any of your existing gear picks.')
			+move('Nonlethal-Gear','Furious struggle (0-harm hand 1-armour)')
			+move('Nonlethal-Gear','Martial arts (1-harm intimate/hand)')
			+move('Nonlethal-Gear','Martial arts master (2-harm intimate/hand 1-armour)')
			+move('Nonlethal-Gear','Traps (1-harm hand/close/far slow capture). More elaborate traps might do 2- or 3-harm.')
			+move('Nonlethal-Gear','Stun-gun (1-harm hand stun recharge)')
			+move('Nonlethal-Gear','Hockey stick/bat/etc. (2-harm hand)')
			+move('Nonlethal-Gear','Slingshot (2-harm close reload)')
			+move('Nonlethal-Gear','Net or blanket (0-harm hand/close bulky capture)')
	// end big expander for sheet-Gear
// end sheet-Gear
.sheet-OtherGear
	.sheet-Subsection
		span(data-i18n='other-gear') Other Gear
	input.sheet-checkbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-OtherGear-Hider', value='1', checked='')
	span.sheet-anglebox
	|  
	span.sheet-ExpHeader
	.sheet-Expander
		textarea(name='attr_OtherGearDescrip', rows='8', cols='40')
