// Gear for The Hard Case
.sheet-Hardcase
	input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-GearUnused-Hider', value='1', checked='')
	div
		b
			span(data-i18n='hardcase-weapons') Hard Case Weapons
		|  
		i
			| &nbsp;(
			span(data-i18n='pick-one') pick one
			| )
		| :
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_Hardcase_gearchoice1')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='hardcase-gear1') Crowbar (2 harm, hand, messy)
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_Hardcase_gearchoice2')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='hardcase-gear2') Chainsaw (3 harm, hand, messy, unreliable, loud, heavy)
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_Hardcase_gearchoice3')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='hardcase-gear3') Automatic shotgun (3 harm, close, loud, reload, auto)
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_Hardcase_gearchoice4')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='hardcase-gear4') Huge knife (2 harm, hand, messy)
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_Hardcase_gearchoice5')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='hardcase-gear5') Hand cannon (3 harm, close, loud)
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_Hardcase_gearchoice6')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='hardcase-gear6') Submachinegun (2 harm, close, reload, auto)
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_Hardcase_gearchoice7')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='hardcase-gear7') Battered assault rifle (3 harm, close/far, auto)
	.sheet-space-above
		b
			span(data-i18n='hardcase-normal') Normal Weapons
		|  
		i
			| &nbsp;(
			span(data-i18n='pick-two') pick two
			| )
		| :
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_Hardcase_gearchoice8')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='hardcase-gear8') .38 revolver (2 harm, close, reload, loud)
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_Hardcase_gearchoice9')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='hardcase-gear9') Shotgun (3 harm, close, messy, loud)
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_Hardcase_gearchoice10')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='hardcase-gear10') Hunting rifle (2 harm, far, loud)
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_Hardcase_gearchoice11')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='hardcase-gear11') 9mm (2 harm, close, loud)
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_Hardcase_gearchoice12')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='hardcase-gear12') Big knife (1 harm, hand)
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_Hardcase_gearchoice13')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='hardcase-gear13') Magnum (3 harm, close, reload, loud)
