// Gear for The Summoned
.sheet-Summoned
	input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-GearUnused-Hider', value='1', checked='')
	div
		b
			span(data-i18n='summoned-weapon') Huge Weapon
		|  
		i
			| &nbsp;(
			span(data-i18n='pick-one') pick one
			| )
		| :
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_Summoned_gearchoice1')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='summoned-gear1') Super hand cannon (4 harm, close, heavy, loud, reload)
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_Summoned_gearchoice2')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='summoned-gear2') Machinegun (3 harm, close, auto, heavy, messy, loud, reload)
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_Summoned_gearchoice3')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='summoned-gear3') Rocket launcher (4 harm, far, area, heavy, messy, loud, reload)
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_Summoned_gearchoice4')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='summoned-gear4') Gigantic Hellsword (4 harm, hand, heavy, messy, magic)
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_Summoned_gearchoice5')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='summoned-gear5') Automatic shotgun (3 harm, close, auto, heavy, loud, reload)
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_Summoned_gearchoice6')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='summoned-gear6') Red right hand (3 harm, hand, magic)
	.sheet-space-above
		b
			span(data-i18n='summoned-heavy') Heavy Weapons
		|  
		i
			| &nbsp;(
			span(data-i18n='pick-two') pick two
			| )
		| :
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_Summoned_gearchoice7')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='summoned-gear7') Sledgehammer (3 harm, hand, heavy, messy)
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_Summoned_gearchoice8')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='summoned-gear8') Big sword (3 harm, hand, heavy, messy)
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_Summoned_gearchoice9')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='summoned-gear9') Big axe (3 harm, hand, heavy, messy)
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_Summoned_gearchoice10')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='summoned-gear10') Magnum (3 harm, close, loud, reload)
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_Summoned_gearchoice11')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='summoned-gear11') Shotgun (3 harm, close, messy, loud, reload)
