.sheet-Host
	input.sheet-SettingCheck(type='hidden', name='attr_Game-World', value='0')
	input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-GearUnused-Hider', value='1', checked='')
	+gearhead("Personal item","Pick one")
	+move("Host-Gear","A journal recording the symptoms of your bonding")
	+move("Host-Gear","A journal of notes left between you and your symbiote")
	+move("Host-Gear","Tablet device")
	+move("Host-Gear","E-book reader")
	+move("Host-Gear","Tattered novels")
	+move("Host-Gear","Photograph of better times")
	+move("Host-Gear","Art supplies and sketchbook")
	+move("Host-Gear","Audio recorder and backup storage")
	br
	+gearhead("Weapon","Pick one")
	+move("Host-Gear","Weird martial art (1-harm hand)")
	+move("Host-Gear","Symbiotic blade (2-harm hand integrated retractable)")
	+move("Host-Gear","Symbiotic stunner (0-harm close stun integrated retractable)")
	+move("Host-Gear",".38 revolver (2-harm close reload loud)")
	+move("Host-Gear","Magnum (3-harm close reload loud)")
	+move("Host-Gear","Sword (2-harm hand)")
	+move("Host-Gear","Ray gun (2-harm close messy energy)")
	+move("Host-Gear","Shotgun (3-harm close messy loud)")