// Gear for The Luchador
.sheet-Luchador
	input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-GearUnused-Hider', value='1', checked='')
	div
		b
			span(data-i18n='luchador-weapons') Normal Weapons
		|  
		i
			| &nbsp;(
			span(data-i18n='pick-two') pick two
			| )
		| :
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_Luchador_gearchoice1')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='luchador-gear1') .38 revolver (2 harm, close, reload, loud)
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_Luchador_gearchoice2')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='luchador-gear2') 9mm (2 harm, close, loud)
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_Luchador_gearchoice3')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='luchador-gear3') Shotgun (3 harm, close, messy, loud)
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_Luchador_gearchoice4')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='luchador-gear4') Heavy chain (2 harm, hand, area)
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_Luchador_gearchoice5')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='luchador-gear5') Sledgehammer (3 harm, hand, messy)
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_Luchador_gearchoice6')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='luchador-gear6') Big knife (1 harm, hand)
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_Luchador_gearchoice7')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='luchador-gear7') Brass knuckles (1 harm, hand, stealthy)
	.sheet-space-above
		b
			span(data-i18n='luchador-vehicle') Stylish Vehicle
		|  
		i
			| &nbsp;(
			span(data-i18n='pick-one') pick one
			| )
		| :
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_Luchador_gearchoice8')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='luchador-gear8') Foreign sports car
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_Luchador_gearchoice9')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='luchador-gear9') Giant off-road vehicle
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_Luchador_gearchoice10')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='luchador-gear10') Limo and chauffeur
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_Luchador_gearchoice11')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='luchador-gear11') Tricked out motorcycle
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_Luchador_gearchoice12')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='luchador-gear12') Van with custom paint job
