// Gear for The Exile
.sheet-Exile
	input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-GearUnused-Hider', value='1', checked='')
	div
		span(data-i18n='exile-armour') Ancient Armour (0 armour or, 1 armour) appropriate to your origin
		| .
		input(type='text', name='attr_Item-Exile-Armour')
	.sheet-space-above
		span(data-i18n='exile-item')
			| Whatever you were carrying when you were transported; most likely a monster-hunting kit in some easy-to-carry bag appropriate to your origin
	div
		textarea(name='attr_Item-Exile', rows='2', cols='40')
	.sheet-space-above
		b
			span(data-i18n='exile-weapon') Ancient Weapons
		|  
		i
			| &nbsp;(
			span(data-i18n='pick-three') pick three
			| )
		| :
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_Exile_gearchoice1')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='exile-gear1') Sword (2 harm, hand, messy)
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_Exile_gearchoice2')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='exile-gear2') Axe (2 harm, hand, messy)
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_Exile_gearchoice11')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='exile-gear11') Spear (2 harm, hand/close)
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_Exile_gearchoice3')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='exile-gear3') Big sword (3 harm, hand, messy, heavy)
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_Exile_gearchoice4')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='exile-gear4') Poleaxe (3 harm, hand, messy, heavy)
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_Exile_gearchoice5')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='exile-gear5') Shield (1 harm, hand, 1 armour)
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_Exile_gearchoice6')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='exile-gear6') Silver knife (1 harm, hand, silver)
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_Exile_gearchoice7')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='exile-gear7') Bow (2 harm, close)/(1 harm, far)
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_Exile_gearchoice8')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='exile-gear8') Crossbow (2 harm, close, slow)
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_Exile_gearchoice9')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='exile-gear9') Handgonne (1 harm, hand/close, loud, volatile, smokey, reload)
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_Exile_gearchoice10')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='exile-gear10') Arquebus (2 harm, close, loud volatile, smokey, heavy, reload)
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_Exile_gearchoice12')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='exile-gear12') Big knife (1 harm, hand)
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_Exile_gearchoice13')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='exile-gear13') Cudgel (1 harm, hand)
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_Exile_gearchoice14')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='exile-gear14') Martial arts (1 harm, hand)

	input.sheet-triggerbox(type='checkbox', name='attr_HJ-Exile-Enable', value="1")
	.sheet-space-above.sheet-triggerframe
		div
			b
				+translate("Future Traveller Gear Options")
		div
			+t("In place of one ancient weapons pick, you may choose one of these:")
	.sheet-isolator
		input.sheet-checkbox.sheet-ExpToggle(type='checkbox', name='attr_HJ-Exile-Enable', value='1', checked='')
		span.sheet-anglebox
		span.sheet-ExpHeader
			+t("HJ Future Traveller")
	input.sheet-triggerbox(type='checkbox', name='attr_HJ-Exile-Enable', value="1")
	+move("HJ-Exile-Gear","Laser Pistol (2-harm, close, energy, obvious)").sheet-triggerframe
	input.sheet-triggerbox(type='checkbox', name='attr_HJ-Exile-Enable', value="1")
	+move("HJ-Exile-Gear","Stunner (0-harm, close, stun)").sheet-triggerframe
	input.sheet-triggerbox(type='checkbox', name='attr_HJ-Exile-Enable', value="1")
	+move("HJ-Exile-Gear","Laser Blade (2-harm, hand, ignore-armour, messy)").sheet-triggerframe
