.sheet-Gear
	input.sheet-SkinCheck(type='hidden', name='attr_SkinCheck', value='0')
	.sheet-Subsection
		span(data-i18n='gear') Gear
		|  
		span.sheet-Survivor
			+translate('and Fighting')
	input.sheet-checkbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-GearAll-Hider', value='1', checked='')
	span.sheet-anglebox
	|  
	span.sheet-ExpHeader
		span(data-i18n='all') All
	.sheet-Expander
		input.sheet-SkinCheck.sheet-99-hider(type='hidden', name='attr_SkinCheck', value='0')
		|  
		.sheet-isolator
			input.sheet-checkbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-GearUnused-Hider', value='1', checked='')
			span.sheet-anglebox
			|  
			span.sheet-ExpHeader
				span(data-i18n='unused') Unused
		// Custom Playbook gear
		include gear-custom.pug
		include gear-actionscientist.pug
		include gear-chosen.pug
		include gear-constructed.pug
		include gear-crooked.pug
		include gear-curseeater.pug
		include gear-divine.pug
		include gear-exile.pug
		include gear-expert.pug
		include gear-flake.pug
		include gear-gumshoe.pug
		include gear-hardcase2020.pug
		include gear-hardcase.pug
		include gear-hex.pug
		include gear-initiate.pug
		include gear-luchador.pug
		include gear-meddlingkid.pug
		include gear-monstrous.pug
		include gear-mundane.pug
		include gear-pararomantic.pug
		include gear-professional.pug
		include gear-searcher.pug
		include gear-sidekick.pug
		include gear-snoop.pug
		include gear-spellslinger.pug
		include gear-spooktacular.pug
		include gear-spooky.pug
		include gear-summoned.pug
		include gear-survivor.pug
		include gear-traveler.pug
		include gear-wronged.pug
		include gear-nonlethal.pug
		// Specific Gear Oddities for Monster Marches
		include gear-marches.pug
		// Specific Gear Oddities for Bone Spear
		include gear-bone.pug
	// end big expander for sheet-Gear
// end sheet-Gear

include gear-other.pug