.sheet-OtherGear
	.sheet-Subsection
		span(data-i18n='other-gear') Other Gear
	input.sheet-checkbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-OtherGear-Hider', value='1', checked='')
	span.sheet-anglebox
	|  
	span.sheet-ExpHeader
	.sheet-Expander
		textarea(name='attr_OtherGearDescrip', rows='8', cols='40')
