.sheet-CurseEater
	input.sheet-SettingCheck(type='hidden', name='attr_Game-World', value='0')
	input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-GearUnused-Hider', value='1', checked='')
	.sheet-MinorHead
		+translate('Handy Gear')
	p
		i
			+translate('Pick three:')
	+move("CurseEater-Gear","Mystical focus used when eating curses (perhaps a crystal, amulet, or ring)")
	+move("CurseEater-Gear","Pocket knife or multitool (1-harm hand useful small)").sheet-Setting-Default.sheet-Setting-Gothic
	+move("CurseEater-Gear","A bag full of occult ingredients and spell reagents")
	+move("CurseEater-Gear","Manacles and chains").sheet-Setting-Default.sheet-Setting-Gothic.sheet-Setting-Dreaming.sheet-Setting-Marches
	+move("CurseEater-Gear","Rope and zip ties").sheet-Setting-Default
	+move("CurseEater-Gear","Rope").sheet-Setting-Gothic.sheet-Setting-Dreaming.sheet-Setting-Marches.set-Setting-Bone
	+move("CurseEater-Gear","Medallion of the Society of Curse-eaters").sheet-Setting-Default.sheet-Setting-Gothic.sheet-Setting-Dreaming.sheet-Setting-Marches
	+move("CurseEater-Gear","Improvised protective gear (1-armour)")
	+move("CurseEater-Gear","Big net")
	+move("CurseEater-Gear","Grimoire of wardings and defenses").sheet-Setting-Default.sheet-Setting-Gothic.sheet-Setting-Dreaming.sheet-Setting-Marches
	+move("CurseEater-Gear","Dowsing rods and pendulum").sheet-Setting-Default.sheet-Setting-Gothic.sheet-Setting-Dreaming.sheet-Setting-Marches
	+move("CurseEater-Gear","Curse-eater’s mask or amulet").sheet-Setting-Bone
	+move("CurseEater-Gear","Divination sticks").sheet-Setting-Bone

	.sheet-MinorHead.sheet-Setting-Default.sheet-Setting-Gothic.sheet-Setting-Dreaming.sheet-Setting-Marches
		br
		+translate('Practical Weapons')
	.sheet-Setting-Default.sheet-Setting-Gothic.sheet-Setting-Dreaming.sheet-Setting-Marches
		i
			+translate('Pick two:')
	+move("CurseEater-Gear","Baseball or cricket bat (1-harm hand innocuous)").sheet-Setting-Default
	+move("CurseEater-Gear","Collapsible baton (1-harm hand small)").sheet-Setting-Default
	+move("CurseEater-Gear","Taser (2-harm hand/close stun electric)").sheet-Setting-Default
	+move("CurseEater-Gear","Tranquiliser rifle (3-harm close sedating)").sheet-Setting-Default
	+move("CurseEater-Gear","Pistol (2-harm close loud)").sheet-Setting-Default
	+move("CurseEater-Gear","Singlestick or cane (1-harm hand innocuous)").sheet-Setting-Gothic
	+move("CurseEater-Gear","Choloroform (0-harm intimate sedating)").sheet-Setting-Gothic
	+move("CurseEater-Gear","Small revolver (2-harm hand/close reload)").sheet-Setting-Gothic
	+move("CurseEater-Gear","Flintlock pistol (2-harm hand/close reload slow loud inaccurate)").sheet-Setting-Gothic
	+move("CurseEater-Gear","Cudgel (1-harm hand innocuous)").sheet-Setting-Dreaming
	+move("CurseEater-Gear","Sleep potion (0-harm intimate/hand sedating)").sheet-Setting-Dreaming
	+move("CurseEater-Gear","Flintlock pistol (2-harm close reload loud)").sheet-Setting-Dreaming
	+move("CurseEater-Gear","Rapier (2-harm hand quick)").sheet-Setting-Dreaming
	+move("CurseEater-Gear","Cudgel (1-harm hand innocuous)").sheet-Setting-Marches
	+move("CurseEater-Gear","Shortbow (2-harm close)").sheet-Setting-Marches
	+move("CurseEater-Gear","Sword (2-harm hand)").sheet-Setting-Marches
	+move("CurseEater-Gear","Dagger (1-harm hand/close small)").sheet-Setting-Marches

	.sheet-MinorHead.sheet-Setting-Default.sheet-Setting-Gothic.sheet-Setting-Dreaming.sheet-Setting-Marches
		br
		+translate('Vehicles')
	.sheet-Setting-Default.sheet-Setting-Gothic.sheet-Setting-Dreaming.sheet-Setting-Marches
		i
			+translate('Pick one:')
	+move("CurseEater-Gear","None").sheet-Setting-Default.sheet-Setting-Gothic.sheet-Setting-Dreaming.sheet-Setting-Marches
	+move("CurseEater-Gear","Pickup").sheet-Setting-Default
	+move("CurseEater-Gear","Van").sheet-Setting-Default
	+move("CurseEater-Gear","Truck").sheet-Setting-Default
	+move("CurseEater-Gear","Old car").sheet-Setting-Default
	+move("CurseEater-Gear","Horse").sheet-Setting-Gothic.sheet-Setting-Dreaming.sheet-Setting-Marches
	+move("CurseEater-Gear","Carriage with team and driver").sheet-Setting-Gothic.sheet-Setting-Dreaming
	+move("CurseEater-Gear","Riverboat").sheet-Setting-Gothic.sheet-Setting-Dreaming
	+move("CurseEater-Gear","Sloop").sheet-Setting-Gothic.sheet-Setting-Marches
	+move("CurseEater-Gear","House-wagon with ox").sheet-Setting-Dreaming
	+move("CurseEater-Gear","Wagon with ox").sheet-Setting-Marches




