.sheet-Covenant
	input.sheet-SettingCheck(type='hidden', name='attr_Game-World', value='0')
	input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-GearUnused-Hider', value='1', checked='')
	+gearhead("Communication device","Pick one")
	+move("Covenant-Gear","Cell phone")
	+move("Covenant-Gear","Summoning charm")
	+move("Covenant-Gear","Walkie-talkie")
	+move("Covenant-Gear","High-tech communicator")
	+move("Covenant-Gear","Telepathic link")
	+move("Covenant-Gear","Messaging relic")
	br
	+gearhead("Utility item","Pick one")
	+move("Covenant-Gear","A plentiful wardrobe of socially appropriate clothes")
	+move("Covenant-Gear","Kevlar vest (1-armour)")
	+move("Covenant-Gear","Cutting-edge laptop")
	+move("Covenant-Gear","Ritual gear")
	+move("Covenant-Gear","Extensive tool collection")
	br
	+gearhead("Weapon","Pick one")
	+move("Covenant-Gear","Heavy tool (2-harm hand utility innocuous)")
	+move("Covenant","Summoned minion (2-harm close autonomous messy)")
	+move("Covenant-Gear","Handgun (2-harm close reload loud)")
	+move("Covenant-Gear","Bag of curses (1-harm close magic ignore armour)")
	+move("Covenant-Gear","Shotgun (3-harm close messy loud)")
	+move("Covenant-Gear","Hunting rifle (2-harm far loud)")
	+move("Covenant-Gear","Sword (2-harm hand magic)")