// Gear for The Mundane
.sheet-Mundane
	input.sheet-SettingCheck(type='hidden', name='attr_Game-World', value='0')
	input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-GearUnused-Hider', value='1', checked='')
	div.sheet-Setting-Default.sheet-Setting-Gothic.sheet-Setting-Dreaming.sheet-Setting-Marches
		b
			span(data-i18n='mundane-weapon') Mundane Weapons
		|  
		i
			| &nbsp;(
			span(data-i18n='pick-two') pick two
			| )
		| :
	.sheet-move.sheet-Setting-Default.sheet-Setting-Gothic
		input.sheet-checkbox(type='checkbox', name='attr_Mundane_gearchoice1')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='mundane-gear1')
				| Golf club, baseball bat, cricket bat, or hockey stick (2 harm, hand, innocuous, messy)
	.sheet-move.sheet-Setting-Default.sheet-Setting-Gothic.sheet-Setting-Dreaming.sheet-Setting-Marches
		input.sheet-checkbox(type='checkbox', name='attr_Mundane_gearchoice2')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='mundane-gear2') Pocket knife or multitool (1 harm, hand, useful, small)
	.sheet-move.sheet-Setting-Default.sheet-Setting-Gothic
		input.sheet-checkbox(type='checkbox', name='attr_Mundane_gearchoice3')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='mundane-gear3') Small handgun (2 harm, close, loud, reload)
	.sheet-move.sheet-Setting-Default.sheet-Setting-Gothic
		input.sheet-checkbox(type='checkbox', name='attr_Mundane_gearchoice4')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='mundane-gear4') Hunting rifle (3 harm, far, loud, reload)
	.sheet-move.sheet-Setting-Default.sheet-Setting-Gothic.sheet-Setting-Dreaming.sheet-Setting-Marches
		input.sheet-checkbox(type='checkbox', name='attr_Mundane_gearchoice5')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='mundane-gear5') Sledge-hammer or fire axe (3 harm, hand, messy)
	.sheet-move.sheet-Setting-Default.sheet-Setting-Gothic
		input.sheet-checkbox(type='checkbox', name='attr_Mundane_gearchoice6')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='mundane-gear6') Nunchuks (2 harm, hand, area)
	+move('Gothic-Gear-Mundane','Wrench (2-harm hand inconspicuous)')(class="sheet-Setting-Gothic")
	+move('Dreaming-Gear-Mundane','Clockwork rifle (3-harm close reload)')(class="sheet-Setting-Dreaming")
	+move('Dreaming-Gear-Mundane','Flintlock pistol (2-harm close reload loud)')(class="sheet-Setting-Dreaming")
	+move('Dreaming-Gear-Mundane','Repeating crossbow (2-harm close quick)')(class="sheet-Setting-Dreaming")
	+move('Marches-Gear-Mundane',"Axe (2-harm hand messy)").sheet-Setting-Marches
	+move('Marches-Gear-Mundane',"Dagger (1-harm hand/close hidden)").sheet-Setting-Marches
	+move('Marches-Gear-Mundane',"Crossbow (2-harm close quick reload)").sheet-Setting-Marches
	+move('Marches-Gear-Mundane',"Spear (2-harm hand/close)").sheet-Setting-Marches
	.sheet-Setting-Marches.sheet-space-above
			+translate('<b>Normal Person:</b> If you wish, your Mundane doesn’t need to be a Spirit-Touched. However, if they’re not, they don’t choose special materials for their weapons.')

	.sheet-space-above.sheet-Setting-Default.sheet-Setting-Gothic.sheet-Setting-Dreaming.sheet-Setting-Marches
		b
			span(data-i18n='mundane-transport') Means of Transport
		|  
		i
			| &nbsp;(
			span(data-i18n='pick-one') pick one
			| )
		| :
	.sheet-move.sheet-Setting-Default
		input.sheet-checkbox(type='checkbox', name='attr_Mundane_gearchoice7')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='mundane-gear7') Skateboard
	.sheet-move.sheet-Setting-Default
		input.sheet-checkbox(type='checkbox', name='attr_Mundane_gearchoice8')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='mundane-gear8') Bicycle
	.sheet-move.sheet-Setting-Default
		input.sheet-checkbox(type='checkbox', name='attr_Mundane_gearchoice9')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='mundane-gear9') Fairly new car in decent condition
	.sheet-move.sheet-Setting-Default
		input.sheet-checkbox(type='checkbox', name='attr_Mundane_gearchoice10')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='mundane-gear10') Classic car in terrible condition
	.sheet-move.sheet-Setting-Default
		input.sheet-checkbox(type='checkbox', name='attr_Mundane_gearchoice11')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='mundane-gear11') Motorcycle
	.sheet-move.sheet-Setting-Default
		input.sheet-checkbox(type='checkbox', name='attr_Mundane_gearchoice12')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='mundane-gear12') Van
	+move('Gothic-Mundane-Vehicle','a fast horse')(class='sheet-Setting-Gothic sheet-Setting-Marches')
	+move('Gothic-Mundane-Vehicle','an average horse and carriage')(class='sheet-Setting-Gothic sheet-Setting-Marches')
	+move('Gothic-Mundane-Vehicle','a boat')(class='sheet-Setting-Gothic')
	+move('Gothic-Mundane-Vehicle','friends who can procure railway tickets')(class='sheet-Setting-Gothic')
	+move('Gothic-Mundane-Vehicle','friends who can procure ship tickets')(class='sheet-Setting-Gothic')
	+move('Dreaming-Mundane-Vehicle','a fast horse')(class='sheet-Setting-Dreaming')
	+move('Dreaming-Mundane-Vehicle','an average horse and carriage')(class='sheet-Setting-Dreaming')
	+move('Dreaming-Mundane-Vehicle','a boat')(class='sheet-Setting-Dreaming')
	+move('Dreaming-Mundane-Vehicle','a small ship in terrible condition')(class='sheet-Setting-Dreaming')
	+move('Marches-Mundane-Vehicle','right to stay in inns for free').sheet-Setting-Marches
	+move('Marches-Mundane-Vehicle','add “What useful shortcut do I know?” to <i>investigate a mystery</i> questions').sheet-Setting-Marches
	.sheet-Setting-Bone
		+translate('Pick one of these:')
	+bonegear('Bone-Gear-Mundane','A mysterious amulet (4-wear fancy magic). You don’t know what it does.',4).sheet-Setting-Bone
	+bonegear('Bone-Gear-Mundane','Gemstone bead jewellery (5-wear). It’s a family heirloom.',5).sheet-Setting-Bone
	+bonegear('Bone-Gear-Mundane','Ritual mask (2-wear fancy holy)',2).sheet-Setting-Bone
	+bonegear('Bone-Gear-Mundane','Bone whistle (3-wear)',3).sheet-Setting-Bone
	+bonegear('Bone-Gear-Mundane','Shell trumpet (3-wear)',3).sheet-Setting-Bone
	+bonegear('Bone-Gear-Mundane','Really nice flint knife (4-wear 1-harm hand fancy useful)',4).sheet-Setting-Bone