ul
	li
		+t("<b>[a material]</b>: This weapon is made from the named material, and is thus useful against monsters with that weakness.")
	li
		+t("<b>1-harm, 2-harm, 3-harm</b>, etc: This is how much harm the attack inflicts.")
	li
		+t("<b>area</b>: Can hit multiple foes. You may divide the harm you inflict among multiple targets.")
	li
		+t("<b>balanced</b>: Easy to wield and keep your grip on.")
	li
		+t("<b>barrier</b>: Does harm to anything that passes through. Counts as armour against any attacks that pass through it.")
	li
		+t("<b>blatant (bionics)</b>: Obvious to casual observation. If gear gains “retractable,” it loses “blatant.”")
	li
		+t("<b>close</b>: Effective at fairly close quarters—outside arms’ reach, but not too far.")
	li
		+t("<b>destroy-structure</b>: Wrecks cover and inanimate objects.")
	li
		+t("<b>far</b>: Effective at long range.")
	li
		+t("<b>fire</b>: Sets things on fire.")
	li
		+t("<b>forceful</b>: Pushes things around, allowing you to “force them where you want them” in addition to normal attack effects.")
	li
		+t("<b>hand</b>: Effective within arms’ reach.")
	li
		+t("<b>heavy</b>: This weapon is heavy and difficult to wield.")
	li
		+t("<b>holy</b>: This will be more effective against monsters with a weakness to holy items.")
	li
		+t("<b>ignore-armour</b>: Ignores protective armour. Armour has no effect on this harm. If armour has the magic tag, then the attack needs both ignore-armour and magic to bypass the armour.")
	li
		+t("<b>ignore-structure</b>: Will go through cover and inanimate objects as if they aren’t there.")
	li
		+t("<b>innocuous</b>: Doesn’t draw suspicion.")
	li
		+t("<b>integrated (bionics)</b>: An upgrade that is part of your body.")
	li
		+t("<b>intimate</b>: Effective at the closest of quarters—within the embrace of your foe.")
	li
		+t("<b>life-drain</b>: Transfers life energy: the wielder is healed for as many points of harm as were inflicted. E.g. if you inflict 2-harm, then you heal 2-harm from your injuries.")
	li
		+t("<b>loud</b>: Loud enough that it draws attention.")
	li
		+t("<b>magic</b>: Enchanted, and so can affect certain creatures and armours that are proof against normal weapons.")
	li
		+t("<b>many</b>: These weapons are small enough you can carry a large number of them.")
	li
		+t("<b>messy</b>: Spreads a lot of blood and gore around.")
	li
		+t("<b>quick</b>: Fast to prepare and attack with, giving you a better chance of going first.")
	li
		+t("<b>reload</b>: This weapon has limited ammunition, and may run out and need to be reloaded.")
	li
		+t("<b>restraining</b>: A successful attack entangles or grabs the victim.")
	li
		+t("<b>retractable (bionics)</b>: Can be concealed within your body or a larger device. While concealed, it does not function.")
	li
		+t("<b>slow</b>: This weapon is slow to prepare and attack with.")
	li
		+t("<b>small</b>: This weapon is tiny and easy to conceal.")
	li
		+t("<b>unreliable</b>: This weapon needs regular cleaning and maintenance, otherwise it just isn’t gonna work.")
	li
		+t("<b>useful</b>: This weapon has other uses aside from violence.")
	li
		+t("<b>valuable</b>: This weapon is antique, or made of valuable materials.")
	li
		+t("<b>volatile</b>: This weapon is dangerous and unstable.")
