// Gear for The Constructed
.sheet-Constructed
	input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-GearUnused-Hider', value='1', checked='')
	div(data-i18n='constructed-gear-large')
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_constructed-gear1')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='constructed-gear1')
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_constructed-gear2')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='constructed-gear2')
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_constructed-gear3')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='constructed-gear3')
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_constructed-gear4')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='constructed-gear4')
	div(data-i18n='constructed-gear-body')
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_constructed-gear5')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='constructed-gear5')
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_constructed-gear6')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='constructed-gear6')
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_constructed-gear7')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='constructed-gear7')
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_constructed-gear8')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='constructed-gear8')
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_constructed-gear9')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='constructed-gear9')
