.sheet-isolator
	input.sheet-triggerbox(type='checkbox', name='attr_hardcase2020-move1', value='1')
	.sheet-triggerframe
		.sheet-nowrap
			.sheet-Subsection
				span(data-i18n='fire')
			p.sheet-space-above(align='center')
				b.sheet-statelabel
					span(data-i18n='calm') Calm
				input.sheet-checkbox(type='checkbox', name='attr_fire1')
				span.sheet-altbox
				input.sheet-checkbox(type='checkbox', name='attr_fire2')
				span.sheet-altbox
				input.sheet-checkbox(type='checkbox', name='attr_fire3')
				span.sheet-altbox
				input.sheet-checkbox(type='checkbox', name='attr_fire4')
				span.sheet-altbox
				input.sheet-checkbox(type='checkbox', name='attr_fire5')
				span.sheet-altbox
				input.sheet-checkbox(type='checkbox', name='attr_fire6')
				span.sheet-altbox
				input.sheet-checkbox(type='checkbox', name='attr_fire7')
				span.sheet-altbox
				input.sheet-checkbox(type='checkbox', name='attr_fire8')
				span.sheet-altbox
				input.sheet-checkbox(type='checkbox', name='attr_fire9')
				span.sheet-altbox
				input.sheet-checkbox(type='checkbox', name='attr_fire10')
				span.sheet-altbox
				input.sheet-triggerbox(type='checkbox', name='attr_AdvImp-Fire')
				input.sheet-checkbox(type='checkbox', name='attr_fire11')
				span.sheet-altbox
				input.sheet-triggerbox(type='checkbox', name='attr_AdvImp-Fire')
				input.sheet-checkbox(type='checkbox', name='attr_fire12')
				span.sheet-altbox
				input.sheet-triggerbox(type='checkbox', name='attr_AdvImp-Fire')
				input.sheet-checkbox(type='checkbox', name='attr_fire13')
				span.sheet-altbox
				b.sheet-statelabel
					span(data-i18n='raging') Raging