input.sheet-triggerbox.sheet-HavenRevealer(type='checkbox', name='attr_Imp-Haven')
.sheet-Expert.sheet-Haven
	.sheet-Subsection
		span(data-i18n='your-haven') Haven
	input.sheet-checkbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-Expert-Haven-All', value='1', checked='')
	span.sheet-anglebox
	span.sheet-ExpHeader
		span(data-i18n='all') All
	.sheet-Expander
		input.sheet-SettingCheck(type='hidden', name='attr_Game-World', value='0')
		input.sheet-SkinCheck(type='hidden', name='attr_SkinCheck', value='0')
		|  
		input.sheet-checkbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-Expert-Haven-Unused', value='1', checked='')
		span.sheet-anglebox
		span.sheet-ExpHeader
			span(data-i18n='unused') Unused
		.sheet-isolator
			input.sheet-checkbox.sheet-ExpToggle(type='checkbox', name='attr_HJ-Haven-Enable', value='1', checked='')
			span.sheet-anglebox
			span.sheet-ExpHeader
				+t("Hunter's Journal Options")

		div
			span(data-i18n='haven-description') You have set up a haven, a safe place to work
			span.sheet-Snoop.sheet-Actionscientist .
			span.sheet-Expert
				i
					| &nbsp;(
					span(data-i18n='pick-three') pick three
					| )
				| :
			span.sheet-Gumshoe.sheet-Hex.sheet-Flake.sheet-Monstrous.sheet-Wronged.sheet-Luchador
				i
					| &nbsp;(
					span(data-i18n='pick-two') pick two
					| )
				| :
			span.sheet-Snoop
				i
					span(data-i18n='1-fixed-move') You get this
					| :
			span.sheet-Actionscientist
				i
					span(data-i18n='as-haven-instruct') Pick one in addition to a Workshop
					| :
		.sheet-move.sheet-Snoop
			input.sheet-checkbox(type='checkbox', name='attr_Haven-Snoop', checked='')
			span.sheet-mainbox
			span.sheet-grayable
				span(data-i18n='snoop-haven')
					b Film Lab
					| : All the stuff you need to develop film, store negatives, and process digital images.
				button.sheet-broadcast-button(type='roll', name='roll_Show', value='&{template:motw-moveshare} {{CharName=@{character_name}}} {{movekey=haven1}}', data-i18n-title='send_details_to_chat')
		.sheet-Snoop
			i
				| &nbsp;(
				span(data-i18n='1-move') Then pick one of these
				| )
		.sheet-move.sheet-Setting-Default.sheet-Setting-Gothic.sheet-Setting-Dreaming.sheet-Setting-Marches
			input.sheet-checkbox(type='checkbox', name='attr_Haven-Expert1')
			span.sheet-mainbox
			span.sheet-grayable
				span(data-i18n='haven1')
					b Lore Library
					| : When you hit the books, take +1 forward to 
					i investigate a mystery
					|  (as long as historical or reference works are appropriate).
				button.sheet-2d6-button(type='roll', value='&{template:motw-dieroll} {{CharName=@{character_name}}} {{title=Investigate a Mystery}} {{Roll=[[2d6+?{Investigate a Mystery with|Sharp (Default),@{Sharp}|Charm,@{Charm}|Cool,@{Cool}|Sharp,@{Sharp}|Tough,@{Tough}|Weird,@{Weird}}+?{+/- forward?|1}]]}}', name='roll_iam-plusone')
				button.sheet-broadcast-button(type='roll', name='roll_Show', value='&{template:motw-moveshare} {{CharName=@{character_name}}} {{movekey=haven1}}', data-i18n-title='send_details_to_chat')
		.sheet-move.sheet-Setting-Default.sheet-Setting-Gothic.sheet-Setting-Dreaming.sheet-Setting-Marches
			input.sheet-checkbox(type='checkbox', name='attr_Haven-Expert2')
			span.sheet-mainbox
			span.sheet-grayable
				span(data-i18n='haven2')
					b Mystical Library
					| : If you use your library&apos;s occult tomes and grimoires to prepare yourself, take +1 forward to 
					i use magic
					| .
				button.sheet-2d6-button(type='roll', value='&{template:motw-dieroll} {{CharName=@{character_name}}} {{title=Use Magic}} {{Roll=[[2d6+?{Use Magic with|Weird (Default),@{Weird}|Charm,@{Charm}|Cool,@{Cool}|Sharp,@{Sharp}|Tough,@{Tough}|Weird,@{Weird}}+?{+/- forward?|1}]]}}', name='roll_um-plusone')
				button.sheet-broadcast-button(type='roll', name='roll_Show', value='&{template:motw-moveshare} {{CharName=@{character_name}}} {{movekey=haven2}}', data-i18n-title='send_details_to_chat')
		.sheet-move.sheet-Setting-Default.sheet-Setting-Gothic.sheet-Setting-Dreaming.sheet-Setting-Marches
			input.sheet-checkbox(type='checkbox', name='attr_Haven-Expert3')
			span.sheet-mainbox
			span.sheet-grayable
				span(data-i18n='haven3')
					b Protection Spells
					| : Your haven is safe from monsters - they cannot enter. Monsters might be able to do something special to evade the wards, but not easily.
				button.sheet-broadcast-button(type='roll', name='roll_Show', value='&{template:motw-moveshare} {{CharName=@{character_name}}} {{movekey=haven3}}', data-i18n-title='send_details_to_chat')
		.sheet-move.sheet-Setting-Default.sheet-Setting-Gothic.sheet-Setting-Dreaming.sheet-Setting-Marches
			input.sheet-checkbox(type='checkbox', name='attr_Haven-Expert4')
			span.sheet-mainbox
			span.sheet-grayable
				span(data-i18n='haven4')
					b Armoury
					| : You have a stockpile of mystical and rare monster-killing weapons and items. If you 
					i need a special weapon
					| , roll +Weird. On a 10+, you have it (and plenty, if that matters). On a 7-9, you have it, but only the minimum. On a miss, you&apos;ve got the wrong thing.
				button.sheet-2d6-button(type='roll', value='&{template:motw-dieroll} {{CharName=@{character_name}}} {{title=Armoury}} {{Roll=[[2d6+?{Armoury with|Weird (Default),@{Weird}|Charm,@{Charm}|Cool,@{Cool}|Sharp,@{Sharp}|Tough,@{Tough}|Weird,@{Weird}}+?{+/- forward?|0}]]}}', name='roll_armoury')
				button.sheet-broadcast-button(type='roll', name='roll_Show', value='&{template:motw-moveshare} {{CharName=@{character_name}}} {{movekey=haven4}}', data-i18n-title='send_details_to_chat')
		.sheet-move.sheet-Setting-Default.sheet-Setting-Gothic.sheet-Setting-Dreaming.sheet-Setting-Marches
			input.sheet-checkbox(type='checkbox', name='attr_Haven-Expert5')
			span.sheet-mainbox
			span.sheet-grayable
				span(data-i18n='haven5')
					b Infirmary
					| : You can heal people, and have the space for one or two to recuperate. The Keeper will tell you how long any patient&apos;s recovery is likely to take, and if you need any extra supplies or help.
				button.sheet-broadcast-button(type='roll', name='roll_Show', value='&{template:motw-moveshare} {{CharName=@{character_name}}} {{movekey=haven5}}', data-i18n-title='send_details_to_chat')
		.sheet-move.sheet-Setting-Default.sheet-Setting-Gothic.sheet-Setting-Dreaming.sheet-Setting-Marches
			input.sheet-checkbox(type='checkbox', name='attr_Haven-Expert6')
			span.sheet-mainbox
			span.sheet-grayable
				input.sheet-SettingCheck(type='hidden', name='attr_Game-World', value='0')
				span.sheet-Setting-Default.sheet-Setting-Gothic
					+translate('haven6')
					button.sheet-broadcast-button(type='roll', name='roll_Show', value='&{template:motw-moveshare} {{CharName=@{character_name}}} {{movekey=haven6}}', data-i18n-title='send_details_to_chat')
				span.sheet-Setting-Dreaming
					+translate('<b>Alchemical Workshop</b>: You have a space for working on alchemical contrivances. Work out with the Keeper how long any repair or construction will take, and if you need extra supplies or help.')
					button.sheet-broadcast-button(type='roll', name='roll_Show', value='&{template:motw-moveshare} {{CharName=@{character_name}}} {{movekey=<b>Alchemical Workshop</b>: You have a space for working on alchemical contrivances. Work out with the Keeper how long any repair or construction will take, and if you need extra supplies or help.}}', data-i18n-title='send_details_to_chat')
		.sheet-move.sheet-Setting-Default.sheet-Setting-Gothic.sheet-Setting-Dreaming.sheet-Setting-Marches
			input.sheet-checkbox(type='checkbox', name='attr_Haven-Expert7')
			span.sheet-mainbox
			span.sheet-grayable
				span(data-i18n='haven7')
					b Oubliette
					| : This room is isolated from every kind of monster, spirit or magic that you know about. Anything you stash in there can&apos;t be found, can&apos;t do any magic, and can&apos;t get out.
				button.sheet-broadcast-button(type='roll', name='roll_Show', value='&{template:motw-moveshare} {{CharName=@{character_name}}} {{movekey=haven7}}', data-i18n-title='send_details_to_chat')
		.sheet-move.sheet-Setting-Default.sheet-Setting-Gothic.sheet-Setting-Dreaming.sheet-Setting-Marches
			input.sheet-checkbox(type='checkbox', name='attr_Haven-Expert8')
			span.sheet-mainbox
			span.sheet-grayable
				span(data-i18n='haven8')
					b Panic Room
					| : This has essential supplies and is protected by normal and mystical means. You can hide out there for a few days, safe from pretty much anything.
				button.sheet-broadcast-button(type='roll', name='roll_Show', value='&{template:motw-moveshare} {{CharName=@{character_name}}} {{movekey=haven8}}', data-i18n-title='send_details_to_chat')
		.sheet-move.sheet-Setting-Default.sheet-Setting-Gothic.sheet-Setting-Dreaming.sheet-Setting-Marches
			input.sheet-checkbox(type='checkbox', name='attr_Haven-Expert9')
			span.sheet-mainbox
			span.sheet-grayable
				span(data-i18n='haven9')
					b Magical Laboratory
					| : You have a mystical lab with all kinds of weird ingredients and tools useful for casting spells (like 
					i use magic, big magic
					| , and any other magical moves).
				button.sheet-broadcast-button(type='roll', name='roll_Show', value='&{template:motw-moveshare} {{CharName=@{character_name}}} {{movekey=haven9}}', data-i18n-title='send_details_to_chat')
		+move('Bone-Haven','<b>Armoury</b>: You have a stockpile of mystical and rare monster-killing weapons and items. If you need a special weapon, roll +Weird. On a 10+, you have it (and plenty if that matters). On a 7-9, you have it, but only the minimum. On a miss, you’ve got the wrong thing.',true).sheet-Setting-Bone 
			button.sheet-2d6-button(type='roll', value='&{template:motw-dieroll} {{CharName=@{character_name}}} {{title=Armoury}} {{Roll=[[2d6+?{Armoury with|Weird (Default),@{Weird}|Charm,@{Charm}|Cool,@{Cool}|Sharp,@{Sharp}|Tough,@{Tough}|Weird,@{Weird}}+?{+/- forward?|0}]]}}', name='roll_armoury')
		+move('Bone-Haven','<b>Selection of Amulets</b>: A collection of useful ritual items. If you use them in mystical preparation, take +1 forward to <i>use magic</i>.',true).sheet-Setting-Bone
			button.sheet-2d6-button(type='roll', value='&{template:motw-dieroll} {{CharName=@{character_name}}} {{title=Use Magic}} {{Roll=[[2d6+?{Use Magic with|Weird (Default),@{Weird}|Charm,@{Charm}|Cool,@{Cool}|Sharp,@{Sharp}|Tough,@{Tough}|Weird,@{Weird}}+?{+/- forward?|1}]]}}', name='roll_um-plusone')
		+move('Bone-Haven','<b>Herb Garden</b>: You have a garden that contains plenty of medicinal and mystically useful herbs. These may be used for magic requirements, healing moves, or crafting.',true).sheet-Setting-Bone
		+move('Bone-Haven','<b>Hideout</b>: You have a place prepared with essential supplies and a variety of mundane and mystical protections. You can hide out there for a few days, safe from pretty much anything.',true).sheet-Setting-Bone
		+move('Bone-Haven','<b>Infirmary</b>: You can heal people, and have the space for one or two to recuperate. The Keeper will tell you how long any patient’s recovery is likely to take, and if you need extra supplies or help.',true).sheet-Setting-Bone
		+move('Bone-Haven','<b>Ritual Space</b>: You have an area of mystical power, with all kinds of weird ingredients and tools useful for casting spells (like the <i>use magic</i> move, <i>big magic</i>, and any other magical moves). You also have contacts with the shamans and lore-keepers who can help with rituals. This can be used to meet certain magical requirements.',true).sheet-Setting-Bone
			button.sheet-2d6-button(type='roll', value='&{template:motw-dieroll} {{CharName=@{character_name}}} {{title=Use Magic}} {{Roll=[[2d6+?{Use Magic with|Weird (Default),@{Weird}|Charm,@{Charm}|Cool,@{Cool}|Sharp,@{Sharp}|Tough,@{Tough}|Weird,@{Weird}}+?{+/- forward?|0}]]}}', name='roll_um')
		+move('Bone-Haven','<b>Oubliette</b>: You have a place prepared, isolated from every kind of monster, spirit, or magic that you know about. Anything you stash in there can’t be found, can’t do any magic, and can’t get out.',true).sheet-Setting-Bone
		+move('Bone-Haven','<b>Protection Spells</b>: Your haven is safe from monsters—they can’t enter. Monsters might be able to do something special to evade the wards, but not easily.',true).sheet-Setting-Bone
		+move('Bone-Haven','<b>Workshop</b>: You have a space for building and repairing gear. When you <i>craft</i> in your workshop, your creation has +1 maximum wear. If you want to do something more elaborate, work out with the Keeper how long it will take and if you need extra supplies or help.',true).sheet-Setting-Bone

		input.sheet-triggerbox(type='checkbox', name='attr_HJ-Haven-Enable', value="1")
		+move('HJ-Haven',"<b>Science Laboratory:</b> A well-stocked facility for research, experiments, and analysis. Using these tools, get +1 forward to <b>investigate a mystery</b> whenever scientific tools and tests help.",true).sheet-triggerframe
		input.sheet-triggerbox(type='checkbox', name='attr_HJ-Haven-Enable', value="1")
		+move('HJ-Haven',"<b>Supercomputer</b>: Powerful computer servers. This can be used as a requirement for <b>hacking</b> (SSK, page 171) or other programming or computer-related moves.",true).sheet-triggerframe
		input.sheet-triggerbox(type='checkbox', name='attr_HJ-Haven-Enable', value="1")
		+move('HJ-Haven',"<b>Communications</b>: With a scrying table or powerful transmitter, your haven has ways to reach out and talk to your allies. Or receive threats from enemies. This provides cinematic-style earbuds to all team members for constant communication, wherever they are.",true).sheet-triggerframe
		input.sheet-triggerbox(type='checkbox', name='attr_HJ-Haven-Enable', value="1")
		+move('HJ-Haven',"<b>Vault</b>: A space in which you keep a few special, potentially useful items (not weapons). If you need a specific tool, roll +Weird. On a 10+, you have it (and plenty if that matters). On a 7–9, you have it, but only the minimum. On a miss, the only thing you have that might work is horribly cursed.",true).sheet-triggerframe
			+2d6("Vault","Weird","vault")
		input.sheet-triggerbox(type='checkbox', name='attr_HJ-Haven-Enable', value="1")
		+move('HJ-Haven',"<b>Public Cover</b>: A public face that people overlook. It might also help fund some of the bills, if it’s a business.",true).sheet-triggerframe
			+t("Choose the cover: small store, magic shoppe, library, generic office, something else:")
			+itext("HJ-Haven-Public-Cover")
		input.sheet-triggerbox(type='checkbox', name='attr_HJ-Haven-Enable', value="1")
		+move('HJ-Haven',"<b>Guardian</b>: An ally that lives in your haven. They protect and monitor the haven while you’re away and provide aid in the case of an attack. ",true).sheet-triggerframe
			+t("Their nature: spirit, AI, mysterious housekeeper, friendly monster, something else:")
			+itext("HJ-Haven-Guardian-Nature")
			+t("Their ally type:")
			+itext("HJ-Haven-Guardian-Type")
		input.sheet-triggerbox(type='checkbox', name='attr_HJ-Haven-Enable', value="1")
		+move('HJ-Haven',"<b>Security System</b>: The walls, floors, and ceilings of the haven have been rigged with traps and tricks to harm and delay intruders. Archives mystical and digital have firewalls to keep people out. While armed, it can be a danger to allies and innocents as well as intruders.",true).sheet-triggerframe
		input.sheet-triggerbox(type='checkbox', name='attr_HJ-Haven-Enable', value="1")
		+move('HJ-Haven',"<b>Luxurious</b>: The haven is particularly well-appointed and luxurious. Team members who take an hour to relax and enjoy the refreshments recover 1-harm.",true).sheet-triggerframe
		input.sheet-triggerbox(type='checkbox', name='attr_HJ-Haven-Enable', value="1")
		+move('HJ-Haven',"<b>Hidden</b>: The haven is difficult to find or locate for those that haven’t been invited.",true).sheet-triggerframe
		input.sheet-triggerbox(type='checkbox', name='attr_HJ-Haven-Enable', value="1")
		+move('HJ-Haven',"<b>Convenient</b>: The haven is right in the centre of your town, close to almost everything you’ll need.",true).sheet-triggerframe
		input.sheet-triggerbox(type='checkbox', name='attr_HJ-Haven-Enable', value="1")
		+move('HJ-Haven',"<b>Mobile</b>: You have a method of taking your base out on the road.",true).sheet-triggerframe