// History
.sheet-History
	.sheet-Subsection
		span(data-i18n='history') History and Notes
	input.sheet-checkbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-History', value='1', checked='')
	span.sheet-anglebox
	span.sheet-ExpHeader
	.sheet-Expander
		textarea(name='attr_History', rows='15', cols='5')
		input.sheet-SkinCheck.sheet-99-hider(type='hidden', name='attr_SkinCheck', value='0')
		|  
		div
			input.sheet-checkbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-chosen-hx', value='1', checked='')
			span.sheet-anglebox
			span.sheet-ExpHeader
				span(data-i18n='history-prompts')
			.sheet-Expander
				input.sheet-SkinCheck(type='hidden', name='attr_SkinCheck', value='0')
				|  
				.sheet-Chosen
					input.sheet-SettingCheck(type='hidden', name='attr_Game-World', value='0')
					span.sheet-Setting-Default.sheet-Setting-Gothic.sheet-Setting-Dreaming.sheet-Setting-Marches
						span.sheet-highlights(data-i18n='chosen-hx')
					span.sheet-Setting-Bone.sheet-highlights
						+translate('<ul><li>You are close blood relations. Ask them exactly how close.<li>They are destined to be your mentor. Tell them how this was revealed.<li>Your best friend in the world, who you trust totally.<li>A rival at first, but you came to a working arrangement.<li>Romantic entanglement, or fated to be romantically entangled.<li>Just friends, from working together, being taught together, or being neighbours. Figure out together what it was.<li>They could have been the Chosen One instead of you, but they failed some trial. Tell them how they failed.<li>You saved their life, back when they didn’t know monsters were real. Tell them what you saved them from.<li>Members of a community club or mystery cult—they were your mentor and helped with your initiation. What didn’t you know about the group before then?</ul>')
				.sheet-Crooked
					input.sheet-SettingCheck(type='hidden', name='attr_Game-World', value='0')
					span.sheet-Setting-Default.sheet-Setting-Gothic.sheet-Setting-Dreaming.sheet-Setting-Marches
						span.sheet-highlights(data-i18n='crooked-hx')
					span.sheet-Setting-Bone.sheet-highlights
						+translate('<ul><li>This hunter was there when you broke a sacred or community law. Tell them what they saw you do.<li>This hunter was there when you decided to hunt monsters. Work out together what happened.<li>This hunter is your younger sibling or child (possibly adopted). You look out for them.<li>This hunter is a cousin or more distant relative.<li>This hunter saved your life when a monster had the drop on you. Now you owe them one.<li>This hunter helped you out with a dubious scheme. What was it?<li>This hunter is your moral compass. When you talk over things with them, their advice helps keep you on course.<li>You’re powerfully attracted to this hunter. Maybe someday you’ll deserve them.<li>Your choice.</ul>')
				.sheet-Divine
					input.sheet-SettingCheck(type='hidden', name='attr_Game-World', value='0')
					span.sheet-Setting-Default.sheet-Setting-Gothic.sheet-Setting-Dreaming.sheet-Setting-Marches
						span.sheet-highlights(data-i18n='divine-hx')
					span.sheet-Setting-Bone.sheet-highlights
						+translate('<ul><li>If you’re protecting another hunter for your patron spirit, tell them this: You have a crucial role in what is to come. I am here to guide and defend you.<li>A prophecy indicated this hunter was going to play a major part in upcoming events, but not exactly how or why. You are keeping an eye on them.<li>This hunter was there when you made your deal with your patron spirit. Why were you selected instead of them?<li>This hunter called upon your patron spirit for help with a problem, and that led to you gaining your powers. How did you solve that original problem?<li>You’re beginning to develop romantic feelings for this hunter. Ask them if that’s something they return.<li>They saved your life when your duty got you into trouble. What were you involved in that almost killed you?<li>You’ve lived away from society for many years. This hunter is the one you trust for advice on how things work now.</ul>')
				.sheet-Expert
					span.sheet-highlights(data-i18n='expert-hx')
				.sheet-Flake
					span.sheet-highlights(data-i18n='flake-hx')
				.sheet-Initiate
					span.sheet-highlights(data-i18n='initiate-hx')
				.sheet-Monstrous
					span.sheet-highlights(data-i18n='monstrous-hx')
				.sheet-Mundane
					span.sheet-highlights(data-i18n='mundane-hx')
				.sheet-Professional
					span.sheet-highlights(data-i18n='professional-hx')
				.sheet-Spellslinger
					span.sheet-highlights(data-i18n='spellslinger-hx')
				.sheet-Spooky
					span.sheet-highlights(data-i18n='spooky-hx')
				.sheet-Wronged
					span.sheet-highlights(data-i18n='wronged-hx')
				.sheet-Gumshoe
					span.sheet-highlights(data-i18n='gumshoe-hx')
				.sheet-Hex
					span.sheet-highlights(data-i18n='hex-hx')
				.sheet-Pararomantic
					span.sheet-highlights(data-i18n='pararomantic-hx')
				.sheet-Searcher
					span.sheet-highlights(data-i18n='searcher-hx')
				.sheet-Exile
					span.sheet-highlights(data-i18n='exile-hx')
				.sheet-Hardcase
					span.sheet-highlights(data-i18n='hardcase-hx')
				.sheet-Hardcase2020
					span.sheet-highlights(data-i18n='hardcase2020-hx')
				.sheet-Luchador
					span.sheet-highlights(data-i18n='luchador-hx')
				.sheet-Meddlingkid
					span.sheet-highlights(data-i18n='meddlingkid-hx')
				.sheet-Sidekick
					span.sheet-highlights(data-i18n='sidekick-hx')
				.sheet-Snoop
					span.sheet-highlights(data-i18n='snoop-hx')
				.sheet-Summoned
					span.sheet-highlights(data-i18n='summoned-hx')
				.sheet-Traveler
					span.sheet-highlights(data-i18n='traveler-hx')
				.sheet-Actionscientist
					span.sheet-highlights(data-i18n='actionscientist-hx')
				.sheet-Spooktacular
					span.sheet-highlights(data-i18n='spooktacular-hx')
				.sheet-Constructed
					span.sheet-highlights(data-i18n='constructed-hx')
				.sheet-CurseEater
					+translate('<ul><li>You’re friends and confidants. What do you know about each other’s fears and secrets?<li>You saved them from a curse many years ago and have trusted each other since. Ask them what it was.<li>You’re suspsicious of their powers and wonder if one day you’ll need to consume that curse from them.<li>They’re suspicioius of your powers. Ask them what they fear about you.<li>You were both hunting the same monster and had an argument about killing it versus saving it. Decide between you who won that debate.<li>You’re family. What’s the relationship? How does the rest of the family regard you?<li>On your first hunt together, you unleashed consumed magic and put them in great danger. Ask what happened and how they feel about it now.<li>They told you that you’re fated to consume a curse that threatens the world. Ask if they know anything more about what’s coming.</ul>').sheet-highlights
			// hx expander
		// .sheet-99-hider
// .sheet-History