// History
.sheet-History
	.sheet-Subsection
		span(data-i18n='history') History and Notes
	input.sheet-checkbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-History', value='1', checked='')
	span.sheet-anglebox
	span.sheet-ExpHeader
	.sheet-Expander
		textarea(name='attr_History', rows='15', cols='5')
		input.sheet-SkinCheck.sheet-99-hider(type='hidden', name='attr_SkinCheck', value='0')
		|  
		div
			input.sheet-checkbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-chosen-hx', value='1', checked='')
			span.sheet-anglebox
			span.sheet-ExpHeader
				span(data-i18n='history-prompts')
			.sheet-Expander
				input.sheet-SkinCheck(type='hidden', name='attr_SkinCheck', value='0')
				|  
				.sheet-Chosen
					span.sheet-highlights(data-i18n='chosen-hx')
				.sheet-Crooked
					span.sheet-highlights(data-i18n='crooked-hx')
				.sheet-Divine
					span.sheet-highlights(data-i18n='divine-hx')
				.sheet-Expert
					span.sheet-highlights(data-i18n='expert-hx')
				.sheet-Flake
					span.sheet-highlights(data-i18n='flake-hx')
				.sheet-Initiate
					span.sheet-highlights(data-i18n='initiate-hx')
				.sheet-Monstrous
					span.sheet-highlights(data-i18n='monstrous-hx')
				.sheet-Mundane
					span.sheet-highlights(data-i18n='mundane-hx')
				.sheet-Professional
					span.sheet-highlights(data-i18n='professional-hx')
				.sheet-Spellslinger
					span.sheet-highlights(data-i18n='spellslinger-hx')
				.sheet-Spooky
					span.sheet-highlights(data-i18n='spooky-hx')
				.sheet-Wronged
					span.sheet-highlights(data-i18n='wronged-hx')
				.sheet-Gumshoe
					span.sheet-highlights(data-i18n='gumshoe-hx')
				.sheet-Hex
					span.sheet-highlights(data-i18n='hex-hx')
				.sheet-Pararomantic
					span.sheet-highlights(data-i18n='pararomantic-hx')
				.sheet-Searcher
					span.sheet-highlights(data-i18n='searcher-hx')
				.sheet-Exile
					span.sheet-highlights(data-i18n='exile-hx')
				.sheet-Hardcase
					span.sheet-highlights(data-i18n='hardcase-hx')
				.sheet-Hardcase2020
					span.sheet-highlights(data-i18n='hardcase2020-hx')
				.sheet-Luchador
					span.sheet-highlights(data-i18n='luchador-hx')
				.sheet-Meddlingkid
					span.sheet-highlights(data-i18n='meddlingkid-hx')
				.sheet-Sidekick
					span.sheet-highlights(data-i18n='sidekick-hx')
				.sheet-Snoop
					span.sheet-highlights(data-i18n='snoop-hx')
				.sheet-Summoned
					span.sheet-highlights(data-i18n='summoned-hx')
				.sheet-Traveler
					span.sheet-highlights(data-i18n='traveler-hx')
				.sheet-Actionscientist
					span.sheet-highlights(data-i18n='actionscientist-hx')
				.sheet-Spooktacular
					span.sheet-highlights(data-i18n='spooktacular-hx')
				.sheet-Constructed
					span.sheet-highlights(data-i18n='constructed-hx')
			// hx expander
		// .sheet-99-hider
// .sheet-History