// History
.sheet-History
	.sheet-Subsection
		span(data-i18n='history') History and Notes
	input.sheet-checkbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-History', value='1', checked='')
	span.sheet-anglebox
	span.sheet-ExpHeader
	.sheet-Expander
		textarea(name='attr_History', rows='15', cols='5')
		input.sheet-SkinCheck.sheet-99-hider(type='hidden', name='attr_SkinCheck', value='0')
		|  
		div
			input.sheet-checkbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-chosen-hx', value='1', checked='')
			span.sheet-anglebox
			span.sheet-ExpHeader
				span(data-i18n='history-prompts')
			.sheet-Expander
				input.sheet-SkinCheck(type='hidden', name='attr_SkinCheck', value='0')
				|  
				.sheet-Chosen
					input.sheet-SettingCheck(type='hidden', name='attr_Game-World', value='0')
					span.sheet-Setting-Default.sheet-Setting-Gothic.sheet-Setting-Dreaming.sheet-Setting-Marches
						span.sheet-highlights(data-i18n='chosen-hx')
					span.sheet-Setting-Bone.sheet-highlights
						+translate('<ul><li>You are close blood relations. Ask them exactly how close.<li>They are destined to be your mentor. Tell them how this was revealed.<li>Your best friend in the world, who you trust totally.<li>A rival at first, but you came to a working arrangement.<li>Romantic entanglement, or fated to be romantically entangled.<li>Just friends, from working together, being taught together, or being neighbours. Figure out together what it was.<li>They could have been the Chosen One instead of you, but they failed some trial. Tell them how they failed.<li>You saved their life, back when they didn’t know monsters were real. Tell them what you saved them from.<li>Members of a community club or mystery cult—they were your mentor and helped with your initiation. What didn’t you know about the group before then?</ul>')
				.sheet-Crooked
					input.sheet-SettingCheck(type='hidden', name='attr_Game-World', value='0')
					span.sheet-Setting-Default.sheet-Setting-Gothic.sheet-Setting-Dreaming.sheet-Setting-Marches
						span.sheet-highlights(data-i18n='crooked-hx')
					span.sheet-Setting-Bone.sheet-highlights
						+translate('<ul><li>This hunter was there when you broke a sacred or community law. Tell them what they saw you do.<li>This hunter was there when you decided to hunt monsters. Work out together what happened.<li>This hunter is your younger sibling or child (possibly adopted). You look out for them.<li>This hunter is a cousin or more distant relative.<li>This hunter saved your life when a monster had the drop on you. Now you owe them one.<li>This hunter helped you out with a dubious scheme. What was it?<li>This hunter is your moral compass. When you talk over things with them, their advice helps keep you on course.<li>You’re powerfully attracted to this hunter. Maybe someday you’ll deserve them.<li>Your choice.</ul>')
				.sheet-Divine
					input.sheet-SettingCheck(type='hidden', name='attr_Game-World', value='0')
					span.sheet-Setting-Default.sheet-Setting-Gothic.sheet-Setting-Dreaming.sheet-Setting-Marches
						span.sheet-highlights(data-i18n='divine-hx')
					span.sheet-Setting-Bone.sheet-highlights
						+translate('<ul><li>If you’re protecting another hunter for your patron spirit, tell them this: You have a crucial role in what is to come. I am here to guide and defend you.<li>A prophecy indicated this hunter was going to play a major part in upcoming events, but not exactly how or why. You are keeping an eye on them.<li>This hunter was there when you made your deal with your patron spirit. Why were you selected instead of them?<li>This hunter called upon your patron spirit for help with a problem, and that led to you gaining your powers. How did you solve that original problem?<li>You’re beginning to develop romantic feelings for this hunter. Ask them if that’s something they return.<li>They saved your life when your duty got you into trouble. What were you involved in that almost killed you?<li>You’ve lived away from society for many years. This hunter is the one you trust for advice on how things work now.</ul>')
				.sheet-Expert
					span.sheet-highlights(data-i18n='expert-hx')
				.sheet-Flake
					span.sheet-highlights(data-i18n='flake-hx')
				.sheet-Initiate
					span.sheet-highlights(data-i18n='initiate-hx')
				.sheet-Monstrous
					span.sheet-highlights(data-i18n='monstrous-hx')
				.sheet-Mundane
					span.sheet-highlights(data-i18n='mundane-hx')
				.sheet-Professional
					span.sheet-highlights(data-i18n='professional-hx')
				.sheet-Spellslinger
					span.sheet-highlights(data-i18n='spellslinger-hx')
				.sheet-Spooky
					span.sheet-highlights(data-i18n='spooky-hx')
				.sheet-Wronged
					span.sheet-highlights(data-i18n='wronged-hx')
				.sheet-Gumshoe
					span.sheet-highlights(data-i18n='gumshoe-hx')
				.sheet-Hex
					span.sheet-highlights(data-i18n='hex-hx')
				.sheet-Pararomantic
					span.sheet-highlights(data-i18n='pararomantic-hx')
				.sheet-Searcher
					span.sheet-highlights(data-i18n='searcher-hx')
				.sheet-Exile
					span.sheet-highlights(data-i18n='exile-hx')
				.sheet-Hardcase
					span.sheet-highlights(data-i18n='hardcase-hx')
				.sheet-Hardcase2020
					span.sheet-highlights(data-i18n='hardcase2020-hx')
				.sheet-Luchador
					span.sheet-highlights(data-i18n='luchador-hx')
				.sheet-Meddlingkid
					span.sheet-highlights(data-i18n='meddlingkid-hx')
				.sheet-Sidekick
					span.sheet-highlights(data-i18n='sidekick-hx')
				.sheet-Snoop
					span.sheet-highlights(data-i18n='snoop-hx')
				.sheet-Summoned
					span.sheet-highlights(data-i18n='summoned-hx')
				.sheet-Traveler
					span.sheet-highlights(data-i18n='traveler-hx')
				.sheet-Actionscientist
					span.sheet-highlights(data-i18n='actionscientist-hx')
				.sheet-Spooktacular
					span.sheet-highlights(data-i18n='spooktacular-hx')
				.sheet-Constructed
					span.sheet-highlights(data-i18n='constructed-hx')
				.sheet-CurseEater
					+translate('<ul><li>You’re friends and confidants. What do you know about each other’s fears and secrets?<li>You saved them from a curse many years ago and have trusted each other since. Ask them what it was.<li>You’re suspsicious of their powers and wonder if one day you’ll need to consume that curse from them.<li>They’re suspicioius of your powers. Ask them what they fear about you.<li>You were both hunting the same monster and had an argument about killing it versus saving it. Decide between you who won that debate.<li>You’re family. What’s the relationship? How does the rest of the family regard you?<li>On your first hunt together, you unleashed consumed magic and put them in great danger. Ask what happened and how they feel about it now.<li>They told you that you’re fated to consume a curse that threatens the world. Ask if they know anything more about what’s coming.</ul>').sheet-highlights
				.sheet-Survivor
					+translate('<ul><li>They invited me along tonight. Why are you both here?<li>They are my good friend. Why do you trust each other?<li>They are my rival or enemy. What do you respect about them, despite your differences?<li>They are my relative. What’s the relationship?<li>They are my romantic partner. How’s it going between you two?<li>We’re connected by [say what]. What does that mean to you?</ul>').sheet-highlights
				.sheet-ActionScientistSSK
					+t('<ul><li>You are relations, most likely distant. Tell them what the connection is.<li>You were academic colleagues at some point in the past. Decide together where and when.<li>On-again, off-again romance. Decide together if it’s off or on right now.<li>You’ve been friends ever since you had a Science Adventure a while ago. Decide which evil science nemesis you defeated together.<li>Just buddies. You get along well when it’s time to relax after all the monsters have been dealt with.<li>They once helped you deal with an “experiment” that got out of hand. Tell them what it was and let them decide how they helped you sort it out.<li>They were there when your career changed from scientist to action scientist. Decide together how they helped you out when you fought your first monster.<li>You used science to get them out of a jam, and they still owe you for it. Ask them what the jam was, then tell them what you did.</ul>')
				.sheet-Celebrity
					+t('<ul><li>You’ve got a professional relationship. Are they your agent, lawyer, bodyguard, professional assistant, or co-star?<li>Best frenemies—you met competing over something. Was it a monster hunt or a gig? Decide together how it turned out.<li>The paparazzi caught you out together once. Was it a date or were you hunting a creature?<li>They knew you before you became well-known: a cousin, a college roommate, or just an old friend.<li>You’ve had a history of romance with this hunter (with the player’s agreement). How long has it been going on? How consistent is it?<li>They are (or used to be) your biggest fan and still have some memorabilia. Ask what their favourite piece is.<li>They recruited you for your first hunt. What did you hunt, and how did it go?<li>Your body of work includes advice that saved their life once. Ask what it was.</ul>')
				.sheet-Changeling
					+t('<ul><li>They discovered you aren’t human. Ask them how they realised and how (if?) they told you.<li>You suspect they know more about your heritage than they’re telling. Ask if your suspicion is correct.<li>They tried to slay you, but decided you were innocent—or at least not evil. Ask what convinced them.<li>You see them as your anchor to humanity. Ask them what sort of example they set.<li>You are romantically involved with them, or a close relative of theirs. Decide together the exact relationship.<li>They are family in every way but blood. Decide together the details of your relationship.<li>They claim you and your people are part of their destiny. Ask them what they told you and tell them your reaction to this.<li>They see you as a protégé to train for hunting. Ask them how persistent they are in this agenda.</ul>')
				.sheet-Covenant
					+t('<ul><li>They introduced you to your ally. Ask them how that happened. Decide together what the relationship is now.<li>The first time you encountered a monster, they were there. Ask them whether they were already a veteran.<li>You introduced them to the hunting lifestyle. Was it on purpose? Ask them how they feel about being dragged into this life.<li>Your ally is a big fan of this hunter. Has the ally approached them? Ask the other hunter if they’ve noticed.<li>They’re related to your ally. Ask the other hunter what they think about your relationship.<li>You are always trying to show off in front of them. Why do you do this? Ask what they think of it.<li>They shared a traumatic encounter with you and your ally. What detail do you all disagree on?</ul>')
				.sheet-Envoy
					+t('<ul><li>They were the first person you met after receiving your Task. Tell them if they witnessed the event itself. How did they react?<li>They’re a family member. Ask them what surprised them most about how you’ve changed.<li>They’re somehow integral to your Task. Ask them why the Overseers are interested in them.<li>The Overseers have warned you about this hunter. What was the warning? Have you revealed this?<li>You enjoy every minute you spend with them. Decide together what causes you to get along so well.<li>They respect your Task and the work you do with the Overseers. Ask them if they respect the Overseers as much as the work.<li>They’ve always listened to your worries. Have you ever taken advantage of their willingness to listen?<li>They work efficiently with you. Decide together why others think you don’t like each other.</ul>')
				.sheet-Forged
					+t('<ul><li>They awakened your dormant form. Did you appear as a human or weapon before that? Decide how you each reacted.<li>They know things about your legend that you’re unaware of. Tell them a secret you didn’t know yourself. Ask if they’ve revealed it to you.<li>Prophecies say they’re connected to your past. Have you told them about it? Decide together what the connection is.<li>They always treat you as a person regardless of what form you’re in. What do you think of that? Ask them why they do it.<li>They engineered the meeting between you and your current partner. Ask them why they did that.<li>They seem to think your weapon form is a curse you need to be freed of. Do you agree?<li>You share interests or hobbies. Decide together what they are.<li>You were created to kill them—either individually or their people. Tell them why you’ve turned against this purpose and ask them if they know about it.</ul>')
				.sheet-Host
					+t('<ul><li>They were instrumental in you encountering and bonding with your symbiote. Decide together how this happened.<li>Your meeting with them was not coincidental. Why did you seek them out? Ask them if they are suspicious of you.<li>You’re related, and another close relative has recently gone missing. Ask if their memories of this person are good or bad, then tell them if your memories are the same.<li>They’ve always treated you with respect. Ask whether it’s because of how you bonded with the symbiote or how you handle it.<li>You’ll protect them before anybody else. Do you know why you act this way? Ask them how they feel about it.<li>They seem to always be watching you. Ask them what they’re concerned about. How do you respond to this surveillance?<li>You have been friends since you met over a shared, relaxing interest. Decide together what it is. Was this before your symbiosis? If not, which part did they meet?<li>They used to bear the same symbiote you do. Ask them how they became separated and how they feel about it. Have you discussed how they feel about their former symbiote being yours now?</ul>')
				.sheet-Interface
					+t('<ul><li>They knew you before your abilities really took off. Ask them what they think about the change.<li>You’ve learned a secret about them. Decide together what it is and if they’re aware you know.<li>They’re a relative—cousins or closer. Ask them what part they played in you becoming what you are.<li>They always give you the space you need. What method do they use when they really need to get through to you?<li>Why can’t you ever say the right thing to them no matter how much you want to? Ask them if they’ve noticed your struggle.<li>You suspect they know more about you than they’re saying. Ask them what they suspect.<li>You share a surprising hobby. What is it?<li>How did you ruin an important day in their life?</ul>')
				.sheet-Visitor
					+t('<ul><li>They were the first local resident you ever had a conversation with. Was there a language barrier? What was the conversation about?<li>This hunter seems to know things about the history of your homeland you only vaguely know about.<li>Tests indicate that one of their ancestors was from your people. Did you know this was possible? Have you told them?<li>You frequently have deep conversations with this hunter about your respective cultures.<li>It especially bothers you to be misunderstood by this hunter. You don’t understand why. Ask them if they’ve noticed.<li>One of the hunters has had a past experience with your people. Ask them whether it was a good experience or a bad one? Were you there?<li>How have you and this hunter shared hobbies from each other’s upbringings?<li>One of you mistook the other for a threat people needed to be protected from. Decide together how that played out.</ul>')
			// hx expander
		// .sheet-99-hider
// .sheet-History