.sheet-Summoned
	.sheet-Subsection
		span(data-i18n='hobby')
	input.sheet-checkbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-Hobby', value='1', checked='')
	span.sheet-anglebox
	span.sheet-ExpHeader
	.sheet-Expander
		div(data-i18n='summoned-hobby')
		input(type='text', name='attr_Hobby', value='')
