div
	+t("<b>When the track fills,</b> erase it and choose a benefit:")
	ul
		li
			+t("Gain 1 hold. Use as a Luck for your story only.")
		li
			+t("A bystander related to your story becomes an ally.")
		li
			+t("Introduce a new aspect of your story involving other hunters.")
		li
			+t("Create a new piece of gear or <b>big magic</b> ritual connected to your story.")
		li
			+t("Keeper makes the next mystery about your story.")
		li
			+t("Something from your story becomes the weakness of a monster or a phenomenon, or a way to atone for a wrongdoing in an atonement mystery, chosen by the Keeper.")