.sheet-Hunter-Story-Beats-Track
	p(align='center')
		input.sheet-checkbox(type='checkbox', name='attr_StoryBeat1')
		span.sheet-altbox
		input.sheet-checkbox(type='checkbox', name='attr_StoryBeat2')
		span.sheet-altbox
		input.sheet-checkbox(type='checkbox', name='attr_StoryBeat3')
		span.sheet-altbox
		input.sheet-checkbox(type='checkbox', name='attr_StoryBeat4')
		span.sheet-altbox
		input.sheet-checkbox(type='checkbox', name='attr_StoryBeat5')
		span.sheet-altbox
	+t("<b>Gain a story beat</b> each time any of these happen for the first time in a mystery. The first five are unique to this story.")
