+refentry('Zoom-In-Combat','Zoomed-In Combat')
	+translate('Use these moves when you want a more detailed, duel-style combat scene. (From <i>Mystic Marginalia,</i> pages 107-112)')

	+refentry('Zoom-In-KeeperMoves','Keeper’s Zoomed-In Moves')
		+t('Although the zoomed-in moves specify what happens for each result level, the Keeper may still make a normal Keeper or threat move after resolving the zoomed-in combat move.')
		+t('As Keeper, you may use these extra Keeper moves during zoomed-in combat scenes.')

		+refentry('Zoom-In-MonsterMoves','Zoomed-in combat moves for monsters, minions, and villains')
			ul
				li
					+t('Attack the hunter it thinks most dangerous.')
				li
					+t('Attack the hunter it thinks most vulnerable.')
				li
					+t('Attack a bystander.')
				li
					+t('Defend another monster, minion, or villain.')
				li
					+t('Advance a nefarious plan.')
				li
					+t('Interfere with something the hunters need to do.')
				li
					+t('Scan for other dangers.')
				li
					+t('Reveal a new tactic, power, attack, or defence.')
				li
					+t('Taunt the hunters.')
				li
					+t('Reveal an important fact or secret, perhaps unintentionally.')

		+refentry('Zoom-In-LocationMoves','Zoomed-in combat moves for the fight location')
			ul
				li
					+t('A way is opened or closed. Examples: a locked door opens, an open door is barred, a passageway is cleared.')
				li
					+t('Something is broken. Examples: a door is smashed, a wall comes down, machinery explodes.')
				li
					+t('Reveal a danger. Examples: a fire starts, a trap activates, poison gas sprays.')
				li
					+t('A danger inflicts harm.')
				li
					+t('Reveal a new area. Examples: a balcony, air vents, a portal to another place opens.')

	+refentry('Zoom-In-HunterMoves','Hunter’s Zoomed-In Moves')
		+refentry('Zoom-In-HunterMoves-Overview','How These Work')
			+t('Here’s a quick description of the moves available:')
			ul
				li
					+t('<b>Apply Weakness:</b> If you need to do something special to activate an enemy’s weakness.')
				li
					+t('<b>Balanced Strike:</b> A basic attack on an enemy.')
				li
					+t('<b>Cautious Strike:</b> A weaker attack on an enemy, not exposing yourself to much danger.')
				li
					+t('<b>Distract:</b> Change who or what your enemies are focused on.')
				li
					+t('<b>Expose Vulnerability:</b> Provides one-use reductions to an enemy’s armour rating, or boosts attacks against them.')
				li
					+t('<b>Flanking Strike:</b> A strong attack available when an enemy is unaware of or ignoring you.')
				li
					+t('<b>Maneuver:</b> Move around the field of battle.')
				li
					+t('<b>Quick First Aid:</b> Simple, midst-of-combat healing.')
				li
					+t('<b>Reckless Strike:</b> A strong attack that exposes yourself to more danger.')
				li
					+t('<b>Restrain:</b> Hold or pin an enemy.')
				li
					+t('<b>Setup Combo:</b> Prepare an ally for a stronger strike on an enemy.')

			+refentry('Zoom-In-AllKSA','It’s All “Kick Some Ass”')
				+t('When using these moves for a fight scene, the <b>kick some ass</b> move will not be available. Hunters with moves altering <b>kick some ass</b> should have the same or equivalent adjustments made to the zoomed-in combat moves. In particular:')
				ul
					li
						+t('Anything that directly enhances harm applies to the strike moves.')
					li
						+t('Anything that gives you more options applies to similar moves.')
					li
						+t('If you have advanced <b>kick some ass</b>, pick three zoomed-in combat moves that count as advanced for you.')
				+t('For <b>help out</b>, the basic move remains available, but setup combo will often be more useful.')
				+t('The other basic moves all work as usual. In particular, <b>protect someone</b> and <b>use magic</b> remain good options during a fight scene.')
				+t('Effects that apply to “a strike” mean a single use of any moves with “strike” in their name: <b>balanced strike</b>, <b>cautious strike</b>, <b>flanking strike</b>, and <b>reckless strike</b>.')

		+refentry('Zoom-In-ApplyWeakness','Apply Weakness','Apply Weakness','Sharp')
			+t('Use this if you need to do something special to apply a threat’s weakness. <b>Roll +Sharp</b> (using a cunning plan), <b>+Tough</b> (you need to injure it a particular way), or <b>+Weird</b> (you need to use magic or its mystical weakness):')
			ul
				li
					+t('<b>On a 12+</b>, if you’ve advanced this move, apply the weakness and inflict harm as established.')
				li
					+t('<b>On a 10+</b>, you apply the weakness.')
				li
					+t('<b>On a 7–9</b>, you apply the weakness but suffer harm from an enemy in the process.')
				li
					+t('<b>On a 6–,</b> you suffer terrible harm (+1) from an enemy.')
				+t('If the threat’s weakness can be activated without special action, this move isn’t needed—if you hit with a weapon made of the weakness, or if you’re fighting in a location that is the weakness. Use this move when the weakness needs a specific action, like poisoning a particular organ, or maneuvering the creature onto a magic circle.')

		+refentry('Zoom-In-BalancedStrike','Balanced Strike','Balanced Strike','Tough')
			+t('Use this move to inflict harm on an enemy without particular caution or foolhardiness. <b>Roll +Tough</b> (using skill) or <b>+Cool</b> (using grit):')
			ul
				li
					+t('<b>On a</b><b> 12+</b>, if you’ve advanced this move, inflict terrible harm (+1) as per your attack.')
				li
					+t('<b>On a 10+</b>, inflict harm as per your attack.')
				li
					+t('<b>On a 7–9</b>, inflict harm as per your attack. An enemy either inflicts reduced harm (–1) or makes another move.')
				li
					+t('<b>On a 6–,</b> suffer harm from an enemy’s attack.')

		+refentry('Zoom-In-CautiousStrike','Cautious Strike','Cautious Strike','Tough')
			+t('<b>Cautious Strike:</b> Use this move to inflict harm on an enemy exposing yourself to little danger. <b>Roll +Tough</b> (using skill) or <b>+Sharp</b> </b>(waiting for your moment):')
			ul
				li
					+t('<b>On a 12+</b>, if you’ve advanced this move, inflict harm as per your attack. Hold 2 you can spend to avoid 1 harm per hold from this foe.')
				li
					+t('<b>On a 10+</b>, inflict reduced harm (–1) as per your attack. Hold 1 you can spend to avoid 1 harm from this foe.')
				li
					+t('<b>On a 7–9</b>, inflict reduced harm (–1) as per your attack.')
				li
					+t('<b>On a 6–,</b> suffer trivial harm (–2) from an enemy’s attack.')

		+refentry('Zoom-In-Distract','Distract','Distract','Charm')
			+t('Use this move to get the enemy’s attention where you want it. <b>Roll +Charm</b> (taunts), <b>+Cool</b> (being badass), <b>+Sharp</b> (trickery), or <b>+Weird</b> (magic):')
			ul
				li
					+t('<b>On a 12+</b>, if you’ve advanced this move, pick three distraction options.')
				li
					+t('<b>On a 10–12,</b> pick two distraction options.')
				li
					+t('<b>On a 7–9</b>, pick one distraction option.')
				li
					+t('<b>On a 6–,</b> you draw an enemy’s attention and suffer harm from their attack.')
			+t('Distraction options:')
			ul
				li
					+t('All enemies focus on you or one of your allies.')
				li
					+t('An enemy pays no attention to you. You may make a <b>flanking strike</b>, until they notice you. You may use this multiple times to affect multiple enemies.')
				li
					+t('An enemy pays no attention to another hunter, giving them the option to make a <b>flanking strike</b>, until the enemy notices them.')
				li
					+t('An enemy ignores something important (such as someone casting a spell, an escaping bystander, or someone using a gadget). May be selected multiple times to affect multiple enemies.')
				li
					+t('An enemy moves away from, or towards, a particular place.')

		+refentry('Zoom-In-ExposeVulnerability','Expose Vulnerability','Expose Vulnerability','Sharp')
			+t('Use this to make an enemy an easier target for yourself and your allies. <b>Roll +Sharp</b> (observation) or <b>+Weird</b> (mystical):')
			ul
				li
					+t('<b>On a 12+</b>, if you’ve advanced this move, hold 4.')
				li
					+t('<b>On a 10+</b>, hold 3.')
				li
					+t('<b>On a 7–9</b>, hold 2.')
				li
					+t('<b>On a 6–,</b> hold 1 and an enemy gets a shot at you.')
			+t('Spend your hold during this fight to:')
			ul
				li
					+t('Give a hunter +1 forward on a strike against this enemy.')
				li
					+t('Reduce the enemy’s armour by 1 for a single strike. You may spend multiple holds for this.')
				li
					+t('Give a hunter +1 harm for a single strike. You may spend multiple holds for this.')

		+refentry('Zoom-In-FlankingStrike','Flanking Strike','Flanking Strike','Tough')
			+t('Use this move when your enemy is unaware of you or distracted. This includes when a hunter has engaged it and you’ve worked your way behind. <b>Roll +Tough</b> (full force) or <b>+Cool</b> (cold-blooded):')
			ul
				li
					+t('<b>On a 12+</b>, if you’ve advanced this move, inflict terrible harm (+1) as per your attack. If other hunters are engaged with this enemy, they may also inflict their attack’s harm.')
				li
					+t('<b>On a 10+</b>, inflict terrible harm (+1) as per your attack.')
				li
					+t('<b>On a 7–9</b>, inflict harm as per your attack.')
				li
					+t('<b>On a 6–,</b> inflict reduced harm (–1) as per your attack, and take –1 forward.')

		+refentry('Zoom-In-Maneuver','Maneuver','Maneuver','Tough')
			+t('Use this move to get yourself a better position against an enemy. <b>Roll +Charm</b> (intuit intentions) or <b>+Sharp</b> (situational awareness):')
			ul
				li
					+t('<b>On a 12+</b>, if you’ve advanced this move, you’re where you want to be without attracting undue attention. Take +1 forward, or give +1 forward to an ally. You may make a <b>flanking strike</b> while in this position.')
				li
					+t('<b>On a 10+</b>, you’re where you want to be without attracting undue attention. You may make a <b>flanking strike</b> while in this position.')
				li
					+t('<b>On a 7–9</b>, you’re where you want to be.')
				li
					+t('<b>On a 6–,</b> an enemy stops you getting where you want to be.')

		+refentry('Zoom-In-QuickFirstAid','Quick First Aid')
			+t('Use this to aid an injured ally. If they’re unstable, clear it. Otherwise, they clear 1 harm.')

		+refentry('Zoom-In-RecklessStrike','Reckless Strike','Reckless Strike','Tough')
			+t('Use this move to inflict extreme harm on an enemy, whatever the cost. <b>Roll +Tough</b> (purely physical) or <b>+Weird</b> (magically enhanced):')
			ul
				li
					+t('<b>On a 12+</b>, if you’ve advanced this move, inflict critical harm (+2) as per your attack and take +1 forward.')
				li
					+t('<b>On a 10–12,</b> inflict critical harm (+2) as per your attack and take +1 forward. An enemy gets the opportunity to hit you back.')
				li
					+t('<b>On a 7–9</b>, inflict terrible harm (+1) as per your attack. An enemy gets the opportunity to hit you back for terrible harm (+1).')
				li
					+t('<b>On a 6–,</b> suffer critical harm (+2) from an enemy’s counterattack.')

		+refentry('Zoom-In-Restrain','Restrain','Restrain','Tough')
			+t('Use this move to disarm or pin an enemy. <b>Roll +Tough</b> (pin) or <b>+Cool</b> (disarm):')
			ul
				li
					+t('<b>On a 12+</b>, if you’ve advanced this move, pick three restrain options.')
				li
					+t('<b>On a 10+</b>, pick two restrain options.')
				li
					+t('<b>On a 7–9</b>, pick one restrain option, and the enemy gets a shot at you in the process.')
				li
					+t('<b>On a 6–,</b> suffer harm from the enemy’s attack.')
			+t('Restrain options:')
			ul
				li
					+t('(Counts as two picks) Fully restrain a humanoid foe, or fully restrain three limbs of anything else. These limbs cannot attack or move.')
				li
					+t('Fully restrain one limb. That limb cannot attack or move.')
				li
					+t('Hold your enemy in place.')
				li
					+t('Throw or trip your enemy.')
				li
					+t('Disarm your enemy. One item is dropped, thrown, or in your hand.')

		+refentry('Zoom-In-SetupCombo','Setup Combo','Setup Combo','Charm')
			+t('Use this move to prepare an ally for a stronger strike. <b>Roll +Charm</b>:')
			ul
				li
					+t('<b>On a 12+</b>, if you’ve advanced this move, your ally gets +1 forward to strike, and +1 harm when they do it. You may add your attack’s harm when they strike.')
				li
					+t('<b>On a 10+</b>, your ally gets +1 forward to strike. You may add your attack’s harm when they strike.')
				li
					+t('<b>On a 7–9</b>, your ally gets +1 forward to strike.')
				li
					+t('<b>On a 6–,</b> you suffer harm from an enemy’s attack.')

+refentry('Zoom-Out-Combat','Zoomed-Out Combat')
	+translate('These moves allow you to resolve a combat quickly, with only one roll per hunter. Action is resolved in a back-and-forth of hold spends. (From <i>Mystic Marginalia</i>, pages 104-106)')

	+refentry('Zoom-Out-Setup','Setup')
		+translate('Hunters pick which rating to roll. Tough is the default, but hunters with specific moves may swap for a different rating.<ul><li>You can always use +Tough.</li><li>You can use +Weird if you have mystical moves that are useful in a fight.</li><li>You can use +Cool if you have moves that support the team in a fight.</li><li>You can use +Sharp if you have moves that give you greater combat awareness.</li></ul><p>If your hunter has reached their advanced improvements, take +1 forward.</p><p>If your hunter has 2 or more points of armour and/or harm mitigation moves, take +1 forward.</p><p>If one side ambushed the other, they start with +2 hold.</p>')

	+refentry('Zoom-Out-KeeperHold','Keeper Hold')
		+translate('The Keeper starts with hold based on the danger level of all enemies involved in the fight, plus a bonus if the hunters are outnumbered. Refer to the following table for the hold total:')
		table
			tr
				th
					+translate('Danger Level')
				th
					+translate('Starting Hold')
			tr
				td
					+translate('Minor')
				td 0
			tr
				td
					+translate('Moderate')
				td 1
			tr
				td
					+translate('Typical')
				td 2
			tr
				td
					+translate('Serious')
				td 3
			tr
				td
					+translate('Deadly')
				td 4
			tr
				td
					+translate('Nigh Impossible')
				td 5
			tr
				td
					+translate('Hunters outnumbered')
				td +1
			tr
				td
					+translate('Hunters highly outnumbered')
				td +2
		+translate('For example, if the hunters are up against:<ul><li>A serious vampire (3) with three typical dhampir minions (2 each), the Keeper holds 9. If less than four hunters, the Keeper gets +1 hold.</li><li>A moderate swarm of zombie rats (1, +2 for highly outnumbering the hunters), the Keeper holds 3.</li></ul>')

	+refentry('Zoom-Out-HunterRoll','Hunters Roll','Zoomed-Out Hunter Roll','Tough')
		+translate('Every hunter makes their roll:<ul><li><b>On a 12+,</b> hold 3.</li><li><b>On a 10–11,</b> hold 2.</li><li><b>On a 7–9,</b> hold 1 and the Keeper gets +1 hold.</li><li><b>On a 6–,</b> hold 1 and the Keeper gets +2 hold.</li></ul>')

	+refentry('Zoom-Out-Resolution','Resolution')
		p
			+t('Now take turns, first a hunter spending a hold, then the Keeper, back and forth. Once each combatant has taken a turn, they can’t act again until all other fighters on their side—with hold left—have taken a turn as well.')
		p
			+t('Don’t overthink it! The whole point of zoomed-out combat is to resolve the scene quickly. If you can’t decide, default to inflicting harm with an attack or defeating a minion.')
		+refentry('Zoom-Out-HunterSpend','Hunters may spend 1 hold to:')
			ul
				li
					+t('Inflict harm on a monster or villain using one of their attacks.')
				li
					+t('Defeat one regular minion.')
				li
					+t('Spend 2 hold: Defeat a tough minion. Two hunters may each contribute hold.')
				li
					+t('Defeat two weak minions, or a swarm of individually trivial minions.')
				li
					+t('Apply a weakness (if appropriate for a fight scene).')
				li
					+t('Reduce a hunter’s harm suffered by 2.')
				li
					+t('Get a bystander to safety.')
				li
					+t('Have a hunter escape the fight.')
				li
					+t('Neutralise one aspect of a nefarious plot (interfere with a ritual, break a device, etc.).')
				li
					+t('Use a move that isn’t directly about fighting.')
				li
					+t('Make some other useful action or maneuver, with group agreement.')
		+refentry('Zoom-Out-KeeperSpend','The Keeper may spend 1 hold to:')
			ul
				li
					+t('Inflict harm on a hunter using an attack from any threat in the fight.')
				li
					+t('Kill (or otherwise take out) a bystander.')
				li
					+t('A monster, minion, phenomenon, or villain uses a power.')
				li
					+t('A monster, minion, or villain escapes the fight. For the main threat of the mystery, this costs 1 hold per active hunter (hunters who have escaped or are out of action don’t count).')
				li
					+t('Inflict massive collateral damage.')
				li
					+t('Advance a nefarious plot (next step of ritual, activate a device, etc.).')
				li
					+t('Use a move that isn’t directly about fighting.')
				li
					+t('Make some other useful action or maneuver, with group agreement.')

	+refentry('Zoom-Out-Aftermath','Aftermath')
		+t('Once all hold is spent, the fight is over. If both sides have survivors, the Keeper decides if:')
		ul
			li
				+t('The hunters finish off any remaining monsters, minions, and villains. This is the default if the hunters managed to deal with most of their enemies.')
			li
				+t('The hunters retreat. Use this when the enemies end up in a stronger position.')
			li
				+t('The monsters, minions, and villains retreat. Use this when the hunters end up in a stronger position.')
			li
				+t('Both sides disengage and retreat.')

