li
	+t("You have an important conversation about your story with someone else.")
li
	+t("A story threat radically changes its nature, or its relation to you.")
li
	+t("Your story puts you or other hunters in significant danger.")
li
	+t("Another hunter spends Luck to achieve goals or evade dangers related to your story.")
li
	+t("You perform a <b>big magic</b> ritual to significantly influence the course of your story.")
li
	+t("Answers about your story come up at least twice when doing end-of-session questions.")
li
	+t("An event specific to your own take on this story happens. Specify what, with the group’s agreement:")
	+itext("Hunter-Beat-Own-Take")