.sheet-Improvements
	.sheet-Subsection
		span(data-i18n='improvements') Improvements
	input.sheet-checkbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-ImprovementsAll-Hider', value='1', checked='')
	span.sheet-anglebox
	|  
	span.sheet-ExpHeader
		span(data-i18n='all') All
	.sheet-Expander
		input.sheet-SkinCheck(type='hidden', name='attr_SkinCheck', value='0')
		// BASIC Improvements
		div(data-i18n='improvements-description')
			| Once you have 5 
			i Experience
			|  you may choose one of these: (Check off any you&apos;ve already taken)
		input.sheet-checkbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-Improvements-Hider', value='1', checked='')
		span.sheet-anglebox
		|  
		span.sheet-ExpHeader
			span(data-i18n='unused') Unused
		input.sheet-SettingCheck(type='hidden', name='attr_Game-World', value='0')
		.sheet-Setting-Gothic
			input.sheet-DarkPastCheck(type='hidden', name='attr_DarkPast', value='0')
			.sheet-DarkPast-Curse
				input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-Improvements-Hider', value='1', checked='')
				+move('Gothic-Curse-Improve','I find a clear, but maybe difficult, way to break my curse')
		// CHARM
		.sheet-move.sheet-Spooktacular.sheet-Actionscientist.sheet-Spooky.sheet-Professional.sheet-Mundane.sheet-Monstrous.sheet-Flake.sheet-Chosen.sheet-Crooked.sheet-Divine.sheet-Expert.sheet-Gumshoe.sheet-Hex.sheet-Pararomantic.sheet-Searcher.sheet-Luchador.sheet-Meddlingkid.sheet-Sidekick.sheet-Snoop.sheet-Summoned.sheet-Traveler.sheet-Custom
			input.sheet-checkbox(type='checkbox', name='attr_Imp-Charm-1')
			span.sheet-mainbox
			span.sheet-grayable
				| +1 
				span(data-i18n='charm') Charm
				span.sheet-Actionscientist.sheet-Spooky.sheet-Professional.sheet-Monstrous.sheet-Flake.sheet-Expert.sheet-Crooked.sheet-Divine.sheet-Hex.sheet-Searcher.sheet-Luchador.sheet-Summoned
					| &nbsp;(
					span(data-i18n='max') max
					|  +2)
				span.sheet-Spooktacular.sheet-Mundane.sheet-Chosen.sheet-Gumshoe.sheet-Pararomantic.sheet-Meddlingkid.sheet-Sidekick.sheet-Snoop.sheet-Traveler
					| &nbsp;(
					span(data-i18n='max') max
					|  +3)
		// COOL
		.sheet-move.sheet-Hardcase2020.sheet-Constructed.sheet-Spooktacular.sheet-Wronged.sheet-Spooky.sheet-Spellslinger.sheet-Professional.sheet-Mundane.sheet-Monstrous.sheet-Initiate.sheet-Flake.sheet-Chosen.sheet-Crooked.sheet-Divine.sheet-Expert.sheet-Gumshoe.sheet-Hex.sheet-Pararomantic.sheet-Searcher.sheet-Exile.sheet-Hardcase.sheet-Luchador.sheet-Meddlingkid.sheet-Sidekick.sheet-Snoop.sheet-Summoned.sheet-Traveler.sheet-Custom
			input.sheet-checkbox(type='checkbox', name='attr_Imp-Cool-1')
			span.sheet-mainbox
			span.sheet-grayable
				| +1 
				span(data-i18n='cool') Cool
				span.sheet-Spooktacular.sheet-Hardcase2020.sheet-Wronged.sheet-Spooky.sheet-Spellslinger.sheet-Mundane.sheet-Monstrous.sheet-Initiate.sheet-Flake.sheet-Expert.sheet-Crooked.sheet-Divine.sheet-Gumshoe.sheet-Hex.sheet-Pararomantic.sheet-Searcher.sheet-Hardcase.sheet-Luchador.sheet-Meddlingkid.sheet-Sidekick.sheet-Snoop.sheet-Summoned
					| &nbsp;(
					span(data-i18n='max') max
					|  +2)
				span.sheet-Exile.sheet-Constructed.sheet-Professional.sheet-Chosen.sheet-Traveler
					| &nbsp;(
					span(data-i18n='max') max
					|  +3)
		// SHARP
		.sheet-move.sheet-Hardcase2020.sheet-Constructed.sheet-Spooktacular.sheet-Actionscientist.sheet-Wronged.sheet-Spooky.sheet-Spellslinger.sheet-Professional.sheet-Mundane.sheet-Monstrous.sheet-Initiate.sheet-Flake.sheet-Chosen.sheet-Crooked.sheet-Divine.sheet-Expert.sheet-Gumshoe.sheet-Hex.sheet-Pararomantic.sheet-Searcher.sheet-Exile.sheet-Hardcase.sheet-Luchador.sheet-Meddlingkid.sheet-Sidekick.sheet-Snoop.sheet-Summoned.sheet-Traveler.sheet-Custom
			input.sheet-checkbox(type='checkbox', name='attr_Imp-Sharp-1')
			span.sheet-mainbox
			span.sheet-grayable
				| +1 
				span(data-i18n='sharp') Sharp
				span.sheet-Constructed.sheet-Hardcase2020.sheet-Spooktacular.sheet-Wronged.sheet-Spooky.sheet-Spellslinger.sheet-Professional.sheet-Mundane.sheet-Monstrous.sheet-Initiate.sheet-Divine.sheet-Hex.sheet-Pararomantic.sheet-Hardcase.sheet-Luchador.sheet-Meddlingkid.sheet-Snoop.sheet-Summoned
					| &nbsp;(
					span(data-i18n='max') max
					|  +2)
				span.sheet-Exile.sheet-Actionscientist.sheet-Flake.sheet-Expert.sheet-Chosen.sheet-Crooked.sheet-Gumshoe.sheet-Searcher.sheet-Sidekick.sheet-Traveler
					| &nbsp;(
					span(data-i18n='max') max
					|  +3)
		// TOUGH
		.sheet-move.sheet-Hardcase2020.sheet-Constructed.sheet-Actionscientist.sheet-Wronged.sheet-Spellslinger.sheet-Professional.sheet-Mundane.sheet-Monstrous.sheet-Initiate.sheet-Chosen.sheet-Crooked.sheet-Divine.sheet-Exile.sheet-Gumshoe.sheet-Hardcase.sheet-Luchador.sheet-Sidekick.sheet-Traveler.sheet-Custom
			input.sheet-checkbox(type='checkbox', name='attr_Imp-Tough-1')
			span.sheet-mainbox
			span.sheet-grayable
				| +1 
				span(data-i18n='tough') Tough
				span.sheet-Actionscientist.sheet-Spellslinger.sheet-Professional.sheet-Mundane.sheet-Monstrous.sheet-Initiate.sheet-Crooked.sheet-Gumshoe.sheet-Sidekick
					| &nbsp;(
					span(data-i18n='max') max
					|  +2)
				span.sheet-Exile.sheet-Hardcase2020.sheet-Constructed.sheet-Wronged.sheet-Chosen.sheet-Divine.sheet-Hardcase.sheet-Luchador.sheet-Traveler
					| &nbsp;(
					span(data-i18n='max') max
					|  +3)
		// WEIRD
		.sheet-move.sheet-Hardcase2020.sheet-Constructed.sheet-Spooktacular.sheet-Actionscientist.sheet-Wronged.sheet-Spooky.sheet-Spellslinger.sheet-Initiate.sheet-Flake.sheet-Chosen.sheet-Hex.sheet-Divine.sheet-Expert.sheet-Pararomantic.sheet-Searcher.sheet-Exile.sheet-Hardcase.sheet-Meddlingkid.sheet-Snoop.sheet-Summoned.sheet-Traveler.sheet-Custom
			input.sheet-checkbox(type='checkbox', name='attr_Imp-Weird-1')
			span.sheet-mainbox
			span.sheet-grayable
				| +1 
				span(data-i18n='weird') Weird
				span.sheet-Constructed.sheet-Actionscientist.sheet-Wronged.sheet-Flake.sheet-Divine.sheet-Expert.sheet-Pararomantic.sheet-Hardcase.sheet-Hardcase2020.sheet-Meddlingkid.sheet-Snoop.sheet-Traveler
					| &nbsp;(
					span(data-i18n='max') max
					|  +2)
				span.sheet-Spooktacular.sheet-Spooky.sheet-Spellslinger.sheet-Initiate.sheet-Chosen.sheet-Hex.sheet-Searcher.sheet-Exile.sheet-Summoned
					| &nbsp;(
					span(data-i18n='max') max
					|  +3)
		.sheet-move.sheet-Hardcase2020.sheet-Constructed.sheet-Spooktacular.sheet-Actionscientist.sheet-Chosen.sheet-Crooked.sheet-Divine.sheet-Expert.sheet-Flake.sheet-Initiate.sheet-Monstrous.sheet-Mundane.sheet-Professional.sheet-Spellslinger.sheet-Spooky.sheet-Wronged.sheet-Gumshoe.sheet-Hex.sheet-Pararomantic.sheet-Searcher.sheet-Exile.sheet-Hardcase.sheet-Luchador.sheet-Meddlingkid.sheet-Sidekick.sheet-Snoop.sheet-Summoned.sheet-Traveler.sheet-Custom
			input.sheet-checkbox(type='checkbox', name='attr_Imp-PlaybookMove-1')
			span.sheet-mainbox
			span.sheet-grayable
				span(data-i18n='another') Take another
				|  
				span.sheet-Spooktacular(data-i18n='spooktacular') Spooktacular
				span.sheet-Constructed(data-i18n='constructed') Constructed
				span.sheet-Actionscientist(data-i18n='actionscientist') Action Scientist
				span.sheet-Chosen(data-i18n='chosen') Chosen
				span.sheet-Crooked(data-i18n='Crooked') Crooked
				span.sheet-Divine(data-i18n='Divine') Divine
				span.sheet-Expert(data-i18n='Expert') Expert
				span.sheet-Flake(data-i18n='Flake') Flake
				span.sheet-Initiate(data-i18n='Initiate') Initiate
				span.sheet-Monstrous(data-i18n='Monstrous') Monstrous
				span.sheet-Mundane(data-i18n='Mundane') Mundane
				span.sheet-Professional(data-i18n='Professional') Professional
				span.sheet-Spellslinger(data-i18n='Spellslinger') Spell-Slinger
				span.sheet-Spooky(data-i18n='Spooky') Spooky
				span.sheet-Wronged(data-i18n='Wronged') Wronged
				span.sheet-Gumshoe(data-i18n='Gumshoe') Gumshoe
				span.sheet-Hex(data-i18n='Hex') Hex
				span.sheet-Pararomantic(data-i18n='Pararomantic') Pararomantic
				span.sheet-Searcher(data-i18n='Searcher') Searcher
				span.sheet-Exile(data-i18n='Exile') Exile
				span.sheet-Hardcase(data-i18n='Hardcase') Hard Case
				span.sheet-Hardcase2020(data-i18n='Hardcase') Hard Case
				span.sheet-Luchador(data-i18n='Luchador') Luchador
				span.sheet-Meddlingkid(data-i18n='Meddlingkid') Meddling Kid
				span.sheet-Sidekick(data-i18n='Sidekick') Sidekick
				span.sheet-Snoop(data-i18n='Snoop') Snoop
				span.sheet-Summoned(data-i18n='Summoned') Summoned
				span.sheet-Traveler(data-i18n='Traveler') Traveler
				span.sheet-Custom(data-i18n='custom') Custom
				| &nbsp;
				span(data-i18n='move') move
				span.sheet-Hex
					| , 
					span(data-i18n='hex-advance2')
						| or an additional 
						i Rote
			input.sheet-triggerbox(type='checkbox', name='attr_Imp-PlaybookMove-1')
			span.sheet-triggertext
				input(type='text', name='attr_Imp-PlaybookMove-1-Choice')
		.sheet-move.sheet-Constructed.sheet-Spooktacular.sheet-Actionscientist.sheet-Chosen.sheet-Crooked.sheet-Divine.sheet-Expert.sheet-Flake.sheet-Initiate.sheet-Monstrous.sheet-Mundane.sheet-Professional.sheet-Spellslinger.sheet-Spooky.sheet-Wronged.sheet-Gumshoe.sheet-Hex.sheet-Pararomantic.sheet-Searcher.sheet-Exile.sheet-Hardcase.sheet-Luchador.sheet-Meddlingkid.sheet-Sidekick.sheet-Summoned.sheet-Traveler.sheet-Custom
			input.sheet-checkbox(type='checkbox', name='attr_Imp-PlaybookMove-2')
			span.sheet-mainbox
			span.sheet-grayable
				span(data-i18n='another') Take another
				|  
				span.sheet-Constructed(data-i18n='constructed') Constructed
				span.sheet-Spooktacular(data-i18n='spooktacular') Spooktacular
				span.sheet-Actionscientist(data-i18n='actionscientist') Action Scientist
				span.sheet-Chosen(data-i18n='chosen') Chosen
				span.sheet-Crooked(data-i18n='Crooked') Crooked
				span.sheet-Divine(data-i18n='Divine') Divine
				span.sheet-Expert(data-i18n='Expert') Expert
				span.sheet-Flake(data-i18n='Flake') Flake
				span.sheet-Initiate(data-i18n='Initiate') Initiate
				span.sheet-Monstrous(data-i18n='Monstrous') Monstrous
				span.sheet-Mundane(data-i18n='Mundane') Mundane
				span.sheet-Professional(data-i18n='Professional') Professional
				span.sheet-Spellslinger(data-i18n='Spellslinger') Spell-Slinger
				span.sheet-Spooky(data-i18n='Spooky') Spooky
				span.sheet-Wronged(data-i18n='Wronged') Wronged
				span.sheet-Gumshoe(data-i18n='Gumshoe') Gumshoe
				span.sheet-Hex(data-i18n='Hex') Hex
				span.sheet-Pararomantic(data-i18n='Pararomantic') Pararomantic
				span.sheet-Searcher(data-i18n='Searcher') Searcher
				span.sheet-Exile(data-i18n='Exile') Exile
				span.sheet-Hardcase(data-i18n='Hardcase') Hard Case
				span.sheet-Hardcase2020(data-i18n='Hardcase') Hard Case
				span.sheet-Luchador(data-i18n='Luchador') Luchador
				span.sheet-Meddlingkid(data-i18n='Meddlingkid') Meddling Kid
				span.sheet-Sidekick(data-i18n='Sidekick') Sidekick
				span.sheet-Snoop(data-i18n='Snoop') Snoop
				span.sheet-Summoned(data-i18n='Summoned') Summoned
				span.sheet-Traveler(data-i18n='Traveler') Traveler
				span.sheet-Custom(data-i18n='custom') Custom
				| &nbsp;
				span(data-i18n='move') move
				span.sheet-Hex
					| , 
					span(data-i18n='hex-advance2')
						| or an additional 
						i Rote
			input.sheet-triggerbox(type='checkbox', name='attr_Imp-PlaybookMove-2')
			span.sheet-triggertext
				input(type='text', name='attr_Imp-PlaybookMove-2-Choice')
		.sheet-move.sheet-Hardcase2020.sheet-Constructed.sheet-Spooktacular.sheet-Actionscientist.sheet-Chosen.sheet-Crooked.sheet-Divine.sheet-Expert.sheet-Flake.sheet-Initiate.sheet-Monstrous.sheet-Mundane.sheet-Professional.sheet-Spellslinger.sheet-Spooky.sheet-Wronged.sheet-Hex.sheet-Pararomantic.sheet-Searcher.sheet-Exile.sheet-Hardcase.sheet-Luchador.sheet-Meddlingkid.sheet-Sidekick.sheet-Snoop.sheet-Summoned.sheet-Traveler.sheet-Custom
			input.sheet-checkbox(type='checkbox', name='attr_Imp-PlaybookMove-Other1')
			span.sheet-mainbox
			span.sheet-grayable
				span(data-i18n='playbook-move') Take a move from another playbook
			input.sheet-triggerbox(type='checkbox', name='attr_Imp-PlaybookMove-Other1')
			span.sheet-triggertext
				input(type='text', name='attr_Imp-PlaybookMove-Other1-Choice')
		.sheet-move.sheet-Hardcase2020.sheet-Constructed.sheet-Spooktacular.sheet-Actionscientist.sheet-Chosen.sheet-Crooked.sheet-Divine.sheet-Expert.sheet-Flake.sheet-Initiate.sheet-Monstrous.sheet-Mundane.sheet-Professional.sheet-Spellslinger.sheet-Spooky.sheet-Wronged.sheet-Pararomantic.sheet-Searcher.sheet-Exile.sheet-Hardcase.sheet-Luchador.sheet-Meddlingkid.sheet-Sidekick.sheet-Snoop.sheet-Summoned.sheet-Traveler.sheet-Custom
			input.sheet-checkbox(type='checkbox', name='attr_Imp-PlaybookMove-Other2')
			span.sheet-mainbox
			span.sheet-grayable
				span(data-i18n='playbook-move') Take a move from another playbook
			input.sheet-triggerbox(type='checkbox', name='attr_Imp-PlaybookMove-Other2')
			span.sheet-triggertext
				input(type='text', name='attr_Imp-PlaybookMove-Other2-Choice')
		// Playbook Specific Options
		.sheet-move.sheet-Constructed.sheet-Spooktacular.sheet-Actionscientist.sheet-Chosen.sheet-Crooked.sheet-Divine.sheet-Pararomantic.sheet-Searcher.sheet-Exile.sheet-Hardcase.sheet-Hardcase2020.sheet-Luchador.sheet-Meddlingkid.sheet-Sidekick.sheet-Snoop.sheet-Summoned.sheet-Traveler
			input.sheet-checkbox(type='checkbox', name='attr_Imp-Ally')
			span.sheet-mainbox
			span.sheet-grayable
				span.sheet-Actionscientist
					span(data-i18n='as-team') Gain a team of action scientists under your command.
				span.sheet-Crooked
					span(data-i18n='ally') Gain an ally
					| : 
					span(data-i18n='crooked-ally') one of your old crew
				span.sheet-Divine
					span(data-i18n='ally') Gain an ally
					| : 
					span(data-i18n='Divine-ally') a lesser divine being, sent to help you with your mission
				span.sheet-Exile
					span(data-i18n='ally') Gain an ally
					| : 
					span(data-i18n='exile-ally') you find one of your old comrades, who has come to join you in the modern day
				span.sheet-Hardcase.sheet-Hardcase2020(data-i18n='hardcase-advance1') Gain command of a team of monster-hunters
				span.sheet-Luchador
					span(data-i18n='ally') Gain an ally
					| : 
					span(data-i18n='luchador-ally') another wrestler who has chosen to fight monsters with you
				span.sheet-Meddlingkid
					span(data-i18n='ally') Gain an ally
					| : 
					span(data-i18n='meddlingkid-ally') someone to join the gang, it may be an animal (most likely a dog or a cat)
				span.sheet-Sidekick
					span(data-i18n='ally') Gain an ally
					| : 
					span(data-i18n='sidekick-ally') another sidekick for your hero, your junior
				span.sheet-Snoop
					span(data-i18n='ally') Gain an ally
					| : 
					span(data-i18n='snoop-ally') possibly one of your existing crew members, or the whole crew as an ally team
				span.sheet-Summoned(data-i18n='summoned-advance1') Gain an ally team of monster-hunters (or monstrous hunters) under your command
				span.sheet-Constructed(data-i18n='constructed-imp1') Gain an ally: you make a friend (literally)
				span.sheet-Spooktacular.sheet-Chosen.sheet-Searcher.sheet-Traveler.sheet-Pararomantic(data-i18n='ally') Gain an ally
		.sheet-move.sheet-Actionscientist.sheet-Flake.sheet-Monstrous.sheet-Wronged.sheet-Gumshoe.sheet-Hex.sheet-Luchador.sheet-Snoop
			input.sheet-checkbox(type='checkbox', name='attr_Imp-Haven')
			span.sheet-mainbox
			span.sheet-grayable
				span.sheet-Wronged.sheet-Flake.sheet-Monstrous.sheet-Hex.sheet-Luchador(data-i18n='luchador-advance1')
					| Gain a Haven, like the 
					i Expert
					| , with two options
				span.sheet-Gumshoe(data-i18n='Gumshoe-advance2')
					| Gain a Haven (your office, perhaps), like the 
					i Expert
					| , with two options
				span.sheet-Snoop(data-i18n='snoop-advance1')
					| Gain a Haven, like the 
					i Expert
					| , with one option plus a film lab
				span.sheet-Actionscientist(data-i18n='as-haven') Gain a haven, like the Expert has, with a Workshop and one other option.
			input.sheet-triggerbox(type='checkbox', name='attr_Imp-Haven')
			span.sheet-triggertext
				input(type='text', name='attr_Imp-Haven-Choice')
		.sheet-move.sheet-Expert.sheet-Flake.sheet-Wronged
			input.sheet-checkbox(type='checkbox', name='attr_Imp-HavenOpt1')
			span.sheet-mainbox
			span.sheet-grayable
				span(data-i18n='expert-advance1') Add a Haven option
				input.sheet-triggerbox(type='checkbox', name='attr_Imp-HavenOpt1')
				span.sheet-triggertext
					input(type='text', name='attr_Imp-HavenOpt1-Choice')
		.sheet-move.sheet-Expert
			input.sheet-checkbox(type='checkbox', name='attr_Imp-HavenOpt2')
			span.sheet-mainbox
			span.sheet-grayable
				span(data-i18n='expert-advance1') Add a Haven option
				input.sheet-triggerbox(type='checkbox', name='attr_Imp-HavenOpt2')
				span.sheet-triggertext
					input(type='text', name='attr_Imp-HavenOpt2-Choice')
		.sheet-move.sheet-Spooktacular
			input.sheet-checkbox(type='checkbox', name='attr_Imp-Show')
			span.sheet-mainbox
			span.sheet-grayable
				span(data-i18n='spooktacular-imp1') Take another Show option
			input.sheet-triggerbox(type='checkbox', name='attr_Imp-Show')
			span.sheet-triggertext
				input(type='text', name='attr_Imp-Show-Choice')
		.sheet-move.sheet-Constructed
			input.sheet-checkbox(type='checkbox', name='attr_Imp-2ndForce')
			span.sheet-mainbox
			span.sheet-grayable
				span(data-i18n='constructed-imp2') Adjust your needs: mark a second animating force
		.sheet-move.sheet-Crooked
			input.sheet-checkbox(type='checkbox', name='attr_Imp-Stash')
			span.sheet-mainbox
			span.sheet-grayable
				span(data-i18n='crooked-advance1')
					| Recover a stash of money from the old days, enough to live without care for a year or two
		.sheet-move.sheet-Gumshoe
			input.sheet-checkbox(type='checkbox', name='attr_Imp-4Contacts')
			span.sheet-mainbox
			span.sheet-grayable
				span(data-i18n='Gumshoe-advance3')
					| Add four additional or new contacts for 
					i Naked City
		.sheet-move.sheet-Initiate
			input.sheet-checkbox(type='checkbox', name='attr_Imp-CommandSect')
			span.sheet-mainbox
			span.sheet-grayable
				span(data-i18n='Initiate-advance1') Get command of your chapter of the Sect
		.sheet-move.sheet-Initiate
			input.sheet-checkbox(type='checkbox', name='attr_Imp-TeamSect')
			span.sheet-mainbox
			span.sheet-grayable
				span(data-i18n='Initiate-advance2') Get a Sect team under your command
		.sheet-move.sheet-Monstrous
			input.sheet-checkbox(type='checkbox', name='attr_Imp-NaturalAttacks')
			span.sheet-mainbox
			span.sheet-grayable
				span(data-i18n='Monstrous-advance2') Take a natural attacks pick
		.sheet-move.sheet-Professional
			input.sheet-checkbox(type='checkbox', name='attr_Imp-AgencyChange')
			span.sheet-mainbox
			span.sheet-grayable
				span(data-i18n='Professional-advance1')
					| Add a new Resource tag 
					i or
					|  change a Red Tape tag for your Agency
		.sheet-move.sheet-Professional
			input.sheet-checkbox(type='checkbox', name='attr_Imp-AgencyTeam')
			span.sheet-mainbox
			span.sheet-grayable
				span(data-i18n='Professional-advance2') Get command of an Agency team of monster hunters
		.sheet-move.sheet-Spellslinger
			input.sheet-checkbox(type='checkbox', name='attr_Imp-CombatMagicPick')
			span.sheet-mainbox
			span.sheet-grayable
				span(data-i18n='Spellslinger-advance1')
					| Take another 
					i Combat Magic
					|  pick
		.sheet-move.sheet-Spooky
			input.sheet-checkbox(type='checkbox', name='attr_Imp-DarkChange')
			span.sheet-mainbox
			span.sheet-grayable
				span(data-i18n='Spooky-advance1') Change some, or all, of your Dark Side tags
		.sheet-move.sheet-Spooky
			input.sheet-checkbox(type='checkbox', name='attr_Imp-MysticLibrary')
			span.sheet-mainbox
			span.sheet-grayable
				span(data-i18n='Spooky-advance2')
					| Gain a Mystical Library, like the Haven option of the 
					i Expert
		.sheet-move.sheet-Hex
			input.sheet-checkbox(type='checkbox', name='attr_Imp-HexRote1')
			span.sheet-mainbox
			span.sheet-grayable
				span(data-i18n='hex-advance1')
					| Take another 
					i Rote
		.sheet-move.sheet-Hex
			input.sheet-checkbox(type='checkbox', name='attr_Imp-HexRote2')
			span.sheet-mainbox
			span.sheet-grayable
				span(data-i18n='hex-advance1')
					| Take another 
					i Rote
		.sheet-move.sheet-Hex
			input.sheet-checkbox(type='checkbox', name='attr_Imp-HexRote3')
			span.sheet-mainbox
			span.sheet-grayable
				span(data-i18n='hex-advance1')
					| Take another 
					i Rote
		.sheet-move.sheet-Searcher
			input.sheet-checkbox(type='checkbox', name='attr_Imp-SecondEncounter')
			span.sheet-mainbox
			span.sheet-grayable
				span(data-i18n='searcher-advance1')
					| Take a second 
					i First Encounter
					|  move, based on a recent mystery
		.sheet-move.sheet-Exile
			input.sheet-checkbox(type='checkbox', name='attr_Imp-TimeCache')
			span.sheet-mainbox
			span.sheet-grayable
				span(data-i18n='exile-advance1')
					| Find a cache of objects left for you by your comrades in the past. The Keeper will decide what&apos;s in it, but it will be things that they expected you would need in the future
		.sheet-move.sheet-Meddlingkid.sheet-Mundane
			input.sheet-checkbox(type='checkbox', name='attr_Imp-Luck1')
			span.sheet-mainbox
			span.sheet-grayable
				span(data-i18n='erase-luck')
					| Erase one used 
					i Luck
					|  point
		.sheet-move.sheet-Mundane
			input.sheet-checkbox(type='checkbox', name='attr_Imp-Luck2')
			span.sheet-mainbox
			span.sheet-grayable
				span(data-i18n='erase-luck')
					| Erase one used 
					i Luck
					|  point
		.sheet-move.sheet-Summoned
			input.sheet-checkbox(type='checkbox', name='attr_Imp-Sect')
			span.sheet-mainbox
			span.sheet-grayable
				span(data-i18n='summoned-advance2')
					| Get a position in a Sect, like the 
					i Initiate
					| . Describe the Sect and its Traditions (or join a Sect that already exists in your game). Gain the move for 
					i when you are in good standing with your Sect
		.sheet-move.sheet-Gumshoe.sheet-Hardcase.sheet-Hardcase2020
			input.sheet-checkbox(type='checkbox', name='attr_Imp-Dying')
			span.sheet-mainbox
			span.sheet-grayable
				span(data-i18n='hardcase-advance2') Add an extra harm box on the Dying side
		.sheet-move.sheet-Sidekick
			input.sheet-checkbox(type='checkbox', name='attr_Imp-Sidekick-ChangePlaybook')
			span.sheet-mainbox
			span.sheet-grayable
				span(data-i18n='sidekick-advance1')
					| Change playbooks to the same as your hero (overrides the rule that only one of each playbook may be in play)
		.sheet-move.sheet-Custom
			input.sheet-checkbox(type='checkbox', name='attr_Imp-Custom1')
			span.sheet-mainbox
			span.sheet-grayable
				input(type='text', name='attr_Imp-Custom1-Desc', style='width: 80%')
		.sheet-move.sheet-Custom
			input.sheet-checkbox(type='checkbox', name='attr_Imp-Custom2')
			span.sheet-mainbox
			span.sheet-grayable
				input(type='text', name='attr_Imp-Custom2-Desc', style='width: 80%')
		// ADVANCED Improvements
		.sheet-MinorHead.sheet-space-above
			span(data-i18n='advanced') Advanced
			|  
			span(data-i18n='improvements') Improvements
		div
			span(data-i18n='advanced-improvements')
				| Once you have taken 5 
				i Improvements
				|  you may choose from these options as well as the list above
			| :
		input.sheet-checkbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-Improvements-Hider', value='1', checked='')
		span.sheet-anglebox
		|  
		span.sheet-ExpHeader
			span(data-i18n='unused') Unused
		input.sheet-SettingCheck(type='hidden', name='attr_Game-World', value='0')
		.sheet-Setting-Gothic
			input.sheet-DarkPastCheck(type='hidden', name='attr_DarkPast', value='0')
			.sheet-DarkPast-Curse
				input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-Improvements-Hider', value='1', checked='')
				+move('Gothic-Curse-Advanced-Improve','I break my curse')
		.sheet-move.sheet-Hardcase2020.sheet-Constructed.sheet-Spooktacular.sheet-Actionscientist.sheet-Chosen.sheet-Crooked.sheet-Divine.sheet-Expert.sheet-Flake.sheet-Initiate.sheet-Monstrous.sheet-Mundane.sheet-Professional.sheet-Spellslinger.sheet-Spooky.sheet-Wronged.sheet-Gumshoe.sheet-Hex.sheet-Pararomantic.sheet-Searcher.sheet-Exile.sheet-Hardcase.sheet-Luchador.sheet-Meddlingkid.sheet-Sidekick.sheet-Snoop.sheet-Summoned.sheet-Traveler.sheet-Custom
			input.sheet-checkbox(type='checkbox', name='attr_AdvImp-Any-1')
			span.sheet-mainbox
			span.sheet-grayable
				| +1 
				span(data-i18n='rating') to any rating
				|  (
				span(data-i18n='max') max
				|  +3) 
				input.sheet-triggerbox(type='checkbox', name='attr_AdvImp-Any-1')
				span.sheet-triggertext
					input(type='text', name='attr_AdvImp-Any-1-Choice')
		.sheet-move.sheet-Hardcase2020.sheet-Constructed.sheet-Spooktacular.sheet-Actionscientist.sheet-Chosen.sheet-Crooked.sheet-Divine.sheet-Expert.sheet-Flake.sheet-Initiate.sheet-Monstrous.sheet-Mundane.sheet-Professional.sheet-Spellslinger.sheet-Spooky.sheet-Wronged.sheet-Gumshoe.sheet-Hex.sheet-Pararomantic.sheet-Searcher.sheet-Exile.sheet-Hardcase.sheet-Luchador.sheet-Meddlingkid.sheet-Sidekick.sheet-Snoop.sheet-Summoned.sheet-Traveler.sheet-Custom
			input.sheet-checkbox(type='checkbox', name='attr_AdvImp-ChangePB')
			span.sheet-mainbox
			span.sheet-grayable
				span(data-i18n='new-playbook') Change playbooks
		.sheet-move.sheet-Hardcase2020.sheet-Constructed.sheet-Spooktacular.sheet-Actionscientist.sheet-Chosen.sheet-Crooked.sheet-Divine.sheet-Expert.sheet-Flake.sheet-Initiate.sheet-Monstrous.sheet-Mundane.sheet-Professional.sheet-Spellslinger.sheet-Spooky.sheet-Wronged.sheet-Gumshoe.sheet-Hex.sheet-Pararomantic.sheet-Searcher.sheet-Exile.sheet-Hardcase.sheet-Luchador.sheet-Meddlingkid.sheet-Sidekick.sheet-Snoop.sheet-Summoned.sheet-Traveler.sheet-Custom
			input.sheet-checkbox(type='checkbox', name='attr_AdvImp-2ndHunter')
			span.sheet-mainbox
			span.sheet-grayable
				span(data-i18n='second-hunter') Create a second hunter to play
		.sheet-move.sheet-Hardcase2020.sheet-Constructed.sheet-Spooktacular.sheet-Actionscientist.sheet-Chosen.sheet-Crooked.sheet-Divine.sheet-Expert.sheet-Flake.sheet-Initiate.sheet-Monstrous.sheet-Mundane.sheet-Professional.sheet-Spellslinger.sheet-Spooky.sheet-Wronged.sheet-Gumshoe.sheet-Hex.sheet-Pararomantic.sheet-Searcher.sheet-Exile.sheet-Hardcase.sheet-Luchador.sheet-Meddlingkid.sheet-Sidekick.sheet-Snoop.sheet-Summoned.sheet-Traveler.sheet-Custom
			input.sheet-checkbox(type='checkbox', name='attr_AdvImp-AdvBasic')
			span.sheet-mainbox
			span.sheet-grayable
				span(data-i18n='basic-moves') Advance 2 basic moves
		input.sheet-triggerbox(type='checkbox', name='attr_AdvImp-AdvBasic')
		.sheet-move.sheet-triggerframe
			input.sheet-checkbox(type='checkbox', name='attr_AdvImp-AdvBasic2')
			span.sheet-mainbox
			span.sheet-grayable
				span(data-i18n='basic-moves-more') Advance 2 more basic moves
		input.sheet-triggerbox(type='checkbox', name='attr_AdvImp-AdvBasic')
		.sheet-triggerframe
			.sheet-advmoves
				input.sheet-checkbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-AdvanceBasicMovesList', value='1', checked='')
				span.sheet-anglebox
				span.sheet-ExpHeader
					span(data-i18n='unused') Unused
				.sheet-move
					input.sheet-checkbox(type='checkbox', name='attr_advanced-aup')
					span.sheet-mainbox
					span.sheet-grayable
						span(data-i18n='aup')
				.sheet-move
					input.sheet-checkbox(type='checkbox', name='attr_advanced-helpout')
					span.sheet-mainbox
					span.sheet-grayable
						span(data-i18n='helpout')
				.sheet-move
					input.sheet-checkbox(type='checkbox', name='attr_advanced-iam')
					span.sheet-mainbox
					span.sheet-grayable
						span(data-i18n='iam')
				.sheet-move
					input.sheet-checkbox(type='checkbox', name='attr_advanced-iam-alt')
					span.sheet-mainbox
					span.sheet-grayable
						span(data-i18n='iam')
						|  (
						span(data-i18n='flex-alt')
						| )
				.sheet-move
					input.sheet-checkbox(type='checkbox', name='attr_advanced-kickass')
					span.sheet-mainbox
					span.sheet-grayable
						span(data-i18n='kickass')
				.sheet-move
					input.sheet-checkbox(type='checkbox', name='attr_advanced-manipulate')
					span.sheet-mainbox
					span.sheet-grayable
						span(data-i18n='manipulate')
				.sheet-move
					input.sheet-checkbox(type='checkbox', name='attr_advanced-protect-someone')
					span.sheet-mainbox
					span.sheet-grayable
						span(data-i18n='protect-someone')
				.sheet-move
					input.sheet-checkbox(type='checkbox', name='attr_advanced-rabs')
					span.sheet-mainbox
					span.sheet-grayable
						span(data-i18n='rabs')
				.sheet-move
					input.sheet-checkbox(type='checkbox', name='attr_advanced-usemagic')
					span.sheet-mainbox
					span.sheet-grayable
						span(data-i18n='usemagic')
				input.sheet-triggerbox(type='checkbox', name='attr_Alt-Move-Empath', value='1')
				.sheet-move.sheet-triggerframe
					input.sheet-checkbox(type='checkbox', name='attr_advanced-empath')
					span.sheet-mainbox
					span.sheet-grayable
						span(data-i18n='empath')
				input.sheet-triggerbox(type='checkbox', name='attr_Alt-Move-Illuminated', value='1')
				.sheet-move.sheet-triggerframe
					input.sheet-checkbox(type='checkbox', name='attr_advanced-illuminated')
					span.sheet-mainbox
					span.sheet-grayable
						span(data-i18n='illuminated')
				input.sheet-triggerbox(type='checkbox', name='attr_Alt-Move-NoLimits', value='1')
				.sheet-move.sheet-triggerframe
					input.sheet-checkbox(type='checkbox', name='attr_advanced-nolimits')
					span.sheet-mainbox
					span.sheet-grayable
						span(data-i18n='nolimits')
				input.sheet-triggerbox(type='checkbox', name='attr_Alt-Move-PastLives', value='1')
				.sheet-move.sheet-triggerframe
					input.sheet-checkbox(type='checkbox', name='attr_advanced-pastlives')
					span.sheet-mainbox
					span.sheet-grayable
						span(data-i18n='pastlives')
				input.sheet-triggerbox(type='checkbox', name='attr_Alt-Move-Sensitive', value='1')
				.sheet-move.sheet-triggerframe
					input.sheet-checkbox(type='checkbox', name='attr_advanced-sensitive')
					span.sheet-mainbox
					span.sheet-grayable
						span(data-i18n='sensitive')
				input.sheet-triggerbox(type='checkbox', name='attr_Alt-Move-TYG', value='1')
				.sheet-move.sheet-triggerframe
					input.sheet-checkbox(type='checkbox', name='attr_advanced-tyg')
					span.sheet-mainbox
					span.sheet-grayable
						span(data-i18n='tyg')
				input.sheet-triggerbox(type='checkbox', name='attr_Alt-Move-Telekinesis', value='1')
				.sheet-move.sheet-triggerframe
					input.sheet-checkbox(type='checkbox', name='attr_advanced-tk')
					span.sheet-mainbox
					span.sheet-grayable
						span(data-i18n='tk')
				input.sheet-triggerbox(type='checkbox', name='attr_Alt-Move-WS', value='1')
				.sheet-move.sheet-triggerframe
					input.sheet-checkbox(type='checkbox', name='attr_advanced-weirdsci')
					span.sheet-mainbox
					span.sheet-grayable
						span(data-i18n='weirdsci')
		.sheet-move.sheet-Hardcase2020.sheet-Constructed.sheet-Spooktacular.sheet-Actionscientist.sheet-Chosen.sheet-Crooked.sheet-Divine.sheet-Expert.sheet-Flake.sheet-Initiate.sheet-Monstrous.sheet-Mundane.sheet-Professional.sheet-Spellslinger.sheet-Spooky.sheet-Wronged.sheet-Gumshoe.sheet-Hex.sheet-Pararomantic.sheet-Searcher.sheet-Exile.sheet-Hardcase.sheet-Luchador.sheet-Meddlingkid.sheet-Sidekick.sheet-Snoop.sheet-Summoned.sheet-Traveler.sheet-Custom
			input.sheet-checkbox(type='checkbox', name='attr_AdvImp-Retire')
			span.sheet-mainbox
			span.sheet-grayable
				span(data-i18n='retire') Retire this hunter to safety
				| . 
				span.sheet-Exile(data-i18n='exile-return') Optionally, you may return home to the past
		// Playbook-Specific Choices
		.sheet-move.sheet-Hardcase2020.sheet-Constructed.sheet-Spooktacular.sheet-Actionscientist.sheet-Chosen.sheet-Crooked.sheet-Divine.sheet-Expert.sheet-Flake.sheet-Initiate.sheet-Monstrous.sheet-Mundane.sheet-Professional.sheet-Spellslinger.sheet-Spooky.sheet-Wronged.sheet-Gumshoe.sheet-Hex.sheet-Searcher.sheet-Exile.sheet-Hardcase.sheet-Luchador.sheet-Meddlingkid.sheet-Sidekick.sheet-Snoop.sheet-Summoned.sheet-Traveler
			input.sheet-checkbox(type='checkbox', name='attr_AdvImp-Luck1')
			span.sheet-mainbox
			span.sheet-grayable
				span(data-i18n='erase-luck')
					| Erase one used 
					i Luck
					|  point
		.sheet-move.sheet-Mundane.sheet-Searcher
			input.sheet-checkbox(type='checkbox', name='attr_AdvImp-Luck2')
			span.sheet-mainbox
			span.sheet-grayable
				span(data-i18n='erase-luck')
					| Erase one used 
					i Luck
					|  point
		.sheet-move.sheet-Snoop
			input.sheet-checkbox(type='checkbox', name='attr_AdvImp-MakeItBig')
			span.sheet-mainbox
			span.sheet-grayable
				span(data-i18n='snoop-advance2') Make it big. You&apos;re a superstar now!
		.sheet-move.sheet-Spooktacular
			input.sheet-checkbox(type='checkbox', name='attr_AdvImp-TravelingShow')
			span.sheet-mainbox
			span.sheet-grayable
				span(data-i18n='spooktacular-advimp1')
					| Get your own traveling show. maybe you take over your old one, maybe you start anew.
		.sheet-move.sheet-Constructed
			input.sheet-checkbox(type='checkbox', name='attr_AdvImp-Human')
			span.sheet-mainbox
			span.sheet-grayable
				span(data-i18n='constructed-advimp1') Become human, and change to a new type.
		.sheet-move.sheet-Chosen
			input.sheet-checkbox(type='checkbox', name='attr_AdvImp-DoomClear')
			span.sheet-mainbox
			span.sheet-grayable
				span(data-i18n='chosen-advance1')
					| Delete a 
					i Doom
					|  tag, and (optionally) also delete a 
					i Heroic
					|  tag
		.sheet-move.sheet-Divine
			input.sheet-checkbox(type='checkbox', name='attr_AdvImp-MissionChange')
			span.sheet-mainbox
			span.sheet-grayable
				span(data-i18n='Divine-advance1')
					| Change your 
					i Mission
					| . Select a different option from the Mission list, or (with the Keeper&apos;s agreement) create a new mission
		.sheet-move.sheet-Initiate
			input.sheet-checkbox(type='checkbox', name='attr_AdvImp-LeadSect')
			span.sheet-mainbox
			span.sheet-grayable
				span(data-i18n='Initiate-advance3') Become the leader, or effective leader, of the whole Sect
		.sheet-move.sheet-Monstrous
			input.sheet-checkbox(type='checkbox', name='attr_AdvImp-CurseFreed')
			span.sheet-mainbox
			span.sheet-grayable
				span(data-i18n='Monstrous-advance3')
					| Free yourself from your kind&apos;s curse, it no longer affects you; but you lose 1 Weird
				br
		.sheet-move.sheet-Monstrous
			input.sheet-checkbox(type='checkbox', name='attr_AdvImp-EvilAgain')
			span.sheet-mainbox
			span.sheet-grayable
				span(data-i18n='Monstrous-advance4')
					| Turn evil (again?). Retire this character, they become one of the Keeper&apos;s threats
		.sheet-move.sheet-Professional
			input.sheet-checkbox(type='checkbox', name='attr_AdvImp-AgencyHired')
			span.sheet-mainbox
			span.sheet-grayable
				span(data-i18n='Professional-advance3')
					| Get some or all of the other players&apos; hunters hired by your Agency. They get the 
					i deal with the agency
					|  move, as well as salary and benefits
		.sheet-move.sheet-Spellslinger
			input.sheet-checkbox(type='checkbox', name='attr_AdvImp-CombatMagicPick')
			span.sheet-mainbox
			span.sheet-grayable
				span(data-i18n='Spellslinger-advance1')
					| Take another 
					i Combat Magic
					|  pick
		.sheet-move.sheet-Spellslinger
			input.sheet-checkbox(type='checkbox', name='attr_AdvImp-LessTools')
			span.sheet-mainbox
			span.sheet-grayable
				span(data-i18n='Spellslinger-advance2')
					| You may cross off another option from your 
					i Tools and Techniques
		.sheet-move.sheet-Spooky
			input.sheet-checkbox(type='checkbox', name='attr_AdvImp-DarkPrice')
			span.sheet-mainbox
			span.sheet-grayable
				span(data-i18n='Spooky-advance3') You discover how to use your powers at a lower price, delete one Dark Side tag
		.sheet-move.sheet-Wronged
			input.sheet-checkbox(type='checkbox', name='attr_AdvImp-TrackDown')
			span.sheet-mainbox
			|  
			span.sheet-grayable
				span(data-i18n='Wronged-advance3')
					| You track down the specific monster(s) responsible for your loss; the Keeper must make the next mystery about them
		.sheet-move.sheet-Wronged
			input.sheet-checkbox(type='checkbox', name='attr_AdvImp-VengeChange')
			span.sheet-mainbox
			|  
			span.sheet-grayable
				span(data-i18n='Wronged-advance4')
					| Change the target of your vengeful rage; replace the monster breed in 
					i My Prey
					|  with a new one
		.sheet-move.sheet-Gumshoe
			input.sheet-checkbox(type='checkbox', name='attr_AdvImp-Ally')
			span.sheet-mainbox
			span.sheet-grayable
				span(data-i18n='Gumshoe-advance4') Turn one of your contacts into an ally
		.sheet-move.sheet-Hex
			input.sheet-checkbox(type='checkbox', name='attr_AdvImp-TwoRotes')
			span.sheet-mainbox
			span.sheet-grayable
				span(data-i18n='hex-advance4')
					| Take another two 
					i Rotes
		.sheet-move.sheet-Hex
			input.sheet-checkbox(type='checkbox', name='attr_AdvImp-AdvHex')
			span.sheet-mainbox
			span.sheet-grayable
				span(data-i18n='hex-advance5')
					| Choose one 
					i Advanced Hex Move
		.sheet-move.sheet-Pararomantic
			input.sheet-checkbox(type='checkbox', name='attr_AdvImp-Para1')
			span.sheet-mainbox
			span.sheet-grayable
				span(data-i18n='pararomantic-advance1')
					| Take a second 
					i Gift
					|  from your 
					i Guide
					|  or add another property to an existing gift
		.sheet-move.sheet-Pararomantic
			input.sheet-checkbox(type='checkbox', name='attr_AdvImp-Para2')
			span.sheet-mainbox
			span.sheet-grayable
				span(data-i18n='pararomantic-advance2')
					| Change your 
					i Guide
					| , as you fall for another supernatural being
		.sheet-move.sheet-Pararomantic
			input.sheet-checkbox(type='checkbox', name='attr_AdvImp-Para3')
			span.sheet-mainbox
			span.sheet-grayable
				span(data-i18n='pararomantic-advance3')
					| Gain a second 
					i Guide
					| . Track the 
					i Relationship Status
					|  of both Guides separately. Both Guides initially hate each other, but this could change through play. All moves that applied to your original 
					i Guide
					|  can now apply to either one
		.sheet-move.sheet-Pararomantic
			input.sheet-checkbox(type='checkbox', name='attr_AdvImp-Para4')
			span.sheet-mainbox
			span.sheet-grayable
				span(data-i18n='pararomantic-advance4')
					| Erase all marks from the 
					i Relationship Status
					|  track(s)
		.sheet-move.sheet-Searcher
			input.sheet-checkbox(type='checkbox', name='attr_AdvImp-FirstEncounter-Resolve')
			span.sheet-mainbox
			span.sheet-grayable
				span(data-i18n='searcher-advance2')
					| Resolve your 
					i First Encounter
					| . The Keeper makes the next mystery about this event, and should try to answer all remaining questions about it during the mystery (although there are sure to be new threads to investigate after...)
		.sheet-move.sheet-Hardcase.sheet-Hardcase2020
			input.sheet-checkbox(type='checkbox', name='attr_AdvImp-Dying')
			span.sheet-mainbox
			span.sheet-grayable
				span(data-i18n='hardcase-advance2') Add an extra harm box on the Dying side
		.sheet-move.sheet-Hardcase2020
			input.sheet-checkbox(type='checkbox', name='attr_AdvImp-Fire')
			span.sheet-mainbox
			span.sheet-grayable
				span(data-i18n='hardcase2020-advance1') Your Fire track increases to 13 boxes.
		.sheet-move.sheet-Exile
			input.sheet-checkbox(type='checkbox', name='attr_AdvImp-Gateway')
			span.sheet-mainbox
			span.sheet-grayable
				span(data-i18n='exile-advance2')
					| When you 
					i use magic
					| , you may choose to &apos;create a gateway between the modern world and my home&apos; as an effect. You cannot control who uses the gateway or exactly where it opens at the other end
		.sheet-move.sheet-Sidekick
			input.sheet-checkbox(type='checkbox', name='attr_AdvImp-Herochange')
			span.sheet-mainbox
			span.sheet-grayable
				span(data-i18n='sidekick-advance2') Change your hero; pick another hunter to be your new hero
		.sheet-move.sheet-Summoned
			input.sheet-checkbox(type='checkbox', name='attr_AdvImp-Summoned-ReEvil')
			span.sheet-mainbox
			span.sheet-grayable
				span(data-i18n='summoned-advance3')
					| Turn evil (again?). Retire this character, they become one of the Keeper&apos;s threats
		.sheet-move.sheet-Summoned
			input.sheet-checkbox(type='checkbox', name='attr_AdvImp-Summoned-ApocalypseRewind')
			span.sheet-mainbox
			span.sheet-grayable
				span(data-i18n='summoned-advance4') Undo one sign of the Apocalypse
		.sheet-move.sheet-Traveler
			input.sheet-checkbox(type='checkbox', name='attr_AdvImp-Traveler-ServantDel')
			span.sheet-mainbox
			span.sheet-grayable
				span(data-i18n='traveler-advance1')
					| Delete the move 
					i Servant of Technology
					| . You have learnt to deal with the supernatural, no longer receiving any penalties for it
		.sheet-move.sheet-Custom
			input.sheet-checkbox(type='checkbox', name='attr_AdvImp-Custom1')
			span.sheet-mainbox
			span.sheet-grayable
				input(type='text', name='attr_Advance-Custom1', style='width: 80%')
		.sheet-move.sheet-Custom
			input.sheet-checkbox(type='checkbox', name='attr_AdvImp-Custom2')
			span.sheet-mainbox
			span.sheet-grayable
				input(type='text', name='attr_Advance-Custom2', style='width: 80%')
	// Expander