+movelegacy("advanced-usemagic","")
	span(data-i18n='usemagic')
input.sheet-triggerbox(type='checkbox', name='attr_Alt-Move-Empath', value='1')
+movelegacy("advanced-empath","").sheet-triggerframe
	span(data-i18n='empath')
input.sheet-triggerbox(type='checkbox', name='attr_Alt-Move-Illuminated', value='1')
+movelegacy("advanced-illuminated","").sheet-triggerframe
	span(data-i18n='illuminated')
input.sheet-triggerbox(type='checkbox', name='attr_Alt-Move-NoLimits', value='1')
+movelegacy("advanced-nolimits","").sheet-triggerframe
	span(data-i18n='nolimits')
input.sheet-triggerbox(type='checkbox', name='attr_Alt-Move-PastLives', value='1')
+movelegacy("advanced-pastlives","").sheet-triggerframe
	span(data-i18n='pastlives')
input.sheet-triggerbox(type='checkbox', name='attr_Alt-Move-Sensitive', value='1')
+movelegacy("advanced-sensitive","").sheet-triggerframe
	span(data-i18n='sensitive')
input.sheet-triggerbox(type='checkbox', name='attr_Alt-Move-TYG', value='1')
+movelegacy("advanced-tyg","").sheet-triggerframe
	span(data-i18n='tyg')
input.sheet-triggerbox(type='checkbox', name='attr_Alt-Move-Telekinesis', value='1')
+movelegacy("advanced-tk","").sheet-triggerframe
	span(data-i18n='tk')
input.sheet-triggerbox(type='checkbox', name='attr_Alt-Move-WS', value='1')
+movelegacy("advanced-weirdsci","").sheet-triggerframe
	span(data-i18n='weirdsci')