.sheet-Improvements.sheet-NoSurvivor
	.sheet-Subsection
		span(data-i18n='improvements') Improvements
	input.sheet-checkbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-ImprovementsAll-Hider', value='1', checked='')
	span.sheet-anglebox
	|  
	span.sheet-ExpHeader
		span(data-i18n='all') All
	.sheet-Expander
		input.sheet-SkinCheck(type='hidden', name='attr_SkinCheck', value='0')
		// BASIC Improvements
		div(data-i18n='improvements-description')
			| Once you have 5 
			i Experience
			|  you may choose one of these: (Check off any you&apos;ve already taken)
		input.sheet-checkbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-Improvements-Hider', value='1', checked='')
		span.sheet-anglebox
		|  
		span.sheet-ExpHeader
			span(data-i18n='unused') Unused
		input.sheet-SettingCheck(type='hidden', name='attr_Game-World', value='0')
		.sheet-Setting-Gothic
			input.sheet-DarkPastCheck(type='hidden', name='attr_DarkPast', value='0')
			.sheet-DarkPast-Curse
				input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-Improvements-Hider', value='1', checked='')
				+move('Gothic-Curse-Improve','I find a clear, but maybe difficult, way to break my curse')
		// CHARM
		+movelegacy("Imp-Charm-1","")(class="sheet-Spooktacular sheet-Actionscientist sheet-Spooky sheet-Professional sheet-Mundane sheet-Monstrous sheet-Flake sheet-Chosen sheet-Crooked sheet-Divine sheet-Expert sheet-Gumshoe sheet-Hex sheet-Pararomantic sheet-Searcher sheet-Luchador sheet-Meddlingkid sheet-Sidekick sheet-Snoop sheet-Summoned sheet-Traveler sheet-Custom sheet-CurseEater sheet-Celebrity sheet-Changeling sheet-Covenant sheet-Envoy sheet-Forged sheet-Host sheet-Visitor")
			| +1 
			span(data-i18n='charm') Charm
			span.sheet-Actionscientist.sheet-Spooky.sheet-Professional.sheet-Monstrous.sheet-Flake.sheet-Expert.sheet-Crooked.sheet-Divine.sheet-Hex.sheet-Searcher.sheet-Luchador.sheet-Summoned.sheet-CurseEater.sheet-Changeling.sheet-Envoy.sheet-Host.sheet-Visitor
				| &nbsp;(
				span(data-i18n='max') max
				|  +2)
			span.sheet-Spooktacular.sheet-Mundane.sheet-Chosen.sheet-Gumshoe.sheet-Pararomantic.sheet-Meddlingkid.sheet-Sidekick.sheet-Snoop.sheet-Traveler.sheet-Celebrity.sheet-Covenant.sheet-Forged
				| &nbsp;(
				span(data-i18n='max') max
				|  +3)
		// COOL
		+movelegacy("Imp-Cool-1","")(class="sheet-Hardcase2020 sheet-Constructed sheet-Spooktacular sheet-Wronged sheet-Spooky sheet-Spellslinger sheet-Professional sheet-Mundane sheet-Monstrous sheet-Initiate sheet-Flake sheet-Chosen sheet-Crooked sheet-Divine sheet-Expert sheet-Gumshoe sheet-Hex sheet-Pararomantic sheet-Searcher sheet-Exile sheet-Hardcase sheet-Luchador sheet-Meddlingkid sheet-Sidekick sheet-Snoop sheet-Summoned sheet-Traveler sheet-Custom sheet-ActionScientistSSK sheet-Celebrity sheet-Changeling sheet-Covenant sheet-Envoy sheet-Forged sheet-Host sheet-Interface sheet-Visitor")
			| +1 
			span(data-i18n='cool') Cool
			span.sheet-Spooktacular.sheet-Hardcase2020.sheet-Wronged.sheet-Spooky.sheet-Spellslinger.sheet-Mundane.sheet-Monstrous.sheet-Initiate.sheet-Flake.sheet-Expert.sheet-Crooked.sheet-Divine.sheet-Gumshoe.sheet-Hex.sheet-Pararomantic.sheet-Searcher.sheet-Hardcase.sheet-Luchador.sheet-Meddlingkid.sheet-Sidekick.sheet-Snoop.sheet-Summoned.sheet-ActionScientistSSK.sheet-Celebrity.sheet-Changeling.sheet-Covenant.sheet-Forged.sheet-Interface.sheet-Visitor
				| &nbsp;(
				span(data-i18n='max') max
				|  +2)
			span.sheet-Exile.sheet-Constructed.sheet-Professional.sheet-Chosen.sheet-Traveler.sheet-Envoy.sheet-Host
				| &nbsp;(
				span(data-i18n='max') max
				|  +3)
		// SHARP
		+movelegacy("Imp-Sharp-1","")(class="sheet-Hardcase2020 sheet-Constructed sheet-Spooktacular sheet-Actionscientist sheet-Wronged sheet-Spooky sheet-Spellslinger sheet-Professional sheet-Mundane sheet-Monstrous sheet-Initiate sheet-Flake sheet-Chosen sheet-Crooked sheet-Divine sheet-Expert sheet-Gumshoe sheet-Hex sheet-Pararomantic sheet-Searcher sheet-Exile sheet-Hardcase sheet-Luchador sheet-Meddlingkid sheet-Sidekick sheet-Snoop sheet-Summoned sheet-Traveler sheet-Custom sheet-CurseEater sheet-ActionScientistSSK sheet-Celebrity sheet-Changeling sheet-Covenant sheet-Envoy sheet-Forged sheet-Interface sheet-Visitor")
			| +1 
			span(data-i18n='sharp') Sharp
			span.sheet-Constructed.sheet-Hardcase2020.sheet-Spooktacular.sheet-Wronged.sheet-Spooky.sheet-Spellslinger.sheet-Professional.sheet-Mundane.sheet-Monstrous.sheet-Initiate.sheet-Divine.sheet-Hex.sheet-Pararomantic.sheet-Hardcase.sheet-Luchador.sheet-Meddlingkid.sheet-Snoop.sheet-Summoned.sheet-Celebrity.sheet-Changeling.sheet-Covenant.sheet-Envoy.sheet-Forged
				| &nbsp;(
				span(data-i18n='max') max
				|  +2)
			span.sheet-Exile.sheet-Actionscientist.sheet-Flake.sheet-Expert.sheet-Chosen.sheet-Crooked.sheet-Gumshoe.sheet-Searcher.sheet-Sidekick.sheet-Traveler.sheet-CurseEater.sheet-ActionScientistSSK.sheet-Interface.sheet-Visitor
				| &nbsp;(
				span(data-i18n='max') max
				|  +3)
		// TOUGH
		+movelegacy("Imp-Tough-1","")(class="sheet-Hardcase2020 sheet-Constructed sheet-Actionscientist sheet-Wronged sheet-Spellslinger sheet-Professional sheet-Mundane sheet-Monstrous sheet-Initiate sheet-Chosen sheet-Crooked sheet-Divine sheet-Exile sheet-Gumshoe sheet-Hardcase sheet-Luchador sheet-Sidekick sheet-Traveler sheet-Custom sheet-CurseEater sheet-ActionScientistSSK sheet-Celebrity sheet-Covenant sheet-Forged sheet-Host sheet-Interface sheet-Visitor")
			| +1 
			span(data-i18n='tough') Tough
			span.sheet-Actionscientist.sheet-Spellslinger.sheet-Professional.sheet-Mundane.sheet-Monstrous.sheet-Initiate.sheet-Crooked.sheet-Gumshoe.sheet-Sidekick.sheet-CurseEater.sheet-ActionScientistSSK.sheet-Celebrity.sheet-Covenant.sheet-Forged.sheet-Host.sheet-Interface.sheet-Visitor
				| &nbsp;(
				span(data-i18n='max') max
				|  +2)
			span.sheet-Exile.sheet-Hardcase2020.sheet-Constructed.sheet-Wronged.sheet-Chosen.sheet-Divine.sheet-Hardcase.sheet-Luchador.sheet-Traveler
				| &nbsp;(
				span(data-i18n='max') max
				|  +3)
		// WEIRD
		+movelegacy("Imp-Weird-1","")(class="sheet-Hardcase2020 sheet-Constructed sheet-Spooktacular sheet-Actionscientist sheet-Wronged sheet-Spooky sheet-Spellslinger sheet-Initiate sheet-Flake sheet-Chosen sheet-Hex sheet-Divine sheet-Expert sheet-Pararomantic sheet-Searcher sheet-Exile sheet-Hardcase sheet-Meddlingkid sheet-Snoop sheet-Summoned sheet-Traveler sheet-Custom sheet-CurseEater sheet-ActionScientistSSK sheet-Changeling sheet-Covenant sheet-Envoy sheet-Forged sheet-Host sheet-Interface sheet-Visitor")
			| +1 
			span(data-i18n='weird') Weird
			span.sheet-Constructed.sheet-Actionscientist.sheet-Wronged.sheet-Flake.sheet-Divine.sheet-Expert.sheet-Pararomantic.sheet-Hardcase.sheet-Hardcase2020.sheet-Meddlingkid.sheet-Snoop.sheet-Traveler.sheet-CurseEater.sheet-ActionScientistSSK.sheet-Covenant.sheet-Envoy.sheet-Host.sheet-Interface.sheet-Visitor
				| &nbsp;(
				span(data-i18n='max') max
				|  +2)
			span.sheet-Spooktacular.sheet-Spooky.sheet-Spellslinger.sheet-Initiate.sheet-Chosen.sheet-Hex.sheet-Searcher.sheet-Exile.sheet-Summoned.sheet-Changeling.sheet-Forged
				| &nbsp;(
				span(data-i18n='max') max
				|  +3)
		+movelegacy("Imp-PlaybookMove-1","")(class="sheet-Hardcase2020 sheet-Constructed sheet-Spooktacular sheet-Actionscientist sheet-Chosen sheet-Crooked sheet-Divine sheet-Expert sheet-Flake sheet-Initiate sheet-Monstrous sheet-Mundane sheet-Professional sheet-Spellslinger sheet-Spooky sheet-Wronged sheet-Gumshoe sheet-Hex sheet-Pararomantic sheet-Searcher sheet-Exile sheet-Hardcase sheet-Luchador sheet-Meddlingkid sheet-Sidekick sheet-Snoop sheet-Summoned sheet-Traveler sheet-Custom sheet-CurseEater sheet-ActionScientistSSK sheet-Celebrity sheet-Changeling sheet-Covenant sheet-Envoy sheet-Forged sheet-Host sheet-Interface sheet-Visitor")
			span(data-i18n='another') Take another
			|  
			span.sheet-Spooktacular(data-i18n='spooktacular') Spooktacular
			span.sheet-Constructed(data-i18n='constructed') Constructed
			span.sheet-Actionscientist(data-i18n='actionscientist') Action Scientist
			span.sheet-ActionScientistSSK
				+translate("Action Scientist")
			span.sheet-Celebrity
				+t("Celebrity")
			span.sheet-Changeling
				+t("Changeling")
			span.sheet-Covenant
				+t("Covenant")
			span.sheet-Chosen(data-i18n='chosen') Chosen
			span.sheet-Crooked
				input.sheet-SettingCheck(type='hidden', name='attr_Game-World', value='0')
				+translate('Crooked').sheet-Setting-Default.sheet-Setting-Gothic.sheet-Setting-Dreaming.sheet-Setting-Marches
				+translate('Loner').sheet-Setting-Bone
			span.sheet-Divine
				input.sheet-SettingCheck(type='hidden', name='attr_Game-World', value='0')
				+translate('Divine').sheet-Setting-Default.sheet-Setting-Gothic.sheet-Setting-Dreaming.sheet-Setting-Marches
				+translate('Spirit-Touched').sheet-Setting-Bone
			span.sheet-Envoy
				+t("Envoy")
			span.sheet-Expert
				input.sheet-SettingCheck(type='hidden', name='attr_Game-World', value='0')
				+translate('Expert').sheet-Setting-Default.sheet-Setting-Gothic.sheet-Setting-Dreaming.sheet-Setting-Marches
				+translate('Lore-Holder').sheet-Setting-Bone
			span.sheet-Flake(data-i18n='Flake') Flake
			span.sheet-Forged
				+t("Forged")
			span.sheet-Host
				+t("Host")
			span.sheet-Initiate(data-i18n='Initiate') Initiate
			span.sheet-Interface
				+t("Interface")
			span.sheet-Monstrous
				input.sheet-SettingCheck(type='hidden', name='attr_Game-World', value='0')
				+translate('Monstrous').sheet-Setting-Default.sheet-Setting-Gothic.sheet-Setting-Dreaming.sheet-Setting-Marches
				+translate('Other-Folk').sheet-Setting-Bone
			span.sheet-Mundane(data-i18n='Mundane') Mundane
			span.sheet-Professional(data-i18n='Professional') Professional
			span.sheet-Spellslinger(data-i18n='Spellslinger') Spell-Slinger
			span.sheet-Spooky(data-i18n='Spooky') Spooky
			span.sheet-Wronged(data-i18n='Wronged') Wronged
			span.sheet-Gumshoe(data-i18n='Gumshoe') Gumshoe
			span.sheet-Hex(data-i18n='Hex') Hex
			span.sheet-Pararomantic(data-i18n='Pararomantic') Pararomantic
			span.sheet-Searcher(data-i18n='Searcher') Searcher
			span.sheet-Exile(data-i18n='Exile') Exile
			span.sheet-Hardcase(data-i18n='Hardcase') Hard Case
			span.sheet-Hardcase2020(data-i18n='Hardcase') Hard Case
			span.sheet-Luchador(data-i18n='Luchador') Luchador
			span.sheet-Meddlingkid(data-i18n='Meddlingkid') Meddling Kid
			span.sheet-Sidekick(data-i18n='Sidekick') Sidekick
			span.sheet-Snoop(data-i18n='Snoop') Snoop
			span.sheet-Summoned(data-i18n='Summoned') Summoned
			span.sheet-Traveler(data-i18n='Traveler') Traveler
			span.sheet-Visitor
				+t("Visitor")
			span.sheet-CurseEater
				+translate('Curse-Eater')
			span.sheet-Custom(data-i18n='custom') Custom
			| &nbsp;
			span(data-i18n='move') move
			span.sheet-Hex
				| , 
				span(data-i18n='hex-advance2')
					| or an additional 
					i Rote
			input.sheet-triggerbox(type='checkbox', name='attr_Imp-PlaybookMove-1')
			span.sheet-triggertext
				input(type='text', name='attr_Imp-PlaybookMove-1-Choice')
		+movelegacy("Imp-PlaybookMove-2","")(class="sheet-Constructed sheet-Spooktacular sheet-Actionscientist sheet-Chosen sheet-Crooked sheet-Divine sheet-Expert sheet-Flake sheet-Initiate sheet-Monstrous sheet-Mundane sheet-Professional sheet-Spellslinger sheet-Spooky sheet-Wronged sheet-Gumshoe sheet-Hex sheet-Pararomantic sheet-Searcher sheet-Exile sheet-Hardcase sheet-Luchador sheet-Meddlingkid sheet-Sidekick sheet-Summoned sheet-Traveler sheet-Custom sheet-CurseEater sheet-ActionScientistSSK sheet-Celebrity sheet-Changeling sheet-Covenant sheet-Envoy sheet-Forged sheet-Host sheet-Interface sheet-Visitor")
			span(data-i18n='another') Take another
			|  
			span.sheet-Constructed(data-i18n='constructed') Constructed
			span.sheet-Spooktacular(data-i18n='spooktacular') Spooktacular
			span.sheet-Actionscientist(data-i18n='actionscientist') Action Scientist
			span.sheet-ActionScientistSSK
				+translate("Action Scientist")
			span.sheet-Celebrity
				+t("Celebrity")
			span.sheet-Changeling
				+t("Changeling")
			span.sheet-Covenant
				+t("Covenant")
			span.sheet-Chosen(data-i18n='chosen') Chosen
			span.sheet-Crooked
				input.sheet-SettingCheck(type='hidden', name='attr_Game-World', value='0')
				+translate('Crooked').sheet-Setting-Default.sheet-Setting-Gothic.sheet-Setting-Dreaming.sheet-Setting-Marches
				+translate('Loner').sheet-Setting-Bone
			span.sheet-Divine
				input.sheet-SettingCheck(type='hidden', name='attr_Game-World', value='0')
				+translate('Divine').sheet-Setting-Default.sheet-Setting-Gothic.sheet-Setting-Dreaming.sheet-Setting-Marches
				+translate('Spirit-Touched').sheet-Setting-Bone
			span.sheet-Envoy
				+t("Envoy")
			span.sheet-Expert
				input.sheet-SettingCheck(type='hidden', name='attr_Game-World', value='0')
				+translate('Expert').sheet-Setting-Default.sheet-Setting-Gothic.sheet-Setting-Dreaming.sheet-Setting-Marches
				+translate('Lore-Holder').sheet-Setting-Bone
			span.sheet-Flake(data-i18n='Flake') Flake
			span.sheet-Forged
				+t("Forged")
			span.sheet-Host
				+t("Host")
			span.sheet-Initiate(data-i18n='Initiate') Initiate
			span.sheet-Interface
				+t("Interface")
			span.sheet-Monstrous
				input.sheet-SettingCheck(type='hidden', name='attr_Game-World', value='0')
				+translate('Monstrous').sheet-Setting-Default.sheet-Setting-Gothic.sheet-Setting-Dreaming.sheet-Setting-Marches
				+translate('Other-Folk').sheet-Setting-Bone
			span.sheet-Mundane(data-i18n='Mundane') Mundane
			span.sheet-Professional(data-i18n='Professional') Professional
			span.sheet-Spellslinger(data-i18n='Spellslinger') Spell-Slinger
			span.sheet-Spooky(data-i18n='Spooky') Spooky
			span.sheet-Wronged(data-i18n='Wronged') Wronged
			span.sheet-Gumshoe(data-i18n='Gumshoe') Gumshoe
			span.sheet-Hex(data-i18n='Hex') Hex
			span.sheet-Pararomantic(data-i18n='Pararomantic') Pararomantic
			span.sheet-Searcher(data-i18n='Searcher') Searcher
			span.sheet-Exile(data-i18n='Exile') Exile
			span.sheet-Hardcase(data-i18n='Hardcase') Hard Case
			span.sheet-Hardcase2020(data-i18n='Hardcase') Hard Case
			span.sheet-Luchador(data-i18n='Luchador') Luchador
			span.sheet-Meddlingkid(data-i18n='Meddlingkid') Meddling Kid
			span.sheet-Sidekick(data-i18n='Sidekick') Sidekick
			span.sheet-Snoop(data-i18n='Snoop') Snoop
			span.sheet-Summoned(data-i18n='Summoned') Summoned
			span.sheet-Traveler(data-i18n='Traveler') Traveler
			span.sheet-Visitor
				+t("Visitor")
			span.sheet-CurseEater
				+translate('Curse-Eater')
			span.sheet-Custom(data-i18n='custom') Custom
			| &nbsp;
			span(data-i18n='move') move
			span.sheet-Hex
				| , 
				span(data-i18n='hex-advance2')
					| or an additional 
					i Rote
			input.sheet-triggerbox(type='checkbox', name='attr_Imp-PlaybookMove-2')
			span.sheet-triggertext
				input(type='text', name='attr_Imp-PlaybookMove-2-Choice')
		+movelegacy("Imp-PlaybookMove-Other1","")(class="sheet-Hardcase2020 sheet-Constructed sheet-Spooktacular sheet-Actionscientist sheet-Chosen sheet-Crooked sheet-Divine sheet-Expert sheet-Flake sheet-Initiate sheet-Monstrous sheet-Mundane sheet-Professional sheet-Spellslinger sheet-Spooky sheet-Wronged sheet-Hex sheet-Pararomantic sheet-Searcher sheet-Exile sheet-Hardcase sheet-Luchador sheet-Meddlingkid sheet-Sidekick sheet-Snoop sheet-Summoned sheet-Traveler sheet-Custom sheet-CurseEater sheet-ActionScientistSSK sheet-Celebrity sheet-Changeling sheet-Covenant sheet-Envoy sheet-Forged sheet-Host sheet-Interface sheet-Visitor")
			span(data-i18n='playbook-move') Take a move from another playbook
			input.sheet-triggerbox(type='checkbox', name='attr_Imp-PlaybookMove-Other1')
			span.sheet-triggertext
				input(type='text', name='attr_Imp-PlaybookMove-Other1-Choice')
		+movelegacy("Imp-PlaybookMove-Other2","")(class="sheet-Hardcase2020 sheet-Constructed sheet-Spooktacular sheet-Actionscientist sheet-Chosen sheet-Crooked sheet-Divine sheet-Expert sheet-Flake sheet-Initiate sheet-Monstrous sheet-Mundane sheet-Professional sheet-Spellslinger sheet-Spooky sheet-Wronged sheet-Pararomantic sheet-Searcher sheet-Exile sheet-Hardcase sheet-Luchador sheet-Meddlingkid sheet-Sidekick sheet-Snoop sheet-Summoned sheet-Traveler sheet-Custom sheet-CurseEater sheet-ActionScientistSSK sheet-Celebrity sheet-Changeling sheet-Covenant sheet-Envoy sheet-Forged sheet-Host sheet-Interface sheet-Visitor")
			span(data-i18n='playbook-move') Take a move from another playbook
			input.sheet-triggerbox(type='checkbox', name='attr_Imp-PlaybookMove-Other2')
			span.sheet-triggertext
				input(type='text', name='attr_Imp-PlaybookMove-Other2-Choice')

		// Playbook Specific Options
		+movelegacy("Imp-Ally","")(class="sheet-Constructed sheet-Spooktacular sheet-Actionscientist sheet-Chosen sheet-Crooked sheet-Divine sheet-Pararomantic sheet-Searcher sheet-Exile sheet-Hardcase sheet-Hardcase2020 sheet-Luchador sheet-Meddlingkid sheet-Sidekick sheet-Snoop sheet-Summoned sheet-Traveler sheet-ActionScientistSSK sheet-Celebrity sheet-Changeling sheet-Covenant sheet-Envoy sheet-Host sheet-Visitor")
			span.sheet-Actionscientist
				span(data-i18n='as-team') Gain a team of action scientists under your command.
			span.sheet-ActionScientistSSK
				+translate("Gain an ally team of action scientists")
			span.sheet-Celebrity
				+t("Gain an ally group—an entourage")
			span.sheet-Changeling
				+t("Gain an ally, associated with either the mortal or supernatural worlds")
			span.sheet-Covenant
				+t("You gain a second ally. Pick a different style for them.")
			span.sheet-Envoy
				+t("Your Overseers provide bodyguards. You gain an ally or ally team. Choose their type: mortal operatives, invisible spirits, high-tech drones, or something else.")
			span.sheet-Host
				+t("Gain an ally, either another with a symbiote like yours or someone who helps you manage the condition")
			span.sheet-Visitor
				+t("Gain an ally: alien, local animal, or local friend")
			span.sheet-Crooked
				span(data-i18n='ally') Gain an ally
				| : 
				span(data-i18n='crooked-ally') one of your old crew
			span.sheet-Divine
				span(data-i18n='ally') Gain an ally
				| : 
				input.sheet-SettingCheck(type='hidden', name='attr_Game-World', value='0')
				+translate('Divine-ally').sheet-Setting-Default.sheet-Setting-Gothic.sheet-Setting-Dreaming.sheet-Setting-Marches
				+translate('a lesser spirit being').sheet-Setting-Bone
			span.sheet-Exile
				span(data-i18n='ally') Gain an ally
				| : 
				span(data-i18n='exile-ally') you find one of your old comrades, who has come to join you in the modern day
			span.sheet-Hardcase.sheet-Hardcase2020(data-i18n='hardcase-advance1') Gain command of a team of monster-hunters
			span.sheet-Luchador
				span(data-i18n='ally') Gain an ally
				| : 
				span(data-i18n='luchador-ally') another wrestler who has chosen to fight monsters with you
			span.sheet-Meddlingkid
				span(data-i18n='ally') Gain an ally
				| : 
				span(data-i18n='meddlingkid-ally') someone to join the gang, it may be an animal (most likely a dog or a cat)
			span.sheet-Sidekick
				span(data-i18n='ally') Gain an ally
				| : 
				span(data-i18n='sidekick-ally') another sidekick for your hero, your junior
			span.sheet-Snoop
				span(data-i18n='ally') Gain an ally
				| : 
				span(data-i18n='snoop-ally') possibly one of your existing crew members, or the whole crew as an ally team
			span.sheet-Summoned(data-i18n='summoned-advance1') Gain an ally team of monster-hunters (or monstrous hunters) under your command
			span.sheet-Constructed(data-i18n='constructed-imp1') Gain an ally: you make a friend (literally)
			span.sheet-Spooktacular.sheet-Chosen.sheet-Searcher.sheet-Traveler.sheet-Pararomantic(data-i18n='ally') Gain an ally
		+movelegacy("Imp-ActionSSKLab","")(class="sheet-ActionScientistSSK")
			+t("Get a laboratory with staff, facilities, and instruments suited to your area of study")
		+move("Imp-Celebrity","Choose two topics of occult lore (such as fringe science, ghosts, aliens, or incantations) and take +1 ongoing when using <b>fakelore</b> on those topics")(class="sheet-Celebrity")
		+movelegacy("Imp-Covenant-Contact","Gain one type of contact as if from the Gumshoe’s <b>naked city</b> move").sheet-Covenant
			input.sheet-triggerbox(type='checkbox', name='attr_Imp-Covenant-Contact')
			.sheet-triggerframe.sheet-isolator
				br
				+t('Gumshoe-fixed-move2-continued')
				br
				input(name='attr_Covenant-Details', type='text')
				input.sheet-checkbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-Imp-Covenant-Contact', value='1')
				span.sheet-anglebox
				|  
				span.sheet-ExpHeader(data-i18n='possible-contacts') Possible Contacts
				.sheet-Expander
					input.sheet-SettingCheck(type='hidden', name='attr_Game-World', value='0')
					span(data-i18n='Gumshoe-fixed-move2-examples').sheet-Setting-Default
						| Academics, Accountants, Artists, Bartenders, Clergy, Conspiracy Theorists, Construction, Courts, Criminals (organised), Criminals (street), Cultists, Engineers, Espionage, Film and TV, Forensic Scientists, Fringe Scientists, Hackers, Journalists, Lawyers, Mechanics, Media, Medical Practioners, Military, Morgue, Occult, Police (local), Police (national), Politicians, Prisons, Private Security, Property Developers, Stage Magicians, Technologists, Transportation
					+translate('Academics, Accountants, Artists, Bartenders, Clergy, Conspiracy Theorists, Construction, Courts, Criminals (organised), Criminals (street), Cultists, Espionage, Forensic Scientists, Fringe Scientists, Journalists, Lawyers, Mechanics, Media, Medical Practioners, Military, Morgue, Occult, Police (local), Police (national), Politicians, Prisons, Private Security, Property Developers, Stage Magicians, Theater, Tinkers, Transportation').sheet-Setting-Gothic
					+translate('Academics, Accountants, Artists, Bartenders, Clergy, Conspiracy Theorists, Construction, Courts, Courtiers, Criminals (organised), Criminals (street), Cultists, Dream Alchemists, Engineers, Espionage, Forensic Scientists, Fringe Scientists, Hackers, Journalists, Lawyers, Mechanics, Media, Medical Practioners, Merchants, Military, Morgue, Musketeers, Occult, Politicians, Prisons, Private Security, Property Developers, Stage Magicians, Technologists, Theatre, Town Guards, Transportation').sheet-Setting-Dreaming
					+translate('Scholars, Scribes, Artists, Bartenders, Builders, Healers, Magistrates, Wild cultists, Secret agents, Criminals, Engineers, Lawyers, Marches Guard, Carters').sheet-Setting-Marches

		+movelegacy("Imp-Haven","")(class="sheet-Actionscientist sheet-Flake sheet-Monstrous sheet-Wronged sheet-Gumshoe sheet-Hex sheet-Luchador sheet-Snoop sheet-Spooky sheet-Host")
			span.sheet-Wronged.sheet-Flake.sheet-Monstrous.sheet-Hex.sheet-Luchador.sheet-Host
				input.sheet-SettingCheck(type='hidden', name='attr_Game-World', value='0')
				span.sheet-Setting-Default.sheet-Setting-Gothic.sheet-Setting-Dreaming.sheet-Setting-Marches(data-i18n='luchador-advance1')
						| Gain a Haven, like the 
						i Expert
						| , with two options
			span.sheet-Wronged
				input.sheet-SettingCheck(type='hidden', name='attr_Game-World', value='0')
				span.sheet-Setting-Bone
					+translate('Gain a Haven, like the <i>Lore-Holder</i>, with two options.')
			span.sheet-Gumshoe(data-i18n='Gumshoe-advance2')
				| Gain a Haven (your office, perhaps), like the 
				i Expert
				| , with two options
			span.sheet-Snoop(data-i18n='snoop-advance1')
				| Gain a Haven, like the 
				i Expert
				| , with one option plus a film lab
			span.sheet-Actionscientist(data-i18n='as-haven') Gain a haven, like the Expert has, with a Workshop and one other option.
			span.sheet-Spooky
				input.sheet-SettingCheck(type='hidden', name='attr_Game-World', value='0')
				span.sheet-Setting-Default.sheet-Setting-Gothic.sheet-Setting-Dreaming.sheet-Setting-Marches
					span(data-i18n='Spooky-advance2')
						| Gain a Mystical Library, like the Haven option of the 
						i Expert
				span.sheet-Setting-Bone
					+translate('Gain a ritual space, like the Haven option of the <i>Lore-Holder</i>.')
			input.sheet-triggerbox(type='checkbox', name='attr_Imp-Haven')
			span.sheet-triggertext
				input(type='text', name='attr_Imp-Haven-Choice')
		+movelegacy("Imp-HavenOpt1","")(class="sheet-Expert sheet-Flake sheet-Wronged")
			span(data-i18n='expert-advance1') Add a Haven option
				input.sheet-triggerbox(type='checkbox', name='attr_Imp-HavenOpt1')
			span.sheet-triggertext
				input(type='text', name='attr_Imp-HavenOpt1-Choice')
		+movelegacy("Imp-HavenOpt2","")(class="sheet-Expert")
			span(data-i18n='expert-advance1') Add a Haven option
				input.sheet-triggerbox(type='checkbox', name='attr_Imp-HavenOpt2')
			span.sheet-triggertext
				input(type='text', name='attr_Imp-HavenOpt2-Choice')
		+movelegacy("Imp-Show","")(class="sheet-Spooktacular")
			span(data-i18n='spooktacular-imp1') Take another Show option
			input.sheet-triggerbox(type='checkbox', name='attr_Imp-Show')
			span.sheet-triggertext
				input(type='text', name='attr_Imp-Show-Choice')
		+movelegacy("Imp-2ndForce","")(class="sheet-Constructed")
			span(data-i18n='constructed-imp2') Adjust your needs: mark a second animating force
		+movelegacy("Imp-Stash","")(class="sheet-Crooked")
			input.sheet-SettingCheck(type='hidden', name='attr_Game-World', value='0')
			// Recover a stash of money from the old days, enough to live without care for a year or two
			+translate('crooked-advance1').sheet-Setting-Default.sheet-Setting-Gothic.sheet-Setting-Dreaming.sheet-Setting-Marches
			+translate('Recover a stash of valuables. Take 15-wear worth of fancy items (mostly jewellery).').sheet-Setting-Bone
		+movelegacy("Imp-4Contacts","")(class="sheet-Gumshoe")
			span(data-i18n='Gumshoe-advance3')
				| Add four additional or new contacts for 
				i Naked City
		+movelegacy("Imp-CommandSect","")(class="sheet-Initiate")
			span(data-i18n='Initiate-advance1') Get command of your chapter of the Sect
		+movelegacy("Imp-TeamSect","")(class="sheet-Initiate")
			span(data-i18n='Initiate-advance2') Get a Sect team under your command
		+movelegacy("Imp-NaturalAttacks","")(class="sheet-Monstrous")
			span(data-i18n='Monstrous-advance2') Take a natural attacks pick
		+movelegacy("Imp-AgencyChange","")(class="sheet-Professional")
			span(data-i18n='Professional-advance1')
				| Add a new Resource tag 
				i or
				|  change a Red Tape tag for your Agency
		+movelegacy("Imp-AgencyTeam","")(class="sheet-Professional")
			span(data-i18n='Professional-advance2') Get command of an Agency team of monster hunters
		+movelegacy("Imp-CombatMagicPick","")(class="sheet-Spellslinger")
			span(data-i18n='Spellslinger-advance1')
				| Take another 
				i Combat Magic
				|  pick
		+movelegacy("Imp-DarkChange","")(class="sheet-Spooky")
			span(data-i18n='Spooky-advance1') Change some, or all, of your Dark Side tags
		+movelegacy("Imp-HexRote1","")(class="sheet-Hex")
			span(data-i18n='hex-advance1')
				| Take another 
				i Rote
		+movelegacy("Imp-HexRote2","")(class="sheet-Hex")
			span(data-i18n='hex-advance1')
				| Take another 
				i Rote
		+movelegacy("Imp-HexRote3","")(class="sheet-Hex")
			span(data-i18n='hex-advance1')
				| Take another 
				i Rote
		+movelegacy("Imp-SecondEncounter","")(class="sheet-Searcher")
			span(data-i18n='searcher-advance1')
				| Take a second 
				i First Encounter
				|  move, based on a recent mystery
		+movelegacy("Imp-TimeCache","")(class="sheet-Exile")
			span(data-i18n='exile-advance1')
				| Find a cache of objects left for you by your comrades in the past. The Keeper will decide what&apos;s in it, but it will be things that they expected you would need in the future
		+movelegacy("Imp-Luck1","")(class="sheet-Meddlingkid sheet-Mundane")
			input.sheet-SettingCheck(type='hidden', name='attr_Game-World', value='0')
			span(data-i18n='erase-luck').sheet-Setting-Default.sheet-Setting-Gothic.sheet-Setting-Dreaming.sheet-Setting-Marches
				| Erase one used 
				i Luck
				|  point
			span.sheet-Setting-Bone
				+translate('Erase one used <i>Favour</i> point')
		+movelegacy("Imp-Luck2","")(class="sheet-Mundane")
			input.sheet-SettingCheck(type='hidden', name='attr_Game-World', value='0')
			span(data-i18n='erase-luck').sheet-Setting-Default.sheet-Setting-Gothic.sheet-Setting-Dreaming.sheet-Setting-Marches
				| Erase one used 
				i Luck
				|  point
			span.sheet-Setting-Bone
				+translate('Erase one used <i>Favour</i> point')
		+movelegacy("Imp-Sect","")(class="sheet-Summoned")
			span(data-i18n='summoned-advance2')
				| Get a position in a Sect, like the 
				i Initiate
				| . Describe the Sect and its Traditions (or join a Sect that already exists in your game). Gain the move for 
				i when you are in good standing with your Sect
		+movelegacy("Imp-Dying","")(class="sheet-Gumshoe sheet-Hardcase sheet-Hardcase2020")
			span(data-i18n='hardcase-advance2') Add an extra harm box on the Dying side
		+movelegacy("Imp-Sidekick-ChangePlaybook","")(class="sheet-Sidekick")
			span(data-i18n='sidekick-advance1')
				| Change playbooks to the same as your hero (overrides the rule that only one of each playbook may be in play)
		+move('CurseEaterImprovement','Clear all corruption, without clearing consumed magics. Don’t erase the excess magics now, but you can’t gain more until you release some of them.')(class="sheet-CurseEater")
		+movelegacy("Imp-Changeling-AdvancedWeird","Mark <b>use magic</b> (or your alternate Weird move) as advanced")(class="sheet-Changeling")
		input.sheet-triggerbox(type='checkbox', name='attr_Imp-Changeling-AdvancedWeird')
		.sheet-triggerframe
			.sheet-advmoves
				include improvements-basics-adv-weird.pug
		+move("Imp-Envoy","Pick a second resource item from the Envoy’s gear options")(class="sheet-Envoy")
		+move("Imp-Envoy","Change your Task to another option")(class="sheet-Envoy")
		+move("Imp-Forged","Pick another benefit for your weapon form")(class="sheet-Forged")
		+move("Imp-Forged","You can choose to count your current wielder as your <b>partner</b> for the purpose of your moves. Your chosen partner still counts as well.")(class="sheet-Forged")
		+move("Imp-Host","Take another benefit from Symbiosis")(class="sheet-Host")
		+move("Imp-Host","Gain another option from <b>defensive adaptation</b>")(class="sheet-Host")
		+move("Imp-Interface","Add, remove, or change three tags on gear. May be distributed between multiple pieces of gear.")(class="sheet-Interface")
		+move("Imp-Interface","Add, remove, or change three tags on gear. May be distributed between multiple pieces of gear.")(class="sheet-Interface")
		+move("Imp-Visitor","Repair the vehicle that brought you here so it can safely enter a vacuum and travel in space")(class="sheet-Visitor")

		+movelegacy("Imp-Custom1","")(class="sheet-Custom")
				input(type='text', name='attr_Imp-Custom1-Desc', style='width: 80%')
		+movelegacy("Imp-Custom2","")(class="sheet-Custom")
				input(type='text', name='attr_Imp-Custom2-Desc', style='width: 80%')

		// ADVANCED Improvements
		.sheet-MinorHead.sheet-space-above
			span(data-i18n='advanced') Advanced
			|  
			span(data-i18n='improvements') Improvements
		div
			span(data-i18n='advanced-improvements')
		input.sheet-checkbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-Improvements-Hider', value='1', checked='')
		span.sheet-anglebox
		|  
		span.sheet-ExpHeader
			span(data-i18n='unused') Unused
		input.sheet-SettingCheck(type='hidden', name='attr_Game-World', value='0')
		.sheet-Setting-Gothic
			input.sheet-DarkPastCheck(type='hidden', name='attr_DarkPast', value='0')
			.sheet-DarkPast-Curse
				input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-Improvements-Hider', value='1', checked='')
				+move('Gothic-Curse-Advanced-Improve','I break my curse')
		+movelegacy("AdvImp-Any-1","")(class="sheet-Hardcase2020 sheet-Constructed sheet-Spooktacular sheet-Actionscientist sheet-Chosen sheet-Crooked sheet-Divine sheet-Expert sheet-Flake sheet-Initiate sheet-Monstrous sheet-Mundane sheet-Professional sheet-Spellslinger sheet-Spooky sheet-Wronged sheet-Gumshoe sheet-Hex sheet-Pararomantic sheet-Searcher sheet-Exile sheet-Hardcase sheet-Luchador sheet-Meddlingkid sheet-Sidekick sheet-Snoop sheet-Summoned sheet-Traveler sheet-Custom sheet-CurseEater sheet-ActionScientistSSK sheet-Celebrity sheet-Changeling sheet-Covenant sheet-Envoy sheet-Forged sheet-Host sheet-Interface sheet-Visitor")
			| +1 
			span(data-i18n='rating') to any rating
			|  (
			span(data-i18n='max') max
			|  +3) 
			input.sheet-triggerbox(type='checkbox', name='attr_AdvImp-Any-1')
			span.sheet-triggertext
				input(type='text', name='attr_AdvImp-Any-1-Choice')
		+movelegacy("AdvImp-ChangePB","")(class="sheet-Hardcase2020 sheet-Constructed sheet-Spooktacular sheet-Actionscientist sheet-Chosen sheet-Crooked sheet-Divine sheet-Expert sheet-Flake sheet-Initiate sheet-Monstrous sheet-Mundane sheet-Professional sheet-Spellslinger sheet-Spooky sheet-Wronged sheet-Gumshoe sheet-Hex sheet-Pararomantic sheet-Searcher sheet-Exile sheet-Hardcase sheet-Luchador sheet-Meddlingkid sheet-Sidekick sheet-Snoop sheet-Summoned sheet-Traveler sheet-Custom sheet-CurseEater sheet-ActionScientistSSK sheet-Celebrity sheet-Changeling sheet-Covenant sheet-Envoy sheet-Forged sheet-Host sheet-Interface")
			span(data-i18n='new-playbook') Change playbooks
		+movelegacy("AdvImp-ChangePB","").sheet-Visitor
			+t("This is my home now, and I’ll protect it. Change this hunter to a new playbook.")
		+movelegacy("AdvImp-2ndHunter","")(class="sheet-Hardcase2020 sheet-Constructed sheet-Spooktacular sheet-Actionscientist sheet-Chosen sheet-Crooked sheet-Divine sheet-Expert sheet-Flake sheet-Initiate sheet-Monstrous sheet-Mundane sheet-Professional sheet-Spellslinger sheet-Spooky sheet-Wronged sheet-Gumshoe sheet-Hex sheet-Pararomantic sheet-Searcher sheet-Exile sheet-Hardcase sheet-Luchador sheet-Meddlingkid sheet-Sidekick sheet-Snoop sheet-Summoned sheet-Traveler sheet-Custom sheet-CurseEater sheet-ActionScientistSSK sheet-Celebrity sheet-Changeling sheet-Covenant sheet-Envoy sheet-Forged sheet-Host sheet-Interface sheet-Visitor")
			span(data-i18n='second-hunter') Create a second hunter to play
		+move("AdvImp-Host","Create a second hunter by symbiotic fission: they are either a non-human hunter or a symbiote bonded to another Host").sheet-Host
		+movelegacy("AdvImp-Forged-AdvBasic","").sheet-Forged
			span(data-i18n='basic-moves') Advance 2 basic moves
		+movelegacy("AdvImp-AdvBasic","")(class="sheet-Hardcase2020 sheet-Constructed sheet-Spooktacular sheet-Actionscientist sheet-Chosen sheet-Crooked sheet-Divine sheet-Expert sheet-Flake sheet-Initiate sheet-Monstrous sheet-Mundane sheet-Professional sheet-Spellslinger sheet-Spooky sheet-Wronged sheet-Gumshoe sheet-Hex sheet-Pararomantic sheet-Searcher sheet-Exile sheet-Hardcase sheet-Luchador sheet-Meddlingkid sheet-Sidekick sheet-Snoop sheet-Summoned sheet-Traveler sheet-Custom sheet-CurseEater sheet-ActionScientistSSK sheet-Celebrity sheet-Changeling sheet-Covenant sheet-Envoy sheet-Host sheet-Interface sheet-Visitor")
			span(data-i18n='basic-moves') Advance 2 basic moves
		input.sheet-triggerbox(type='checkbox', name='attr_AdvImp-AdvBasic')
		+movelegacy("AdvImp-AdvBasic2","")(class="sheet-triggerframe")
			span(data-i18n='basic-moves-more') Advance 2 more basic moves
		include improvements-basics-adv.pug
		+movelegacy("AdvImp-Forged-AdvBasic-Wield","Choose an advanced move you have. Anyone wielding you treats that move as advanced.").sheet-Forged
			input.sheet-triggerbox(type='checkbox', name='attr_AdvImp-Forged-AdvBasic-Wield')
			span.sheet-triggertext
				input(type="text", name="attr_AdvImp-Forged-AdvBasic-Wield-AdvMoves")
		input.sheet-triggerbox(type='checkbox', name='attr_AdvImp-Forged-AdvBasic-Wield')
		span.sheet-triggertext
			+movelegacy("AdvImp-Forged-AdvBasic-Wield-Another","Choose another advanced move you have. Anyone wielding you treats that move as advanced.")
				input.sheet-triggerbox(type='checkbox', name='attr_AdvImp-Forged-AdvBasic-Wield-Another')
				span.sheet-triggertext
					input(type="text", name="attr_AdvImp-Forged-AdvBasic-Wield-AdvMoves")
		+movelegacy("AdvImp-Retire","")(class="sheet-Hardcase2020 sheet-Constructed sheet-Spooktacular sheet-Actionscientist sheet-Chosen sheet-Crooked sheet-Divine sheet-Expert sheet-Flake sheet-Initiate sheet-Monstrous sheet-Mundane sheet-Professional sheet-Spellslinger sheet-Spooky sheet-Wronged sheet-Gumshoe sheet-Hex sheet-Pararomantic sheet-Searcher sheet-Exile sheet-Hardcase sheet-Luchador sheet-Meddlingkid sheet-Sidekick sheet-Snoop sheet-Summoned sheet-Traveler sheet-Custom sheet-CurseEater sheet-ActionScientistSSK sheet-Celebrity sheet-Changeling sheet-Covenant sheet-Envoy sheet-Forged sheet-Host sheet-Interface")
			span(data-i18n='retire') Retire this hunter to safety
			| . 
			span.sheet-Exile(data-i18n='exile-return') Optionally, you may return home to the past
		// Playbook-Specific Choices
		+move("AdvImp-Celebrity","Retire this hunter to increased fame")(class="sheet-Celebrity")
		+move("AdvImp-Interface","Retire as an uploaded consciousness. Are you now a threat, an ally, or wholly disinterested in meatspace?")(class="sheet-Interface")
		+movelegacy("AdvImp-Luck1","")(class="sheet-Hardcase2020 sheet-Constructed sheet-Spooktacular sheet-Actionscientist sheet-Chosen sheet-Crooked sheet-Divine sheet-Expert sheet-Flake sheet-Initiate sheet-Monstrous sheet-Mundane sheet-Professional sheet-Spellslinger sheet-Spooky sheet-Wronged sheet-Gumshoe sheet-Hex sheet-Searcher sheet-Exile sheet-Hardcase sheet-Luchador sheet-Meddlingkid sheet-Sidekick sheet-Snoop sheet-Summoned sheet-Traveler sheet-CurseEater sheet-ActionScientistSSK sheet-Celebrity sheet-Changeling sheet-Envoy sheet-Host")
			input.sheet-SettingCheck(type='hidden', name='attr_Game-World', value='0')
			span(data-i18n='erase-luck').sheet-Setting-Default.sheet-Setting-Gothic.sheet-Setting-Dreaming.sheet-Setting-Marches
				| Erase one used 
				i Luck
				|  point
			span.sheet-Setting-Bone
				+translate('Erase one used <i>Favour</i> point')
		+movelegacy("AdvImp-Luck2","")(class="sheet-Mundane sheet-Searcher")
			input.sheet-SettingCheck(type='hidden', name='attr_Game-World', value='0')
			span(data-i18n='erase-luck').sheet-Setting-Default.sheet-Setting-Gothic.sheet-Setting-Dreaming.sheet-Setting-Marches
				| Erase one used 
				i Luck
				|  point
			span.sheet-Setting-Bone
				+translate('Erase one used <i>Favour</i> point')
		+movelegacy("AdvImp-MakeItBig","")(class="sheet-Snoop")
			span(data-i18n='snoop-advance2') Make it big. You&apos;re a superstar now!
		+movelegacy("AdvImp-TravelingShow","")(class="sheet-Spooktacular")
			span(data-i18n='spooktacular-advimp1')
				| Get your own traveling show. maybe you take over your old one, maybe you start anew.
		+movelegacy("AdvImp-Human","")(class="sheet-Constructed")
			span(data-i18n='constructed-advimp1') Become human, and change to a new type.
		+movelegacy("AdvImp-DoomClear","")(class="sheet-Chosen")
			span(data-i18n='chosen-advance1')
				| Delete a 
				i Doom
				|  tag, and (optionally) also delete a 
				i Heroic
				|  tag
		+movelegacy("AdvImp-MissionChange","")(class="sheet-Divine")
			input.sheet-SettingCheck(type='hidden', name='attr_Game-World', value='0')
			+translate('Divine-advance1').sheet-Setting-Default.sheet-Setting-Gothic.sheet-Setting-Dreaming.sheet-Setting-Marches
				| Change your 
				i Mission
				| . Select a different option from the Mission list, or (with the Keeper&apos;s agreement) create a new mission
			+translate('Change the nature of your obligation. Select a new obligation from the normal options or (with the Keeper’s agreement) a new obligation of your own creation.').sheet-Setting-Bone
		+movelegacy("AdvImp-LeadSect","")(class="sheet-Initiate")
			span(data-i18n='Initiate-advance3') Become the leader, or effective leader, of the whole Sect
		+movelegacy("AdvImp-CurseFreed","")(class="sheet-Monstrous")
			span(data-i18n='Monstrous-advance3')
				| Free yourself from your kind&apos;s curse, it no longer affects you; but you lose 1 Weird
			br
		+movelegacy("AdvImp-EvilAgain","")(class="sheet-Monstrous")
			span(data-i18n='Monstrous-advance4')
				| Turn evil (again?). Retire this character, they become one of the Keeper&apos;s threats
		+movelegacy("AdvImp-AgencyHired","")(class="sheet-Professional")
			span(data-i18n='Professional-advance3')
				| Get some or all of the other players&apos; hunters hired by your Agency. They get the 
				i deal with the agency
				|  move, as well as salary and benefits
		+movelegacy("AdvImp-CombatMagicPick","")(class="sheet-Spellslinger")
			span(data-i18n='Spellslinger-advance1')
				| Take another 
				i Combat Magic
				|  pick
		+movelegacy("AdvImp-LessTools","")(class="sheet-Spellslinger")
			span(data-i18n='Spellslinger-advance2')
				| You may cross off another option from your 
				i Tools and Techniques
		+movelegacy("AdvImp-DarkPrice","")(class="sheet-Spooky")
			span(data-i18n='Spooky-advance3') You discover how to use your powers at a lower price, delete one Dark Side tag
		+movelegacy("AdvImp-TrackDown","")(class="sheet-Wronged")
			span(data-i18n='Wronged-advance3')
				| You track down the specific monster(s) responsible for your loss; the Keeper must make the next mystery about them
		+movelegacy("AdvImp-VengeChange","")(class="sheet-Wronged")
			span(data-i18n='Wronged-advance4')
				| Change the target of your vengeful rage; replace the monster breed in 
				i My Prey
				|  with a new one
		+movelegacy("AdvImp-Ally","")(class="sheet-Gumshoe")
			span(data-i18n='Gumshoe-advance4') Turn one of your contacts into an ally
		+movelegacy("AdvImp-TwoRotes","")(class="sheet-Hex")
			span(data-i18n='hex-advance4')
				| Take another two 
				i Rotes
		+movelegacy("AdvImp-AdvHex","")(class="sheet-Hex")
			span(data-i18n='hex-advance5')
				| Choose one 
				i Advanced Hex Move
		+movelegacy("AdvImp-Para1","")(class="sheet-Pararomantic")
			span(data-i18n='pararomantic-advance1')
				| Take a second 
				i Gift
				|  from your 
				i Guide
				|  or add another property to an existing gift
		+movelegacy("AdvImp-Para2","")(class="sheet-Pararomantic")
			span(data-i18n='pararomantic-advance2')
				| Change your 
				i Guide
				| , as you fall for another supernatural being
		+movelegacy("AdvImp-Para3","")(class="sheet-Pararomantic")
			span(data-i18n='pararomantic-advance3')
				| Gain a second 
				i Guide
				| . Track the 
				i Relationship Status
				|  of both Guides separately. Both Guides initially hate each other, but this could change through play. All moves that applied to your original 
				i Guide
				|  can now apply to either one
		+movelegacy("AdvImp-Para4","")(class="sheet-Pararomantic")
			span(data-i18n='pararomantic-advance4')
				| Erase all marks from the 
				i Relationship Status
				|  track(s)
		+movelegacy("AdvImp-FirstEncounter-Resolve","")(class="sheet-Searcher")
			span(data-i18n='searcher-advance2')
				| Resolve your 
				i First Encounter
				| . The Keeper makes the next mystery about this event, and should try to answer all remaining questions about it during the mystery (although there are sure to be new threads to investigate after...)
		+movelegacy("AdvImp-Dying","")(class="sheet-Hardcase sheet-Hardcase2020")
			span(data-i18n='hardcase-advance2') Add an extra harm box on the Dying side
		+movelegacy("AdvImp-Fire","")(class="sheet-Hardcase2020")
			span(data-i18n='hardcase2020-advance1') Your Fire track increases to 13 boxes.
		+movelegacy("AdvImp-Gateway","")(class="sheet-Exile")
			span(data-i18n='exile-advance2')
				| When you 
				i use magic
				| , you may choose to &apos;create a gateway between the modern world and my home&apos; as an effect. You cannot control who uses the gateway or exactly where it opens at the other end
		+movelegacy("AdvImp-Herochange","")(class="sheet-Sidekick")
			span(data-i18n='sidekick-advance2') Change your hero; pick another hunter to be your new hero
		+movelegacy("AdvImp-Summoned-ReEvil","")(class="sheet-Summoned")
			span(data-i18n='summoned-advance3')
				| Turn evil (again?). Retire this character, they become one of the Keeper&apos;s threats
		+movelegacy("AdvImp-Summoned-ApocalypseRewind","")(class="sheet-Summoned")
			span(data-i18n='summoned-advance4') Undo one sign of the Apocalypse
		+movelegacy("AdvImp-Traveler-ServantDel","")(class="sheet-Traveler")
			span(data-i18n='traveler-advance1')
				| Delete the move 
				i Servant of Technology
				| . You have learnt to deal with the supernatural, no longer receiving any penalties for it
		+move('CurseEaterAdvImprovement','Make a consumed magic into a permanent custom move (with the group’s agreement), then clear it.')(class="sheet-CurseEater")
		+move('CurseEaterAdvImprovement','Clear all corruption, without clearing consumed magics. Don’t erase the excess magics now, but you can’t gain more until you release some of them.')(class="sheet-CurseEater")
		+move("AdvImp-ActionScientistSSK","Get +1 Cool, max +3")(class="sheet-ActionScientistSSK")
		+move("AdvImp-ActionScientistSSK","New interest: add a second area of study")(class="sheet-ActionScientistSSK")
		+move("AdvImp-Changeling","Remove one Unknown Heritage tag. You’ve now integrated well enough to avoid issues.")(class="sheet-Changeling")
		+move("AdvImp-Changeling","Your character retires to a position of supernatural responsibility, preventing their involvement in mortal matters.")(class="sheet-Changeling")
		+movelegacy("AdvImp-Changeling-FindHome","You find a home. Pick one:")(class="sheet-Changeling")
			input.sheet-inverted-triggerbox(type='checkbox', name='attr_AdvImp-Changeling-FindHome')
			.sheet-triggerframe
				ul
					li
						+t("A human group that has accepted you for what you are. Create as the Professional’s Agency, with one resource and one red tape.")
					li
						+t("You’ve been welcomed into a group of your supernatural heritage. Create as the Initiate’s Sect, with one good tradition and one bad tradition.")
					li
						+t("You’ve claimed a supernatural realm. Create as the Expert’s haven, with two options. You may use magic to access this realm from any location.")
			input.sheet-triggerbox(type='checkbox', name='attr_AdvImp-Changeling-FindHome')
			.sheet-triggerframe
				input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-Improvements-Hider', value='1', checked='')
				+movelegacy("Imp-Agency","A human group that has accepted you for what you are. Create as the Professional’s Agency, with one resource and one red tape.")
				input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-Improvements-Hider', value='1', checked='')
				+movelegacy("Imp-Sect","You’ve been welcomed into a group of your supernatural heritage. Create as the Initiate’s Sect, with one good tradition and one bad tradition.")
				input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-Improvements-Hider', value='1', checked='')
				+movelegacy("Imp-Haven","You’ve claimed a supernatural realm. Create as the Expert’s haven, with two options. You may use magic to access this realm from any location.")
		+move("AdvImp-Celebrity","Your fame skyrockets, bringing you lots of new benefits and obligations to match")(class="sheet-Celebrity")
		+move("AdvImp-Covenant","Your Covenant now works twice per session")(class="sheet-Covenant")
		+move("AdvImp-Covenant","Create a hunter based on one of your allies to play in addition to this one. If you die, they have +1 ongoing on tasks leading toward avenging or resurrecting the Covenant.")(class="sheet-Covenant")
		+move("AdvImp-Envoy","Pick a secondary Task as well as your first")(class="sheet-Envoy")
		+move("AdvImp-Envoy","Change any or all of the Overseers’ Values and Concerns. What’s changed?")(class="sheet-Envoy")
		+move("AdvImp-Forged","Choose to be either human or weapon permanently from now on. Either retire to safety or change playbooks.")(class="sheet-Forged")
		+move("AdvImp-Forged","Get a second <b>partner</b>")(class="sheet-Forged")
		+move("AdvImp-Forged","You are able to wield yourself in weapon form, either by magical flight or manifesting a spectral figure to hold you. This frees up your wielder to do other things, while you fight on your own.")(class="sheet-Forged")
		+move("AdvImp-Host","Add a third option to your haven")(class="sheet-Host")
		+move("AdvImp-Host","Take another benefit from Symbiosis")(class="sheet-Host")
		+movelegacy("Imp-Haven","Get a haven like the Expert with <b>workshop</b>, <b>supercomputer</b>, and two other options")(class="sheet-Interface")
		+move("AdvImp-Interface","Add an Upgrade or change a Fault")(class="sheet-Interface")
		+move("AdvImp-Interface","Add the “integrated” and “blatant” tags (SSK page 188) to a piece of wearable or handheld gear")(class="sheet-Interface")
		+move("AdvImp-Interface","Add the “retractable” tag (SSK page 188) to a piece of wearable or handheld gear")(class="sheet-Interface")
		+move("AdvImp-Visitor","This is my home now, and I need to rest. Retire this hunter to safety, on Earth.")(class="sheet-Visitor")
		+move("AdvImp-Visitor","This was just an adventure, and now it’s over. Retire this hunter to safety back on your homeworld.")(class="sheet-Visitor")
		+move("AdvImp-Visitor","Establish official, friendly contact between Earth and your people")(class="sheet-Visitor")
		+movelegacy("AdvImp-Custom1","")(class="sheet-Custom")
				input(type='text', name='attr_Advance-Custom1', style='width: 80%')
		+movelegacy("AdvImp-Custom2","")(class="sheet-Custom")
				input(type='text', name='attr_Advance-Custom2', style='width: 80%')
	// Expander