.sheet-KInstructions
	input.sheet-checkbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-KInstructions', value='1')
	span.sheet-anglebox
	span.sheet-MinorHead(data-i18n='instructions') Instructions
	.sheet-Expander(data-i18n='instructions-list')
		ul
			li Click +Add to add a new entity.
			li Click Modify to delete or rearrange the order of those entities.
			li Set the type, which will then activate the data fields.
			li
				| Once you&apos;re done editing, hide the edit controls for an attractively formatted experience!
