.sheet-Keeper
	include keeper-reference.pug
	input.sheet-Atonement-Hider(type='hidden', name='attr_Mystery-Type', value='')
	.sheet-kflex
		fieldset.repeating_kitems
			div
				include keeper-mystery-sheet-type-header.pug
				input.sheet-checkbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-Entity-Hider', value='1', checked='')
				span.sheet-anglebox
				span.sheet-ExpHeader
				.sheet-Expander
					input.sheet-checkbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-Edit-Hider', value='1', checked='')
					span.sheet-anglebox
					span.sheet-ExpHeader
						span(data-i18n='edit') Edit
					.sheet-EditControls.sheet-Expander
						include keeper-mystery-entity-edit.pug
					// Edit Controls End
					include keeper-mystery-entity-display.pug
				// End Entity Expander
		include keeper-mystery-instructions.pug
	// kflex
// End Keeper Mystery Sheet
