input.sheet-checkbox.sheet-RefToggle(type='checkbox', name='attr_Toggle-KRef', value='1')
span.sheet-anglebox
span.sheet-MinorHead(data-i18n='keeper-ref') Keeper&apos;s Reference
.sheet-Reference
	.sheet-isolator
		input.sheet-checkbox.sheet-RefToggle(type='checkbox', name='attr_Toggle-keeper-agenda', value='1')
		span.sheet-anglebox
		span.sheet-MinorHead(data-i18n='keeper-agenda') Keeper Agenda
		.sheet-Reference(data-i18n='keeper-agenda-kref')
			ul
				li
					| Make the world seem real
				li
					| Play to see what happens
				li
					| Make hunters&apos; lives dangerous &amp; scary
	// End Agenda
	.sheet-isolator
		input.sheet-checkbox.sheet-RefToggle(type='checkbox', name='attr_Toggle-principles', value='1')
		span.sheet-anglebox
		span.sheet-MinorHead(data-i18n='principles') Principles
		.sheet-Reference(data-i18n='principles-kref')
			ul
				li
					| Put horror in everyday situations
				li
					| Address the hunters, not the players
				li
					| Use the Keeper moves, without names
				li
					| Be a fan of the hunters
				li
					| Build a coherent mythology in play
				li
					| Nothing is safe
				li
					| Name everyone they meet, make them seem like normal folks
				li
					| Ask questions and build on the answers
				li
					| Sometimes give them exactly what they earned, rather than all they wanted
				li
					| What&apos;s happening off-screen?
				li
					| Don&apos;t always decide what happens
				li
					| Everything is a threat
	// End Principles
	.sheet-isolator
		input.sheet-checkbox.sheet-RefToggle(type='checkbox', name='attr_Toggle-always-say', value='1')
		span.sheet-anglebox
		span.sheet-MinorHead(data-i18n='always-say') Always Say...
		.sheet-Reference(data-i18n='always-say-kref')
			ul
				li
					| What the principles demand
				li
					| What the rules demand
				li
					| What your preparation demands
				li
					| What honesty demands
	// End Always Say
	.sheet-isolator
		input.sheet-checkbox.sheet-RefToggle(type='checkbox', name='attr_Toggle-basic-keeper-moves', value='1')
		span.sheet-anglebox
		span.sheet-MinorHead(data-i18n='basic-keeper-moves') Basic Keeper Moves
		.sheet-Reference(data-i18n='basic-keeper-moves-kref')
			ul
				li
					| Separate them
				li
					| Reveal future badness
				li
					| Reveal off-screen badness
				li
					| Inflict harm, as established
				li
					| Make them investigate
				li
					| Make them acquire stuff
				li
					| Tell the possible consequences and ask if they want to go ahead
				li
					| Turn their move back on them
				li
					| Offer an opportunity, &amp; maybe a cost
				li
					| Take away some of the hunters&apos; stuff
				li
					| Put someone in trouble
				li
					| Make a threat move, from one of your mystery or arc threats
				li
					| After every move, ask what they do next
	// End Keeper Moves
	.sheet-isolator
		input.sheet-checkbox.sheet-RefToggle(type='checkbox', name='attr_Toggle-harm-moves', value='1')
		span.sheet-anglebox
		span.sheet-MinorHead(data-i18n='harm-moves') Harm Moves
		.sheet-Reference(data-i18n='harm-moves-kref')
			| Every time anyone gets hurt, use one.
			| 0-harm or more:
			ul
				li
					| Momentarily inhibited
				li
					| Drop something
				li
					| Take -1 forward
			| 1-harm or more:
			ul
				li
					| Fall down
				li
					| Take -1 ongoing
				li
					| Pass out
				li
					| Intense pain
			| Unstable wounds:
			ul
				li
					| +1 harm
				li
					| 8-harm or more:
				li
					| Dying or dead.
	// End Harm Moves
	.sheet-isolator
		input.sheet-checkbox.sheet-RefToggle(type='checkbox', name='attr_Toggle-monster-moves', value='1')
		span.sheet-anglebox
		span.sheet-MinorHead(data-i18n='monster-moves') Monster Moves
		.sheet-Reference(data-i18n='monster-moves-kref')
			ul
				li
					| Hint at its presence
				li
					| Display its full might
				li
					| Appear suddenly
				li
					| Attack with great force and fury
				li
					| Seize someone or something
				li
					| Attack with stealth and calculation
				li
					| Order underlings to do terrible acts
				li
					| Destroy something
				li
					| Escape, no matter how well contained
				li
					| Give chase
				li
					| Return to home ground
				li
					| Boast and gloat, maybe revealing a secret
				li
					| Return from seeming destruction
				li
					| Use an unnatural power
	// End Monster Moves
	.sheet-isolator
		input.sheet-checkbox.sheet-RefToggle(type='checkbox', name='attr_Toggle-minion-moves', value='1')
		span.sheet-anglebox
		span.sheet-MinorHead(data-i18n='minion-moves') Minion Moves
		.sheet-Reference(data-i18n='minion-moves-kref')
			ul
				li
					| A burst of sudden, uncontrolled violence
				li
					| Make a coordinated attack
				li
					| Capture someone, or steal something
				li
					| Reveal a secret
				li
					| Deliver someone or something to the master
				li
					| Give chase
				li
					| Make a threat or demand for the master
				li
					| Run away
				li
					| Use an unnatural power
				li
					| Display a hint of conscience or humanity
				li
					| Disobey the master, in some petty way
	// End Minion Moves
	.sheet-isolator
		input.sheet-checkbox.sheet-RefToggle(type='checkbox', name='attr_Toggle-bystander-moves', value='1')
		span.sheet-anglebox
		span.sheet-MinorHead(data-i18n='bystander-moves') Bystander Moves
		.sheet-Reference(data-i18n='bystander-moves-kref')
			ul
				li
					| Go off alone
				li
					| Argue with the hunters
				li
					| Get in the way
				li
					| Reveal something
				li
					| Confess their fears
				li
					| Freak out in terror
				li
					| Try to help the hunters
				li
					| Try to protect people
				li
					| Display inability or incompetence
				li
					| Seek help or comfort
	// End Bystander Moves
	.sheet-isolator
		input.sheet-checkbox.sheet-RefToggle(type='checkbox', name='attr_Toggle-location-moves', value='1')
		span.sheet-anglebox
		span.sheet-MinorHead(data-i18n='location-moves') Location Moves
		.sheet-Reference(data-i18n='location-moves-kref')
			ul
				li
					| Present a hazard
				li
					| Reveal something
				li
					| Hide something
				li
					| Close a way
				li
					| Open a way
				li
					| Reshape itself
				li
					| Trap someone
				li
					| Offer a guide
				li
					| Present a guardian
				li
					| Something doesn&apos;t work properly
				li
					| Create a particular feeling
	// End Location Moves
	.sheet-isolator
		input.sheet-checkbox.sheet-RefToggle(type='checkbox', name='attr_Toggle-phenomenon-moves', value='1')
		span.sheet-anglebox
		span.sheet-MinorHead(data-i18n='phenomenon-moves') Phenomenon Moves
		.sheet-Reference(data-i18n='phenomenon-moves-kref')
			ul
				li
					| Hint at its effects.
				li
					| Show its effects directly and undeniably.
				li
					| Break the world&rsquo;s laws.
				li
					| Increase or decrease in size or intensity.
				li
					| Create some new weirdness.
				li
					| Harm or destroy someone or something.
				li
					| React unexpectedly.
				li
					| Escape from containment.
				li
					| Hold something in place.
				li
					| Grant an unnatural ability.
				li
					| Hinder movement.
				li
					| Subvert a bystander&rsquo;s motivation.
	// End Phenomenon Moves
	.sheet-isolator
		input.sheet-checkbox.sheet-RefToggle(type='checkbox', name='attr_Toggle-hunter-basic-moves', value='1')
		span.sheet-anglebox
		span.sheet-MinorHead(data-i18n='hunter-basic-moves') Hunter Basic Moves
		.sheet-Reference(data-i18n='hunter-basic-moves-kref')
			ul
				li
					| Act Under Pressure (Cool)
				li
					| Help Out (Cool)
				li
					| Investigate A Mystery (Sharp)
				li
					| Kick Some Ass (Tough)
				li
					| Manipulate Someone (Charm)
				li
					| Protect Someone (Tough)
				li
					| Read A Bad Situation (Sharp)
				li
					| Use Magic (Weird)
	// End Hunter Basic Moves
	.sheet-isolator
		input.sheet-checkbox.sheet-RefToggle(type='checkbox', name='attr_Toggle-end-of-session-experience', value='1')
		span.sheet-anglebox
		span.sheet-MinorHead(data-i18n='end-of-session-experience') End of Session Experience
		.sheet-Reference(data-i18n='end-of-session-experience-kref')
			ul
				li
					| 1-2 &ldquo;yes&rdquo;: 1 mark; 3-4 &ldquo;yes&rdquo;: 2 marks
				li
					| Did they conclude the current mystery?
				li
					| Did they save someone from certain death (or worse)?
				li
					| Did we learn something new and important about the world?
				li
					| Did we learn something new and important about one of the hunters?
	// End End of Session
	.sheet-isolator
		input.sheet-checkbox.sheet-RefToggle(type='checkbox', name='attr_Toggle-mystery-creation', value='1')
		span.sheet-anglebox
		span.sheet-MinorHead(data-i18n='mystery-creation') Mystery Creation
		.sheet-Reference
			.sheet-isolator
				input.sheet-checkbox.sheet-RefToggle(type='checkbox', name='attr_Toggle-1-basic-concept', value='1')
				span.sheet-anglebox
				|  
				b
					span(data-i18n='1-basic-concept') 1. Basic Concept
				.sheet-Reference(data-i18n='1-basic-concept-kref')
					ul
						li
							| A cool monster from urban legend or folklore.
						li
							| A loose end from a previous mystery.
						li
							| A problem from one of your arcs.
						li
							| Take a plot from somewhere else and change some details.
						li
							| A place you know that would make a good place for a monster to lurk.
						li
							| Is there something the hunters want to check out?
						li
							| Return of a monster, bystander, or location from a previous mystery.
			.sheet-isolator
				input.sheet-checkbox.sheet-RefToggle(type='checkbox', name='attr_Toggle-2-hook', value='1')
				span.sheet-anglebox
				|  
				b
					span(data-i18n='2-hook') 2. Hook
				.sheet-Reference(data-i18n='2-hook-kref')
					ul
						li
							| The clue that caught the hunters&apos; attention.
			.sheet-isolator
				input.sheet-checkbox.sheet-RefToggle(type='checkbox', name='attr_Toggle-3-threats', value='1')
				span.sheet-anglebox
				|  
				b
					span(data-i18n='3-threats') 3. Threats
				.sheet-Reference(data-i18n='3-threats-kref')
					ul
						li
							| Create your monsters, minions, bystanders and locations.
			.sheet-isolator
				input.sheet-checkbox.sheet-RefToggle(type='checkbox', name='attr_Toggle-4-countdown', value='1')
				span.sheet-anglebox
				|  
				b
					span(data-i18n='4-countdown') 4. Countdown
				.sheet-Reference(data-i18n='4-countdown-kref')
					| What would happen if the hunters never came here? Break it into six key events:
					ol
						li Day
						li Shadows
						li Sunset
						li Dusk
						li Nightfall
						li Midnight
	// End Mystery Creation
	.sheet-isolator
		input.sheet-checkbox.sheet-RefToggle(type='checkbox', name='attr_Toggle-creating-threats', value='1')
		span.sheet-anglebox
		span.sheet-MinorHead(data-i18n='creating-threats') Creating Threats
		.sheet-Reference
			div(data-i18n='creating-threats-kref') Pick a type and then create the details listed underneath.
			.sheet-isolator
				input.sheet-checkbox.sheet-RefToggle(type='checkbox', name='attr_Toggle-monsters-motivation', value='1')
				span.sheet-anglebox
				|  
				b
					span(data-i18n='monsters-motivation') Monsters (motivation)
				.sheet-Reference(data-i18n='monsters-motivation-kref')
					ul
						li
							| Beast (to run wild, destroying and killing)
						li
							| Breeder (to give birth to, bring forth, or create evil)
						li
							| Collector (to steal specific sorts of things)
						li
							| Destroyer (to bring about the end of the world)
						li
							| Devourer (to consume people)
						li
							| Executioner (to punish the guilty)
						li
							| Parasite (to infest, control and devour)
						li
							| Queen (to possess and control)
						li
							| Sorcerer (to usurp unnatural power)
						li
							| Tempter (to tempt people into evil deeds)
						li
							| Torturer (to hurt and terrify)
						li
							| Trickster (to create chaos)
					| Name, how it looks, what does it want to achieve?
					ul
						li
							| Powers: What supernatural abilities does it have?
						li
							| Weakness: What is the monster vulnerable to?
						li
							| Attacks: Description, how much harm it does (usually 3 to 5), range, other tags.
						li
							| Armour: Normally 1- or 2-armour.
						li
							| Harm capacity: Normally 8-12 harm to kill it.
						li
							| Any custom moves for the monster (e.g. for its powers)?
			.sheet-isolator
				input.sheet-checkbox.sheet-RefToggle(type='checkbox', name='attr_Toggle-bystanders-motivation', value='1')
				span.sheet-anglebox
				|  
				b
					span(data-i18n='bystanders-motivation') Bystanders (motivation)
				.sheet-Reference(data-i18n='bystanders-motivation-kref')
					ul
						li
							| Busybody (to interfere in other people&rsquo;s plans)
						li
							| Detective (to rule out explanations)
						li
							| Gossip (to pass on rumours)
						li
							| Helper (to join the hunt)
						li
							| Innocent (to do the right thing)
						li
							| Official (to be suspicious)
						li
							| Skeptic (to deny supernatural explanations)
						li
							| Victim (to put themselves in danger)
						li
							| Witness (to reveal information)
					| Name the bystander.
					ul
						li
							| What do they know about the situation?
						li
							| What do they do?
						li
							| What do they look like?
						li
							| What do they want from the hunters?
						li
							| Any custom moves for this bystander?
			.sheet-isolator
				input.sheet-checkbox.sheet-RefToggle(type='checkbox', name='attr_Toggle-locations-motivation', value='1')
				span.sheet-anglebox
				|  
				b
					span(data-i18n='locations-motivation') Locations (motivation)
				.sheet-Reference(data-i18n='locations-motivation-kref')
					ul
						li
							| Crossroads (to bring people, and things, together)
						li
							| Deathtrap (to harm intruders)
						li
							| Den (to harbour monsters)
						li
							| Fortress (to deny entry)
						li
							| Hellgate (to create evil)
						li
							| Hub (to reveal information)
						li
							| Lab (to create weirdness)
						li
							| Maze (to confuse and separate)
						li
							| Prison (to constrain and prevent exit)
						li
							| Wilds (to contain hidden things)
					| Name the location.
					ul
						li
							| What is it like? Optionally, draw a map.
						li
							| Any custom moves for this location?
			.sheet-isolator
				input.sheet-checkbox.sheet-RefToggle(type='checkbox', name='attr_Toggle-minions-motivation', value='1')
				span.sheet-anglebox
				|  
				b
					span(data-i18n='minions-motivation') Minions (motivation)
				.sheet-Reference(data-i18n='minions-motivation-kref')
					ul
						li
							| Assassin (to kill the hunters)
						li
							| Brute (to intimidate and attack)
						li
							| Cultist (to save their own skin at any cost)
						li
							| Guardian (to bar a way or protect something)
						li
							| Right hand (to back up the monster)
						li
							| Plague (to swarm and destroy)
						li
							| Renfield (to push victims towards the monster)
						li
							| Scout (to stalk, watch, and report)
						li
							| Thief (to steal and deliver to the monster)
						li
							| Traitor (to betray people)
					| What is it called? What does it look like? How loyal to the master is it?
					ul
						li
							| Powers: What supernatural abilities does it have?
						li
							| Weakness: Is this minion especially vulnerable to anything?
						li
							| Attacks: Description, how much harm (usually 2-4), range, other tags
						li
							| Armour: Normally 0- to 1-armour.
						li
							| Harm capacity: Normally 5-10 harm to kill it.
						li
							| Any custom moves for this minion (e.g. for its powers)?
			.sheet-isolator
				input.sheet-checkbox.sheet-RefToggle(type='checkbox', name='attr_Toggle-phenomena-motivation', value='1')
				span.sheet-anglebox
				|  
				b
					span(data-i18n='phenomena-motivation') Phenomena (motivation)
				.sheet-Reference(data-i18n='phenomena-motivation-kref')
					ul
						li
							| Alien (to be unfathomable)
						li
							| Artifact (to grant someone more power than they can handle)
						li
							| Biohazard (to infect, harm, and spread)
						li
							| Bubble (to keep inside things inside, and outside things outside)
						li
							| Conspiracy (to gather power, keep secrets, and create confusion)
						li
							| Corruption (to change the laws of the universe)
						li
							| Experiment (to unleash dangers)
						li
							| Mutagen (to transform creatures and people)
						li
							| Panic (to make people act irrationally)
						li
							| Portal (to draw things from one world to another)
						li
							| Teratogen (to turn creatures and people into monsters)
						li
							| Zone (to harm all that venture within)
	// End Threat Creation
	.sheet-isolator
		input.sheet-checkbox.sheet-RefToggle(type='checkbox', name='attr_Toggle-custom-moves-header', value='1')
		span.sheet-anglebox
		span.sheet-MinorHead(data-i18n='custom-moves-header') Custom Moves
		.sheet-Reference(data-i18n='custom-moves-kref')
			ul
				li
					| What&apos;s the basic concept for the move?
				li
					| When is it triggered?
				li
					| What effect does it have?
	// End Custom Moves
// Outer Reference