.sheet-MinorHead(data-i18n='threat-type') Threat Type
select.sheet-KItem-input(name='attr_KItem-Type')
	option(value='0', selected='', data-i18n='select-type') Select Type
	option(value='1', data-i18n='countdown') Countdown
	option(value='2', data-i18n='monster') Monster
	option(value='3', data-i18n='minion') Minion
	option(value='4', data-i18n='bystander') Bystander
	option(value='5', data-i18n='location') Location
	option(value='6', data-i18n='phenomenon') Phenomenon
	option(value='7', data-i18n='text-block') Text Block
input.sheet-KTyper(type='hidden', name='attr_KItem-Type', value='0')
.sheet-KItem-Type-Countdown
	.sheet-MinorHead
		span(data-i18n='day') Day
	textarea.sheet-KItem-input(rows='1', name='attr_KItem-Day')
	.sheet-MinorHead
		span(data-i18n='shadows') Shadows
	textarea.sheet-KItem-input(rows='1', name='attr_KItem-Shadows')
	.sheet-MinorHead
		span(data-i18n='sunset') Sunset
	textarea.sheet-KItem-input(rows='1', name='attr_KItem-Sunset')
	.sheet-MinorHead
		span(data-i18n='dusk') Dusk
	textarea.sheet-KItem-input(rows='1', name='attr_KItem-Dusk')
	.sheet-MinorHead
		span(data-i18n='nightfall') Nightfall
	textarea.sheet-KItem-input(rows='1', name='attr_KItem-Nightfall')
	.sheet-MinorHead
		span(data-i18n='midnight') Midnight
	textarea.sheet-KItem-input(rows='1', name='attr_KItem-Midnight')
.sheet-KItem-Type-Text.sheet-KItem-Type-Monster.sheet-KItem-Type-Minion.sheet-KItem-Type-Bystander.sheet-KItem-Type-Location.sheet-KItem-Type-Phenomenon
	.sheet-MinorHead(data-i18n='name') Name
	input.sheet-KItem-input(type='text', name='attr_KItem-Name', value='')
	.sheet-MinorHead(data-i18n='description') Description
	textarea.sheet-KItem-input(name='attr_KItem-Desc')
.sheet-KItem-Type-Monster
	.sheet-MinorHead(data-i18n='type-and-motivation') Type and Motivation
	select.sheet-KItem-input(name='attr_KItem-Monster-Type')
		option(value='', data-i18n='choose-type') Choose Type and Motivation
		option(data-i18n='m-beast') Beast (to run wild, destroying and killing)
		option(data-i18n='m-breeder') Breeder (to give birth to, bring forth, or create evil)
		option(data-i18n='m-collector') Collector (to steal specific sorts of things)
		option(data-i18n='m-destroyer') Destroyer (to bring about the end of the world)
		option(data-i18n='m-devourer') Devourer (to consume people)
		option(data-i18n='m-executioner') Executioner (to punish the guilty)
		option(data-i18n='m-parasite') Parasite (to infest, control and devour)
		option(data-i18n='m-queen') Queen (to possess and control)
		option(data-i18n='m-sorcerer') Sorcerer (to usurp unnatural power)
		option(data-i18n='m-tempter') Tempter (to tempt people into evil deeds)
		option(data-i18n='m-torturer') Torturer (to hurt and terrify)
		option(data-i18n='m-trickster') Trickster (to create chaos)
.sheet-KItem-Type-Minion
	.sheet-MinorHead(data-i18n='type-and-motivation') Type and Motivation
	select.sheet-KItem-input(name='attr_KItem-Minion-Type')
		option(value='', data-i18n='choose-type') Choose Type and Motivation
		option(data-i18n='m-assassin') Assassin (to kill the hunters)
		option(data-i18n='m-brute') Brute (to intimidate and attack)
		option(data-i18n='m-cultist') Cultist (to save their own skin at any cost)
		option(data-i18n='m-guardian') Guardian (to bar a way or protect something)
		option(data-i18n='m-righthand') Right hand (to back up the monster)
		option(data-i18n='m-plague') Plague (to swarm and destroy)
		option(data-i18n='m-renfield') Renfield (to push victims towards the monster)
		option(data-i18n='m-scout') Scout (to stalk, watch, and report)
		option(data-i18n='m-thief') Thief (to steal and deliver to the monster)
		option(data-i18n='m-traitor') Traitor (to betray people)
.sheet-KItem-Type-Bystander
	.sheet-MinorHead(data-i18n='type-and-motivation') Type and Motivation
	select.sheet-KItem-input(name='attr_KItem-Bystander-Type')
		option(value='', data-i18n='choose-type') Choose Type and Motivation
		option(data-i18n='m-busybody') Busybody (to interfere in other people&rsquo;s plans)
		option(data-i18n='m-detective') Detective (to rule out explanations)
		option(data-i18n='m-gossip') Gossip (to pass on rumours)
		option(data-i18n='m-helper') Helper (to join the hunt)
		option(data-i18n='m-innocent') Innocent (to do the right thing)
		option(data-i18n='m-official') Official (to be suspicious)
		option(data-i18n='m-skeptic') Skeptic (to deny supernatural explanations)
		option(data-i18n='m-victim') Victim (to put themselves in danger)
		option(data-i18n='m-witness') Witness (to reveal information)
.sheet-KItem-Type-Location
	.sheet-MinorHead(data-i18n='type-and-motivation') Type and Motivation
	select.sheet-KItem-input(name='attr_KItem-Location-Type')
		option(value='', data-i18n='choose-type') Choose Type and Motivation
		option(data-i18n='m-crossroads') Crossroads (to bring people, and things, together)
		option(data-i18n='m-deathtrap') Deathtrap (to harm intruders)
		option(data-i18n='m-den') Den (to harbour monsters)
		option(data-i18n='m-fortress') Fortress (to deny entry)
		option(data-i18n='m-hellgate') Hellgate (to create evil)
		option(data-i18n='m-hub') Hub (to reveal information)
		option(data-i18n='m-lab') Lab (to create weirdness)
		option(data-i18n='m-maze') Maze (to confuse and separate)
		option(data-i18n='m-prison') Prison (to constrain and prevent exit)
		option(data-i18n='m-wilds') Wilds (to contain hidden things)
.sheet-KItem-Type-Phenomenon
	.sheet-MinorHead(data-i18n='type-and-motivation') Type and Motivation
	select.sheet-KItem-input(name='attr_KItem-Phenomenon-Type')
		option(value='', data-i18n='choose-type') Choose Type and Motivation
		option(data-i18n='m-alien') Alien (to be unfathomable)
		option(data-i18n='m-artifact') Artifact (to grant someone more power than they can handle)
		option(data-i18n='m-biohazard') Biohazard (to infect, harm, and spread)
		option(data-i18n='m-bubble') Bubble (to keep inside things inside, and outside things outside)
		option(data-i18n='m-conspiracy') Conspiracy (to gather power, keep secrets, and create confusion)
		option(data-i18n='m-corruption') Corruption (to change the laws of the universe)
		option(data-i18n='m-experiment') Experiment (to unleash dangers)
		option(data-i18n='m-mutagen') Mutagen (to transform creatures and people)
		option(data-i18n='m-panic') Panic (to make people act irrationally)
		option(data-i18n='m-portal') Portal (to draw things from one world to another)
		option(data-i18n='m-teratogen') Teratogen (to turn creatures and people into monsters)
		option(data-i18n='m-zone') Zone (to harm all that venture within)
.sheet-KItem-Type-Monster.sheet-KItem-Type-Minion
	.sheet-MinorHead
		span(data-i18n='powers') Powers
		|  (
		span(data-i18n='up-to-12') Up to 12
		| )
	i
		span(data-i18n='slot-on-finish') An additional slot will appear each time you finish filling out an existing one
		| .
	textarea.sheet-KItem-input(rows='1', name='attr_KItem-Power1')
	input.sheet-null-hider(type='hidden', name='attr_KItem-Power1', value='')
	textarea.sheet-KItem-input(rows='1', name='attr_KItem-Power2')
	input.sheet-null-hider(type='hidden', name='attr_KItem-Power2', value='')
	textarea.sheet-KItem-input(rows='1', name='attr_KItem-Power3')
	input.sheet-null-hider(type='hidden', name='attr_KItem-Power3', value='')
	textarea.sheet-KItem-input(rows='1', name='attr_KItem-Power4')
	input.sheet-null-hider(type='hidden', name='attr_KItem-Power4', value='')
	textarea.sheet-KItem-input(rows='1', name='attr_KItem-Power5')
	input.sheet-null-hider(type='hidden', name='attr_KItem-Power5', value='')
	textarea.sheet-KItem-input(rows='1', name='attr_KItem-Power6')
	input.sheet-null-hider(type='hidden', name='attr_KItem-Power6', value='')
	textarea.sheet-KItem-input(rows='1', name='attr_KItem-Power7')
	input.sheet-null-hider(type='hidden', name='attr_KItem-Power7', value='')
	textarea.sheet-KItem-input(rows='1', name='attr_KItem-Power8')
	input.sheet-null-hider(type='hidden', name='attr_KItem-Power8', value='')
	textarea.sheet-KItem-input(rows='1', name='attr_KItem-Power9')
	input.sheet-null-hider(type='hidden', name='attr_KItem-Power9', value='')
	textarea.sheet-KItem-input(rows='1', name='attr_KItem-Power10')
	input.sheet-null-hider(type='hidden', name='attr_KItem-Power10', value='')
	textarea.sheet-KItem-input(rows='1', name='attr_KItem-Power11')
	input.sheet-null-hider(type='hidden', name='attr_KItem-Power11', value='')
	textarea.sheet-KItem-input(rows='1', name='attr_KItem-Power12')
.sheet-KItem-Type-Phenomenon
	.sheet-MinorHead
		span(data-i18n='effects-proximity') Effects on those who get too close
		|  (
		span(data-i18n='up-to-12') Up to 12
		| )
	i
		span(data-i18n='slot-on-finish') An additional slot will appear each time you finish filling out an existing one
		| .
	textarea.sheet-KItem-input(rows='1', name='attr_KItem-Effect1')
	input.sheet-null-hider(type='hidden', name='attr_KItem-Effect1', value='')
	textarea.sheet-KItem-input(rows='1', name='attr_KItem-Effect2')
	input.sheet-null-hider(type='hidden', name='attr_KItem-Effect2', value='')
	textarea.sheet-KItem-input(rows='1', name='attr_KItem-Effect3')
	input.sheet-null-hider(type='hidden', name='attr_KItem-Effect3', value='')
	textarea.sheet-KItem-input(rows='1', name='attr_KItem-Effect4')
	input.sheet-null-hider(type='hidden', name='attr_KItem-Effect4', value='')
	textarea.sheet-KItem-input(rows='1', name='attr_KItem-Effect5')
	input.sheet-null-hider(type='hidden', name='attr_KItem-Effect5', value='')
	textarea.sheet-KItem-input(rows='1', name='attr_KItem-Effect6')
	input.sheet-null-hider(type='hidden', name='attr_KItem-Effect6', value='')
	textarea.sheet-KItem-input(rows='1', name='attr_KItem-Effect7')
	input.sheet-null-hider(type='hidden', name='attr_KItem-Effect7', value='')
	textarea.sheet-KItem-input(rows='1', name='attr_KItem-Effect8')
	input.sheet-null-hider(type='hidden', name='attr_KItem-Effect8', value='')
	textarea.sheet-KItem-input(rows='1', name='attr_KItem-Effect9')
	input.sheet-null-hider(type='hidden', name='attr_KItem-Effect9', value='')
	textarea.sheet-KItem-input(rows='1', name='attr_KItem-Effect10')
	input.sheet-null-hider(type='hidden', name='attr_KItem-Effect10', value='')
	textarea.sheet-KItem-input(rows='1', name='attr_KItem-Effect11')
	input.sheet-null-hider(type='hidden', name='attr_KItem-Effect11', value='')
	textarea.sheet-KItem-input(rows='1', name='attr_KItem-Effect12')
.sheet-KItem-Type-Monster.sheet-KItem-Type-Minion
	.sheet-MinorHead
		span(data-i18n='attacks') Attacks
		|  (
		span(data-i18n='up-to-6') Up to 6
		| )
	i
		span(data-i18n='slot-on-finish') An additional slot will appear each time you finish filling out an existing one
		| .
	textarea.sheet-KItem-input(rows='1', name='attr_KItem-Attack1')
	input.sheet-null-hider(type='hidden', name='attr_KItem-Attack1', value='')
	textarea.sheet-KItem-input(rows='1', name='attr_KItem-Attack2')
	input.sheet-null-hider(type='hidden', name='attr_KItem-Attack2', value='')
	textarea.sheet-KItem-input(rows='1', name='attr_KItem-Attack3')
	input.sheet-null-hider(type='hidden', name='attr_KItem-Attack3', value='')
	textarea.sheet-KItem-input(rows='1', name='attr_KItem-Attack4')
	input.sheet-null-hider(type='hidden', name='attr_KItem-Attack4', value='')
	textarea.sheet-KItem-input(rows='1', name='attr_KItem-Attack5')
	input.sheet-null-hider(type='hidden', name='attr_KItem-Attack5', value='')
	textarea.sheet-KItem-input(rows='1', name='attr_KItem-Attack6')
.sheet-KItem-Type-Monster.sheet-KItem-Type-Minion
	.sheet-MinorHead(data-i18n='armour') Armour
	textarea.sheet-KItem-input(rows='1', name='attr_KItem-Armour')
.sheet-Atonement
	input.sheet-KTyper(type='hidden', name='attr_KItem-Type', value='0')
	.sheet-KItem-Type-Monster.sheet-KItem-Type-Phenomenon
		.sheet-MinorHead
			+translate('Transgression')
		i
			+translate('For an atonement mystery, resolving a transgression may take the place of a weakness.')
		textarea.sheet-KItem-input(rows='1', name='attr_KItem-Transgression')
.sheet-KItem-Type-Monster.sheet-KItem-Type-Minion.sheet-KItem-Type-Phenomenon
	.sheet-MinorHead
		span(data-i18n='weaknesses') Weaknesses
		|  (
		span(data-i18n='up-to-6') Up to 6
		| )
	i
		span(data-i18n='slot-on-finish') An additional slot will appear each time you finish filling out an existing one
		| .
	textarea.sheet-KItem-input(rows='1', name='attr_KItem-Weakness1')
	input.sheet-null-hider(type='hidden', name='attr_KItem-Weakness1', value='')
	textarea.sheet-KItem-input(rows='1', name='attr_KItem-Weakness2')
	input.sheet-null-hider(type='hidden', name='attr_KItem-Weakness2', value='')
	textarea.sheet-KItem-input(rows='1', name='attr_KItem-Weakness3')
	input.sheet-null-hider(type='hidden', name='attr_KItem-Weakness3', value='')
	textarea.sheet-KItem-input(rows='1', name='attr_KItem-Weakness4')
	input.sheet-null-hider(type='hidden', name='attr_KItem-Weakness4', value='')
	textarea.sheet-KItem-input(rows='1', name='attr_KItem-Weakness5')
	input.sheet-null-hider(type='hidden', name='attr_KItem-Weakness5', value='')
	textarea.sheet-KItem-input(rows='1', name='attr_KItem-Weakness1')
.sheet-KItem-Type-Monster.sheet-KItem-Type-Minion.sheet-KItem-Type-Bystander
	.sheet-MinorHead
		span(data-i18n='harm-capacity') Harm Capacity
	input.sheet-KItem-input(type='number', name='attr_KItem-Harm', min='0', value='0')
.sheet-KItem-Type-Monster.sheet-KItem-Type-Minion.sheet-KItem-Type-Bystander.sheet-KItem-Type-Location.sheet-KItem-Type-Phenomenon
	.sheet-MinorHead
		span(data-i18n='custom-moves-header') Custom Moves
		|  (
		span(data-i18n='up-to-6') Up to 6
		| )
	i
		span(data-i18n='slot-on-finish') An additional slot will appear each time you finish filling out an existing one
		| .
	textarea.sheet-KItem-input(rows='1', name='attr_KItem-Move1')
	input.sheet-null-hider(type='hidden', name='attr_KItem-Move1', value='')
	ul
		li
			input(type='text', name='attr_KItem-Move1-List1', value='')
		input.sheet-null-hider(type='hidden', name='attr_KItem-Move1-List1', value='')
		li
			input(type='text', name='attr_KItem-Move1-List2', value='')
		input.sheet-null-hider(type='hidden', name='attr_KItem-Move1-List2', value='')
		li
			input(type='text', name='attr_KItem-Move1-List3', value='')
		input.sheet-null-hider(type='hidden', name='attr_KItem-Move1-List3', value='')
		li
			input(type='text', name='attr_KItem-Move1-List4', value='')
		input.sheet-null-hider(type='hidden', name='attr_KItem-Move1-List4', value='')
		li
			input(type='text', name='attr_KItem-Move1-List5', value='')
		input.sheet-null-hider(type='hidden', name='attr_KItem-Move1-List5', value='')
		li
			input(type='text', name='attr_KItem-Move1-List6', value='')
	input.sheet-null-hider(type='hidden', name='attr_KItem-Move1', value='')
	textarea.sheet-KItem-input(rows='1', name='attr_KItem-Move2')
	input.sheet-null-hider(type='hidden', name='attr_KItem-Move2', value='')
	ul
		li
			input(type='text', name='attr_KItem-Move2-List1', value='')
		input.sheet-null-hider(type='hidden', name='attr_KItem-Move2-List1', value='')
		li
			input(type='text', name='attr_KItem-Move2-List2', value='')
		input.sheet-null-hider(type='hidden', name='attr_KItem-Move2-List2', value='')
		li
			input(type='text', name='attr_KItem-Move2-List3', value='')
		input.sheet-null-hider(type='hidden', name='attr_KItem-Move2-List3', value='')
		li
			input(type='text', name='attr_KItem-Move2-List4', value='')
		input.sheet-null-hider(type='hidden', name='attr_KItem-Move2-List4', value='')
		li
			input(type='text', name='attr_KItem-Move2-List5', value='')
		input.sheet-null-hider(type='hidden', name='attr_KItem-Move2-List5', value='')
		li
			input(type='text', name='attr_KItem-Move2-List6', value='')
	input.sheet-null-hider(type='hidden', name='attr_KItem-Move2', value='')
	textarea.sheet-KItem-input(rows='1', name='attr_KItem-Move3')
	input.sheet-null-hider(type='hidden', name='attr_KItem-Move3', value='')
	ul
		li
			input(type='text', name='attr_KItem-Move3-List1', value='')
		input.sheet-null-hider(type='hidden', name='attr_KItem-Move3-List1', value='')
		li
			input(type='text', name='attr_KItem-Move3-List2', value='')
		input.sheet-null-hider(type='hidden', name='attr_KItem-Move3-List2', value='')
		li
			input(type='text', name='attr_KItem-Move3-List3', value='')
		input.sheet-null-hider(type='hidden', name='attr_KItem-Move3-List3', value='')
		li
			input(type='text', name='attr_KItem-Move3-List4', value='')
		input.sheet-null-hider(type='hidden', name='attr_KItem-Move3-List4', value='')
		li
			input(type='text', name='attr_KItem-Move3-List5', value='')
		input.sheet-null-hider(type='hidden', name='attr_KItem-Move3-List5', value='')
		li
			input(type='text', name='attr_KItem-Move3-List6', value='')
	input.sheet-null-hider(type='hidden', name='attr_KItem-Move3', value='')
	textarea.sheet-KItem-input(rows='1', name='attr_KItem-Move4')
	input.sheet-null-hider(type='hidden', name='attr_KItem-Move4', value='')
	ul
		li
			input(type='text', name='attr_KItem-Move4-List1', value='')
		input.sheet-null-hider(type='hidden', name='attr_KItem-Move4-List1', value='')
		li
			input(type='text', name='attr_KItem-Move4-List2', value='')
		input.sheet-null-hider(type='hidden', name='attr_KItem-Move4-List2', value='')
		li
			input(type='text', name='attr_KItem-Move4-List3', value='')
		input.sheet-null-hider(type='hidden', name='attr_KItem-Move4-List3', value='')
		li
			input(type='text', name='attr_KItem-Move4-List4', value='')
		input.sheet-null-hider(type='hidden', name='attr_KItem-Move4-List4', value='')
		li
			input(type='text', name='attr_KItem-Move4-List5', value='')
		input.sheet-null-hider(type='hidden', name='attr_KItem-Move4-List5', value='')
		li
			input(type='text', name='attr_KItem-Move4-List6', value='')
	input.sheet-null-hider(type='hidden', name='attr_KItem-Move4', value='')
	textarea.sheet-KItem-input(rows='1', name='attr_KItem-Move5')
	input.sheet-null-hider(type='hidden', name='attr_KItem-Move5', value='')
	ul
		li
			input(type='text', name='attr_KItem-Move5-List1', value='')
		input.sheet-null-hider(type='hidden', name='attr_KItem-Move5-List1', value='')
		li
			input(type='text', name='attr_KItem-Move5-List2', value='')
		input.sheet-null-hider(type='hidden', name='attr_KItem-Move5-List2', value='')
		li
			input(type='text', name='attr_KItem-Move5-List3', value='')
		input.sheet-null-hider(type='hidden', name='attr_KItem-Move5-List3', value='')
		li
			input(type='text', name='attr_KItem-Move5-List4', value='')
		input.sheet-null-hider(type='hidden', name='attr_KItem-Move5-List4', value='')
		li
			input(type='text', name='attr_KItem-Move5-List5', value='')
		input.sheet-null-hider(type='hidden', name='attr_KItem-Move5-List5', value='')
		li
			input(type='text', name='attr_KItem-Move5-List6', value='')
	input.sheet-null-hider(type='hidden', name='attr_KItem-Move5', value='')
	textarea.sheet-KItem-input(rows='1', name='attr_KItem-Move6')
	input.sheet-null-hider(type='hidden', name='attr_KItem-Move6', value='')
	ul
		li
			input(type='text', name='attr_KItem-Move6-List1', value='')
		input.sheet-null-hider(type='hidden', name='attr_KItem-Move6-List1', value='')
		li
			input(type='text', name='attr_KItem-Move6-List2', value='')
		input.sheet-null-hider(type='hidden', name='attr_KItem-Move6-List2', value='')
		li
			input(type='text', name='attr_KItem-Move6-List3', value='')
		input.sheet-null-hider(type='hidden', name='attr_KItem-Move6-List3', value='')
		li
			input(type='text', name='attr_KItem-Move6-List4', value='')
		input.sheet-null-hider(type='hidden', name='attr_KItem-Move6-List4', value='')
		li
			input(type='text', name='attr_KItem-Move6-List5', value='')
		input.sheet-null-hider(type='hidden', name='attr_KItem-Move6-List5', value='')
		li
			input(type='text', name='attr_KItem-Move6-List6', value='')
.sheet-KItem-Type-Text.sheet-KItem-Type-Monster.sheet-KItem-Type-Minion.sheet-KItem-Type-Bystander.sheet-KItem-Type-Location.sheet-KItem-Type-Phenomenon.sheet-KItem-Type-Countdown
	.sheet-MinorHead
		span(data-i18n='notes') Notes
	textarea.sheet-KItem-input(rows='1', name='attr_KItem-Notes')
