input.sheet-KTyper(type='hidden', name='attr_KItem-Type', value='0')
div
	input.sheet-null-hider(type='hidden', name='attr_KItem-Transgression', value='')
	div
		span.sheet-MinorHead
			+translate('Transgression')
		.sheet-KIndented
			span(name='attr_KItem-Transgression')
div
	input.sheet-null-hider(type='hidden', name='attr_KItem-Desc', value='')
	div
		span.sheet-MinorHead(data-i18n='description') Description
	.sheet-KIndented
		span(name='attr_KItem-Desc')
div
	input.sheet-null-hider(type='hidden', name='attr_KItem-Power1', value='')
	span.sheet-MinorHead
		span(data-i18n='powers') Powers
	input.sheet-null-hider(type='hidden', name='attr_KItem-Power1', value='')
	ul
		input.sheet-null-hider(type='hidden', name='attr_KItem-Power1', value='')
		li
			span(name='attr_KItem-Power1')
		input.sheet-null-hider(type='hidden', name='attr_KItem-Power2', value='')
		li
			span(name='attr_KItem-Power2')
		input.sheet-null-hider(type='hidden', name='attr_KItem-Power3', value='')
		li
			span(name='attr_KItem-Power3')
		input.sheet-null-hider(type='hidden', name='attr_KItem-Power4', value='')
		li
			span(name='attr_KItem-Power4')
		input.sheet-null-hider(type='hidden', name='attr_KItem-Power5', value='')
		li
			span(name='attr_KItem-Power5')
		input.sheet-null-hider(type='hidden', name='attr_KItem-Power6', value='')
		li
			span(name='attr_KItem-Power6')
		input.sheet-null-hider(type='hidden', name='attr_KItem-Power7', value='')
		li
			span(name='attr_KItem-Power7')
		input.sheet-null-hider(type='hidden', name='attr_KItem-Power8', value='')
		li
			span(name='attr_KItem-Power8')
		input.sheet-null-hider(type='hidden', name='attr_KItem-Power9', value='')
		li
			span(name='attr_KItem-Power9')
		input.sheet-null-hider(type='hidden', name='attr_KItem-Power10', value='')
		li
			span(name='attr_KItem-Power10')
		input.sheet-null-hider(type='hidden', name='attr_KItem-Power11', value='')
		li
			span(name='attr_KItem-Power11')
		input.sheet-null-hider(type='hidden', name='attr_KItem-Power12', value='')
		li
			span(name='attr_KItem-Power12')
div
	input.sheet-null-hider(type='hidden', name='attr_KItem-Effect1', value='')
	span.sheet-MinorHead
		span(data-i18n='effects-proximity') Effects on those who get too close
	input.sheet-null-hider(type='hidden', name='attr_KItem-Effect1', value='')
	ul
		input.sheet-null-hider(type='hidden', name='attr_KItem-Effect1', value='')
		li
			span(name='attr_KItem-Effect1')
		input.sheet-null-hider(type='hidden', name='attr_KItem-Effect2', value='')
		li
			span(name='attr_KItem-Effect2')
		input.sheet-null-hider(type='hidden', name='attr_KItem-Effect3', value='')
		li
			span(name='attr_KItem-Effect3')
		input.sheet-null-hider(type='hidden', name='attr_KItem-Effect4', value='')
		li
			span(name='attr_KItem-Effect4')
		input.sheet-null-hider(type='hidden', name='attr_KItem-Effect5', value='')
		li
			span(name='attr_KItem-Effect5')
		input.sheet-null-hider(type='hidden', name='attr_KItem-Effect6', value='')
		li
			span(name='attr_KItem-Effect6')
		input.sheet-null-hider(type='hidden', name='attr_KItem-Effect7', value='')
		li
			span(name='attr_KItem-Effect7')
		input.sheet-null-hider(type='hidden', name='attr_KItem-Effect8', value='')
		li
			span(name='attr_KItem-Effect8')
		input.sheet-null-hider(type='hidden', name='attr_KItem-Effect9', value='')
		li
			span(name='attr_KItem-Effect9')
		input.sheet-null-hider(type='hidden', name='attr_KItem-Effect10', value='')
		li
			span(name='attr_KItem-Effect10')
		input.sheet-null-hider(type='hidden', name='attr_KItem-Effect11', value='')
		li
			span(name='attr_KItem-Effect11')
		input.sheet-null-hider(type='hidden', name='attr_KItem-Effect12', value='')
		li
			span(name='attr_KItem-Effect12')
div
	input.sheet-null-hider(type='hidden', name='attr_KItem-Attack1', value='')
	span.sheet-MinorHead
		span(data-i18n='attacks') Attacks
	input.sheet-null-hider(type='hidden', name='attr_KItem-Attack1', value='')
	ul
		input.sheet-null-hider(type='hidden', name='attr_KItem-Attack1', value='')
		li
			span(name='attr_KItem-Attack1')
		input.sheet-null-hider(type='hidden', name='attr_KItem-Attack2', value='')
		li
			span(name='attr_KItem-Attack2')
		input.sheet-null-hider(type='hidden', name='attr_KItem-Attack3', value='')
		li
			span(name='attr_KItem-Attack3')
		input.sheet-null-hider(type='hidden', name='attr_KItem-Attack4', value='')
		li
			span(name='attr_KItem-Attack4')
		input.sheet-null-hider(type='hidden', name='attr_KItem-Attack5', value='')
		li
			span(name='attr_KItem-Attack5')
		input.sheet-null-hider(type='hidden', name='attr_KItem-Attack6', value='')
		li
			span(name='attr_KItem-Attack6')
input.sheet-null-hider(type='hidden', name='attr_KItem-Harm', value='')
div
	span.sheet-MinorHead
		span(data-i18n='harm-capacity') Harm Capacity
	|  
	input(type='number', name='attr_KItem-HarmCurrent', min='0', value='')
	| /
	span(name='attr_KItem-Harm')
input.sheet-null-hider(type='hidden', name='attr_KItem-Tenacity', value='')
div
	span.sheet-MinorHead
		+translate('Tenacity')
	|  
	input(type='number', name='attr_KItem-TenacityCurrent', min='0', value='')
	| /
	span(name='attr_KItem-Tenacity')
div
	input.sheet-null-hider(type='hidden', name='attr_KItem-Armour', value='')
	div
		span.sheet-MinorHead(data-i18n='armour') Armour
	|  
	.sheet-KIndented
		span(name='attr_KItem-Armour')
div
	input.sheet-null-hider(type='hidden', name='attr_KItem-Weakness1', value='')
	span.sheet-MinorHead
		span(data-i18n='weaknesses') Weaknesses
	input.sheet-null-hider(type='hidden', name='attr_KItem-Weakness1', value='')
	ul
		input.sheet-null-hider(type='hidden', name='attr_KItem-Weakness1', value='')
		li
			span(name='attr_KItem-Weakness1')
		input.sheet-null-hider(type='hidden', name='attr_KItem-Weakness2', value='')
		li
			span(name='attr_KItem-Weakness2')
		input.sheet-null-hider(type='hidden', name='attr_KItem-Weakness3', value='')
		li
			span(name='attr_KItem-Weakness3')
		input.sheet-null-hider(type='hidden', name='attr_KItem-Weakness4', value='')
		li
			span(name='attr_KItem-Weakness4')
		input.sheet-null-hider(type='hidden', name='attr_KItem-Weakness5', value='')
		li
			span(name='attr_KItem-Weakness5')
		input.sheet-null-hider(type='hidden', name='attr_KItem-Weakness6', value='')
		li
			span(name='attr_KItem-Weakness6')
div
	input.sheet-null-hider(type='hidden', name='attr_KItem-Move1', value='')
	span.sheet-MinorHead(data-i18n='moves') Moves
	input.sheet-null-hider(type='hidden', name='attr_KItem-Move1', value='')
	ul
		input.sheet-null-hider(type='hidden', name='attr_KItem-Move1', value='')
		li
			span(name='attr_KItem-Move1')
		input.sheet-null-hider(type='hidden', name='attr_KItem-Move1-List1', value='')
		ul
			input.sheet-null-hider(type='hidden', name='attr_KItem-Move1-List1', value='')
			li
				span(name='attr_KItem-Move1-List1')
			input.sheet-null-hider(type='hidden', name='attr_KItem-Move1-List2', value='')
			li
				span(name='attr_KItem-Move1-List2')
			input.sheet-null-hider(type='hidden', name='attr_KItem-Move1-List3', value='')
			li
				span(name='attr_KItem-Move1-List3')
			input.sheet-null-hider(type='hidden', name='attr_KItem-Move1-List4', value='')
			li
				span(name='attr_KItem-Move1-List4')
			input.sheet-null-hider(type='hidden', name='attr_KItem-Move1-List5', value='')
			li
				span(name='attr_KItem-Move1-List5')
			input.sheet-null-hider(type='hidden', name='attr_KItem-Move1-List6', value='')
			li
				span(name='attr_KItem-Move1-List6')
		input.sheet-null-hider(type='hidden', name='attr_KItem-Move2', value='')
		li
			span(name='attr_KItem-Move2')
		input.sheet-null-hider(type='hidden', name='attr_KItem-Move2-List1', value='')
		ul
			input.sheet-null-hider(type='hidden', name='attr_KItem-Move2-List1', value='')
			li
				span(name='attr_KItem-Move2-List1')
			input.sheet-null-hider(type='hidden', name='attr_KItem-Move2-List2', value='')
			li
				span(name='attr_KItem-Move2-List2')
			input.sheet-null-hider(type='hidden', name='attr_KItem-Move2-List3', value='')
			li
				span(name='attr_KItem-Move2-List3')
			input.sheet-null-hider(type='hidden', name='attr_KItem-Move2-List4', value='')
			li
				span(name='attr_KItem-Move2-List4')
			input.sheet-null-hider(type='hidden', name='attr_KItem-Move2-List5', value='')
			li
				span(name='attr_KItem-Move2-List5')
			input.sheet-null-hider(type='hidden', name='attr_KItem-Move2-List6', value='')
			li
				span(name='attr_KItem-Move2-List6')
		input.sheet-null-hider(type='hidden', name='attr_KItem-Move3', value='')
		li
			span(name='attr_KItem-Move3')
		input.sheet-null-hider(type='hidden', name='attr_KItem-Move3-List1', value='')
		ul
			input.sheet-null-hider(type='hidden', name='attr_KItem-Move3-List1', value='')
			li
				span(name='attr_KItem-Move3-List1')
			input.sheet-null-hider(type='hidden', name='attr_KItem-Move3-List2', value='')
			li
				span(name='attr_KItem-Move3-List2')
			input.sheet-null-hider(type='hidden', name='attr_KItem-Move3-List3', value='')
			li
				span(name='attr_KItem-Move3-List3')
			input.sheet-null-hider(type='hidden', name='attr_KItem-Move3-List4', value='')
			li
				span(name='attr_KItem-Move3-List4')
			input.sheet-null-hider(type='hidden', name='attr_KItem-Move3-List5', value='')
			li
				span(name='attr_KItem-Move3-List5')
			input.sheet-null-hider(type='hidden', name='attr_KItem-Move3-List6', value='')
			li
				span(name='attr_KItem-Move3-List6')
		input.sheet-null-hider(type='hidden', name='attr_KItem-Move4', value='')
		li
			span(name='attr_KItem-Move4')
		input.sheet-null-hider(type='hidden', name='attr_KItem-Move4-List1', value='')
		ul
			input.sheet-null-hider(type='hidden', name='attr_KItem-Move4-List1', value='')
			li
				span(name='attr_KItem-Move4-List1')
			input.sheet-null-hider(type='hidden', name='attr_KItem-Move4-List2', value='')
			li
				span(name='attr_KItem-Move4-List2')
			input.sheet-null-hider(type='hidden', name='attr_KItem-Move4-List3', value='')
			li
				span(name='attr_KItem-Move4-List3')
			input.sheet-null-hider(type='hidden', name='attr_KItem-Move4-List4', value='')
			li
				span(name='attr_KItem-Move4-List4')
			input.sheet-null-hider(type='hidden', name='attr_KItem-Move4-List5', value='')
			li
				span(name='attr_KItem-Move4-List5')
			input.sheet-null-hider(type='hidden', name='attr_KItem-Move4-List6', value='')
			li
				span(name='attr_KItem-Move4-List6')
		input.sheet-null-hider(type='hidden', name='attr_KItem-Move5', value='')
		li
			span(name='attr_KItem-Move5')
		input.sheet-null-hider(type='hidden', name='attr_KItem-Move5-List1', value='')
		ul
			input.sheet-null-hider(type='hidden', name='attr_KItem-Move5-List1', value='')
			li
				span(name='attr_KItem-Move5-List1')
			input.sheet-null-hider(type='hidden', name='attr_KItem-Move5-List2', value='')
			li
				span(name='attr_KItem-Move5-List2')
			input.sheet-null-hider(type='hidden', name='attr_KItem-Move5-List3', value='')
			li
				span(name='attr_KItem-Move5-List3')
			input.sheet-null-hider(type='hidden', name='attr_KItem-Move5-List4', value='')
			li
				span(name='attr_KItem-Move5-List4')
			input.sheet-null-hider(type='hidden', name='attr_KItem-Move5-List5', value='')
			li
				span(name='attr_KItem-Move5-List5')
			input.sheet-null-hider(type='hidden', name='attr_KItem-Move5-List6', value='')
			li
				span(name='attr_KItem-Move5-List6')
		input.sheet-null-hider(type='hidden', name='attr_KItem-Move6', value='')
		li
			span(name='attr_KItem-Move6')
		input.sheet-null-hider(type='hidden', name='attr_KItem-Move6-List1', value='')
		ul
			input.sheet-null-hider(type='hidden', name='attr_KItem-Move6-List1', value='')
			li
				span(name='attr_KItem-Move6-List1')
			input.sheet-null-hider(type='hidden', name='attr_KItem-Move6-List2', value='')
			li
				span(name='attr_KItem-Move6-List2')
			input.sheet-null-hider(type='hidden', name='attr_KItem-Move6-List3', value='')
			li
				span(name='attr_KItem-Move6-List3')
			input.sheet-null-hider(type='hidden', name='attr_KItem-Move6-List4', value='')
			li
				span(name='attr_KItem-Move6-List4')
			input.sheet-null-hider(type='hidden', name='attr_KItem-Move6-List5', value='')
			li
				span(name='attr_KItem-Move6-List5')
			input.sheet-null-hider(type='hidden', name='attr_KItem-Move6-List6', value='')
			li
				span(name='attr_KItem-Move6-List6')
input.sheet-null-hider(type='hidden', name='attr_KItem-Day', value='')
.sheet-CountBox
	.sheet-CountRow
		.sheet-MinorHead.sheet-Day
			input.sheet-radio(type='radio', name='attr_KItem-CountdownLevel', value='Day')
			span.sheet-altbox
			| 
			span(data-i18n='day') Day
		.sheet-CountEvent
			span(name='attr_KItem-Day') &nbsp;
	.sheet-CountRow
		.sheet-MinorHead.sheet-Shadows
			input.sheet-radio(type='radio', name='attr_KItem-CountdownLevel', value='Shadows')
			span.sheet-altbox
			| 
			span(data-i18n='shadows') Shadows
		.sheet-CountEvent
			span(name='attr_KItem-Shadows')
	.sheet-CountRow
		.sheet-MinorHead.sheet-Sunset
			input.sheet-radio(type='radio', name='attr_KItem-CountdownLevel', value='Sunset')
			span.sheet-altbox
			| 
			span(data-i18n='sunset') Sunset
		.sheet-CountEvent
			span(name='attr_KItem-Sunset')
	.sheet-CountRow
		.sheet-MinorHead.sheet-Dusk
			input.sheet-radio(type='radio', name='attr_KItem-CountdownLevel', value='Dusk')
			span.sheet-altbox
			| 
			span(data-i18n='dusk') Dusk
		.sheet-CountEvent
			span(name='attr_KItem-Dusk')
	.sheet-CountRow
		.sheet-MinorHead.sheet-Nightfall
			input.sheet-radio(type='radio', name='attr_KItem-CountdownLevel', value='Nightfall')
			span.sheet-altbox
			| 
			span(data-i18n='nightfall') Nightfall
		.sheet-CountEvent
			span(name='attr_KItem-Nightfall')
	.sheet-CountRow
		.sheet-MinorHead.sheet-Midnight
			input.sheet-radio(type='radio', name='attr_KItem-CountdownLevel', value='Midnight')
			span.sheet-altbox
			| 
			span(data-i18n='midnight') Midnight
		.sheet-CountEvent
			span(name='attr_KItem-Midnight')
div
	input.sheet-null-hider(type='hidden', name='attr_KItem-Notes', value='')
	.sheet-MinorHead
		span(data-i18n='notes') Notes
	.sheet-KIndented
		span(name='attr_KItem-Notes')