.sheet-Luck-Specials
	.sheet-Subsection
		span(data-i18n='luck') Luck
		|  
		span(data-i18n='special') Special
	input.sheet-checkbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-LuckSpecial', value='1', checked='')
	span.sheet-anglebox
	span.sheet-ExpHeader
	.sheet-Expander
		input.sheet-SkinCheck(type='hidden', name='attr_SkinCheck', value='0')
		|  
		.sheet-Chosen
			span.sheet-highlights(data-i18n='luck-special-chosen')
				| When you spend 
				i Luck
				| , the Keeper will bring your fate into play.
		.sheet-Crooked
			span.sheet-highlights(data-i18n='luck-special-Crooked')
				| When you spend 
				i Luck
				| , someone from your past will re-appear in your life. Soon.
		.sheet-Divine
			span.sheet-highlights(data-i18n='luck-special-divine')
				| When you spend 
				i Luck
				| , you get word that your Mission requires something difficult that must be done. By you. Urgently.
		.sheet-Expert
			span.sheet-highlights(data-i18n='luck-special-expert')
		.sheet-Flake
			span.sheet-highlights(data-i18n='luck-special-flake')
		.sheet-Initiate
			span.sheet-highlights(data-i18n='luck-special-initiate')
		.sheet-Monstrous
			span.sheet-highlights(data-i18n='luck-special-monstrous')
		.sheet-Mundane
			span.sheet-highlights(data-i18n='luck-special-mundane')
		.sheet-Professional
			span.sheet-highlights(data-i18n='luck-special-professional')
		.sheet-Spellslinger
			span.sheet-highlights(data-i18n='luck-special-spellslinger')
		.sheet-Spooky
			span.sheet-highlights(data-i18n='luck-special-spooky')
		.sheet-Wronged
			span.sheet-highlights(data-i18n='luck-special-wronged')
		.sheet-Gumshoe
			span.sheet-highlights(data-i18n='luck-special-gumshoe')
		.sheet-Hex
			span.sheet-highlights(data-i18n='luck-special-hex')
		.sheet-Pararomantic
			span.sheet-highlights(data-i18n='luck-special-pararomantic')
		.sheet-Searcher
			span.sheet-highlights(data-i18n='luck-special-searcher')
		.sheet-Exile
			span.sheet-highlights(data-i18n='luck-special-exile')
		.sheet-Hardcase
			span.sheet-highlights(data-i18n='luck-special-hardcase')
		.sheet-Hardcase2020
			span.sheet-highlights(data-i18n='luck-special-hardcase2020')
		.sheet-Luchador
			span.sheet-highlights(data-i18n='luck-special-luchador')
		.sheet-Meddlingkid
			span.sheet-highlights(data-i18n='luck-special-meddlingkid')
		.sheet-Sidekick
			span.sheet-highlights(data-i18n='luck-special-sidekick')
		.sheet-Snoop
			span.sheet-highlights(data-i18n='luck-special-snoop')
		.sheet-Summoned
			span.sheet-highlights(data-i18n='luck-special-summoned')
		.sheet-Traveler
			span.sheet-highlights(data-i18n='luck-special-traveler')
		.sheet-Actionscientist
			span.sheet-highlights(data-i18n='luck-special-actionscientist')
		.sheet-Spooktacular
			span.sheet-highlights(data-i18n='luck-special-spooktacular')
		.sheet-Constructed
			span.sheet-highlights(data-i18n='luck-special-constructed')
		.sheet-Custom
			span.sheet-highlights(data-i18n='luck-special-custom')
				| You may come up with a Luck Special move for this playbook with help from the Keeper.
		.sheet-Luchador.sheet-Traveler.sheet-Custom
			textarea(name='attr_Luck-Special', rows='4', cols='40', placeholder='(Optional) Write your own Luck Special Move')
// .sheet-Luck-Specials