// The Monstrous Moves
.sheet-OPBHead.sheet-MinorHead.sheet-space-above(data-i18n='the-monstrous') The Monstrous
.sheet-Monstrous
	.sheet-isolator
		input.sheet-checkbox.sheet-ExpToggle(type='checkbox', name='attr_HJ-Monstrous-Enable', value='1', checked='')
		span.sheet-anglebox
		span.sheet-ExpHeader
			+t("Hunter's Journal Options")
	i
		span(data-i18n='2-moves') Pick two of these
		| :
.sheet-Monstrous.sheet-OPB
	input.sheet-SettingCheck(type='hidden', name='attr_Game-World', value='0')
	input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-MovesUnused', value='1', checked='')
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_Moves-Monstrous1')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='monstrous-move1')
			|  
			button.sheet-broadcast-button(type='roll', name='roll_Show', value='&{template:motw-moveshare} {{CharName=@{character_name}}} {{movekey=monstrous-move1}}', data-i18n-title='send_details_to_chat')
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_Moves-Monstrous2')
		span.sheet-mainbox
		span.sheet-grayable
			input.sheet-SettingCheck(type='hidden', name='attr_Game-World', value='0')
			span.sheet-Setting-Default.sheet-Setting-Gothic.sheet-Setting-Dreaming.sheet-Setting-Marches
				span(data-i18n='monstrous-move2') 
				// "<b>Unnatural Appeal</b>: Roll +Weird instead of +Charm when you <i>manipulate someone</i>.
				button.sheet-2d6-button(type='roll', value='&{template:motw-dieroll} {{CharName=@{character_name}}} {{title=Manipulate Someone}} {{Roll=[[2d6+?{Manipulate Someone with|Weird (Default),@{Weird}|Charm,@{Charm}|Cool,@{Cool}|Sharp,@{Sharp}|Tough,@{Tough}|Weird,@{Weird}}+?{+/- forward?|0}]]}}', name='roll_ms-charm')
				button.sheet-broadcast-button(type='roll', name='roll_Show', value='&{template:motw-moveshare} {{CharName=@{character_name}}} {{movekey=monstrous-move2}}', data-i18n-title='send_details_to_chat')
			span.sheet-Setting-Bone
				+translate('<b>Unnatural Appeal</b>: Roll +Weird instead of +Charm when you <i>persuade</i> someone.')
				button.sheet-2d6-button(type='roll', value='&{template:motw-dieroll} {{CharName=@{character_name}}} {{title=Persuade}} {{Roll=[[2d6+?{Persuade with|Weird (Default),@{Weird}|Charm,@{Charm}|Cool,@{Cool}|Sharp,@{Sharp}|Tough,@{Tough}|Weird,@{Weird}}+?{+/- forward?|0}]]}}', name='roll_ms-charm')
				button.sheet-broadcast-button(type='roll', name='roll_Show', value='&{template:motw-moveshare} {{CharName=@{character_name}}} {{movekey=<b>Unnatural Appeal</b>: Roll +Weird instead of +Charm when you <i>persuade</i> someone.}}', data-i18n-title='send_details_to_chat')
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_Moves-Monstrous3')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='monstrous-move3')
			|  
			button.sheet-2d6-button(type='roll', value='&{template:motw-dieroll} {{CharName=@{character_name}}} {{title=Kick Some Ass}} {{Roll=[[2d6+?{Kick Some Ass with|Weird (Default),@{Weird}|Charm,@{Charm}|Cool,@{Cool}|Sharp,@{Sharp}|Tough,@{Tough}|Weird,@{Weird}}+?{+/- forward?|0}]]}}', name='roll_kickass-weird')
			button.sheet-broadcast-button(type='roll', name='roll_Show', value='&{template:motw-moveshare} {{CharName=@{character_name}}} {{movekey=monstrous-move3}}', data-i18n-title='send_details_to_chat')
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_Moves-Monstrous4')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='monstrous-move4')
			|  
			button.sheet-broadcast-button(type='roll', name='roll_Show', value='&{template:motw-moveshare} {{CharName=@{character_name}}} {{movekey=monstrous-move4}}', data-i18n-title='send_details_to_chat')
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_Moves-Monstrous5')
		span.sheet-mainbox
		span.sheet-grayable
			input.sheet-SettingCheck(type='hidden', name='attr_Game-World', value='0')
			span.sheet-Setting-Default.sheet-Setting-Gothic.sheet-Setting-Dreaming.sheet-Setting-Marches
				span(data-i18n='monstrous-move5')
				// <b>Preternatural Speed</b>: You go much faster than normal people. When you <i>chase, flee, or run</i>, take +1 ongoing.
				|  
				button.sheet-broadcast-button(type='roll', name='roll_Show', value='&{template:motw-moveshare} {{CharName=@{character_name}}} {{movekey=monstrous-move5}}', data-i18n-title='send_details_to_chat')
			span.sheet-Setting-Bone
				+translate('<b>Preternatural Speed</b>: You go much faster than normal people. When you <i>chase, flee, or run</i>—including with the <i>pursuit</i> move—take +1 ongoing.')
				|  
				button.sheet-broadcast-button(type='roll', name='roll_Show', value='&{template:motw-moveshare} {{CharName=@{character_name}}} {{movekey=<b>Preternatural Speed</b>: You go much faster than normal people. When you <i>chase, flee, or run</i>—including with the <i>pursuit</i> move—take +1 ongoing.}}', data-i18n-title='send_details_to_chat')

	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_Moves-Monstrous6')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='monstrous-move6')
			|  
			button.sheet-broadcast-button(type='roll', name='roll_Show', value='&{template:motw-moveshare} {{CharName=@{character_name}}} {{movekey=monstrous-move6}}', data-i18n-title='send_details_to_chat')
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_Moves-Monstrous7')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='monstrous-move7')
			|  
			button.sheet-2d6-button(type='roll', value='&{template:motw-dieroll} {{CharName=@{character_name}}} {{title=Mental Dominion}} {{Roll=[[2d6+?{Mental Dominion with|Charm (Default),@{Charm}|Charm,@{Charm}|Cool,@{Cool}|Sharp,@{Sharp}|Tough,@{Tough}|Weird,@{Weird}}+?{+/- forward?|0}]]}}', name='roll_mdom')
			button.sheet-broadcast-button(type='roll', name='roll_Show', value='&{template:motw-moveshare} {{CharName=@{character_name}}} {{movekey=monstrous-move7}}', data-i18n-title='send_details_to_chat')
			|  
			br
			b
				span(data-i18n='current-hold') Current Hold
				| :
			|  
			input(type='number', name='attr_Monstrous7-Hold', min='0', value='0')
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_Moves-Monstrous8')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='monstrous-move8')
			button.sheet-2d6-button(type='roll', value='&{template:motw-dieroll} {{CharName=@{character_name}}} {{title=Unquenchable Vitality}} {{Roll=[[2d6+?{Unquenchable Vitality with|Cool (Default),@{Cool}|Charm,@{Charm}|Cool,@{Cool}|Sharp,@{Sharp}|Tough,@{Tough}|Weird,@{Weird}}+?{+/- forward?|0}]]}}', name='roll_uvital')
			button.sheet-broadcast-button(type='roll', name='roll_Show', value='&{template:motw-moveshare} {{CharName=@{character_name}}} {{movekey=monstrous-move8}}', data-i18n-title='send_details_to_chat')
	.sheet-move.sheet-Setting-Default.sheet-Setting-Gothic.sheet-Setting-Dreaming.sheet-Setting-Marches
		input.sheet-checkbox(type='checkbox', name='attr_Moves-Monstrous9')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='monstrous-move9')
			|  
			button.sheet-broadcast-button(type='roll', name='roll_Show', value='&{template:motw-moveshare} {{CharName=@{character_name}}} {{movekey=monstrous-move9}}', data-i18n-title='send_details_to_chat')
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_Moves-Monstrous10')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='monstrous-move10')
			|  
			button.sheet-broadcast-button(type='roll', name='roll_Show', value='&{template:motw-moveshare} {{CharName=@{character_name}}} {{movekey=monstrous-move10}}', data-i18n-title='send_details_to_chat')
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_Moves-Monstrous11')
		span.sheet-mainbox
		span.sheet-grayable
			input.sheet-SettingCheck(type='hidden', name='attr_Game-World', value='0')
			span.sheet-Setting-Default.sheet-Setting-Gothic.sheet-Setting-Dreaming.sheet-Setting-Marches
				span(data-i18n='monstrous-move11')
			span.sheet-Setting-Bone
				+translate('<b>Shapeshifter</b>: You may change your form (usually into an animal). This often requires an object to transform, usually a hide of the creature whose form you assume. Decide if you have just one alternate form or several, and detail them. You gain +1 to <i>investigate a mystery</i> when using an alternate form’s superior senses.')
			button.sheet-2d6-button(type='roll', value='&{template:motw-dieroll} {{CharName=@{character_name}}} {{title=Investigate a Mystery}} {{Roll=[[2d6+?{Investigate a Mystery with|Sharp (Default),@{Sharp}|Charm,@{Charm}|Cool,@{Cool}|Sharp,@{Sharp}|Tough,@{Tough}|Weird,@{Weird}}+?{+/- forward?|1}]]}}', name='roll_iam-plusone')
			span.sheet-Setting-Default.sheet-Setting-Gothic.sheet-Setting-Dreaming.sheet-Setting-Marches
				button.sheet-broadcast-button(type='roll', name='roll_Show', value='&{template:motw-moveshare} {{CharName=@{character_name}}} {{movekey=monstrous-move11}} {{extra=@{Shapeshifter-Monstrous}}}', data-i18n-title='send_details_to_chat')
			span.sheet-Setting-Bone
				+shareButton('<b>Shapeshifter</b>: You may change your form (usually into an animal). This often requires an object to transform, usually a hide of the creature whose form you assume. Decide if you have just one alternate form or several, and detail them. You gain +1 to <i>investigate a mystery</i> when using an alternate form’s superior senses.')
			|  
			input(type='text', name='attr_Shapeshifter-Monstrous')
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_Moves-Monstrous12')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='monstrous-move12')
			|  
			button.sheet-broadcast-button(type='roll', name='roll_Show', value='&{template:motw-moveshare} {{CharName=@{character_name}}} {{movekey=monstrous-move12}} {{extra=@{Borrowed-Monstrous}}}', data-i18n-title='send_details_to_chat')
			|  
			textarea(name='attr_Borrowed-Monstrous', rows='3', cols='40')
	+move('Bone-Monstrous-Move','<b>Wild Language</b>: You may speak to the animating spirits within all beings, objects, and places (people, animals, plants, rocks, the air, fires, etc.) without needing to awaken them first with <i>use magic</i>.',true).sheet-Setting-Bone

	// These are both the same, but available in different contexts: one if you're in Bone Spear; the other is if you enable HJ options for the Monstrous.

	+move('Bone-Monstrous-Move','<b>Shadowsight</b>: You can see in darkness as if it were daylight.',true).sheet-Setting-Bone
	input.sheet-triggerbox(type='checkbox', name='attr_HJ-Monstrous-Enable', value="1")
	+move("HJ-Monstrous-Move","<b>Shadowsight:</b> You can see in darkness as if it were daylight.").sheet-triggerframe.sheet-Setting-Default.sheet-Setting-Gothic.sheet-Setting-Dreaming.sheet-Setting-Marches

	input.sheet-triggerbox(type='checkbox', name='attr_HJ-Monstrous-Enable', value="1")
	+move("HJ-Monstrous-Move","<b>Wild Language:</b> You may speak to the spirits within all living things, even if they can’t normally talk. They don’t necessarily have anything interesting to say.").sheet-triggerframe
	input.sheet-triggerbox(type='checkbox', name='attr_HJ-Monstrous-Enable', value="1")
	+move("HJ-Monstrous-Move","<b>Toxic:</b> You’re poisonous. If anything bites you, it becomes poisoned (taking 2-harm and becoming unstable). Add “poison” to one natural attack.").sheet-triggerframe
	input.sheet-triggerbox(type='checkbox', name='attr_HJ-Monstrous-Enable', value="1")
	+move("HJ-Monstrous-Move","<b>Camouflage:</b> You can blend into the background and don’t need cover to hide.").sheet-triggerframe
	input.sheet-triggerbox(type='checkbox', name='attr_HJ-Monstrous-Enable', value="1")
	+move("HJ-Monstrous-Move","<b>Supernatural Sense: You have a sense vastly beyond normal human capabilities. Pick one:</b> sight, hearing, smell, touch, taste, or a sense humans don’t have.").sheet-triggerframe
		+itext("HJ-Monstrous-Move-Supernatural-Sense")
	input.sheet-triggerbox(type='checkbox', name='attr_HJ-Monstrous-Enable', value="1")
	+move("HJ-Monstrous-Move","<b>Extra Arms:</b> You have extra arms that you can use to manipulate objects.").sheet-triggerframe

// .sheet-Monstrous .sheet-OPB
