// The Pararomantic Moves
.sheet-OPBHead.sheet-MinorHead.sheet-space-above(data-i18n='the-pararomantic') The Pararomantic
.sheet-Pararomantic
	i
		span(data-i18n='1-fixed-move') You get this
	| :
.sheet-Pararomantic.sheet-OPB
	input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-MovesUnused', value='1', checked='')
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_FixedMoves-Pararomantic1')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='pararomantic-fixed-move1')
				b Supernatural Guide
				| : You have a (most likely intimate) connection to some supernatural being who is your guide into the world beyond. Choose if your relationship is secret or not
			| : 
			button.sheet-broadcast-button(type='roll', name='roll_Show', value='&{template:motw-moveshare} {{CharName=@{character_name}}} {{movekey=pararomantic-fixed-move1}} {{coda=@{GuideSecret-Pararomantic}}}', data-i18n-title='send_details_to_chat')
			input(type='text', name='attr_GuideSecret-Pararomantic')
			span(data-i18n='pararomantic-fixed-move1.1')
				| Determine what kind of creature your Guide is and how your relationship works. Say what kind of power they possess. The Keeper will decide how it works and define your Guide as a threat.
			span(data-i18n='pararomantic-fixed-move1.2') If your Guide is another hunter, determine together how your relationship works.
			button.sheet-broadcast-button(type='roll', name='roll_Show', value='&{template:motw-moveshare} {{CharName=@{character_name}}} {{movekey=pararomantic-fixed-move1.1}} {{key1=pararomantic-fixed-move1.2}} {{coda=@{GuideDescrip}}}', data-i18n-title='send_details_to_chat')
			textarea(name='attr_GuideDescrip', rows='3', cols='40', placeholder='Describe your Guide')
			span(data-i18n='pararomantic-fixed-move1.3')
				| Whenever you would roll +Weird, you can roll +Charm instead, by channeling the power of your 
				i Bond
				| . When you do so and miss, in addition to the usual consequences, you and your Guide suffer as when you miss a roll for 
				i Bond Abuse
				| .
			button.sheet-broadcast-button(type='roll', name='roll_Show', value='&{template:motw-moveshare} {{CharName=@{character_name}}} {{movekey=pararomantic-fixed-move1.3}}', data-i18n-title='send_details_to_chat')
// .sheet-Pararomantic .sheet-OPB
.sheet-Pararomantic
	i
		span(data-i18n='2-moves-then') Then pick two of these
	| :
.sheet-Pararomantic.sheet-OPB
	input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-MovesUnused', value='1', checked='')
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_Moves-Pararomantic1')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='pararomantic-move1')
				b Bonding Time
				| : If you spend some quality time with your 
				i Guide
				|  instead of working on the current mystery, you can roll +Charm. On a 10+ hold 2, on a 7-9 hold 1. Spend your hold 1-for-1 to
			| :
			ul
				li
					span(data-i18n='pararomantic-move1.1')
						| Erase one used 
						i Relationship Status
						|  mark.
				li
					span(data-i18n='pararomantic-move1.2')
						| Use a 
						i Pararomantic
						|  move you haven&apos;t picked.
				li
					span(data-i18n='pararomantic-move1.3')
						| Receive a gift from your 
						i Guide
						| .
				li
					span(data-i18n='pararomantic-move1.4') Take +1 forward.
					button.sheet-2d6-button(type='roll', value='&{template:motw-dieroll} {{CharName=@{character_name}}} {{title=Bonding Time}} {{Roll=[[2d6+?{Bonding Time with|Charm (Default),@{Charm}|Charm,@{Charm}|Cool,@{Cool}|Sharp,@{Sharp}|Tough,@{Tough}|Weird,@{Weird}}+?{+/- forward?|0}]]}}', name='roll_bondingtime')
					button.sheet-broadcast-button(type='roll', name='roll_Show', value='&{template:motw-moveshare} {{CharName=@{character_name}}} {{movekey=pararomantic-move1}} {{key1=pararomantic-move1.1}} {{key2=pararomantic-move1.2}} {{key3=pararomantic-move1.3}} {{key4=pararomantic-move1.4}}', data-i18n-title='send_details_to_chat')
			b
				span(data-i18n='current-hold') Current Hold
				| :
			|  
			input(type='number', name='attr_pararomantic-move1-Hold', min='0', value='0')
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_Moves-Pararomantic2')
		span.sheet-mainbox
		span.sheet-grayable
			input.sheet-SettingCheck(type='hidden', name='attr_Game-World', value='0')
			span.sheet-Setting-Default.sheet-Setting-Gothic.sheet-Setting-Dreaming.sheet-Setting-Marches
				span(data-i18n='pararomantic-move2')
					b Dark Desires
					| : You may use 
					i manipulate someone
					|  on monsters, as long as you are using emotional ties.
				button.sheet-2d6-button(type='roll', value='&{template:motw-dieroll} {{CharName=@{character_name}}} {{title=Manipulate Someone}} {{Roll=[[2d6+?{Manipulate Someone with|Charm (Default),@{Charm}|Charm,@{Charm}|Cool,@{Cool}|Sharp,@{Sharp}|Tough,@{Tough}|Weird,@{Weird}}+?{+/- forward?|0}]]}}', name='roll_ms')
				button.sheet-broadcast-button(type='roll', name='roll_Show', value='&{template:motw-moveshare} {{CharName=@{character_name}}} {{movekey=pararomantic-move2}}', data-i18n-title='send_details_to_chat')
			span.sheet-Setting-Bone
				+translate('<b>Dark Desires</b>: When you <i>persuade</i> a non-human using emotional ties, take +1 forward.')
				button.sheet-2d6-button(type='roll', value='&{template:motw-dieroll} {{CharName=@{character_name}}} {{title=Persuade}} {{Roll=[[2d6+?{Persuade with|Charm (Default),@{Charm}|Charm,@{Charm}|Cool,@{Cool}|Sharp,@{Sharp}|Tough,@{Tough}|Weird,@{Weird}}+?{+/- forward?|1}]]}}', name='roll_Persuade-plus-one')
				button.sheet-broadcast-button(type='roll', name='roll_Show', value='&{template:motw-moveshare} {{CharName=@{character_name}}} {{movekey=<b>Dark Desires</b>: When you <i>persuade</i> a non-human using emotional ties, take +1 forward.}}', data-i18n-title='send_details_to_chat')
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_Moves-Pararomantic3')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='pararomantic-move3')
				b The Power of Love
				| : When you use 
				i help someone
				|  to help your 
				i Guide
				| , don&apos;t roll +Cool. You automatically help as though you&apos;d rolled a 10. If your 
				i Guide
				|  is another hunter, the same applies when they use 
				i help someone
				|  to help you.
			button.sheet-broadcast-button(type='roll', name='roll_Show', value='&{template:motw-moveshare} {{CharName=@{character_name}}} {{movekey=pararomantic-move3}}', data-i18n-title='send_details_to_chat')
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_Moves-Pararomantic4')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='pararomantic-move4')
				b Do As The Supernatural Do
				| : You can take an unnatural move from your Guide&apos;s playbook (if they are a hunter). If they are a monster, choose a move from a suitable supernatural playbook. The Keeper may offer you a custom move instead.
			button.sheet-broadcast-button(type='roll', name='roll_Show', value='&{template:motw-moveshare} {{CharName=@{character_name}}} {{movekey=pararomantic-move4}} {{coda=@{Supernatural-Pararomantic-DATSD-Move}}}', data-i18n-title='send_details_to_chat')
			textarea(name='attr_Supernatural-Pararomantic-DATSD-Move', rows='4', cols='40')
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_Moves-Pararomantic5')
		span.sheet-mainbox
		span.sheet-grayable
			input.sheet-SettingCheck(type='hidden', name='attr_Game-World', value='0')
			span.sheet-Setting-Default.sheet-Setting-Gothic.sheet-Setting-Dreaming.sheet-Setting-Marches
				span(data-i18n='pararomantic-move5')
					b I Am Theirs And They Are Mine
					| : Whenever you are in danger, your 
					i Guide
					|  knows it. If your 
					i Guide
					|  is suffering harm (and it&apos;s feasible), you can spend 
					i Luck
					|  to redirect the attack onto yourself as if you have rolled 10+ with 
					i protect someone
					| . If you are suffering harm, you can decide that your 
					i Guide
					|  has protected you and is suffering this harm instead. If you choose this, roll for 
					i Bond Abuse
					| .
				button.sheet-broadcast-button(type='roll', name='roll_Show', value='&{template:motw-moveshare} {{CharName=@{character_name}}} {{movekey=pararomantic-move5}}', data-i18n-title='send_details_to_chat')
			span.sheet-Setting-Bone
				+translate('<b>I Am Theirs And They Are Mine</b>: Whenever you are in danger, your <i>Guide</i> knows it. If your <i>Guide</i> is suffering harm (and it’s feasible), you can spend a point of <i>Favour</i> to redirect the attack onto yourself as if you have rolled 10+ with <i>protect someone</i>. If you are suffering harm, you can decide that your <i>Guide</i> has protected you and is suffering this harm instead. If you choose this, roll for <i>bond abuse</i>.')
				button.sheet-broadcast-button(type='roll', name='roll_Show', value='&{template:motw-moveshare} {{CharName=@{character_name}}} {{movekey=<b>I Am Theirs And They Are Mine</b>: Whenever you are in danger, your <i>Guide</i> knows it. If your <i>Guide</i> is suffering harm (and it’s feasible), you can spend a point of <i>Favour</i> to redirect the attack onto yourself as if you have rolled 10+ with <i>protect someone</i>. If you are suffering harm, you can decide that your <i>Guide</i> has protected you and is suffering this harm instead. If you choose this, roll for <i>bond abuse</i>.}}', data-i18n-title='send_details_to_chat')
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_Moves-Pararomantic6')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='pararomantic-move6')
				b Monster Empathy
				| : When you try to work out what a supernatural creature desires, roll +Charm. On a 10+ hold 2, on a 7-9 hold 1. Spend your hold 1-for-1 to ask the following questions - the Keeper will answer honestly
			| :
			ul
				li
					span(data-i18n='pararomantic-move6.1') What do they most desire?
				li
					span(data-i18n='pararomantic-move6.2') What would they accept as good enough for now?
				li
					span(data-i18n='pararomantic-move6.3') What would distract them?
					button.sheet-2d6-button(type='roll', value='&{template:motw-dieroll} {{CharName=@{character_name}}} {{title=Monster Empathy}} {{Roll=[[2d6+?{Monster Empathy with|Charm (Default),@{Charm}|Charm,@{Charm}|Cool,@{Cool}|Sharp,@{Sharp}|Tough,@{Tough}|Weird,@{Weird}}+?{+/- forward?|0}]]}}', name='roll_monsterempathy')
					button.sheet-broadcast-button(type='roll', name='roll_Show', value='&{template:motw-moveshare} {{CharName=@{character_name}}} {{movekey=pararomantic-move6}} {{key1=pararomantic-move6.1}} {{key2=pararomantic-move6.2}} {{key3=pararomantic-move6.3}} ', data-i18n-title='send_details_to_chat')
			b
				span(data-i18n='current-hold') Current Hold
				| :
			|  
			input(type='number', name='attr_pararomantic-move6-Hold', min='0', value='0')
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_Moves-Pararomantic7')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='pararomantic-move7')
				b Spirit Touched
				| : Your experiences have made you sensitive to the supernatural. When you sense magical things, roll +Weird. On a 10+, you can sense them fully. On a 7-9, choose: either sense them fully but they notice you too, or you sense only impressions.
			button.sheet-2d6-button(type='roll', value='&{template:motw-dieroll} {{CharName=@{character_name}}} {{title=Spirit Touched}} {{Roll=[[2d6+?{Spirit Touched with|Weird (Default),@{Weird}|Charm,@{Charm}|Cool,@{Cool}|Sharp,@{Sharp}|Tough,@{Tough}|Weird,@{Weird}}+?{+/- forward?|0}]]}}', name='roll_spirittouched')
			button.sheet-broadcast-button(type='roll', name='roll_Show', value='&{template:motw-moveshare} {{CharName=@{character_name}}} {{movekey=pararomantic-move7}}', data-i18n-title='send_details_to_chat')
// .sheet-Pararomantic .sheet-OPB
