// The Luchador Moves
.sheet-OPBHead.sheet-MinorHead.sheet-space-above(data-i18n='the-luchador') The Luchador
.sheet-Luchador
	i
		span(data-i18n='1-fixed-move') You get this
	| :
.sheet-Luchador.sheet-OPB
	input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-MovesUnused', value='1', checked='')
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_FixedMoves-Luchador1')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='luchador-fixed-move1')
				b Signature Move
				| : Like every great wrestler, you have perfected a signature move for the ring. It works outside the ring as well.
			textarea(name='attr_Signature-Luchador', rows='3', cols='40', placeholder='Describe your Signature Move')
			span(data-i18n='luchador-fixed-move1.1')
				| When you unleash your signature move on something, roll +Tough. On a 10+, you do 2 harm and take +1 forward. On a 7-9, you do 1 harm and take +1 forward. On a miss, your opponent counters the move.
			button.sheet-2d6-button(type='roll', value='&{template:motw-dieroll} {{CharName=@{character_name}}} {{title=Signature Move}} {{Roll=[[2d6+?{Signature Move with|Tough (Default),@{Tough}|Charm,@{Charm}|Cool,@{Cool}|Sharp,@{Sharp}|Tough,@{Tough}|Weird,@{Weird}}+?{+/- forward?|0}]]}}', name='roll_sigmove')
			button.sheet-broadcast-button(type='roll', name='roll_Show', value='&{template:motw-moveshare} {{CharName=@{character_name}}} {{movekey=luchador-fixed-move1}} {{extra=@{Signature-Luchador}}} {{codakey=luchador-fixed-move1.1}}', data-i18n-title='send_details_to_chat')
// .sheet-Luchador .sheet-OPB
.sheet-Luchador
	i
		span(data-i18n='2-moves-then') Then pick two of these
	| :
.sheet-Luchador.sheet-OPB
	input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-MovesUnused', value='1', checked='')
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_Moves-Luchador1')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='luchador-move1')
				b Master T&eacute;cnico
				| : When fighting unarmed, you get +1 to 
				i kick some ass
				|  and 
				i help out
				| .
			button.sheet-2d6-button(type='roll', value='&{template:motw-dieroll} {{CharName=@{character_name}}} {{title=Master Técnico}} {{Roll=[[2d6+?{Master Técnico with|Tough (Kick Some Ass),@{Tough}|Cool (Help Out),@{Cool}|Charm,@{Charm}|Cool,@{Cool}|Sharp,@{Sharp}|Tough,@{Tough}|Weird,@{Weird}}+?{+/- forward?|1}]]}}', name='roll_mt')
			button.sheet-broadcast-button(type='roll', name='roll_Show', value='&{template:motw-moveshare} {{CharName=@{character_name}}} {{movekey=luchador-move1}}', data-i18n-title='send_details_to_chat')
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_Moves-Luchador2')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='luchador-move2')
				b Intensive Training
				| : Take +1 Tough (max +3).
			button.sheet-broadcast-button(type='roll', name='roll_Show', value='&{template:motw-moveshare} {{CharName=@{character_name}}} {{movekey=luchador-move2}}', data-i18n-title='send_details_to_chat')
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_Moves-Luchador3')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='luchador-move3')
				b Noble Heroism
				| : When you successfully 
				i protect someone
				| , give a nearby hunter +1 forward.
			button.sheet-broadcast-button(type='roll', name='roll_Show', value='&{template:motw-moveshare} {{CharName=@{character_name}}} {{movekey=luchador-move3}}', data-i18n-title='send_details_to_chat')
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_Moves-Luchador4')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='luchador-move4')
				b Consummate Athlete
				| : You get +1 ongoing for vigorous physical feats (outside of combat).
			button.sheet-broadcast-button(type='roll', name='roll_Show', value='&{template:motw-moveshare} {{CharName=@{character_name}}} {{movekey=luchador-move4}}', data-i18n-title='send_details_to_chat')
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_Moves-Luchador5')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='luchador-move5')
				b Machismo!
				| : Hah! You think that really hurt? By force of will, you can ignore pain and injury. When you suffer harm and just tough it out, roll +Cool. On a 10+, you heal 1 harm and gain +1 forward. On a 7-9, you heal 1 harm. On a miss, pretending to be tough you suffer 1 extra harm, in an embarrassing way if possible.
			button.sheet-2d6-button(type='roll', value='&{template:motw-dieroll} {{CharName=@{character_name}}} {{title=Machismo!}} {{Roll=[[2d6+?{Machismo! with|Cool (Default),@{Cool}|Charm,@{Charm}|Cool,@{Cool}|Sharp,@{Sharp}|Tough,@{Tough}|Weird,@{Weird}}+?{+/- forward?|0}]]}}', name='roll_macho')
			button.sheet-broadcast-button(type='roll', name='roll_Show', value='&{template:motw-moveshare} {{CharName=@{character_name}}} {{movekey=luchador-move5}}', data-i18n-title='send_details_to_chat')
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_Moves-Luchador6')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='luchador-move6')
				b Daredevil Move
				| : You can attempt a tricky, high risk manoeuver to gain an advantage on an opponent. Roll +Tough. On a 10+ pick three, on a 7-9, pick one
			| :
			ul
				li
					span(data-i18n='luchador-move6.1') Interrupt a move someone or something else is making, so they can&apos;t do it yet.
				li
					span(data-i18n='luchador-move6.2') Take +1 forward.
				li
					span(data-i18n='luchador-move6.3') Give another hunter +1 forward.
				li
					span(data-i18n='luchador-move6.4') Inflict 2 harm if you are unarmed, and your weapon&apos;s harm if you are armed.
				li
					span(data-i18n='luchador-move6.5') You don&apos;t suffer harm in return.
			span(data-i18n='luchador-move6.6')
				| On a miss, you suffer 1 harm from your failed move, and leave yourself open to your foes.
			button.sheet-2d6-button(type='roll', value='&{template:motw-dieroll} {{CharName=@{character_name}}} {{title=Daredevil Move}} {{Roll=[[2d6+?{Daredevil Move with|Tough (Default),@{Tough}|Charm,@{Charm}|Cool,@{Cool}|Sharp,@{Sharp}|Tough,@{Tough}|Weird,@{Weird}}+?{+/- forward?|0}]]}}', name='roll_daredevil')
			button.sheet-broadcast-button(type='roll', name='roll_Show', value='&{template:motw-moveshare} {{CharName=@{character_name}}} {{movekey=luchador-move6}} {{key1=luchador-move6.1}} {{key2=luchador-move6.2}} {{key3=luchador-move6.3}} {{key4=luchador-move6.4}} {{key5=luchador-move6.5}} {{codakey=luchador-move6.6}}', data-i18n-title='send_details_to_chat')
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_Moves-Luchador7')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='luchador-move7')
				b Inspiring Speech
				| : When you rally a group with your ringside style, roll +Charm. On a 10+, they are pumped and ready to risk life and limb for the cause. On a 7-9, they are ready to pitch in their help, as long as there is little personal risk. Choose one thing for them to do
			| :
			ul
				li
					span(data-i18n='luchador-move7.1') Act as an angry mob, unleashed at the target you name.
				li
					span(data-i18n='luchador-move7.2') Be a vigilant watch force.
				li
					span(data-i18n='luchador-move7.3') Go wherever you tell them to.
				li
					span(data-i18n='luchador-move7.4') Help construct a trap.
			span(data-i18n='luchador-move7.5') On a miss, you lose face with the bystanders.
			button.sheet-2d6-button(type='roll', value='&{template:motw-dieroll} {{CharName=@{character_name}}} {{title=Inspiring Speech}} {{Roll=[[2d6+?{Inspiring Speech with|Charm (Default),@{Charm}|Charm,@{Charm}|Cool,@{Cool}|Sharp,@{Sharp}|Tough,@{Tough}|Weird,@{Weird}}+?{+/- forward?|0}]]}}', name='roll_inspire')
			button.sheet-broadcast-button(type='roll', name='roll_Show', value='&{template:motw-moveshare} {{CharName=@{character_name}}} {{movekey=luchador-move7}} {{key1=luchador-move7.1}} {{key2=luchador-move7.2}} {{key3=luchador-move7.3}} {{key4=luchador-move7.4}} {{codakey=luchador-move7.5}}', data-i18n-title='send_details_to_chat')
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_Moves-Luchador8')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='luchador-move8')
				b Sly Rudo
				| : When you fight, you fight dirty. When you inflict harm on a monster, you can lure it into a trick. Roll +Sharp. On a 10+, the monster really fell for it, inflict +1 harm and +1 ongoing vs. the monster. On a 7-9, the monster fell for it, inflict +1 harm. On a miss, your trick backfires.
			button.sheet-2d6-button(type='roll', value='&{template:motw-dieroll} {{CharName=@{character_name}}} {{title=Sly Rudo}} {{Roll=[[2d6+?{Sly Rudo with|Sharp (Default),@{Sharp}|Charm,@{Charm}|Cool,@{Cool}|Sharp,@{Sharp}|Tough,@{Tough}|Weird,@{Weird}}+?{+/- forward?|0}]]}}', name='roll_slyrudo')
			button.sheet-broadcast-button(type='roll', name='roll_Show', value='&{template:motw-moveshare} {{CharName=@{character_name}}} {{movekey=luchador-move8}}', data-i18n-title='send_details_to_chat')
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_Moves-Luchador9')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='luchador-move9')
				b Fan Following
				| : Your exploits in the ring have not gone unnoticed. When you contact a devoted fan to help you with a mystery, roll +Charm. On a 10+, they&apos;re available and helpful - they can fix something, give you a lift, or do some other favour. On a 7-9, they&apos;re prepared to help, but it&apos;s either going to take some time or you&apos;re going to have to do part of it yourself. On a miss, you burn some bridges.
			button.sheet-2d6-button(type='roll', value='&{template:motw-dieroll} {{CharName=@{character_name}}} {{title=Fan Following}} {{Roll=[[2d6+?{Fan Following with|Charm (Default),@{Charm}|Charm,@{Charm}|Cool,@{Cool}|Sharp,@{Sharp}|Tough,@{Tough}|Weird,@{Weird}}+?{+/- forward?|0}]]}}', name='roll_fans')
			button.sheet-broadcast-button(type='roll', name='roll_Show', value='&{template:motw-moveshare} {{CharName=@{character_name}}} {{movekey=luchador-move9}}', data-i18n-title='send_details_to_chat')
// .sheet-Luchador .sheet-OPB
