// Advanced Basic Moves Imp-Changeling-AdvancedWeird
input.sheet-triggerbox(type='checkbox', name='attr_AdvImp-Forged-AdvBasic')
input.sheet-triggerbox(type='checkbox', name='attr_Imp-Changeling-AdvancedWeird')
input.sheet-triggerbox(type='checkbox', name='attr_AdvImp-AdvBasic')
.sheet-triggerframe
	.sheet-Subsection(data-i18n='advanced-basic-moves') Advanced Basic Moves
	input.sheet-checkbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-AdvBM', value='1', checked='')
	span.sheet-anglebox
	span.sheet-ExpHeader
	.sheet-Expander
		input.sheet-SettingCheck(type='hidden', name='attr_Game-World', value='0')
		input.sheet-triggerbox(type='checkbox', name='attr_advanced-aup')
		.sheet-move.sheet-triggerframe
			input.sheet-checkbox(type='checkbox', name='attr_advanced-aup')
			span.sheet-mainbox
			span.sheet-grayable
				b
					span(data-i18n='aup')
				|  
				span(data-i18n='aup-advanced')
		.sheet-Setting-Default.sheet-Setting-Gothic.sheet-Setting-Dreaming.sheet-Setting-Marches
			input.sheet-triggerbox(type='checkbox', name='attr_advanced-manipulate')
			.sheet-move.sheet-triggerframe
				input.sheet-checkbox(type='checkbox', name='attr_advanced-manipulate')
				span.sheet-mainbox
				span.sheet-grayable
		.sheet-Setting-Bone
			input.sheet-triggerbox(type='checkbox', name='attr_advanced-crafting')
			.sheet-move.sheet-triggerframe
				input.sheet-checkbox(type='checkbox', name='attr_advanced-crafting')
				span.sheet-mainbox
				span.sheet-grayable
					+translate('<b>Crafting Advanced:</b> When repairing...<ul><li>On a 12+, add an extra and restore the item to its maximum wear level.</li></ul>When making something new...<ul><li>On a 12+, you make it plus pick two extras.</li></ul>')
		input.sheet-triggerbox(type='checkbox', name='attr_advanced-helpout')
		.sheet-move.sheet-triggerframe
			input.sheet-checkbox(type='checkbox', name='attr_advanced-helpout')
			span.sheet-mainbox
			span.sheet-grayable
				b
					span(data-i18n='helpout')
				|  
				span(data-i18n='helpout-advanced')
		input.sheet-triggerbox(type='checkbox', name='attr_advanced-iam')
		.sheet-move.sheet-triggerframe
			input.sheet-checkbox(type='checkbox', name='attr_advanced-iam')
			span.sheet-mainbox
			span.sheet-grayable
				b
					span(data-i18n='iam')
				|  
				span(data-i18n='iam-advanced')
		input.sheet-triggerbox(type='checkbox', name='attr_advanced-iam-alt')
		.sheet-move.sheet-triggerframe
			input.sheet-checkbox(type='checkbox', name='attr_advanced-iam-alt')
			span.sheet-mainbox
			span.sheet-grayable
				b
					span(data-i18n='iam')
					|  (
					span(data-i18n='flex-alt') Flexible Alternative
					| )
				|  
				span(data-i18n='iam-alt-advanced')
		.sheet-Setting-Bone
			input.sheet-triggerbox(type='checkbox', name='attr_advanced-intimidate')
			.sheet-move.sheet-triggerframe
				input.sheet-checkbox(type='checkbox', name='attr_advanced-intimidate')
				span.sheet-mainbox
				span.sheet-grayable
					+translate('<b>Intimidate Advanced:</b> On a 12+, if you have advanced intimidate, they do what you say and don’t hold a grudge. If they’re a member of your community, add a mark to their hunter support track.')
		input.sheet-triggerbox(type='checkbox', name='attr_advanced-kickass')
		.sheet-move.sheet-triggerframe
			input.sheet-checkbox(type='checkbox', name='attr_advanced-kickass')
			span.sheet-mainbox
			span.sheet-grayable
				b
					span(data-i18n='kickass')
				|  
				span(data-i18n='kickass-advanced')
		.sheet-Setting-Default.sheet-Setting-Gothic.sheet-Setting-Dreaming.sheet-Setting-Marches
			input.sheet-triggerbox(type='checkbox', name='attr_advanced-manipulate')
			.sheet-move.sheet-triggerframe
				input.sheet-checkbox(type='checkbox', name='attr_advanced-manipulate')
				span.sheet-mainbox
				span.sheet-grayable
					b
						span(data-i18n='manipulate')
						|  
						span(data-i18n='advanced')
					| :
					ul
						li
							b
								span(data-i18n='for-normal')
							span(data-i18n='normal-person-advanced')
						li
							b
								span(data-i18n='another-hunter')
							span(data-i18n='another-hunter-advanced')
		.sheet-Setting-Bone
			input.sheet-triggerbox(type='checkbox', name='attr_advanced-persuade')
			.sheet-move.sheet-triggerframe
				input.sheet-checkbox(type='checkbox', name='attr_advanced-persuade')
				span.sheet-mainbox
				span.sheet-grayable
					+translate('<b>Persuade Advanced:</b> On a 12+, they’re convinced. If they’re a member of your community, add a mark to their hunter support track. If they are an outsider, they instead become an ally.')
		input.sheet-triggerbox(type='checkbox', name='attr_advanced-protect-someone')
		.sheet-move.sheet-triggerframe
			input.sheet-checkbox(type='checkbox', name='attr_advanced-protect-someone')
			span.sheet-mainbox
			span.sheet-grayable
				b
					span(data-i18n='protect-someone')
				|  
				span(data-i18n='protect-someone-advanced')
		.sheet-Setting-Bone
			input.sheet-triggerbox(type='checkbox', name='attr_advanced-pursuit')
			.sheet-move.sheet-triggerframe
				input.sheet-checkbox(type='checkbox', name='attr_advanced-pursuit')
				span.sheet-mainbox
				span.sheet-grayable
					+translate('<b>Pursuit Advanced:</b> On a 12+, you close the distance, plus pick three options.')
		input.sheet-triggerbox(type='checkbox', name='attr_advanced-rabs')
		.sheet-move.sheet-triggerframe
			input.sheet-checkbox(type='checkbox', name='attr_advanced-rabs')
			span.sheet-mainbox
			span.sheet-grayable
				b
					span(data-i18n='rabs')
				|  
				span(data-i18n='rabs-advanced')
		input.sheet-triggerbox(type='checkbox', name='attr_advanced-usemagic')
		.sheet-move.sheet-triggerframe
			input.sheet-checkbox(type='checkbox', name='attr_advanced-usemagic')
			span.sheet-mainbox
			span.sheet-grayable
				b
					span(data-i18n='usemagic')
				|  
				span(data-i18n='usemagic-advanced')
		input.sheet-triggerbox(type='checkbox', name='attr_advanced-empath')
		.sheet-move.sheet-triggerframe
			input.sheet-checkbox(type='checkbox', name='attr_advanced-empath')
			span.sheet-mainbox
			span.sheet-grayable
				b
					span(data-i18n='empath')
				|  
				span(data-i18n='empath-advanced')
		input.sheet-triggerbox(type='checkbox', name='attr_advanced-illuminated')
		.sheet-move.sheet-triggerframe
			input.sheet-checkbox(type='checkbox', name='attr_advanced-illuminated')
			span.sheet-mainbox
			span.sheet-grayable
				b
					span(data-i18n='illuminated')
				|  
				span(data-i18n='illuminated-advanced')
		input.sheet-triggerbox(type='checkbox', name='attr_advanced-nolimits')
		.sheet-move.sheet-triggerframe
			input.sheet-checkbox(type='checkbox', name='attr_advanced-nolimits')
			span.sheet-mainbox
			span.sheet-grayable
				b
					span(data-i18n='nolimits')
				|  
				span(data-i18n='nolimits-advanced')
		input.sheet-triggerbox(type='checkbox', name='attr_advanced-pastlives')
		.sheet-move.sheet-triggerframe
			input.sheet-checkbox(type='checkbox', name='attr_advanced-pastlives')
			span.sheet-mainbox
			span.sheet-grayable
				b
					span(data-i18n='pastlives')
				|  
				span(data-i18n='pastlives-advanced')
		input.sheet-triggerbox(type='checkbox', name='attr_advanced-sensitive')
		.sheet-move.sheet-triggerframe
			input.sheet-checkbox(type='checkbox', name='attr_advanced-sensitive')
			span.sheet-mainbox
			span.sheet-grayable
				b
					span(data-i18n='sensitive')
				|  
				span(data-i18n='sensitive-advanced')
		input.sheet-triggerbox(type='checkbox', name='attr_advanced-tyg')
		.sheet-move.sheet-triggerframe
			input.sheet-checkbox(type='checkbox', name='attr_advanced-tyg')
			span.sheet-mainbox
			span.sheet-grayable
				b
					span(data-i18n='tyg')
				|  
				span(data-i18n='tyg-advanced')
		input.sheet-triggerbox(type='checkbox', name='attr_advanced-tk')
		.sheet-move.sheet-triggerframe
			input.sheet-checkbox(type='checkbox', name='attr_advanced-tk')
			span.sheet-mainbox
			span.sheet-grayable
				b
					span(data-i18n='tk')
				|  
				span(data-i18n='tk-advanced')
		input.sheet-triggerbox(type='checkbox', name='attr_advanced-weirdsci')
		.sheet-move.sheet-triggerframe
			input.sheet-checkbox(type='checkbox', name='attr_advanced-weirdsci')
			span.sheet-mainbox
			span.sheet-grayable
				b
					span(data-i18n='weirdsci')
				|  
				span(data-i18n='weirdsci-advanced')

each sskmove in ['Benevolence','CentipedeHost','Hacking','Medium','Pyrokinesis','Summoner','Tradecraft','Warding']
	input.sheet-triggerbox(type='checkbox', name='attr_advanced-'+sskmove)
	.sheet-move.sheet-triggerframe
		input.sheet-checkbox(type='checkbox', name='attr_advanced-'+sskmove)
		span.sheet-mainbox
		span.sheet-grayable
			b
				+t(sskmove)
			|  
			+t(sskmove+'-advanced')

// end Advanced Basic Moves