.sheet-Playbook-Moves
	.sheet-Subsection
		span(data-i18n='moves') Moves
	input.sheet-checkbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-MovesAll', value='1', checked='')
	span.sheet-anglebox
	span.sheet-ExpHeader
		span(data-i18n='all') All
	// big expander
	.sheet-Expander
		input.sheet-SkinCheck(type='hidden', name='attr_SkinCheck', value='0')
		input.sheet-checkbox.sheet-ExpToggle.sheet-UnusedToggle(type='checkbox', name='attr_Toggle-MovesUnused', value='1', checked='')
		span.sheet-anglebox
		span.sheet-ExpHeader
			span(data-i18n='unused') Unused
		br
		input.sheet-checkbox.sheet-OPBToggle(type='checkbox', name='attr_Toggle-OtherPlaybooks', value='1')
		span.sheet-anglebox
		span.sheet-ExpHeader
			span(data-i18n='other-playbook-moves') Other Playbook Moves
		// Custom Playbook Moves
		include moves-custom.pug
		include moves-actionscientist.pug
		include moves-chosen.pug
		include moves-constructed.pug
		include moves-crooked.pug
		include moves-curseeater.pug
		include moves-divine.pug
		include moves-exile.pug
		include moves-expert.pug
		include moves-flake.pug
		include moves-gumshoe.pug
		include moves-hardcase2020.pug
		include moves-hardcase.pug
		include moves-hex.pug
		include moves-initiate.pug
		include moves-luchador.pug
		include moves-meddlingkid.pug
		include moves-monstrous.pug
		include moves-mundane.pug
		include moves-pararomantic.pug
		include moves-professional.pug
		include moves-searcher.pug
		include moves-sidekick.pug
		include moves-snoop.pug
		include moves-spellslinger.pug
		include moves-spooktacular.pug
		include moves-spooky.pug
		include moves-summoned.pug
		include moves-traveler.pug
		include moves-wronged.pug
	// /big expander
// .sheet-Playbook-Moves

include moves-hex-advanced.pug

