.sheet-OtherMoves
	.sheet-Subsection
		span(data-i18n='other-moves') Other Moves
	input.sheet-checkbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-ChosenOtherMoves', value='1', checked='')
	span.sheet-anglebox
	span.sheet-ExpHeader
	.sheet-Expander
		+custommoves("OtherMoves",true,true,false,'Other')
	// Expander
// End Other Moves