// The Action Scientist Moves
.sheet-OPBHead.sheet-MinorHead.sheet-space-above
	+t("The Action Scientist")
// .sheet-ActionScientistSSK .sheet-OPB
.sheet-ActionScientistSSK
	i
		+t("You get all the basic moves, plus two Action Scientist moves. Pick two of these:")
.sheet-ActionScientistSSK.sheet-OPB
	input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-MovesUnused', value='1', checked='')
	+move("ActionSSK-Move","<b>Test Hypothesis:</b> When you <i>test a potential explanation based on data gathered,</i> roll +Sharp. The Keeper will tell you if you’re on the right track, missing some critical data, or on the wrong track.<ul><li>On a 10+, you can trust that answer.<li>On a 7–9, the Keeper answers honestly, but you wasted time or the testing process destroyed some evidence.<li>On a miss, the Keeper’s answer is unrelated to the facts.</ul>",true)
		+2d6("Test Hypothesis","Sharp","testhypothesis")
	+move("ActionSSK-Move","<b>Sabotage:</b> When you <i>quickly break a complicated gadget</i>, roll +Sharp.<ul><li>On a 10+, it’s broken. Your choice if it’s done quietly or left totally irreparable.<li>On a 7–9, it’s broken, but not too hard to fix and you made a bit of a ruckus.<li>On a miss, the worst thing possible happens—usually explosions.</ul>",true)
		+2d6("Sabotage","Sharp","sabotage")
	+move("ActionSSK-Move","<b>Oblivious to Danger:</b> As well as generally not looking out for danger, you are immune to all fear-based moves and powers. You never need to <b>act under pressure</b> to resist fear from any source.",true)
	+move("ActionSSK-Move","<b>The Doors of Perception:</b> When you <i>use psychological, pharmacological, or meditation techniques to open your mind to transcendental knowledge</i>, roll +Weird.<ul><li>On a 10+, pick two effects.<li>On a 7–9, pick one effect but your mind and perceptions are confused and foggy.<li>On a miss, you get lost in altered states of consciousness.</ul>Effects available:<ul><li>Communicate with someone or something that you normally couldn’t.<li>See what is normally invisible: things like physical forces, ghosts and spirits, incursions of other dimensions, and magical effects.<li>Ask one question from the <b>investigate a mystery</b> list.<li>Clarity: Get +1 Cool, Sharp, or Weird for the next hour or so (maximum +3).</ul>",true)
		+2d6("Doors of Perception","Weird","doorsofperception")
	+move("ActionSSK-Move","<b>Fieldwork:</b> When you <i>put yourself in danger to test a hypothesis,</i> get +1 forward. When you <i>confirm the hypothesis as true or false,</i> mark experience.",true)
// .sheet-ActionScientistSSK .sheet-OPB
