.sheet-OPBHead.sheet-MinorHead.sheet-space-above
	+t("The Covenant")
// .sheet-Covenant .sheet-OPB
.sheet-Covenant
	i
		+t("You get all the basic moves, plus two Covenant moves. Pick two of these:")
.sheet-Covenant.sheet-OPB
	input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-MovesUnused', value='1', checked='')
	+move("Covenant-Move","<b>Get Down!: </b>When you<b> protect someone</b>, you may choose to split the harm suffered with a nearby ally as well as yourself and the protected person.",true)
	+move("Covenant-Move","<b>Fast Friends: </b>When you meet a new being and<b> </b><i>spend time befriending them</i>, roll +Charm. <ul><li>On a 10+, they become your ally. <li>On a 7–9, they become your ally until the end of the mystery. <li>On a miss, you’ve offended them. </ul>You can only gain one permanent ally per mystery with this move (a second 10+ makes them an ally for the rest of the mystery).",true)
		+2d6("Fast Friends","Charm","fastfriends")
	+move("Covenant-Move","<b>Smash Cut: </b>Once per mystery, when you<b> </b><i>reveal you asked an ally to do something for you</i>, describe the task as a flashback and roll +Cool.<ul><li>On a 10+, it went off smoothly. The Keeper describes the results.<li>On a 7–9, it was either more dangerous or less effective than you hoped. The Keeper describes the results.<li>On a miss, your allies are in serious danger right now.</ul>",true)
		+2d6("Smash Cut","Cool","smashcut")
	+move("Covenant-Move","<b>The Geek in the Chair: </b>Your ally watches and guides you remotely. You may spend 1 hold from<b> read a bad situation</b> to warn someone about to suffer harm, preventing 2 harm. You gain +1 forward to <b>read a bad situation</b> in each new location.",true)
	+move("Covenant-Move","<b>Acolyte:</b> Either one of your existing allies has acquired supernatural powers or you have acquired a supernatural ally. You decide with the Keeper what sort of powers they have.",true)
	+move("Covenant-Move","<b>Who Said I Was Alone?: </b>Once per session, when your ally suddenly appears, treat a miss result as if you rolled a 7–9. Immediate consequences (such as suffering harm) apply to you, but the ally becomes the focus of attention.",true)
	+move("Covenant-Move","<b>Opening Doors:</b> Your allies have their own contacts and social circles. Once per session, an ally can arrange a meeting between you and someone they know. You have +1 ongoing to interact with your ally’s contacts during this meeting.",true)


// .sheet-Covenant .sheet-OPB