// The Action Scientist Moves
.sheet-OPBHead.sheet-MinorHead.sheet-space-above(data-i18n='The Action Scientist') The Action Scientist
.sheet-ActionScientistSSK
	i
		span(data-i18n='1-fixed-move') You get this
		| :
.sheet-ActionScientistSSK.sheet-OPB
	input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-MovesUnused', value='1', checked='')
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_FixedMoves-AS1')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='AS-fixed-move1')
				b Science!
				|  You may use the 
				i Weird Science
				|  move in addition to whatever the default weird move is for the game. If Weird Science is the default move, you gain access to 
				i Advanced Weird Science
				| . When you roll for Weird Science you may use Sharp instead of Weird. Regardless of the result you may remove your choice of one of the requirements after they&apos;ve all been determined. Say how you&apos;ve figured out a way around that requirement.
			button.sheet-2d6-button(type='roll', value='&{template:motw-dieroll} {{CharName=@{character_name}}} {{title=Weird Science}} {{Roll=[[2d6+?{Weird Science with|Sharp (Default),@{Sharp}|Charm,@{Charm}|Cool,@{Cool}|Sharp,@{Sharp}|Tough,@{Tough}|Weird,@{Weird}}+?{+/- forward?|0}]]}}', name='roll_techserve')
			button.sheet-broadcast-button(type='roll', name='roll_Show', value='&{template:motw-moveshare} {{CharName=@{character_name}}} {{movekey=AS-fixed-move1}}', data-i18n-title='send_details_to_chat')
// .sheet-ActionScientistSSK .sheet-OPB
.sheet-ActionScientistSSK
	i
		span(data-i18n='2-moves-then') Then pick two of these
		| :
.sheet-ActionScientistSSK.sheet-OPB
	input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-MovesUnused', value='1', checked='')
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_Moves-AS1')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='AS-move1')
				b Oblivious to Danger
				| : As well as generally not looking out for danger, you are immune to all fear-based moves and powers. You never need to 
				i act under pressure
				|  to resist fear from any source.
			button.sheet-broadcast-button(type='roll', name='roll_Show', value='&{template:motw-moveshare} {{CharName=@{character_name}}} {{movekey=AS-move1}}', data-i18n-title='send_details_to_chat')
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_Moves-AS2')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='AS-move2')
				b Cross-disciplinary Study
				| : Take a move from one of the other hunters&apos; playbooks.
			button.sheet-broadcast-button(type='roll', name='roll_Show', value='&{template:motw-moveshare} {{CharName=@{character_name}}} {{movekey=AS-move2}}', data-i18n-title='send_details_to_chat')
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_Moves-AS3')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='AS-move3')
				b Engineering
				| : When 
				i you need to quickly fix (or break) a complicated gadget
				| , roll +Sharp. On a 10+, it&rsquo;s fixed (or broken) just like you wanted. On a 7-9 you need more time to study it: choose to fix (or break) it now with unknown side-effects, or take more time. On a miss, you do the worst thing possible to the gadget, which usually involves an explosion.
			button.sheet-2d6-button(type='roll', value='&{template:motw-dieroll} {{CharName=@{character_name}}} {{title=Engineering}} {{Roll=[[2d6+?{Engineering with|Sharp (Default),@{Sharp}|Charm,@{Charm}|Cool,@{Cool}|Sharp,@{Sharp}|Tough,@{Tough}|Weird,@{Weird}}+?{+/- forward?|0}]]}}', name='roll_engineering')
			button.sheet-broadcast-button(type='roll', name='roll_Show', value='&{template:motw-moveshare} {{CharName=@{character_name}}} {{movekey=AS-move3}}', data-i18n-title='send_details_to_chat')
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_Moves-AS4')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='AS-move4')
				b The Doors of Perception
				| : By using advanced psychological, pharmacological, or mental interface techniques, you may 
				i use magic
				|  with +Sharp instead of +Weird. You may choose one of these additional effects:
			ul
				li
					span(data-i18n='AS-move4.1')
						| Communicate with someone or something that you cannot communicate with by normal means.
				li
					span(data-i18n='AS-move4.2')
						| Analyse a clue (allowing you to 
						i investigate a mystery
						|  in a way that you would not normally be able to).
				li
					span(data-i18n='AS-move4.3')
						| Give a hunter (including yourself) +1 to a rating for the remainder of the mystery (maximum +3).
					button.sheet-2d6-button(type='roll', value='&{template:motw-dieroll} {{CharName=@{character_name}}} {{title=Use Magic}} {{Roll=[[2d6+?{Use Magic with|Sharp (Default),@{Sharp}|Charm,@{Charm}|Cool,@{Cool}|Sharp,@{Sharp}|Tough,@{Tough}|Weird,@{Weird}}+?{+/- forward?|0}]]}}', name='roll_um-sharp')
					button.sheet-broadcast-button(type='roll', name='roll_Show', value='&{template:motw-moveshare} {{CharName=@{character_name}}} {{movekey=AS-move4}} {{key1=AS-move4.1}} {{key2=AS-move4.2}} {{key3=AS-move4.3}}', data-i18n-title='send_details_to_chat')
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_Moves-AS5')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='AS-move5')
				b Mind of Steel
				| : Get +1 Cool (max +3).
			button.sheet-broadcast-button(type='roll', name='roll_Show', value='&{template:motw-moveshare} {{CharName=@{character_name}}} {{movekey=AS-move5}}', data-i18n-title='send_details_to_chat')
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_Moves-AS6')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='AS-move6')
				b Re-factoring
				| : You may take any two devices and rebuild them together, gaining all the abilities of each component device. The new device is the same size as the larger component. It will have 
				i all
				|  the tags of the components, except you may delete or change one tag.
			button.sheet-broadcast-button(type='roll', name='roll_Show', value='&{template:motw-moveshare} {{CharName=@{character_name}}} {{movekey=AS-move6}}', data-i18n-title='send_details_to_chat')
	.sheet-move
		input.sheet-checkbox(type='checkbox', name='attr_Moves-AS7')
		span.sheet-mainbox
		span.sheet-grayable
			span(data-i18n='AS-move7')
				b Two-Fisted Science
				| : You may roll +Sharp to 
				i kick some ass
				|  instead of +Tough.
			button.sheet-2d6-button(type='roll', value='&{template:motw-dieroll} {{CharName=@{character_name}}} {{title=Kick Some Ass}} {{Roll=[[2d6+?{Kick Some Ass with|Sharp (Default),@{Sharp}|Charm,@{Charm}|Cool,@{Cool}|Sharp,@{Sharp}|Tough,@{Tough}|Weird,@{Weird}}+?{+/- forward?|0}]]}}', name='roll_ksa-sharp')
			button.sheet-broadcast-button(type='roll', name='roll_Show', value='&{template:motw-moveshare} {{CharName=@{character_name}}} {{movekey=AS-move7}}', data-i18n-title='send_details_to_chat')
// .sheet-ActionScientistSSK .sheet-OPB
