.sheet-Null(name='sheet-Null')
	input.sheet-SettingCheck(type='hidden', name='attr_Game-World', value='0')
	.sheet-Subsection(data-i18n='pick-book') Pick Your Playbook
	div(data-i18n='pick-book-desc')
		b Pick your playbook using the menu in the upper right corner
		|  or the buttons in the lists below.
		i
			| Once you pick a playbook, starting stats options are found at the bottom of the first main column (not including the stats column).
	.sheet-Setting-Bone
		.sheet-Subsection
			+translate('Bone Spear Playbooks')
		.sheet-move
			input(type='radio', name='attr_SkinName', value='1')
			|  
			b
				span(data-i18n='the-chosen') The Chosen
				| :
			|  
			span(data-i18n='chosen-desc')
				| a once-ordinary person who discovered they have a special destiny, and who has been given the power to accomplish it. The Chosen is good in a fight, with some weird powers. E.g. Buffy from Buffy the Vampire Slayer.
		.sheet-move
			input(type='radio', name='attr_SkinName', value='6')
			|  
			b
				span(data-i18n='the-initiate') The Initiate
				| :
			|  
			span(data-i18n='initiate-desc')
				| a member of an ancient monster-slaying Sect, trained to fight and use magic. The Initiate is good with magic, and their Sect provides help (and sometimes problems). E.g. The Wardens from The Dresden Files; Annelise from the Twenty Palaces series.
		.sheet-move
			input(type='radio', name='attr_SkinName', value='2')
			|  
			+translate('<b>The Loner:</b> This is a reworked version of the Crooked, someone no longer welcome in the community proper due to their background. The community hasn’t completely cast them out, but they’re viewed with suspicion.')
		.sheet-move
			input(type='radio', name='attr_SkinName', value='4')
			|  
			+translate('<b>The Lore-Holder:</b> The Lore-holder is the Stone Age version of the Expert.')
		.sheet-move
			input(type='radio', name='attr_SkinName', value='8')
			|  
			b
				span(data-i18n='the-mundane') The Mundane
				| :
			|  
			span(data-i18n='mundane-desc')
				| just a normal regular person, especially good at dealing with regular people you meet and have to save, and at getting captured by monsters (which can be more useful than you might expect). E.g. Xander or Cordelia from Buffy the Vampire Slayer.
		.sheet-move
			input(type='radio', name='attr_SkinName', value='7')
			|  
			+translate('<b>The Other-Folk:</b> This replaces the Monstrous playbook and has a variety of options to add a Stone Age feel.')
		.sheet-move
			input(type='radio', name='attr_SkinName', value='3')
			|  
			+translate('<b>The Spirit-Touched:</b> This is a reworking of the Divine. In this setting, the Spirit-Touched is a person who has been imbued with great power by a spirit. You may have sought this out, or it may have been imposed on you. Either way, you have made a deal that you can’t get out of now.')
		.sheet-move
			input(type='radio', name='attr_SkinName', value='11')
			|  
			b
				span(data-i18n='the-spooky') The Spooky
				| :
			|  
			span(data-i18n='spooky-desc')
				| has psychic or magical powers. These powers are strange and sinister ... and not completely under the Spooky&apos;s control. E.g. Sam Winchester from Supernatural; Willow from earlier seasons of Buffy the Vampire Slayer.
		.sheet-move
			input(type='radio', name='attr_SkinName', value='12')
			|  
			b
				span(data-i18n='the-wronged') The Wronged
				| :
			|  
			span(data-i18n='wronged-desc')
				| revenge-driven, and really tough. The Wronged is all about killing a specific breed of monster and protecting others as you do it. E.g. Dean and John Winchester from Supernatural
		.sheet-move
			input(type='radio', name='attr_SkinName', value='15')
			|  
			b
				span(data-i18n='the-pararomantic') The Pararomantic
				| :
			|  
			span(data-i18n='pararomantic-desc')
				| A hunter with a loving&mdash;but difficult&mdash;relationship with a supernatural being. Understands monsters&apos; intentions and can earn their trust, but puts their own heart, and even mortality, at risk. E.g. Elena Gilbert from The Vampire Diaries, Belle from Beauty and the Beast.

	.sheet-Subsection(data-i18n='motw-books') Monster of the Week Hardcover Edition Playbooks
	.sheet-move.sheet-Setting-Default.sheet-Setting-Gothic.sheet-Setting-Dreaming.sheet-Setting-Marches
		input(type='radio', name='attr_SkinName', value='1')
		|  
		b
			span(data-i18n='the-chosen') The Chosen
			| :
		|  
		span(data-i18n='chosen-desc')
			| a once-ordinary person who discovered they have a special destiny, and who has been given the power to accomplish it. The Chosen is good in a fight, with some weird powers. E.g. Buffy from Buffy the Vampire Slayer.
		input.sheet-SettingCheck(type='hidden', name='attr_Game-World', value='0')
	.sheet-move.sheet-Setting-Default.sheet-Setting-Gothic.sheet-Setting-Dreaming.sheet-Setting-Marches
		input(type='radio', name='attr_SkinName', value='2')
		|  
		b
			span(data-i18n='the-crooked') The Crooked
			| :
		|  
		span(data-i18n='crooked-desc')
			| a criminal turned monster hunter, haunted by their past and enemies. The Crooked is good in social situations and has a lot of contacts. E.g. Anna Valmont from The Dresden Files, Peter Bishop from Fringe.
		input.sheet-SettingCheck(type='hidden', name='attr_Game-World', value='0')
	.sheet-move.sheet-Setting-Default.sheet-Setting-Gothic.sheet-Setting-Dreaming.sheet-Setting-Marches
		input(type='radio', name='attr_SkinName', value='3')
		|  
		b
			span(data-i18n='the-divine') The Divine
			| :
		|  
		span(data-i18n='divine-desc')
			| an agent of a higher power, with a mission to fulfill. The Divine is very tough and has been granted holy powers. E.g. Castiel from Supernatural; Michael Carpenter from The Dresden Files.
		input.sheet-SettingCheck(type='hidden', name='attr_Game-World', value='0')
	.sheet-move.sheet-Setting-Default.sheet-Setting-Gothic.sheet-Setting-Dreaming.sheet-Setting-Marches
		input(type='radio', name='attr_SkinName', value='4')
		|  
		b
			span(data-i18n='the-expert') The Expert
			| :
		|  
		span(data-i18n='expert-desc')
			| the hunter who knows all about monsters and magic. The Expert knows a lot of hidden secrets and how to find out more, and also has a well-supplied base to work from. E.g. Bobby Singer from Supernatural; Rupert Giles from Buffy the Vampire Slayer.
		input.sheet-SettingCheck(type='hidden', name='attr_Game-World', value='0')
	.sheet-move
		input(type='radio', name='attr_SkinName', value='5')
		|  
		b
			span(data-i18n='the-flake') The Flake
			| :
		|  
		span(data-i18n='flake-desc')
			| a conspiracy theorist. The Flake is great at finding things out and seeing how the events of separate mysteries are connected. E.g. Agent Mulder or the Lone Gunmen from The X-Files.
	.sheet-move.sheet-Setting-Default.sheet-Setting-Gothic.sheet-Setting-Dreaming.sheet-Setting-Marches
		input(type='radio', name='attr_SkinName', value='6')
		|  
		b
			span(data-i18n='the-initiate') The Initiate
			| :
		|  
		span(data-i18n='initiate-desc')
			| a member of an ancient monster-slaying Sect, trained to fight and use magic. The Initiate is good with magic, and their Sect provides help (and sometimes problems). E.g. The Wardens from The Dresden Files; Annelise from the Twenty Palaces series.
	.sheet-move.sheet-Setting-Default.sheet-Setting-Gothic.sheet-Setting-Dreaming.sheet-Setting-Marches
		input(type='radio', name='attr_SkinName', value='7')
		|  
		b
			span(data-i18n='the-monstrous') The Monstrous
			| :
		|  
		span(data-i18n='monstrous-desc')
			| a monster fighting for the good guys. The Monstrous is very weird, and can have a variety of different powers based on what monster breed they are. E.g. Angel from Buffy the Vampire Slayer and Angel; Bill Compton from True Blood.
	.sheet-move.sheet-Setting-Default.sheet-Setting-Gothic.sheet-Setting-Dreaming.sheet-Setting-Marches
		input(type='radio', name='attr_SkinName', value='8')
		|  
		b
			span(data-i18n='the-mundane') The Mundane
			| :
		|  
		span(data-i18n='mundane-desc')
			| just a normal regular person, especially good at dealing with regular people you meet and have to save, and at getting captured by monsters (which can be more useful than you might expect). E.g. Xander or Cordelia from Buffy the Vampire Slayer.
	.sheet-move
		input(type='radio', name='attr_SkinName', value='9')
		|  
		b
			span(data-i18n='the-professional') The Professional
			| :
		|  
		span(data-i18n='professional-desc')
			| you work for an agency that hunts monsters. The Professional is good in a fight, and a good team player. E.g. Riley and the Initiative from Buffy the Vampire Slayer; Olivia Dunham from Fringe.
	.sheet-move
		input(type='radio', name='attr_SkinName', value='22')
		|  
		b
			span(data-i18n='the-snoop') The Snoop
			| :
		|  
		span(data-i18n='snoop-desc')
			| A journalist looking for the real story behind weird events. Great at finding stuff out, terrible at fighting. E.g. The Ghostfacers from Supernatural.
	.sheet-move
		input(type='radio', name='attr_SkinName', value='10')
		|  
		b
			span(data-i18n='the-spellslinger') The Spell-slinger
			| :
		|  
		span(data-i18n='spellslinger-desc')
			| a trained wizard, wielding powerful magic in their crusade against evil. The Spell-slinger&apos;s arcane training gives them an advantage when dealing with eldritch secrets. E.g. Harry Dresden from The Dresden Files; Willow from Buffy the Vampire Slayer, in the later seasons.
	.sheet-move
		input(type='radio', name='attr_SkinName', value='29')
		|  
		b
			span(data-i18n='the-spooktacular') The Spooktacular
			| :
		|  
		span(data-i18n='spooktacular-desc')
			| A carnival worker with a history of supernatural entertainments as part of a travelling show . E.g. Carnivale.
	.sheet-move.sheet-Setting-Default.sheet-Setting-Gothic.sheet-Setting-Dreaming.sheet-Setting-Marches
		input(type='radio', name='attr_SkinName', value='11')
		|  
		b
			span(data-i18n='the-spooky') The Spooky
			| :
		|  
		span(data-i18n='spooky-desc')
			| has psychic or magical powers. These powers are strange and sinister ... and not completely under the Spooky&apos;s control. E.g. Sam Winchester from Supernatural; Willow from earlier seasons of Buffy the Vampire Slayer.
	.sheet-move.sheet-Setting-Default.sheet-Setting-Gothic.sheet-Setting-Dreaming.sheet-Setting-Marches
		input(type='radio', name='attr_SkinName', value='12')
		|  
		b
			span(data-i18n='the-wronged') The Wronged
			| :
		|  
		span(data-i18n='wronged-desc')
			| revenge-driven, and really tough. The Wronged is all about killing a specific breed of monster and protecting others as you do it. E.g. Dean and John Winchester from Supernatural
	.sheet-Subsection(data-i18n='tome-books') Monster of the Week Tome of Mysteries Playbooks
	.sheet-move
		input(type='radio', name='attr_SkinName', value='13')
		|  
		b
			span(data-i18n='the-gumshoe') The Gumshoe
			| :
		|  
		span(data-i18n='gumshoe-desc')
			| The supernatural is just another case for this private eye to solve. A tough, ethical charmer, this shamus is in the fictional tradition that stretches from classic noir characters like Sam Spade and Philip Marlowe to the modern Jessica Jones and Lisbeth Salander.
	.sheet-move
		input(type='radio', name='attr_SkinName', value='14')
		|  
		b
			span(data-i18n='the-hex') The Hex
			| :
		|  
		span(data-i18n='hex-desc')
			| A witch motivated by the pursuit of forbidden power, using magic more readily&mdash;and more recklessly&mdash;than other hunters. E.g. Willow during season six of Buffy the Vampire Slayer.
	.sheet-move.sheet-Setting-Default.sheet-Setting-Gothic.sheet-Setting-Dreaming.sheet-Setting-Marches
		input(type='radio', name='attr_SkinName', value='15')
		|  
		b
			span(data-i18n='the-pararomantic') The Pararomantic
			| :
		|  
		span(data-i18n='pararomantic-desc')
			| A hunter with a loving&mdash;but difficult&mdash;relationship with a supernatural being. Understands monsters&apos; intentions and can earn their trust, but puts their own heart, and even mortality, at risk. E.g. Elena Gilbert from The Vampire Diaries, Belle from Beauty and the Beast.
	.sheet-move
		input(type='radio', name='attr_SkinName', value='16')
		|  
		b
			span(data-i18n='the-searcher') The Searcher
			| :
		|  
		span(data-i18n='searcher-desc')
			| After an encounter with weirdness, they dedicated their life to investigating the unexplained. Very strong investigator, especially at working out what sort of thing is going on. Not really a fighter, but has some defensive options. E.g. Roy Neary in Close Encounters of the Third Kind, or (historically) Charles Fort.
	.sheet-Subsection
		+translate("Codex of Worlds Apocrypha Playbooks")
	.sheet-move
		input(type='radio', name='attr_SkinName', value='28')
		|  
		b
			+translate("The Curse-Eater")
			| :
		|  
		+translate('The Curse-Eater faces down evil magics and monsters and makes a meal of them to use that dark power as their own, risking corruption and—if they push too far—becoming a monster.')
	.sheet-move
		input(type='radio', name='attr_SkinName', value='30')
		|  
		b
			+translate("The Survivor")
			| :
		|  
		+translate('A regular person caught in a bad situation—one where they might not make it out alive. <i>For use with the <b>Wait, Monsters Are Real?</b> toolkit.</i>')
	.sheet-Subsection(data-i18n='reinforcements-3pp-books') Reinforcements and Third Party Playbooks
	.sheet-move
		input(type='radio', name='attr_SkinName', value='17')
		|  
		b
			span(data-i18n='the-exile') The Exile
			| :
		|  
		span(data-i18n='exile-desc') A monster hunter from the past who has been transported to the present day.
	.sheet-move
		input(type='radio', name='attr_SkinName', value='18')
		|  
		b
			span(data-i18n='the-hardcase') The Hard Case
			| :
		|  
		span(data-i18n='hardcase-desc')
			| The toughest, hardest to kill fighter. E.g. Ray Lilly from the Twenty Palaces series or Owen Pitt from the Monster Hunter International series.
	.sheet-move
		input(type='radio', name='attr_SkinName', value='26')
		|  
		b
			span(data-i18n='the-hardcase2020') The Hard Case (2020)
			| :
		|  
		span(data-i18n='hardcase2020-desc') The new Hard Case playbook, significantly different from the original.
	.sheet-move
		input(type='radio', name='attr_SkinName', value='19')
		|  
		b
			span(data-i18n='the-luchador') The Luchador
			| :
		|  
		span(data-i18n='luchador-desc') A heroic masked wrestler, fighting to protect the innocent between matches.
	.sheet-move
		input(type='radio', name='attr_SkinName', value='20')
		|  
		b
			span(data-i18n='the-meddlingkid') The Meddling Kid
			| :
		|  
		span(data-i18n='meddlingkid-desc')
			| Jinkies! I think there&apos;s something more going on here, and old man Smithers seems to be involved! E.g. Scooby-doo and the Scooby gang.
	.sheet-move
		input(type='radio', name='attr_SkinName', value='21')
		|  
		b
			span(data-i18n='the-sidekick') The Sidekick
			| :
		|  
		span(data-i18n='sidekick-desc')
			| They worship another hunter on the team, and is good at helping them out. And one day, they&apos;ll be just as good as their hero. E.g. Garth from Supernatural.
	.sheet-move
		input(type='radio', name='attr_SkinName', value='23')
		|  
		b
			span(data-i18n='the-summoned') The Summoned
			| :
		|  
		span(data-i18n='summoned-desc')
			| A creature summoned to end the world but who has decided they do not want to do that. Lots of weird powers, dangerous, and hard to kill. E.g. Hellboy.
	.sheet-move
		input(type='radio', name='attr_SkinName', value='24')
		|  
		b
			span(data-i18n='the-traveler') The Traveler
			| :
		|  
		span(data-i18n='traveler-desc')
			| A time traveler hunting monsters in the modern day in order to save the future. E.g. The Doctor from Doctor Who.
		|  (
		span(data-i18n='Brazilian') Brazilian edition
		|  
		span(data-i18n='playbook') Playbook
		| .)
	.sheet-move
		input(type='radio', name='attr_SkinName', value='25')
		|  
		b
			span(data-i18n='the-actionscientist') The Action Scientist
			| :
		|  
		span(data-i18n='actionscientist-desc')
			| A hunter committed to diving into every unknown problem with the tools of science at their command. E.g. Tesladyne scientists, Buckaroo Banzai.
	.sheet-move
		input(type='radio', name='attr_SkinName', value='27')
		|  
		b
			span(data-i18n='the-constructed') The Constructed
			| :
		|  
		span(data-i18n='constructed-desc')
			| An artificial being created for a specific purpose, animated by strange energies, gifted with free will. E.g. Frankenstein&apos;s Monster, Atomic Robo.
	// div(data-i18n='playtest-note')
	.sheet-Subsection(data-i18n='byo') Brew Your Own
	.sheet-move
		input(type='radio', name='attr_SkinName', value='99')
		|  
		b
			span(data-i18n='custom-playbook') Custom Playbook
			| :
		|  
		span(data-i18n='custom-desc') A blank shell you can use to create your own.
	.sheet-Subsection(data-i18n='team-playbooks') Team Playbooks
	.sheet-move
		input(type='radio', name='attr_SkinName', value='-2')
		|  
		b
			span(data-i18n='team-playbooks') Team Playbooks 
	.sheet-Subsection(data-i18n='keeper-sheet') Keeper&apos;s Mystery Sheet
	.sheet-move
		input(type='radio', name='attr_SkinName', value='-1')
		|  
		b
			span(data-i18n='keeper-sheet') Keeper&apos;s Mystery Sheet 
	.sheet-Subsection(data-i18n='community-tracker') Community Tracker
	.sheet-move
		input(type='radio', name='attr_SkinName', value='-3')
		|  
		b
			span(data-i18n='community-tracker') Community Tracker 
// End Null