+optgroup("reinforcements")
	option.sheet-SkinSelect(value='17', data-i18n='the-exile') The Exile
	option.sheet-SkinSelect(value='18', data-i18n='the-hardcase') The Hard Case
	option.sheet-SkinSelect(value='26', data-i18n='the-hardcase2020') The Hard Case (2020)
	option.sheet-SkinSelect(value='19', data-i18n='the-luchador') The Luchador
	option.sheet-SkinSelect(value='20', data-i18n='the-meddlingkid') The Meddling Kid
	option.sheet-SkinSelect(value='21', data-i18n='the-sidekick') The Sidekick
	option.sheet-SkinSelect(value='23', data-i18n='the-summoned') The Summoned
+optgroup("Brazilian")
	option.sheet-SkinSelect(value='24', data-i18n='the-traveler') The Traveler
+optgroup("other-playbooks")
	option.sheet-SkinSelect(value='25', data-i18n='the-actionscientist') The Action Scientist
	option.sheet-SkinSelect(value='27', data-i18n='the-constructed')  The Constructed
+optgroup("byo")
	option.sheet-SkinSelect(value='99', data-i18n='custom-playbook') Custom Playbook