+optgroup("Slayer's Survival Kit")
	option.sheet-SkinSelect(value='39', data-i18n='The Action Scientist') The Action Scientist
	option.sheet-SkinSelect(value='31', data-i18n='The Celebrity') The Celebrity
	option.sheet-SkinSelect(value='32', data-i18n='The Changeling') The Changeling
	option.sheet-SkinSelect(value='33', data-i18n='The Covenant') The Covenant
	option.sheet-SkinSelect(value='34', data-i18n='The Envoy') The Envoy
	option.sheet-SkinSelect(value='35', data-i18n='The Forged') The Forged
	option.sheet-SkinSelect(value='36', data-i18n='The Host') The Host
	option.sheet-SkinSelect(value='37', data-i18n='The Interface') The Interface
	option.sheet-SkinSelect(value='38', data-i18n='The Visitor') The Visitor
