+optgroup('Other Sheet Types')
	option.sheet-SkinSelect(value='-1', data-i18n='keeper-sheet') Keeper&apos;s Mystery Sheet
	option.sheet-SkinSelect(value='-2', data-i18n='team-playbooks') Team Playbooks
	option.sheet-SkinSelect(value='-3', data-i18n='community-tracker') Community Tracker
