// There are multiple menus represented here depending on which Codex of Worlds setting you're working with. Make sure you're adding new playbooks to all of the sections (3 currently) if they're available to all settings, or just to the .sheet-Setting-Default menu if they aren't set up for those other settings.
span.sheet-Label(data-i18n='playbook') Playbook
br
input.sheet-SettingCheck(type='hidden', name='attr_Game-World', value='0')
span.sheet-Setting-Bone
	select.sheet-SkinSelect(name='attr_SkinName')
		option.sheet-SkinSelect(value='0', selected='', data-i18n='playbook-choice') Playbook
		include sheet-selection-dropdown-other-types.pug
		+optgroup("Bone Spear")
			option.sheet-SkinSelect(value='1', data-i18n='the-chosen') The Chosen
			option.sheet-SkinSelect(value='6', data-i18n='the-initiate') The Initiate
			+option('The Loner','2').sheet-SkinSelect
			+option('The Lore-Holder','4').sheet-SkinSelect
			option.sheet-SkinSelect(value='8', data-i18n='the-mundane') The Mundane
			+option('The Other-Folk','7').sheet-SkinSelect
			+option('The Spirit-Touched','3').sheet-SkinSelect
			option.sheet-SkinSelect(value='11', data-i18n='the-spooky') The Spooky
			option.sheet-SkinSelect(value='12', data-i18n='the-wronged') The Wronged
			option.sheet-SkinSelect(value='15', data-i18n='the-pararomantic') The Pararomantic
		+optgroup("motw")
			option.sheet-SkinSelect(value='5', data-i18n='the-flake') The Flake
			option.sheet-SkinSelect(value='9', data-i18n='the-professional') The Professional
			option.sheet-SkinSelect(value='22', data-i18n='the-snoop') The Snoop
			option.sheet-SkinSelect(value='10', data-i18n='the-spellslinger') The Spell-Slinger
			option.sheet-SkinSelect(value='29', data-i18n='the-spooktacular') The Spooktacular
		+optgroup("tome-of-mysteries")
			option.sheet-SkinSelect(value='13', data-i18n='the-gumshoe') The Gumshoe
			option.sheet-SkinSelect(value='14', data-i18n='the-hex') The Hex
			option.sheet-SkinSelect(value='16', data-i18n='the-searcher') The Searcher
		+optgroup("Codex of Worlds Apocrypha")
			option.sheet-SkinSelect(value='28', data-i18n='The Curse-Eater') The Curse-Eater
		include sheet-selection-dropdown-ssk.pug
		include sheet-selection-dropdown-reinforcements-others.pug
span.sheet-Setting-Gothic.sheet-Setting-Dreaming.sheet-Setting-Marches
	select.sheet-SkinSelect(name='attr_SkinName')
		option.sheet-SkinSelect(value='0', selected='', data-i18n='playbook-choice') Playbook
		include sheet-selection-dropdown-other-types.pug
		+optgroup("motw")
			option.sheet-SkinSelect(value='1', data-i18n='the-chosen') The Chosen
			option.sheet-SkinSelect(value='2', data-i18n='the-crooked') The Crooked
			option.sheet-SkinSelect(value='3', data-i18n='the-divine') The Divine
			option.sheet-SkinSelect(value='4', data-i18n='the-expert') The Expert
			option.sheet-SkinSelect(value='5', data-i18n='the-flake') The Flake
			option.sheet-SkinSelect(value='6', data-i18n='the-initiate') The Initiate
			option.sheet-SkinSelect(value='7', data-i18n='the-monstrous') The Monstrous
			option.sheet-SkinSelect(value='8', data-i18n='the-mundane') The Mundane
			option.sheet-SkinSelect(value='9', data-i18n='the-professional') The Professional
			option.sheet-SkinSelect(value='22', data-i18n='the-snoop') The Snoop
			option.sheet-SkinSelect(value='10', data-i18n='the-spellslinger') The Spell-Slinger
			option.sheet-SkinSelect(value='29', data-i18n='the-spooktacular') The Spooktacular
			option.sheet-SkinSelect(value='11', data-i18n='the-spooky') The Spooky
			option.sheet-SkinSelect(value='12', data-i18n='the-wronged') The Wronged
		+optgroup("tome-of-mysteries")
			option.sheet-SkinSelect(value='13', data-i18n='the-gumshoe') The Gumshoe
			option.sheet-SkinSelect(value='14', data-i18n='the-hex') The Hex
			option.sheet-SkinSelect(value='15', data-i18n='the-pararomantic') The Pararomantic
			option.sheet-SkinSelect(value='16', data-i18n='the-searcher') The Searcher
		+optgroup("Codex of Worlds Apocrypha")
			option.sheet-SkinSelect(value='28', data-i18n='The Curse-Eater') The Curse-Eater
		include sheet-selection-dropdown-ssk.pug
		include sheet-selection-dropdown-reinforcements-others.pug
span.sheet-Setting-Default
	select.sheet-SkinSelect(name='attr_SkinName')
		option.sheet-SkinSelect(value='0', selected='', data-i18n='playbook-choice') Playbook
		include sheet-selection-dropdown-other-types.pug
		+optgroup("motw")
			option.sheet-SkinSelect(value='1', data-i18n='the-chosen') The Chosen
			option.sheet-SkinSelect(value='2', data-i18n='the-crooked') The Crooked
			option.sheet-SkinSelect(value='3', data-i18n='the-divine') The Divine
			option.sheet-SkinSelect(value='4', data-i18n='the-expert') The Expert
			option.sheet-SkinSelect(value='5', data-i18n='the-flake') The Flake
			option.sheet-SkinSelect(value='6', data-i18n='the-initiate') The Initiate
			option.sheet-SkinSelect(value='7', data-i18n='the-monstrous') The Monstrous
			option.sheet-SkinSelect(value='8', data-i18n='the-mundane') The Mundane
			option.sheet-SkinSelect(value='9', data-i18n='the-professional') The Professional
			option.sheet-SkinSelect(value='22', data-i18n='the-snoop') The Snoop
			option.sheet-SkinSelect(value='10', data-i18n='the-spellslinger') The Spell-Slinger
			option.sheet-SkinSelect(value='29', data-i18n='the-spooktacular') The Spooktacular
			option.sheet-SkinSelect(value='11', data-i18n='the-spooky') The Spooky
			option.sheet-SkinSelect(value='12', data-i18n='the-wronged') The Wronged
			+optgroup("tome-of-mysteries")
			option.sheet-SkinSelect(value='13', data-i18n='the-gumshoe') The Gumshoe
			option.sheet-SkinSelect(value='14', data-i18n='the-hex') The Hex
			option.sheet-SkinSelect(value='15', data-i18n='the-pararomantic') The Pararomantic
			option.sheet-SkinSelect(value='16', data-i18n='the-searcher') The Searcher
		+optgroup("Codex of Worlds Apocrypha")
			option.sheet-SkinSelect(value='28', data-i18n='The Curse-Eater') The Curse-Eater
			option.sheet-SkinSelect(value='30', data-i18n='The Survivor') The Survivor
		include sheet-selection-dropdown-ssk.pug
		include sheet-selection-dropdown-reinforcements-others.pug