span.sheet-Label(data-i18n='playbook') Playbook
br
select.sheet-SkinSelect(name='attr_SkinName')
	option.sheet-SkinSelect(value='0', selected='', data-i18n='playbook-choice') Playbook
	option.sheet-SkinSelect(value='-1', data-i18n='keeper-sheet') Keeper&apos;s Mystery Sheet
	option.sheet-SkinSelect(value='-2', data-i18n='team-playbooks') Team Playbooks
	option.sheet-SkinSelect(value='99', data-i18n='custom-playbook') Custom Playbook
	optgroup(label='Monster of the Week', data-i18n-label='motw')
		option.sheet-SkinSelect(value='1', data-i18n='the-chosen') The Chosen
		option.sheet-SkinSelect(value='2', data-i18n='the-crooked') The Crooked
		option.sheet-SkinSelect(value='3', data-i18n='the-divine') The Divine
		option.sheet-SkinSelect(value='4', data-i18n='the-expert') The Expert
		option.sheet-SkinSelect(value='5', data-i18n='the-flake') The Flake
		option.sheet-SkinSelect(value='6', data-i18n='the-initiate') The Initiate
		option.sheet-SkinSelect(value='7', data-i18n='the-monstrous') The Monstrous
		option.sheet-SkinSelect(value='8', data-i18n='the-mundane') The Mundane
		option.sheet-SkinSelect(value='9', data-i18n='the-professional') The Professional
		option.sheet-SkinSelect(value='22', data-i18n='the-snoop') The Snoop
		option.sheet-SkinSelect(value='10', data-i18n='the-spellslinger') The Spell-Slinger
		option.sheet-SkinSelect(value='29', data-i18n='the-spooktacular') The Spooktacular
		option.sheet-SkinSelect(value='11', data-i18n='the-spooky') The Spooky
		option.sheet-SkinSelect(value='12', data-i18n='the-wronged') The Wronged
	optgroup(label='Tome of Mysteries', data-i18n-label='tome-of-mysteries')
		option.sheet-SkinSelect(value='13', data-i18n='the-gumshoe') The Gumshoe
		option.sheet-SkinSelect(value='14', data-i18n='the-hex') The Hex
		option.sheet-SkinSelect(value='15', data-i18n='the-pararomantic') The Pararomantic
		option.sheet-SkinSelect(value='16', data-i18n='the-searcher') The Searcher
	optgroup(label='Reinforcements', data-i18n-label='reinforcements')
		option.sheet-SkinSelect(value='17', data-i18n='the-exile') The Exile
		option.sheet-SkinSelect(value='18', data-i18n='the-hardcase') The Hard Case
		option.sheet-SkinSelect(value='26', data-i18n='the-hardcase2020') The Hard Case (2020)
		option.sheet-SkinSelect(value='19', data-i18n='the-luchador') The Luchador
		option.sheet-SkinSelect(value='20', data-i18n='the-meddlingkid') The Meddling Kid
		option.sheet-SkinSelect(value='21', data-i18n='the-sidekick') The Sidekick
		option.sheet-SkinSelect(value='23', data-i18n='the-summoned') The Summoned
	optgroup(label='Brazilian Edition', data-i18n-label='Brazilian')
		option.sheet-SkinSelect(value='24', data-i18n='the-traveler') The Traveler
	optgroup(label='Others', data-i18n-label='other-playbooks')
		option.sheet-SkinSelect(value='25', data-i18n='the-actionscientist') The Action Scientist
		option.sheet-SkinSelect(value='27')  The Constructed
	// optgroup(label='Playtests', data-i18n-label='playtests')
	// option class="sheet-SkinSelect" value="26"> <span data-i18n="the-biggamehunter">The Big Game Hunter</span> (<span data-i18n="fan-made">Fan-made</span>)</option>
	// <option class="sheet-SkinSelect" value="28"> <span data-i18n="the-madscientist">The Mad Scientist</span> (<span data-i18n="fan-made">Fan-made</span>)</option
