.sheet-Traveler.sheet-Transport-Traveler
	.sheet-Subsection
		span(data-i18n='traveler-transport') Means of Transport
	input.sheet-checkbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-Traveler-Transport-All', value='1', checked='')
	span.sheet-anglebox
	span.sheet-ExpHeader
		span(data-i18n='all') All
	.sheet-Expander
		.sheet-isolator
			input.sheet-checkbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-Traveler-Transport-Instruct', value='1', checked='')
			span.sheet-anglebox
			span.sheet-ExpHeader
				span(data-i18n='instructions') Instructions
			.sheet-Expander
				div
					span(data-i18n='traveler-transport-desc1')
						| You can visit future events, past events or remote places, either alone or with the whole team. The Keeper will decide (maybe with help from the group) how time travel will work; changing the past, alternate timelines, small changes producing major changes etc.
		.sheet-space-above
			span.sheet-highlights(data-i18n='traveler-transport-desc2')
				i When traveling through time and space
				| , roll +Sharp. On a 10+, you arrive at the desired place at the desired time. On a 7-9, you arrive at either the desired place or, at the desired time; your choice. On a miss, you are lost; this is probably quite serious.
			button.sheet-2d6-button(type='roll', value='&{template:motw-dieroll} {{CharName=@{character_name}}} {{title=Traveling Through Time and Space}} {{Roll=[[2d6+?{Traveling Through Time and Space with|Sharp (Default),@{Sharp}|Charm,@{Charm}|Cool,@{Cool}|Sharp,@{Sharp}|Tough,@{Tough}|Weird,@{Weird}}+?{+/- forward?|0}]]}}', name='roll_timetravel')
			button.broadcast-button(type='roll', name='roll_Show', value='&{template:motw-moveshare} {{CharName=@{character_name}}} {{movekey=traveler-transport-desc2}}', data-i18n-title='send_details_to_chat')
		.sheet-space-above
			span(data-i18n='traveler-transport-desc3')
				| Choose one means of transport for your travels through time and space. Each transportation medium has both positive and negative traits. Always keep in mind that time travel is by no means a safe trip.
			button.broadcast-button(type='roll', name='roll_Show', value='&{template:motw-moveshare} {{CharName=@{character_name}}} {{movekey=traveler-transport-desc3}} {{coda=@{Transport-Traveler}}} {{c1v=[[0+@{Transport-Traveler1}]]}} {{c1=traveler-transport1}} {{c2v=[[0+@{Transport-Traveler2}]]}} {{c2=traveler-transport2}} {{c3v=[[0+@{Transport-Traveler3}]]}} {{c3=traveler-transport3}} {{c4v=[[0+@{Transport-Traveler4}]]}} {{c4=traveler-transport4}}', data-i18n-title='send_details_to_chat')
		input.sheet-checkbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-Traveler-Transport-Unused', value='1', checked='')
		span.sheet-anglebox
		span.sheet-ExpHeader
			span(data-i18n='unused') Unused
		.sheet-move
			input.sheet-checkbox(type='checkbox', name='attr_Transport-Traveler1', value='1')
			span.sheet-mainbox
			span.sheet-grayable
				span(data-i18n='traveler-transport1')
					b It&apos;s bigger on the inside
					| : Your time machine is multidimensional, as small as a phone booth on the outside, but as big as a spaceship on the inside. Things inside it cannot be tracked by normal means. To travel, it disappears from one place and appears in another, but otherwise it is completely stationary and cannot be transported at all.
		.sheet-move
			input.sheet-checkbox(type='checkbox', name='attr_Transport-Traveler2', value='1')
			span.sheet-mainbox
			span.sheet-grayable
				span(data-i18n='traveler-transport2')
					b Teleportation
					| : You can teleport instantly if you have a clear line of sight of the destination or if you know it very well. Otherwise, you need to study the spacetime continuum for a few hours, or even days, to plan the trip, so as to not end up underground or a kilometre above the ground.
		.sheet-move
			input.sheet-checkbox(type='checkbox', name='attr_Transport-Traveler3', value='1')
			span.sheet-mainbox
			span.sheet-grayable
				span(data-i18n='traveler-transport3')
					b 88 miles per hour
					| : Your time machine looks like a car or a van, not drawing much attention (in time periods after the invention of such vehicles). You can use it to move around like any other vehicle, but it depends on fuel, maintenance parts, roads etc.
		.sheet-move
			input.sheet-checkbox(type='checkbox', name='attr_Transport-Traveler4', value='1')
			span.sheet-mainbox
			span.sheet-grayable
				span(data-i18n='traveler-transport4')
					b Time Portal
					| : You open a time portal to your destination. You can only open one portal at a time, and it will remain active for as long as you wish. It allows you to cross it in any direction as many times as you want. But an unattended portal can also be crossed by any person, or monster...
		div
			textarea(name='attr_Transport-Traveler', rows='4', cols='40', placeholder='Any additional information of the transport')