.sheet-Snoop.sheet-Crew-Snoop
	.sheet-Subsection
		span(data-i18n='snoop-crew') Crew
	input.sheet-checkbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-Snoop-Crew-All', value='1', checked='')
	span.sheet-anglebox
	span.sheet-ExpHeader
	.sheet-Expander
		div
			span(data-i18n='snoop-crew-desc1')
				| Decide if your crew are made up of the other hunters, or if you have your own entourage. If they are other people, there are 1-3 of them. Pick a name and job for each. If it&apos;s the other hunters, decide together who gets which job.
		textarea(name='attr_Crew-Snoop', rows='6', cols='40', placeholder='Describe your Crew')
		br
		div
			span(data-i18n='snoop-crew-desc2')
				| Crew jobs: camera, sound, editing, dogsbody, researcher, driver, director, producer, bodyguard, etc.