.sheet-Interface
	+subsection("Integration")
	+expanderMoveSection("Interface-Integration")
		div
			+t("Pick Upgrades and Faults to describe how you interact with machines:")
		br
		+gearhead("Upgrades","Pick two")
		+move("Interface-Integration-Upgrade","Always connected")
		+move("Interface-Integration-Upgrade","Specialised tools")
		+move("Interface-Integration-Upgrade","Security specialist")
		+move("Interface-Integration-Upgrade","Intelligence database")
		+move("Interface-Integration-Upgrade","Aim-assist")
		+move("Interface-Integration-Upgrade","Heads-up display")
		+move("Interface-Integration-Upgrade","Everything’s compatible")
		+move("Interface-Integration-Upgrade","Speed typing")
		br
		+gearhead("Faults","Pick two")
		+move("Interface-Integration-Fault","Need my gear")
		+move("Interface-Integration-Fault","Hackable brain")
		+move("Interface-Integration-Fault","Specialised maintenance")
		+move("Interface-Integration-Fault","Undisciplined")
		+move("Interface-Integration-Fault","Overhyped rep")
		+move("Interface-Integration-Fault","Overconfidence")
		+move("Interface-Integration-Fault","Buggy implants")
		br
		div
			+t("Then pick how you gained these abilities.")
		+move("Interface-Integration-Gained","<b>We Can Rebuild Them:</b> You were rebuilt after a near-death, or actual death, experience. Who thought you were important enough to keep alive?")
			+itext("Interface-Integration-Gained-Rebuilt")
		+move("Interface-Integration-Gained","<b>Technopath:</b> You have a magical relationship with machines. How did you gain or discover your powers?")
			+itext("Interface-Integration-Gained-Technopath")
		+move("Interface-Integration-Gained","<b>Volunteer:</b> You volunteered to be upgraded. Who had the technology to do this to you?")
			+itext("Interface-Integration-Gained-Volunteer")
		+move("Interface-Integration-Gained","<b>Skillz:</b> Sheer genius and hard work. What event made your reputation, and how does it cause you trouble?")
			+itext("Interface-Integration-Gained-Skillz")
		+move("Interface-Integration-Gained","<b>Artificial:</b> You were created this way. What was your original purpose? Have you transcended it?")
			+itext("Interface-Integration-Gained-Artificial")
