.sheet-Gumshoe.sheet-Code-Gumshoe
	.sheet-Subsection
		span(data-i18n='gumshoeCode') Gumshoe Code
	input.sheet-checkbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-Gumshoe-Code-Hider', value='1', checked='')
	span.sheet-anglebox
	|  
	span.sheet-ExpHeader
	.sheet-Expander
		div
			span(data-i18n='gumshoeCode-description') With the agreement of the Keeper, pick a one-sentence Code that you adhere to.
		textarea(name='attr_gumshoeCode-desc', rows='2', cols='40')
		input.sheet-checkbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-Gumshoe-CodeExamples-Hider', value='1')
		span.sheet-anglebox
		|  
		span.sheet-ExpHeader(data-i18n='examples') Examples
		.sheet-Expander
			| &nbsp;(
			i
				span(data-i18n='gumshoeCode-example')
					| Example Codes: Murders must be punished. Monsters must be destroyed. Innocents must be saved. Laws must be enforced. Evil must be exposed. The weak must be protected from the powerful. Etc.
			| )
			br
		.sheet-highlights(data-i18n='gumshoeCode-explain')
			| This Code defines you. Any time you violate your Code, you forfeit all Code-related moves (
			i The Postman Always Rings Twice, The Long Goodbye
			| ) and the ability to spend 
			i Luck
			| . These forfeits last until either the next mystery or you make amends. As long as you follow the Code, people will sense your sincerity; you receive 
			b +1 ongoing
			|  for 
			i manipulate someone
			|  and you may not be possessed or charmed by any sort of supernatural, alien, or demonic entity or item.
		button.sheet-2d6-button(type='roll', value='&{template:motw-dieroll} {{CharName=@{character_name}}} {{title=Manipulate Someone}} {{Roll=[[2d6+?{Manipulate Someone with|Charm (Default),@{Charm}|Charm,@{Charm}|Cool,@{Cool}|Sharp,@{Sharp}|Tough,@{Tough}|Weird,@{Weird}}+?{+/- forward?|1}]]}}', name='roll_ms-plusone')
		button.sheet-broadcast-button(type='roll', name='roll_Show', value='&{template:motw-moveshare} {{CharName=@{character_name}}} {{movekey=gumshoeCode-description}} {{extra=@{gumshoeCode-desc}}} {{codakey=gumshoeCode-explain}}', data-i18n-title='send_details_to_chat')