.sheet-Professional.sheet-Agency-Professional
	.sheet-Subsection
		span(data-i18n='agency') Agency
	input.sheet-checkbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-Agency-Professional-All', value='1', checked='')
	span.sheet-anglebox
	span.sheet-ExpHeader
		span(data-i18n='all') All
	.sheet-Expander
		span(data-i18n='agency-description')
			| Who do you work for? Are they a black-budget government department, a secret military unit, a clandestine police team, a private individual&apos;s crusade, a corporation, a scientific team, or what?
		br
		textarea(name='attr_AgencyName-Professional', rows='3', cols='40')
		br
		span(data-i18n='agency-goal')
			| Is the Agency&apos;s goal to: destroy monsters, study the supernatural, protect people, gain power, or something else?
		input(type='text', name='attr_AgencyGoal-Professional')
		br
		div
			b
				span(data-i18n='resources') Resources
			|  
			i
				| &nbsp;(
				span(data-i18n='pick-two') pick two
				| )
			| :
		input.sheet-checkbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-Agency-Professional-Unused', value='1', checked='')
		span.sheet-anglebox
		span.sheet-ExpHeader
			span(data-i18n='unused') Unused
		.sheet-move
			input.sheet-checkbox(type='checkbox', name='attr_Agency-Professiona1')
			span.sheet-mainbox
			span.sheet-grayable
				span(data-i18n='agency1') Well-armed
		.sheet-move
			input.sheet-checkbox(type='checkbox', name='attr_Agency-Professiona2')
			span.sheet-mainbox
			span.sheet-grayable
				span(data-i18n='agency2') Well-financed
		.sheet-move
			input.sheet-checkbox(type='checkbox', name='attr_Agency-Professiona3')
			span.sheet-mainbox
			span.sheet-grayable
				span(data-i18n='agency3') Rigorous training
		.sheet-move
			input.sheet-checkbox(type='checkbox', name='attr_Agency-Professiona4')
			span.sheet-mainbox
			span.sheet-grayable
				span(data-i18n='agency4') Official pull
		.sheet-move
			input.sheet-checkbox(type='checkbox', name='attr_Agency-Professiona5')
			span.sheet-mainbox
			span.sheet-grayable
				span(data-i18n='agency5') Cover identities
		.sheet-move
			input.sheet-checkbox(type='checkbox', name='attr_Agency-Professiona6')
			span.sheet-mainbox
			span.sheet-grayable
				span(data-i18n='agency6') Offices all over the place
		.sheet-move
			input.sheet-checkbox(type='checkbox', name='attr_Agency-Professiona7')
			span.sheet-mainbox
			span.sheet-grayable
				span(data-i18n='agency7') Good intel
		.sheet-move
			input.sheet-checkbox(type='checkbox', name='attr_Agency-Professiona8')
			span.sheet-mainbox
			span.sheet-grayable
				span(data-i18n='agency8') Recognised authority
		input.sheet-SettingCheck(type='hidden', name='attr_Game-World', value='0')
		.sheet-move.sheet-Setting-Default
			input.sheet-checkbox(type='checkbox', name='attr_Agency-Professiona9')
			span.sheet-mainbox
			span.sheet-grayable
				span(data-i18n='agency9') Weird tech gadgets
		.sheet-move.sheet-Setting-Gothic
			input.sheet-checkbox(type='checkbox', name='attr_Agency-Professiona9')
			span.sheet-mainbox
			span.sheet-grayable
				+translate('Steampunk gadgets')
		.sheet-move.sheet-Setting-Dreaming
			input.sheet-checkbox(type='checkbox', name='attr_Agency-Professiona9')
			span.sheet-mainbox
			span.sheet-grayable
				+translate('Alchemical gadgets')
		.sheet-move.sheet-Setting-Marches
			input.sheet-checkbox(type='checkbox', name='attr_Agency-Professiona9')
			span.sheet-mainbox
			span.sheet-grayable
				+translate('Industrial prototypes')
		.sheet-move
			input.sheet-checkbox(type='checkbox', name='attr_Agency-Professiona10')
			span.sheet-mainbox
			span.sheet-grayable
				span(data-i18n='agency10') Support teams
		b
			span(data-i18n='red-tape') Red Tape
		|  
		i
			| &nbsp;(
			span(data-i18n='pick-two') pick two
			| )
		| :
		br
		.sheet-move
			input.sheet-checkbox(type='checkbox', name='attr_Agency-Professiona11')
			span.sheet-mainbox
			span.sheet-grayable
				span(data-i18n='agency11') Dubious motives
		.sheet-move
			input.sheet-checkbox(type='checkbox', name='attr_Agency-Professiona12')
			span.sheet-mainbox
			span.sheet-grayable
				span(data-i18n='agency12') Bureaucratic
		.sheet-move
			input.sheet-checkbox(type='checkbox', name='attr_Agency-Professiona13')
			span.sheet-mainbox
			span.sheet-grayable
				span(data-i18n='agency13') Secretive hierarchy
		.sheet-move
			input.sheet-checkbox(type='checkbox', name='attr_Agency-Professiona14')
			span.sheet-mainbox
			span.sheet-grayable
				span(data-i18n='agency14') Cryptic missions
		.sheet-move
			input.sheet-checkbox(type='checkbox', name='attr_Agency-Professiona15')
			span.sheet-mainbox
			span.sheet-grayable
				span(data-i18n='agency15') Hostile superiors
		.sheet-move
			input.sheet-checkbox(type='checkbox', name='attr_Agency-Professiona16')
			span.sheet-mainbox
			span.sheet-grayable
				span(data-i18n='agency16') Inter-departmental rivalry
		.sheet-move
			input.sheet-checkbox(type='checkbox', name='attr_Agency-Professiona17')
			span.sheet-mainbox
			span.sheet-grayable
				span(data-i18n='agency17') Budget cuts
		.sheet-move
			input.sheet-checkbox(type='checkbox', name='attr_Agency-Professiona18')
			span.sheet-mainbox
			span.sheet-grayable
				span(data-i18n='agency18') Take no prisoners policy
		.sheet-move
			input.sheet-checkbox(type='checkbox', name='attr_Agency-Professiona19')
			span.sheet-mainbox
			span.sheet-grayable
				span(data-i18n='agency19') Live capture policy
