.sheet-Envoy
	+subsection("Overseers")
	+expanderMoveSection("Envoy-Overseers")
		div
			+t("The Envoy was sent or given a task by a higher power. Describe your Overseers according to their Values and your Concerns.")
		br
		+gearhead("Their Values","Pick two")
		+move("Envoy-Overseers-Values","Order")
		+move("Envoy-Overseers-Values","Freedom")
		+move("Envoy-Overseers-Values","Safety")
		+move("Envoy-Overseers-Values","Compassion")
		+move("Envoy-Overseers-Values","Secrecy")
		+move("Envoy-Overseers-Values","Knowledge")
		+move("Envoy-Overseers-Values","Honesty")
		+move("Envoy-Overseers-Values","Power")
		+move("Envoy-Overseers-Values","Growth")
		+move("Envoy-Overseers-Values","Truth")
		+move("Envoy-Overseers-Values","Something else:")
			+itext("Envoy-Overseers-Values-Else")
		br
		+gearhead("Your Concerns","Pick one")
		+move("Envoy-Overseers-Concerns","Overseers’ internal politics")
		+move("Envoy-Overseers-Concerns","Cryptic communication")
		+move("Envoy-Overseers-Concerns","Strict rules")
		+move("Envoy-Overseers-Concerns","Alien perspective")
		+move("Envoy-Overseers-Concerns","Distant presence")
		+move("Envoy-Overseers-Concerns","Secret underlying motives")
		+move("Envoy-Overseers-Concerns","Purity")
		+move("Envoy-Overseers-Concerns","Narrow-focused")
		+move("Envoy-Overseers-Concerns","Big picture")
		+move("Envoy-Overseers-Concerns","Something else:")
			+itext("Envoy-Overseers-Concerns-Else")
		div
			+t("The Envoy doesn’t have a means to contact their Overseers easily in the way the Initiate and Professional can. This is by design—the Overseers are hands-off and esoteric compared to an Agency or Sect. You can <b>use magic</b> to reach out, otherwise contact is always at the Overseers’ whim.")

	+subsection("Task")
	+expanderMoveSection("Envoy-Task")
		div
			+t("You have been given a task. Pick one:")
		+move("Envoy-Task","<b>Guide:</b> You are meant to guide people towards a desired end. What is it?")
			+itext("Envoy-Task-Guide")
		+move("Envoy-Task","<b>Herald:</b> You are meant to bring instructions to other people. What do you teach?")
			+itext("Envoy-Task-Herald")
		+move("Envoy-Task","<b>Watcher:</b> You are meant to search for signs of something. What are the signs?")
			+itext("Envoy-Task-Watcher")
		+move("Envoy-Task","<b>Witness:</b> You are meant to record and observe ongoing events. What do you record?")
			+itext("Envoy-Task-Witness")

	+subsection("Secret Wisdom")
	+expander("Envoy-Wisdom")
		+move("Envoy-Wisdom-Move","<b>Secret Wisdom:</b> You’ve received insight from your Task. <i>At the start of each session</i>, roll +Cool. On a 10+, hold 2. On a 7–9, hold 1. On a miss, hold 1, but the Keeper introduces a cruel choice or terrible truth related to your Task.",true,true) 
			+2d6("Secret Wisdom","Cool","secretwisdom")
		p
			+t("Hold can be spent in different ways based on your Task:<ul><li><b>Guide:</b> When you <i>advise as instructed by the Overseers</i>, spend 1 hold to <b>help out</b> without needing to be in the same place, or spend 2 hold to <b>help out</b> on a start-of-mystery or start-of-session move.<li><b>Herald:</b> When you <i>announce your Overseers’ demands</i>, spend 1 hold to <b>manipulate</b> a monster, if it is capable of communication.<li><b>Watcher:</b> When you <i>examine the patterns of Fate</i>, spend 1 hold to <b>protect someone</b> even when you are not in the same place.<li><b>Witness:</b> When you <i>report to the Overseers</i>, spend 1 hold to grant any hunter one question as if they just <b>investigated a mystery</b>.</ul>")
