.sheet-Chosen.sheet-Fate-Chosen
	.sheet-Subsection
		span(data-i18n='your-fate') Your Fate
	input.sheet-checkbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-ChosenFateAll', value='1', checked='')
	span.sheet-anglebox
	span.sheet-ExpHeader
		span(data-i18n='all') All
	.sheet-Expander
		input.sheet-checkbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-Chosen-Fate-Unused', value='1', checked='')
		span.sheet-anglebox
		span.sheet-ExpHeader
			span(data-i18n='unused') Unused
		.sheet-MinorHead
			span(data-i18n='fate-description') How you found out
		select.sheet-FateSelect-Chosen(name='attr_FateSelect-Chosen')
			option.sheet-FateSelect-Chosen(value='F0', checked='checked', data-i18n='choose-one') Choose one
			option.sheet-FateSelect-Chosen(value='F1', data-i18n='fate-origin1') Nightmares and visions
			option.sheet-FateSelect-Chosen(value='F1', data-i18n='fate-origin2') Some weirdo told you
			option.sheet-FateSelect-Chosen(value='F2', data-i18n='fate-origin3') An ancient cult found you
			option.sheet-FateSelect-Chosen(value='F3', data-i18n='fate-origin4') Sought out by your nemesis
			option.sheet-FateSelect-Chosen(value='F4', data-i18n='fate-origin5') Attacked by monsters
			option.sheet-FateSelect-Chosen(value='F5', data-i18n='fate-origin6') Trained from birth
			option.sheet-FateSelect-Chosen(value='F6', data-i18n='fate-origin7') You found the prophecy
		br
		.sheet-MinorHead
			span(data-i18n='fate-unfold') How your fate will unfold
		b
			span(data-i18n='heroic') Heroic
		| : 
		i
			| &nbsp;(
			span(data-i18n='pick-two') pick two
			| )
		.sheet-move
			input.sheet-checkbox(type='checkbox', name='attr_Fate-Chosen1')
			span.sheet-mainbox
			span.sheet-grayable
				span(data-i18n='fate-heroic1') Sacrifice
		.sheet-move
			input.sheet-checkbox(type='checkbox', name='attr_Fate-Chosen2')
			span.sheet-mainbox
			span.sheet-grayable
				span(data-i18n='fate-heroic2') You are the Champion
		.sheet-move
			input.sheet-checkbox(type='checkbox', name='attr_Fate-Chosen3')
			span.sheet-mainbox
			span.sheet-grayable
				span(data-i18n='fate-heroic3') Visions
		.sheet-move
			input.sheet-checkbox(type='checkbox', name='attr_Fate-Chosen4')
			span.sheet-mainbox
			span.sheet-grayable
				span(data-i18n='fate-heroic4') Secret training
		.sheet-move
			input.sheet-checkbox(type='checkbox', name='attr_Fate-Chosen5')
			span.sheet-mainbox
			span.sheet-grayable
				span(data-i18n='fate-heroic5') Magical powers
		.sheet-move
			input.sheet-checkbox(type='checkbox', name='attr_Fate-Chosen9')
			span.sheet-mainbox
			span.sheet-grayable
				span(data-i18n='fate-heroic9') You can save the world
		.sheet-move
			input.sheet-checkbox(type='checkbox', name='attr_Fate-Chosen6')
			span.sheet-mainbox
			span.sheet-grayable
				span(data-i18n='fate-heroic6') Mystical inheritance
		.sheet-move
			input.sheet-checkbox(type='checkbox', name='attr_Fate-Chosen7')
			span.sheet-mainbox
			span.sheet-grayable
				span(data-i18n='fate-heroic7') A normal life
		.sheet-move
			input.sheet-checkbox(type='checkbox', name='attr_Fate-Chosen8')
			span.sheet-mainbox
			span.sheet-grayable
				span(data-i18n='fate-heroic8') True love
		.sheet-move
			input.sheet-checkbox(type='checkbox', name='attr_Fate-Chosen10')
			span.sheet-mainbox
			span.sheet-grayable
				span(data-i18n='fate-heroic10') Hidden allies
		.sheet-move
			input.sheet-checkbox(type='checkbox', name='attr_Fate-Chosen11')
			span.sheet-mainbox
			span.sheet-grayable
				span(data-i18n='fate-heroic11') The end of monsters
		.sheet-move
			input.sheet-checkbox(type='checkbox', name='attr_Fate-Chosen12')
			span.sheet-mainbox
			span.sheet-grayable
				span(data-i18n='fate-heroic12') Divine help
		b
			span(data-i18n='doom') Doom
		| : 
		i
			| &nbsp;(
			span(data-i18n='pick-two') pick two
			| )
		.sheet-move
			input.sheet-checkbox(type='checkbox', name='attr_Fate-Chosen13')
			span.sheet-mainbox
			span.sheet-grayable
				span(data-i18n='fate-doom1') Death
		.sheet-move
			input.sheet-checkbox(type='checkbox', name='attr_Fate-Chosen14')
			span.sheet-mainbox
			span.sheet-grayable
				span(data-i18n='fate-doom2') You can&apos;t save everyone
		.sheet-move
			input.sheet-checkbox(type='checkbox', name='attr_Fate-Chosen15')
			span.sheet-mainbox
			span.sheet-grayable
				span(data-i18n='fate-doom3') Impossible love
		.sheet-move
			input.sheet-checkbox(type='checkbox', name='attr_Fate-Chosen16')
			span.sheet-mainbox
			span.sheet-grayable
				span(data-i18n='fate-doom4') Failure
		.sheet-move
			input.sheet-checkbox(type='checkbox', name='attr_Fate-Chosen17')
			span.sheet-mainbox
			span.sheet-grayable
				span(data-i18n='fate-doom5') A nemesis
		.sheet-move
			input.sheet-checkbox(type='checkbox', name='attr_Fate-Chosen18')
			span.sheet-mainbox
			span.sheet-grayable
				span(data-i18n='fate-doom6') No normal life
		.sheet-move
			input.sheet-checkbox(type='checkbox', name='attr_Fate-Chosen19')
			span.sheet-mainbox
			span.sheet-grayable
				span(data-i18n='fate-doom7') Loss of loved ones
		.sheet-move
			input.sheet-checkbox(type='checkbox', name='attr_Fate-Chosen20')
			span.sheet-mainbox
			span.sheet-grayable
				span(data-i18n='fate-doom8') Treachery
		.sheet-move
			input.sheet-checkbox(type='checkbox', name='attr_Fate-Chosen21')
			span.sheet-mainbox
			span.sheet-grayable
				span(data-i18n='fate-doom9') Doubt
		.sheet-move
			input.sheet-checkbox(type='checkbox', name='attr_Fate-Chosen22')
			span.sheet-mainbox
			span.sheet-grayable
				span(data-i18n='fate-doom10') Sympathy with the enemy
		.sheet-move
			input.sheet-checkbox(type='checkbox', name='attr_Fate-Chosen23')
			span.sheet-mainbox
			span.sheet-grayable
				span(data-i18n='fate-doom11') Damnation
		.sheet-move
			input.sheet-checkbox(type='checkbox', name='attr_Fate-Chosen24')
			span.sheet-mainbox
			span.sheet-grayable
				span(data-i18n='fate-doom12') Hosts of monsters
		.sheet-move
			input.sheet-checkbox(type='checkbox', name='attr_Fate-Chosen25')
			span.sheet-mainbox
			span.sheet-grayable
				span(data-i18n='fate-doom13') The end of days
		.sheet-move
			input.sheet-checkbox(type='checkbox', name='attr_Fate-Chosen26')
			span.sheet-mainbox
			span.sheet-grayable
				span(data-i18n='fate-doom14') The source of Evil