.sheet-Forged
	+subsection("Dual Nature")
	+expanderMoveSection("Forged-Nature")
		div
			+t("You may freely transform between your human and weapon shapes. You can’t <b>kick some ass</b> when in weapon form, but when wielded as a weapon, your bearer adds harm equal to your Weird. Pick your base range, benefits, and flaw.")
		br
		+gearhead("Range Values","Pick one")
		+move("Forged-Nature-Range","Intimate")
		+move("Forged-Nature-Range","Hand")
		+move("Forged-Nature-Range","Close")
		+move("Forged-Nature-Range","Far")
		br
		+gearhead("Benefits","Pick two")
		+move("Forged-Nature-Benefit","Magic: Add the “magic” tag")
		+move("Forged-Nature-Benefit","Vicious: You deal +1 harm")
		+move("Forged-Nature-Benefit","Precise: You deal +1 harm")
		+move("Forged-Nature-Benefit","Life Drain: Add the “life-drain” tag; you may heal your wielder instead of yourself")
		+move("Forged-Nature-Benefit","Reach: Add another range")
		+move("Forged-Nature-Benefit","Defensive: Add 1-armour for your wielder")
		+move("Forged-Nature-Benefit","Sweeping: Add the “area” tag")
		+move("Forged-Nature-Benefit","Elemental: Add matching tags such as “fire,” “wind,” “lightning,” “mind,” or “darkness”")
		br
		+gearhead("Flaws","Pick one")
		+move("Forged-Nature-Flaw","Conspicuous")
		+move("Forged-Nature-Flaw","Distinctive")
		+move("Forged-Nature-Flaw","Restricted")
		+move("Forged-Nature-Flaw","Unwieldy")
		+move("Forged-Nature-Flaw","Charging")
		
	+subsection("Origin")
	+expanderMoveSection("Forged-Origin")
		+gearhead("Forging","Pick one")
		+move("Forged-Origin-Forging","You always thought you were human.")
		+move("Forged-Origin-Forging","You gained sentience by the perfection of your maker’s craft.")
		+move("Forged-Origin-Forging","You used to be a supernatural being.")
		+move("Forged-Origin-Forging","A magical accident resulted in your creation.")
		+move("Forged-Origin-Forging","You were created to fulfil an obligation.")
		+move("Forged-Origin-Forging","“You know what? I don’t remember.”")
		+move("Forged-Origin-Forging","Something else:")
			+itext("Forged-Origin-Forging-Else")
		br
		+gearhead("Partnering","Pick one")
		+move("Forged-Origin-Partnering","Your partner displayed great faith and devotion.")
		+move("Forged-Origin-Partnering","Your partner solved puzzles requiring wit and wisdom.")
		+move("Forged-Origin-Partnering","Your partner won your allegiance through power and might.")
		+move("Forged-Origin-Partnering","You were created specifically for your partner.")
		+move("Forged-Origin-Partnering","Your partner swore to perform a task and you are to aid them.")
		+move("Forged-Origin-Partnering","You met through sheer luck and happenstance.")
		+move("Forged-Origin-Partnering","Something else:")
			+itext("Forged-Origin-Partnering-Else")
