.sheet-Spooky.sheet-DarkSide-Spooky
	.sheet-Subsection
		span(data-i18n='dark-side') The Dark Side
	input.sheet-checkbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-DarkSide-Spooky-All', value='1', checked='')
	span.sheet-anglebox
	span.sheet-ExpHeader
		span(data-i18n='all') All
	.sheet-Expander
		div
			span(data-i18n='dark-side-description1')
				| Your powers have an unsavoury source, and sometimes you get tempted to do things you shouldn&apos;t. These could be orders from whatever granted your power, or urges that bubble up from your subconscious, or something like that. Whatever it is, it&apos;s unsettling.
			|  
			i
				| &nbsp;(
				span(data-i18n='pick-three') pick three
				| )
			| :
		input.sheet-checkbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-DarkSide-Spooky-Unused', value='1', checked='')
		span.sheet-anglebox
		span.sheet-ExpHeader
			span(data-i18n='unused') Unused
		.sheet-move
			input.sheet-checkbox(type='checkbox', name='attr_DarkSide-Spooky1')
			span.sheet-mainbox
			|  
			span.sheet-grayable
				span(data-i18n='dark-side1') Violence
		.sheet-move
			input.sheet-checkbox(type='checkbox', name='attr_DarkSide-Spooky2')
			span.sheet-mainbox
			|  
			span.sheet-grayable
				span(data-i18n='dark-side2') Depression
		.sheet-move
			input.sheet-checkbox(type='checkbox', name='attr_DarkSide-Spooky3')
			span.sheet-mainbox
			|  
			span.sheet-grayable
				span(data-i18n='dark-side3') Secrets
		.sheet-move
			input.sheet-checkbox(type='checkbox', name='attr_DarkSide-Spooky4')
			span.sheet-mainbox
			|  
			span.sheet-grayable
				span(data-i18n='dark-side4') Lust
		.sheet-move
			input.sheet-checkbox(type='checkbox', name='attr_DarkSide-Spooky5')
			span.sheet-mainbox
			|  
			span.sheet-grayable
				span(data-i18n='dark-side5') Dark bargain
		.sheet-move
			input.sheet-checkbox(type='checkbox', name='attr_DarkSide-Spooky6')
			span.sheet-mainbox
			|  
			span.sheet-grayable
				span(data-i18n='dark-side6') Guilt
		.sheet-move
			input.sheet-checkbox(type='checkbox', name='attr_DarkSide-Spooky7')
			span.sheet-mainbox
			|  
			span.sheet-grayable
				span(data-i18n='dark-side7') Soulless
		.sheet-move
			input.sheet-checkbox(type='checkbox', name='attr_DarkSide-Spooky8')
			span.sheet-mainbox
			|  
			span.sheet-grayable
				span(data-i18n='dark-side8') Addiction
		.sheet-move
			input.sheet-checkbox(type='checkbox', name='attr_DarkSide-Spooky9')
			span.sheet-mainbox
			|  
			span.sheet-grayable
				span(data-i18n='dark-side9') Mood swings
		.sheet-move
			input.sheet-checkbox(type='checkbox', name='attr_DarkSide-Spooky10')
			span.sheet-mainbox
			|  
			span.sheet-grayable
				span(data-i18n='dark-side10') Rage
		.sheet-move
			input.sheet-checkbox(type='checkbox', name='attr_DarkSide-Spooky11')
			span.sheet-mainbox
			|  
			span.sheet-grayable
				span(data-i18n='dark-side11') Self-destruction
		.sheet-move
			input.sheet-checkbox(type='checkbox', name='attr_DarkSide-Spooky12')
			span.sheet-mainbox
			|  
			span.sheet-grayable
				span(data-i18n='dark-side12') Greed for power
		.sheet-move
			input.sheet-checkbox(type='checkbox', name='attr_DarkSide-Spooky13')
			span.sheet-mainbox
			|  
			span.sheet-grayable
				span(data-i18n='dark-side13') Poor impulse control
		.sheet-move
			input.sheet-checkbox(type='checkbox', name='attr_DarkSide-Spooky14')
			span.sheet-mainbox
			|  
			span.sheet-grayable
				span(data-i18n='dark-side14') Hallucinations
		.sheet-move
			input.sheet-checkbox(type='checkbox', name='attr_DarkSide-Spooky15')
			span.sheet-mainbox
			|  
			span.sheet-grayable
				span(data-i18n='dark-side15') Pain
		.sheet-move
			input.sheet-checkbox(type='checkbox', name='attr_DarkSide-Spooky16')
			span.sheet-mainbox
			|  
			span.sheet-grayable
				span(data-i18n='dark-side16') Paranoia
		input.sheet-SettingCheck(type='hidden', name='attr_Game-World', value='0')
		span.sheet-Setting-Default.sheet-Setting-Gothic.sheet-Setting-Dreaming.sheet-Setting-Marches
			span(data-i18n='dark-side-effects')
				| The Keeper can ask you to do nasty things (in accordance with your tags) when your powers need you to. If you do whatever is asked, mark experience. If you don&apos;t, then your powers are unavilable until the end of the mystery (or until you cave). As you spend 
				i Luck
				| , these requests will get bigger and nastier.
		span.sheet-Setting-Bone
			+translate('The Keeper can ask you to do nasty things (in accordance with the tags), when your powers need you to. If you do whatever is asked, mark experience. If you don’t do it, then your powers are unavailable until the end of the mystery (or until you cave). As you mark off <i>Favour</i> boxes, these requests will get bigger and nastier.')

