.sheet-Sidekick.sheet-Hero-Sidekick
	.sheet-Subsection
		span(data-i18n='hero') Hero
	input.sheet-checkbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-Sidekick-Hero', value='1', checked='')
	span.sheet-anglebox
	span.sheet-ExpHeader
	.sheet-Expander
		div
			span(data-i18n='hero-desc1')
				| Pick one of the other hunters to be your hero. This is the person you decided is such an awesome monster-hunter that you are going to spend your time helping them out.
		div
			input(type='text', name='attr_HeroName-Sidekick')
		div
			span(data-i18n='hero-desc2')
				| Decide what your relationship is, with agreement from the hero&apos;s player. Eg. an older sibling, a parent, a friend who was always better than you, perhaps they saved you from a monster, or you found out about their monster hunting by accident, etc. Optionally, you may choose to copy some aspect of your hero&apos;s looks.
		div
			input(type='text', name='attr_HeroRelation-Sidekick')
		div
			span(data-i18n='hero-desc3')
				| When your hero&apos;s player has picked their ratings, ask them which is highest. You&apos;ve been trying to be like them, so you get an extra +1 to that rating. If they have a tie for highest, you can pick which one you put your +1 on.