.sheet-Summoned.sheet-Apocalypse-Summoned
	.sheet-Subsection
		span(data-i18n='apocalypse') Apocalypse
	input.sheet-checkbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-Summoned-Apocalypse-All', value='1', checked='')
	span.sheet-anglebox
	span.sheet-ExpHeader
		span(data-i18n='all') All
	.sheet-Expander
		input.sheet-checkbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-Summoned-Apocalypse-Instruct', value='1', checked='')
		span.sheet-anglebox
		span.sheet-ExpHeader
			span(data-i18n='instructions') Instructions
		.sheet-Expander
			div
				span(data-i18n='apocalypse-desc1')
					| You are destined to bring about the Apocalypse. You may or may not know about it yet, but you have at least come across some hints of your destiny.
			.sheet-space-above
				span.sheet-highlights(data-i18n='apocalypse-desc2')
					| Pick a sign of the Apocalypse, with help from the Keeper (and maybe the rest of the group) that has already been revealed to you. Whenever you spend 
					i Luck
					| , you&apos;ll trigger another sign of the Apocalypse. You can suggest what it might be, but it will be the Keeper&apos;s job to bring the sign into the story.
			.sheet-space-above
				span.sheet-highlights(data-i18n='apocalypse-desc3')
					| When you have spent all your 
					i Luck
					| , the Apocalypse is imminent. It&apos;s up to you to stop, or cause, the end of the world. Your call.
		div
			textarea(name='attr_Apocalypse-Summoned', rows='4', cols='40', placeholder='Write down signs of the Apocalypse that have already happened')
		div
			input.sheet-checkbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-Summoned-Apocalypse-Examples', value='1')
			span.sheet-anglebox
			span.sheet-ExpHeader(data-i18n='examples') Examples
			.sheet-Expander
				ul
					li
						span(data-i18n='apocalypse-sign1') Betrayal
					li
						span(data-i18n='apocalypse-sign2') An army of monsters rises
					li
						span(data-i18n='apocalypse-sign3') Rain of fire
					li
						span(data-i18n='apocalypse-sign4') Eternal darkness
					li
						span(data-i18n='apocalypse-sign5') Things from beyond
					li
						span(data-i18n='apocalypse-sign6') Take your throne
					li
						span(data-i18n='apocalypse-sign7') Red sun
					li
						span(data-i18n='apocalypse-sign8') The Portal opens
					li
						span(data-i18n='apocalypse-sign9') Plague
					li
						span(data-i18n='apocalypse-sign10') Learn your true name
					li
						span(data-i18n='apocalypse-sign11') The Stars are Right
					li
						span(data-i18n='apocalypse-sign24') Breaking the Seal
					li
						span(data-i18n='apocalypse-sign12') Murder of the King
					li
						span(data-i18n='apocalypse-sign13') The Beast slouches into the world
					li
						span(data-i18n='apocalypse-sign14') Become the Dragon
					li
						span(data-i18n='apocalypse-sign15') The Coronation
					li
						span(data-i18n='apocalypse-sign16') Your Hosts assemble
					li
						span(data-i18n='apocalypse-sign17') The fall of the Tower
					li
						span(data-i18n='apocalypse-sign18') The seas boil
					li
						span(data-i18n='apocalypse-sign19') Natural disasters
					li
						span(data-i18n='apocalypse-sign20') Judgement Day
					li
						span(data-i18n='apocalypse-sign21') World war
					li
						span(data-i18n='apocalypse-sign22') Famine
					li
						span(data-i18n='apocalypse-sign23') Ancient Evil reborn