.sheet-Changeling
	+subsection("Unknown Heritage")
	+expanderMoveSection("Changeling-Heritage")
		div
			+t("Your non-human heritage has pitfalls you were never taught about. Pick three:")
		+move("Changeling-Heritage","Dietary restriction")
		+move("Changeling-Heritage","Hygienic need")
		+move("Changeling-Heritage","Unearned reputation")
		+move("Changeling-Heritage","Erratic power")
		+move("Changeling-Heritage","Strange thoughts")
		+move("Changeling-Heritage","Sensory bombardment")
		+move("Changeling-Heritage","Allergy to")
			+itext("Changeling-Heritage-Allergy")
		+move("Changeling-Heritage","Repulsion from")
			+itext("Changeling-Heritage-Repulsion")
		+move("Changeling-Heritage","Attraction to")
			+itext("Changeling-Heritage-Attraction")
		+move("Changeling-Heritage","Obsession with")
			+itext("Changeling-Heritage-Obsession")
		+t("<p>The Keeper may introduce obstacles or distractions based on these tags. If you push through or ignore them, things can spiral out of control, and you may need to <b>act under pressure</b>.<p>Alternatively, devote time to dealing with it and put other concerns (like the current crisis, ongoing mystery, or personal issues) on hold. If you do, mark experience.<p>You always have the temptation to find out about your nature. When <b>investigating a mystery</b> with a source of supernatural knowledge, you may ask, “What do I learn about myself?” as one of your questions.<p>If the character gains any useful knowledge of themself, word will get out among the supernatural world that they’re asking questions.")