.sheet-Abandoned
	+subsection("Abandonment")
	+expanderMoveSection("Abandoned-Abandonment")
		div
			+t("Describe how you were abandoned and what survival skills you had to pick up to get through it.")
		+move("Abandoned-AbandonmentMove", "<b>Sole Survivor:</b> You were left to survive in the wake of a monster attack. Gain +1 forward when you <b>act under pressure</b> to avoid a monster attack or <b>protect someone</b> from a monster attack. When you enter a location, you know if a monster or minion has been there recently.")
		+move("Abandoned-AbandonmentMove", "<b>Urchin:</b> You’ve lived on the streets for as long as you can remember. When you <b>investigate a mystery</b> on entering a new location, you can ask “Is this a safe place to hole up?” in addition to your normal questions. You gain +1 ongoing when palming objects or performing childish pranks.")
		+move("Abandoned-AbandonmentMove", "<b>Lost in the System:</b> You faced a childhood of compassionless guardianship. You always know when someone is masking their true intentions, but not necessarily what those intentions are.")
		+move("Abandoned-AbandonmentMove", "<b>Exploited Heir:</b> Your parents left you an inheritance someone wanted to control. Whenever you <b>investigate a mystery</b>, you can add the following questions to those you can choose. <ul><li>“Who has the most power in this relationship?”</li><li>“What is _______ getting out of this situation?”</li></ul>")
		+move("Abandoned-AbandonmentMove", "<b>Neglected:</b> Your guardians were there, but might as well not have been, and you’re used to organizing things yourself. Once per session, you may use <b>trust your gut</b> to get a sense of priorities. If <b>trust your gut</b> is your basic weird move, you may instead use <b>tradecraft</b>.")
		+move("Abandoned-AbandonmentMove", "<b>Stolen Away:</b> You were drawn into a strange world as a child. You may use Weird to <b>read a bad situation</b>. If you do so, add “Is there any hidden wonder?” to the list of questions you can choose.")
		+move("Abandoned-AbandonmentMove", "<b>Castaway:</b> An accident left you stranded far from civilisation. You take +1 ongoing to <b>act under pressure</b> when dealing with environmental hazards. You always know if something is safe to eat or drink, even if a contaminant is normally invisible.")