.sheet-Divine.sheet-Mission-Divine
	input.sheet-SettingCheck(type='hidden', name='attr_Game-World', value='0')
	.sheet-Setting-Default.sheet-Setting-Gothic.sheet-Setting-Dreaming.sheet-Setting-Marches
		.sheet-Subsection
			span(data-i18n='your-mission') Mission
		input.sheet-checkbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-Divine-Mission-All', value='1', checked='')
		span.sheet-anglebox
		span.sheet-ExpHeader
			span(data-i18n='all') All
		.sheet-Expander
			input.sheet-checkbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-Divine-Mission-Unused', value='1', checked='')
			span.sheet-anglebox
			span.sheet-ExpHeader
				span(data-i18n='unused') Unused
			div
				span(data-i18n='mission-description') You have been put here for a purpose
				|  
				i
					| &nbsp;(
					span(data-i18n='pick-one') pick one
					| )
				| :
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Mission-Divine1', value='1')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='mission1') You are here to fight the schemes of an Adversary.
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Mission-Divine2', value='1')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='mission2')
						| The End of Days approaches. Your role is to guide these hunters and prevent it from coming to pass.
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Mission-Divine3', value='1')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='mission3')
						| The End of Days approaches. Your role is to guide these hunters and ensure it comes to pass.
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Mission-Divine4', value='1')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='mission4')
						| You have been exiled. You must work for the cause of good without drawing attention of your brothers and sisters, as they are bound to execute you for your crimes.
			.sheet-move
				input.sheet-checkbox(type='checkbox', name='attr_Mission-Divine5', value='1')
				span.sheet-mainbox
				span.sheet-grayable
					span(data-i18n='mission5')
						| One of the other hunters has a crucial role to play in events to come. You must prepare them for their role, and protect them at 
						i any
						|  cost.
			textarea(name='attr_MissionDesc-Divine', rows='5', cols='40', placeholder='Any additional information about your Mission')
.sheet-Divine.sheet-Patron-Divine
	input.sheet-SettingCheck(type='hidden', name='attr_Game-World', value='0')
	.sheet-Setting-Bone
		.sheet-Subsection
			+translate('Patron Spirit')
		input.sheet-checkbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-Divine-Mission-All', value='1', checked='')
		span.sheet-anglebox
		span.sheet-ExpHeader
			span(data-i18n='all') All
		.sheet-Expander
			input.sheet-checkbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-Divine-Mission-Unused', value='1', checked='')
			span.sheet-anglebox
			span.sheet-ExpHeader
				span(data-i18n='unused') Unused
			div
				+translate('Decide what spirit imbued you with power. A spirit might include more than one aspect from this list:')
			+move('Bone-Divine-Spirit','A spirit of a particular location.')
			+move('Bone-Divine-Spirit','A spirit of a natural force (weather, fire, sea, etc.).')
			+move('Bone-Divine-Spirit','An ancestor.')
			+move('Bone-Divine-Spirit','An animal.')
			+move('Bone-Divine-Spirit','Something else:')
				input(type='text',name='attr_patron-spirit-something-else')
			.sheet-space-above
				+translate('Give the spirit a name:')
				input(type='text',name='attr_patron-spirit-name')
				+translate('and add some more details:')
				textarea(name='attr_patron-spirit-details')
			.sheet-space-above
				+translate('What did you offer the spirit in return for your powers? Describe the details.')
			+move('Bone-Divine-Offer','Must you follow specific rules in your life?')
			+move('Bone-Divine-Offer','Must you provide it with frequent valuable gifts and sacrifices?')
			+move('Bone-Divine-Offer','Must you act as its emissary with your community and other people?')
			+move('Bone-Divine-Offer','Must you live with it?')
			+move('Bone-Divine-Offer','Something else...')
			textarea(name='attr_patron-spirit-offer-details')
