.sheet-Host
	+subsection("Symbiosis")
	+expanderMoveSection("Host-Symbiosis")
		div
			+t("Choose the Benefits and Downside of your symbiosis.")
		br
		+gearhead("Benefits","Pick two")
		+move("Host-Symbiosis-Benefit","Aligned motivations")
		+move("Host-Symbiosis-Benefit","Unaging")
		+move("Host-Symbiosis-Benefit","Can survive vacuum, pressure, and lack of air")
		+move("Host-Symbiosis-Benefit","Immune to radiation")
		+move("Host-Symbiosis-Benefit","Disease, drug, and poison resistance")
		+move("Host-Symbiosis-Benefit","Subtle physical improvements")
		+move("Host-Symbiosis-Benefit","Can’t be possessed")
		+move("Host-Symbiosis-Benefit","Can climb walls")
		+move("Host-Symbiosis-Benefit","Efficient metabolism")
		+move("Host-Symbiosis-Benefit","Non-physical symbiote")
		br
		+gearhead("Downsides","Pick one")
		+move("Host-Symbiosis-Downsides","Limited communication")
		+move("Host-Symbiosis-Downsides","Body timeshare")
		+move("Host-Symbiosis-Downsides","Biological needs")
		+move("Host-Symbiosis-Downsides","Personality conflicts")
		+move("Host-Symbiosis-Downsides","Obvious mutations")
		+move("Host-Symbiosis-Downsides","Distracting chatter")
		+move("Host-Symbiosis-Downsides","Magical aura")
