.sheet-Stats.sheet-NoNull
	// Charm Cool Sharp Tough Weird
	.sheet-Stat
		span.sheet-StatLabel(data-i18n='charm') Charm
		input(type='number', name='attr_Charm', min='-2', max='3', value='0')
		button.sheet-2d6-button(type='roll', value='&{template:motw-dieroll} {{stat=charm}} {{CharName=@{character_name}}} {{Roll=[[2d6+@{Charm}+?{+/- forward?|0}]]}}', name='roll_Charm')
	.sheet-Stat
		span.sheet-StatLabel(data-i18n='cool') Cool
		input(type='number', name='attr_Cool', min='-2', max='3', value='0')
		button.sheet-2d6-button(type='roll', value='&{template:motw-dieroll} {{stat=cool}} {{CharName=@{character_name}}} {{Roll=[[2d6+@{Cool}+?{+/- forward?|0}]]}}', name='roll_Cool')
	.sheet-Stat
		span.sheet-StatLabel(data-i18n='sharp') Sharp
		input(type='number', name='attr_Sharp', min='-2', max='3', value='0')
		button.sheet-2d6-button(type='roll', value='&{template:motw-dieroll} {{stat=sharp}} {{CharName=@{character_name}}} {{Roll=[[2d6+@{Sharp}+?{+/- forward?|0}]]}}', name='roll_Sharp')
	.sheet-Stat
		span.sheet-StatLabel(data-i18n='tough') Tough
		input(type='number', name='attr_Tough', min='-2', max='3', value='0')
		button.sheet-2d6-button(type='roll', value='&{template:motw-dieroll} {{stat=tough}} {{CharName=@{character_name}}} {{Roll=[[2d6+@{Tough}+?{+/- forward?|0}]]}}', name='roll_Tough')
	.sheet-Stat
		span.sheet-StatLabel(data-i18n='weird') Weird
		input(type='number', name='attr_Weird', min='-2', max='3', value='0')
		button.sheet-2d6-button(type='roll', value='&{template:motw-dieroll} {{stat=weird}} {{CharName=@{character_name}}} {{Roll=[[2d6+@{Weird}+?{+/- forward?|0}]]}}', name='roll_Weird')
	// Starting Stats Sidebar Section
	input.sheet-SkinCheck.sheet-99-hider(type='hidden', name='attr_SkinCheck', value='0')
	|  
	.sheet-StartingStatsSidebar
		.sheet-MinorHead
			span(data-i18n='starting') Starting
			|  
			span(data-i18n='stats') Stats
		input.sheet-checkbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-StartingStats', value='1', checked='')
		span.sheet-anglebox
		span.sheet-ExpHeader
		.sheet-Expander
			input.sheet-SkinCheck(type='hidden', name='attr_SkinCheck', value='0')
			|  
			span(data-i18n='stats-overwrite-warning') Choose your set of starting stats. (This will overwrite current stats values!)
			.sheet-Chosen
				select.sheet-StartingStats(name='attr_StartingStats', width='150px')
					option(value='', checked='', data-i1n='', data-i18n='choose-starting-stats') Choose a set
					option(value='2 -1 1 2 -1', data-i18n='starting-stats-choices', data-i18n-vars='+2|-1|+1|+2|-1') Charm{{0}}, Cool{{1}}, Sharp{{2}}, Tough{{3}}, Weird{{4}}
					option(value='-1 2 1 2 -1', data-i18n='starting-stats-choices', data-i18n-vars='-1|+2|+1|+2|-1') Charm{{0}}, Cool{{1}}, Sharp{{2}}, Tough{{3}}, Weird{{4}}
					option(value='1 2 1 1 -1', data-i18n='starting-stats-choices', data-i18n-vars='+1|+2|+1|+1|-1') Charm{{0}}, Cool{{1}}, Sharp{{2}}, Tough{{3}}, Weird{{4}}
					option(value='-1 1 2 -1 2', data-i18n='starting-stats-choices', data-i18n-vars='-1|+1|+2|-1|+2') Charm{{0}}, Cool{{1}}, Sharp{{2}}, Tough{{3}}, Weird{{4}}
					option(value='1 2 -1 -1 2', data-i18n='starting-stats-choices', data-i18n-vars='+1|+2|-1|-1|+2') Charm{{0}}, Cool{{1}}, Sharp{{2}}, Tough{{3}}, Weird{{4}}
			.sheet-Crooked
				select.sheet-StartingStats(name='attr_StartingStats')
					option(value='', checked='', data-i1n='', data-i18n='choose-starting-stats') Choose a set
					option(value='1 1 2 0 -1', data-i18n='starting-stats-choices', data-i18n-vars='+1|+1|+2|=0|-1') Charm{{0}}, Cool{{1}}, Sharp{{2}}, Tough{{3}}, Weird{{4}}
					option(value='-1 1 1 2 0', data-i18n='starting-stats-choices', data-i18n-vars='-1|+1|+1|+2|=0') Charm{{0}}, Cool{{1}}, Sharp{{2}}, Tough{{3}}, Weird{{4}}
					option(value='-1 2 2 0 -1', data-i18n='starting-stats-choices', data-i18n-vars='-1|+2|+2|=0|-1') Charm{{0}}, Cool{{1}}, Sharp{{2}}, Tough{{3}}, Weird{{4}}
					option(value='2 1 1 0 -1', data-i18n='starting-stats-choices', data-i18n-vars='+2|+1|+1|=0|-1') Charm{{0}}, Cool{{1}}, Sharp{{2}}, Tough{{3}}, Weird{{4}}
					option(value='2 0 1 -1 1', data-i18n='starting-stats-choices', data-i18n-vars='+2|=0|+1|-1|+1') Charm{{0}}, Cool{{1}}, Sharp{{2}}, Tough{{3}}, Weird{{4}}
			.sheet-Divine
				select.sheet-StartingStats(name='attr_StartingStats')
					option(value='', checked='', data-i1n='', data-i18n='choose-starting-stats') Choose a set
					option(value='1 1 -1 2 0', data-i18n='starting-stats-choices', data-i18n-vars='+1|+1|-1|+2|=0') Charm{{0}}, Cool{{1}}, Sharp{{2}}, Tough{{3}}, Weird{{4}}
					option(value='-1 2 -1 2 0', data-i18n='starting-stats-choices', data-i18n-vars='-1|+2|-1|+2|=0') Charm{{0}}, Cool{{1}}, Sharp{{2}}, Tough{{3}}, Weird{{4}}
					option(value='-1 0 1 2 1', data-i18n='starting-stats-choices', data-i18n-vars='-1|=0|+1|+2|+1') Charm{{0}}, Cool{{1}}, Sharp{{2}}, Tough{{3}}, Weird{{4}}
					option(value='1 1 0 2 -1', data-i18n='starting-stats-choices', data-i18n-vars='+1|+1|=0|+2|-1') Charm{{0}}, Cool{{1}}, Sharp{{2}}, Tough{{3}}, Weird{{4}}
					option(value='-1 1 0 2 1', data-i18n='starting-stats-choices', data-i18n-vars='-1|+1|=0|+2|+1') Charm{{0}}, Cool{{1}}, Sharp{{2}}, Tough{{3}}, Weird{{4}}
			.sheet-Expert
				select.sheet-StartingStats(name='attr_StartingStats')
					option(value='', checked='', data-i1n='', data-i18n='choose-starting-stats') Choose a set
					option(value='-1 1 2 1 0', data-i18n='starting-stats-choices', data-i18n-vars='-1|+1|+2|+1|=0') Charm{{0}}, Cool{{1}}, Sharp{{2}}, Tough{{3}}, Weird{{4}}
					option(value='0 1 2 -1 1', data-i18n='starting-stats-choices', data-i18n-vars='=0|+1|+2|-1|+1') Charm{{0}}, Cool{{1}}, Sharp{{2}}, Tough{{3}}, Weird{{4}}
					option(value='1 -1 2 1 0', data-i18n='starting-stats-choices', data-i18n-vars='+1|-1|+2|+1|=0') Charm{{0}}, Cool{{1}}, Sharp{{2}}, Tough{{3}}, Weird{{4}}
					option(value='-1 1 2 0 1', data-i18n='starting-stats-choices', data-i18n-vars='-1|+1|+2|=0|+1') Charm{{0}}, Cool{{1}}, Sharp{{2}}, Tough{{3}}, Weird{{4}}
					option(value='-1 0 2 -1 2', data-i18n='starting-stats-choices', data-i18n-vars='-1|=0|+2|-1|+2') Charm{{0}}, Cool{{1}}, Sharp{{2}}, Tough{{3}}, Weird{{4}}
			.sheet-Flake
				select.sheet-StartingStats(name='attr_StartingStats')
					option(value='', checked='', data-i1n='', data-i18n='choose-starting-stats') Choose a set
					option(value='1 1 2 -1 0', data-i18n='starting-stats-choices', data-i18n-vars='+1|+1|+2|-1|=0') Charm{{0}}, Cool{{1}}, Sharp{{2}}, Tough{{3}}, Weird{{4}}
					option(value='0 1 2 -1 1', data-i18n='starting-stats-choices', data-i18n-vars='=0|+1|+2|-1|+1') Charm{{0}}, Cool{{1}}, Sharp{{2}}, Tough{{3}}, Weird{{4}}
					option(value='1 -1 2 1 0', data-i18n='starting-stats-choices', data-i18n-vars='+1|-1|+2|+1|=0') Charm{{0}}, Cool{{1}}, Sharp{{2}}, Tough{{3}}, Weird{{4}}
					option(value='1 -1 2 0 1', data-i18n='starting-stats-choices', data-i18n-vars='+1|-1|+2|=0|+1') Charm{{0}}, Cool{{1}}, Sharp{{2}}, Tough{{3}}, Weird{{4}}
					option(value='-1 -1 2 0 2', data-i18n='starting-stats-choices', data-i18n-vars='-1|-1|+2|=0|+2') Charm{{0}}, Cool{{1}}, Sharp{{2}}, Tough{{3}}, Weird{{4}}
			.sheet-Initiate
				select.sheet-StartingStats(name='attr_StartingStats')
					option(value='', checked='', data-i1n='', data-i18n='choose-starting-stats') Choose a set
					option(value='-1 1 0 1 2', data-i18n='starting-stats-choices', data-i18n-vars='-1|+1|=0|+1|+2') Charm{{0}}, Cool{{1}}, Sharp{{2}}, Tough{{3}}, Weird{{4}}
					option(value='0 1 1 -1 2', data-i18n='starting-stats-choices', data-i18n-vars='=0|+1|+1|-1|+2') Charm{{0}}, Cool{{1}}, Sharp{{2}}, Tough{{3}}, Weird{{4}}
					option(value='-1 0 -1 2 2', data-i18n='starting-stats-choices', data-i18n-vars='-1|=0|-1|+2|+2') Charm{{0}}, Cool{{1}}, Sharp{{2}}, Tough{{3}}, Weird{{4}}
					option(value='1 -1 1 0 2', data-i18n='starting-stats-choices', data-i18n-vars='+1|-1|+1|=0|+2') Charm{{0}}, Cool{{1}}, Sharp{{2}}, Tough{{3}}, Weird{{4}}
					option(value='0 0 0 1 2', data-i18n='starting-stats-choices', data-i18n-vars='=0|=0|=0|+1|+2') Charm{{0}}, Cool{{1}}, Sharp{{2}}, Tough{{3}}, Weird{{4}}
			.sheet-Monstrous
				select.sheet-StartingStats(name='attr_StartingStats')
					option(value='', checked='', data-i1n='', data-i18n='choose-starting-stats') Choose a set
					option(value='-1 -1 0 2 3', data-i18n='starting-stats-choices', data-i18n-vars='-1|-1|=0|+2|+3') Charm{{0}}, Cool{{1}}, Sharp{{2}}, Tough{{3}}, Weird{{4}}
					option(value='-1 1 1 0 3', data-i18n='starting-stats-choices', data-i18n-vars='-1|+1|+1|=0|+3') Charm{{0}}, Cool{{1}}, Sharp{{2}}, Tough{{3}}, Weird{{4}}
					option(value='2 0 -1 -1 3', data-i18n='starting-stats-choices', data-i18n-vars='+2|=0|-1|-1|+3') Charm{{0}}, Cool{{1}}, Sharp{{2}}, Tough{{3}}, Weird{{4}}
					option(value='-2 2 0 0 3', data-i18n='starting-stats-choices', data-i18n-vars='-2|+2|=0|=0|+3') Charm{{0}}, Cool{{1}}, Sharp{{2}}, Tough{{3}}, Weird{{4}}
					option(value='0 -1 2 -1 3', data-i18n='starting-stats-choices', data-i18n-vars='=0|-1|+2|-1|+3') Charm{{0}}, Cool{{1}}, Sharp{{2}}, Tough{{3}}, Weird{{4}}
			.sheet-Mundane
				select.sheet-StartingStats(name='attr_StartingStats')
					option(value='', checked='', data-i1n='', data-i18n='choose-starting-stats') Choose a set
					option(value='2 1 0 1 -1', data-i18n='starting-stats-choices', data-i18n-vars='+2|+1|=0|+1|-1') Charm{{0}}, Cool{{1}}, Sharp{{2}}, Tough{{3}}, Weird{{4}}
					option(value='2 -1 1 1 0', data-i18n='starting-stats-choices', data-i18n-vars='+2|-1|+1|+1|=0') Charm{{0}}, Cool{{1}}, Sharp{{2}}, Tough{{3}}, Weird{{4}}
					option(value='2 0 -1 1 1', data-i18n='starting-stats-choices', data-i18n-vars='+2|=0|-1|+1|+1') Charm{{0}}, Cool{{1}}, Sharp{{2}}, Tough{{3}}, Weird{{4}}
					option(value='2 0 1 1 -1', data-i18n='starting-stats-choices', data-i18n-vars='+2|=0|+1|+1|-1') Charm{{0}}, Cool{{1}}, Sharp{{2}}, Tough{{3}}, Weird{{4}}
					option(value='2 1 1 0 -1', data-i18n='starting-stats-choices', data-i18n-vars='+2|+1|+1|=0|-1') Charm{{0}}, Cool{{1}}, Sharp{{2}}, Tough{{3}}, Weird{{4}}
			.sheet-Professional
				select.sheet-StartingStats(name='attr_StartingStats')
					option(value='', checked='', data-i1n='', data-i18n='choose-starting-stats') Choose a set
					option(value='0 2 -1 2 -1', data-i18n='starting-stats-choices', data-i18n-vars='=0|+2|-1|+2|-1') Charm{{0}}, Cool{{1}}, Sharp{{2}}, Tough{{3}}, Weird{{4}}
					option(value='-1 2 1 1 0', data-i18n='starting-stats-choices', data-i18n-vars='-1|+2|+1|+1|=0') Charm{{0}}, Cool{{1}}, Sharp{{2}}, Tough{{3}}, Weird{{4}}
					option(value='1 2 1 -1 0', data-i18n='starting-stats-choices', data-i18n-vars='+1|+2|+1|-1|=0') Charm{{0}}, Cool{{1}}, Sharp{{2}}, Tough{{3}}, Weird{{4}}
					option(value='-1 2 1 0 1', data-i18n='starting-stats-choices', data-i18n-vars='-1|+2|+1|=0|+1') Charm{{0}}, Cool{{1}}, Sharp{{2}}, Tough{{3}}, Weird{{4}}
					option(value='0 2 2 -1 -1', data-i18n='starting-stats-choices', data-i18n-vars='=0|+2|+2|-1|-1') Charm{{0}}, Cool{{1}}, Sharp{{2}}, Tough{{3}}, Weird{{4}}
			.sheet-Spellslinger
				select.sheet-StartingStats(name='attr_StartingStats')
					option(value='', checked='', data-i1n='', data-i18n='choose-starting-stats') Choose a set
					option(value='-1 1 1 0 2', data-i18n='starting-stats-choices', data-i18n-vars='-1|+1|+1|=0|+2') Charm{{0}}, Cool{{1}}, Sharp{{2}}, Tough{{3}}, Weird{{4}}
					option(value='0 -1 1 1 2', data-i18n='starting-stats-choices', data-i18n-vars='=0|-1|+1|+1|+2') Charm{{0}}, Cool{{1}}, Sharp{{2}}, Tough{{3}}, Weird{{4}}
					option(value='-1 0 2 -1 2', data-i18n='starting-stats-choices', data-i18n-vars='-1|=0|+2|-1|+2') Charm{{0}}, Cool{{1}}, Sharp{{2}}, Tough{{3}}, Weird{{4}}
					option(value='1 0 1 -1 2', data-i18n='starting-stats-choices', data-i18n-vars='+1|=0|+1|-1|+2') Charm{{0}}, Cool{{1}}, Sharp{{2}}, Tough{{3}}, Weird{{4}}
					option(value='0 0 1 0 2', data-i18n='starting-stats-choices', data-i18n-vars='=0|=0|+1|=0|+2') Charm{{0}}, Cool{{1}}, Sharp{{2}}, Tough{{3}}, Weird{{4}}
			.sheet-Spooky
				select.sheet-StartingStats(name='attr_StartingStats')
					option(value='', checked='', data-i1n='', data-i18n='choose-starting-stats') Choose a set
					option(value='1 0 1 -1 2', data-i18n='starting-stats-choices', data-i18n-vars='+1|=0|+1|-1|+2') Charm{{0}}, Cool{{1}}, Sharp{{2}}, Tough{{3}}, Weird{{4}}
					option(value='-1 1 0 1 2', data-i18n='starting-stats-choices', data-i18n-vars='-1|+1|=0|+1|+2') Charm{{0}}, Cool{{1}}, Sharp{{2}}, Tough{{3}}, Weird{{4}}
					option(value='2 0 -1 -1 2', data-i18n='starting-stats-choices', data-i18n-vars='+2|=0|-1|-1|+2') Charm{{0}}, Cool{{1}}, Sharp{{2}}, Tough{{3}}, Weird{{4}}
					option(value='0 -1 1 1 2', data-i18n='starting-stats-choices', data-i18n-vars='=0|-1|+1|+1|+2') Charm{{0}}, Cool{{1}}, Sharp{{2}}, Tough{{3}}, Weird{{4}}
					option(value='-1 -1 2 0 2', data-i18n='starting-stats-choices', data-i18n-vars='-1|-1|+2|=0|+2') Charm{{0}}, Cool{{1}}, Sharp{{2}}, Tough{{3}}, Weird{{4}}
			.sheet-Wronged
				select.sheet-StartingStats(name='attr_StartingStats')
					option(value='', checked='', data-i1n='', data-i18n='choose-starting-stats') Choose a set
					option(value='0 1 -1 2 1', data-i18n='starting-stats-choices', data-i18n-vars='=0|+1|-1|+2|+1') Charm{{0}}, Cool{{1}}, Sharp{{2}}, Tough{{3}}, Weird{{4}}
					option(value='0 0 1 2 0', data-i18n='starting-stats-choices', data-i18n-vars='=0|=0|+1|+2|=0') Charm{{0}}, Cool{{1}}, Sharp{{2}}, Tough{{3}}, Weird{{4}}
					option(value='1 0 1 2 -1', data-i18n='starting-stats-choices', data-i18n-vars='+1|=0|+1|+2|-1') Charm{{0}}, Cool{{1}}, Sharp{{2}}, Tough{{3}}, Weird{{4}}
					option(value='-1 -1 0 2 2', data-i18n='starting-stats-choices', data-i18n-vars='-1|-1|=0|+2|+2') Charm{{0}}, Cool{{1}}, Sharp{{2}}, Tough{{3}}, Weird{{4}}
					option(value='1 -1 0 2 1', data-i18n='starting-stats-choices', data-i18n-vars='+1|-1|=0|+2|+1') Charm{{0}}, Cool{{1}}, Sharp{{2}}, Tough{{3}}, Weird{{4}}
			.sheet-Gumshoe
				select.sheet-StartingStats(name='attr_StartingStats')
					option(value='', checked='', data-i1n='', data-i18n='choose-starting-stats') Choose a set
					option(value='2 0 1 0 0', data-i18n='starting-stats-choices', data-i18n-vars='+2|=0|+1|=0|=0') Charm{{0}}, Cool{{1}}, Sharp{{2}}, Tough{{3}}, Weird{{4}}
					option(value='2 0 1 1 -1', data-i18n='starting-stats-choices', data-i18n-vars='+2|=0|+1|+1|-1') Charm{{0}}, Cool{{1}}, Sharp{{2}}, Tough{{3}}, Weird{{4}}
					option(value='1 0 2 1 -1', data-i18n='starting-stats-choices', data-i18n-vars='+1|=0|+2|+1|-1') Charm{{0}}, Cool{{1}}, Sharp{{2}}, Tough{{3}}, Weird{{4}}
					option(value='1 -1 2 0 1', data-i18n='starting-stats-choices', data-i18n-vars='+1|-1|+2|=0|+1') Charm{{0}}, Cool{{1}}, Sharp{{2}}, Tough{{3}}, Weird{{4}}
					option(value='2 1 1 0 -1', data-i18n='starting-stats-choices', data-i18n-vars='+2|+1|+1|=0|-1') Charm{{0}}, Cool{{1}}, Sharp{{2}}, Tough{{3}}, Weird{{4}}
			.sheet-Hex
				select.sheet-StartingStats(name='attr_StartingStats')
					option(value='', checked='', data-i1n='', data-i18n='choose-starting-stats') Choose a set
					option(value='2 0 0 -1 2', data-i18n='starting-stats-choices', data-i18n-vars='+2|=0|=0|-1|+2') Charm{{0}}, Cool{{1}}, Sharp{{2}}, Tough{{3}}, Weird{{4}}
					option(value='1 -1 1 0 2', data-i18n='starting-stats-choices', data-i18n-vars='+1|-1|+1|=0|+2') Charm{{0}}, Cool{{1}}, Sharp{{2}}, Tough{{3}}, Weird{{4}}
					option(value='-1 1 0 1 2', data-i18n='starting-stats-choices', data-i18n-vars='-1|+1|=0|+1|+2') Charm{{0}}, Cool{{1}}, Sharp{{2}}, Tough{{3}}, Weird{{4}}
					option(value='-1 0 1 1 2', data-i18n='starting-stats-choices', data-i18n-vars='-1|=0|+1|+1|+2') Charm{{0}}, Cool{{1}}, Sharp{{2}}, Tough{{3}}, Weird{{4}}
					option(value='0 0 2 -1 2', data-i18n='starting-stats-choices', data-i18n-vars='=0|=0|+2|-1|+2') Charm{{0}}, Cool{{1}}, Sharp{{2}}, Tough{{3}}, Weird{{4}}
			.sheet-Pararomantic
				select.sheet-StartingStats(name='attr_StartingStats')
					option(value='', checked='', data-i1n='', data-i18n='choose-starting-stats') Choose a set
					option(value='2 1 0 -1 1', data-i18n='starting-stats-choices', data-i18n-vars='+2|+1|=0|-1|+1') Charm{{0}}, Cool{{1}}, Sharp{{2}}, Tough{{3}}, Weird{{4}}
					option(value='2 -1 1 1 0', data-i18n='starting-stats-choices', data-i18n-vars='+2|-1|+1|+1|=0') Charm{{0}}, Cool{{1}}, Sharp{{2}}, Tough{{3}}, Weird{{4}}
					option(value='2 2 0 0 -1', data-i18n='starting-stats-choices', data-i18n-vars='+2|+2|=0|=0|-1') Charm{{0}}, Cool{{1}}, Sharp{{2}}, Tough{{3}}, Weird{{4}}
					option(value='2 1 1 -1 0', data-i18n='starting-stats-choices', data-i18n-vars='+2|+1|+1|-1|=0') Charm{{0}}, Cool{{1}}, Sharp{{2}}, Tough{{3}}, Weird{{4}}
					option(value='2 0 2 -1 0', data-i18n='starting-stats-choices', data-i18n-vars='+2|=0|+2|-1|=0') Charm{{0}}, Cool{{1}}, Sharp{{2}}, Tough{{3}}, Weird{{4}}
			.sheet-Searcher
				select.sheet-StartingStats(name='attr_StartingStats')
					option(value='', checked='', data-i1n='', data-i18n='choose-starting-stats') Choose a set
					option(value='0 1 1 -1 2', data-i18n='starting-stats-choices', data-i18n-vars='=0|+1|+1|-1|+2') Charm{{0}}, Cool{{1}}, Sharp{{2}}, Tough{{3}}, Weird{{4}}
					option(value='1 -1 1 0 2', data-i18n='starting-stats-choices', data-i18n-vars='+1|-1|+1|=0|+2') Charm{{0}}, Cool{{1}}, Sharp{{2}}, Tough{{3}}, Weird{{4}}
					option(value='0 -1 2 0 2', data-i18n='starting-stats-choices', data-i18n-vars='=0|-1|+2|=0|+2') Charm{{0}}, Cool{{1}}, Sharp{{2}}, Tough{{3}}, Weird{{4}}
					option(value='0 1 2 -1 1', data-i18n='starting-stats-choices', data-i18n-vars='=0|+1|+2|-1|+1') Charm{{0}}, Cool{{1}}, Sharp{{2}}, Tough{{3}}, Weird{{4}}
					option(value='1 0 2 -1 1', data-i18n='starting-stats-choices', data-i18n-vars='+1|=0|+2|-1|+1') Charm{{0}}, Cool{{1}}, Sharp{{2}}, Tough{{3}}, Weird{{4}}
			.sheet-Exile
				select.sheet-StartingStats(name='attr_StartingStats')
					option(value='', checked='', data-i1n='', data-i18n='choose-starting-stats') Choose a set
					option(value='-1 2 1 2 0', data-i18n='starting-stats-choices', data-i18n-vars='-1|+2|+1|+2|=0') Charm{{0}}, Cool{{1}}, Sharp{{2}}, Tough{{3}}, Weird{{4}}
					option(value='-1 2 2 1 0', data-i18n='starting-stats-choices', data-i18n-vars='-1|+2|+2|+1|=0') Charm{{0}}, Cool{{1}}, Sharp{{2}}, Tough{{3}}, Weird{{4}}
					option(value='1 0 1 3 -1', data-i18n='starting-stats-choices', data-i18n-vars='+1|=0|+1|+3|-1') Charm{{0}}, Cool{{1}}, Sharp{{2}}, Tough{{3}}, Weird{{4}}
					option(value='-1 2 0 1 2', data-i18n='starting-stats-choices', data-i18n-vars='-1|+2|=0|+1|+2') Charm{{0}}, Cool{{1}}, Sharp{{2}}, Tough{{3}}, Weird{{4}}
					option(value='2 -1 -1 1 2', data-i18n='starting-stats-choices', data-i18n-vars='+2|-1|-1|+1|+2') Charm{{0}}, Cool{{1}}, Sharp{{2}}, Tough{{3}}, Weird{{4}}
			.sheet-Hardcase
				select.sheet-StartingStats(name='attr_StartingStats')
					option(value='', checked='', data-i1n='', data-i18n='choose-starting-stats') Choose a set
					option(value='-1 1 1 2 0', data-i18n='starting-stats-choices', data-i18n-vars='-1|+1|+1|+2|=0') Charm{{0}}, Cool{{1}}, Sharp{{2}}, Tough{{3}}, Weird{{4}}
					option(value='1 1 0 2 -1', data-i18n='starting-stats-choices', data-i18n-vars='+1|+1|=0|+2|-1') Charm{{0}}, Cool{{1}}, Sharp{{2}}, Tough{{3}}, Weird{{4}}
					option(value='0 2 -1 2 -1', data-i18n='starting-stats-choices', data-i18n-vars='=0|+2|-1|+2|-1') Charm{{0}}, Cool{{1}}, Sharp{{2}}, Tough{{3}}, Weird{{4}}
					option(value='1 0 1 2 -1', data-i18n='starting-stats-choices', data-i18n-vars='+1|=0|+1|+2|-1') Charm{{0}}, Cool{{1}}, Sharp{{2}}, Tough{{3}}, Weird{{4}}
					option(value='-1 1 0 2 1', data-i18n='starting-stats-choices', data-i18n-vars='-1|+1|=0|+2|+1') Charm{{0}}, Cool{{1}}, Sharp{{2}}, Tough{{3}}, Weird{{4}}
			.sheet-Hardcase2020
				select.sheet-StartingStats(name='attr_StartingStats')
					option(value='', checked='', data-i1n='', data-i18n='choose-starting-stats') Choose a set
					option(value='-1 1 1 2 0', data-i18n='starting-stats-choices', data-i18n-vars='-1|+1|+1|+2|=0') Charm{{0}}, Cool{{1}}, Sharp{{2}}, Tough{{3}}, Weird{{4}}
					option(value='1 1 0 2 -1', data-i18n='starting-stats-choices', data-i18n-vars='+1|+1|=0|+2|-1') Charm{{0}}, Cool{{1}}, Sharp{{2}}, Tough{{3}}, Weird{{4}}
					option(value='0 2 -1 2 -1', data-i18n='starting-stats-choices', data-i18n-vars='=0|+2|-1|+2|-1') Charm{{0}}, Cool{{1}}, Sharp{{2}}, Tough{{3}}, Weird{{4}}
					option(value='1 0 1 2 -1', data-i18n='starting-stats-choices', data-i18n-vars='+1|=0|+1|+2|-1') Charm{{0}}, Cool{{1}}, Sharp{{2}}, Tough{{3}}, Weird{{4}}
					option(value='-1 1 0 2 1', data-i18n='starting-stats-choices', data-i18n-vars='-1|+1|=0|+2|+1') Charm{{0}}, Cool{{1}}, Sharp{{2}}, Tough{{3}}, Weird{{4}}
			.sheet-Luchador
				select.sheet-StartingStats(name='attr_StartingStats')
					option(value='', checked='', data-i1n='', data-i18n='choose-starting-stats') Choose a set
					option(value='1 1 -1 2 0', data-i18n='starting-stats-choices', data-i18n-vars='+1|+1|-1|+2|=0') Charm{{0}}, Cool{{1}}, Sharp{{2}}, Tough{{3}}, Weird{{4}}
					option(value='2 1 -1 1 0', data-i18n='starting-stats-choices', data-i18n-vars='+2|+1|-1|+1|=0') Charm{{0}}, Cool{{1}}, Sharp{{2}}, Tough{{3}}, Weird{{4}}
					option(value='2 0 -1 2 -1', data-i18n='starting-stats-choices', data-i18n-vars='+2|=0|-1|+2|-1') Charm{{0}}, Cool{{1}}, Sharp{{2}}, Tough{{3}}, Weird{{4}}
					option(value='0 0 0 2 1', data-i18n='starting-stats-choices', data-i18n-vars='=0|=0|=0|+2|+1') Charm{{0}}, Cool{{1}}, Sharp{{2}}, Tough{{3}}, Weird{{4}}
					option(value='1 1 1 1 -1', data-i18n='starting-stats-choices', data-i18n-vars='+1|+1|+1|+1|-1') Charm{{0}}, Cool{{1}}, Sharp{{2}}, Tough{{3}}, Weird{{4}}
			.sheet-Meddlingkid
				select.sheet-StartingStats(name='attr_StartingStats')
					option(value='', checked='', data-i1n='', data-i18n='choose-starting-stats') Choose a set
					option(value='2 0 2 -1 -1', data-i18n='starting-stats-choices', data-i18n-vars='+2|=0|+2|-1|-1') Charm{{0}}, Cool{{1}}, Sharp{{2}}, Tough{{3}}, Weird{{4}}
					option(value='2 0 1 1 -1', data-i18n='starting-stats-choices', data-i18n-vars='+2|=0|+1|+1|-1') Charm{{0}}, Cool{{1}}, Sharp{{2}}, Tough{{3}}, Weird{{4}}
					option(value='2 -1 0 -1 2', data-i18n='starting-stats-choices', data-i18n-vars='+2|-1|=0|-1|+2') Charm{{0}}, Cool{{1}}, Sharp{{2}}, Tough{{3}}, Weird{{4}}
					option(value='2 1 0 1 -1', data-i18n='starting-stats-choices', data-i18n-vars='+2|+1|=0|+1|-1') Charm{{0}}, Cool{{1}}, Sharp{{2}}, Tough{{3}}, Weird{{4}}
					option(value='2 0 1 -1 1', data-i18n='starting-stats-choices', data-i18n-vars='+2|=0|+1|-1|+1') Charm{{0}}, Cool{{1}}, Sharp{{2}}, Tough{{3}}, Weird{{4}}
			.sheet-Sidekick
				select.sheet-StartingStats(name='attr_StartingStats')
					option(value='', checked='', data-i1n='', data-i18n='choose-starting-stats') Choose a set
					option(value='1 1 0 -1 1', data-i18n='starting-stats-choices', data-i18n-vars='+1|+1|=0|-1|+1') Charm{{0}}, Cool{{1}}, Sharp{{2}}, Tough{{3}}, Weird{{4}}
					option(value='1 1 1 -1 0', data-i18n='starting-stats-choices', data-i18n-vars='+1|+1|+1|-1|=0') Charm{{0}}, Cool{{1}}, Sharp{{2}}, Tough{{3}}, Weird{{4}}
					option(value='1 0 1 -1 1', data-i18n='starting-stats-choices', data-i18n-vars='+1|=0|+1|-1|+1') Charm{{0}}, Cool{{1}}, Sharp{{2}}, Tough{{3}}, Weird{{4}}
					option(value='0 1 1 -1 1', data-i18n='starting-stats-choices', data-i18n-vars='=0|+1|+1|-1|+1') Charm{{0}}, Cool{{1}}, Sharp{{2}}, Tough{{3}}, Weird{{4}}
					option(value='1 0 1 -1 1', data-i18n='starting-stats-choices', data-i18n-vars='+1|=0|+1|-1|+1') Charm{{0}}, Cool{{1}}, Sharp{{2}}, Tough{{3}}, Weird{{4}}
				div(data-i18n='sidekick-reminder')
			.sheet-Snoop
				select.sheet-StartingStats(name='attr_StartingStats')
					option(value='', checked='', data-i1n='', data-i18n='choose-starting-stats') Choose a set
					option(value='2 -1 1 0 1', data-i18n='starting-stats-choices', data-i18n-vars='+2|-1|+1|=0|+1') Charm{{0}}, Cool{{1}}, Sharp{{2}}, Tough{{3}}, Weird{{4}}
					option(value='2 0 1 -1 1', data-i18n='starting-stats-choices', data-i18n-vars='+2|=0|+1|-1|+1') Charm{{0}}, Cool{{1}}, Sharp{{2}}, Tough{{3}}, Weird{{4}}
					option(value='2 1 1 0 -1', data-i18n='starting-stats-choices', data-i18n-vars='+2|+1|+1|=0|-1') Charm{{0}}, Cool{{1}}, Sharp{{2}}, Tough{{3}}, Weird{{4}}
					option(value='2 -1 2 -1 0', data-i18n='starting-stats-choices', data-i18n-vars='+2|-1|+2|-1|=0') Charm{{0}}, Cool{{1}}, Sharp{{2}}, Tough{{3}}, Weird{{4}}
					option(value='2 1 0 -1 1', data-i18n='starting-stats-choices', data-i18n-vars='+2|+1|=0|-1|+1') Charm{{0}}, Cool{{1}}, Sharp{{2}}, Tough{{3}}, Weird{{4}}
			.sheet-Summoned
				select.sheet-StartingStats(name='attr_StartingStats')
					option(value='', checked='', data-i1n='', data-i18n='choose-starting-stats') Choose a set
					option(value='-1 2 0 2 -1', data-i18n='starting-stats-choices', data-i18n-vars='-1|+2|=0|+2|-1') Charm{{0}}, Cool{{1}}, Sharp{{2}}, Tough{{3}}, Weird{{4}}
					option(value='-1 -1 2 2 0', data-i18n='starting-stats-choices', data-i18n-vars='-1|-1|+2|+2|=0') Charm{{0}}, Cool{{1}}, Sharp{{2}}, Tough{{3}}, Weird{{4}}
					option(value='-1 0 -1 2 2', data-i18n='starting-stats-choices', data-i18n-vars='-1|=0|-1|+2|+2') Charm{{0}}, Cool{{1}}, Sharp{{2}}, Tough{{3}}, Weird{{4}}
					option(value='0 1 1 2 -1', data-i18n='starting-stats-choices', data-i18n-vars='=0|+1|+1|+2|-1') Charm{{0}}, Cool{{1}}, Sharp{{2}}, Tough{{3}}, Weird{{4}}
					option(value='0 1 -1 2 1', data-i18n='starting-stats-choices', data-i18n-vars='=0|+1|-1|+2|+1') Charm{{0}}, Cool{{1}}, Sharp{{2}}, Tough{{3}}, Weird{{4}}
			.sheet-Traveler
				select.sheet-StartingStats(name='attr_StartingStats')
					option(value='', checked='', data-i1n='', data-i18n='choose-starting-stats') Choose a set
					option(value='1 1 2 -1 0', data-i18n='starting-stats-choices', data-i18n-vars='+1|+1|+2|-1|=0') Charm{{0}}, Cool{{1}}, Sharp{{2}}, Tough{{3}}, Weird{{4}}
					option(value='2 -1 2 -1 0', data-i18n='starting-stats-choices', data-i18n-vars='+2|-1|+2|-1|=0') Charm{{0}}, Cool{{1}}, Sharp{{2}}, Tough{{3}}, Weird{{4}}
					option(value='-1 2 2 -1 0', data-i18n='starting-stats-choices', data-i18n-vars='-1|+2|+2|-1|=0') Charm{{0}}, Cool{{1}}, Sharp{{2}}, Tough{{3}}, Weird{{4}}
					option(value='0 2 1 0 0', data-i18n='starting-stats-choices', data-i18n-vars='=0|+2|+1|=0|=0') Charm{{0}}, Cool{{1}}, Sharp{{2}}, Tough{{3}}, Weird{{4}}
					option(value='-1 2 -1 2 0', data-i18n='starting-stats-choices', data-i18n-vars='-1|+2|-1|+2|=0') Charm{{0}}, Cool{{1}}, Sharp{{2}}, Tough{{3}}, Weird{{4}}
			.sheet-Actionscientist
				select.sheet-StartingStats(name='attr_StartingStats')
					option(value='', checked='', data-i1n='', data-i18n='choose-starting-stats') Choose a set
					option(value='-1 1 2 1 0', data-i18n='starting-stats-choices', data-i18n-vars='-1|+1|+2|+1|=0') Charm{{0}}, Cool{{1}}, Sharp{{2}}, Tough{{3}}, Weird{{4}}
					option(value='2 -1 2 0 -1', data-i18n='starting-stats-choices', data-i18n-vars='+2|-1|+2|=0|-1') Charm{{0}}, Cool{{1}}, Sharp{{2}}, Tough{{3}}, Weird{{4}}
					option(value='-1 0 2 -1 2', data-i18n='starting-stats-choices', data-i18n-vars='-1|=0|+2|-1|+2') Charm{{0}}, Cool{{1}}, Sharp{{2}}, Tough{{3}}, Weird{{4}}
					option(value='0 1 2 -1 1', data-i18n='starting-stats-choices', data-i18n-vars='=0|+1|+2|-1|+1') Charm{{0}}, Cool{{1}}, Sharp{{2}}, Tough{{3}}, Weird{{4}}
					option(value='0 1 2 1 -1', data-i18n='starting-stats-choices', data-i18n-vars='=0|+1|+2|+1|-1') Charm{{0}}, Cool{{1}}, Sharp{{2}}, Tough{{3}}, Weird{{4}}
			.sheet-Spooktacular
				select.sheet-StartingStats(name='attr_StartingStats')
					option(value='', checked='', data-i1n='', data-i18n='choose-starting-stats') Choose a set
					option(value='2 -1 1 0 1', data-i18n='starting-stats-choices', data-i18n-vars='+2|-1|+1|=0|+1') Charm{{0}}, Cool{{1}}, Sharp{{2}}, Tough{{3}}, Weird{{4}}
					option(value='2 1 0 -1 1', data-i18n='starting-stats-choices', data-i18n-vars='+2|+1|=0|-1|+1') Charm{{0}}, Cool{{1}}, Sharp{{2}}, Tough{{3}}, Weird{{4}}
					option(value='2 0 -1 -1 2', data-i18n='starting-stats-choices', data-i18n-vars='+2|=0|-1|-1|+2') Charm{{0}}, Cool{{1}}, Sharp{{2}}, Tough{{3}}, Weird{{4}}
					option(value='1 0 -1 1 2', data-i18n='starting-stats-choices', data-i18n-vars='+1|=0|-1|+1|+2') Charm{{0}}, Cool{{1}}, Sharp{{2}}, Tough{{3}}, Weird{{4}}
					option(value='1 1 0 -1 2', data-i18n='starting-stats-choices', data-i18n-vars='+1|+1|0|-1|+2') Charm{{0}}, Cool{{1}}, Sharp{{2}}, Tough{{3}}, Weird{{4}}
			.sheet-Constructed
				select.sheet-StartingStats(name='attr_StartingStats')
					option(value='', checked='', data-i1n='', data-i18n='choose-starting-stats') Choose a set
					option(value='-1 2 -1 2 0', data-i18n='starting-stats-choices', data-i18n-vars='-1|+2|-1|+2|=0') Charm{{0}}, Cool{{1}}, Sharp{{2}}, Tough{{3}}, Weird{{4}}
					option(value='0 1 -1 2 1', data-i18n='starting-stats-choices', data-i18n-vars='=0|+1|-1|+2|+1') Charm{{0}}, Cool{{1}}, Sharp{{2}}, Tough{{3}}, Weird{{4}}
					option(value='-1 2 0 2 -1', data-i18n='starting-stats-choices', data-i18n-vars='-1|+2|=0|+2|-1') Charm{{0}}, Cool{{1}}, Sharp{{2}}, Tough{{3}}, Weird{{4}}
					option(value='-1 -1 0 2 2', data-i18n='starting-stats-choices', data-i18n-vars='-1|-1|=0|+2|+2') Charm{{0}}, Cool{{1}}, Sharp{{2}}, Tough{{3}}, Weird{{4}}
					option(value='-1 1 1 2 0', data-i18n='starting-stats-choices', data-i18n-vars='-1|+1|+1|+2|=0') Charm{{0}}, Cool{{1}}, Sharp{{2}}, Tough{{3}}, Weird{{4}}
	// End Starting Stats Sidebar Section
// end of sheet-Stats
