.sheet-PassingTheTorch
	input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-Assets-Unused', value='1', checked='')
	+asset('PassingTheTorch-Asset','<b>Mobile Base:</b> A truck or bus with bunks and mystery investigation supplies on board.',2)
	+asset('PassingTheTorch-Asset','<b>Individual Transport:</b> A regular car, motorbike, or bicycle for every team member.',1)
	+asset('PassingTheTorch-Asset','<b>Team Life Alert:</b> Technological or magical devices making all hunters aware when one of them becomes unstable.',1)
	+asset('PassingTheTorch-Asset','<b>Headquarters:</b> A relatively secure space to use as a base. There’s room for all your monster hunting gear and books, maybe even space to sleep and a kitchen.',2)
	+asset('PassingTheTorch-Asset','<b>Mystical Workroom:</b> A space set aside for magical operations. It can stand in for one requirement of a use magic or big magic move.',2)
	+asset('PassingTheTorch-Asset','<b>Workshop:</b> A big space for craft and repair projects, with plenty of tools and materials.',1)
	+asset('PassingTheTorch-Asset','<b>Memoirs and Memorabilia:</b> From earlier generations of hunters. When browsing them, add “How does it resemble my predecessors’ experiences?” to the list of investigate a mystery questions.',1)
	+asset('PassingTheTorch-Asset','<b>Training Facilities:</b> Includes rooms dedicated to all hunters’ specialities.',1)
	+asset('PassingTheTorch-Asset','<b>Armoury of Old Hunting Gear:</b> Allows each hunter to start each mystery with one extra weapon from one of the experienced hunters’ playbooks.',1)
	+asset('PassingTheTorch-Asset','<b>Custom:</b>',1)
		div
			textarea(rows='2' name='attr_PassingTheTorch-Asset-Custom')

