.sheet-DoomedWorld
	input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-Assets-Unused', value='1', checked='')
	+asset('DoomedWorld-Asset','<b>Mobile Base:</b> A truck or bus with bunks and mystery investigation supplies on board.',2)
	+asset('DoomedWorld-Asset','<b>Individual Transport:</b> A regular car, motorbike, or bicycle for every team member.',1)
	+asset('DoomedWorld-Asset','<b>Tidbits of the Future:</b> Future-gen technological equipment, newspapers from five years into the future from now, photos of now-children as adults (only when your doomed world was this world’s future).',1)
	+asset('DoomedWorld-Asset','<b>Headquarters:</b> A relatively secure space to use as a base. There’s room for all your monster hunting gear and books, maybe even space to sleep and a kitchen.',2)
	+asset('DoomedWorld-Asset','<b>Dimensional Jammer:</b> When deployed, it stops teleportation, time travel, and dimension shifts in a 50-foot radius. You’ll need a generator or an industrial electricity connection to power it.',2)
	+asset('DoomedWorld-Asset','<b>Workshop:</b> A big space for craft and repair projects, with plenty of tools and materials.',1)
	+asset('DoomedWorld-Asset','<b>Convenient Identities:</b> You either have false identities that allow you to freely operate in this world, or discovered that you somehow are a part of this world and your place here gives you some stability.',1)
	+asset('DoomedWorld-Asset','<b>Treasure Map:</b> Leads to a dangerous place that contains assets or lore helpful in stopping the apocalypse.',1)
	+asset('DoomedWorld-Asset','<b>Prepper Supplies:</b> Food, clothes, medicine, and weapons that should help endure the apocalypse.',1)
	+asset('DoomedWorld-Asset','<b>Custom:</b>',1)
		div
			textarea(rows='2' name='attr_DoomedWorld-Asset-Custom')

