+otherTeamPlaybooksHeader('Medical Team')
.sheet-MedicalTeam.sheet-OPB
	input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-Team-Moves-Unused', value='1', checked='')
	+move("MedicalTeam-Move","<b>Medical Professional:</b> When a team member <i>heals someone else’s harm</i>, they stabilise them and heal an additional harm. Includes regular first aid and treatment (see <i>MOTW</i> hardcover, page 123).",true)
	+move("MedicalTeam-Move","<b>House Diagnostics:</b> When the team <i>diagnoses a patient</i>, one hunter rolls +Sharp with +1 forward. On a 10+, hold 2. On a 7–9, hold 1. Any team member may spend that hold to ask one of the following questions: <ul><li>“What’s the deeper cause here?”<li>“What’s the most dangerous symptom?”<li>“Is there anything unnatural about this?”<li>“Was this ailment or injury accidental or deliberate?”</ul>",true)
	+move("MedicalTeam-Move","<b>Code Blue!:</b> In a heated moment, you react to each other quickly. All hunters get +1 forward to <b>help out</b> team members in a crisis.",true)
	+move("MedicalTeam-Move","<b>I’m Not a Miracle Worker:</b> Each hunter, when they <i>witness an innocent’s death</i>, takes +1 ongoing to save others for the rest of the mystery. This doesn’t stack—you still have +1 if you let more people die.",true)
	+move("MedicalTeam-Move","<b>Bedside Manner:</b> When a team member <i>delivers bad news</i>, on a successful <b>manipulate someone</b>, also ask one question from <b>investigate a mystery</b>.",true)
	+move("MedicalTeam-Move","<b>Something Different:</b> Take a move from another team playbook.",true)
	+move("MedicalTeam-Move","<b>Change Team Style:</b> Pick a new team style. You now use that one instead of the one you first chose.",true)