+otherTeamPlaybooksHeader('Agents in Black')
.sheet-Agents.sheet-OPB
	input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-Team-Moves-Unused', value='1', checked='')
	+move('Agents-Team-Move','<b>Memory Eraser:</b> You have been issued handheld devices to erase memories from civilians. When you target a person and activate the device, say how many hours you want to erase (1–6) and roll +Weird. On a 10+, those memories are gone. On a 7–9, the memories are gone but the target knows something strange happened.','share')
	+move('Agents-Team-Move','<b>Authority Override:</b> If local officials are causing trouble, you can get them pulled off the case. This may—of course—make them more suspicious.','share')
	+move('Agents-Team-Move','<b>Containment Field Projector:</b> Place the projector and activate it, choosing a range from 1–20 meters. A spherical shield is created, allowing nothing in or out. Lasts until deactivated by remote or in an hour when the battery runs out. There’s time to get out of the zone, but only just.','share')
	+move('Agents-Team-Move','<b>Anonymity:</b> Your identity isn’t traceable via official databases or records. Enemies or bystanders can’t find out anything about your history through any official channels. Additionally, any distinguishing features are removed from photos, videos, or voice recordings of you when they’re processed by any regular computer or phone.','share')
	+move('Agents-Team-Move','<b>Not Right:</b> You all have a creepy, uncanny-valley-style aura or look that counts as a reason for manipulating a bystander with threats.','share')
	+move('Agents-Team-Move','<b>Something Different:</b> Take a move from another team playbook.','share')
	+move('Agents-Team-Move','<b>Change Team Style:</b> Pick a new team style. You now use that one instead of the one you first chose.','share')
