.sheet-ArtifactCollectors
	input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-Enemies-Unused', value='1', checked='')
	+move("ArtifactCollectors-Enemy","A famous museum, always acquiring new artifacts and never asking questions.")
	+move("ArtifactCollectors-Enemy","Turner Jamison, a power-hungry, rich, and eccentric collector.")
	+move("ArtifactCollectors-Enemy","Jyika, a covetous naga trapped by their own obsession.")
	+move("ArtifactCollectors-Enemy","Zeus, who regards these items as the domain of the Olympians.")
	+move("ArtifactCollectors-Enemy","A gang of criminals, who care only about profit and sell powered items to the highest bidder.")
	+move('ArtifactCollectors-Enemy','Something else:')
		div
			textarea(rows='2' name='attr_ArtifactCollectors-Enemies-Custom')

