+otherTeamPlaybooksHeader('Mundane Monstrosities')
.sheet-MundaneMonstrosities.sheet-OPB
	input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-Team-Moves-Unused', value='1', checked='')
	+move("MundaneMonstrosities-Move","<b>Too Normal to Be Weird:</b> You grew up around magic. For you it’s no big deal, and you don’t act furtively. Most people react to your confidence by overlooking or failing to notice supernatural features and powers.",true)
	+move("MundaneMonstrosities-Move","<b>Casual Magic:</b> You can perform small supernatural feats. This goes beyond simple roleplay flourishes by allowing you to use powers to fill in for a piece of utility gear (like a lockpick or flashlight) or as part of another move in crisis situation (such as <b>acting under pressure</b> to get a door open quickly). Mundane observers might notice you aren’t normal.",true)
	+move("MundaneMonstrosities-Move","<b>Authentic Witchiness:</b> You may not know what you’re doing with magic, but others can’t see your inexperience. When a team member <b>uses magic</b> to give an impression of power, they take +1 forward interacting with that person.",true)
	+move("MundaneMonstrosities-Move","<b>Curse Remedies:</b> You learned many protective measures. When you <b>investigate a mystery</b>, add the following questions to the list you can ask: “How do we cure this curse?” and “How do we protect someone from this curse?”",true)
	+move("MundaneMonstrosities-Move","<b>Just Folks:</b> Once per session, when two or more of you take the time to befriend a bystander, they become an ally until the end of the mystery.",true)
	+move("MundaneMonstrosities-Move","<b>Something Different:</b> Take a move from another team playbook.",true)
	+move("MundaneMonstrosities-Move","<b>Change Team Style:</b> Pick a new team style. You now use that one instead of the one you first chose.",true)