+otherTeamPlaybooksHeader('Storied Hunter Lineage')
.sheet-Lineage.sheet-OPB
	input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-Team-Moves-Unused', value='1', checked='')
	+move('Lineage-Move','<b>Journal Archive:</b> The family archives store the notes and discoveries of many hunters. Decide if your archives are broad or specialised. Each hunter on the team gains an extra hold on their first <b>investigate</b> move each mystery—as long as the archives apply. A specialised archive applies in cases when the family has encountered this individual monster or phenomenon before, and a broad archive applies when the family has encountered the type of monster or phenomenon.','share')
	+move('Lineage-Move','<b>Thicker than Water:</b> There’s a <b>big magic</b> ritual known to your lineage that any hunter may use. It takes a minute or so to cast, and the caster suffers 4-harm that may not be mitigated in any way. Every other member of the team instantly heals 3-harm (and becomes stable if they were not).','share')
	+move('Lineage-Move','<b>A Kind of Fame:</b> Your family’s reputation has got around beyond the monster hunter community. When you meet a bystander who has an interest in or connection to the weird side of the world, or had previous encounters with monsters and monster hunters, there’s a good chance they’ll know of your family. They’re likely to trust you.','share')
	+move('Lineage-Move','<b>Monster Punchers:</b> Each team member gains one extra harm box (prior to unstable.)','share')
	+move('Lineage-Move','<b>Those Hard Conversations:</b> When two team members have a private conversation about a difficult issue and one or both open up emotionally, both hunters may clear 1-harm and take +1 forward. If one shuts the conversation down, both hunters just take +1 forward.','share')
	+move('Lineage-Move','<b>Something Different:</b> Take a move from another team playbook.','share')
	+move('Lineage-Move','<b>Change Team Style:</b> Pick a new team style. You now use that one instead of the one you first chose.','share')

