input.sheet-SkinCheck(type='hidden', name='attr_SkinCheck', value='0')
.sheet-space-above.sheet-NoKeep.sheet-Teams
	span.sheet-Label(data-i18n='Team Playbook') Team Playbook
	div
		select.sheet-TeamSelect(name='attr_TeamName')
			option.sheet-TeamSelect(value='0', data-i18n='team-playbook-choice') Choose a Team Playbook
			option.sheet-TeamSelect(value='') ------------------
			option.sheet-TeamSelect(value='1', data-i18n='Agents in Black') Agents in Black
			option.sheet-TeamSelect(value='2', data-i18n='Always on the Road') Always on the Road
			option.sheet-TeamSelect(value='3', data-i18n='The Chosen One and Entourage') The Chosen One and Entourage
			option.sheet-TeamSelect(value='4', data-i18n='Guardians of the Borderland') Guardians of the Borderland
			option.sheet-TeamSelect(value='5', data-i18n='IMPS (International Monster and Paranormal Service)') IMPS (International Monster and Paranormal Service)
			option.sheet-TeamSelect(value='6', data-i18n='Interdimensional Crisis Team') Interdimensional Crisis Team
			option.sheet-TeamSelect(value='7', data-i18n='The Last Survivors') The Last Survivors
			option.sheet-TeamSelect(value='8', data-i18n='League of Double Lives') League of Double Lives
			option.sheet-TeamSelect(value='9', data-i18n='Mercenaries') Mercenaries
			option.sheet-TeamSelect(value='10', data-i18n='Mystery Club') Mystery Club
			option.sheet-TeamSelect(value='11', data-i18n='The Night Shift') The Night Shift
			option.sheet-TeamSelect(value='12', data-i18n='Suburban Watch Group') Suburban Watch Group
			option.sheet-TeamSelect(value='13', data-i18n='Touring Band') Touring Band
			option.sheet-TeamSelect(value='14', data-i18n='Whistleblowers') Whistleblowers
			option.sheet-TeamSelect(value='15', data-i18n='Wild Hunt Fugitives') Wild Hunt Fugitives
			option.sheet-TeamSelect(value='') ------------------
			option.sheet-TeamSelect(value='17', data-i18n='Army Of One') Army Of One
			option.sheet-TeamSelect(value='18', data-i18n='Back to Square One') Back to Square One
			option.sheet-TeamSelect(value='19', data-i18n='Doomed World Exiles') Doomed World Exiles
			option.sheet-TeamSelect(value='20', data-i18n='Monster Revelations') Monster Revelations
			option.sheet-TeamSelect(value='21', data-i18n='Storied Hunter Lineage') Storied Hunter Lineage
			option.sheet-TeamSelect(value='22', data-i18n='Thrill-Seekers') Thrill-Seekers
			option.sheet-TeamSelect(value='') ------------------
			option.sheet-TeamSelect(value='16', data-i18n='Hauntbusters') Hauntbusters
