+otherTeamPlaybooksHeader('IMPS (International Monster and Paranormal Service)')
.sheet-IMPS.sheet-OPB
	input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-Team-Moves-Unused', value='1', checked='')
	+move('IMPS-Move','<b>Drilled Coordination:</b> All team members get +1 ongoing when helping out another team member.','share')
	+move('IMPS-Move','<b>Comms:</b> You have systems that keep you constantly in voice contact, regardless of where in the world you each may be. Not guaranteed to work in shielded spaces, deep underground, beyond magical portals, or on other worlds.','share')
	+move('IMPS-Move','<b>Recognised IMPS Team:</b> Wherever you are in the world, you have authority to deal with supernatural events. Local officials will—in general—cooperate with you fully. Does not apply in nations outside the IMPS treaty.','share')
	+move('IMPS-Move','<b>Rapid Deployment:</b> IMPS has quick-response vehicles able to deliver you (or other IMPS assets) anywhere in the world, extremely quickly. They may also be used to make a fast exit from bad situations.','share')
	+move('IMPS-Move','<b>Memories of the Fallen:</b> When a hunter on the team dies in the line of duty, or retires from IMPS and monster hunting, all remaining team members erase a used Luck mark.','share')
	+move('IMPS-Move','<b>Something Different:</b> Take a move from another team playbook.','share')
	+move('IMPS-Move','<b>Change Team Style:</b> Pick a new team style. You now use that one instead of the one you first chose.','share')