.sheet-Band
	input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-Enemies-Unused', value='1', checked='')
	+move('Band-Enemy','Alpha, an immortal werewolf.')
	+move('Band-Enemy','White Travellers, ghosts that feed on natural, joyous emotions of people and leave people content with a humdrum life.')
	+move('Band-Enemy','Ancient Purity, an occultist/fascist death metal band. They would be your enemies even without their abuse of mystical powers.')
	+move('Band-Enemy','The Man, a new god of authority, order, and following the rules.')
	+move('Band-Enemy','The Sanguine Circle, a conspiracy of vampires with cells in many cities and towns.')
	+move('Band-Enemy','Something else:')
		div
			textarea(rows='2' name='attr_Band-Enemies-Custom')

