.sheet-CustomTeam
	input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-Enemies-Unused', value='1', checked='')
	+custommoves("TeamEnemies",false,false)
	+move('CustomTeam-Enemy','Something else:')
		div
			textarea(rows='2' name='attr_CustomTeam-Enemies-Custom')
