.sheet-SquareOne
	input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-Allies-Unused', value='1', checked='')
	+move('SquareOne-Allies','Simone, a psychiatrist. They specialise in dealing with trauma and loss.')
	+move('SquareOne-Allies','Avery, a stunt designer. They can recreate almost anything we were able to do previously, but it’s just smoke and mirrors.')
	+move('SquareOne-Allies','Mother of Heroes, a witch’s ghost. She has been leading people to achieve great deeds throughout the centuries.')
	+move('SquareOne-Allies','Your sidekicks, an ally team. They’re willing to help you with almost anything, but are also looking up to you and hoping you’ll protect them when they’re in over their heads.')
	+move('SquareOne-Allies','Other hunters who’ve lost their power, an ally team. They’ve given up their monster hunting and try to live quiet lives, but can be priceless sources of information.')
	+move('SquareOne-Allies','Someone else:')
		div
			textarea(rows='2' name='attr_SquareOne-Allies-Custom')
