.sheet-IMPS
	input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-Enemies-Unused', value='1', checked='')
	+move('IMPS-Enemy','Apollyon, a demon king who wants to rule the Earth.')
	+move('IMPS-Enemy','Incursions of HEDEs (Hostile Extra-Dimensional Entities).')
	+move('IMPS-Enemy','Masanori, a selfish tycoon chasing personal immortality.')
	+move('IMPS-Enemy','A rival IMPS team, who always want to make it look like they saved the day and you screwed up.')
	+move('IMPS-Enemy','A chaos cult who want to break down the structures of the modern world, so they can rule it with their magical powers.')
	+move('IMPS-Enemy','Something else:')
		div
			textarea(rows='2' name='attr_IMPS-Enemies-Custom')

