+otherTeamPlaybooksHeader('Radio Station')
.sheet-RadioStation.sheet-OPB
	input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-Team-Moves-Unused', value='1', checked='')
	+move("RadioStation-Move","<b>I’ll Get You through This:</b> People often call you for help. When a team member <i>guides a caller through a crisis on air,</i> they can <b>protect someone</b> by rolling +Cool instead of +Tough and without having to be present.",true)
	+move("RadioStation-Move","<b>Don’t Touch that Dial:</b> When a team member tries to <i>guide a community with a public broadcast</i>, roll +Charm. <ul><li>On a 10+, most of the audience acts in accordance with your safety instructions.<li>On a 7–9, everyone follows your safety instructions, except for one person or group.<li>On a miss, the Keeper chooses two for the audience:<ul><li>Some make horrible mistakes.<li>Some suffer terrible harm.<li>Some turn against you.</ul></ul>",true)
	+move("RadioStation-Move","<b>Our Next Caller:</b> When a team member <i>hosts a call-in show</i>, they may <b>investigate a mystery</b> by talking to callers.",true)
	+move("RadioStation-Move","<b>A Word from Our Sponsors:</b> When a team member <i>stalls for time</i>, they automatically stop anyone (or anything) who can understand them for several seconds. After that, the listener may return to whatever they were doing.",true)
	+move("RadioStation-Move","<b>Live from the Dog Park:</b> The hunters have +1 ongoing to <b>act under pressure</b> when you <i>broadcast from the middle of the mystery’s danger</i>.",true)
	+move("RadioStation-Move","<b>Something Different:</b> Take a move from another team playbook.",true)
	+move("RadioStation-Move","<b>Change Team Style:</b> Pick a new team style. You now use that one instead of the one you first chose.",true)