input.sheet-TeamCheck(type='hidden', name='attr_TeamCheck', value='0')
.sheet-Agents
	.sheet-Subsection
		span(data-i18n='Agents in Black')
.sheet-Road
	.sheet-Subsection
		span(data-i18n='Always on the Road')
.sheet-Entourage
	.sheet-Subsection
		span(data-i18n='The Chosen One and Entourage')
.sheet-Guardians
	.sheet-Subsection
		span(data-i18n='Guardians of the Borderland')
.sheet-IMPS
	.sheet-Subsection
		span(data-i18n='IMPS (International Monster and Paranormal Service)')
.sheet-Crisis
	.sheet-Subsection
		span(data-i18n='Interdimensional Crisis Team')
.sheet-Survivors
	.sheet-Subsection
		span(data-i18n='The Last Survivors')
.sheet-League
	.sheet-Subsection
		span(data-i18n='League of Double Lives')
.sheet-Mercenaries
	.sheet-Subsection
		span(data-i18n='Mercenaries')
.sheet-MysteryClub
	.sheet-Subsection
		span(data-i18n='Mystery Club')
.sheet-NightShift
	.sheet-Subsection
		span(data-i18n='The Night Shift')
.sheet-SuburbanWatch
	.sheet-Subsection
		span(data-i18n='Suburban Watch Group')
.sheet-Band
	.sheet-Subsection
		span(data-i18n='Touring Band')
.sheet-Whistleblowers
	.sheet-Subsection
		span(data-i18n='Whistleblowers')
.sheet-Fugitives
	.sheet-Subsection
		span(data-i18n='Wild Hunt Fugitives')
.sheet-Hauntbusters
	.sheet-Subsection
		+translate("Hauntbusters")
.sheet-ArmyOfOne
	.sheet-Subsection
		+translate("Army Of One")
.sheet-SquareOne
	.sheet-Subsection
		+translate("Back to Square One")
.sheet-DoomedWorld
	.sheet-Subsection
		+translate("Doomed World Exiles")
.sheet-MonsterRevs
	.sheet-Subsection
		+translate("Monster Revelations")
.sheet-Lineage
	.sheet-Subsection
		+translate("Storied Hunter Lineage")
.sheet-ThrillSeekers
	.sheet-Subsection
		+translate("Thrill-Seekers")
