.sheet-PassingTheTorch
	input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-Enemies-Unused', value='1', checked='')
	+move('PassingTheTorch-Enemy','Count Dracula, the arch nemesis of experienced hunters, returning decade after decade.')
	+move('PassingTheTorch-Enemy','All the werewolves, always trying to infect fresh hunters with lycanthropy.')
	+move('PassingTheTorch-Enemy','Umberto Viaglio, an ancient sorcerer wanting to make all monster hunters his minions.')
	+move('PassingTheTorch-Enemy','Koschei the Deathless, an eternal archfey tempting experienced hunters with immortality.')
	+move('PassingTheTorch-Enemy','Hunter Registry Bureau (HRB), a secret government agency wanting to track, control, and regulate all monster hunters closely, and decide who you can take as apprentices.')
	+move('PassingTheTorch-Enemy','Something else:')
		div
			textarea(rows='2' name='attr_PassingTheTorch-Enemies-Custom')

