.sheet-Survivors
	input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-Assets-Unused', value='1', checked='')
	+asset('Survivors-Asset','<b>Mobile Base:</b> A truck or bus with bunks and mystery investigation supplies on board.',2)
	+asset('Survivors-Asset','<b>Individual Transport:</b> A regular car, motorbike, or bicycle for every team member.',1)
	+asset('Survivors-Asset','<b>Medical Supplies:</b> Everyone carries a first aid kit, and you have enough for a fully equipped infirmary back at your base or homes.',1)
	+asset('Survivors-Asset','<b>Headquarters:</b> A relatively secure space to use as a base. There’s room for all your monster hunting gear and books, maybe even space to sleep and a kitchen.',2)
	+asset('Survivors-Asset','<b>Mystical workroom:</b> A space set aside for magical operations. It can stand in for one requirement of a <b>use magic</b> or <b>big magic</b> move.',2)
	+asset('Survivors-Asset','<b>Workshop:</b> A big space for craft and repair projects, with plenty of tools and materials.',1)
	+asset('Survivors-Asset','<b>Survival Gear:</b> You’re all well-prepped with supplies for a disaster or emergency situation. Protective gear, tools, food and water, etc.',1)
	+asset('Survivors-Asset','<b>Regular Jobs:</b> You have access to a place of employment for any of the hunters who need it. You earn enough to cover regular day-to-day expenses, and there’s time to fit in monster hunting around your hours.',1)
	+asset('Survivors-Asset','<b>Hideouts:</b> Each hunter has a hidden, safe place set up where they can retreat in an emergency. This could be an isolated cabin or bunker, a safe house, or a panic room (whichever makes sense for your hunter).',1)
	+asset('Survivors-Asset','<b>Custom:</b>',1)
		div
			textarea(rows='2' name='attr_Survivors-Asset-Custom')

