+otherTeamPlaybooksHeader('Research Lab')
.sheet-ResearchLab.sheet-OPB
	input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-Team-Moves-Unused', value='1', checked='')
	+move("ResearchLab-Move","<b>Scientific Method:</b> When the team <b>investigates a mystery</b>, they can ask one of the following questions in addition to the usual result: “Which of our ideas is wrong?” or “What weird energies or materials are present?”",true)
	+move("ResearchLab-Move","<b>Trial and Error:</b> When a team member rolls a 10+ on <b>kick some ass</b> or <b>protect someone</b>, you can choose to ask a question from <b>investigate a mystery</b> in addition to your normal option.",true)
	+move("ResearchLab-Move","<b>Repurpose Old Junk:</b> Once per session, ignore all but one requirement for <b>weird science</b> or any similar move.",true)
	+move("ResearchLab-Move","<b>Pattern Recognition: </b>Once per session, after a team member successfully <b>reads a bad situation</b>, they may ask “How do I ensure or prevent [thing] happening?”",true)
	+move("ResearchLab-Move","<b>Button Mashing:</b> When presented with technology beyond your experience, work together to study it. Each team member who <b>helps out</b> gets +1 forward.",true)
	+move("ResearchLab-Move","<b>Something Different:</b> Take a move from another team playbook.",true)
	+move("ResearchLab-Move","<b>Change Team Style:</b> Pick a new team style. You now use that one instead of the one you first chose.",true)