.sheet-IMPS
	input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-Allies-Unused', value='1', checked='')
	+move('IMPS-Allies','Ó Corra, IMPS General Secretary. Having Ó Corra on your side is always going to be handy.')
	+move('IMPS-Allies','Klíma, IMPS forensic specialist. Klíma can help you get extra forensic analysis or expedite tests.')
	+move('IMPS-Allies','Villaverde, IMPS librarian. Knows a lot about mystical and occult secrets.')
	+move('IMPS-Allies','IMPS team EM–3. This team of IMPS agents specialise in dealing with big disasters. They can help manage and calm down civilians and provide support for your team.')
	+move('IMPS-Allies','Cryptidnet, a loose organisation of interested amateurs and researchers who collate rumours of weird activity. Great source of leads and supernatural rumours.')
	+move('IMPS-Allies','Someone else:')
		div
			textarea(rows='2' name='attr_IMPS-Allies-Custom')


