+otherTeamPlaybooksHeader('Army Of One')
.sheet-ArmyOfOne.sheet-OPB
	input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-Team-Moves-Unused', value='1', checked='')
	+move('ArmyOfOne-Move','<b>Each Others’ Backs:</b> All of you get ongoing +1 to <b>helping</b> each other.','share')
	+move('ArmyOfOne-Move','<b>Thought Loop:</b> If one of you wants to communicate telepathically with another one of you, roll +Weird. On 10+, you send a few words and an emotion and are able to hear back from the other one. On 7–9, you send only a single word or an emotion, and are unable to hear back. On a miss, choose: either your message is warped by the Keeper, or it works like on 7–9, but someone else hears it too.','share')
	+move('ArmyOfOne-Move','<b>United Effort:</b> At the beginning of a mystery, your team holds 2. Any of you can spend 1 hold to use someone else’s playbook move one time.','share')
	+move('ArmyOfOne-Move','<b>Not That Similar:</b> Each of you gets +1 to one Rating (max. +3) and -1 to another one (min. -2). Each one of you must choose a different Rating to add 1 to, and subtract 1 from a rating one of the others have added to.','share')
	+move('ArmyOfOne-Move','<b>Protect My Self:</b> When one of you puts themselves or other hunters at risk to prove that they aren’t just a copy of the rest of you, they mark experience.','share')
	+move('ArmyOfOne-Move','<b>Something Different:</b> Take a move from another team playbook.','share')
	+move('ArmyOfOne-Move','<b>Change Team Style:</b> Pick a new team style. You now use that one instead of the one you first chose.','share')
	
	
