.sheet-Mercenaries
	input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-Allies-Unused', value='1', checked='')
	+move('Mercenaries-Allies','Dumont, the fixer. Dumont can find leads on jobs, and sometime scare up special gear.')
	+move('Mercenaries-Allies','Chang, a government official. They can help you with legal entanglements. Sometimes.')
	+move('Mercenaries-Allies','Dr Accorso. A medical doctor, ready to help with injuries or illness. No questions asked.')
	+move('Mercenaries-Allies','The Irregulars, an ally team. They’re a general group of support crew that help you out. Mechanics, technicians, and the like.')
	+move('Mercenaries-Allies','The Crooked Hearts, another mercenary monster hunting crew. You’ve worked together on some big jobs.')
	+move('Mercenaries-Allies','Someone else:')
		div
			textarea(rows='2' name='attr_Mercenaries-Allies-Custom')
