.sheet-MundaneMonstrosities
	input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-Allies-Unused', value='1', checked='')
	+move("MundaneMonstrosities-Allies","Agent Maury DeWhit, a federal agent in the know who keeps an eye out to protect the community. Younger than he seems.")
	+move("MundaneMonstrosities-Allies","Stefan Knight, an expert historian of supernatural history.")
	+move("MundaneMonstrosities-Allies","Kim Chin-Mae, a lawyer who can help you navigate the loops of mundane and supernatural laws and authorities.")
	+move("MundaneMonstrosities-Allies","Ash Lawrence, leader of a cult who claims they’re good but there are some worrying signs. Ignore the shadow magic and wings.")
	+move("MundaneMonstrosities-Allies","Jerek Jaafar, local student athlete and all-round cool guy. He has your back when you need him.")
	+move("MundaneMonstrosities-Allies","Alytari Gandega, a journalist who can shield the hunters from unwelcome attention.")
	+move('MundaneMonstrosities-Allies','Someone else:')
		div
			textarea(rows='2' name='attr_MundaneMonstrosities-Allies-Custom')
