.sheet-Coven
	input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-Enemies-Unused', value='1', checked='')
	+move("Coven-Enemy","The Grand Stark, a vicious and vindictive dragon who remembers a distant betrayal.")
	+move("Coven-Enemy","Your own people, who consider you traitors.")
	+move("Coven-Enemy","Ereved, an eldritch being, who influences reckless occultists.")
	+move("Coven-Enemy","Puja, a clever rākṣasi who devours the flesh of the innocent.")
	+move("Coven-Enemy","Dohyun Sikalli, a subtle, patriarchal wizard who maintains their power by preying on people like you.")
	+move('Coven-Enemy','Something else:')
		div
			textarea(rows='2' name='attr_Coven-Enemies-Custom')

