.sheet-Crisis
	input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-Assets-Unused', value='1', checked='')
	+asset('Crisis-Asset','<b>World-jumping Base:</b> A small vehicle or building with bunks and mystery investigation supplies on board.',2)
	+asset('Crisis-Asset','<b>Translator:</b> A high tech or arcane universal translator.',1)
	+asset('Crisis-Asset','<b>Stealth Module:</b> A device automatically changing the looks of your gear and vehicles to match the world you’re in.',2)
	+asset('Crisis-Asset','<b>Headquarters:</b> A relatively secure space to use as a base. There’s room for all your monster hunting gear and books, maybe even space to sleep and a kitchen. Can’t travel between worlds, but you know a <b>big magic</b> ritual to come back here from any world. Invent details with the Keeper.',2)
	+asset('Crisis-Asset','<b>Mystical Workroom:</b> A space set aside for magical operations. It can stand in for one requirement of a <b>use magic</b> or <b>big magic</b> move.',2)
	+asset('Crisis-Asset','<b>Workshop:</b> A big space for craft and repair projects, with plenty of tools and materials.',1)
	+asset('Crisis-Asset','<b>Clothes:</b> Clothes for any weather, including extreme ones.',1)
	+asset('Crisis-Asset','<b>Published Book Series:</b> A successful book series written by some or all of you based on your visits to other worlds.',1)
	+asset('Crisis-Asset','<b>Crystal Ball:</b> A crystal ball always showing the most breathtaking sight in the area you’re in.',1)
	+asset('Crisis-Asset','<b>Custom:</b>',1)
		div
			textarea(rows='2' name='attr_Crisis-Asset-Custom')



