+otherTeamPlaybooksHeader('The Night Shift')
.sheet-NightShift.sheet-OPB
	input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-Team-Moves-Unused', value='1', checked='')
	+move('NightShift-Move','<b>Inventory Check:</b> If you go looking for something that just might be in stock, roll +Weird. On a 10 or more, it’s there. On a 7–9, either you find it but there’s a cost, or you find something close enough. On a miss, you find something bad.','share')
	+move('NightShift-Move','<b>Corporate Database:</b> If you use the company information systems to help <b>investigate a mystery</b>, take +1 hold. The Keeper tells you something disturbing you learn in addition to what you were looking for.','share')
	+move('NightShift-Move','<b>Handbook:</b> At the start of each mystery, each hunter may consult the employee handbook for advice. Roll a single die. On a 1, take –1 forward. On a 2, gain +1 forward to Charm. On a 3, gain +1 forward to Cool. On a 4, gain +1 forward to Sharp. On a 5, gain +1 forward to Tough. On a 6, gain +1 forward to Weird.','share')
	+move('NightShift-Move','<b>Uniforms:</b> While you’re wearing your uniforms, your actions won’t be questioned unless you are indisputably out of place. For example, your burger restaurant uniforms won’t help you infiltrate a military base, and vice versa. The uniforms may also count as a reason when you try to <b>manipulate someone</b>.','share')
	+move('NightShift-Move','<b>Company Mascot:</b> Take your corporate mascot as an ally. Pick one: a fellow employee with useful skills in the suit, or a supernatural being trying to keep under the radar. Decide what the mascot looks like.','share')
	+move('NightShift-Move','<b>Something Different:</b> Take a move from another team playbook.','share')
	+move('NightShift-Move','<b>Change Team Style:</b> Pick a new team style. You now use that one instead of the one you first chose.','share')