.sheet-MedicalTeam
	input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-Enemies-Unused', value='1', checked='')
	+move("MedicalTeam-Enemy","Riddleman Group, a shadowy research team that claims control over patients and evidence.")
	+move("MedicalTeam-Enemy","The Rijpma family, corporate investors that demand profits and constantly take resources.")
	+move("MedicalTeam-Enemy","A covetous and cruel spirit of death that hates when people escape it.")
	+move("MedicalTeam-Enemy","Dr Horner, an arrogant and well-respected doctor who uses unnatural powers to fuel his reputation.")
	+move("MedicalTeam-Enemy","The Quiet Order, ambulance-chasing cultists that will take the opportunity to snatch sacrifices and body parts.")
	+move("MedicalTeam-Enemy","All the mummies.")
	+move('MedicalTeam-Enemy','Something else:')
		div
			textarea(rows='2' name='attr_MedicalTeam-Enemies-Custom')

