+otherTeamPlaybooksHeader('Mystery Club')
.sheet-MysteryClub.sheet-OPB
	input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-Team-Moves-Unused', value='1', checked='')
	+move('MysteryClub-Move','<b>Yikes!:</b> When a hunter is captured by a monster, minion, or phenomenon, they may ask one of the <b>investigate a mystery</b> or <b>read a bad situation</b> questions.','share')
	+move('MysteryClub-Move','<b>Sensible Chuckle:</b> When a hunter makes a joke (good or bad) at the expense of a monster, minion, or phenomenon, they may give another hunter on the team +1 forward.','share')
	+move('MysteryClub-Move','<b>Earnest Do-gooders:</b> When a hunter tells someone you are helping people and why, bystanders are more likely to do as you ask. The explanation always counts as a reason if you’re <b>manipulating</b> them to protect them or get them to help you.','share')
	+move('MysteryClub-Move','<b>Slapstick:</b> When a hunter takes harm, they may instead have an embarrassing pratfall or accident that dodges the danger. Ignore the harm as established, and simply take 1-harm (which can’t be reduced or mitigated in any way). The hunter takes –1 forward.','share')
	+move('MysteryClub-Move','<b>Disguises:</b> When a hunter disguises themself, the disguise will not be questioned, until they do something to directly cast doubt on their appearance.','share')
	+move('MysteryClub-Move','<b>Something Different:</b> Take a move from another team playbook.','share')
	+move('MysteryClub-Move','<b>Change Team Style:</b> Pick a new team style. You now use that one instead of the one you first chose.','share')