.sheet-PassingTheTorch
	input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-Allies-Unused', value='1', checked='')
	+move('PassingTheTorch-Allies','Ray, a white-hat hacker. They keep all of you constantly in touch.')
	+move('PassingTheTorch-Allies','Miss Tamun, who used to hunt with you, but can no longer bear the strain for long. Instead, she maintains your facilities and gathers rumours.')
	+move('PassingTheTorch-Allies','Abraham van Helsing, once a famous vampire hunter, now the guardian ghost of a library you like to meet in. Knows a lot about monsters, but parts of his knowledge are outdated or biased.')
	+move('PassingTheTorch-Allies','Oldtimer Pub, an ally team. A group of ex-hunters who generally don’t want to have anything to do with this stuff anymore, but you sometimes manage to ask them for advice.')
	+move('PassingTheTorch-Allies','Those in the Know, a self-help group for people aware of magic and monsters, an ally team. You advise and sometimes protect them, they share what they know with you, and direct some potential new hunters to you.')
	+move('PassingTheTorch-Allies','Someone else:')
		div
			textarea(rows='2' name='attr_PassingTheTorch-Allies-Custom')

