.sheet-Band
	input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-Assets-Unused', value='1', checked='')
	+asset('Band-Asset','<b>Tour Bus:</b> A truck or bus with bunks, your gear, and mystery investigation supplies on board.',2)
	+asset('Band-Asset','<b>Individual Transport:</b> A fancy car, motorbike, or bicycle for every team member.',1)
	+asset('Band-Asset','<b>Home Venue:</b> You have a regular booking at a venue, and get on well with the owners. You’re always welcome there, and can be sure to find fans or friends there whenever it’s open.',1)
	+asset('Band-Asset','<b>Headquarters:</b> A relatively secure space to use as a base. There’s room for all your monster hunting gear and books, maybe even space to sleep, practice, and cook.',2)
	+asset('Band-Asset','<b>Mystical Workroom:</b> A space set aside for magical operations. It can stand in for one requirement of a <b>use magic</b> or <b>big magic</b> move.',2)
	+asset('Band-Asset','<b>Workshop:</b> A big space for craft and repair projects, with plenty of tools and materials.',1)
	+asset('Band-Asset','<b>Private Jet:</b> You have a more-or-less fancy private jet (and crew) at your disposal.',2)
	+asset('Band-Asset','<b>Studio:</b> You have your own recording studio and record label. It’s either a big house in the country or big slice of a building in the city. It’s equipped with gear and staff. This is a good place for any other location-based assets to live.',1)
	+asset('Band-Asset','<b>Cameras and Recording Gear:</b> You have a big collection of cameras and other recording devices that you can use during your investigations. Your crew also includes people who can operate them for you.',1)
	+asset('Band-Asset','<b>Custom:</b>',1)
		div
			textarea(rows='2' name='attr_Band-Asset-Custom')



