+otherTeamPlaybooksHeader('Doomed World Exiles')
.sheet-DoomedWorld.sheet-OPB
	input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-Team-Moves-Unused', value='1', checked='')
	+move('DoomedWorld-Move','<b>Desperate Determination:</b> Each mystery, the first and second time a hunter becomes unstable or spends Luck, each of you holds 1. You can spend this hold to get +1 forward to any move until the end of the current mystery.','share')
	+move('DoomedWorld-Move','<b>Doomed Again:</b> When you <b>investigate a mystery</b> or <b>read a bad situation</b> about something that reminds you of how your world ended, you can automatically get 2 more holds, regardless of the move result, but if you do, the trauma of your memories gives you -1 ongoing to <b>act under pressure</b> until you have a chance to rest and decompress.','share')
	+move('DoomedWorld-Move','<b>Recount the Apocalypse:</b> Telling the story of how your world ended, or how this one will probably end, counts as the reason for people to do what you ask when you <b>manipulate</b> them.','share')
	+move('DoomedWorld-Move','<b>Survived the End:</b> Each of you can, once per mystery, reduce the suffered harm by 2 if suffered harm would take you to dying.','share')
	+move('DoomedWorld-Move','<b>Branded by Destruction:</b> Once per mystery, each of you can open yourself up to the destructive power of your world’s doom. When this happens, hold 3 and spend 1 each time you deal or take harm. This harm is raised by 1, both for dealing and suffering it.','share')
	+move('DoomedWorld-Move','<b>Something Different:</b> Take a move from another team playbook.','share')
	+move('DoomedWorld-Move','<b>Change Team Style:</b> Pick a new team style. You now use that one instead of the one you first chose.','share')




