.sheet-ThrillSeekers
	input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-Allies-Unused', value='1', checked='')
	+move('ThrillSeekers-Allies','Miss Meow, a catboy VTuber. His streams attract high-quality information vendors.')
	+move('ThrillSeekers-Allies','The Grand Duchess, a vampire hunter by night and drag queen later at night. She has strong connections to several hunter groups.')
	+move('ThrillSeekers-Allies','Moirah, a legendary mentor. Moirah was one of the world’s best monster hunters before her retirement.')
	+move('ThrillSeekers-Allies','DIVISION, a secretive organisation that combats occult threats, classifies supernatural phenomena, and investigates the encroaching apocalypse.')
	+move('ThrillSeekers-Allies','The Whispers, an anonymous group that only exists online. Their rotating members always provide exactly what you need, for a price.')
	+move('ThrillSeekers-Allies','Someone else:')
		div
			textarea(rows='2' name='attr_ThrillSeekers-Allies-Custom')

