div
	.sheet-Subsection
		+translate('Getting Started')
	+expanderInstructions('Team-Getting-Started')
		ul
			input.sheet-TeamCheck(type='hidden', name='attr_TeamCheck', value='0')
			.sheet-ArmyOfOne
				li
					+translate('Decide who you all are.')
			.sheet-DoomedWorld
				li
					+translate('Describe your doomed world and what doomed it.')
			.sheet-Survivors
				li
					+translate('Determine the nature of the Event.')
			.sheet-Fugitives
				li
					+translate('Decide the history between you and the Wild Hunt.')
			.sheet-Lineage
				li
					+translate('Pick your family name.')
			li
				+translate('Pick your style (and associated improvement question).')
			.sheet-Agents
				li
					+translate('Figure out the nature of the Bureau.')
			.sheet-League
				li
					+translate('Create your city.')
				li
					+translate('Pick your obligations.')
			.sheet-Band
				li
					+translate('Come up with a band name.')
			.sheet-Whistleblowers
				li
					+translate('Pick a starting team ally.')
				li
					+translate('Customize the organisation.')
				li
					+translate('Pick your starting team move and 2 boxes of assets.')
			.sheet-Fugitives
				li
					+translate('Pick a starting team ally, move, and assets.')
			.sheet-MonsterRevs
				li
					+translate('Pick your show’s format and name.')
			.sheet-Agents.sheet-Road.sheet-Entourage.sheet-Guardians.sheet-IMPS.sheet-Crisis.sheet-Survivors.sheet-League.sheet-Mercenaries.sheet-MysteryClub.sheet-NightShift.sheet-SuburbanWatch.sheet-Band.sheet-Hauntbusters.sheet-ArmyOfOne.sheet-SquareOne.sheet-DoomedWorld.sheet-MonsterRevs.sheet-Lineage.sheet-ThrillSeekers.sheet-CustomTeam
				li
					+translate('Pick a starting team enemy, ally, move, and 2 boxes of assets.')
			.sheet-Road
				li
					+translate('Put on some music and hit the road.')
			.sheet-Entourage
				li
					+translate('Await the next weird prophecy.')
			.sheet-Guardians
				li
					+translate('Check the boundaries for incursions.')
			.sheet-IMPS
				li
					+translate('Report for your mission briefing.')
			.sheet-Crisis
				li
					+translate('Report for your mission briefing.')
			.sheet-Survivors
				li
					+translate('Prepare for the next disaster.')
			.sheet-League
				li
					+translate('Ponder your responsibilities, as you await the call.')
			.sheet-Mercenaries
				li
					+translate('See who’s hiring today.')
			.sheet-MysteryClub
				li
					+translate('Next meeting is at the clubroom on Tuesday afternoon.')
			.sheet-NightShift
				li
					+translate('Clock in and prepare for another night of drudgery.')
			.sheet-SuburbanWatch
				li
					+translate('Walk the streets. Keep an eye out for evildoers.')
			.sheet-Band
				li
					+translate('You have half an hour before we fly to the next city. Soundcheck at 7, you’re on at 8.')
			.sheet-Whistleblowers
				li
					+translate('Snoop around the boss’s office while they’re in a meeting.')
			.sheet-Fugitives
				li
					+translate('Stay wary, that sounded like howls on the wind.')
			.sheet-Hauntbusters
				li
					+translate('Type “spooky places in [place I’m in now]” into a search engine.')
			.sheet-SquareOne
				li
					+translate('Choose what caused your loss.')
			.sheet-Lineage
				li
					+translate('Pick an heirloom for each team member.')
			.sheet-ThrillSeekers
				li
					+translate('Describe why you teamed up to become thrill-seekers.')