.sheet-Entourage
	input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-Allies-Unused', value='1', checked='')
	+move('Entourage-Allies','Carlito, a nurse. They can patch up injured hunters.')
	+move('Entourage-Allies','Charity, an occultist. She can tell you about and sometimes find weird old items.')
	+move('Entourage-Allies','Raven, a mystic. Has some ideas about the Chosen One’s destiny.')
	+move('Entourage-Allies','The Junior Entourage, an ally team. These are friends who aren’t in the core team. Good at getting around for area canvassing or distraction.')
	+move('Entourage-Allies','Destiny’s Servants, an ally team. A secretive group sent to help you out. They’re good at fighting and acting suspicious.')
	+move('Entourage-Allies','Someone else:')
		div
			textarea(rows='2' name='attr_Entourage-Allies-Custom')
