.sheet-Fugitives
	input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-Allies-Unused', value='1', checked='')
	+move('Fugitives-Allies','Soyfly, a pixie. She knows a lot of recent gossip about the Wild Hunt.')
	+move('Fugitives-Allies','Althea, a private aviator. She believes the sky should be free for everyone, not just some creepy horsemen.')
	+move('Fugitives-Allies','Caragh, a banshee. She once rode with the Hunt and now helps other fugitives, but never reveals how she escaped.')
	+move('Fugitives-Allies','New Start, an NGO that helps refugees. They focus on political and war refugees, but allow you to use their facilities.')
	+move('Fugitives-Allies','The Savage Ride, the Wild Hunt’s rivals. They’ll do anything to hinder the Hunt, but are violent and fickle themselves.')
	+move('Fugitives-Allies','Someone else:')
		div
			textarea(rows='2' name='attr_Fugitives-Allies-Custom')

