.sheet-NightShift
	input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-Assets-Unused', value='1', checked='')
	+asset('NightShift-Asset','<b>Backrooms:</b> You’ve set out a relatively secure space in the back rooms. There’s room for all your monster hunting gear and books, maybe even space to sleep and a kitchen. It’s currently listed as “unused: permanent” so you should be left alone in there.',2)
	+asset('NightShift-Asset','<b>Steam Tunnels:</b> Accessed from your workplace, these allow you to get in and out without being seen. They also connect to the wider city infrastructure.',2)
	+asset('NightShift-Asset','<b>Individual Transport:</b> A regular car, motorbike, or bicycle for every team member.',1)
	+asset('NightShift-Asset','<b>Security Access:</b> You can look at the security camera feeds and records. These cover the entire store floor, secure areas, and the outside of the building.',1)
	+asset('NightShift-Asset','<b>Ritual Space:</b> A space set aside for magical operations. It can stand in for one requirement of a <b>use magic</b> or <b>big magic</b> move. Decide where in the workplace it is located.',2)
	+asset('NightShift-Asset','<b>Workshop:</b> A big space for craft and repair projects, with plenty of tools and materials.',1)
	+asset('NightShift-Asset','<b>The Occult Section:</b> Your workplace has a stock of mystical supplies. Sometimes you can find specific monster hunting supplies or ritual requirements there.',1)
	+asset('NightShift-Asset','<b>Warding Glyphs:</b> Mystical enchantments on the workplace prevent hostile magic from targeting it from the outside, and alert all team members if a supernatural being enters.',1)
	+asset('NightShift-Asset','<b>Lost Property & Returns:</b> You can find all sorts of stuff in here, some of it useful.',1)
	+asset('NightShift-Asset','<b>Custom:</b>',1)
		div
			textarea(rows='2' name='attr_NightShift-Asset-Custom')
