.sheet-Whistleblowers
	input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-Allies-Unused', value='1', checked='')
	+move('Whistleblowers-Allies','LOLweb, a hacker. They track the organisation’s web activity and try to hinder it but don’t believe in monsters.')
	+move('Whistleblowers-Allies','Faruq, an office worker in the organisation. He also feels there’s something wrong but is too afraid to act openly about it.')
	+move('Whistleblowers-Allies','Grethel, a government official. She keeps track of various supernatural occurrences and organisations that deal with them.')
	+move('Whistleblowers-Allies','Organisation ex-members. Each of them has seen a bit of bad things that happen there and can help you piece together the bigger picture.')
	+move('Whistleblowers-Allies','Independent hunters. Far less experienced than you but sometimes can do things you can’t due to being observed by the organisation.')
	+move('Whistleblowers-Allies','Someone else:')
		div
			textarea(rows='2' name='attr_Whistleblowers-Allies-Custom')

