+otherTeamPlaybooksHeader('Touring Band')
.sheet-Band.sheet-OPB
	input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-Team-Moves-Unused', value='1', checked='')
	+move('Band-Move','<b>Hit It!:</b> If you all have your instruments ready, start playing one of your songs. Everyone and everything within earshot pauses for a moment.','share')
	+move('Band-Move','<b>Sacred Songs of Power:</b> You may substitute “play a mystical song” for any one <b>use magic</b> or <b>big magic</b> requirement. For use magic, one person needs to perform the song. For big magic, it must be at least two of you.','share')
	+move('Band-Move','<b>Famous:</b> You’re well known. Everywhere you go, you may call up your fans. They are a temporary ally group, type: backup (motivation: to stand with you). There will be a lot of them, but they’re just regular people—good at creating a distraction but not fighting monsters.','share')
	+move('Band-Move','<b>In the Groove:</b> When you’re engaged in desperate physical action, and you describe how your move sets up another member of the band, they take +1 forward.','share')
	+move('Band-Move','<b>Healing Vibe:</b> Whenever the band plays a gig (no matter how big or small—there just needs to be an audience), each band member and every member of the audience either unmarks unstable or heals 1-harm.','share')
	+move('Band-Move','<b>Something Different:</b> Take a move from another team playbook.','share')
	+move('Band-Move','<b>Change Team Style:</b> Pick a new team style. You now use that one instead of the one you first chose.','share')