.sheet-Agents
	input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-Enemies-Unused', value='1', checked='')
	+move('Agents-Enemy','General Grox, alien warlord.')
	+move('Agents-Enemy','The werewolf conspiracy.')
	+move('Agents-Enemy','The Order of the Silvery Stars, who worship some very bad alien god-things.')
	+move('Agents-Enemy','The Old Gods, who want to return and rule the world again.')
	+move('Agents-Enemy','A rival Bureau with dubious methods and goals.')
	+move('Agents-Enemy','Something else:')
		div
			textarea(rows='2' name='attr_Agents-Enemies-Custom')
