+otherTeamPlaybooksHeader('Interdimensional Crisis Team')
.sheet-Crisis.sheet-OPB
	input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-Team-Moves-Unused', value='1', checked='')
	+move('Crisis-Move','<b>Global Crisis:</b> Once per mystery, each of you can read a bad situation treating an entire world as the bad situation, including asking about the best way in or out.','share')
	+move('Crisis-Move','<b>Surge of Magic:</b> Each of you holds 1 when you enter a new world. You can spend this hold to get an automatic result of 10 on a Weird move roll or to learn a useful big magic ritual known only in this world.','share')
	+move('Crisis-Move','<b>Otherworldly:</b> You make your strangeness in other worlds work to your advantage in interpersonal situations. “I’m from another world” works as a reason for people to do as you ask when you <b>manipulate someone</b>.','share')
	+move('Crisis-Move','<b>A Multiverse of Friends:</b> Three times per mystery, a friend you’ve made in an alternate universe can help one of you with a task as if they rolled 10+ to help out. They either manifest next to you for a moment or somehow are there in person. They can be bystanders from previous games or people from your backstories.','share')
	+move('Crisis-Move','<b>Something Different:</b> Take a move from another team playbook.','share')
	+move('Crisis-Move','<b>Change Team Style:</b> Pick a new team style. You now use that one instead of the one you first chose.','share')