.sheet-Road
	+translate('You start with two in addition to your individual transport.')
	input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-Assets-Unused', value='1', checked='')
	+asset('Road-Asset','<b>Individual Transport:</b> A regular car, motorbike, or bicycle for every team member.',1,false,true)
	+asset('Road-Asset','<b>Mobile Base:</b> A truck or bus with bunks and mystery investigation supplies on board.',2)
	+asset('Road-Asset','<b>Credentials:</b> Real, or as-good-as-real, identification that gets you access to law enforcement and other official contacts.',1)
	+asset('Road-Asset','<b>Lair:</b> A relatively secure space to use as a base. There’s room for all your monster hunting gear and books, maybe even space to sleep and a kitchen.',2)
	+asset('Road-Asset','<b>Hunter Roadhouses:</b> A network of bars, diners, and motels where you can safely meet other monster hunters. Many are run by retired hunters.',1)
	+asset('Road-Asset','<b>Tool Kit:</b> One or two of your vehicles carry tool kits. You have most tools you’ll need to repair or build something.',1)
	+asset('Road-Asset','<b>Mystical Ingredients Cabinet:</b> A box with a wide range of frequently useful supplies for magic rituals.',1)
	+asset('Road-Asset','<b>Slush Fund:</b> The team has access to a bank account that can pay for their day-to-day needs while monster hunting, and stretches to a big purchase every now and then. Where did it come from?',1)
	+asset('Road-Asset','<b>Armoury:</b> One of your cars has a well-stocked weapons chest. Each mystery, every hunter may take one extra regular weapon. Also, once per mystery, one hunter may ask the Keeper if the armoury has a particular special weapon: if yes, you can take it; if no, take +1 forward.',1)
	+asset('Road-Asset','<b>Field Medics:</b> You have enough supplies and training to treat one hunter per night as if they’d had a proper doctor or trip to the emergency room.',1)
	+asset('Road-Asset','<b>Custom:</b>',1)
		div
			textarea(rows='2' name='attr_Road-Asset-Custom')


