.sheet-MedicalTeam
	input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-Allies-Unused', value='1', checked='')
	+move("MedicalTeam-Allies","Ishey Wei, a high-energy, frenetic paramedic who always surprises you. The best ambulance driver anyone could ever ask for.")
	+move("MedicalTeam-Allies","Dr Mel Yvette, a medical resident fresh out of school and whose mentor is a surgeon renowned for both their skill and mystique. Enthusiastic and clever.")
	+move("MedicalTeam-Allies","Vir Loleri, a tall, creepy-looking phlebotomist with a rigorous moral code, who gives good advice. You suspect he’s not human.")
	+move("MedicalTeam-Allies","Luna Star, a local holistic medicine and spiritualist practitioner. She knows when to refer someone to scientific medical services, and knows a lot about hauntings and curses.")
	+move("MedicalTeam-Allies","Sapfo Hadjiti, a fantasy novelist who often pulls you into research for her current project. She has a wealth of assorted but disconnected knowledge.")
	+move("MedicalTeam-Allies","Harry Michaels, an administrator who can help you cut through red tape, or bury stuff under it.")
	+move('MedicalTeam-Allies','Someone else:')
		div
			textarea(rows='2' name='attr_MedicalTeam-Allies-Custom')
