.sheet-Fugitives
	input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-Style-Unused', value='1', checked='')
	+move('Fugitives-Style','<b>Vengeance:</b> You want to become strong enough to destroy the Wild Hunt one day. At the end of each session, ask: “Did what we do bring us closer to destroying the Wild Hunt?”')
	+move('Fugitives-Style','<b>Compassion:</b> You don’t want others to suffer as you did. At the end of each session, ask: “Did we risk our freedom to protect someone else’s’?”')
	+move('Fugitives-Style','<b>Homelessness:</b> You want to have normal lives one day. At the end of each session, ask: “Did we put some effort into making our lives more normal?”')
	+move('Fugitives-Style','<b>Custom:</b> What’s your story?')
		div
			textarea(rows='2' name='attr_Fugitives-Style-Custom-Story')
		div
			+translate('At the end of each session, ask:')
		div
			textarea(rows='2' name='attr_Fugitives-Style-Custom-Question')