.sheet-NightShift
	input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-Style-Unused', value='1', checked='')
	+move('NightShift-Style','<b>Big Store:</b> At the end of each session, ask: “Did we deal with any supernatural problems without management noticing?”')
	+move('NightShift-Style','<b>Security Team:</b> At the end of each session, ask: “Did we keep people safe?”')
	+move('NightShift-Style','<b>Emergency Response:</b> At the end of each session, ask: “Did we solve anyone’s problems?”')
	+move('NightShift-Style','<b>Custom:</b> What’s your story?')
		div
			textarea(rows='2' name='attr_NightShift-Style-Custom-Story')
		div
			+translate('At the end of each session, ask:')
		div
			textarea(rows='2' name='attr_NightShift-Style-Custom-Question') 

