.sheet-Lineage
	input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-Assets-Unused', value='1', checked='')
	+asset('Lineage-Asset','<b>Mobile Base:</b> A truck or bus with bunks and mystery investigation supplies on board.',2)
	+asset('Lineage-Asset','<b>Individual Transport:</b> A regular car, motorbike, or bicycle for every team member.',1)
	+asset('Lineage-Asset','<b>Aegis Ward:</b> One home per hunter on the team plus any building assets (headquarters, workshop, the old shed, armoury) have magical defences. When activated, they protect the area from any hostile magic for about 30 minutes. After use, it cannot be used until the energy recharges—when three sunrises have occurred.',2)
	+asset('Lineage-Asset','<b>Headquarters:</b> A relatively secure family house to use as a base. There’s room for all your monster hunting gear and books, maybe even space to sleep and a kitchen. Your parents are also potentially here.',2)
	+asset('Lineage-Asset','<b>The Cousins:</b> You have relations all over. Wherever you are, there’ll be a distant family member nearby who’ll put you up for the night, no questions asked. They might provide you extra help too, but maybe then you’ll owe them one later.',2)
	+asset('Lineage-Asset','<b>Workshop:</b> A big space for craft and repair projects, with plenty of tools and materials.',1)
	+asset('Lineage-Asset','<b>The Old Shed:</b> A warehouse filled with old stuff your family has collected. Pick three classes of gear: armour, disguises, medical supplies, mystical reagents, old documents, recording & detection gear, scientific & technical tools, weapons. At the start of each mystery, each hunter may grab a piece of gear fitting those categories, with the group’s approval.',2)
	+asset('Lineage-Asset','<b>The Other Old Shed:</b> Add two more classes of gear to The Old Shed.',1)
	+asset('Lineage-Asset','<b>Armoury:</b> A collection of monster-specific weapons, poisons, and other materials. When you need a specific rare weapon or material for a monster weakness, there’s a good chance it’s here.',1)
	+asset('Lineage-Asset','<b>Custom:</b>',1)
		div
			textarea(rows='2' name='attr_Lineage-Asset-Custom')

