+otherTeamPlaybooksHeader('Mercenaries')
.sheet-Mercenaries.sheet-OPB
	input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-Team-Moves-Unused', value='1', checked='')
	+move('Mercenaries-Move','<b>Spending Money:</b> If you get paid at the end of a mystery, each hunter adds 1-hold. Spend this hold in a later mystery to narrate a flashback where you purchased the thing you need right now. It can be anything you could be carrying, something booked in advance (for example, a safe house or hotel room), or the use of a vehicle.','share')
	+move('Mercenaries-Move','<b>The B-Team:</b> When you need to fortify a location or armour a vehicle, narrate a montage of your preparations. When you’re done, the location or vehicle provides 2-armour to all within it.','share')
	+move('Mercenaries-Move','<b>Combat Training:</b> When you help out another team member during combat, they may inflict +1 harm or suffer –1 harm in addition to the usual effects of your result.','share')
	+move('Mercenaries-Move','<b>It’s Our Job:</b> If a bystander has hired you, that counts as a reason when you manipulate them. This remains in effect in later mysteries. The Keeper may include other bystanders in the effect, if they’re part of a group you’re working for.','share')
	+move('Mercenaries-Move','<b>The Good Ones:</b> When you refuse to accept payment for a job, the client becomes an ally.','share')
	+move('Mercenaries-Move','<b>Something Different:</b> Take a move from another team playbook.','share')
	+move('Mercenaries-Move','<b>Change Team Style:</b> Pick a new team style. You now use that one instead of the one you first chose.','share')