.sheet-TeamPick(name='sheet-TeamPick')
	.sheet-Subsection(data-i18n='team-playbook-choice') Choose a Team Playbook
	div(data-i18n='pick-teambook-desc')
	.sheet-move
		input(type='radio', name='attr_TeamName', value='1')
		|  
		b
			span(data-i18n='Agents in Black')
			| :
		|  
		span(data-i18n='This team playbook has the hunters working for the Bureau—a clandestine organisation dedicated to hiding the existence of monsters and the supernatural from the general public.')
	.sheet-move
		input(type='radio', name='attr_TeamName', value='2')
		|  
		b
			span(data-i18n='Always on the Road')
			| :
		|  
		span(data-i18n='You’re a travelling hunter team. Every week is a new town with a new problem.')
	.sheet-move
		input(type='radio', name='attr_TeamName', value='3')
		|  
		b
			span(data-i18n='The Chosen One and Entourage')
			| :
		|  
		span(data-i18n='This team centres on a Chosen One and their friends who help with monster hunting. There’s also room for a mentor.')
	.sheet-move
		input(type='radio', name='attr_TeamName', value='4')
		|  
		b
			span(data-i18n='Guardians of the Borderland')
			| :
		|  
		span(data-i18n='This team playbook has the hunters as wardens of a liminal region: somewhere where the borders of the world are thin, where monsters and magic can slip through and cause trouble.')
	.sheet-move
		input(type='radio', name='attr_TeamName', value='5')
		|  
		b
			span(data-i18n='IMPS (International Monster and Paranormal Service)')
			| :
		|  
		span(data-i18n='The International Monster and Paranormal Service (IMPS) was created to keep humanity safe from supernatural threats. It’s not clear who funds them, although most people assume it’s some kind of United Nations agency. IMPS isn’t secret, but they keep things as quiet as possible This team playbook sets your hunters as one of the elite IMPS teams that travels the world to deal with monster incidents.')
	.sheet-move
		input(type='radio', name='attr_TeamName', value='6')
		|  
		b
			span(data-i18n='Interdimensional Crisis Team')
			| :
		|  
		span(data-i18n='Your world isn’t the only one that needs monster hunting help from time to time. And when others do, you travel through portals, loopholes, and other oddities to help. Interdimensional Crisis Team perfectly fits over-the-top, parody games. More serious stories about interdimensional problems are handled better by Guardians of the Borderland.')
	.sheet-move
		input(type='radio', name='attr_TeamName', value='7')
		|  
		b
			span(data-i18n='The Last Survivors')
			| :
		|  
		span(data-i18n='This hunter team were the only people who lived through a terrible (maybe even apocalyptic) battle. You had many allies at your side, but they didn’t make it.')
	.sheet-move
		input(type='radio', name='attr_TeamName', value='8')
		|  
		b
			span(data-i18n='League of Double Lives')
			| :
		|  
		span(data-i18n='You’re monster hunters but also important society members in a city. Your ties to the society give you various forms of influence but also mean you somehow have to manage two lives at once. The world isn’t ready to learn about your monster hunting and even less about the monsters themselves.')
	.sheet-move
		input(type='radio', name='attr_TeamName', value='9')
		|  
		b
			span(data-i18n='Mercenaries')
			| :
		|  
		span(data-i18n='This team playbook has the hunters working for hire. They save people and hunt monsters, sure, but they also want to get paid at the end of the day.')
	.sheet-move
		input(type='radio', name='attr_TeamName', value='10')
		|  
		b
			span(data-i18n='Mystery Club')
			| :
		|  
		span(data-i18n='This is a hunter team of investigators, with a focus on less horrific and more comedic mysteries. This particularly suits games with younger players, or younger hunters. This team playbook strongly pushes the game towards silliness and jokes, so be sure you’re ready for that if you’re considering taking it.')
	.sheet-move
		input(type='radio', name='attr_TeamName', value='11')
		|  
		b
			span(data-i18n='The Night Shift')
			| :
		|  
		span(data-i18n='This team playbook has the hunters comprising the night shift at a workplace. A workplace that gets way more than its fair share of supernatural problems.')
	.sheet-move
		input(type='radio', name='attr_TeamName', value='12')
		|  
		b
			span(data-i18n='Suburban Watch Group')
			| :
		|  
		span(data-i18n='This is a group of hunters who began as regular folks looking out for their local neighbourhood or town. It emphasises relationships outside of monster hunting and a focus on normal life as well as your adventures.')
	.sheet-move
		input(type='radio', name='attr_TeamName', value='13')
		|  
		b
			span(data-i18n='Touring Band')
			| :
		|  
		span(data-i18n='This team is a band, eternally on tour. Everywhere you have a gig booked, it seems like something bad is going down. Between sound check and putting on the show, you gotta deal with whatever is eating people in this town.')
	.sheet-move
		input(type='radio', name='attr_TeamName', value='14')
		|  
		b
			span(data-i18n='Whistleblowers')
			| :
		|  
		span(data-i18n='All the hunters in your team are members of a monster hunting organisation, and you start suspecting there’s something fishy about this group. This team playbook shares many elements of the Initiate and Professional playbooks because it essentially represents playing an entire team of Initiates and/or Professionals. You shouldn’t choose those playbooks when playing as the Whistleblowers—unless the Keeper agrees some characters belong to a different organisation as well, which might make the situation even more messy.')
	.sheet-move
		input(type='radio', name='attr_TeamName', value='15')
		|  
		b
			span(data-i18n='Wild Hunt Fugitives')
			| :
		|  
		span(data-i18n='You joined or were abducted by the Wild Hunt. You gained some supernatural skills while riding with it, but then escaped it. Now you use your experience to hunt monsters, evade the Hunt and, maybe, destroy it one day.')