+otherTeamPlaybooksHeader('The Chosen One and Entourage')
.sheet-Entourage.sheet-OPB
	input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-Team-Moves-Unused', value='1', checked='')
	+move('Entourage-Move','<b>Ancient Visions:</b> An ancient ritual, to be conducted regularly, gives the whole team access to some of the visions sent to the Chosen One. Once per mystery, each hunter may ask the Keeper a question about anything they want. The Keeper answers with a vision or dream: obscure and vague, but true.','share')
	+move('Entourage-Move','<b>Armoury of the Chosen:</b> You gain a cache of special weapons used by previous Chosen Ones. The Keeper should design a lesser version of the Chosen One’s special weapon, which all other members of the team may use. When this is unlocked, the Chosen One may change or add a tag on their special weapon.','share')
	+move('Entourage-Move','<b>Handing on the Torch:</b> When you select this, designate another character as the next Chosen One. When the current Chosen One dies, that character may change to the Chosen playbook whenever they are ready. The new Chosen One designates the next heir when they find a worthy successor.','share')
	+move('Entourage-Move','<b>Friends Stick Together:</b> Once per mystery, a hunter may call the rest of the team to their current location. Everyone arrives as soon as they potentially can (based on their last known position and when we saw them there). That can be “right this instant,” if at all possible.','share')
	+move('Entourage-Move','<b>Wyrd’s Favour:</b> When you choose this team move, all hunters erase 1 spent Luck point. If you haven’t spent any Luck yet, add a new Luck box instead.','share')
	+move('Entourage-Move','<b>Something Different:</b> Take a move from another team playbook.','share')
	+move('Entourage-Move','<b>Change Team Style:</b> Pick a new team style. You now use that one instead of the one you first chose.','share')
