.sheet-Entourage
	input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-Assets-Unused', value='1', checked='')
	+asset('Entourage-Asset','<b>Mobile Base:</b> A truck or bus with bunks and mystery investigation supplies on board.',2)
	+asset('Entourage-Asset','<b>Individual Transport:</b> A regular car, motorbike, or bicycle for every team member.',1)
	+asset('Entourage-Asset','<b>The Prophecies:</b> A guidebook of all the visions about the Chosen One, to help you navigate your destiny (they’re pretty hard to decipher).',1)
	+asset('Entourage-Asset','<b>Headquarters:</b> A relatively secure space to use as a base. There’s room for all your monster hunting gear and books, maybe even space to sleep and a kitchen.',2)
	+asset('Entourage-Asset','<b>Mystical Workroom:</b> A space set aside for magical operations. It can stand in for one requirement of a <b>use magic</b> or <b>big magic</b> move.',1)
	+asset('Entourage-Asset','<b>Workshop:</b> A big space for craft and repair projects, with plenty of tools and materials.',1)
	+asset('Entourage-Asset','<b>Innocent Front:</b> You have access to a regular business or institution. This means that your monster hunting hijinks can be concealed to an extent from your friends, family, and colleagues. For example: a cafe, a library, an antique store, etc.',1)
	+asset('Entourage-Asset','<b>Regular Jobs:</b> You have access to a place of employment for any of the hunters who need it. You earn enough to cover regular day-to-day expenses, and there’s time to fit in monster hunting around your hours.',1)
	+asset('Entourage-Asset','<b>Cameras and Recording Gear:</b> You have a big collection of cameras and other recording devices that you can use during your investigations.',1)
	+asset('Entourage-Asset','<b>Custom:</b>',1)
		div
			textarea(rows='2' name='attr_Entourage-Asset-Custom')


