.sheet-DoomedWorld
	input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-Enemies-Unused', value='1', checked='')
	+move('DoomedWorld-Enemy','A ghost of an old friend, bitter that you escaped the end while they didn’t.')
	+move('DoomedWorld-Enemy','Leader of a monster invasion’s advance force.')
	+move('DoomedWorld-Enemy','Soon-To-Be-One, a prophet believing they will survive the apocalypse, and thus should cause it.')
	+move('DoomedWorld-Enemy','No Panic, a government agency hushing any suggestions of a possible apocalypse.')
	+move('DoomedWorld-Enemy','Yog-Sothoth, a time-space incarnation hungry for worlds and timelines.')
	+move('DoomedWorld-Enemy','Something else:')
		div
			textarea(rows='2' name='attr_DoomedWorld-Enemies-Custom')

