.sheet-Band
	input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-Allies-Unused', value='1', checked='')
	+move('Band-Allies','Carlos, a roadie. They can do pretty much anything with reasonable competence.')
	+move('Band-Allies','Charity, an occultist. She can tell you about mystical stuff you find and sometimes get you weird old items.')
	+move('Band-Allies','Dr An Seulgi. She can help patch you up if you get hurt, and provide “special” prescriptions as long as you don’t abuse them too badly.')
	+move('Band-Allies','Eldritch Records, your label. You can hit them up for a little money, legal help, or contact details for folks in the music business.')
	+move('Band-Allies','Your fan club, an ally team. They’re keen to help, but they’re mainly just a bunch of kids (possibly kids in their late teens or early twenties, but still).')
	+move('Band-Allies','Someone else:')
		div
			textarea(rows='2' name='attr_Band-Allies-Custom')
