.sheet-Hauntbusters
	input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-Enemies-Unused', value='1', checked='')
	+move('Hauntbusters-Enemy','Duke Francois Richelieu, an aristocratic vampire who loves to live in haunted places.')
	+move('Hauntbusters-Enemy','All the poltergeists.')
	+move('Hauntbusters-Enemy','Sarah Karntenstein, an occultist trying to find a surefire way to create new haunts to use their tenacious energies in life-prolonging rituals.')
	+move('Hauntbusters-Enemy','Takeall, Avatar of Plunder, helping people create collections of stolen goods and then turning those collections into haunts.')
	+move('Hauntbusters-Enemy','Golden Ghosts, the clique behind a cruel regime, hiding that their seat of power became a powerful haunt.')
	+move('Hauntbusters-Enemy','Something else:')
		div
			textarea(rows='2' name='attr_Hauntbusters-Enemies-Custom')
