input.sheet-SkinCheck(type='hidden', name='attr_SkinCheck', value='0')
.sheet-space-above.sheet-NoKeep.sheet-Teams
	span.sheet-Label(data-i18n='Team Playbook') Team Playbook
	div
		select.sheet-TeamSelect(name='attr_TeamName')
			+option('team-playbook-choice','0').sheet-Team-Select
			+optgroup("Codex of Worlds")
				+option('Agents in Black','1').sheet-Team-Select
				+option('Always on the Road','2').sheet-Team-Select
				+option('The Chosen One and Entourage','3').sheet-Team-Select
				+option('Guardians of the Borderland','4').sheet-Team-Select
				+option('IMPS (International Monster and Paranormal Service)','5').sheet-Team-Select
				+option('Interdimensional Crisis Team','6').sheet-Team-Select
				+option('The Last Survivors','7').sheet-Team-Select
				+option('League of Double Lives','8').sheet-Team-Select
				+option('Mercenaries','9').sheet-Team-Select
				+option('Mystery Club','10').sheet-Team-Select
				+option('The Night Shift','11').sheet-Team-Select
				+option('Suburban Watch Group','12').sheet-Team-Select
				+option('Touring Band','13').sheet-Team-Select
				+option('Whistleblowers','14').sheet-Team-Select
				+option('Wild Hunt Fugitives','15').sheet-Team-Select
			+optgroup("Apocrypha")
				+option('Army Of One','17').sheet-Team-Select
				+option('Back to Square One','18').sheet-Team-Select
				+option('Doomed World Exiles','19').sheet-Team-Select
				+option('Monster Revelations','20').sheet-Team-Select
				+option('Storied Hunter Lineage','21').sheet-Team-Select
				+option('Thrill-Seekers','22').sheet-Team-Select
			+optgroup("Modern Haunts")
				+option('Hauntbusters','16').sheet-Team-Select
			+optgroup("Slayer's Survival Kit")
				+option('Artifact Collectors','23').sheet-Team-Select
				+option('Coven','24').sheet-Team-Select
				+option('Escaped Experiments','25').sheet-Team-Select
				+option('Good Monsters','26').sheet-Team-Select
				+option('Medical Team','27').sheet-Team-Select
				+option('Mundane Monstrosities','28').sheet-Team-Select
				+option('Radio Station','29').sheet-Team-Select
				+option('Research Lab','30').sheet-Team-Select
				+option('Swipe to Slay','31').sheet-Team-Select
			+optgroup("byo")
				+option('Custom Team Playbook','99').sheet-Team-Select