.sheet-Lineage
	input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-Allies-Unused', value='1', checked='')
	+move('Lineage-Allies','Granny, family matriarch. Always organising and coordinating folks.')
	+move('Lineage-Allies','Shah, a police officer or government official. Knows about your family and is in a position to sometimes smooth over official trouble.')
	+move('Lineage-Allies','Kay, the ghost of one of your ancestors. Helpful with their knowledge and tips on ghost stuff.')
	+move('Lineage-Allies','A family of loyal servants, an ally team. They provide general support and backup, but rarely get involved in mysteries.')
	+move('Lineage-Allies','The youngsters, an ally team. These are the next generation, learning and preparing to take on the family mantle. They’ll help with anything you need, but look after them and make sure you teach them to survive.')
	+move('Lineage-Allies','Someone else:')
		div
			textarea(rows='2' name='attr_Lineage-Allies-Custom')

