+otherTeamPlaybooksHeader('Swipe to Slay')
.sheet-SwipeToSlay.sheet-OPB
	input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-Team-Moves-Unused', value='1', checked='')
	+move("SwipeToSlay-Move","<b>Thanks for the Rating:</b> Mark one team experience when the customer is satisfied. Also, each Hunter takes +1 forward whenever a customer makes the situation worse in some way.",true)
	+move("SwipeToSlay-Move","<b>Chekhov’s Incident:</b> At the beginning of each mystery, players can suggest what went wrong in an off-screen case (“incidents”), then roll +“incidents”. On a 10+, once per mystery, a team member may use a Luck without marking one off. On a 7–9, each hunter can get +1 forward during the mystery. On a miss, something from that case causes problems in this one. The Keeper tracks incidents to bring up threads in this or future mysteries.",true)
	+move("SwipeToSlay-Move","<b>Substitutions:</b> Based on past experiences with making do, once per session, each team member may suggest a substitution for a normal requirement for a basic Weird move or <b>big magic</b>.",true)
	+move("SwipeToSlay-Move","<b>Double Booked:</b> When the team <i>reaches out to other hunting teams</i>, they can roll +Charm. On a 7+, they secure reinforcements or information. On a 7–9, they’ll take a hit to either pay or reputation. On a miss, the team they reach out to is unable to help or tries to steal the job.",true)
	+move("SwipeToSlay-Move","<b>Back Channel:</b> You know someone in the central office. When you take a job, they’ll let you know any details the bosses or algorithm concealed about the situation.",true)
	+move("SwipeToSlay-Move","<b>Something Different:</b> Take a move from another team playbook.",true)
	+move("SwipeToSlay-Move","<b>Change Team Style:</b> Pick a new team style. You now use that one instead of the one you first chose.",true)