.sheet-MonsterRevs
	input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-Enemies-Unused', value='1', checked='')
	+move('MonsterRevs-Enemy','Garthrug, a fairly young dragon who holds a grudge. What did you do that annoyed it?')
	+move('MonsterRevs-Enemy','All the malicious small folk.')
	+move('MonsterRevs-Enemy','George Whiteman, a media tycoon who wants occult power (as well as influence over the worst side of politics).')
	+move('MonsterRevs-Enemy','Piercer, a primaeval warrior goddess. How did you draw her attention?')
	+move('MonsterRevs-Enemy','The Circle of Green Flame, wizards who want to control all magic and every monster.')
	+move('MonsterRevs-Enemy','Something else:')
		div
			textarea(rows='2' name='attr_MonsterRevs-Enemies-Custom')

