.sheet-PassingTheTorch
	input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-Style-Unused', value='1', checked='')
	+move('PassingTheTorch-Style','<b>Tradition:</b> You come from, or were introduced into, a long tradition of monster hunters and paranormal investigators. At the end of each session, ask: “Did we prove ourselves worthy of our predecessors?”')
	+move('PassingTheTorch-Style','<b>Prodigies:</b> The fresh hunters are extraordinary, with potential unseen in the supernatural community for many generations, and that’s why they need mentoring. At the end of each session, ask: “Did we do something that seemed impossible?”')
	+move('PassingTheTorch-Style','<b>Wind of Change:</b> You believe the way humans combat monsters and supernatural phenomena has to change. At the end of each session, ask: “Did we change the way hunters operate, or demonstrate a better way to solve a mystery?”')
	+move('PassingTheTorch-Style','<b>Custom:</b> What’s your story?')
		div
			textarea(rows='2' name='attr_PassingTheTorch-Style-Custom-Story')
		div
			+translate('At the end of each session, ask:')
		div
			textarea(rows='2' name='attr_PassingTheTorch-Style-Custom-Question')

