.sheet-ArtifactCollectors
	input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-Allies-Unused', value='1', checked='')
	+move("ArtifactCollectors-Allies","Felis Quinn, a lively young seer with exceptional precognitive abilities. They sometimes strike you as naïve or innocent, but always have the best of intentions.")
	+move("ArtifactCollectors-Allies","Marie Allison, a professional costume designer and model. Can craft you excellent clothing and disguises, or get invitations to classy events.")
	+move("ArtifactCollectors-Allies","Farrok Andant, a historian with a Shakespearean tendency for over-dramatising. He knows his stuff, but often waxes poetic about wanting to be a cowboy or pirate.")
	+move("ArtifactCollectors-Allies","Nalani, a warlock with an unfortunate tendency to open crates before checking for guardians or traps. Probably not human?")
	+move("ArtifactCollectors-Allies","Zof Enarra, a rival artifact hunter. You tend to disagree on methods, but sometimes work together to keep things out of the wrong hands.")
	+move("ArtifactCollectors-Allies","Robot Pants Studios, a streaming channel that investigates sites of ancient myth. They’re usually good for providing a distraction.")
	+move('ArtifactCollectors-Allies','Someone else:')
		div
			textarea(rows='2' name='attr_ArtifactCollectors-Allies-Custom')
