+otherTeamPlaybooksHeader('Coven')
.sheet-Coven.sheet-OPB
	input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-Team-Moves-Unused', value='1', checked='')
	+move("Coven-Move","<b>Bound in Blood:</b> The team has bound their fates together through arcane rituals. Members of the team can choose to suffer 1-harm in order to <b>help out</b> another member across all distances and obstacles.",true)
	+move("Coven-Move","<b>How Awful Goodness Is:</b> When a team member <i>displays overwhelming violence or supernatural might</i>, they can <b>manipulate someone</b> to intimidate a monster, minion, or villain. You may roll +Tough (for violence) or +Weird (for magic) instead of +Charm.",true)
	+move("Coven-Move","<b>Our Strength Is the Pack:</b> Each successful attack creates an opening for someone else. When a team member rolls a 7+ on any move in a fight or crisis, the team gains +1 forward (applies to the next move made by any team member).",true)
	+move("Coven-Move","<b>Laws of Hospitality:</b> You can call a mystically enforced parlay with enemies that understand the concept. Should they break the truce, you gain +1 ongoing when opposing them, but if you break the truce, you take –1 ongoing. This lasts for the rest of the mystery.",true)
	+move("Coven-Move","<b>Bell, Book, and Candle:</b> Each member of the Coven counts as three people for the purposes of <b>use magic</b> or <b>big magic</b> requirements.",true)
	+move("Coven-Move","<b>Something Different:</b> Take a move from another team playbook.",true)
	+move("Coven-Move","<b>Change Team Style:</b> Pick a new team style. You now use that one instead of the one you first chose.",true)