.sheet-Survivors
	input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-Enemies-Unused', value='1', checked='')
	+move('Survivors-Enemy','The Black Knight, a faerie lord.')
	+move('Survivors-Enemy','All the vampires.')
	+move('Survivors-Enemy','A necromancer, with a plan to rule the world.')
	+move('Survivors-Enemy','Metaphysical Exploitation Holdings (MEH), a corporation that profits from ill-advised experimentation and exploitation of the supernatural.')
	+move('Survivors-Enemy','A conspiracy of chaos cultists.')
	+move('Survivors-Enemy','Something else:')
		div
			textarea(rows='2' name='attr_Survivors-Enemies-Custom')

