.sheet-Agents
	input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-Assets-Unused', value='1', checked='')
	+asset('Agents-Asset','<b>Mobile Base:</b> A helicopter, aeroplane, truck, or bus with facilities and mystery investigation supplies on board.',2)
	+asset('Agents-Asset','<b>Individual Transport:</b> Each mission, a regular car, motorbike, or bicycle is assigned to every team member.',1)
	+asset('Agents-Asset','<b>R&D Access:</b> Your team is issued with a useful high technology experiment from R&D each mission. The Keeper decides what it is (always useful, usually with problematic side effects).',1)
	+asset('Agents-Asset','<b>Headquarters:</b> A relatively secure space to use as a base in a Bureau regional facility. Everything you need to prepare for mysteries is here, and it’s quite secure.',2)
	+asset('Agents-Asset','<b>Sky Scanners:</b> You have access to a scanning network that will alert you to strange events coming from space. This includes weird phenomena as well as UFOs.',2)
	+asset('Agents-Asset','<b>Workshop:</b> A big space for craft and repair projects, with plenty of tools and materials.',1)
	+asset('Agents-Asset','<b>Disguise Kits:</b> Contains costumes, makeup, and other supplies for a quick change of appearance.',1)
	+asset('Agents-Asset','<b>Housing:</b> Each member of the team is assigned a one-bedroom apartment in a generic housing project. All the apartments are exactly the same, down to scuff marks on the door.',1)
	+asset('Agents-Asset','<b>Rapid Response Pods:</b> When any member of the team needs to get to a mission site quickly, a rapid response pod appears next to them. Enter the pod, and a short uncomfortable trip will place you where you need to be. What do the pods look like? How do they appear?',1)
	+asset('Agents-Asset','<b>Custom:</b>',1)
		div
			textarea(rows='2' name='attr_Agents-Asset-Custom')