.sheet-ResearchLab
	input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-Allies-Unused', value='1', checked='')
	+move("ResearchLab-Allies","Kana Harlison, a cat burglar with a taste for helping out in a crisis. Stealth is their deal, but they can’t resist stealing things if they get a chance.")
	+move("ResearchLab-Allies","Dalia Amin, a local community leader. They’ll get cooperation from locals, whether it’s taking cover or getting some manual labour done. They want you to look after the community, too.")
	+move("ResearchLab-Allies","Sergeant Qeb Gomez, local law enforcement. He can keep the team aware of what the cops plan to do, and act as your liaison.")
	+move("ResearchLab-Allies","CAMBELL, the lab AI. Handles most background computation and maintenance tasks. Exceptionally good at creating virtual scenarios to test theories.")
	+move("ResearchLab-Allies","Dr Yos Sokha, a former colleague. Can provide research and data from different teams and different viewpoints.")
	+move("ResearchLab-Allies","Questerr and Wrexy, diplomats from a friendly alien civilisation. They’re also concerned about your ongoing troubles, and sometimes provide you with rare resources or advanced technology.")
	+move('ResearchLab-Allies','Someone else:')
		div
			textarea(rows='2' name='attr_ResearchLab-Allies-Custom')
