.sheet-GoodMonsters
	input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-Enemies-Unused', value='1', checked='')
	+move("GoodMonsters-Enemy","Titus, an ancient vampire who you all once worked for. Did you betray Titus or did he betray you?")
	+move("GoodMonsters-Enemy","All the Eaters. Eaters are possessor spirits from another dimension. If they get into your soul, you become a mindless devourer.")
	+move("GoodMonsters-Enemy","Huwawa, a possibly immortal human (?) who created or unleashed your monster sides through dangerous experimentation.")
	+move("GoodMonsters-Enemy","The Facility, a supposedly scientific institution that captures and tortures monsters. Its staff are obsessive in hunting down the supernatural.")
	+move("GoodMonsters-Enemy","A team of monster hunters who always seem to be one step away from discovering your natures. Note for the Keeper: it’s up to you if these hunters are on the side of good or evil—they could be decent folk, fanatical monster slayers, or anything in between.")
	+move('GoodMonsters-Enemy','Something else:')
		div
			textarea(rows='2' name='attr_GoodMonsters-Enemies-Custom')

