+otherTeamPlaybooksHeader('The Last Survivors')
.sheet-Survivors.sheet-OPB
	input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-Team-Moves-Unused', value='1', checked='')
	+move('Survivors-Move','<b>Determined Guardians:</b> When one of the hunters <b>protects</b> a bystander, the target never takes harm: even on a miss, that bystander is totally safe. The hunter doing the protection still suffers the full effects of the roll result.','share')
	+move('Survivors-Move','<b>Field Medics:</b> When you treat an injured bystander, they are stabilised and well enough to manage until they can get proper medical attention. When you treat another hunter, pick if you heal 2-harm or stabilise them. Then they take +1 forward.','share')
	+move('Survivors-Move','<b>Checklists:</b> Once per mystery, each hunter in need of a particular item may declare they have it. Narrate a flashback explaining why they thought to include it in their gear. If the item is especially rare, strange, or unusual (this is the Keeper’s call), then this move can’t be used again by any hunter until the next mystery.','share')
	+move('Survivors-Move','<b>Keep on Goin’:</b> When you’re protecting bystanders from danger, any move that would prevent you from taking action due to harm, stress, or panic has its effect deferred. You can keep going for now, but once everyone is safe the full effects of what you’ve been through hit you.','share')
	+move('Survivors-Move','<b>Shared Dangers:</b> When you take a moment to share your worries and fears about a previous or upcoming battle with another hunter, you both choose one: heal 1-harm, or take +1 forward.','share')
	+move('Survivors-Move','<b>Something Different:</b> Take a move from another team playbook.','share')
	+move('Survivors-Move','<b>Change Team Style:</b> Pick a new team style. You now use that one instead of the one you first chose.','share')