+otherTeamPlaybooksHeader('Whistleblowers')
.sheet-Whistleblowers.sheet-OPB
	input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-Team-Moves-Unused', value='1', checked='')
	+move('Whistleblowers-Move','<b>Something Rotten:</b> When <b>investigating a mystery</b> and rolling a 7+, you can ask “How does this relate to the bad things I suspect about my organisation?” in addition to one of the usual questions.','share')
	+move('Whistleblowers-Move','<b>Organisation’s Help:</b> When you ask for the organisation’s help—gear, intel, or personnel—tell your superiors why you need it and roll +Charm. On a 10+, you get what you asked for. On a 7–9, you get it, but sooner or later the organisation will check up on you. On a miss, they don’t give it to you and someone in the organisation learns of your true intentions if you didn’t state them.','share')
	+move('Whistleblowers-Move','<b>Specialised:</b> Each of you can get +1 to a single rating (maximum +3) at the cost of –1 to a different rating (minimum –2).','share')
	+move('Whistleblowers-Move','<b>Coordinated:</b> Training in the organisation made you especially adept at helping each other. Your team holds 3 at the beginning at each mystery. Each of you can spend 1 to get +1 forward to <b>help out</b> and give the one you help +2 instead of +1 if your move is successful.','share')
	+move('Whistleblowers-Move','<b>Power Dynamics:</b> Add “Who’s the boss here?” and “Who doesn’t want to be a part of this?” to the list of your questions for <b>read a bad situation</b> and <b>investigate a mystery</b>.','share')
	+move('Whistleblowers-Move','<b>Something Different:</b> Take a move from another team playbook.','share')
	+move('Whistleblowers-Move','<b>Change Team Style:</b> Pick a new team style. You now use that one instead of the one you first chose.','share')