.sheet-Hauntbusters
	input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-Allies-Unused', value='1', checked='')
	+move('Hauntbusters-Allies','Whisp, an architect. They have been kidnapped by the fae and narrowly escaped, and now specialise in enchanted and cursed buildings.')
	+move('Hauntbusters-Allies','Svietlana Roscheva, an archivist and hacker (or, in Gothic Century, a burglar). Cracks archives and records she thinks should be publicly available from her hideout in Lviv.')
	+move('Hauntbusters-Allies','Who-was-I, a benevolent amnesiac ghost. They haunt their old home and can keep other supernatural influences from entering there, but need their guests’ help in reconstructing their lost memories.')
	+move('Hauntbusters-Allies','No More Mess, a renovation and cleaning team. They can put any building into top shape within hours.')
	+move('Hauntbusters-Allies','On the Road, a cheap motel franchise. The owners owe you favours, and you can stop at the facilities for free, as well as arrange short-term accommodation for other people.')
	+move('Hauntbusters-Allies','Someone else:')
		div
			textarea(rows='2' name='attr_Hauntbusters-Allies-Custom')

