.sheet-Mercenaries
	input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-Enemies-Unused', value='1', checked='')
	+move('MysteryClub-Enemy','Pethas, a dragon.')
	+move('MysteryClub-Enemy','All the werewolves.')
	+move('MysteryClub-Enemy','Ozahr, an immortal and megalomaniac wizard.')
	+move('MysteryClub-Enemy','The Fates.')
	+move('MysteryClub-Enemy','A conspiracy of political leaders secretly creating a global dictatorship.')
	+move('Mercenaries-Enemy','Something else:')
		div
			textarea(rows='2' name='attr_Mercenaries-Enemies-Custom')
