.sheet-ArtifactCollectors
	input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-Assets-Unused', value='1', checked='')
	+asset("ArtifactCollectors-Asset","<b>Mobile Base:</b> A large vehicle that can carry most of your gear and some of their facilities. Perhaps an RV, 18-wheeler, or a yacht.",2)
	+asset("ArtifactCollectors-Asset","<b>Smuggler Connections:</b> Smuggler contacts who can get things across borders undisturbed. They can tell you about other illicit transportations they’ve heard about, too.",1)
	+asset("ArtifactCollectors-Asset","<b>Approved Artifacts:</b> Access to supernatural devices and artifacts that have been found safe for use. Create two pieces of gear with moderate powers, or one with a major power, with the Keeper’s agreement.",2)
	+asset("ArtifactCollectors-Asset","<b>Transportation:</b> Each team member has transportation of their own—a car, motorcycle, or bicycle.",1)
	+asset("ArtifactCollectors-Asset","<b>Halls of Academia:</b> Strong connections to scholars, who can provide information on myths or last sightings of long-lost treasures.",1)
	+asset("ArtifactCollectors-Asset","<b>Vault:</b> For artifacts you can’t trust in anybody’s hands and don’t know how to destroy, you have a secure vault that keeps them secure and neutralises their powers within.",2)
	+asset("ArtifactCollectors-Asset","<b>Headquarters:</b> A headquarters where you can store all your gear and have places to live if need be.",1)
	+asset("ArtifactCollectors-Asset","<b>Front Business:</b> A humble business the team operates, diverting most casual inspection.",1)
	+asset("ArtifactCollectors-Asset","<b>Official Connections:</b> Back-door connections with public authorities. As long as you don’t get too loud, you can get some help from that direction.",1)
	+asset('ArtifactCollectors-Asset','<b>Custom:</b>',1)
		div
			textarea(rows='2' name='attr_ArtifactCollectors-Asset-Custom')
