.sheet-SuburbanWatch
	input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-Allies-Unused', value='1', checked='')
	+move('SuburbanWatch-Allies','Asani, an old and knowledgeable witch.')
	+move('SuburbanWatch-Allies','Petersen, a police officer. Community-minded, they know you help people out and they help you too.')
	+move('SuburbanWatch-Allies','Red, cafe/bar/restaurant manager. You’re always welcome in their place, and they hear a lot of gossip.')
	+move('SuburbanWatch-Allies','The SWG, an ally team. These are newer members of the SWG. They can patrol, report events, and help people to safety. They’re not ready to take on monsters directly.')
	+move('SuburbanWatch-Allies','The sports club, an ally team. What sport do you all play? The other club members will do you a favour now and then. Useful for getting information from organisations you don’t have direct access to.')
	+move('SuburbanWatch-Allies','Someone else:')
		div
			textarea(rows='2' name='attr_SuburbanWatch-Allies-Custom')

