.sheet-ArmyOfOne
	input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-Enemies-Unused', value='1', checked='')
	+move('ArmyOfOne-Enemy','One, a narcissistic demon disgusted by any signs of unity and similarity.')
	+move('ArmyOfOne-Enemy','All the doppelgängers.')
	+move('ArmyOfOne-Enemy','Rahed, an occult scientist trying to achieve immortality by jumping between bodies.')
	+move('ArmyOfOne-Enemy','Nyarlathotep, a messenger of cosmic chaos who’d love you to become their avatars.')
	+move('ArmyOfOne-Enemy','Humanity Singularity Project, an international group wanting to connect all people with a hive mind.')
	+move('ArmyOfOne-Enemy','A rogue copy of you.')
	+move('ArmyOfOne-Enemy','Something else:')
		div
			textarea(rows='2' name='attr_ArmyOfOne-Enemies-Custom')
