.sheet-GoodMonsters
	input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-Allies-Unused', value='1', checked='')
	+move("GoodMonsters-Allies","Dr Jeong, monster counsellor. Helps you with the difficulties of being a monster in a human world.")
	+move("GoodMonsters-Allies","Ash-risen, a mystical merchant. Great at getting credentials that are just as good as the real thing, until the glamour wears off.")
	+move("GoodMonsters-Allies","Cat Bhamra, a journalist. Provides you with tips, and might help smooth over your involvement in strange events.")
	+move("GoodMonsters-Allies","Just Like You, an ally team. This is an online support forum for monsters. They often come across rumours, plus you can discuss issues with them that others won’t understand.")
	+move("GoodMonsters-Allies","The Go-Getters, an ally team. A team of monster hunters you’re on good terms with. Do they know your secret?")
	+move('GoodMonsters-Allies','Someone else:')
		div
			textarea(rows='2' name='attr_GoodMonsters-Allies-Custom')
