.sheet-League
	input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-Allies-Unused', value='1', checked='')
	+move('League-Allies','Shinzō, a retro-weaponsmith. Their creations look like fancy souvenirs but have various magical properties.')
	+move('League-Allies','FaceBog, a doppelganger. They’ll impersonate you at various social events if you ask them nicely.')
	+move('League-Allies','Hedwig, a journalist. She believes in your public causes and is willing to cover up some things for you, but sometimes asks difficult questions.')
	+move('League-Allies','Monster Hunters Fan Club. They know your secret identities, but not your public ones.')
	+move('League-Allies','Spirits of the city’s founders. They remember how the city once was and have clashed with occult forces that threaten it.')
	+move('League-Allies','Someone else:')
		div
			textarea(rows='2' name='attr_League-Allies-Custom')
