+otherTeamPlaybooksHeader('Wild Hunt Fugitives')
.sheet-Fugitives.sheet-OPB
	input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-Team-Moves-Unused', value='1', checked='')
	+move('Fugitives-Move','<b>Always on the Run:</b> When you enter a new location, one of you can ask either “What’s the best way to hide here” or “What would be the best way to escape from here?” When you act on the answers, you get +1 ongoing, just as if it were a <b>read a bad situation</b> question.','share')
	+move('Fugitives-Move','<b>You Can’t Take Us:</b> Once per mystery, each of you can treat a protect someone roll as if you rolled a 12.','share')
	+move('Fugitives-Move','<b>Ride with the Thunder:</b> When you race against someone having a comparable speed, you always win. When you race against someone faster or against the Wild Hunt, you can <b>use magic</b> to win anyway.','share')
	+move('Fugitives-Move','<b>Sense of the Hunt:</b> When a monster hunts a mortal in the area where you are (up to about 2 miles), you sense it, but without any details. You can <b>read a bad situation</b> to get more info on this situation, but if you fail, you get –1 ongoing to helping the hunted mortals.','share')
	+move('Fugitives-Move','<b>Legend Amongst Monsters:</b> Each of you can <b>manipulate</b> monsters as if you had the <b>Dark Negotiator</b> move. If you fail an <b>investigate</b> a mystery move, the monster learns it’s investigated by those who escaped the Wild Hunt.','share')
	+move('Fugitives-Move','<b>Something Different:</b> Take a move from another team playbook.','share')
	+move('Fugitives-Move','<b>Change Team Style:</b> Pick a new team style. You now use that one instead of the one you first chose.','share')
