.sheet-Hauntbusters
	input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-Assets-Unused', value='1', checked='')
	+asset('Hauntbusters-Asset','<b>Mobile Base:</b> A truck or bus with bunks and mystery investigation supplies on board.',2)
	+asset('Hauntbusters-Asset','<b>Individual Transport:</b> A regular car, motorbike, or bicycle for every team member.',1)
	+asset('Hauntbusters-Asset','<b>Maps:</b> A map of suspected haunts and a slightly out-of-date map of confirmed haunts for a large region.',1)
	+asset('Hauntbusters-Asset','<b>Headquarters:</b> A relatively secure space to use as a base. There’s room for all your monster hunting gear and books, maybe even space to sleep and a kitchen.',2)
	+asset('Hauntbusters-Asset','<b>Mystical Workroom:</b> A space set aside for magical operations. It can stand in for one requirement of a use magic or big magic move.',2)
	+asset('Hauntbusters-Asset','<b>Workshop:</b> A big space for craft and repair projects, with plenty of tools and materials.',1)
	+asset('Hauntbusters-Asset','<b>Lockpicks:</b> Lockpicks and other tools for breaking into buildings.',1)
	+asset('Hauntbusters-Asset','<b>Cleaning Supplies:</b> Chemicals to dispose of evidence and bodies fast.',1)
	+asset('Hauntbusters-Asset','<b>Recording Gear:</b> Recording equipment with remote access.',1)
	+asset('Hauntbusters-Asset','<b>Custom:</b>',1)
		div
			textarea(rows='2' name='attr_Hauntbusters-Asset-Custom')



