.sheet-RadioStation
	input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-Allies-Unused', value='1', checked='')
	+move("RadioStation-Allies","Natalya Angelique, a sound designer. Great at isolating weird sounds from recordings.")
	+move("RadioStation-Allies","Executive Producer Fujita Tarō, who juggles a bunch of shows on many networks. Always up for some tasty drama and handling any of the back-end issues of the station.")
	+move("RadioStation-Allies","International Hunting Group of Awesome, internet friends from around the world with wide knowledge. They’re great for answers on obscure lore.")
	+move("RadioStation-Allies","Pearl Aiza, an actor and witch. Knows how to shape a magic ritual into something entertaining and respectful. Good for blessings in a pinch.")
	+move("RadioStation-Allies","Levi Shalom, an excellent crafter and engineer with a custom wheelchair. If you need some good custom gear, they’re who to count on.")
	+move("RadioStation-Allies","Hibo Salah has a deep understanding of the independent music scene. May or may not secretly be a supernatural creature.")
	+move('RadioStation-Allies','Someone else:')
		div
			textarea(rows='2' name='attr_RadioStation-Allies-Custom')
