.sheet-MundaneMonstrosities
	input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-Enemies-Unused', value='1', checked='')
	+move("MundaneMonstrosities-Enemy","Karen and Kevin, fanatical witch hunters.")
	+move("MundaneMonstrosities-Enemy","Sanctioned Policy Licensing Evil Exploitation Normative (SPLEEN), a secret agency hunting and weaponising the supernatural.")
	+move("MundaneMonstrosities-Enemy","The Council of Elder Entities. Wants to keep everything exactly the way it is.")
	+move("MundaneMonstrosities-Enemy","All the realtors. What are they really up to? Why would they want to grab so many haunted houses?")
	+move("MundaneMonstrosities-Enemy","That stuck-up supernatural clique that always works against you.")
	+move("MundaneMonstrosities-Enemy","Helen and Jeb Derry, unethical hosts of a cryptozoology show who use it as a cover for their occult schemes.")
	+move("MundaneMonstrosities-Enemy","Janika Smirnov, a manipulative villain pitting groups against each other for mysterious reasons.")
	+move('MundaneMonstrosities-Enemy','Something else:')
		div
			textarea(rows='2' name='attr_MundaneMonstrosities-Enemies-Custom')

