.sheet-Survivors
	input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-Allies-Unused', value='1', checked='')
	+move('Survivors-Allies','Zhu, a law enforcement officer. They can help you with legal difficulties in their jurisdiction.')
	+move('Survivors-Allies','Davis, a therapist specialising in trauma recovery.')
	+move('Survivors-Allies','Dr Basu, a medical doctor.')
	+move('Survivors-Allies','The next generation, an ally team. These younger monster hunters are relatives of those who died in the battle, taking up the family calling.')
	+move('Survivors-Allies','The Network, an ally team. This is a group of people who keep watch for  big supernatural dangers, and can get you warnings in time to intervene.')
	+move('Survivors-Allies','Someone else:')
		div
			textarea(rows='2' name='attr_Survivors-Allies-Custom')

