.sheet-SuburbanWatch
	input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-Enemies-Unused', value='1', checked='')
	+move('SuburbanWatch-Enemy','The Pale Man, the powerful and malevolent ghost of a mass murderer who lived here a long time ago.')
	+move('SuburbanWatch-Enemy','All the ghouls. A big cemetery nearby attracts their attention.')
	+move('SuburbanWatch-Enemy','Bradshaw, a property developer who wants to rebuild the city—by any means necessary.')
	+move('SuburbanWatch-Enemy','Discord, goddess of chaos and disorder.')
	+move('SuburbanWatch-Enemy','A conspiracy of vampires trying to take over your community.')
	+move('SuburbanWatch-Enemy','Something else:')
		div
			textarea(rows='2' name='attr_SuburbanWatch-Enemies-Custom')

