.sheet-ArmyOfOne
	input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-Allies-Unused', value='1', checked='')
	+move('ArmyOfOne-Allies','The Clusterist, an experimental biologist. They created you, but have no idea how exactly. They want to help you, and love to research you.')
	+move('ArmyOfOne-Allies','Sarah, a makeup artist. She can easily make you indistinguishable from each other.')
	+move('ArmyOfOne-Allies','Robert and Roberta, twins. They understand each other perfectly, and thus also understand your situation very well.')
	+move('ArmyOfOne-Allies','Always Safe, a group of bodyguards, an ally team. They like working with you, and for some reason, there are always as many people in their group as there are you.')
	+move('ArmyOfOne-Allies','Transcendent Telepaths, an ally team of beginner monster hunters. Your presence focuses their telepathic powers, but those powers sometimes reveal strange things about you.')
	+move('ArmyOfOne-Allies','Someone else:')
		div
			textarea(rows='2' name='attr_ArmyOfOne-Allies-Custom')
