.sheet-MonsterRevs
	input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-Allies-Unused', value='1', checked='')
	+move('MonsterRevs-Allies','Prentice, your editor/boss. They provide your leads and yell at you for anything that isn’t up to standard.')
	+move('MonsterRevs-Allies','Professor Yusuf, a forensic analyst. Lots of experience with crime scenes, but also open to stranger possibilities.')
	+move('MonsterRevs-Allies','Dr Batbayar, a medical doctor. Will patch you up if necessary.')
	+move('MonsterRevs-Allies',' “Secrets of Cryptidology,” another team of supernatural journalists. You have a friendly rivalry, but help each other out when it’s important.')
	+move('MonsterRevs-Allies','MCM Investigations, a private investigation company you’ve worked with many times before.')
	+move('MonsterRevs-Allies','Someone else:')
		div
			textarea(rows='2' name='attr_MonsterRevs-Allies-Custom')

