.sheet-Entourage
	input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-Enemies-Unused', value='1', checked='')
	+move('Entourage-Enemy','Alpha, an immortal werewolf.')
	+move('Entourage-Enemy','All the vampires.')
	+move('Entourage-Enemy','Seth Vail, a billionaire who wants to harness the power of monsters, starting with immortality for himself.')
	+move('Entourage-Enemy','The Father of Monsters, the cosmic entity who is the source of evil in the world.')
	+move('Entourage-Enemy','The Grey Priests, a conspiracy to bring about the end of the world and birth of a new one.')
	+move('Entourage-Enemy','Something else:')
		div
			textarea(rows='2' name='attr_Entourage-Enemies-Custom')

