+otherTeamPlaybooksHeader('Thrill-Seekers')
.sheet-ThrillSeekers.sheet-OPB
	input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-Team-Moves-Unused', value='1', checked='')
	+move('ThrillSeekers-Move','<b>Fun Now, Questions Later:</b> When you throw yourself into a dangerous situation, taking all risks and oncomers, take +1 forward.','share')
	+move('ThrillSeekers-Move','<b>Parasocial Relationship:</b> When you stream a part of your investigation online, one of you can ask either “Has anyone seen anything weird in the area?” or “Who’s got a theory?” When you act on the answers, you get +1 ongoing.','share')
	+move('ThrillSeekers-Move','<b>You Can’t Touch This:</b> Once per mystery, each of you can negate harm you just received. Describe the impressive stunt you pulled off to do so.','share')
	+move('ThrillSeekers-Move','<b>Pact with Death Itself:</b> One day, Death will truly claim you. But until then, enjoy this borrowed time. When you pick this move, it replaces the Resurrection special move. When one of you is slain, you can always return to life whenever you wish. When you do, choose one:<ul><li>Death gives you a difficult task. If it’s not completed to Death’s satisfaction before the end of the next mystery, Death will take its due instead.<li>Death will see through your eyes and feel through your body until they experience something truly unique.<li>Death will take an aspect of your soul—describe how you are forever changed.</ul>','share')
	+move('ThrillSeekers-Move','<b>Viral Personality:</b> Every once in a while, someone catches your dare and panache on video. There’s always plausible deniability that the monster you fought was really good CGI. When you describe a viral video and say you’re the same group in the video, it works as a reason for people to do as you ask when you <b>manipulate someone.</b>','share')
	+move('ThrillSeekers-Move','<b>Something Different:</b> Take a move from another team playbook.','share')
	+move('ThrillSeekers-Move','<b>Change Team Style:</b> Pick a new team style. You now use that one instead of the one you first chose.','share')


