.sheet-Coven
	input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-Assets-Unused', value='1', checked='')
	+asset("Coven-Asset","<b>Headquarters:</b> A secure location to hold your gear and ritual spaces. There’s also places to rest in a pinch.",1)
	+asset("Coven-Asset","<b>Sanctuaries:</b> Each team member has access to a private space that is theirs alone. This can be part of a headquarters or separate locations.",1)
	+asset("Coven-Asset","<b>Scrying Device:</b> Access to a powerful divination artifact, such as a sacred pool granting visions or a magic mirror.",2)
	+asset("Coven-Asset","<b>Wards and Barriers:</b> Sanctuaries and Headquarters are permanently protected with supernatural alarms and barriers, and members get +1 ongoing when placing similar protections elsewhere.",2)
	+asset("Coven-Asset","<b>Archive:</b> A large collection of tales of supernatural problems from the past. After consulting the library, take +1 forward to <b>investigate a mystery</b>.",1)
	+asset("Coven-Asset","<b>Armoury:</b> A small collection of mundane arms and armour, modern and ancient.",1)
	+asset("Coven-Asset","<b>Leyline Map:</b> An enchanted map showing the arrangement of magical forces in your region.",2)
	+asset("Coven-Asset","<b>Ritual Cupboard:</b> Storage for ingredients frequently used in spells. Each team member, once per mystery, may find one spell ingredient here.",1)
	+asset('Coven-Asset','<b>Custom:</b>',1)
		div
			textarea(rows='2' name='attr_Coven-Asset-Custom')

