.sheet-Road
	input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-Allies-Unused', value='1', checked='')
	+move('Road-Allies','Detective Barnes, a police detective who you saved from a monster way back when. They’ll help you out with some information now and then, and possibly more when you’re on their turf.')
	+move('Road-Allies','Bingo, an always-online researcher into strangeness. They can put you in touch with people who need help, coordinate communication, and help you with research.')
	+move('Road-Allies','Sapphire, who has the ability to manipulate time in certain ways. You suspect she may be very long-lived or even immortal. She is not always easy to contact, and can appear unexpectedly.')
	+move('Road-Allies','Another group of travelling hunters, an ally team. They can back you up monster hunting—you’ve helped each other out several times, when things got tricky.')
	+move('Road-Allies','Universal Cleanup Services, an ally team. A franchise that specialises in cleaning up messes like crime scenes and monster attacks.')
	+move('Road-Allies','Someone else:')
		div
			textarea(rows='2' name='attr_Road-Allies-Custom')
