.sheet-SwipeToSlay
	input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-Allies-Unused', value='1', checked='')
	+move("SwipeToSlay-Allies","Nak Shimma, a regular client. Is he really that unlucky? Anyway, he’s researching the app.")
	+move("SwipeToSlay-Allies","“The Derision of the Crest’s Edge,” a benign slime demon who’s interested in the app and loves to talk about it.")
	+move("SwipeToSlay-Allies","Alamo Rick, a traditional hunter who doesn’t trust the app. He can give some monster hunting help.")
	+move("SwipeToSlay-Allies","Brother W. Adisu, a big priest with a gentle soul. Provides grounded advice both practical and ethical.")
	+move("SwipeToSlay-Allies","Sketch and Sykoking, another hunting team on the app who sometimes reach out to compare notes.")
	+move("SwipeToSlay-Allies","Frank Keep, a computer security specialist who has been digging into the app and has concerns.")
	+move('SwipeToSlay-Allies','Someone else:')
		div
			textarea(rows='2' name='attr_SwipeToSlay-Allies-Custom')