.sheet-EscapedExperiments
	input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-Allies-Unused', value='1', checked='')
	+move("EscapedExperiments-Allies","Maya Kaseem, a former agent of the Project. They think she’s dead. She found you and provides insider knowledge.")
	+move("EscapedExperiments-Allies","Britt Ravyn, owner and operator of a blog called “The Observer.” You suspect they’re on the run too.")
	+move("EscapedExperiments-Allies","Oracle Chantesuta, a chemical engineer at a university. A gentle soul, equal parts kind and righteously outraged.")
	+move("EscapedExperiments-Allies","Little Sister, an AI that escaped with you. Speaks in emojis. She is especially good at interrupting or subverting surveillance. Yes, Little Sister “pwns” Big Brother.")
	+move("EscapedExperiments-Allies","Raisa Neri, a young doctor who helps the team out with healthcare and biological theories.")
	+move("EscapedExperiments-Allies","Jay “Wage” Donohue, a veteran retail worker with a spooky knack to have exactly what you need.")
	+move('EscapedExperiments-Allies','Someone else:')
		div
			textarea(rows='2' name='attr_EscapedExperiments-Allies-Custom')
