.sheet-MundaneMonstrosities
	input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-Assets-Unused', value='1', checked='')
	+asset("MundaneMonstrosities-Asset","<b>Tutorial Focus:</b> The team has access to a collection of how-to texts, a crystal ball, recording device, or some other source of information to learn about advanced applications of their powers. It’s not as good as a skilled teacher, but it’s better than a bad one.",1)
	+asset("MundaneMonstrosities-Asset","<b>Housing:</b> Each member of the team has some form of reasonably comfortable living situation.",1)
	+asset("MundaneMonstrosities-Asset","<b>Magical Hangout:</b> A local business (perhaps a bar, library, arcade, or cafe) is more than it appears. You’re welcome there and can find advice or temporary sanctuary.",2)
	+asset("MundaneMonstrosities-Asset","<b>Supernatural Communications:</b> Magical devices allow you to talk to each other remotely. By default, they’re magical earrings, but pick a different form if you prefer.",1)
	+asset("MundaneMonstrosities-Asset","<b>Ritual Ingredients:</b> You have a selection of materials that can be used for a number of different rituals. This can fill in for one requirement whenever you <b>use magic</b> or perform <b>big magic</b>.",1)
	+asset("MundaneMonstrosities-Asset","<b>Protective Amulets:</b> You have acquired some magical protections. Once per session, each hunter may cancel a single magical effect placed on them.",2)
	+asset("MundaneMonstrosities-Asset","<b>Transportation:</b> Each hunter has access to some sort of transport: a car, motorcycle, flying broom, bicycle, or magic carpet.",1)
	+asset("MundaneMonstrosities-Asset","<b>The Spirit-Web:</b> You have discovered a thriving internet presence consisting of supernaturals and people in the know.",1)
	+asset("MundaneMonstrosities-Asset","<b>Clubhouse:</b> You have established a private location where the team can get together, keep your hunter gear, and relax out of the public eye.",1)
	+asset('MundaneMonstrosities-Asset','<b>Custom:</b>',1)
		div
			textarea(rows='2' name='attr_MundaneMonstrosities-Asset-Custom')

