.sheet-NightShift
	input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-Enemies-Unused', value='1', checked='')
	+move('NightShift-Enemy','Your manager.')
	+move('NightShift-Enemy','The Queen of the Bug Monsters.')
	+move('NightShift-Enemy','The Monarch of Waste, a cosmic entity of disorder and ruin.')
	+move('NightShift-Enemy','A conspiracy within the company, using the workplace for a sinister occult plan.')
	+move('NightShift-Enemy','The thing in the basement. You don’t know what it is, but it’s evil.')
	+move('NightShift-Enemy','Something else:')
		div
			textarea(rows='2' name='attr_NightShift-Enemies-Custom')
