.sheet-Guardians
	input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-Style-Unused', value='1', checked='')
	+move('Guardians-Style','<b>Ancient Oath:</b> You are the holders of an ancient obligation to guard the world’s border. Decide what the oath requires of you. At the end of each session, ask: “Did we hold to our oath?”')
		div
			+translate('The oath:')
		div
			textarea(rows='2' name='attr_Guardians-Style-Oath')
	+move('Guardians-Style','<b>Wrong Place, Wrong Time:</b> You were there to stop the first incursion, and now feel obliged to prevent anything else from coming through. At the end of each session, ask: “Did we protect the world from what lies beyond?”')
	+move('Guardians-Style','<b>Born & Raised:</b> You all grew up, or settled, here. Dimensional incursions are a part of life, even if a lot of people don’t like to admit it. At the end of each session, ask: “Did we look after our normal relationships with friends and families?”')
	+move('Guardians-Style','<b>Custom:</b> What’s your story?')
		div
			textarea(rows='2' name='attr_Guardians-Style-Custom-Story')
		div
			+translate('At the end of each session, ask:')
		div
			textarea(rows='2' name='attr_Guardians-Style-Custom-Question')


