+otherTeamPlaybooksHeader('Hauntbusters')
.sheet-Hauntbusters.sheet-OPB
	input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-Team-Moves-Unused', value='1', checked='')
	+move('Hauntbusters-Move','<b>Places of Evil:</b> When you enter a location filled with supernatural evil, like a haunt, you can ask a free question from the <b>read a bad situation</b> list, and get +1 ongoing to act on the answer.','share')
	+move('Hauntbusters-Move','<b>Bad Vibes:</b> When any of you are near a persistent, malevolent magic effect, you feel a shudder. You can immediately ask one <b>investigate a mystery</b> question about this effect at the cost of taking -1 forward or 1-harm ignore-armour (your choice).','share')
	+move('Hauntbusters-Move','<b>Survive the Worst:</b> Once per mystery, when in danger, each of you can reduce harm received by 2. You have to tend to your wounds as soon as you’re back to safety, otherwise your reduced harm returns.','share')
	+move('Hauntbusters-Move','<b>Roots of Evil:</b> When you analyse or observe two or more supernatural effects, you can always tell which of them have been caused, or stem from, the others (if at all).','share')
	+move('Hauntbusters-Move','<b>Locked Power:</b> You know a <b>big magic</b> ritual that requires at least three participants, an hour, and an object from the place you want to enchant. This ritual makes a supernatural entity or phenomenon that’s in any way bound to a location weaker outside this location for the next 24 hours in one of the following ways:<ul><li>Usage of its powers outside this location is obviously supernatural and draws lots of attention.<li>You always know when it uses its power.<li>Using its power hurts a lot, making it unwilling to do so until really desperate.<li>It weakens its power, giving you +1 forward to acting against it.</ul>','share')
	+move('Hauntbusters-Move','<b>Something Different:</b> Take a move from another team playbook.','share')
	+move('Hauntbusters-Move','<b>Change Team Style:</b> Pick a new team style. You now use that one instead of the one you first chose.','share')
