.sheet-IMPS
	input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-Assets-Unused', value='1', checked='')
	+asset('IMPS-Asset','<b>Skywarden:</b> A high tech transport aircraft that has all your essential gear on board and acts as your base on mission assignments. If you have the <b>Rapid Deployment</b> move, the Skywarden is upgraded with supersonic engines.',2)
	+asset('IMPS-Asset','<b>Individual Transport:</b> Electric motorbikes for every team member.',1)
	+asset('IMPS-Asset','<b>Search and Rescue Gear:</b> A selection of useful tools for locating and rescuing people in disaster zones.',1)
	+asset('IMPS-Asset','<b>Headquarters:</b> A relatively secure space allocated to you in IMPS headquarters. There’s room for all your gear, and includes full living quarters.',2)
	+asset('IMPS-Asset','<b>Mystical Workroom:</b> A space set aside for magical operations. It can stand in for one requirement of a <b>use magic</b> or <b>big magic</b> move.',2)
	+asset('IMPS-Asset','<b>Workshop:</b> A big space for craft and repair projects, with plenty of technicians, tools, and materials.',1)
	+asset('IMPS-Asset','<b>Medical Supplies:</b> Everyone carries a first aid kit, and you have enough for a fully equipped infirmary back at your base or homes.',1)
	+asset('IMPS-Asset','<b>Fancy High Tech Uniforms:</b> Complete with built-in gadgets.',1)
	+asset('IMPS-Asset','<b>Housing:</b> A pleasant house for each team member and their family, provided by IMPS for when you’re off-duty. This may be anywhere in the world.',1)
	+asset('IMPS-Asset','<b>Custom:</b>',1)
		div
			textarea(rows='2' name='attr_IMPS-Asset-Custom')


