.sheet-Crisis
	input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-Enemies-Unused', value='1', checked='')
	+move('Crisis-Enemy','Dr Weltschmerz, a bitter and angry scientist who wants all worlds to suffer.')
	+move('Crisis-Enemy','Jauna, a merchant from Monster Marches who deals in interdimensional slave trade.')
	+move('Crisis-Enemy','Separator, an automaton guarding borders between the worlds.')
	+move('Crisis-Enemy','Iron Crusade, an invading force from a futuristic world.')
	+move('Crisis-Enemy','Your own evil versions from a mirrored universe.')
	+move('Crisis-Enemy','Something else:')
		div
			textarea(rows='2' name='attr_Crisis-Enemies-Custom')

