+otherTeamPlaybooksHeader('Good Monsters')
.sheet-GoodMonsters.sheet-OPB
	input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-Team-Moves-Unused', value='1', checked='')
	+move("GoodMonsters-Move","<b>Normal Human Activity:</b> When you <i>try to pass off something supernatural as nothing to pay attention to,</i> roll +Cool. On a 10+, nobody pays any attention. On a 7–9, either you are flustered or someone notices something is off. On a miss, you’re going to draw a lot of attention and make everything worse.",true)
	+move("GoodMonsters-Move","<b>Mark of Evil:</b> You all possess a mark of supernatural authority (perhaps a tattoo, amulet, or aura engram). Supernatural creatures will tend to do what you ask, unless they specifically know you have been exiled. Those who are aware of your exile might still give you a moment to explain yourself.",true)
	+move("GoodMonsters-Move","<b>Rite of Empowerment:</b> You have enacted a magical ritual to boost the team’s power. All team members gain +1 Weird. Hunters who already have +3 Weird gain +1 to a rating of their choice instead (max +3).",true)
	+move("GoodMonsters-Move","<b>Too Many Monsters!:</b> If more than one of you <i>demonstrates your monstrous nature in the course of an action scene</i>, a hunter may menace any bystanders present—for their own good. They flee the area in fear, stopping once they are somewhere safe and quiet.",true)
	+move("GoodMonsters-Move","<b>Mystic Radio:</b> You have an enchantment that allows you all to talk to each other at any time, as a shared telepathic link. It does not work when you are separated by a magical warding or when you are in another dimension or world.",true)
	+move("GoodMonsters-Move","<b>Something Different:</b> Take a move from another team playbook.",true)
	+move("GoodMonsters-Move","<b>Change Team Style:</b> Pick a new team style. You now use that one instead of the one you first chose.",true)