+otherTeamPlaybooksHeader('Back to Square One')
.sheet-SquareOne.sheet-OPB
	input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-Team-Moves-Unused', value='1', checked='')
	+move('SquareOne-Move','<b>Scattered, but Not Lost:</b> Once per mystery, each of you can try to reach your lost potential. Roll +Cool. On a 10+, choose one of your lost improvements and apply it to you until the end of the mystery. On a 7–9, only apply it until you use it once. On a miss, for the current mystery, take -1 forward each time having this advancement would help you.','share')
	+move('SquareOne-Move','<b>Beginner’s Luck:</b> Each hunter on the team regains 1 spent Luck point.','share')
	+move('SquareOne-Move','<b>Living Legends:</b> You get +1 ongoing to manipulating bystanders and minions who know you as monster hunters and don’t know you’ve lost your powers. You can also manipulate monsters in this situation, but without +1 ongoing.','share')
	+move('SquareOne-Move','<b>Good to Be Back:</b> Each time any hunter regains one of their lost improvements, they hold 3 till the end of the next mystery. They can spend those holds to get +1 forward to any move.','share')
	+move('SquareOne-Move','<b>A Flash of Memory:</b> One of you regains one of the lost improvements. For every team improvement you have already marked, or will mark in the future, another one of you regains one of the lost improvements. If you regain all your lost improvements via <b>big magic</b> or other means, you can gain other improvements in place of ones regained with this move.','share')
	+move('SquareOne-Move','<b>Something Different:</b> Take a move from another team playbook.','share')
	+move('SquareOne-Move','<b>Change Team Style:</b> Pick a new team style. You now use that one instead of the one you first chose.','share')
	
	

