.sheet-ResearchLab
	input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-Assets-Unused', value='1', checked='')
	+t("You start with one asset in addition to The Lab.")
	+asset("ResearchLab-Asset","<b>The Lab:</b> You have a well-stocked and extensive laboratory complex that can be used for <b>weird science</b> and high-tech <b>big magic</b>, and has space for all your gear and instruments. There’s even some crash space for when you need to pull an all-nighter.",1,false,true)
	+asset("ResearchLab-Asset","<b>Sensor Array:</b> Instruments allowing you to keep track of weird phenomena in the area.",1)
	+asset("ResearchLab-Asset","<b>Cutting-Edge Analysis:</b> Access to any current device (no matter how expensive).",1)
	+asset("ResearchLab-Asset","<b>Manufacturing Bays:</b> A blend of 3D printers and old-school assembly lines. You can build any test device or prototype you want (but no mass production).",2)
	+asset("ResearchLab-Asset","<b>Medical Bay:</b> You have high-tech medical facilities equivalent to staying in a hospital.",1)
	+asset("ResearchLab-Asset","<b>Unobtanium:</b> You have access to a unique resource, allowing extreme science. Pick a name and use for the resource, and a research area that it helps you with. Consider all work in that area enhanced by the resource. ",1)
		+t("Resource:")
		+itext('ResearchLab-Asset-Unobtainium-Resource')
		+t("Area:")
		+itext('ResearchLab-Asset-Unobtainium-Area')
	+asset("ResearchLab-Asset","<b>More Unobtanium:</b> Select another special resource you have access to and the research area it helps with. ",1)
		+t("Resource:")
		+itext('ResearchLab-Asset-MUnobtainium-Resource')
		+t("Area:")
		+itext('ResearchLab-Asset-MUnobtainium-Area')
	+asset("ResearchLab-Asset","<b>Even More Unobtanium:</b> Select another special resource you have access to and the research area it helps with. ",1)
		+t("Resource:")
		+itext('ResearchLab-Asset-EMUnobtainium-Resource')
		+t("Area:")
		+itext('ResearchLab-Asset-EMUnobtainium-Area')
	+asset("ResearchLab-Asset","<b>Vehicle Bay:</b> The lab has a small fleet of vehicles. Describe a standard sort of ground vehicle and a single air vehicle.",1)
	+asset("ResearchLab-Asset","<b>Housing:</b> Each team member has comfortable and secure housing, either a small house or a comfortable condo. In either case, they’re loaded with tech.",1)
	+asset("ResearchLab-Asset","<b>Containment:</b> The lab has facilities to keep live creatures or dangerous materials securely contained.",2)
	+asset('ResearchLab-Asset','<b>Custom:</b>',1)
		div
			textarea(rows='2' name='attr_ResearchLab-Asset-Custom')

