.sheet-Agents
	input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-Allies-Unused', value='1', checked='')
	+move('Agents-Allies','Doctor “Blue,” a physician. They can help you recover from harm.')
	+move('Agents-Allies','Professor “Blood,” a forensic scientist. They are who you go to when you need evidence analysed.')
	+move('Agents-Allies','Agent “Will,” a field investigator. They’re a veteran of the Bureau, and can help you navigate problems with colleagues.')
	+move('Agents-Allies','Aquila Squad, an ally team. They are unofficially known as “the Extreme Problems” squad. They can handle anything unfazed, but their solutions can be a little... messy.')
	+move('Agents-Allies','SkullFangz, an ally team. This is a group of hackers you’ve made a sort of alliance with. They can help you get information through unorthodox channels, but they sometimes need you to do some odd or dubious favours in return.')
	+move('Agents-Allies','Someone else:')
		div
			textarea(rows='2' name='attr_Agents-Allies-Custom')
