.sheet-MysteryClub
	input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-Enemies-Unused', value='1', checked='')
	+move('MysteryClub-Enemy','Bradshaw, an evil property developer.')
	+move('MysteryClub-Enemy','The Ghost King.')
	+move('MysteryClub-Enemy','Dracula.')
	+move('MysteryClub-Enemy','Cryptids generally.')
	+move('MysteryClub-Enemy','A conspiracy of wizards who want to take over the world.')
	+move('MysteryClub-Enemy','Something else:')
		div
			textarea(rows='2' name='attr_MysteryClub-Enemies-Custom')

