+otherTeamPlaybooksHeader('Escaped Experiments')
.sheet-EscapedExperiments.sheet-OPB
	input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-Team-Moves-Unused', value='1', checked='')
	+move("EscapedExperiments-Move","<b>Ethical Concerns:</b> When a team member <b>reads a bad situation</b> or <b>investigates a mystery</b>, they can ask “Who has a guilty conscience?” or “Who has something they want to say?” in addition to their normal questions.",true)
	+move("EscapedExperiments-Move","<b>Camera Shy:</b> You’re skilled at avoiding cameras. Get +1 forward when <i>looking for hidden cameras or someone surreptitiously filming you</i>. At the start of each mystery, the team gets 3 hold. Spend this hold to avoid being caught on any camera.",true)
	+move("EscapedExperiments-Move","<b>Strike Back:</b> When the team <i>acts together to defy the Project or another oppressor</i>, they take +1 ongoing for the first clash.",true)
	+move("EscapedExperiments-Move","<b>Shared Pain:</b> When a team member <b>manipulates someone</b> who’s been through trauma, when they share their own feelings, it serves as a reason to go along with the request.",true)
	+move("EscapedExperiments-Move","<b>Cross-Training:</b> Each team member takes a new option from either Gowns or Scrubs.",true)
	+move("EscapedExperiments-Move","<b>Something Different:</b> Take a move from another team playbook.",true)
	+move("EscapedExperiments-Move","<b>Change Team Style:</b> Pick a new team style. You now use that one instead of the one you first chose.",true)