.sheet-PassingTheTorch
	input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-Enemies-Unused', value='1', checked='')
	+move('PassingTheTorch-Enemy','The Black Knight, a faerie lord.')
	+move('PassingTheTorch-Enemy','All the walking dead.')
	+move('PassingTheTorch-Enemy','A necromancer, with a plan to rule the world.')
	+move('PassingTheTorch-Enemy','Metaphysical Exploitation Holdings (MEH), a corporation that profits from ill-advised experimentation and exploitation of the supernatural.')
	+move('PassingTheTorch-Enemy','A conspiracy of chaos cultists.')
	+move('PassingTheTorch-Enemy','Something else:')
		div
			textarea(rows='2' name='attr_PassingTheTorch-Enemies-Custom')

