.sheet-Road
	input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-Enemies-Unused', value='1', checked='')
	+move('Road-Enemy','Halphas, a demon who has it in for you.')
	+move('Road-Enemy','All the vampires.')
	+move('Road-Enemy','Dr Crepuscule, who steals unnatural power from captured monsters.')
	+move('Road-Enemy','The King in Yellow, a god/force of corruption, decadence, and disease.')
	+move('Road-Enemy','A cabal of ghosts trying to secure the secret of returning to life.')
	+move('Road-Enemy','Something else:')
		div
			textarea(rows='2' name='attr_Road-Enemies-Custom')

