.sheet-SquareOne
	input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-Enemies-Unused', value='1', checked='')
	+move('SquareOne-Enemy','Loreleech, the ancient power-stealer who preyed on us.')
	+move('SquareOne-Enemy','All the vampire lords and alpha werewolves, once our equals, now greatly overpowering us.')
	+move('SquareOne-Enemy','CopyLynx, a villain trying to master all our powers and abilities.')
	+move('SquareOne-Enemy','Cycle Of Nothing, a malignant entity wanting us to keep returning to square one.')
	+move('SquareOne-Enemy','SN16, a secret government cell very happy with independent monster hunters becoming weaker.')
	+move('SquareOne-Enemy','Something else:')
		div
			textarea(rows='2' name='attr_SquareOne-Enemies-Custom')

