.sheet-ResearchLab
	input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-Enemies-Unused', value='1', checked='')
	+move("ResearchLab-Enemy","Dr J. Douglas, the former lab director who turned out to be evil.")
	+move("ResearchLab-Enemy","Canopy Research, a shadowy corporation turning people into monsters.")
	+move("ResearchLab-Enemy","Thaphaeth, an alien warlord trying to establish a beachhead on our world.")
	+move("ResearchLab-Enemy","The mothman, an extra-dimensional entity sowing chaos.")
	+move("ResearchLab-Enemy","All the aliens.")
	+move("ResearchLab-Enemy","Muramasa Heavy Industries, a weapons company.")
	+move('ResearchLab-Enemy','Something else:')
		div
			textarea(rows='2' name='attr_ResearchLab-Enemies-Custom')

