.sheet-Agents
	.sheet-Subsection
		+translate('The Bureau')
	input.sheet-checkbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-Agents-Bureau', value='1', checked='')
	span.sheet-anglebox
	span.sheet-ExpHeader
		+translate('Prompts')
	.sheet-Expander
		p
			+translate('The Bureau setup is determined by the group. Record your answers to these prompts in the Notes section below.')
		p
			+translate('If you have a hunter who belongs to an organisation already—like a Professional or an Initiate—you may combine their setup with the Bureau setup. Figure out how the two perspectives work for your Bureau. If you don’t like that idea, you can also keep them separate (which will lead to its own drama with split loyalties and rivalries).')
		p
			+translate('Now determine the nature of the Bureau:')
		ul
			li
				+translate('Is the Bureau an open, covert, or secret organisation? An open Bureau exists openly but has a cover responsibility to distract from their real mission. A covert Bureau doesn’t explicitly hide themselves, but they try not to draw attention. A secret Bureau has no official records and operates completely in the shadows.')
			li
				+translate('Who is your team’s handler or commanding officer and what are they like? Create your own or pick one of these:')
				ul
					li
						+translate('Special Agent “Coop” is a genial, avuncular middle-aged man. He’s disorganised and often loses track of details, but he always has the team’s back.')
					li
						+translate('Special Agent “Star” is a harsh boss. She doesn’t really seem to like you, and you never seem to measure up to her standards of “perfection plus.” She runs everything by the book (this can be good or bad for you).')
					li
						+translate('Provisional Special Agent “Fireball” is young and excitable. They prefer you deal with problems in a scorched earth style, without regard for consequences. That is also their management style.')
			li
				+translate('Who do you think is really running the Bureau? The government? A secret global government? Some other government? A billionaire? A secret conspiracy dating back to Uruk’s priesthood? Something else?')
.sheet-Road
	// Nothing for Road
.sheet-Entourage
	// Nothing for Entourage
.sheet-Guardians
	// Nothing for Guardians
.sheet-IMPS
	// Nothing for IMPS
.sheet-Crisis
	// Nothing for Crisis
.sheet-Survivors
	.sheet-Subsection
		+translate('The Event')
	+expanderMoveSection('Survivors-Event')
		p
			+translate('What is the terrible situation you all survived together?') 
		+move('Survivors-Event-Situation','A concerted assault by monsters, as you took shelter in an isolated cabin.')
		+move('Survivors-Event-Situation','A single terrifying monster invaded your homes.')
		+move('Survivors-Event-Situation','It was the only chance to avert an apocalypse.')
		+move('Survivors-Event-Situation','An invasion from another dimension.')
		+move('Survivors-Event-Situation','People around you were transformed into monsters.')
		+move('Survivors-Event-Situation','You were strangers in a small town filled with murderous monsters, on festival day.')
		+move('Survivors-Event-Situation','Something else:')
			div
				textarea(rows='2' name='attr_Survivors-Event-Situation-Custom')
		p
			+translate('Decide who the allies were who fought alongside you and died in battle. Each hunter picks one.')
		+move('Survivors-Event-Deceased','A monster hunting teammate.')
		+move('Survivors-Event-Deceased','Your spouse or lover.')
		+move('Survivors-Event-Deceased','Your sibling.')
		+move('Survivors-Event-Deceased','A parent.')
		+move('Survivors-Event-Deceased','A child.')
		+move('Survivors-Event-Deceased','Your mentor.')
		+move('Survivors-Event-Deceased','Your protégée.')
		+move('Survivors-Event-Deceased','Your dog (or other pet).')
		+move('Survivors-Event-Deceased','Someone else:')
			div
				textarea(rows='2' name='attr_Survivors-Event-Deceased-Custom')
		p
			+translate('Then decide how you saved the day in the end. Whatever it was, it came at great personal cost (beyond the loss you just chose).')
			div
				textarea(rows='2' name='attr_Survivors-Event-Saved-Cost')

.sheet-League
	// The City
	.sheet-Subsection
		+translate('The City')
	+expanderInstructions('League-City')
		p
			+translate('The city you all protect will be an important aspect of the story, more of a collective character of your mysteries than just a background element. Each player should choose one key aspect of the city from one of the following lists. Balance between good and bad things as fits the mood of your campaign.')
	+expanderMoveSection('League-City-Lists')
		div
			+translate('Good things')(class='sheet-Label')
		+move('League-City-Good','Cozy')
		+move('League-City-Good','Affluent')
		+move('League-City-Good','Good social care')
		+move('League-City-Good','Proud of its past')
		+move('League-City-Good','Lots of monuments')
		+move('League-City-Good','Highly ecological')
		+move('League-City-Good','Transparent politics')
		+move('League-City-Good','Technological hub')
		+move('League-City-Good','The nation’s main transport hub')
		+move('League-City-Good','Protected by benevolent magic')
		+move('League-City-Good','Beloved by travel vloggers')
		+move('League-City-Good','An extremely famous mayor')
		+move('League-City-Good','A university with unique departments')
		+move('League-City-Good','Other:')
			input(type=text name='attr_League-City-Good-Other')
		div
			+translate('Bad things')(class='sheet-Label')
		+move('League-City-Bad','Alienating')
		+move('League-City-Bad','Poor')
		+move('League-City-Bad','Big social inequality')
		+move('League-City-Bad','Shameful past')
		+move('League-City-Bad','Nothing worth sightseeing')
		+move('League-City-Bad','Highly polluted')
		+move('League-City-Bad','Shady politics')
		+move('League-City-Bad','No prospects for the future')
		+move('League-City-Bad','Shady military bases')
		+move('League-City-Bad','Gangs that terrorize the entire region')
		+move('League-City-Bad','Believed to bring bad luck')
		+move('League-City-Bad','Struck by a powerful curse')
		+move('League-City-Bad','Other:')
			input(type=text name='attr_League-City-Bad-Other')

	// Obligations
	.sheet-Subsection
		+translate('Obligations')
	+expanderInstructions('League-Obligations')
		p
			+translate('Your social status carries some obligations with it. At the beginning of a mystery, the Keeper holds 3. They can spend 1 hold to introduce one of the obligations. When it’s introduced, at least half of you must attend, otherwise you can lose allies or tempt mundane people to investigate your lives.')
		p
			+translate('Choose or create two obligations you have:')
	+expanderMoveSection('League-Obligations')
		+move('League-Obligation','Attending parties and balls.')
		+move('League-Obligation','Attending important conferences.')
		+move('League-Obligation','Ceremonially opening new buildings.')
		+move('League-Obligation','Meeting children at schools.')
		+move('League-Obligation','Tutoring promising students one on one.')
		+move('League-Obligation','Appearing on TV.')
		+move('League-Obligation','')
			input(type=text name='attr_League-Obligation-Other-1')
		+move('League-Obligation','')
			input(type=text name='attr_League-Obligation-Other-2')

.sheet-Mercenaries
	// Nothing for Mercenaries
.sheet-MysteryClub
	// Nothing for Mystery Club
.sheet-NightShift
	// Nothing for Night Shift
.sheet-SuburbanWatch
	// Nothing for Suburban Watch
.sheet-Band
	// Nothing for Touring Band
.sheet-Whistleblowers
	// The Organisation
	.sheet-Subsection
		+translate('The Organisation')
	+expanderInstructions('Whistleblowers-Org')
		p
			+translate('You create the details about your organisation, choosing options from the following lists. Things you suspect can pertain either to the organisation as a whole or to an influential group within it. At least two of the things you suspect are true; the Keeper decides which ones.')
	+expanderMoveSection('Whistleblowers-Org-Aspects')
		div
			+translate('Official goals')(class='sheet-Label')
			i
				+translate('(choose one or two)')
		+move('Whistleblowers-Org-Official-Goals','Slay monsters')
		+move('Whistleblowers-Org-Official-Goals','Contain monsters')
		+move('Whistleblowers-Org-Official-Goals','Govern safe use of magic')
		+move('Whistleblowers-Org-Official-Goals','Research monsters')
		+move('Whistleblowers-Org-Official-Goals','Research paranatural phenomena')
		+move('Whistleblowers-Org-Official-Goals','Keep monsters and magic secret')
		div
			+translate('Goal you suspect')(class='sheet-Label')
			i
				+translate('(choose one)')
		+move('Whistleblowers-Org-Suspected-Goals','Training an army of monsters')
		+move('Whistleblowers-Org-Suspected-Goals','Creating new monsters')
		+move('Whistleblowers-Org-Suspected-Goals','Stealing the monsters’ powers')
		+move('Whistleblowers-Org-Suspected-Goals','Keeping all magic to themselves')
		+move('Whistleblowers-Org-Suspected-Goals','Taking over the world')
		+move('Whistleblowers-Org-Suspected-Goals','Destroying the world')
		div
			+translate('Official resources')(class='sheet-Label')
			i
				+translate('(choose two)')
		+move('Whistleblowers-Org-Official-Resource','Ancient lore')
		+move('Whistleblowers-Org-Official-Resource','Modernised')
		+move('Whistleblowers-Org-Official-Resource','Chapters everywhere')
		+move('Whistleblowers-Org-Official-Resource','Secular power')
		+move('Whistleblowers-Org-Official-Resource','Rich')
		+move('Whistleblowers-Org-Official-Resource','Rigorous training')
		+move('Whistleblowers-Org-Official-Resource','Offices all over the place')
		+move('Whistleblowers-Org-Official-Resource','Good intel')
		+move('Whistleblowers-Org-Official-Resource','Support teams')
		div
			+translate('Suspected resources')(class='sheet-Label')
		div
			i
				+translate('(choose one or two)')
		+move('Whistleblowers-Org-Suspected-Resource','Demonology')
		+move('Whistleblowers-Org-Suspected-Resource','Necromancy')
		+move('Whistleblowers-Org-Suspected-Resource','Deals with monsters')
		+move('Whistleblowers-Org-Suspected-Resource','Manipulated minions')
		+move('Whistleblowers-Org-Suspected-Resource','Manipulated cultists')
		+move('Whistleblowers-Org-Suspected-Resource','Bribed officials')
		+move('Whistleblowers-Org-Suspected-Resource','Sacrificing members')
		div
			+translate('Obvious flaws')(class='sheet-Label')
			i
				+translate('(choose one)')
		+move('Whistleblowers-Org-Obvious-Flaw','Tradition-bound')
		+move('Whistleblowers-Org-Obvious-Flaw','Paranoid and secretive')
		+move('Whistleblowers-Org-Obvious-Flaw','Closed hierarchy')
		+move('Whistleblowers-Org-Obvious-Flaw','Strict laws')
		+move('Whistleblowers-Org-Obvious-Flaw','Mystical oaths')
		+move('Whistleblowers-Org-Obvious-Flaw','Poor')
		+move('Whistleblowers-Org-Obvious-Flaw','Bureaucratic')
		+move('Whistleblowers-Org-Obvious-Flaw','Hostile superiors')
		+move('Whistleblowers-Org-Obvious-Flaw','Take-no-prisoners policy')
		+move('Whistleblowers-Org-Obvious-Flaw','Live capture policy')
		div
			+translate('Suspected flaws')(class='sheet-Label')
			i
				+translate('(choose one or two)')
		+move('Whistleblowers-Org-Suspected-Flaw','Tradition-bound')
		+move('Whistleblowers-Org-Suspected-Flaw','Paranoid and secretive')
		+move('Whistleblowers-Org-Suspected-Flaw','Closed hierarchy')
		+move('Whistleblowers-Org-Suspected-Flaw','Mystical oaths')
		+move('Whistleblowers-Org-Suspected-Flaw','Total obedience')
		+move('Whistleblowers-Org-Suspected-Flaw','Tyrannical leaders')
		+move('Whistleblowers-Org-Suspected-Flaw','Hostile superiors')
		+move('Whistleblowers-Org-Suspected-Flaw','Protects member criminals')

.sheet-Fugitives
	// The Wild Hunt
	.sheet-Subsection
		+translate('The Wild Hunt')
	+expanderInstructions('Fugitives-Wild-Hunt')
		p
			+translate('You were part of the Wild Hunt, a group of violent fey and spirits riding the world and striking fear into the hearts of people. Detail the Wild Hunt here.')
	+expanderMoveSection('Fugitives-Wild-Hunt')
		div
			+translate('Who Rides With The Hunt?')(class='sheet-Label')
		+move('Fugitives-Wild-Hunt-Riders','Elves')
		+move('Fugitives-Wild-Hunt-Riders','Trolls')
		+move('Fugitives-Wild-Hunt-Riders','Demons')
		+move('Fugitives-Wild-Hunt-Riders','Wraiths')
		+move('Fugitives-Wild-Hunt-Riders','Banshees')
		+move('Fugitives-Wild-Hunt-Riders','Werewolves')
		+move('Fugitives-Wild-Hunt-Riders','Something Else')
			input(type='text' name='attr_Fugitives-Wild-Hunt-Riders-Custom')
		div
			+translate('The Wild Hunt has a leader, probably a king or a queen. Give them a name or a title:')
			input(type='text' name='attr_Fugitives-Wild-Hunt-Leader')
		div
			+translate('Choose or invent their impressive powers, at least two:')
		+move('Fugitives-Wild-Hunt-Powers','Grant immortality')
		+move('Fugitives-Wild-Hunt-Powers','Grant lycanthropy')
		+move('Fugitives-Wild-Hunt-Powers','Steal emotion')
		+move('Fugitives-Wild-Hunt-Powers','See destinies')
		+move('Fugitives-Wild-Hunt-Powers','Set destinies')
		+move('Fugitives-Wild-Hunt-Powers','Control weather')
		+move('Fugitives-Wild-Hunt-Powers','Grant sentience to animals')
		+move('Fugitives-Wild-Hunt-Powers','Grant sentience to weapons')
		+move('Fugitives-Wild-Hunt-Powers','Something Else')
			textarea(rows='2' name='attr_Fugitives-Wild-Hunt-Powers-Custom')
		div
			+translate('Why were you a part of the Wild Hunt?')(class='sheet-Label')
		div
			+translate('Each player can choose a different answer:')
			ul
				li
					+translate('I was kidnapped by the Hunt.')
				li
					+translate('I sold my soul to the Hunt.')
				li
					+translate('I wanted to ride with the Hunt.')
				li
					+translate('I’m a supernatural creature who’s a part of the Hunt.')
				li
					+translate('Something else:')
			div
				textarea(rows='2' name='attr_Fugitives-Wild-Hunt-Why-Part')
		div
			+translate('Then all of you escaped, sick with the Hunt’s atrocities or their treatment of you.')

	// How Did You Escape
	.sheet-Subsection
		+translate('How Did You Escape?')
	+expanderMoveSection('Fugitives-Escape')
		div
			+translate('How did you escape?')(class='sheet-Label')
		+move('Fugitives-Escape-How','With a clever plan.')
		+move('Fugitives-Escape-How','By sheer luck.')
		+move('Fugitives-Escape-How','With outside help.')
		+move('Fugitives-Escape-How','Thanks to a loophole in your fae contract.')
		+move('Fugitives-Escape-How','Something else:')
			input(type='text' name='attr_Fugitives-Escape-How-Custom')
		div
			+translate('The Wild Hunt keeps looking for you. How do they do it?')(class='sheet-Label')
		div
			+translate('Choose two ways:')
		+move('Fugitives-Escape-Looking','They give other monsters this in exchange for information.')
			input(type='text' name='attr_Fugitives-Escape-Looking-Monsters')
		+move('Fugitives-Escape-Looking','They track the internet, but they can’t monitor one part of it:')
			input(type='text' name='attr_Fugitives-Escape-Looking-Internet')
		+move('Fugitives-Escape-Looking','They can see you when you’re outside in one type of weather, namely:')
			input(type='text' name='attr_Fugitives-Escape-Looking-Weather')
		+move('Fugitives-Escape-Looking','They sense you when you <b>use magic</b> unless you take a precaution, namely:')
			input(type='text' name='attr_Fugitives-Escape-Looking-Magic-Precaution')
		+move('Fugitives-Escape-Looking','Something else:')
			input(type='text' name='attr_Fugitives-Escape-Looking-Other')
		div
			+translate('What will the Wild Hunt do if they find you?')(class='sheet-Label')
		+move('Fugitives-Escape-Find','Kill you.')
		+move('Fugitives-Escape-Find','Torment you.')
		+move('Fugitives-Escape-Find','Make you join the Hunt again.')
		+move('Fugitives-Escape-Find','Make you slaves.')
		+move('Fugitives-Escape-Find','Something else:')
			input(type='text' name='attr_Fugitives-Escape-Find-Other')

.sheet-ArmyOfOne
	.sheet-Subsection
		+translate('Who Are You?')
	+expanderMoveSection('ArmyOfOne-Who')
		p
			+translate('You all are, on some level, the same person. When choosing the looks of your hunters, each of you underlines one of the options they’ve chosen and reads it aloud. This option applies to all of you. It’s also your decision if your hunters need to be the same age, gender, ethnicity, etc.<p>What is the source of your radical similarity?')
		+move('ArmyOfOne-Who-Answer','We’re all clones of the same person.')
		+move('ArmyOfOne-Who-Answer','We’re alternate versions of the same person from alternate universes or timelines.')
		+move('ArmyOfOne-Who-Answer','We were created, or radically altered, by the same magical phenomenon.')
		+move('ArmyOfOne-Who-Answer','We are all vessels for a single otherworldly consciousness.')
		+move('ArmyOfOne-Who-Answer','Something else:')
			div
				textarea(rows='2' name='attr_ArmyOfOne-Who-Answer-Custom')

.sheet-SquareOne
	.sheet-Subsection
		+translate('Your Loss')
	+expanderMoveSection('SquareOne-Loss')
		p
			+translate('When creating hunters, choose four improvements, including one advanced improvement, for each of them. Those are the abilities they once had, but now have lost. Your enemies and allies can expect you to have those abilities or excel at those areas, and you might be able to regain those improvements outside of normal advancement by team moves or <b>big magic</b>.')
		div
			+translate('Choose why you lost your powers:')(class='sheet-Label')
		+move('SquareOne-Loss-Why','We lost our memories.')
		+move('SquareOne-Loss-Why','Someone stole our power.')
		+move('SquareOne-Loss-Why','We sacrificed them as part of a ritual to stop a disaster.')
		+move('SquareOne-Loss-Why','We were powered by an outside force, and now it’s left us.')
		+move('SquareOne-Loss-Why','We were regenerated, rejuvenated, or even reincarnated, but it has also lessened our experience.')

		+move('SquareOne-Loss-Why','Something else:')
			div
				textarea(rows='2' name='attr_SquareOne-Loss-Why-Custom')
		div
			+translate('Choose one or more people or groups who already know of your loss:')(class='sheet-Label')
		+move('SquareOne-Loss-Know','An innocent we were protecting, namely')
			input(type='text', name='attr_SquareOne-Loss-Know-Innocent')
		+move('SquareOne-Loss-Know','Our nemesis, chosen in the next step.')
		+move('SquareOne-Loss-Know','Our ally, chosen in the next step.')
		+move('SquareOne-Loss-Know','Our teachers, who put all their hopes in us.')
		+move('SquareOne-Loss-Know','Someone else:')
			div
				textarea(rows='2' name='attr_SquareOne-Loss-Know-Custom')

.sheet-DoomedWorld
	.sheet-Subsection
		+translate('Your Doomed World')
	+expanderMoveSection('DoomedWorld-World')
		div
			+translate('What ended the world?')(class='sheet-Label')
		+move('DoomedWorld-World-End','An attack by an army of monsters.')
		+move('DoomedWorld-World-End','A magical catastrophe.')
		+move('DoomedWorld-World-End','An experiment gone horribly wrong.')
		+move('DoomedWorld-World-End','A depletion of its energy.')
		+move('DoomedWorld-World-End','Sins of its inhabitants.')
		+move('DoomedWorld-World-End','It hasn’t ended, but is a hellish dystopia now.')
		+move('DoomedWorld-World-End','Something else:')
			div
				textarea(rows='2' name='attr_DoomedWorld-World-End-Custom')
		div
			+translate('What was your role in this?')(class='sheet-Label')
		+move('DoomedWorld-World-Role','We were fighting until the very end, but failed.')
		+move('DoomedWorld-World-Role','We caused the apocalypse.')
		+move('DoomedWorld-World-Role','We made others cause the apocalypse.')
		+move('DoomedWorld-World-Role','We were caught by surprise.')
		+move('DoomedWorld-World-Role','We were chosen to be the exiles.')
		+move('DoomedWorld-World-Role','Something else:')
			div
				textarea(rows='2' name='attr_DoomedWorld-World-Role-Custom')
		div
			+translate('How did you end up where you are now?')(class='sheet-Label')
		+move('DoomedWorld-World-Where','We travelled in time to before the apocalypse started.')
		+move('DoomedWorld-World-Where','We were looking for a safe world, and found this one.')
		+move('DoomedWorld-World-Where','It was the official safety protocol to go here if our world is doomed.')
		+move('DoomedWorld-World-Where','We wished for another chance, and it seems it worked.')
		+move('DoomedWorld-World-Where','We know the apocalypse will strike here next.')
		+move('DoomedWorld-World-Where','We were merged with Yog-Sothoth, the eldritch incarnation of space-time.')
		+move('DoomedWorld-World-Where','We have no idea how we got here.')
		+move('DoomedWorld-World-Where','Something else:')
			div
				textarea(rows='2' name='attr_DoomedWorld-World-Where-Custom')
		div
			+translate('What signs of the apocalypse are here now?')(class='sheet-Label')
		+move('DoomedWorld-World-Signs','The same kinds of monsters are active here.')
		+move('DoomedWorld-World-Signs','The same phenomena are observed more and more often.')
		+move('DoomedWorld-World-Signs','People are making the same mistakes.')
		+move('DoomedWorld-World-Signs','Seemingly innocuous things are happening, and you know they were the apocalypse’s catalysts.')
		+move('DoomedWorld-World-Signs','You, and maybe someone else, are having prophetic dreams about the apocalypse.')
		+move('DoomedWorld-World-Signs','A prophecy about the coming apocalypse was recently revealed, but nobody believes it.')
		+move('DoomedWorld-World-Signs','Something else:')
			div
				textarea(rows='2' name='attr_DoomedWorld-World-Signs-Custom')

.sheet-MonsterRevs
	.sheet-Subsection
		+translate('Show Format and Name')
	+expanderMoveSection('MonsterRevs-Show')
		div
			+translate('How do you publish your discoveries?')(class='sheet-Label')
		+move('MonsterRevs-Show-Publish','Internet video service')
		+move('MonsterRevs-Show-Publish','Podcast')
		+move('MonsterRevs-Show-Publish','Radio show')
		+move('MonsterRevs-Show-Publish','Television documentary series')
		+move('MonsterRevs-Show-Publish','Magazine')
		+move('MonsterRevs-Show-Publish','Newspaper articles')
		+move('MonsterRevs-Show-Publish','Social media or internet forum')
		+move('MonsterRevs-Show-Publish','Something else:')
			div
				textarea(rows='2' name='attr_MonsterRevs-Show-Publish-Custom')
		div
			+translate('What are you called?')(class='sheet-Label')
		input(type='text' name='attr_MonsterRevs-Show-Name')

.sheet-Lineage
	.sheet-Subsection
		+translate('Family Name')
	input(type='text' name="attr_Lineage-Family-Name")
	.sheet-Subsection
		+translate('Heirlooms')
	+expanderMoveSection('Lineage-Family-Heirlooms')
		p
			+translate('Each hunter on the team is allocated a family heirloom by the family elders. Select which one your hunter was entrusted with. There is only one of each.<p>At the family elders’ discretion, a hunter might be allowed to swap out their heirloom for another if their needs change. If the hunter’s heirloom is broken, lost, or destroyed they will not be given a replacement.')
		+move('Lineage-Heirloom','<b>Old Sword:</b> 2-harm hand valuable ancient magic. It’s especially effective against one class of monster—pick one with the Keeper’s agreement. Do +1-harm when you use it on those creatures. ','share')
			+translate("Bearer:")
			input(type='text' name="attr_Lineage-Heirloom-Bearer-1")
		+move('Lineage-Heirloom','<b>Old Pistol:</b> 2-harm close loud antique. It has a set of 12 bullets enchanted against certain monsters—these bullets count as a weakness. Define the targets of six of the bullets when the game begins; the others may be selected in play (including during a mystery when you definitely identify a monster). Creating new enchanted bullets is <b>big magic.</b>','share')
			+translate("Bearer:")
			input(type='text' name="attr_Lineage-Heirloom-Bearer-2")
		+move('Lineage-Heirloom','<b>Jewelled Bee Brooch:</b> While you wear it, you have a general feeling about how close and which direction your family members are (the team in particular). If any of them are in trouble, you’ll know it.','share')
			+translate("Bearer:")
			input(type='text' name="attr_Lineage-Heirloom-Bearer-3")
		+move('Lineage-Heirloom','<b>Necklace:</b> A mystical rune shaped in gold. The wearer may ignore one case of harm suffered each mystery—a bright gold flare deflects the danger. This does not prevent harm from the <b>Thicker than Water</b> team move.','share')
			+translate("Bearer:")
			input(type='text' name="attr_Lineage-Heirloom-Bearer-4")
		+move('Lineage-Heirloom','<b>Beadwork belt:</b> Twice each mystery, you may automatically succeed on an <b>act under pressure</b> roll. The first time, it’s as if you rolled a 10. The second time, it’s as if you rolled a 7. Nothing can modify this result.','share')
			+translate("Bearer:")
			input(type='text' name="attr_Lineage-Heirloom-Bearer-5")
		+move('Lineage-Heirloom','<b>Pen:</b> While you have the pen on your person, you may choose to have a monster that is attacking another team member or bystander target you instead, as long as they can do so. Tell the Keeper when you activate this power (such as when they say who a monster is about to attack).','share')
			+translate("Bearer:")
			input(type='text' name="attr_Lineage-Heirloom-Bearer-6")
		+move('Lineage-Heirloom','<b>Crystal:</b> The crystal magnifies your mystical energies. When you <b>use magic</b>, the effects are more powerful (assume double the normal effect, however that makes sense). Glitches, magical backlashes, and <b>big magic</b> are also amplified.','share')
			+translate("Bearer:")
			input(type='text' name="attr_Lineage-Heirloom-Bearer-7")

.sheet-ThrillSeekers
	.sheet-Subsection
		+translate('What Past Did You Leave Behind?')
	+expanderMoveSection('ThrillSeekers-Past')
		p
			+translate('Each player can choose a different answer:')
		+move('ThrillSeekers-Past-Choice','I followed the rules of life and gained all the money and success that came with it—only to feel empty, dissatisfied, and yearning.')
			+translate("Hunter(s):")
			input(type='text' name="attr_ThrillSeekers-Past-Choice-1")
		+move('ThrillSeekers-Past-Choice','A monster took everything from me—the only thrill I have left is in hunting more of them.')
			+translate("Hunter(s):")
			input(type='text' name="attr_ThrillSeekers-Past-Choice-2")
		+move('ThrillSeekers-Past-Choice','I was created to be a monster that hunts monsters—but now I do this on my own terms.')
			+translate("Hunter(s):")
			input(type='text' name="attr_ThrillSeekers-Past-Choice-3")
		+move('ThrillSeekers-Past-Choice','I don’t have much time left—I’m going to make every second count, make it all mean something.')
			+translate("Hunter(s):")
			input(type='text' name="attr_ThrillSeekers-Past-Choice-4")
		+move('ThrillSeekers-Past-Choice','Something else that explains why monster hunting provides a thrill nothing else can:')
			input(type='text' name="attr_ThrillSeekers-Past-Choice-Custom")
			+translate("Hunter(s):")
			input(type='text' name="attr_ThrillSeekers-Past-Choice-5")

.sheet-ArtifactCollectors
	// Nothing for Artifact Collectors

.sheet-Coven
	.sheet-isolator
		.sheet-Subsection
			+translate('Coven Nature')
		+expanderMoveSection("Coven-Nature")
			p
				+t("What sort of coven are you?")
			+move("Coven-Nature","Witches")
			+move("Coven-Nature","Vampires")
			+move("Coven-Nature","Werewolves")
			+move("Coven-Nature","Jinn")
			+move("Coven-Nature","Yōkai")
			+move("Coven-Nature","Eclectic")
			+move("Coven-Nature","Something else:")
				+itext("Coven-Nature-Else")
			+t("The coven’s Nature provides some potentially shared powers. A pack of harpies can all take <b>flight</b>, a group of witches can all start with rotes. Hunters can also take different powers if they have varied backgrounds.")
	.sheet-isolator
		.sheet-Subsection
			+translate('Recruitment Method')
		+expanderMoveSection("Coven-Recruitment")
			p
				+t("How did you come to be part of the coven?")
			+move("Coven-Recruitment","Birth")
			+move("Coven-Recruitment","Initiation")
			+move("Coven-Recruitment","Prophecy")
			+move("Coven-Recruitment","Transformation")
			+move("Coven-Recruitment","Died and reborn")
			+move("Coven-Recruitment","Something else:")
				+itext("Coven-Recruitment-Else")
	.sheet-isolator
		.sheet-Subsection
			+translate('Mark of Kinship')
		+expander("Coven-Kinship")
			p
				+t("Pick whatever hunter playbook you want and then add this on top. Each member chooses one of the following to represent their nature:<ul><li>A curse and either a Monstrous move or a natural attack (with 1 base and 1 extra) from the Monstrous playbook.<li>Two rotes and a Temptation from the Hex playbook.<li>A Spooky move and two Dark Secret tags from the Spooky playbook.<li>A Changeling move and two Unknown Heritage tags from the Changeling playbook.</ul>")

.sheet-EscapedExperiments
	.sheet-isolator
		.sheet-Subsection
			+translate('The Project')
		+expanderMoveSection("EscapedExperiments-Project")
			p
				+t("Create the details of the Project. Choose options from the following lists:")
			div
				+t("<b>Modification techniques (pick one or more):</b>")
			+move("EscapedExperiments-Project-Mod","Genetic modification")
			+move("EscapedExperiments-Project-Mod","Organic grafting and symbiosis")
			+move("EscapedExperiments-Project-Mod","Cybernetics and robotics")
			+move("EscapedExperiments-Project-Mod","Psionic aptitude")
			+move("EscapedExperiments-Project-Mod","Chemical enhancement")
			+move("EscapedExperiments-Project-Mod","Uplifted animals")
			+move("EscapedExperiments-Project-Mod","Something else:")
				+itext("EscapedExperiments-Project-Mod-Else")
			div
				+t("<b>Goals (pick two):</b>")
			+move("EscapedExperiments-Project-Goal","Protect common people")
			+move("EscapedExperiments-Project-Goal","Shape society to their image")
			+move("EscapedExperiments-Project-Goal","Burn everything down")
			+move("EscapedExperiments-Project-Goal","Cruel curiosity")
			+move("EscapedExperiments-Project-Goal","Elevate humanity")
			+move("EscapedExperiments-Project-Goal","Serve the nation")
			+move("EscapedExperiments-Project-Goal","Expand our understanding of reality")
			+move("EscapedExperiments-Project-Goal","Maintain the status quo")
			+move("EscapedExperiments-Project-Goal","Something else:")
				+itext("EscapedExperiments-Project-Goal-Else")
			div
				+t("<b>Resources and policies (pick three):</b>")
			+move("EscapedExperiments-Project-Policy","Invasive intel")
			+move("EscapedExperiments-Project-Policy","Rigorous training")
			+move("EscapedExperiments-Project-Policy","Emotional blackmail")
			+move("EscapedExperiments-Project-Policy","Substantial manpower")
			+move("EscapedExperiments-Project-Policy","Advanced laboratories")
			+move("EscapedExperiments-Project-Policy","Fleet of vehicles")
			+move("EscapedExperiments-Project-Policy","Good PR")
			+move("EscapedExperiments-Project-Policy","Leveraging law enforcement")
			+move("EscapedExperiments-Project-Policy","No witnesses")
			+move("EscapedExperiments-Project-Policy","Something else:")
				+itext("EscapedExperiments-Project-Policy-Else")
			div
				+t("<b>Weaknesses (pick one):</b>")
			+move("EscapedExperiments-Project-Weakness","Sympathisers in the ranks")
			+move("EscapedExperiments-Project-Weakness","Bureaucratic")
			+move("EscapedExperiments-Project-Weakness","Hostile superiors")
			+move("EscapedExperiments-Project-Weakness","Paranoia and secrecy")
			+move("EscapedExperiments-Project-Weakness","Bad public image")
			+move("EscapedExperiments-Project-Weakness","Harsh discipline")
			+move("EscapedExperiments-Project-Weakness","Delusions of family")
			+move("EscapedExperiments-Project-Weakness","Fragile brainwashing")
			+move("EscapedExperiments-Project-Weakness","Something else:")
				+itext("EscapedExperiments-Project-Weakness-Else")
			div
				+t("<b>Suspicions (pick three, after which the Keeper determines two that are true):</b>")
			+move("EscapedExperiments-Project-Suspicion","Sleeper agents")
			+move("EscapedExperiments-Project-Suspicion","Extradimensional contacts")
			+move("EscapedExperiments-Project-Suspicion","Paving the way for conquest")
			+move("EscapedExperiments-Project-Suspicion","Alien obligations")
			+move("EscapedExperiments-Project-Suspicion","Extensive bribes")
			+move("EscapedExperiments-Project-Suspicion","Time travel tech")
			+move("EscapedExperiments-Project-Suspicion","Seeking immortality")
			+move("EscapedExperiments-Project-Suspicion","Alien technology")
			+move("EscapedExperiments-Project-Suspicion","Something else:")
				+itext("EscapedExperiments-Project-Suspicion-Else")
			div
				+t("<b>How did you escape? Pick one:</b>")
			+move("EscapedExperiments-Project-Escape","One of us was trusted and took advantage of that to open an opportunity.")
			+move("EscapedExperiments-Project-Escape","An accident in a Project facility gave us a chance to escape.")
			+move("EscapedExperiments-Project-Escape","They underestimated how strong we are.")
			+move("EscapedExperiments-Project-Escape","We escaped during a field test.")
			+move("EscapedExperiments-Project-Escape","The Project was attacked and we escaped in the chaos.")
			+move("EscapedExperiments-Project-Escape","We were going to be purged and took the risk to escape.")
			+move("EscapedExperiments-Project-Escape","Something else:")
				+itext("EscapedExperiments-Project-Escape-Else")
	.sheet-isolator
		.sheet-Subsection
			+translate('Scrubs and Gowns')
		+expander("EscapedExperiments-SanG")
			p
				+t("Choose whatever playbook you want and then add this on top of it. Each team member chooses to have been a Scrub (staff) or Gown (subject) in the Project. Pick one of the options under that role.")
			.sheet-MinorHead
				+translate('Scrubs')
			+t("<ul><li><b>Abnormal Medicine:</b> You’re an expert at unusual medical procedures. You may do first aid without equipment, or heal +1 harm if you have gear. You’re familiar with unusual anatomies; when you <b>help out</b> another hunter with a basic Weird move, you give them +2 forward.<li><b>Elite:</b> You gain +1 to any rating, max +3.<li><b>Specialist:</b> Name an area of specialisation, such as stealth, security systems, or pursuit (with the Keeper’s agreement). When you use a basic move within this specialty, it is considered advanced.<li><b>Good Under Pressure:</b> Once per session, you may upgrade a roll by a success level. A miss becomes a 7–9, a 7–9 becomes a 10+, and, if the move is advanced, a 10+ becomes a 12+.</ul>")
			.sheet-MinorHead
				+translate('Gowns')
			+t("<ul><li><b>Versatile:</b> You developed a range of abilities. Take a second Weird basic move.<li><b>Extreme Power:</b> Your power level is higher than other subjects. Your basic Weird move is advanced.<li><b>Healing Factor:</b> Every 30 minutes, you may clear unstable or heal 1-harm. When the team has a chance to recover, you heal +1 harm.<li><b>Evolution:</b> Something happened that caused you to develop a specific ability. Take a supernatural move from another playbook.<li><b>Energy Blast:</b> You have an intrinsic Weird attack: 2-harm close magic energy. Decide how it works and looks.<li><b>Mind Over Matter:</b> Any time you roll a move, you may take 2-harm (which can’t be reduced by any means) to improve the result as if you rolled a 10.</ul>")

.sheet-GoodMonsters
	.sheet-Subsection
		+translate('Monster Sides')
	+expander('GoodMonsters-Sides')
		+t("<p>Each hunter picks a playbook as usual (except the Monstrous). Then you each choose options for your monster breed as if you were a Monstrous (<i>MOTW</i> hardcover, page 61). You must choose a curse and natural attack, but moves are at your discretion. In addition, all hunters may count the usual Monstrous playbook moves as additional playbook moves on top of those in your main playbook. When selecting history, use either your main playbook or Monstrous history options.<p>For improvements, use your main playbook’s improvement options. Add the following regular improvements:<ul><li>Get +1 Weird, max +3<li>Pick another natural attack</ul>And the following advanced improvements:<ul><li>Free yourself from the curse of your species. Your curse no longer applies, but lose 1 Weird.<li>You turn evil (again). Retire this character; they become one of the Keeper’s threats.</ul>All the hunters on this team are monsters, and so they’re all effectively a Monstrous overlaid on their main playbook.<p>If someone wants to play one of the other explicitly supernatural playbooks (such as the Divine, Summoned, or Changeling), figure out if that is enough “monster side” in itself.<p>Some players might wish to play “the normal human” in the team, perhaps not really aware what they are getting themselves into. If they do, they ignore the Monster Side steps for hunter creation. Instead, they get 1 extra Luck box. If they ever become a monster or change to an overtly supernatural playbook, they immediately lose 1 unused Luck box.")

.sheet-MedicalTeam
	// Nothing for Medical Team

.sheet-MundaneMonstrosities
	.sheet-isolator
		.sheet-Subsection
			+translate('Upbringing')
		+expanderMoveSection('MundaneMonstrosities-Upbringing')
			p
				+t("How did your team grow up?")
			+move("MundaneMonstrosities-Upbringing","<b>Unseen Community:</b> The local community is mostly supernatural, or at least in the know. You get plenty of news and rumours about local happenings.")
			+move("MundaneMonstrosities-Upbringing","<b>Precocious Youth:</b> The hunters are students at a school that caters to the supernatural. There’s an extensive occult library.")
			+move("MundaneMonstrosities-Upbringing","<b>Protected and Subsidised:</b> A powerful, wealthy benefactor protects the community. Well-funded medical facilities and sanctuaries are available here.")
			+move("MundaneMonstrosities-Upbringing","<b>Scattered Individuals:</b> The hunters met by happenstance. Between them, they have contacts with several different supernatural groups.")
			+move("MundaneMonstrosities-Upbringing","<b>Secret Haven:</b> You grew up in an isolated community of supernatural people, set apart from the rest of the world. When you go back home, it’s very difficult to track you.")
			+move("MundaneMonstrosities-Upbringing","<b>Weird Town:</b> Not everyone who lives here is supernatural, but everyone is at least a bit eccentric. Nobody pays much attention if you cast a spell, or have bright blue skin. Your friends and contacts all have unusual hobbies, often coming in handy during mysteries.")
			+move("MundaneMonstrosities-Upbringing","Something else:")
				+itext("MundaneMonstrosities-Upbringing-Else")
	.sheet-isolator
		.sheet-Subsection
			+translate('Minor Weirdness')
		+expander("MundaneMonstrosities-MinWeird")
			+t("<p>Each team member starts with one of the following moves:<ul><li><b>Artifact</b> (from the Crooked playbook).<li><b>Claws of the beast</b>, <b>flight</b>, <b>incorporeal</b>, <b>mental dominion</b>, or <b>shapeshifter</b> (from the Monstrous playbook).<li><b>Guardian</b> (from the Searcher playbook).<li><b>Inhuman talent</b> (from the Changeling playbook).<li><b>Jinx</b> or <b>the Sight</b> (from the Spooky playbook).<li><b>Soothe</b> (from the Divine playbook).<li><b>Third eye</b> (from the Spell-Slinger playbook).</ul>")

.sheet-RadioStation
	.sheet-isolator
		.sheet-Subsection
			+translate('Who Does What?')
		+expander("RadioStation-DoWhat")
			+t("Lots of different jobs are needed to run a radio station. Engineers manage sound and maintain equipment. Marketers find sponsors and opportunities. Clerks keep money going in and out. And, of course, personalities MC the airwaves. In a small station, some end up doing double or triple duty, maybe everyone even has their own show. Decide together what job or jobs each hunter has.")
			textarea(name="attr_RadioStation-DoWhat-JobsList")
	.sheet-isolator
		.sheet-Subsection
			+translate('Community')
		+expanderMoveSection("RadioStation-Community")
			p
				+t("What community do you serve?")
			+move("RadioStation-Community","College station")
			+move("RadioStation-Community","Remote village or outpost")
			+move("RadioStation-Community","Scattered townships")
			+move("RadioStation-Community","Big city")
			+move("RadioStation-Community","Global audience")
			+move("RadioStation-Community","Something else:")
				+itext("RadioStation-Community-Else")

.sheet-ResearchLab
	// Nothing for Research Lab

.sheet-SwipeToSlay
	.sheet-Subsection
		+translate('The App')
	+expanderMoveSection("SwipeToSlay-TheApp")
		div
			+t("How did you learn about it? Each hunter answers for themself:<ul><li>From a spam email.<li>It was just there on your phone one day.<li>You saw it in the app store.<li>From an ad while watching a stream.<li>You thought it was an ARG.<li>A friend recommended it.<li>Something else.</ul>")
		div
			+t("Why did you start using it? Each hunter answers for themself:<ul><li>You were a customer first.<li>It listed a hunt you were already doing.<li>No, really, you thought it was a video game.<li>It was a joke!<li>You needed the money.<li>It sounded exciting.<li>Something else.</ul>")
		div
			+t("What are the clients like? Pick three:")
		+move("SwipeToSlay-TheApp-Clients","They’re surprised to see us")
		+move("SwipeToSlay-TheApp-Clients","Entitled and irritating")
		+move("SwipeToSlay-TheApp-Clients","In desperate need")
		+move("SwipeToSlay-TheApp-Clients","Often dead")
		+move("SwipeToSlay-TheApp-Clients","Skeptical and disbelieving")
		+move("SwipeToSlay-TheApp-Clients","Curious and excited")
		+move("SwipeToSlay-TheApp-Clients","Grateful and appreciative")
		+move("SwipeToSlay-TheApp-Clients","Suspicious and shady")
		+move("SwipeToSlay-TheApp-Clients","Not human")
		+move("SwipeToSlay-TheApp-Clients","Something else:")
			+itext("SwipeToSlay-TheApp-Clients-Else")
		br
		+t("Pick two good things about the app:")
		+move("SwipeToSlay-TheApp-Good","Good support staff")
		+move("SwipeToSlay-TheApp-Good","Clear mission parameters")
		+move("SwipeToSlay-TheApp-Good","Good pay")
		+move("SwipeToSlay-TheApp-Good","Discounts on gear")
		+move("SwipeToSlay-TheApp-Good","Strong community")
		+move("SwipeToSlay-TheApp-Good","Medical insurance")
		+move("SwipeToSlay-TheApp-Good","Good intel")
		+move("SwipeToSlay-TheApp-Good","Something else:")
			+itext("SwipeToSlay-TheApp-Good-Else")
		br
		+t("Pick two bad things about the app:")
		+move("SwipeToSlay-TheApp-Bad","Cutthroat community")
		+move("SwipeToSlay-TheApp-Bad","Obscure mission requests")
		+move("SwipeToSlay-TheApp-Bad","Uncaring “support” staff")
		+move("SwipeToSlay-TheApp-Bad","“Trial by fire” approach")
		+move("SwipeToSlay-TheApp-Bad","Terrible pay")
		+move("SwipeToSlay-TheApp-Bad","Expensive gear")
		+move("SwipeToSlay-TheApp-Bad","Misleading intel")
		+move("SwipeToSlay-TheApp-Bad","No medical coverage")
		+move("SwipeToSlay-TheApp-Bad","Something else:")
			+itext("SwipeToSlay-TheApp-Bad-Else")
		br
		+t("What do you suspect may be behind the app? Pick two:")
		+move("SwipeToSlay-TheApp-Suspicion","Eldritch entities")
		+move("SwipeToSlay-TheApp-Suspicion","A greedy tech-bro")
		+move("SwipeToSlay-TheApp-Suspicion","Chaos witches")
		+move("SwipeToSlay-TheApp-Suspicion","A well-meaning spirit")
		+move("SwipeToSlay-TheApp-Suspicion","Odin")
		+move("SwipeToSlay-TheApp-Suspicion","Vengeful ghosts")
		+move("SwipeToSlay-TheApp-Suspicion","An organisation wanting deniable assets")
		+move("SwipeToSlay-TheApp-Suspicion","Destiny")
		+move("SwipeToSlay-TheApp-Suspicion","Something else:")
			+itext("SwipeToSlay-TheApp-Suspicion-Else")
