.sheet-Coven
	input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-Allies-Unused', value='1', checked='')
	+move("Coven-Allies","Sara Waite, an alluring and eldritch woman with deep ritual knowledge. She wants to see good folk of all sorts survive.")
	+move("Coven-Allies","Vivacious Walidah, a shapeshifting goblin who works as an online model. Provides a dash of chaos to any undertaking.")
	+move("Coven-Allies","Hugh Audu, a taciturn, sometimes reckless, tattoo mage.")
	+move("Coven-Allies","Bette and Dayjen, a friendly pair who claim to be vampires. They can provide a safe haven and know a lot of old stories.")
	+move("Coven-Allies","Mykeshanl, an online friend with resources that suggest a dragon’s hoard.")
	+move("Coven-Allies","John Clayton, a strange man with eyes made of fire and ghostly friends. He can be a bit scatterbrained, but will do what he can to protect his friends.")
	+move("Coven-Allies","Circle of mortal friends: Some normal people around you who provide cover and support. You’re their go-to resource for any supernatural issues.")
	+move('Coven-Allies','Someone else:')
		div
			textarea(rows='2' name='attr_Coven-Allies-Custom')
