.sheet-Guardians
	input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-Assets-Unused', value='1', checked='')
	+asset('Guardians-Asset','<b>Primaeval Monument:</b> An ancient site marking where access between worlds is easiest.',2)
	+asset('Guardians-Asset','<b>Individual Transport:</b> A regular car, motorbike, or bicycle for every team member.',1)
	+asset('Guardians-Asset','<b>Portal:</b> A stable portal to either a particular world, or a between-worlds nexus. It is hidden, but any entity that finds either side may use it just like you can. Where is it hidden?',1)
	+asset('Guardians-Asset','<b>Headquarters:</b> A relatively secure space to use as a base. There’s room for all your monster hunting gear and books, maybe even space to sleep and a kitchen.',2)
	+asset('Guardians-Asset','<b>Mystical Workroom:</b> A space set aside for magical operations. It can stand in for one requirement of a <b>use magic</b> or <b>big magic</b> move.',2)
	+asset('Guardians-Asset','<b>Workshop:</b> A big space for craft and repair projects, with plenty of tools and materials.',1)
	+asset('Guardians-Asset','<b>Innocent Front:</b> You have access to a regular business or institution. This means that your monster hunting hijinks can be concealed to an extent from your friends, family, and colleagues. For example: a cafe, a library, an antique store, etc.',1)
	+asset('Guardians-Asset','<b>Regular Jobs:</b> You have access to a place of employment for any of the hunters who need it. You earn enough to cover regular day-to-day expenses, and there’s time to fit in monster hunting around your hours.',1)
	+asset('Guardians-Asset','<b>Exploration Gear:</b> You’re never sure what you may find in another world. Your group has a storeroom full of all kinds of exploring and outdoor gear and clothing to use.',1)
	+asset('Guardians-Asset','<b>Custom:</b>',1)
		div
			textarea(rows='2' name='attr_Guardians-Asset-Custom')


