.sheet-Guardians
	input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-Allies-Unused', value='1', checked='')
	+move('Guardians-Allies','Hawthorn, a hedge witch. They’re able to cast a variety of small but useful spells.')
	+move('Guardians-Allies','Anya, a folklorist. They know a lot about the stories and history of the region.')
	+move('Guardians-Allies','The Feeling of Not Knowing a Particular Fact, a visitor from another world. An explorer of worlds, they have a store of facts or rumours about many different dimensions. Describe their home world and look.')
	+move('Guardians-Allies','Junior Guardians, an ally team. By tradition, younger members of your families and community are apprenticed to take over when you retire. They can help with any tasks that aren’t too dangerous.')
	+move('Guardians-Allies','A flock of otherworldly creatures, an ally team. These non-Earthly animals can scout and warn you of danger, and also are quite cute. Describe their home world and look.')
	+move('Guardians-Allies','Someone else:')
		div
			textarea(rows='2' name='attr_Guardians-Allies-Custom')


