.sheet-Crisis
	input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-Allies-Unused', value='1', checked='')
	+move('Crisis-Allies','Justinian, a paladin. He’s always ready to fight evil alongside you and hopes one of you will one day be the lady (or lord) of his heart.')
	+move('Crisis-Allies','NewLife, a bio-robot. They know a lot about life on various worlds, whether organic, tech-based, or magic-based.')
	+move('Crisis-Allies','Darween, a diplomat. Coming from the Monster Marches, she hates disunity and wants good people of all worlds to cooperate.')
	+move('Crisis-Allies','The Queen’s Musketeers. Brave, dashing and ready to fight with monsters both in Helos and beyond, but won’t do anything that directly contradicts Queen Helena the Radiant’s orders.')
	+move('Crisis-Allies','Spirit Healers. They come from a Stone Age world and want to heal all spiritual ills of all worlds. They oppose killing monsters because they believe monsters should be healed and reintegrated instead.')
	+move('Crisis-Allies','Someone else:')
		div
			textarea(rows='2' name='attr_Crisis-Allies-Custom')

