.sheet-Guardians
	input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-Enemies-Unused', value='1', checked='')
	+move('Guardians-Enemy','Lord Grash, warlord of a monster dimension.')
	+move('Guardians-Enemy','All the demons.')
	+move('Guardians-Enemy','The Anointed Hierophant, an occult sect leader who wants to break the walls between worlds.')
	+move('Guardians-Enemy','Chaos, a cosmic entity of disorder.')
	+move('Guardians-Enemy','TransWorldCorp, a business hoping to profit from other worlds via their rift machine, no matter the damage they do along the way.')
	+move('Guardians-Enemy','Something else:')
		div
			textarea(rows='2' name='attr_Guardians-Enemies-Custom')

