.sheet-SwipeToSlay
	input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-Assets-Unused', value='1', checked='')
	+asset("SwipeToSlay-Asset","<b>Never Offline:</b> Smartphones or other devices can always connect to the app even when your phone has no bars or internet. This includes the community forum and support line.",1)
	+asset("SwipeToSlay-Asset","<b>Transportation:</b> Each member of the team has their own method of transportation. A car, truck, motorcycle, or van.",1)
	+asset("SwipeToSlay-Asset","<b>Mobile Base:</b> A large vehicle set up as a field base, with room for your gear and pull-out beds.",2)
	+asset("SwipeToSlay-Asset","<b>Dimensional Positioning System:</b> The app provides maps wherever you are: another planet, another dimension, in the past or future, whatever.",2)
	+asset("SwipeToSlay-Asset","<b>The CMS:</b> An information database collects mystery information. It’s searchable and extensive. Unfortunately, the only oversight is other app users.",1)
	+asset("SwipeToSlay-Asset","<b>Inventory:</b> A big stockpile of mundane gear that might come in handy during a hunt.",1)
	+asset("SwipeToSlay-Asset","<b>Arcane Inventory:</b> A hefty collection of charms, amulets, and ritual materials that might be useful.",1)
	+asset("SwipeToSlay-Asset","<b>Headquarters:</b> You’ve taken over an abandoned commercial space to use as a central hub. It has room for all your gear and room to sleep.",1)
	+asset("SwipeToSlay-Asset","<b>Suspicious Housing:</b> A creepy app-sponsored dorm that gives the hunters a place to stay, but you’re certain they’re watching you.",1)
	+asset("SwipeToSlay-Asset","<b>Order History:</b> The team has easy access to extensively detailed reports of any job done through the app.",1)
	+asset('SwipeToSlay-Asset','<b>Custom:</b>',1)
		div
			textarea(rows='2' name='attr_SwipeToSlay-Asset-Custom')
