.sheet-GoodMonsters
	input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-Assets-Unused', value='1', checked='')
	+asset("GoodMonsters-Asset","<b>Mobile Base:</b> A truck or bus with bunks and mystery investigation supplies on board.",2)
	+asset("GoodMonsters-Asset","<b>Individual Transport:</b> A regular car, motorbike, or bicycle for every team member.",1)
	+asset("GoodMonsters-Asset","<b> Normality Wardings:</b> Amulets for each of you that make you appear to be a normal human under casual inspection. They alter your appearance to look human, make you register as human to magic, and can fool scientific tests. However, they won’t hold up against determined and specific attempts to detect your nature.",1)
	+asset("GoodMonsters-Asset","<b>Headquarters:</b> A relatively secure space to use as a base. There’s room for all your monster hunting gear and books, maybe even space to sleep and a kitchen.",2)
	+asset("GoodMonsters-Asset","<b>Mystical Workroom:</b> A space set aside for magical operations. It can stand in for one requirement of a <b>use magic</b> or <b>big magic</b> move.",2)
	+asset("GoodMonsters-Asset","<b>Workshop:</b> A big space for craft and repair projects, with plenty of tools and materials.",1)
	+asset("GoodMonsters-Asset","<b>Disguises:</b> Disguises and makeup kits.",1)
	+asset("GoodMonsters-Asset","<b>Self-Management Setup:</b> Each team member may select an asset to help manage their curse, such as regular blood bank access for a vampire, a place to securely wait out the full moon for a werewolf, or a magical item to manifest solidly for a ghost. These primarily help you in normal life, rather than during a mystery.",1)
	+asset("GoodMonsters-Asset","<b>Map of the Moonlight Pathways:</b> This map allows you to enter and travel via mystical routes, quickly moving outside the normal world. The pathways may only be entered or exited where the moon is visible.",1)
	+asset('GoodMonsters-Asset','<b>Custom:</b>',1)
		div
			textarea(rows='2' name='attr_GoodMonsters-Asset-Custom')

