.sheet-Hauntbusters
	input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-Style-Unused', value='1', checked='')
	+move('Hauntbusters-Style','<b>Purgers:</b> There’s nothing more satisfying than destroying evil that would otherwise fester for ages. At the end of each session, ask: “Did we destroy a tenacious evil?”')
	+move('Hauntbusters-Style','<b>Keep Clean:</b> You know how easily evil can take root and how difficult it is to eradicate once it does so. At the end of each session, ask: “Did we keep our conscience clear?”')
	+move('Hauntbusters-Style','<b>Prevention:</b> You’ve seen firsthand how human evil can give birth to powerful supernatural evil. At the end of each session, ask: “Did we stop regular people from committing evil deeds?”')
	+move('Hauntbusters-Style','<b>Custom:</b> What’s your story?')
		div
			textarea(rows='2' name='attr_Hauntbusters-Style-Custom-Story')
		div
			+translate('At the end of each session, ask:')
		div
			textarea(rows='2' name='attr_Hauntbusters-Style-Custom-Question')




