.sheet-Mercenaries
	input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-Assets-Unused', value='1', checked='')
	+asset('Mercenaries-Asset','<b>Mobile Base:</b> A van, truck, or bus with bunks and mystery investigation supplies on board.',2)
	+asset('Mercenaries-Asset','<b>Individual Transport:</b> A regular car, motorbike, or bicycle for every team member.',1)
	+asset('Mercenaries-Asset','<b>The Grapevine:</b> A network of contacts who pass on job leads.',1)
	+asset('Mercenaries-Asset','<b>Secure Homes:</b> Located somewhere you have a special relationship, you all have houses and bank accounts that provide a base when you’re off the job.',2)
	+asset('Mercenaries-Asset','<b>Mystical Workroom:</b> A space set aside for magical operations. It can stand in for one requirement of a <b>use magic</b> or <b>big magic</b> move.',2)
	+asset('Mercenaries-Asset','<b>Workshop:</b> A big space for craft and repair projects, with plenty of tools and materials.',1)
	+asset('Mercenaries-Asset','<b>Credentials:</b> Monster hunting licenses and visa waivers that allow you to do your job and travel legitimately.',1)
	+asset('Mercenaries-Asset','<b>High Tech Gadgets:</b> A supply of various monster scanners and detectors.',1)
	+asset('Mercenaries-Asset','<b>Armoury:</b> A cache of monster hunting weapons.',1)
	+asset('Mercenaries-Asset','<b>Custom:</b>',1)
		div
			textarea(rows='2' name='attr_Mercenaries-Asset-Custom')



