.sheet-ThrillSeekers
	input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-Enemies-Unused', value='1', checked='')
	+move('ThrillSeekers-Enemy','The Saint, a monster of dark miracles and beautiful curses.')
	+move('ThrillSeekers-Enemy','All the shapeshifters, collecting identities and lives.')
	+move('ThrillSeekers-Enemy','Xindrak, an alien CEO who wishes to replicate and monetize you.')
	+move('ThrillSeekers-Enemy','The Vessel, an imperfect being that houses the rotting remains of gods.')
	+move('ThrillSeekers-Enemy','The Harbingers, a conspiracy group working towards ushering in the apocalypse.')
	+move('ThrillSeekers-Enemy','Something else:')
		div
			textarea(rows='2' name='attr_ThrillSeekers-Enemies-Custom')

