.sheet-NightShift
	input.sheet-triggerbox.sheet-ExpToggle(type='checkbox', name='attr_Toggle-Allies-Unused', value='1', checked='')
	+move('NightShift-Allies','Aminat Salek, a client or customer who has a knack for finding whatever is weirdest.')
	+move('NightShift-Allies','Ahearn, a consultant. They can help you out with how things go on behind the scenes.')
	+move('NightShift-Allies','De Luca, from human resources. They can cover for absences and sometimes tell you what management is planning.')
	+move('NightShift-Allies','The day shift, an ally team. They can help out when you need to sleep.')
	+move('NightShift-Allies','The gnomes. Your workplace has gnomes living in it. You’ve made friends with them.')
	+move('NightShift-Allies','Someone else:')
		div
			textarea(rows='2' name='attr_NightShift-Allies-Custom')

