.godkiller
	.topline
		.nameblock.fcon.spaceunder
			+text("character_name").fillblank
			.flabel
				+display("gender")
	.columns
		.column
			div
				div.spaceunder.fcon.bordered
					.columns
						.column.hlabel.bigger
							+t("Divinity")
						.column.rightflex
							div
								+thider('awakened')
								+t("AWAKENED!").flabel.glowing
								+tshower('awakened')
								+t("Awakened?").flabel
							+cbox('awakened')
					div
						+textarea("divinity")
					.flexfield(style="margin-bottom: 4px;")
						+t("Divine Trigger:").flabel
						+text("trigger-divine")
					.flexfield.spaceunder
						+t("Mortal Trigger:").flabel
						+text("trigger-mortal")
				.columns
					.column.fcon
						div.centered.hlabel
							+t("Powers")
						+fieldset('powers')
							.spaceunder.shaded
								.flatbottom
									+textarea('power').shorter
								.flexfield
									+t("From:").flabel
									+text('power-source')
					.column.fcon
						div.centered.hlabel
							+t("Covenants")
						+fieldset('covenants')
							.spaceunder.shaded
								.flatbottom
									+textarea('covenant').shorter
								.flexfield
									+t("With:").flabel
									+text('covenant-with')

		.column
			div
				div.spaceunder.fcon.bordered.flatbottom
					.hlabel.bigger
						+t("Ego")
					.hlabel
						+t("Name and Pronouns")
					+text("character_name").fillblank
					.hlabel
						+t("Gender")
					+text("gender").fillblank
					.hlabel
						+t("Flaws")
					+textarea('flaws').shorter
				.columns
					.column
						div.spaceunder.fcon
							.centered.hlabel
								+t("Strain")
							.centered.shaded.nopadding
								+dbox('strain1')
								+dbox('strain2')
								+dbox('strain3')
								+dbox('strain4')
								+dbox('strain5')
						div.spaceunder
							.fcon.spaceunder
								.centered.hlabel
									+t("Gods to Kill")
								+fieldset('tokill')
									.flexfield
										.symbol.targeted
										+text('god')
							.fcon.spaceunder
								.centered.hlabel
									+t("Killed")
								+fieldset('killed')
									.flexfield
										.symbol.killed
										+text('god')
							.fcon
								.centered.hlabel
									+t("Spared")
								+fieldset('spared')
									.flexfield
										.symbol.spared
										+text('god')
					.column
						div.spaceunder
							div.fcon
								.centered.hlabel
									+t("Curses")
								div
									+fieldset('curses')
										.spaceunder.shaded
											.flatbottom
												+t("Thou shalt not...").flabel
												+textarea('curse').shorter
											.flexfield
												+t("Cursed by: ").flabel
												+text('source')
						div.fcon
							.centered.hlabel
								+t("Notes")
							+fieldset('notes')
								div
									+textarea('entry').shorter
