@import url("https://fonts.googleapis.com/css2?family=Kufam:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap");
:root {
	--gbm-blue: #006784;
	--gbm-blue-pale: #dee9ed;
	--gbm-blue-shade: #8fb1b5;
	--gbm-blue-dark: #00394c;
	--gbm-pink: #a52868;
	--gbm-pink-pale: #d6b8c2;
	--gbm-pink-dark: #68083f;
	--gbm-teal: #358a8d;
	--gbm-teal-pale: #d6e7e8;
	--gbm-teal-dark: #005f5f;
	--gbm-purple: #564a6f;
	--gbm-purple-pale: #d6d1d9;
	--gbm-purple-dark: #261841;
	--gbm-blue-shaded: var(--gbm-blue-pale);
	--gbm-teal-shaded: var(--gbm-teal-pale);
	--gbm-pink-shaded: var(--gbm-pink-pale);
	--gbm-purple-shaded: var(--gbm-purple-pale);
	--gbm-blue-text: var(--gbm-blue);
	--gbm-teal-text: var(--gbm-teal);
	--gbm-pink-text: var(--gbm-pink);
	--gbm-purple-text: var(--gbm-purple);
	--gbm-font-size: 16px;
	--gbm-fg: var(--gbm-blue-text);
	--gbm-bg: white;
	font-family: Montserrat, sans-serif;
	color: var(--gbm-fg);
	background: var(--gbm-bg);
}

.sheet-darkmode, .sheet-rolltemplate-darkmode {
	--gbm-fg: var(--gbm-blue-pale);
	--gbm-bg: #1f1f1f;
	--gbm-blue-shaded: var(--gbm-blue-dark);
	--gbm-teal-shaded: var(--gbm-teal-dark);
	--gbm-pink-shaded: var(--gbm-pink-dark);
	--gbm-purple-shaded: var(--gbm-purple-dark);
	--gbm-blue-text: var(--gbm-blue-pale);
	--gbm-teal-text: var(--gbm-teal-pale);
	--gbm-pink-text: var(--gbm-pink-pale);
	--gbm-purple-text: var(--gbm-purple-pale);
}

.ui-dialog .charsheet {
	font-family: Montserrat, sans-serif;
	font-size: 14px;
	color: var(--gbm-fg);
	background-color: var(--gbm-bg);
	line-height: unset;
}
.ui-dialog .charsheet p {
	font-family: Montserrat, sans-serif;
	font-size: 14px;
	line-height: unset;
}

input[type=text] {
	background: none;
	border: none;
	color: var(--gbm-fg);
	padding: 2px;
	padding-top: 0px;
	font-size: 14px;
	border-bottom: 1px dotted var(--gbm-fg);
	margin-bottom: 3px;
}
input[type=text]:hover, input[type=text]:active, input[type=text]:focus {
	background-color: var(--gbm-bg);
}

textarea, select {
	background: none;
	border: none;
	color: var(--gbm-fg);
	font-size: 14px;
	border-bottom: 1px dotted var(--gbm-fg);
	padding: 2px;
	padding-top: 0px;
	padding-left: 0px;
	margin-bottom: 3px;
}
textarea:hover, textarea:active, textarea:focus, select:hover, select:active, select:focus {
	background-color: var(--gbm-bg);
}

.sheet-Teal input[type=text], .sheet-Teal textarea, .sheet-Teal select {
	color: var(--gbm-teal-text);
	border-bottom: 1px dotted var(--gbm-teal-text);
}

select {
	height: auto;
}

.sheet-bigname {
	font-size: 28px;
	margin-bottom: 8px;
}
.sheet-bigname span.sheet-Icon-Abyss, .sheet-bigname span.sheet-Icon-Dreams, .sheet-bigname span.sheet-Icon-Sky, .sheet-bigname span.sheet-Icon-Stars {
	height: 36px;
	width: 36px;
}

input.sheet-HideNull[value=""] + *, input.sheet-HideNull[value="0"] + * {
	display: none;
}

input.sheet-Mode-Playset ~ .sheet-Playset-Abyss, input.sheet-Mode-Playset ~ .sheet-Playset-Sky, input.sheet-Mode-Playset ~ .sheet-Playset-Stars, input.sheet-Mode-Playset ~ .sheet-Playset-Dreams, input.sheet-Mode-Playset ~ * .sheet-Playset-Abyss, input.sheet-Mode-Playset ~ * .sheet-Playset-Sky, input.sheet-Mode-Playset ~ * .sheet-Playset-Stars, input.sheet-Mode-Playset ~ * .sheet-Playset-Dreams {
	display: none;
}
input.sheet-Mode-Playset[value=abyss] ~ span.sheet-Playset-Abyss, input.sheet-Mode-Playset[value=abyss] ~ * span.sheet-Playset-Abyss {
	display: inline;
}
input.sheet-Mode-Playset[value=abyss] ~ div.sheet-Playset-Abyss, input.sheet-Mode-Playset[value=abyss] ~ * div.sheet-Playset-Abyss {
	display: block;
}
input.sheet-Mode-Playset[value=sky] ~ span.sheet-Playset-Sky, input.sheet-Mode-Playset[value=sky] ~ * span.sheet-Playset-Sky {
	display: inline;
}
input.sheet-Mode-Playset[value=sky] ~ div.sheet-Playset-Sky, input.sheet-Mode-Playset[value=sky] ~ * div.sheet-Playset-Sky {
	display: block;
}
input.sheet-Mode-Playset[value=stars] ~ span.sheet-Playset-Stars, input.sheet-Mode-Playset[value=stars] ~ * span.sheet-Playset-Stars {
	display: inline;
}
input.sheet-Mode-Playset[value=stars] ~ div.sheet-Playset-Stars, input.sheet-Mode-Playset[value=stars] ~ * div.sheet-Playset-Stars {
	display: block;
}
input.sheet-Mode-Playset[value=dreams] ~ span.sheet-Playset-Dreams, input.sheet-Mode-Playset[value=dreams] ~ * span.sheet-Playset-Dreams {
	display: inline;
}
input.sheet-Mode-Playset[value=dreams] ~ div.sheet-Playset-Dreams, input.sheet-Mode-Playset[value=dreams] ~ * div.sheet-Playset-Dreams {
	display: block;
}

span.sheet-Icon-Abyss, span.sheet-Icon-Dreams, span.sheet-Icon-Sky, span.sheet-Icon-Stars {
	height: 14px;
	width: 14px;
	vertical-align: middle;
}

span.sheet-Icon-Abyss {
	display: inline-block;
	content: url(https://raw.githubusercontent.com/fredhicks/ehp-roll20/master/Girl%20By%20Moonlight/icons/playset-abyss.svg);
}

span.sheet-Icon-Dreams {
	display: inline-block;
	content: url(https://raw.githubusercontent.com/fredhicks/ehp-roll20/master/Girl%20By%20Moonlight/icons/playset-dreams.svg);
}

span.sheet-Icon-Sky {
	display: inline-block;
	content: url(https://raw.githubusercontent.com/fredhicks/ehp-roll20/master/Girl%20By%20Moonlight/icons/playset-sky.svg);
}

span.sheet-Icon-Stars {
	display: inline-block;
	content: url(https://raw.githubusercontent.com/fredhicks/ehp-roll20/master/Girl%20By%20Moonlight/icons/playset-stars.svg);
}

input.sheet-Mode-Playbook ~ .sheet-Playbook-Enigma, input.sheet-Mode-Playbook ~ * .sheet-Playbook-Enigma {
	display: none;
}
input.sheet-Mode-Playbook ~ .sheet-Playbook-Stranger, input.sheet-Mode-Playbook ~ * .sheet-Playbook-Stranger {
	display: none;
}
input.sheet-Mode-Playbook ~ .sheet-Playbook-TimeTraveller, input.sheet-Mode-Playbook ~ * .sheet-Playbook-TimeTraveller {
	display: none;
}
input.sheet-Mode-Playbook ~ .sheet-Playbook-Harmony, input.sheet-Mode-Playbook ~ * .sheet-Playbook-Harmony {
	display: none;
}
input.sheet-Mode-Playbook ~ .sheet-Playbook-Guardian, input.sheet-Mode-Playbook ~ * .sheet-Playbook-Guardian {
	display: none;
}
input.sheet-Mode-Playbook ~ .sheet-Playbook-Outsider, input.sheet-Mode-Playbook ~ * .sheet-Playbook-Outsider {
	display: none;
}
input.sheet-Mode-Playbook ~ .sheet-Playbook-UnlikelyHero, input.sheet-Mode-Playbook ~ * .sheet-Playbook-UnlikelyHero {
	display: none;
}
input.sheet-Mode-Playbook[value=Enigma] ~ span.sheet-Playbook-Enigma, input.sheet-Mode-Playbook[value=Enigma] ~ * span.sheet-Playbook-Enigma {
	display: inline;
}
input.sheet-Mode-Playbook[value=Enigma] ~ div.sheet-Playbook-Enigma, input.sheet-Mode-Playbook[value=Enigma] ~ * div.sheet-Playbook-Enigma {
	display: block;
}
input.sheet-Mode-Playbook[value=Stranger] ~ span.sheet-Playbook-Stranger, input.sheet-Mode-Playbook[value=Stranger] ~ * span.sheet-Playbook-Stranger {
	display: inline;
}
input.sheet-Mode-Playbook[value=Stranger] ~ div.sheet-Playbook-Stranger, input.sheet-Mode-Playbook[value=Stranger] ~ * div.sheet-Playbook-Stranger {
	display: block;
}
input.sheet-Mode-Playbook[value=TimeTraveller] ~ span.sheet-Playbook-TimeTraveller, input.sheet-Mode-Playbook[value=TimeTraveller] ~ * span.sheet-Playbook-TimeTraveller {
	display: inline;
}
input.sheet-Mode-Playbook[value=TimeTraveller] ~ div.sheet-Playbook-TimeTraveller, input.sheet-Mode-Playbook[value=TimeTraveller] ~ * div.sheet-Playbook-TimeTraveller {
	display: block;
}
input.sheet-Mode-Playbook[value=Harmony] ~ span.sheet-Playbook-Harmony, input.sheet-Mode-Playbook[value=Harmony] ~ * span.sheet-Playbook-Harmony {
	display: inline;
}
input.sheet-Mode-Playbook[value=Harmony] ~ div.sheet-Playbook-Harmony, input.sheet-Mode-Playbook[value=Harmony] ~ * div.sheet-Playbook-Harmony {
	display: block;
}
input.sheet-Mode-Playbook[value=Guardian] ~ span.sheet-Playbook-Guardian, input.sheet-Mode-Playbook[value=Guardian] ~ * span.sheet-Playbook-Guardian {
	display: inline;
}
input.sheet-Mode-Playbook[value=Guardian] ~ div.sheet-Playbook-Guardian, input.sheet-Mode-Playbook[value=Guardian] ~ * div.sheet-Playbook-Guardian {
	display: block;
}
input.sheet-Mode-Playbook[value=Outsider] ~ span.sheet-Playbook-Outsider, input.sheet-Mode-Playbook[value=Outsider] ~ * span.sheet-Playbook-Outsider {
	display: inline;
}
input.sheet-Mode-Playbook[value=Outsider] ~ div.sheet-Playbook-Outsider, input.sheet-Mode-Playbook[value=Outsider] ~ * div.sheet-Playbook-Outsider {
	display: block;
}
input.sheet-Mode-Playbook[value=UnlikelyHero] ~ span.sheet-Playbook-UnlikelyHero, input.sheet-Mode-Playbook[value=UnlikelyHero] ~ * span.sheet-Playbook-UnlikelyHero {
	display: inline;
}
input.sheet-Mode-Playbook[value=UnlikelyHero] ~ div.sheet-Playbook-UnlikelyHero, input.sheet-Mode-Playbook[value=UnlikelyHero] ~ * div.sheet-Playbook-UnlikelyHero {
	display: block;
}

/* .sheet-Bio-Block
 * display: grid
 * grid-template-columns: 100px 1fr
 * column-gap: 8px
 * row-gap: 8px
 * .sheet-Label, .sheet-Field, .sheet-Field-Wide
 * vertical-align: top
 * .sheet-Label
 * grid-column-start: 1
 * font-weight: bold
 * font-size: 10px
 * text-align: right
 * text-transform: uppercase
 * .sheet-Field
 * grid-column-start: 2
 * .sheet-Field-Wide
 * grid-column: 1 / span 2
 * .sheet-Field, .sheet-Field-Wide
 * .sheet-Prompt
 * font-size: 10px
 * font-style: italic
 * text-align: right
 * input[type='text'], select, textarea
 * width: 100%
 * textarea
 * height: 50px
 * margin-bottom: 0px */
.sheet-Bio-Block .sheet-Label, .sheet-Bio-Block .sheet-Field, .sheet-Bio-Block .sheet-Field-Wide {
	vertical-align: top;
}
.sheet-Bio-Block .sheet-Label {
	font-weight: bold;
	font-size: 10px;
	text-align: left;
	text-transform: uppercase;
}
.sheet-Bio-Block .sheet-Field, .sheet-Bio-Block .sheet-Field-Wide {
	margin-bottom: 8px;
}
.sheet-Bio-Block .sheet-Field .sheet-Prompt, .sheet-Bio-Block .sheet-Field-Wide .sheet-Prompt {
	font-size: 10px;
	font-style: italic;
	text-align: right;
}
.sheet-Bio-Block .sheet-Field input[type=text], .sheet-Bio-Block .sheet-Field select, .sheet-Bio-Block .sheet-Field textarea, .sheet-Bio-Block .sheet-Field-Wide input[type=text], .sheet-Bio-Block .sheet-Field-Wide select, .sheet-Bio-Block .sheet-Field-Wide textarea {
	width: 100%;
}
.sheet-Bio-Block .sheet-Field textarea, .sheet-Bio-Block .sheet-Field-Wide textarea {
	height: 50px;
	margin-bottom: 0px;
}

.sheet-Abilities-Block .sheet-Ability {
	-ms-grid-column: 1;
	    grid-column-start: 1;
	display: -ms-grid;
	display: grid;
	-webkit-column-gap: 4px;
	   -moz-column-gap: 4px;
	        column-gap: 4px;
	-ms-grid-columns: 24px 4px 1fr;
	grid-template-columns: 24px 1fr;
}
.sheet-Abilities-Block .sheet-Ability .sheet-Ability-Text {
	-ms-grid-column: 2;
	    grid-column-start: 2;
	margin-bottom: 6px;
}
.sheet-Abilities-Block .sheet-Ability .sheet-Ability-Text p {
	margin-top: 6px;
}
.sheet-Abilities-Block .sheet-Ability .sheet-Ability-Text input[type=text], .sheet-Abilities-Block .sheet-Ability .sheet-Ability-Text select {
	width: 100%;
}
.sheet-Abilities-Block .sheet-Ability .sheet-Ability-Selector {
	-ms-grid-column: 1;
	    grid-column-start: 1;
}
.sheet-Abilities-Block .sheet-Ability-Veteran-Header .sheet-Label {
	text-transform: uppercase;
	font-weight: bold;
}
.sheet-Abilities-Block .sheet-Ability-Veteran-Header .sheet-Instruction select {
	width: 100%;
}

.sheet-Blocks-Playbooks {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 30% 12px 40% 12px 30%;
	grid-template-columns: 30% 40% 30%;
	-webkit-column-gap: 12px;
	   -moz-column-gap: 12px;
	        column-gap: 12px;
}
.sheet-Blocks-Playbooks .sheet-Left, .sheet-Blocks-Playbooks .sheet-Mid, .sheet-Blocks-Playbooks .sheet-Right {
	vertical-align: top;
}
.sheet-Blocks-Playbooks .sheet-Left {
	-ms-grid-column: 1;
	    grid-column-start: 1;
}
.sheet-Blocks-Playbooks .sheet-Mid {
	-ms-grid-column: 2;
	    grid-column-start: 2;
}
.sheet-Blocks-Playbooks .sheet-Right {
	-ms-grid-column: 3;
	    grid-column-start: 3;
}

.sheet-Box {
	background-color: var(--gbm-blue-shaded);
	padding-right: 8px;
	padding-bottom: 4px;
	padding-top: 4px;
	padding-left: 4px;
	border-radius: 0px 12px 12px 12px;
	margin-bottom: 8px;
}
.sheet-Box .sheet-Box-Header {
	border: 0.5px solid var(--gbm-blue);
	border-radius: 0px 12px 0px 0px;
	margin-right: -8px;
	margin-top: -4px;
	margin-left: -4px;
	margin-bottom: 4px;
	padding-left: 4px;
	font-size: 21px;
	color: white;
	background-color: var(--gbm-blue);
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr 75px;
	grid-template-columns: 1fr 75px;
}
.sheet-Box .sheet-Box-Header .sheet-Box-Header-Icons {
	text-align: right;
	-ms-grid-column: 2;
	    grid-column-start: 2;
}
.sheet-Box.sheet-Teal {
	color: var(--gbm-teal-text);
	background-color: var(--gbm-teal-shaded);
}
.sheet-Box.sheet-Teal .sheet-Box-Header {
	background-color: var(--gbm-teal);
}
.sheet-Box.sheet-Pink {
	background-color: var(--gbm-pink-shaded);
}
.sheet-Box.sheet-Pink .sheet-Box-Header {
	background-color: var(--gbm-pink);
}
.sheet-Box.sheet-Purple {
	background-color: var(--gbm-purple-shaded);
}
.sheet-Box.sheet-Purple .sheet-Box-Header {
	background-color: var(--gbm-purple);
}

/* Not currently in use but it looks cool, so keep this defintion around */
.sheet-Lozenge-Label {
	display: inline-block;
	font-weight: bold;
	color: var(--gbm-blue-pale);
	background-color: var(--gbm-blue);
	padding-left: 6px;
	border-radius: 12px 0px 0px 12px;
	border-right: 12px solid var(--gbm-blue-dark);
	width: 120px;
	font-size: 10px;
}

.sheet-buttonless {
	border: none;
	background: none;
	font-weight: normal;
	text-align: left;
	padding: 0px;
	vertical-align: top;
}

button.sheet-button-header-collapse:before {
	font-family: "Pictos";
	font-size: 21px;
	content: "J";
}

button.sheet-button-header-expand:before {
	font-family: "Pictos";
	font-size: 21px;
	content: "`";
}

button.sheet-button-header-edit:before {
	font-family: "Pictos";
	font-size: 21px;
	content: "p";
}

button.sheet-button-header-close:before {
	font-family: "Pictos";
	font-size: 21px;
	content: "D";
}

button.sheet-button-mark-on:before {
	content: url(https://raw.githubusercontent.com/fredhicks/ehp-roll20/master/Girl%20By%20Moonlight/icons/mark-on.svg);
	height: 14px;
	width: 14px;
}

button.sheet-button-mark-off:before {
	content: url(https://raw.githubusercontent.com/fredhicks/ehp-roll20/master/Girl%20By%20Moonlight/icons/mark-off.svg);
	height: 14px;
	width: 14px;
}

button.sheet-button-header-mark-on:before {
	content: url(https://raw.githubusercontent.com/fredhicks/ehp-roll20/master/Girl%20By%20Moonlight/icons/mark-on.svg);
	height: 21px;
	width: 21px;
}

button.sheet-button-header-mark-off:before {
	content: url(https://raw.githubusercontent.com/fredhicks/ehp-roll20/master/Girl%20By%20Moonlight/icons/mark-off.svg);
	height: 21px;
	width: 21px;
}

button.sheet-button-transcendent-on:before {
	content: url(https://raw.githubusercontent.com/fredhicks/ehp-roll20/master/Girl%20By%20Moonlight/icons/transcendent-on.svg);
	height: 16px;
	width: 16px;
}

button.sheet-button-transcendent-off:before {
	content: url(https://raw.githubusercontent.com/fredhicks/ehp-roll20/master/Girl%20By%20Moonlight/icons/transcendent-off.svg);
	height: 16px;
	width: 16px;
}

button.sheet-button-header-transcendent-on:before {
	content: url(https://raw.githubusercontent.com/fredhicks/ehp-roll20/master/Girl%20By%20Moonlight/icons/transcendent-on.svg);
}

button.sheet-button-header-transcendent-on, button.sheet-button-header-transcendent-on:before {
	height: 23px;
	width: 23px;
	max-height: 23px;
	max-width: 23px;
}

button.sheet-button-header-transcendent-off:before {
	content: url(https://raw.githubusercontent.com/fredhicks/ehp-roll20/master/Girl%20By%20Moonlight/icons/transcendent-off.svg);
}

button.sheet-button-header-transcendent-off, button.sheet-button-header-transcendent-off:before {
	height: 23px;
	width: 23px;
	max-height: 23px;
	max-width: 23px;
}

.sheet-button-header-expand, .sheet-button-header-collapse, .sheet-button-header-edit, .sheet-button-header-close, .sheet-button-header-mark-off, .sheet-button-header-mark-on, .sheet-button-header-transcendent-off, .sheet-button-header-transcendent-on {
	border: none;
	background: none;
	font-weight: normal;
	text-align: left;
	padding-top: 7px;
	padding-bottom: 7px;
	vertical-align: top;
}
.sheet-button-header-expand:hover, .sheet-button-header-collapse:hover, .sheet-button-header-edit:hover, .sheet-button-header-close:hover, .sheet-button-header-mark-off:hover, .sheet-button-header-mark-on:hover, .sheet-button-header-transcendent-off:hover, .sheet-button-header-transcendent-on:hover {
	text-shadow: 0 0 8px white;
}
.sheet-button-header-expand:focus, .sheet-button-header-collapse:focus, .sheet-button-header-edit:focus, .sheet-button-header-close:focus, .sheet-button-header-mark-off:focus, .sheet-button-header-mark-on:focus, .sheet-button-header-transcendent-off:focus, .sheet-button-header-transcendent-on:focus {
	text-shadow: 0 0 8px black;
}

.sheet-button-mark-on, .sheet-button-mark-off, .sheet-button-transcendent-on, .sheet-button-transcendent-off {
	border: none;
	background: none;
	font-weight: normal;
	text-align: left;
	vertical-align: top;
}

.sheet-hide-on-one[value="1"] + *, .sheet-hide-on-zero[value="0"] + * {
	display: none;
}

input.sheet-unused-toggle[value="1"] ~ input.sheet-hide-if-unused[value="0"] + *,
input.sheet-unused-toggle[value="1"] ~ * input.sheet-hide-if-unused[value="0"] + * {
	display: none;
}