$bodyfont: 'Montserrat', sans-serif
$bodysize: 14px
$bodystarsize: 16px
$labelsize: 10px
$smallsize: 10px
$headsize: 21px
$headstarsize: 23px
$bigsize: 28px
$bigicon: 36px
$headfont: 'Kufam', sans-serif
$abyssicon: url(https://raw.githubusercontent.com/fredhicks/ehp-roll20/master/Girl%20By%20Moonlight/icons/playset-abyss.svg)
$skyicon: url(https://raw.githubusercontent.com/fredhicks/ehp-roll20/master/Girl%20By%20Moonlight/icons/playset-sky.svg)
$starsicon: url(https://raw.githubusercontent.com/fredhicks/ehp-roll20/master/Girl%20By%20Moonlight/icons/playset-stars.svg)
$dreamsicon: url(https://raw.githubusercontent.com/fredhicks/ehp-roll20/master/Girl%20By%20Moonlight/icons/playset-dreams.svg)
$markonicon: url(https://raw.githubusercontent.com/fredhicks/ehp-roll20/master/Girl%20By%20Moonlight/icons/mark-on.svg)
$markofficon: url(https://raw.githubusercontent.com/fredhicks/ehp-roll20/master/Girl%20By%20Moonlight/icons/mark-off.svg)
$stressonicon: url(https://raw.githubusercontent.com/fredhicks/ehp-roll20/master/Girl%20By%20Moonlight/icons/stress-on.svg)
$stressofficon: url(https://raw.githubusercontent.com/fredhicks/ehp-roll20/master/Girl%20By%20Moonlight/icons/stress-off.svg)
$tmarkonicon: url(https://raw.githubusercontent.com/fredhicks/ehp-roll20/master/Girl%20By%20Moonlight/icons/transcendent-on.svg)
$tmarkofficon: url(https://raw.githubusercontent.com/fredhicks/ehp-roll20/master/Girl%20By%20Moonlight/icons/transcendent-off.svg)
$tmarkondarkicon: url(https://raw.githubusercontent.com/fredhicks/ehp-roll20/master/Girl%20By%20Moonlight/icons/transcendent-on-dark.svg)
$tmarkoffdarkicon: url(https://raw.githubusercontent.com/fredhicks/ehp-roll20/master/Girl%20By%20Moonlight/icons/transcendent-off-dark.svg)
$e0: url(https://raw.githubusercontent.com/fredhicks/ehp-roll20/master/Girl%20By%20Moonlight/icons/eclipse-0.svg)
$e1: url(https://raw.githubusercontent.com/fredhicks/ehp-roll20/master/Girl%20By%20Moonlight/icons/eclipse-1.svg)
$e2: url(https://raw.githubusercontent.com/fredhicks/ehp-roll20/master/Girl%20By%20Moonlight/icons/eclipse-2.svg)
$e3: url(https://raw.githubusercontent.com/fredhicks/ehp-roll20/master/Girl%20By%20Moonlight/icons/eclipse-3.svg)
$e4: url(https://raw.githubusercontent.com/fredhicks/ehp-roll20/master/Girl%20By%20Moonlight/icons/eclipse-4.svg)
$e5: url(https://raw.githubusercontent.com/fredhicks/ehp-roll20/master/Girl%20By%20Moonlight/icons/eclipse-5.svg)
$e6: url(https://raw.githubusercontent.com/fredhicks/ehp-roll20/master/Girl%20By%20Moonlight/icons/eclipse-6.svg)
$e7: url(https://raw.githubusercontent.com/fredhicks/ehp-roll20/master/Girl%20By%20Moonlight/icons/eclipse-7.svg)
$e8: url(https://raw.githubusercontent.com/fredhicks/ehp-roll20/master/Girl%20By%20Moonlight/icons/eclipse-8.svg)
$e9: url(https://raw.githubusercontent.com/fredhicks/ehp-roll20/master/Girl%20By%20Moonlight/icons/eclipse-9.svg)
$xpleftoff: url(https://raw.githubusercontent.com/fredhicks/ehp-roll20/master/Girl%20By%20Moonlight/icons/xp-box-left-off.svg)
$xplefton: url(https://raw.githubusercontent.com/fredhicks/ehp-roll20/master/Girl%20By%20Moonlight/icons/xp-box-left-on.svg)
$xpmidoff: url(https://raw.githubusercontent.com/fredhicks/ehp-roll20/master/Girl%20By%20Moonlight/icons/xp-box-mid-off.svg)
$xpmidon: url(https://raw.githubusercontent.com/fredhicks/ehp-roll20/master/Girl%20By%20Moonlight/icons/xp-box-mid-on.svg)
$xprightoff: url(https://raw.githubusercontent.com/fredhicks/ehp-roll20/master/Girl%20By%20Moonlight/icons/xp-box-right-off.svg)
$xprighton: url(https://raw.githubusercontent.com/fredhicks/ehp-roll20/master/Girl%20By%20Moonlight/icons/xp-box-right-on.svg)
$statscon: url(https://raw.githubusercontent.com/fredhicks/ehp-roll20/master/Girl%20By%20Moonlight/icons/connector-stats-blue-vertical.svg)

@import url('https://fonts.googleapis.com/css2?family=Kufam:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap')

// Comment valid?

:root
	--gbm-blue: #006784
	--gbm-blue-pale: #dee9ed
	--gbm-blue-shade: #8fb1b5
	--gbm-blue-dark: #00394c
	--gbm-pink: #a52868
	--gbm-pink-pale: #d6b8c2
	--gbm-pink-dark: #68083f
	--gbm-teal: #358a8d
	--gbm-teal-pale: #d6e7e8
	--gbm-teal-dark: #005f5f
	--gbm-purple: #564a6f
	--gbm-purple-pale: #d6d1d9
	--gbm-purple-dark: #261841
	--gbm-blue-shaded: var(--gbm-blue-pale)
	--gbm-teal-shaded: var(--gbm-teal-pale)
	--gbm-pink-shaded: var(--gbm-pink-pale)
	--gbm-purple-shaded: var(--gbm-purple-pale)
	--gbm-blue-text: var(--gbm-blue)
	--gbm-teal-text: var(--gbm-teal)
	--gbm-pink-text: var(--gbm-pink)
	--gbm-purple-text: var(--gbm-purple)
	--gbm-font-size: 16px
	--gbm-fg: var(--gbm-blue-text)
	--gbm-bg: white
	font-family: #{$bodyfont}
	color: var(--gbm-fg)
	background: var(--gbm-bg)

.sheet-darkmode, .sheet-rolltemplate-darkmode
	--gbm-fg: var(--gbm-blue-pale)
	--gbm-bg: #1f1f1f
	--gbm-blue-shaded: var(--gbm-blue-dark)
	--gbm-teal-shaded: var(--gbm-teal-dark)
	--gbm-pink-shaded: var(--gbm-pink-dark)
	--gbm-purple-shaded: var(--gbm-purple-dark)
	--gbm-blue-text: var(--gbm-blue-pale)
	--gbm-teal-text: var(--gbm-teal-pale)
	--gbm-pink-text: var(--gbm-pink-pale)
	--gbm-purple-text: var(--gbm-purple-pale)

.ui-dialog .charsheet
	font-family: #{$bodyfont}
	font-size: #{$bodysize} 
	color: var(--gbm-fg)
	background-color: var(--gbm-bg)
	line-height: unset
	p
		font-family: #{$bodyfont}
		font-size: #{$bodysize} 
		line-height: unset

input[type="text"]
	background: none
	border: none
	color: var(--gbm-fg)
	padding: 2px
	padding-top: 0px
	font-size: #{$bodysize}
	border-bottom: 1px dotted var(--gbm-fg)
	margin-bottom: 3px
	&:hover, &:active, &:focus
		background-color: var(--gbm-bg)

textarea, select
	background: none
	border: none
	color: var(--gbm-fg)
	font-size: #{$bodysize}
	border-bottom: 1px dotted var(--gbm-fg)
	padding: 2px
	padding-top: 0px
	padding-left: 0px
	margin-bottom: 3px
	&:hover, &:active, &:focus
		background-color: var(--gbm-bg)

.sheet-preload
	opacity: 0
	position: absolute

.sheet-preload img
	width: 1px
	height: 1px

.sheet-Teal
	input[type="text"], textarea, select
		color: var(--gbm-teal-text)
		border-bottom: 1px dotted var(--gbm-teal-text)
.sheet-Pink
	input[type="text"], textarea, select
		color: var(--gbm-pink-text)
		border-bottom: 1px dotted var(--gbm-pink-text)
.sheet-Purple
	input[type="text"], textarea, select
		color: var(--gbm-purple-text)
		border-bottom: 1px dotted var(--gbm-purple-text)

select
	height: auto

.sheet-bigname
	font-size: #{$bigsize}
	margin-bottom: 8px
	span.sheet-Icon-Abyss, span.sheet-Icon-Dreams, span.sheet-Icon-Sky, span.sheet-Icon-Stars
		height: #{$bigicon}
		width: #{$bigicon}

input.sheet-HideNull
	&[value=""], &[value="0"]
		+ *
			display: none

input.sheet-Mode-Playset
	~, ~ *
		.sheet-Playset-Abyss, .sheet-Playset-Sky, .sheet-Playset-Stars, .sheet-Playset-Dreams
			display: none
	&[value='abyss']
		~, ~ *
			span.sheet-Playset-Abyss
				display: inline
			div.sheet-Playset-Abyss
				display: block
	&[value='sky']
		~, ~ *
			span.sheet-Playset-Sky
				display: inline
			div.sheet-Playset-Sky
				display: block
	&[value='stars']
		~, ~ *
			span.sheet-Playset-Stars
				display: inline
			div.sheet-Playset-Stars
				display: block
	&[value='dreams']
		~, ~ *
			span.sheet-Playset-Dreams
				display: inline
			div.sheet-Playset-Dreams
				display: block

span.sheet-Icon-Abyss, span.sheet-Icon-Dreams, span.sheet-Icon-Sky, span.sheet-Icon-Stars
	height: #{$bodysize}
	width: #{$bodysize}
	vertical-align: middle

span.sheet-Icon-Abyss
	display: inline-block
	content: #{$abyssicon}
span.sheet-Icon-Dreams
	display: inline-block
	content: #{$dreamsicon}
span.sheet-Icon-Sky
	display: inline-block
	content: #{$skyicon}
span.sheet-Icon-Stars
	display: inline-block
	content: #{$starsicon}

$playbooks: Enigma, Stranger, TimeTraveller, Harmony, Guardian, Outsider, UnlikelyHero

input.sheet-Mode-Playbook
	~, ~ *
		@each $pb in $playbooks
			.sheet-Playbook-#{$pb}
				display: none
		span.sheet-Playbook-Selected
			display: inline
		div.sheet-Playbook-Selected
			display: block
	&[value=""]
		~, ~ *
			.sheet-Playbook-Selected
				display: none
	@each $pb in $playbooks
		&[value=#{$pb}]
			~, ~ *
				span.sheet-Playbook-#{$pb} 
					display: inline
				div.sheet-Playbook-#{$pb}
					display: block

/* .sheet-Bio-Block
	display: grid
	grid-template-columns: 100px 1fr
	column-gap: 8px
	row-gap: 8px
	.sheet-Label, .sheet-Field, .sheet-Field-Wide
		vertical-align: top
	.sheet-Label
		grid-column-start: 1
		font-weight: bold
		font-size: #{$labelsize}
		text-align: right
		text-transform: uppercase
	.sheet-Field
		grid-column-start: 2
	.sheet-Field-Wide
		grid-column: 1 / span 2
	.sheet-Field, .sheet-Field-Wide
		.sheet-Prompt
			font-size: #{$smallsize}
			font-style: italic
			text-align: right
		input[type='text'], select, textarea
			width: 100%
		textarea
			height: 50px
			margin-bottom: 0px */


.sheet-Bio-Block
	.sheet-Label, .sheet-Field, .sheet-Field-Wide
		vertical-align: top
	.sheet-Label
		font-weight: bold
		font-size: #{$labelsize}
		text-align: left
		text-transform: uppercase
	.sheet-Field, .sheet-Field-Wide
		margin-bottom: 8px
		.sheet-Prompt
			font-size: #{$smallsize}
			font-style: italic
			text-align: right
		input[type='text'], select, textarea
			width: 100%
		textarea
			height: 50px
			margin-bottom: 0px


.sheet-Abilities-Block
	.sheet-Ability
		grid-column-start: 1
		display: grid
		column-gap: 4px
		grid-template-columns: 24px 1fr
		.sheet-Ability-Text
			grid-column-start: 2
			margin-bottom: 6px
			p
				margin-top: 6px
			input[type=text], select
				width: 100%
		.sheet-Ability-Selector
			grid-column-start: 1
	.sheet-Ability-Veteran-Header
		.sheet-Label
			text-transform: uppercase
			font-weight: bold
		.sheet-Instruction
			select
				width: 100%

.sheet-Blocks-Playbooks
	display: grid
	grid-template-columns: 30% 40% 30%
	column-gap: 12px
	.sheet-Left, .sheet-Mid, .sheet-Right
		vertical-align: top
	.sheet-Left
		grid-column-start: 1
	.sheet-Mid
		grid-column-start: 2
	.sheet-Right
		grid-column-start: 3

.sheet-Box
	background-color: var(--gbm-blue-shaded)
	padding: 4px
	border-radius: 0px 12px 12px 12px
	margin-bottom: 8px
	.sheet-Box-Header
		border: 0.5px solid var(--gbm-blue)
		border-radius: 0px 12px 0px 0px
		margin-right: -4px
		margin-top: -4px
		margin-left: -4px
		margin-bottom: 4px
		padding-left: 4px
		font-size: #{$headsize}
		color: white
		background-color: var(--gbm-blue)
		display: flex
		flex-direction: row
		flex-wrap: nowrap
		justify-content: space-between
		align-content: center
		.sheet-Box-Header-Icons
			text-align: right
		&.sheet-Box-Subsection
			margin-top: 8px
			font-size: #{$bodysize}
			border-radius: 0px 6px 0px 0px
			.sheet-button-header-expand, .sheet-button-header-collapse, .sheet-button-header-edit, .sheet-button-header-close, .sheet-button-header-mark-off, .sheet-button-header-mark-on, .sheet-button-header-transcendent-off, .sheet-button-header-transcendent-on
				padding-top: 0px
				padding-bottom: 0px
				&:before
					font-size: #{$bodysize}
	&.sheet-Teal
		color: var(--gbm-teal-text)
		background-color: var(--gbm-teal-shaded)
		.sheet-Box-Header
			border: 0.5px solid var(--gbm-teal)
			background-color: var(--gbm-teal)
	&.sheet-Pink
		color: var(--gbm-pink-text)
		background-color: var(--gbm-pink-shaded)
		.sheet-Box-Header
			border: 0.5px solid var(--gbm-pink)
			background-color: var(--gbm-pink)
	&.sheet-Purple
		color: var(--gbm-purple-text)
		background-color: var(--gbm-purple-shaded)
		.sheet-Box-Header
			border: 0.5px solid var(--gbm-purple)
			background-color: var(--gbm-purple)

/* Not currently in use but it looks cool, so keep this defintion around */

.sheet-Lozenge-Label
	display: inline-block
	font-weight: bold
	color: var(--gbm-blue-pale)
	background-color: var(--gbm-blue)
	padding-left: 6px
	border-radius: 12px 0px 0px 12px
	border-right: 12px solid var(--gbm-blue-dark)
	width: 120px
	font-size: #{$labelsize}

.ui-dialog .tab-content .charsheet button[type="roll"].sheet-buttonless
	border: none
	background: none
	font-weight: normal
	text-align: left
	padding: 0px
	margin: 0px
	margin-top: -1px
	margin-bottom: 4px
	vertical-align: baseline
	text-shadow: none
	color: inherit
	font-weight: inherit
	font-size: inherit
	border-radius: unset
	line-height: inherit
	box-shadow: unset
	&:before
		content: ""
	&:hover
		text-shadow: 0 0 8px white
	&:active
		color: white
		text-shadow: 0 0 8px black

button.sheet-button-header-collapse:before
	font-family: 'Pictos'
	font-size: #{$headsize}
	content: 'J'

button.sheet-button-header-expand:before
	font-family: 'Pictos'
	font-size: #{$headsize}
	content: '`'

button.sheet-button-header-edit:before
	font-family: 'Pictos'
	font-size: #{$headsize}
	content: 'p'

button.sheet-button-header-close:before
	font-family: 'Pictos'
	font-size: #{$headsize}
	content: 'D'

button.sheet-button-mark-on:before
	content: #{$markonicon}
	height: #{$bodysize}
	width: #{$bodysize}

button.sheet-button-mark-off:before
	content: #{$markofficon}
	height: #{$bodysize}
	width: #{$bodysize}

button.sheet-button-header-mark-on:before
	content: #{$markonicon}
	height: #{$headsize}
	width: #{$headsize}

button.sheet-button-header-mark-off:before
	content: #{$markofficon}
	height: #{$headsize}
	width: #{$headsize}

button.sheet-button-transcendent-on:before
	content: #{$tmarkonicon}
	height: #{$bodystarsize}
	width: #{$bodystarsize}
.sheet-darkmode button.sheet-button-transcendent-on:before
	content: #{$tmarkondarkicon}

button.sheet-button-transcendent-off:before
	content: #{$tmarkofficon}
	height: #{$bodystarsize}
	width: #{$bodystarsize}
.sheet-darkmode button.sheet-button-transcendent-off:before
	content: #{$tmarkoffdarkicon}
	
button.sheet-button-stress-on:before
	content: #{$stressonicon}
	height: #{$bodysize}
	width: #{$bodysize}

button.sheet-button-stress-off:before
	content: #{$stressofficon}
	height: #{$bodysize}
	width: #{$bodysize}

button.sheet-button-header-transcendent-on:before
	content: #{$tmarkondarkicon}
.sheet-darkmode button.sheet-button-header-transcendent-on:before
	content: #{$tmarkondarkicon}
button.sheet-button-header-transcendent-on, button.sheet-button-header-transcendent-on:before
	height: #{$headstarsize}
	width: #{$headstarsize}
	max-height: #{$headstarsize}
	max-width: #{$headstarsize}

button.sheet-button-header-transcendent-off:before
	content: #{$tmarkoffdarkicon}
.sheet-darkmode button.sheet-button-header-transcendent-off:before
	content: #{$tmarkoffdarkicon}
button.sheet-button-header-transcendent-off, button.sheet-button-header-transcendent-off:before
	height: #{$headstarsize}
	width: #{$headstarsize}
	max-height: #{$headstarsize}
	max-width: #{$headstarsize}


button.sheet-button-header-xp-on:before
	content: #{$xpmidon}
	height: #{$headsize}
	width: #{$headsize}

button.sheet-button-header-xp-off:before
	content: #{$xpmidoff}
	height: #{$headsize}
	width: #{$headsize}

button.sheet-button-header-xp-on.sheet-xp-start:before
	content: #{$xplefton}

button.sheet-button-header-xp-off.sheet-xp-start:before
	content: #{$xpleftoff}

button.sheet-button-header-xp-on.sheet-xp-end:before
	content: #{$xprighton}

button.sheet-button-header-xp-off.sheet-xp-end:before
	content: #{$xprightoff}

.sheet-button-header-expand, .sheet-button-header-collapse, .sheet-button-header-edit, .sheet-button-header-close, .sheet-button-header-mark-off, .sheet-button-header-mark-on, .sheet-button-header-transcendent-off, .sheet-button-header-transcendent-on, .sheet-button-header-xp-on, .sheet-button-header-xp-off
	border: none
	background: none
	font-weight: normal
	text-align: left
	padding-top: 7px
	padding-bottom: 7px
	padding-left: 0px
	vertical-align: top
	&:hover
		text-shadow: 0 0 8px white
	&:focus
		text-shadow: 0 0 8px black

.sheet-button-header-mark-off, .sheet-button-header-mark-on, .sheet-button-header-transcendent-off, .sheet-button-header-transcendent-on
	padding-right: 0px

.sheet-button-header-transcendent-off, .sheet-button-header-transcendent-on
	padding-top: 5px
	margin-right: -6px

.sheet-button-header-xp-on, .sheet-button-header-xp-off
	padding-right: 0px
	padding-left: 0px
	padding-bottom: 0px
	padding-top: 2px

.sheet-XP-Track
	display: flex
	flex-direction: row
	flex-wrap: nowrap
	justify-content: flex-end
	align-content: center
	padding-right: 4px
.sheet-XP-Track-Label
	font-size: #{$labelsize}
	text-align: center
	padding: 0px
	padding-bottom: 4px
	margin-top: -4px
	text-transform: uppercase

.sheet-button-mark-on, .sheet-button-mark-off, .sheet-button-transcendent-on, .sheet-button-transcendent-off, .sheet-button-stress-on, .sheet-button-stress-off
	border: none
	background: none
	font-weight: normal
	text-align: left
	vertical-align: top
	padding-left: 0
	padding-right: 0
	
.sheet-hide-on-one[value="1"], .sheet-hide-on-zero[value="0"] 
	+ * 
		display: none

input.sheet-unused-toggle[value="1"]
	~ input.sheet-hide-if-unused[value="0"] + *, 
	~ * input.sheet-hide-if-unused[value="0"] + *
		display: none

.sheet-Stress-Track
	text-align: center
	height: 50px
	padding-top: 30px
	background: #{$e0} no-repeat center center
	background-size: 60px
input.sheet-Stress-Total
	&[value="0"] ~ .sheet-Stress-Track
		background: #{$e0} no-repeat center center
	&[value="1"] ~ .sheet-Stress-Track
		background: #{$e1} no-repeat center center
	&[value="2"] ~ .sheet-Stress-Track
		background: #{$e2} no-repeat center center
	&[value="3"] ~ .sheet-Stress-Track
		background: #{$e3} no-repeat center center
	&[value="4"] ~ .sheet-Stress-Track
		background: #{$e4} no-repeat center center
	&[value="5"] ~ .sheet-Stress-Track
		background: #{$e5} no-repeat center center
	&[value="6"] ~ .sheet-Stress-Track
		background: #{$e6} no-repeat center center
	&[value="7"] ~ .sheet-Stress-Track
		background: #{$e7} no-repeat center center
	&[value="8"] ~ .sheet-Stress-Track
		background: #{$e8} no-repeat center center
	&[value="9"] ~ .sheet-Stress-Track
		background: #{$e9} no-repeat center center
.sheet-Stress-Warning
	text-align: center
	font-weight: bold
	font-style: italic

.sheet-Transcendence-Track
	text-align: center
	height: 30px
	padding-top: 4px
.sheet-Transcendence-Warning
	text-align: center
	font-weight: bold
	font-style: italic

.sheet-Links-Block
	.sheet-Link
		display: grid
		grid-template-columns: 1fr 116px
		column-gap: 4px
		margin-bottom: 4px
		input[type='text'], select, textarea
			width: 100%
		.sheet-Who
			vertical-align: top
			grid-column-start: 1
		.sheet-Dots
			vertical-align: top
			grid-column-start: 2
			text-align: right

.sheet-Stats-Block
	margin-top: -4px
	margin-bottom: -4px
	padding-top: 0px
	.sheet-Stats-Row
		display: flex
		flex-wrap: nowrap
		flex-direction: row
		flex-flow: flex-start
		align-content: center
		height: 30px
		.sheet-Connected
			background: #{$statscon} repeat-y center center
		.sheet-Dot, .sheet-Star
			width: 26px
			padding: 0px
			margin: 0px
			text-align: center
			font-size: #{$headsize}
			vertical-align: middle
			// border: 1px solid yellow
		.sheet-Dot
			padding-top: 5px
		.sheet-Star
			padding-top: 4px
			background-color: var(--gbm-teal)
			button.sheet-button-transcendent-on:before
				content: #{$tmarkondarkicon}
			button.sheet-button-transcendent-off:before
				content: #{$tmarkoffdarkicon}
		.sheet-Stat
			padding-left: 4px
			flex-grow: 1
			font-size: #{$headsize}
			vertical-align: middle
