include includes/variables.pug
include includes/mixins.pug
include includes/preload-images.pug
include includes/sheet-worker.pug
include includes/hiddens.pug
include includes/rolltemplates.pug

// How are them rolls handled?
//
// Characters
// Action roll - playbook-stats.pug
// Fortune roll - playbook-other-rolls.pug
// Resistance roll - playbook-stats.pug
// Downtime roll - page 84 - added a reference bloc for how to handle the results 
// Eclipse roll - playbook-stress.pug
// Obligation roll - playbook-other-rolls.pug
// Recovery roll - page 70 - default, a FRIEND helps you recover during downtime - mainly needs documentation
// 
// Missions
// Engagement roll - page 90 - Is its own thing but it's a kind of fortune roll
// Fallout roll - page 98 - sounds like something only the Director (GM) rolls


+hidden("Playbook").sheet-Mode-Playbook
+hidden("Playset").sheet-Mode-Playset
+hidden("Playset-Sheet").sheet-Mode-Playset-Sheet

.sheet-Pick
	include includes/pick-sheet.pug

.sheet-Playset-Sheets.sheet-Picked.sheet-Playset-Sheet-Selected.sheet-Purple
	// If we're here, a non-empty playset sheet has been selected
	.sheet-Purple
		include includes/playset-sheet-header.pug
	.sheet-Blocks-Playset-Sheets
		// Pending (this is the next one to do, since it has more consistency from playset to playset):
		include includes/playset-protagonists.pug
		// Done:
		include includes/playset-adversary.pug
		// Pending (this is the complicated one with the maps):
		include includes/playset-reference.pug
		// Done:
		include includes/playset-creation.pug

.sheet-Playbooks.sheet-Picked.sheet-Playbook-Selected
	// If we're here, a non-empty playbook has been selected
	div
		include includes/playbook-name-header.pug
	.sheet-Blocks-Playbooks
		.sheet-Left
			include includes/playbook-bio.pug
			include includes/playbook-stress.pug
			include includes/playbook-transcendence.pug
			include includes/playbook-harm.pug
			include includes/playbook-links.pug
			include includes/playbook-agenda.pug
			include includes/playbook-sheetpicker.pug
		.sheet-Mid
			include includes/playbook-abilities.pug
			include includes/playbook-clocks.pug
			include includes/playbook-notes.pug
		.sheet-Right
			include includes/playbook-stats.pug
			include includes/playbook-xp.pug
			include includes/playbook-gather-info.pug
			include includes/playbook-other-rolls.pug
			// May want to consider providing reference for downtime actions, but may need to be sensitive to how things are different from playset to playset
			include includes/playbook-downtime.pug
			include includes/playbook-bonus-die.pug
			include includes/playbook-teamwork.pug
// Translations for extraction

+translations
