include includes/variables.pug
include includes/mixins.pug
include includes/preload-images.pug
include includes/sheet-worker.pug

+hidden("Playbook").sheet-Mode-Playbook
+hidden("playset").sheet-Mode-Playset // need to support this

.sheet-Playbooks
	div
		include includes/playbook-name-header.pug
	.sheet-Blocks-Playbooks
		.sheet-Left
			include includes/playbook-stress.pug
			include includes/playbook-transcendence.pug
			// include includes/playbook-harm.pug
			include includes/playbook-xp.pug
			include includes/playbook-links.pug
		.sheet-Mid
			include includes/playbook-abilities.pug
			include includes/playbook-bio.pug
		.sheet-Right
			// include includes/playbook-stats.pug
			include includes/playbook-bonus-die.pug
			include includes/playbook-teamwork.pug
			include includes/playbook-gather-info.pug
			include includes/playbook-agenda.pug
// Translations for extraction

+translations
