include includes/variables.pug
include includes/mixins.pug
include includes/sheet-worker.pug

+hidden("Playbook").sheet-Mode-Playbook
+hidden("playset").sheet-Mode-Playset // need to support this

.sheet-Playbooks
	div
		include includes/playbook-name-header.pug
	.sheet-Blocks-Playbooks
		.sheet-Left
			include includes/playbook-stress.pug
			include includes/playbook-bio.pug
		.sheet-Mid
			include includes/playbook-abilities.pug
		.sheet-Right
// Translations for extraction

+translations
