$bodyfont: 'Montserrat', sans-serif
$bodysize: 14px
$bodystarsize: 16px
$labelsize: 10px
$smallsize: 10px
$headsize: 21px
$headstarsize: 23px
$bigsize: 28px
$bigicon: 36px
$headfont: 'Kufam', sans-serif
$abyssicon: url(https://raw.githubusercontent.com/fredhicks/ehp-roll20/master/Girl%20By%20Moonlight/icons/playset-abyss.svg)
$skyicon: url(https://raw.githubusercontent.com/fredhicks/ehp-roll20/master/Girl%20By%20Moonlight/icons/playset-sky.svg)
$starsicon: url(https://raw.githubusercontent.com/fredhicks/ehp-roll20/master/Girl%20By%20Moonlight/icons/playset-stars.svg)
$dreamsicon: url(https://raw.githubusercontent.com/fredhicks/ehp-roll20/master/Girl%20By%20Moonlight/icons/playset-dreams.svg)
$markonicon: url(https://raw.githubusercontent.com/fredhicks/ehp-roll20/master/Girl%20By%20Moonlight/icons/mark-on.svg)
$markofficon: url(https://raw.githubusercontent.com/fredhicks/ehp-roll20/master/Girl%20By%20Moonlight/icons/mark-off.svg)
$stressonicon: url(https://raw.githubusercontent.com/fredhicks/ehp-roll20/master/Girl%20By%20Moonlight/icons/stress-on.svg)
$stressofficon: url(https://raw.githubusercontent.com/fredhicks/ehp-roll20/master/Girl%20By%20Moonlight/icons/stress-off.svg)
$tmarkonicon: url(https://raw.githubusercontent.com/fredhicks/ehp-roll20/master/Girl%20By%20Moonlight/icons/transcendent-on.svg)
$tmarkofficon: url(https://raw.githubusercontent.com/fredhicks/ehp-roll20/master/Girl%20By%20Moonlight/icons/transcendent-off.svg)
$tmarkondarkicon: url(https://raw.githubusercontent.com/fredhicks/ehp-roll20/master/Girl%20By%20Moonlight/icons/transcendent-on-dark.svg)
$tmarkoffdarkicon: url(https://raw.githubusercontent.com/fredhicks/ehp-roll20/master/Girl%20By%20Moonlight/icons/transcendent-off-dark.svg)
$e0: url(https://raw.githubusercontent.com/fredhicks/ehp-roll20/master/Girl%20By%20Moonlight/icons/eclipse-0.svg)
$e1: url(https://raw.githubusercontent.com/fredhicks/ehp-roll20/master/Girl%20By%20Moonlight/icons/eclipse-1.svg)
$e2: url(https://raw.githubusercontent.com/fredhicks/ehp-roll20/master/Girl%20By%20Moonlight/icons/eclipse-2.svg)
$e3: url(https://raw.githubusercontent.com/fredhicks/ehp-roll20/master/Girl%20By%20Moonlight/icons/eclipse-3.svg)
$e4: url(https://raw.githubusercontent.com/fredhicks/ehp-roll20/master/Girl%20By%20Moonlight/icons/eclipse-4.svg)
$e5: url(https://raw.githubusercontent.com/fredhicks/ehp-roll20/master/Girl%20By%20Moonlight/icons/eclipse-5.svg)
$e6: url(https://raw.githubusercontent.com/fredhicks/ehp-roll20/master/Girl%20By%20Moonlight/icons/eclipse-6.svg)
$e7: url(https://raw.githubusercontent.com/fredhicks/ehp-roll20/master/Girl%20By%20Moonlight/icons/eclipse-7.svg)
$e8: url(https://raw.githubusercontent.com/fredhicks/ehp-roll20/master/Girl%20By%20Moonlight/icons/eclipse-8.svg)
$e9: url(https://raw.githubusercontent.com/fredhicks/ehp-roll20/master/Girl%20By%20Moonlight/icons/eclipse-9.svg)
$xpleftoff: url(https://raw.githubusercontent.com/fredhicks/ehp-roll20/master/Girl%20By%20Moonlight/icons/xp-box-left-off.svg)
$xplefton: url(https://raw.githubusercontent.com/fredhicks/ehp-roll20/master/Girl%20By%20Moonlight/icons/xp-box-left-on.svg)
$xpmidoff: url(https://raw.githubusercontent.com/fredhicks/ehp-roll20/master/Girl%20By%20Moonlight/icons/xp-box-mid-off.svg)
$xpmidon: url(https://raw.githubusercontent.com/fredhicks/ehp-roll20/master/Girl%20By%20Moonlight/icons/xp-box-mid-on.svg)
$xprightoff: url(https://raw.githubusercontent.com/fredhicks/ehp-roll20/master/Girl%20By%20Moonlight/icons/xp-box-right-off.svg)
$xprighton: url(https://raw.githubusercontent.com/fredhicks/ehp-roll20/master/Girl%20By%20Moonlight/icons/xp-box-right-on.svg)
$statscon: url(https://raw.githubusercontent.com/fredhicks/ehp-roll20/master/Girl%20By%20Moonlight/icons/connector-stats-blue-vertical.svg)
$clock: url(https://raw.githubusercontent.com/fredhicks/ehp-roll20/master/Girl%20By%20Moonlight/icons/all-clocks.svg)
$contb: url(https://raw.githubusercontent.com/fredhicks/ehp-roll20/master/Girl%20By%20Moonlight/icons/connection-TB.svg)
$conlr: url(https://raw.githubusercontent.com/fredhicks/ehp-roll20/master/Girl%20By%20Moonlight/icons/connection-LR.svg)
$contr: url(https://raw.githubusercontent.com/fredhicks/ehp-roll20/master/Girl%20By%20Moonlight/icons/connection-TR.svg)
$contl: url(https://raw.githubusercontent.com/fredhicks/ehp-roll20/master/Girl%20By%20Moonlight/icons/connection-TL.svg)
$contlxbr: url(https://raw.githubusercontent.com/fredhicks/ehp-roll20/master/Girl%20By%20Moonlight/icons/connection-TL-BR.svg)
$conbr: url(https://raw.githubusercontent.com/fredhicks/ehp-roll20/master/Girl%20By%20Moonlight/icons/connection-BR.svg)
$conlbxrb: url(https://raw.githubusercontent.com/fredhicks/ehp-roll20/master/Girl%20By%20Moonlight/icons/connection-LB-RB.svg)

@import url('https://fonts.googleapis.com/css2?family=Kufam:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap')

// Comment valid?

:root, .sheet-rolltemplate-GBM
	--gbm-blue: #006784
	--gbm-blue-pale: #dee9ed
	--gbm-blue-dark: #00394c
	--gbm-pink: #a52868
	--gbm-pink-pale: #d6b8c2
	--gbm-pink-dark: #68083f
	--gbm-teal: #358a8d
	--gbm-teal-pale: #d6e7e8
	--gbm-teal-dark: #005f5f
	--gbm-purple: #564a6f
	--gbm-purple-pale: #d6d1d9
	--gbm-purple-dark: #261841
	--gbm-blue-shaded: var(--gbm-blue-pale)
	--gbm-teal-shaded: var(--gbm-teal-pale)
	--gbm-pink-shaded: var(--gbm-pink-pale)
	--gbm-purple-shaded: var(--gbm-purple-pale)
	--gbm-blue-text: var(--gbm-blue-dark)
	--gbm-teal-text: var(--gbm-teal-dark)
	--gbm-pink-text: var(--gbm-pink-dark)
	--gbm-purple-text: var(--gbm-purple-dark)
	--gbm-fg: var(--gbm-blue-text)
	--gbm-bg: white
	font-family: #{$bodyfont}
	color: var(--gbm-fg)
	background: var(--gbm-bg)

.sheet-darkmode, .sheet-rolltemplate-GBM.sheet-rolltemplate-darkmode
	--gbm-fg: var(--gbm-blue-pale)
	--gbm-bg: #1f1f1f
	--gbm-blue-shaded: var(--gbm-blue-dark)
	--gbm-teal-shaded: var(--gbm-teal-dark)
	--gbm-pink-shaded: var(--gbm-pink-dark)
	--gbm-purple-shaded: var(--gbm-purple-dark)
	--gbm-blue-text: var(--gbm-blue-pale)
	--gbm-teal-text: var(--gbm-teal-pale)
	--gbm-pink-text: var(--gbm-pink-pale)
	--gbm-purple-text: var(--gbm-purple-pale)

.repcontrol, .itemcontrol
	.btn
		background: unset
		color: var(--gbm-fg)
		background-color: var(--gbm-bg)

.ui-dialog .charsheet
	font-family: #{$bodyfont}
	font-size: #{$bodysize} 
	color: var(--gbm-fg)
	background-color: var(--gbm-bg)
	line-height: unset
	p
		font-family: #{$bodyfont}
		font-size: #{$bodysize} 
		line-height: unset

.sheet-Playset-Sheets
	color: var(--gbm-purple-text)

.sheet-rolltemplate-GBM
	background-color: var(--gbm-purple-shaded)
	color: var(--gbm-purple-text)
	font-family: #{$bodyfont}
	font-size: #{$bodysize}
	border-radius: 0px 12px 12px 12px
	box-shadow: 2px 2px 2px var(--gbm-purple)
	.sheet-Roll-Result
		.sheet-Roll-Title
			color: white
			background-color: var(--gbm-purple)
			border-radius: 0px 12px 0px 0px
			font-size: #{$headsize}
			padding: 4px
			.sheet-Roll-Subtitle
				font-size: #{$bodysize}
	.sheet-Roll-PnE
		padding: 4px
		padding-bottom: 0px
		display: grid
		grid-template-columns: 1fr 1fr
		.sheet-Label-Position, .sheet-Position
			grid-column-start: 1
		.sheet-Label-Effect, .sheet-Effect
			grid-column-start: 2
		.sheet-Label-Position, .sheet-Label-Effect
			font-size: #{$smallsize}
			text-transform: uppercase
			font-weight: bold
		.sheet-Position-Risky, .sheet-Position-Controlled
			display: none
		.sheet-Position-Desperate
			padding-top: 4px
			display: block
			grid-column: 1 / span 2
			text-align: center
			font-style: italic
	.sheet-Roll-Dice
		text-align: center
		vertical-align: middle
		padding-top: 12px
		padding-bottom: 0px
		.sheet-Dicezone
			padding-bottom: 6px
		.inlinerollresult
			display: inline-block
			color: white
			background-color: var(--gbm-blue)
			border: 1px solid var(--gbm-blue-dark)
			font-size: 36px
			height: 36px
			width: 36px
			line-height: 36px
			padding-top: 3px
			padding-bottom: 3px
			border-radius: 6px
			margin-left: 4px
			margin-right: 4px
			margin-bottom: 8px
			margin-top: 4px
			box-shadow: 0px 4px 6px var(--gbm-blue)
			&.fullcrit
				background-color: var(--gbm-pink)
				box-shadow: 0px 4px 12px var(--gbm-pink)
				border: 1px solid white
				~ .inlinerollresult.fullcrit
					background-color: var(--gbm-pink)
					box-shadow: 0px 4px 12px var(--gbm-pink)
					border: 3px double white
			&.fullfail
				background-color: black
				font-weight: bold
				border: 1px solid var(--gbm-purple)
				box-shadow: unset
		.sheet-SmallHead
			text-transform: uppercase
		.sheet-Instruct
			font-style: italic
		.sheet-Only-dice, .sheet-Only-transcenddice, .sheet-Only-zerodice, .sheet-Only-transcendzerodice
			display: none
		.sheet-Dicezone-dice
			.sheet-Only-dice
				display: block
		.sheet-Dicezone-transcenddice
			.sheet-Only-transcenddice
				display: block
		// For some punishable reason, sometimes Roll20 gives you a capitalized attribute name
		.sheet-Dicezone-zerodice, .sheet-Dicezone-Zerodice
			.sheet-Only-zerodice
				display: block
		.sheet-Dicezone-transcendzerodice
			.sheet-Only-transcendzerodice
				display: block
	.sheet-Properties
		border: 1px solid red
		display: block

input[type="text"]
	background: none
	border: none
	color: var(--gbm-fg)
	padding: 2px
	padding-top: 0px
	font-size: #{$bodysize}
	border-bottom: 1px dotted var(--gbm-fg)
	margin-bottom: 3px
	&:hover, &:active, &:focus
		background-color: var(--gbm-bg)

textarea, select
	background: none
	border: none
	color: var(--gbm-fg)
	font-size: #{$bodysize}
	border-bottom: 1px dotted var(--gbm-fg)
	padding: 2px
	padding-top: 0px
	padding-left: 0px
	margin-bottom: 3px
	&:hover, &:active, &:focus
		background-color: var(--gbm-bg)

.sheet-preload
	opacity: 0
	position: absolute

.sheet-preload img
	width: 1px
	height: 1px

.sheet-Teal
	input[type="text"], textarea, select
		color: var(--gbm-teal-text)
		border-bottom: 1px dotted var(--gbm-teal-text)
.sheet-Pink
	input[type="text"], textarea, select
		color: var(--gbm-pink-text)
		border-bottom: 1px dotted var(--gbm-pink-text)
.sheet-Purple
	input[type="text"], textarea, select
		color: var(--gbm-purple-text)
		border-bottom: 1px dotted var(--gbm-purple-text)

select
	height: auto

.sheet-bigname
	font-size: #{$bigsize}
	margin-bottom: 8px
	span.sheet-Icon-Abyss, span.sheet-Icon-Dreams, span.sheet-Icon-Sky, span.sheet-Icon-Stars
		height: #{$bigicon}
		width: #{$bigicon}

input.sheet-HideNull
	&[value=""], &[value="0"]
		+ *
			display: none

// We'll need to determine how to flag when no playset sheet is selected and no playbook is selected

.sheet-Pick
	display: none
div.sheet-Picked
	display: block
span.sheet-Picked
	display: inline

input.sheet-Mode-Playbook[value=""] ~ input.sheet-Mode-Playset-Sheet[value=""]
	~, ~ *
		div.sheet-Pick
			display: block
		span.sheet-Pick
			display: inline
		.sheet-Picked
			display: none

// General show/hide logic for playset, setsheet, and playbook selections

$playsets: Abyss, Sky, Stars, Dreams

input.sheet-Mode-Playset
	~, ~ *
		@each $set in $playsets
			.sheet-Playset-#{$set}
				display: none
		span.sheet-Playset-Selected
			display: inline
		div.sheet-Playset-Selected
			display: block
	&[value=""]
		~, ~ *
			.sheet-Playset-Selected
				display: none
	@each $set in $playsets
		&[value=#{$set}]
			~, ~ *
				span.sheet-Playset-#{$set} 
					display: inline
				div.sheet-Playset-#{$set}
					display: block
					&.sheet-Characters, &.sheet-Subsection, &.sheet-Box-Header
						display: flex
				.sheet-shorten-on-one[value="1"] + div.sheet-Playset-#{$set}.sheet-Characters
						// display: block
						flex-grow: 0


span.sheet-Icon-Abyss, span.sheet-Icon-Dreams, span.sheet-Icon-Sky, span.sheet-Icon-Stars
	height: #{$bodysize}
	width: #{$bodysize}
	vertical-align: middle

span.sheet-Icon-Abyss
	display: inline-block
	content: #{$abyssicon}
span.sheet-Icon-Dreams
	display: inline-block
	content: #{$dreamsicon}
span.sheet-Icon-Sky
	display: inline-block
	content: #{$skyicon}
span.sheet-Icon-Stars
	display: inline-block
	content: #{$starsicon}

$setsheets: Protagonists, Adversary, Reference, Creation

input.sheet-Mode-Playset-Sheet
	~, ~ *
		@each $sheet in $setsheets
			.sheet-Playset-Sheet-#{$sheet}
				display: none
		span.sheet-Playset-Sheet-Selected
			display: inline
		div.sheet-Playset-Sheet-Selected
			display: block
	&[value=""]
		~, ~ *
			.sheet-Playset-Sheet-Selected
				display: none
	@each $sheet in $setsheets
		&[value=#{$sheet}]
			~, ~ *
				span.sheet-Playset-Sheet-#{$sheet} 
					display: inline
				div.sheet-Playset-Sheet-#{$sheet}
					display: block

$playbooks: Enigma, Stranger, TimeTraveller, Harmony, Guardian, Outsider, UnlikelyHero

input.sheet-Mode-Playbook
	~, ~ *
		@each $pb in $playbooks
			.sheet-Playbook-#{$pb}
				display: none
		span.sheet-Playbook-Selected
			display: inline
		div.sheet-Playbook-Selected
			display: block
	&[value=""]
		~, ~ *
			.sheet-Playbook-Selected
				display: none
	@each $pb in $playbooks
		&[value=#{$pb}]
			~, ~ *
				span.sheet-Playbook-#{$pb} 
					display: inline
				div.sheet-Playbook-#{$pb}
					display: block

/* .sheet-Bio-Block
	display: grid
	grid-template-columns: 100px 1fr
	column-gap: 8px
	row-gap: 8px
	.sheet-Label, .sheet-Field, .sheet-Field-Wide
		vertical-align: top
	.sheet-Label
		grid-column-start: 1
		font-weight: bold
		font-size: #{$labelsize}
		text-align: right
		text-transform: uppercase
	.sheet-Field
		grid-column-start: 2
	.sheet-Field-Wide
		grid-column: 1 / span 2
	.sheet-Field, .sheet-Field-Wide
		.sheet-Prompt
			font-size: #{$smallsize}
			font-style: italic
			text-align: right
		input[type='text'], select, textarea
			width: 100%
		textarea
			height: 50px
			margin-bottom: 0px */


.sheet-Bio-Block
	.sheet-Label, .sheet-Field, .sheet-Field-Wide
		vertical-align: top
	.sheet-Label
		font-weight: bold
		font-size: #{$labelsize}
		text-align: left
		text-transform: uppercase
	.sheet-Field, .sheet-Field-Wide
		margin-bottom: 8px
		.sheet-Prompt
			font-size: #{$smallsize}
			font-style: italic
			text-align: right
		input[type='text'], select, textarea
			width: 100%
		textarea
			height: 50px
			margin-bottom: 0px


.sheet-Abilities-Block
	.sheet-Ability
		grid-column-start: 1
		display: grid
		column-gap: 4px
		grid-template-columns: 24px 1fr
		.sheet-Ability-Text
			grid-column-start: 2
			margin-bottom: 6px
			p
				margin-top: 6px
			input[type=text], select
				width: 100%
		.sheet-Ability-Selector
			grid-column-start: 1
	.sheet-Ability-Veteran-Header
		.sheet-Label
			text-transform: uppercase
			font-weight: bold
		.sheet-Instruction
			select
				width: 100%

.sheet-Blocks-Playbooks
	display: grid
	grid-template-columns: 30% 40% 30%
	column-gap: 12px
	.sheet-Left, .sheet-Mid, .sheet-Right
		vertical-align: top
	.sheet-Left
		grid-column-start: 1
	.sheet-Mid
		grid-column-start: 2
	.sheet-Right
		grid-column-start: 3

.sheet-Box
	background-color: var(--gbm-blue-shaded)
	padding: 4px
	border-radius: 0px 12px 12px 12px
	margin-bottom: 8px
	.sheet-Box-Header
		border: 0.5px solid var(--gbm-blue)
		border-radius: 0px 12px 0px 0px
		margin-right: -4px
		margin-top: -4px
		margin-left: -4px
		margin-bottom: 4px
		padding-left: 4px
		font-size: #{$headsize}
		color: white
		background-color: var(--gbm-blue)
		display: flex
		flex-direction: row
		flex-wrap: nowrap
		justify-content: space-between
		align-content: center
		.sheet-Box-Header-Icons
			text-align: right
		&.sheet-Box-Subsection
			margin-top: 8px
			font-size: #{$bodysize}
			border-radius: 0px 6px 0px 0px
			.sheet-button-header-expand, .sheet-button-header-collapse, .sheet-button-header-edit, .sheet-button-header-close, .sheet-button-header-mark-off, .sheet-button-header-mark-on, .sheet-button-header-transcendent-off, .sheet-button-header-transcendent-on
				padding-top: 0px
				padding-bottom: 0px
				&:before
					font-size: #{$bodysize}
	&.sheet-Teal
		color: var(--gbm-teal-text)
		background-color: var(--gbm-teal-shaded)
		.sheet-Box-Header
			border: 0.5px solid var(--gbm-teal)
			background-color: var(--gbm-teal)
	&.sheet-Pink
		color: var(--gbm-pink-text)
		background-color: var(--gbm-pink-shaded)
		.sheet-Box-Header
			border: 0.5px solid var(--gbm-pink)
			background-color: var(--gbm-pink)
	&.sheet-Purple
		color: var(--gbm-purple-text)
		background-color: var(--gbm-purple-shaded)
		.sheet-Box-Header
			border: 0.5px solid var(--gbm-purple)
			background-color: var(--gbm-purple)

.sheet-Box .sheet-Box-Header, .sheet-Box-Subsection
	&.sheet-Pink
		border: 0.5px solid var(--gbm-pink)
		background-color: var(--gbm-pink)
	&.sheet-Purple
		border: 0.5px solid var(--gbm-purple)
		background-color: var(--gbm-purple)
	&.sheet-Teal
		border: 0.5px solid var(--gbm-teal)
		background-color: var(--gbm-teal)
	&.sheet-Blue
		border: 0.5px solid var(--gbm-blue)
		background-color: var(--gbm-blue)
.sheet-Box .sheet-Content
	&.sheet-Pink, &.sheet-Purple, &.sheet-Teal, &.sheet-Blue
		margin-top: -4px
		margin-left: -4px
		margin-right: -4px
		margin-bottom: -4px
		padding-top: 4px
		padding-left: 4px
		padding-right: 4px
		padding-bottom: 2px
		border-radius: 0px 0px 12px 12px
	&.sheet-Pink
		color: var(--gbm-pink-text)
		background-color: var(--gbm-pink-shaded)
	&.sheet-Purple
		color: var(--gbm-purple-text)
		background-color: var(--gbm-purple-shaded)
	&.sheet-Teal
		color: var(--gbm-teal-text)
		background-color: var(--gbm-teal-shaded)
	&.sheet-Blue
		color: var(--gbm-blue-text)
		background-color: var(--gbm-blue-shaded)
/* Not currently in use but it looks cool, so keep this defintion around */

.sheet-Lozenge-Label
	display: inline-block
	font-weight: bold
	color: var(--gbm-blue-pale)
	background-color: var(--gbm-blue)
	padding-left: 6px
	border-radius: 12px 0px 0px 12px
	border-right: 12px solid var(--gbm-blue-dark)
	width: 120px
	font-size: #{$labelsize}

.ui-dialog .tab-content .charsheet 
	button[type="roll"].sheet-buttonless, button[type="action"].sheet-buttonless
		border: none
		background: none
		font-weight: normal
		text-align: left
		padding: 0px
		margin: 0px
		margin-top: -1px
		margin-bottom: 4px
		vertical-align: baseline
		text-shadow: none
		color: inherit
		font-weight: inherit
		font-size: inherit
		border-radius: unset
		line-height: inherit
		box-shadow: unset
		&:before
			content: ""
		&:hover
			text-shadow: 0 0 8px white
		&:active
			color: white
			text-shadow: 0 0 8px black

button.sheet-button-header-collapse:before
	font-family: 'Pictos'
	font-size: #{$headsize}
	content: 'J'

button.sheet-button-header-expand:before
	font-family: 'Pictos'
	font-size: #{$headsize}
	content: '`'

button.sheet-button-header-edit:before
	font-family: 'Pictos'
	font-size: #{$headsize}
	content: 'p'

button.sheet-button-header-close:before
	font-family: 'Pictos'
	font-size: #{$headsize}
	content: 'D'

button.sheet-button-mark-on:before
	content: #{$markonicon}
	height: #{$bodysize}
	width: #{$bodysize}

button.sheet-button-mark-off:before
	content: #{$markofficon}
	height: #{$bodysize}
	width: #{$bodysize}

button.sheet-button-header-mark-on:before
	content: #{$markonicon}
	height: #{$headsize}
	width: #{$headsize}

button.sheet-button-header-mark-off:before
	content: #{$markofficon}
	height: #{$headsize}
	width: #{$headsize}

button.sheet-button-transcendent-on:before
	content: #{$tmarkonicon}
	height: #{$bodystarsize}
	width: #{$bodystarsize}
.sheet-darkmode button.sheet-button-transcendent-on:before
	content: #{$tmarkondarkicon}

button.sheet-button-transcendent-off:before
	content: #{$tmarkofficon}
	height: #{$bodystarsize}
	width: #{$bodystarsize}
.sheet-darkmode button.sheet-button-transcendent-off:before
	content: #{$tmarkoffdarkicon}
	
button.sheet-button-stress-on:before
	content: #{$stressonicon}
	height: #{$bodysize}
	width: #{$bodysize}

button.sheet-button-stress-off:before
	content: #{$stressofficon}
	height: #{$bodysize}
	width: #{$bodysize}

button.sheet-button-header-transcendent-on:before
	content: #{$tmarkondarkicon}
.sheet-darkmode button.sheet-button-header-transcendent-on:before
	content: #{$tmarkondarkicon}
button.sheet-button-header-transcendent-on, button.sheet-button-header-transcendent-on:before
	height: #{$headstarsize}
	width: #{$headstarsize}
	max-height: #{$headstarsize}
	max-width: #{$headstarsize}

button.sheet-button-header-transcendent-off:before
	content: #{$tmarkoffdarkicon}
.sheet-darkmode button.sheet-button-header-transcendent-off:before
	content: #{$tmarkoffdarkicon}
button.sheet-button-header-transcendent-off, button.sheet-button-header-transcendent-off:before
	height: #{$headstarsize}
	width: #{$headstarsize}
	max-height: #{$headstarsize}
	max-width: #{$headstarsize}


button.sheet-button-header-xp-on:before
	content: #{$xpmidon}
	height: #{$headsize}
	width: #{$headsize}

button.sheet-button-header-xp-off:before
	content: #{$xpmidoff}
	height: #{$headsize}
	width: #{$headsize}

button.sheet-button-header-xp-on.sheet-xp-start:before
	content: #{$xplefton}

button.sheet-button-header-xp-off.sheet-xp-start:before
	content: #{$xpleftoff}

button.sheet-button-header-xp-on.sheet-xp-end:before
	content: #{$xprighton}

button.sheet-button-header-xp-off.sheet-xp-end:before
	content: #{$xprightoff}

button.sheet-button-plus:before
	font-family: 'Pictos'
	font-size: #{$bodysize}
	content: '+'

button.sheet-button-minus:before
	font-family: 'Pictos'
	font-size: #{$bodysize}
	content: '-'

.sheet-button-mark-on, .sheet-button-mark-off, .sheet-button-transcendent-on, .sheet-button-transcendent-off, .sheet-button-stress-on, .sheet-button-stress-off, .sheet-button-plus, .sheet-button-minus
	border: none
	background: none
	font-weight: normal
	text-align: left
	vertical-align: top
	padding-left: 0
	padding-right: 0

.sheet-button-header-expand, .sheet-button-header-collapse, .sheet-button-header-edit, .sheet-button-header-close, .sheet-button-header-mark-off, .sheet-button-header-mark-on, .sheet-button-header-transcendent-off, .sheet-button-header-transcendent-on, .sheet-button-header-xp-on, .sheet-button-header-xp-off
	border: none
	background: none
	font-weight: normal
	text-align: left
	padding-top: 7px
	padding-bottom: 7px
	padding-left: 0px
	vertical-align: top
	&:hover
		text-shadow: 0 0 8px white
	&:focus
		text-shadow: 0 0 8px black

.sheet-button-header-mark-off, .sheet-button-header-mark-on, .sheet-button-header-transcendent-off, .sheet-button-header-transcendent-on
	padding-right: 0px

.sheet-button-header-transcendent-off, .sheet-button-header-transcendent-on
	padding-top: 5px
	margin-right: -6px

.sheet-button-header-xp-on, .sheet-button-header-xp-off
	padding-right: 0px
	padding-left: 0px
	padding-bottom: 0px
	padding-top: 2px

.sheet-XP-Track
	display: flex
	flex-direction: row
	flex-wrap: nowrap
	justify-content: flex-end
	align-content: center
	padding-right: 4px
.sheet-XP-Track-Label
	font-size: #{$labelsize}
	text-align: center
	padding: 0px
	padding-bottom: 4px
	margin-top: -4px
	text-transform: uppercase
	
.sheet-hide-on-one[value="1"], .sheet-hide-on-zero[value="0"], .sheet-hide-on-empty[value=""]
	+ * 
		display: none

input.sheet-unused-toggle[value="1"]
	~ input.sheet-hide-if-unused[value="0"] + *, 
	~ * input.sheet-hide-if-unused[value="0"] + *
		display: none

.sheet-Stress-Track
	text-align: center
	height: 50px
	padding-top: 30px
	background: #{$e0} no-repeat center center
	background-size: 60px
input.sheet-Stress-Total
	&[value="0"] ~ .sheet-Stress-Track
		background: #{$e0} no-repeat center center
	&[value="1"] ~ .sheet-Stress-Track
		background: #{$e1} no-repeat center center
	&[value="2"] ~ .sheet-Stress-Track
		background: #{$e2} no-repeat center center
	&[value="3"] ~ .sheet-Stress-Track
		background: #{$e3} no-repeat center center
	&[value="4"] ~ .sheet-Stress-Track
		background: #{$e4} no-repeat center center
	&[value="5"] ~ .sheet-Stress-Track
		background: #{$e5} no-repeat center center
	&[value="6"] ~ .sheet-Stress-Track
		background: #{$e6} no-repeat center center
	&[value="7"] ~ .sheet-Stress-Track
		background: #{$e7} no-repeat center center
	&[value="8"] ~ .sheet-Stress-Track
		background: #{$e8} no-repeat center center
	&[value="9"] ~ .sheet-Stress-Track
		background: #{$e9} no-repeat center center
.sheet-Stress-Warning
	text-align: center
	font-weight: bold
	font-style: italic

.sheet-Transcendence-Track
	text-align: center
	height: 30px
	padding-top: 4px
.sheet-Transcendence-Warning
	text-align: center
	font-weight: bold
	font-style: italic

.sheet-Links-Block
	.sheet-Link
		display: grid
		grid-template-columns: 1fr 116px
		column-gap: 4px
		margin-bottom: 4px
		input[type='text'], select, textarea
			width: 100%
		.sheet-Who
			vertical-align: top
			grid-column-start: 1
		.sheet-Dots
			vertical-align: top
			grid-column-start: 2
			text-align: right

.sheet-Stats-Block
	margin-top: -4px
	margin-bottom: -4px
	padding-top: 0px
	.sheet-Stats-Row
		display: flex
		flex-wrap: nowrap
		flex-direction: row
		flex-flow: flex-start
		align-content: center
		height: 30px
		.sheet-Connected
			background: #{$statscon} repeat-y center center
		.sheet-Dot, .sheet-Star
			width: 26px
			padding: 0px
			margin: 0px
			text-align: center
			font-size: #{$headsize}
			vertical-align: middle
		.sheet-Dot
			padding-top: 5px
		.sheet-Star
			padding-top: 4px
			background-color: var(--gbm-teal)
			button.sheet-button-transcendent-on:before
				content: #{$tmarkondarkicon}
			button.sheet-button-transcendent-off:before
				content: #{$tmarkoffdarkicon}
		.sheet-Stat
			padding-left: 4px
			flex-grow: 1
			font-size: #{$headsize}
			vertical-align: middle

.sheet-Eclipse-Roll-Stripe, .sheet-Obligation-Roll-Stripe
	text-align: center

.sheet-Clock
	display: inline-block
	min-height: 40px
	min-width: 40px
	height: 40px
	width: 40px
	margin-bottom: 0px
	background-image: #{$clock} 
	background-repeat: no-repeat
	background-size: 520px 200px
	background-clip: padding-box
@for $i from 2 through 6
	@for $j from 0 through $i*2	
		input.sheet-Clock-Size[value="#{$i*2}"] + input.sheet-Clock-Ticks[value="#{$j}"] + .sheet-Clock
			background-position: top #{$i*-40+80}px left #{$j*-40}px

.sheet-Clock-Container
	display: grid
	grid-template-columns: 40px 20px 1fr
	column-gap: 8px
	margin-bottom: 16px
	.sheet-Clock
		grid-column-start: 1
	.sheet-Clock-Controls
		margin-top: -3px
		grid-column-start: 2
		display: grid
		grid-template-columns: 1fr
		row-gap: 0px
		vertical-align: top
		button
			text-align: center
			vertical-align: top
			padding: 0px
			height: 20px
			&:hover
				color: white
				text-shadow: -1px -1px 2px var(--gbm-blue), 1px -1px 2px var(--gbm-blue), -1px 1px 2px var(--gbm-blue), 1px 1px 2px var(--gbm-blue)
			&:active
				color: var(--gbm-blue)
				text-shadow: -1px -1px 4px white, 1px -1px 4px white, -1px 1px 4px white, 1px 1px 4px white
	.sheet-Clock-Fields
		grid-column-start: 3
		input, select
			width: 100%
			height: auto

.sheet-Harm-Track
	.sheet-Level
		max-width: 30px
		width: 30px
		height: 30px
		vertical-align: middle
		text-align: center
		font-size: 20px
		background-color: var(--gbm-pink)
		color: white
		border-radius: 15px
	input.sheet-Harm
		flex-grow: 1
		padding-right: 8px
		height: 40px
	.sheet-Harm + .sheet-Harm
		border-left: 1px dotted var(--gbm-pink-text)
	.sheet-Cue
		max-width: 40px
		width: 40px
		font-style: italic
		vertical-align: middle
		text-align: center
		line-height: auto
		font-size: calc( #{$bodysize} * .9 )
	.sheet-Level-3, .sheet-Level-2, .sheet-Level-1
		display: flex
		flex-flow: row nowrap
		justify-content: space-between
		align-items: center
	.sheet-Level-3
		input
			width: calc(100% - 76px)
	.sheet-Level-2, .sheet-Level-1
		input
			width: calc(50% - 38px)

.sheet-Harm-Auxiliary
	margin-top: 8px
	display: grid
	grid-template-columns: 100px 1fr
	.sheet-Clock-Title
		grid-column-start: 1
		grid-row-start: 1
		font-size: #{$smallsize}
		text-transform: uppercase
		font-weight: bold
		text-align: left
		margin-bottom: 4px
	.sheet-Armor
		grid-column-start: 2
		grid-row: 1 / span 2
		display: flex
		flex-flow: column nowrap
		justify-content: space-evenly
		.sheet-Armor-Line
			background-color: var(--gbm-pink)
			color: white
			display: grid
			grid-template-columns: 24px 1fr
			margin-bottom: 8px
			padding-left: 8px
			border-radius: 16px
			+ .sheet-Armor-Line
				margin-bottom: 0px
			padding-top: 4px
			.sheet-Armor-Button
				grid-column-start: 1
			.sheet-Label
				grid-column-start: 2
				font-weight: bold
	.sheet-Clock-Container
		margin-bottom: 0px
		grid-column-start: 1
		grid-row-start: 2

.sheet-Playset-Sheet-Creation-Blocks
	display: grid
	grid-template-columns: 1fr 1fr
	column-gap: 12px
	.sheet-Left, .sheet-Mid, .sheet-Right
		vertical-align: top
	.sheet-Left
		grid-column-start: 1
	.sheet-Right
		grid-column-start: 2
		display: flex
		flex-flow: column nowrap
		justify-content: flex-start
		.sheet-Box
			flex-grow: 1
			display: flex
			flex-flow: column nowrap
			justify-content: flex-start
		.sheet-Notes
			flex-grow: 1
			display: flex
			flex-flow: column nowrap
			justify-content: flex-start
			textarea
				flex-grow: 1

.sheet-Prompt
	.sheet-Prompt-Instruction
		font-style: italic
	.sheet-Prompt-Text
		display: flex
		flex-flow: row nowrap
		input[type=text], textarea
			flex-grow: 1
	.sheet-Prompt-Pick
		grid-column-start: 1
		display: grid
		column-gap: 4px
		grid-template-columns: 24px 1fr
		.sheet-Prompt-Content
			grid-column-start: 2
		.sheet-Prompt-Selector
			grid-column-start: 1


.sheet-Playset-Sheet-Adversary-Blocks
	display: grid
	grid-template-columns: 40% 30% 30%
	column-gap: 12px
	.sheet-Left, .sheet-Mid, .sheet-Right
		vertical-align: top
	.sheet-Left
		grid-column-start: 1
	.sheet-Mid
		grid-column-start: 2
	.sheet-Right
		grid-column-start: 3
		display: flex
		flex-flow: column nowrap
		justify-content: flex-start
		.sheet-Box
			flex-grow: 1
			display: flex
			flex-flow: column nowrap
			justify-content: flex-start
		.sheet-Notes
			flex-grow: 1
			display: flex
			flex-flow: column nowrap
			justify-content: flex-start
			textarea
				flex-grow: 1

.sheet-Playset-Sheet-Protagonists-Blocks
	display: grid
	grid-template-columns: 30% 40% 30%
	column-gap: 12px
	.sheet-Left, .sheet-Mid, .sheet-Right
		vertical-align: top
	.sheet-Left
		grid-column-start: 1
	.sheet-Mid
		grid-column-start: 2
	.sheet-Right
		grid-column-start: 3

.sheet-Playset-Sheet-Reference-Blocks
	display: grid
	grid-template-columns: 30% 70%
	column-gap: 12px
	.sheet-Left, .sheet-Mid, .sheet-Right
		vertical-align: top
	.sheet-Left
		grid-column-start: 1
		display: flex
		flex-flow: column nowrap
	.sheet-Right
		grid-column-start: 2
		display: flex
		flex-flow: column nowrap
	.sheet-Hideout-Container, .sheet-Cursed-Container
		display: grid
		.sheet-Box
			margin-bottom: 0px
			.sheet-Box-Header
				.sheet-Box-Header-Icons
					padding-right: 4px
		.sheet-Box.sheet-Solid
			background-color: var(--gbm-purple)
			color: white
			vertical-align: middle
			text-align: center
			font-size: #{$headsize}
			display: flex
			flex-flow: column nowrap
			justify-content: space-around
	.sheet-Hideout-Container
		$hgap: 12px
		$hcol: 1fr
		$hrow: 135px
		grid-template-columns: #{$hcol} #{$hgap} #{$hcol} #{$hgap} #{$hcol}
		grid-template-rows: #{$hrow} repeat(4, #{$hgap} #{$hrow})
		.sheet-Room, .sheet-Connection
			align-self: stretch
			justify-self: stretch
		@for $c from 1 through 5
			.sheet-C#{$c}
				grid-column-start: #{$c}
		@for $r from 1 through 9
			.sheet-R#{$r}
				grid-row-start: #{$r}
		input.sheet-Hideout-Activator[value="1"] + .sheet-Box
			box-shadow: 2px 2px 0px var(--gbm-purple-text)
			background-color: var(--gbm-purple)
			color: white
	.sheet-Cursed-Container
		$hgap: 12px
		$hcol: 1fr
		$hrow: 135px
		$hrowtall: 180px
		grid-template-columns: #{$hcol} #{$hgap} #{$hcol} #{$hgap} #{$hcol}
		grid-template-rows: #{$hrow} #{$hgap} #{$hrow} repeat(3, #{$hgap} #{$hrowtall})
		.sheet-Room, .sheet-Connection
			align-self: stretch
			justify-self: stretch
		@for $c from 1 through 5
			.sheet-C#{$c}
				grid-column-start: #{$c}
		@for $r from 1 through 9
			.sheet-R#{$r}
				grid-row-start: #{$r}
		.sheet-R3-R5
			grid-row: 3 / span 3
			display: flex
			flex-flow: column nowrap
			justify-content: space-around
			text-align: center
		.sheet-Box
			background-color: var(--gbm-purple-dark)
			border: 2px solid var(--gbm-purple)
			.sheet-Box-Header
				border-radius: 0px 11px 0px 0px
				white-space: nowrap
		.sheet-Benefit
			padding-bottom: 4px
			padding-left: 5px
			padding-right: 5px
			padding-top: 1px
			margin-top: -5px
			margin-left: -4px
			margin-right: -4px
			color: white
			background-color: var(--gbm-purple)
		.sheet-Curse
			padding-top: 4px
			padding-left: 6px
			padding-right: 6px
			margin-left: -4px
			margin-right: -4px
			color: white
			background-color: var(--gbm-purple-dark)
		input.sheet-Cursed-Activator[value="1"] + .sheet-Box 
			box-shadow: 2px 2px 0px var(--gbm-purple-text)
			.sheet-Benefit, .sheet-Box-Header
				color: var(--gbm-purple-dark)
				background-color: var(--gbm-purple-pale)
			.sheet-Benefit
				margin-left: -3.5px
				margin-right: -3.5px
		.sheet-Box.sheet-Solid
			background-color: var(--gbm-purple-dark)
	.repcontainer
		.sheet-Content
			margin-bottom: 8px
			margin-top: 8px
	.sheet-Engine
		display: grid
		grid-template-columns: 1fr 60px 60px
		grid-template-rows: 30px 30
		row-gap: 4px
		column-gap: 4px
		.sheet-Label
			font-size: #{$smallsize}
			text-transform: uppercase
		.sheet-Name
			grid-column-start: 1
			grid-row-start: 1
			display: flex
			flex-flow: row nowrap
			padding-right: 8px
			.sheet-Label
				padding-right: 8px
			input[type="text"]
				flex-grow: 1
		.sheet-Strength
			grid-column-start: 2
			grid-row-start: 1
			display: flex
			flex-flow: column nowrap
			justify-content: flex-start
			.sheet-Label, .sheet-Track
				text-align: center
		.sheet-Recovery
			grid-column-start: 3
			grid-row: 1 / span 2
			display: flex
			flex-flow: column nowrap
			justify-content: flex-start
			.sheet-Label, .sheet-Container
				text-align: center
			.sheet-Container
				display: flex
				flex-flow: row nowrap
				justify-content: center
		.sheet-Impulses
			grid-column: 1 / span 2
			grid-row: 2
			display: flex
			flex-flow: row nowrap
			.sheet-Label
				display: inline-block
				padding-right: 8px
				width: 60px
			input[type="text"]
				flex-grow: 1

.sheet-Characters
	flex-grow: 1
	display: flex
	flex-flow: column nowrap
	justify-content: space-between
	.sheet-Box
		flex-grow: 1
		display: flex
		flex-flow: column nowrap
		justify-content: flex-start
	.sheet-Notes
		flex-grow: 1
		display: flex
		flex-flow: column nowrap
		justify-content: flex-start
		textarea
			flex-grow: 1
			height: 100%
	.sheet-hide-on-one[value="1"] 
		+ .sheet-Notes, + div
			display: none

.sheet-Connection
	&.sheet-TB
		background-image: #{$contb} 
		background-position: center
		background-repeat: no-repeat
		background-size: 240px 240px
		background-clip: padding-box
	&.sheet-LR
		background-image: #{$conlr} 
		background-position: center
		background-repeat: no-repeat
		background-size: 240px 240px
		background-clip: padding-box
	&.sheet-TR
		background-image: #{$contr} 
		background-position: center
		background-repeat: no-repeat
		background-size: 240px 240px
		background-clip: padding-box
	&.sheet-TL
		background-image: #{$contl} 
		background-position: center
		background-repeat: no-repeat
		background-size: 240px 240px
		background-clip: padding-box
	&.sheet-TL-BR
		background-image: #{$contlxbr} 
		background-position: center
		background-repeat: no-repeat
		background-size: 240px 240px
		background-clip: padding-box
	&.sheet-BR
		background-image: #{$conbr} 
		background-position: center
		background-repeat: no-repeat
		background-size: 240px 240px
		background-clip: padding-box
	&.sheet-LB-RB
		background-image: #{$conlbxrb} 
		background-position: center
		background-repeat: no-repeat
		background-size: 240px 240px
		background-clip: padding-box
	.sheet-Box.sheet-Solid
		background-color: var(--gbm-purple)
		color: white
		vertical-align: middle
		text-align: center
		font-size: #{$headsize}
		display: flex
		flex-flow: column nowrap
		justify-content: space-around

.sheet-Flagship
	> .sheet-Box
		margin-right: -12px
		.sheet-Box-Header
			display: flex
			.sheet-Title
				flex-grow: 1

.sheet-Flagship-Container
	display: grid
	margin-bottom: 12px
	margin-right: 12px
	.sheet-Box
		margin-bottom: 0px
		.sheet-Box-Header
			.sheet-Box-Header-Icons
				padding-right: 4px
				padding-top: 0px
				margin-top: -4px
	.sheet-Room
		.sheet-Box-Header
			font-size: #{$bodysize}
	.sheet-Box.sheet-Solid
		background-color: var(--gbm-purple)
		color: white
		vertical-align: middle
		text-align: center
		font-size: #{$headsize}
		display: flex
		flex-flow: column nowrap
		justify-content: space-around
	$hgap: 12px
	$hcol: 16%
	grid-template-columns: #{$hcol} repeat(5,#{$hgap} #{$hcol})
	grid-template-rows: 96px #{$hgap} 144px #{$hgap} 126px
	.sheet-Room, .sheet-Connection
		align-self: stretch
		justify-self: stretch
	@for $c from 1 through 11
		.sheet-C#{$c}
			grid-column-start: #{$c}
	@for $r from 1 through 5
		.sheet-R#{$r}
			grid-row-start: #{$r}
	.sheet-C5-C7
		grid-column: 5 / span 3
	.sheet-C9-C11
		grid-column: 9 / span 3
	input.sheet-Flagship-Activator[value="1"] + .sheet-Box
		box-shadow: 2px 2px 0px var(--gbm-purple-text)
		background-color: var(--gbm-purple)
		color: white
		.sheet-Box-Header
			font-weight: 700

.sheet-Conspiracy-Container
	display: grid
	$hgap: 12px
	$hcol: 18%
	$hrow: 186px
	grid-template-columns: #{$hcol} repeat(4, #{$hgap} #{$hcol})
	grid-template-rows: #{$hrow} repeat(4, #{$hgap} #{$hrow})
	.sheet-Box
		margin-bottom: 0px
		.sheet-Box-Header
			flex-flow: column nowrap
			> span + span
				font-size: #{$bodysize}
				text-transform: uppercase
	.sheet-Box.sheet-Solid
		background-color: var(--gbm-purple-shaded)
		color: var(--gbm-purple-text)
		border: 2px solid var(--gbm-purple)
		padding: 4px
		vertical-align: middle
		text-align: center
		font-size: #{$bodysize}
		display: flex
		flex-flow: column nowrap
		justify-content: space-around
	.sheet-Room, .sheet-Connection
		align-self: stretch
		justify-self: stretch
	@for $c from 1 through 9
		.sheet-C#{$c}
			grid-column-start: #{$c}
	@for $r from 1 through 9
		.sheet-R#{$r}
			grid-row-start: #{$r}
	input[type="text"]
		width: 100%
		font-weight: 700
	input.sheet-Conspiracy-Activator
		+ .sheet-Box
			box-shadow: 2px 2px 0px var(--gbm-purple-text)
			background-color: var(--gbm-purple)
			color: white
			input[type="text"]
				color: white
				&:hover, &:active, &:focus
					background-color: black
			.sheet-Confront-Line
				background-color: var(--gbm-purple-dark)
		&[value=""] + .sheet-Box
			box-shadow: unset
			background-color: var(--gbm-purple-shaded)
			color: var(--gbm-purple-text)
			input[type="text"]
				color: black
				&:hover, &:active, &:focus
					background-color: white
			.sheet-Confront-Line
				background-color: var(--gbm-purple)
	input.sheet-Overseer-Activator[value="1"] + .sheet-Box
		box-shadow: 2px 2px 0px var(--gbm-purple-text)
		background-color: var(--gbm-purple)
		color: white
	.sheet-Confront
		display: flex
		flex-flow: column nowrap
		justify-content: space-evenly
		.sheet-Confront-Line
			background-color: var(--gbm-purple)
			color: white
			display: grid
			grid-template-columns: 24px 1fr
			margin-bottom: 8px
			padding-left: 8px
			border-radius: 16px
			+ .sheet-Confront-Line
				margin-bottom: 0px
			padding-top: 4px
			.sheet-Confront-Button
				grid-column-start: 1
			.sheet-Label
				grid-column-start: 2
				font-weight: bold
